

<style>
    .showmore {
      
    }

    a, i {
        cursor: pointer;
    }

    .optionnew {
        border: 1px solid #d9d9d9;
        padding: 15px;
        border-radius: 3px;
        text-align: center;
        display: inline-block;
        width: calc(33% - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

        .optionnew i {
            font-size: 65px;
            width: 100%;
        }

        .optionnew:hover {
            /*background: rgba(0,0,0,0.05);*/
            border: 1px solid var(--color-primary);
            box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
        }

    .headerpanel {
        margin-left: calc(50% - 50px );
        height: 30px;
    }
    .eventomonth-detail label {
        vertical-align: top;
        display: inline-block;
        height: auto;
        width: calc(100% - 120px);
    }
    .eventomonth-detail font {
        display: block;
        text-overflow: ellipsis;
        height: 50px;
        overflow: hidden;
        -webkit-line-clamp: 3;
    }
    .eventomonth-detail i {
        vertical-align: top;
        font-size: 49px !important;
        width: 80px;
        text-align: center;
        padding: 15px;
        color: var(--color-primary);
    }

    .eventomonth-detail li {
        cursor: pointer;
        background: white;
        padding: 15px;
        border-radius: 3px;
        border: 1px solid #d9d9d9;
        margin-bottom: 5px;
        transition: border 0.4s ease
    }

        .eventomonth-detail li:nth-child(n+6) {
            display: none;
        }

      
        .eventomonth-detail li:hover {
            background: rgba(0,0,0,0.05);
            border: 1px solid var(--color-primary);
        }

    .eventomonth-detail {
        background: white;
        padding: 15px;
        border-radius: 3px;
        transition: 0.4s ease;
    }

    .HRM-panel label {
        color: #FF5733
    }

    label {
        text-transform: capitalize;
    }

    .HRM-panel {
        background: white;
        border-radius: 5px;
        border: 3px solid #F0F3F6;
        padding: 15px;
        height: 80px;
        display: inline-block;
        width: 100%;
    }

        .HRM-panel > i {
            font-size: 45px !important;
        }

        .HRM-panel font {
            display: inline-block;
            vertical-align: top;
            padding-top: 5px;
            padding-left: 10px
        }

            .HRM-panel font label {
                display: block;
                vertical-align: top;
            }

    .thead-dark th {
        background: rgba(0,0,0,0.05);
    }

    .eventonmonth li font {
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
    }

    .eventonmonth li {
        color: #686868;
        padding: 5px 0;
        border: 1px dashed #e8e8e8;
        transition: background 0.4s ease-in;
        transition: border 0.4s ease-in;
        border-radius: 3px
    }

        .eventonmonth li.active {
            color: #FF5733;
            border: 1px solid var(--color-primary);
            transition: border 0.4s ease;
        }

        .eventonmonth li:hover {
            background: rgba(128, 128, 128,0.05);
            border: 1px solid var(--color-primary);
            transition: background 0.6s ease;
            transition: border 0.4s ease;
        }

    .graph li.active {
        background: rgba(0,0,0,0.05)
    }

    .graph li {
        height: 35px;
    }

        .graph li a {
            height: 35px;
        }

   

    tbody td, tbody th {
        background: white;
        padding-bottom: 15px;
    }

    .eventonmonth {
        padding: 15px;
        border-radius: 5px;
        background: white
    }

        .eventonmonth li {
            padding: 15px;
            text-align: center;
            width: calc(33% - 4px);
            display: inline-block;
            margin-bottom: 5px;
            margin-right: 2px;
            height: 80px;
            transition: border 0.4s ease;
            /* vertical-align: bottom; */
        }

            .eventonmonth li i {
                display: block !important;
                font-size: 35px !important;
            }

    .highcharts-credits {
        display: none;
    }
    .tab-pane{
        overflow-x:scroll;
    }
    #totalsalary, #staffchart_1, #brandchart, #tpnv{
     
        width:calc(100% - 2px )
    }
</style>
<div class="container-fluid nopadding" style="padding-top:15px !important; ">
    <div class="col-md-4 col-xs-12 col-sm-6">
        <div class="HRM-panel">
            <i class="material-icons"> people_alt</i>

            <font>
                Tổng nhân viên
                <label data-bind="">9999</label>
            </font>

        </div>


    </div>
    <div class="col-md-4 col-xs-12 col-sm-6">
        <div class="HRM-panel">
            <i class="material-icons"> person_add</i>

            <font>
                Tuyển dụng
                <label data-bind="">9999</label>
            </font>

        </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-6">
        <div class="HRM-panel">
            <i class="material-icons">folder_shared</i>

            <font>
                Người dùng
                <label data-bind="">9999</label>
            </font>

        </div>
    </div>
  
</div>
<div class="container-fluid nopadding" style="padding-top:15px !important; ">
    <div class="col-md-8 col-xs-12 col-sm-12">

        <ul class="nav nav-pills  graph">
            <li class="active"><a data-toggle="tab" href="#chart1">Biểu đồ Quỹ lương </a></li>
            <li><a data-toggle="tab" href="#chart2">Biểu đồ Kinh doanh Nhân viên </a></li>
            <li><a data-toggle="tab" href="#chart3">Biểu đồ Chi nhánh </a></li>
            <li><a data-toggle="tab" href="#chart4">  Thành phần nhân viên </a></li>
        </ul>
        <div class="tab-content" style="background:rgba(0,0,0,0.05)">
            <div class="tab-pane active" id="chart1">
                <div class="container-fluid " style="background:white; padding:15px;">
                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">  <label> Quỹ lương tháng này:</label> <lable> 123.456</lable></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                        <select class="btn btn-default pull-right">
                            <option value="1" data-bind="">
                                Chi nhánh 1

                            </option>
                        </select>
                    </div>

                </div>
                <div id="totalsalary" style="height:100%; ">

                </div>
            </div>
            <div class="tab-pane" id="chart2">
                <div class="container-fluid " style="background:white; padding:15px;">
                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">  <label>Tổng doanh thu tháng:</label> <lable> 123.456</lable></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                        <select class="btn btn-default pull-right">
                            <option value="1" data-bind="">
                                Chi nhánh 1

                            </option>
                        </select>
                    </div>

                </div>

                <div id="staffchart_1" style="height:100%; ">

                </div>

            </div>
            <div class="tab-pane" id="chart3">
                <div class="container-fluid " style="background:white; padding:15px;">
                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">  <label>Tổng nhân viên:</label> <lable> 123.456</lable></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                        <select class="btn btn-default pull-right">
                            <option value="1" data-bind="">
                                Chi nhánh 1

                            </option>
                        </select>
                    </div>

                </div>
                <div id="brandchart" style="height:100%; "></div>
            </div>
            <div class="tab-pane" id="chart4">
                <div class="container-fluid " style="background:white; padding:15px;">
                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">  <label>Tổng nhân viên:</label> <lable> 123.456</lable></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                        <select class="btn btn-default pull-right">
                            <option value="1" data-bind="">
                                Chi nhánh 1

                            </option>
                        </select>
                    </div>

                </div>
                <div id="tpnv"></div>
            </div>
        </div>
        <div class="container-fluid nopadding" style="margin-top:15px">
            <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                <label style="height:30px"> Danh sách Top10 doanh thu theo nhân viên</label>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                <select class="btn btn-default pull-right">
                    <option value="1" data-bind="">
                        Chi nhánh 1

                    </option>
                </select>
            </div>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                  
                </tbody>

            </table>

            <div style="text-align:center;">
               <a> <label>Xem thêm</label></a>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">

        <label  style="height:30px"> Sự kiện trong tháng</label>
        <ul class="list-group eventonmonth">
            <li class="active">
                <i class="material-icons">cake</i>
                <font>  <span> n</span><label>sinh nhật</label>  </font>

            </li>
            <li>
                <i class="material-icons">emoji_events</i>
                <font>  <span> n</span><label> sự kiện</label></font>

            </li>
            <li>
                <i class="material-icons">assignment</i>
                <font>  <span>n </span><label> lịch hẹn</label></font>

            </li>
            <li>
                <i class="material-icons">picture_as_pdf</i>
                <font>  <span>n</span><label> tuyển dụng</label> </font>
            </li>
            <li>
                <i class="material-icons">directions_run</i>
                <font>  <span>n</span><label> đào tạo </label></font>
            </li>
            <li>
                <i class="material-icons">assignment</i>
                <font>  <span>n</span> <label>báo cáo</label> </font>
            </li>
            <li>
                <i class="material-icons">notifications</i>
                <font>  <span>n</span><label> Thông báo</label> </font>
            </li>
            <li>
                <i class="material-icons">all_inbox</i>
                <font>  <span>n</span><label>tin nhắn </label> </font>
            </li>
            <li data-toggle="modal" data-target="#themmoi">
                <i class="material-icons">library_add</i>
                <font> Thêm mới</font>
            </li>
        </ul>
        <div class="container-fluid nopadding">
            <label >Nội dung chi tiết</label>
            <a class="showmore" style="float:right">Xem tất cả</a>
            <ul class="eventomonth-detail">
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>

                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>
                <li>
                    <i class="material-icons">notification_important</i>
                    <div style="display:inline-block; width:calc(100% - 101px)">
                        <label>Hello Admin</label>  <small style="float:right">timer</small>
                        <font>
                            Cho phép quản lý thông tin bảo hiểm cho người lao động như BHXH, BHYT hay các chế độ phụ cấp, trợ cấp hàng tháng, các chế độ bảo hiểm xã hội của người lao động khi nghỉ việc, tăng lương hay điều chuyển.
                        </font>

                    </div>

                </li>

            </ul>
           
        </div>

    </div>



</div>
<div id="themmoi" class="modal fade" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">Thêm mới</h4>
            </div>
            <div class="modal-body">

                <div class="col-md-4 optionnew">
                    <i class=" material-icons">assignment</i>
                    Báo cáo, biên bản
                </div>
                <div class="col-md-4 optionnew">
                    <i class=" material-icons">perm_contact_calendar</i>
                    Lịch hẹn/sự kiện
                </div>
                <div class="col-md-4 optionnew">
                    <i class=" material-icons">create_new_folder</i>
                    Hồ sơ tuyển dụng
                </div>
                <div class="container-fluid" style="padding-top:15px">
                </div>
            </div>
            <div class="modal-footer"></div>

        </div>

    </div>
</div>