<aside class="op-filter-container" >
    <div class="menuCheckbox">
        <div class="form-group floatleft">
            <div class="radio-menu">
                <input type="radio" name="rdoDate" value="0" v-model="curentpage.typetime">
            </div>
            <div class="conten-choose">
                <div class=" choose-date ">
                    <div data-toggle="dropdown" aria-expanded="true">
                        <input type="text" class="dropdown form-control choose-date-show" placeholder="Toàn thời gian"
                               value="Toàn thời gian" autocomplete="off" v-model="curentpage.textdate" :disabled="curentpage.typetime==1" on:change="ChangeTime">
                    </div>
                    <div class="dropdown-menu menuleft_dlldate">
                        <div class="col-md-4 col-sm-4">
                            <h3>Theo ngày và tuần</h3>
                            <ul>
                                <li value="1"><a href="javascript:void(0);">Hôm nay</a></li>
                                <li value="2"><a href="javascript:void(0);">Hôm qua</a></li>
                                <li value="3"><a href="javascript:void(0);">Tuần này</a></li>
                                <li value="4"><a href="javascript:void(0);">Tuần trước</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <h3>Theo tháng và quý</h3>
                            <ul>
                                <li value="5"><a href="javascript:void(0);">Tháng này</a></li>
                                <li value="6"><a href="javascript:void(0);">Tháng trước</a></li>
                                <li value="7"><a href="javascript:void(0);">Quý này</a></li>
                                <li value="8"><a href="javascript:void(0);">Quý trước</a></li>
                            </ul>
                        </div><div class="col-md-4 col-sm-4">
                            <h3>Theo năm</h3>
                            <ul>
                                <li value="9"><a href="javascript:void(0);">Năm này</a></li>
                                <li value="10"><a href="javascript:void(0);">Năm trước</a></li>
                                <li value="0"><a href="javascript:void(0);">Toàn thời gian</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group floatleft">
            <div class="radio-menu">
                <input type="radio" name="rdoDate" value="1" v-model="curentpage.typetime" />
            </div>
            <div class="conten-choose">
                <div class="floatleft form-wrap ">
                    <input type='text' class="form-control daterange" placeholder="Lựa chọn khác" name="daterange" autocomplete="off"
                           v-model="curentpage.textdaterange"
                           :disabled="curentpage.typetime==0" />
                </div>
            </div>
        </div>
    </div>
</aside>
<script>
    $(function () {
        $('.daterange').daterangepicker({
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Áp dụng",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            }
        });
    })
</script>
