<style>
    .total-hours-unit{
        position:absolute;
        top:7px; right:25px;
    }
</style>
<div id="modalEditCaLamViec">
    <div class="modal fade in" id="modalthemmoicalamviec">
        <div class="modal-dialog draggable modal-md ">
            <div class="modal-content  ui-draggable">
                <div class="modal-header ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                    <h4 class="modal-title">
                        {{TitlePopup}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã ca</label>
                        <div class="form-news">
                            <input class="form-control" v-model="data.MaCa" v-on:keyup="ChangeMaCa" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tên ca <span style="color:red">(*)</span></label>
                        <div class="form-news">
                            <input class="form-control" type="text" v-model="data.TenCa" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Giờ vào <span style="color:red">(*)</span></label>
                        <div class="form-news">
                            <input class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioVao)" data-id="1" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Giờ ra <span style="color:red">(*)</span></label>
                        <div class="form-news">
                            <input class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioRa)" data-id="2" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tổng giờ công</label>
                        <div class="form-news" style="position:relative">
                            <input type="text" class="form-control" min="0" v-model="data.TongGioCong" disabled>
                            <span class="btn-right btn " style="width:30px">Giờ</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Chi nhánh</label>
                        <div class="form-news">
                            <div class="op-tag-picker dropdown position-relative">
                                <div  data-toggle="dropdown" aria-expanded="false">
                                    <ul>
                                        <li  v-for="(item, index) in   listchinhanh.filter(o=>o.Checked)">
                                            <span>{{item.Ten}}</span>
                                            <span v-on:click="item.Checked=!item.Checked">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown ">
                                </div>
                                <ul class="dropdown-menu" style="width:100%">
                                        <li v-for="(item, index) in  listchinhanh.filter(o=>!o.Checked)" v-on:click="item.Checked=!item.Checked">
                                            <a>{{item.Ten}}</a>
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <div class="form-news">
                            <textarea rows="3" id="txtGhiChuCaLamViec" v-model="data.GhiChuCaLamViec"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="radio" name="statuscalamviec" value="1" v-model="data.TrangThai" id="cbCaLamViecApDung"/>
                                <label for="cbCaLamViecApDung">
                                    Đang áp dụng
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="radio" name="statuscalamviec" value="0" v-model="data.TrangThai" id="cbCaLamViecKhongApDung" />
                                <label for="cbCaLamViecKhongApDung">
                                    Không áp dụng
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                   
                        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                        <button type="button" class="btn btn-save" v-on:click="SaveCaLamViec" v-show="!loadding">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu
                        </button>
                        <button type="button" class="btn btn-save" v-show="loadding">
                            <i class="fa fa-spinner fa-pulse  fa-fw"></i> Đang lưu
                        </button>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/NhanSu/edit-calamviec.js"></script>
