@using Model;
<div id="modalEditCaLamViec">
    <div class="modal fade in" id="modalthemmoicalamviec">
        <div class="modal-dialog draggable modal-lg  ">
            <div class="modal-content  ui-draggable">
                <div class="modal-header ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                    <h4 class="modal-title">
                        {{TitlePopup}}
                    </h4>
                </div>
                <div class="modal-body">

                   
                        <ul class="nav nav-tabs ">
                            <li class="active" id="tableThongTinCa"><a data-toggle="tab" href="#thongtinca">Thông tin ca</a></li>
                            <li id="tableThietLapGio"><a data-toggle="tab" href="#thietlaptinhgio">Thiết lập tính giờ</a></li>
                        </ul>
                        <div class="tab-content tab-them-ca-lam-viec">
                            <div class="tab-pane active" id="thongtinca">
                                <div class="_editca-l">
                                    <div class="form-group ">
                                        <label> Mã ca <span style="color:red"></span></label>
                                        <div class="form-news">
                                            <input class="form-control" placeholder="Mã tự động" v-model="data.MaCa" v-on:keyup="ChangeMaCa" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label> Tên ca <span style="color:red">(*)</span></label>
                                        <div class="form-news">
                                            <input class="form-control" type="text" v-model="data.TenCa" autofocus />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label> Giờ vào <span style="color:red">(*)</span></label>
                                        <div class="form-news">
                                            <input class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioVao)" data-id="1" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label>Giờ ra <span style="color:red">(*)</span></label>
                                        <div class="form-news">
                                            <input class="form-control newTime _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioRa)" data-id="2" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label>
                                            Tổng giờ công <span style="color:red"></span>
                                        </label>
                                        <div class="form-news input-span">
                                            <input class="form-control text-right" type="number" min="0" v-model="data.TongGioCong" disabled />
                                            <span>Giờ</span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label>
                                            Cách lấy công <span style="color:red">(*)</span>
                                        </label>
                                        <div class="form-news">
                                            <select class="form-control seleted-page" v-model="data.CachLayGioCong">
                                                @foreach (var item in commonEnumHellper.ListCachLayGioCong)
                                                {
                                                    <option value="@item.Key">
                                                        @item.Value
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="_editca-r">
                                    <div class="floatleft ttc-right">
                                        <label class="ttc-right-label">
                                            Nghỉ giữa ca
                                        </label>
                                        <div class="ttc-right-content">
                                            <div class="col-md-6 nopading-right">
                                                <div class="form-group floatleft">
                                                    <label>Từ </label>
                                                    <div class="form-news">
                                                        <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.NghiGiuaCaTu)" data-id="3">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 nopading-right">
                                                <div class="form-group floatleft">
                                                    <label>Đến </label>
                                                    <div class="form-news">
                                                        <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.NghiGiuaCaDen)" data-id="4">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="floatleft ttc-right">
                                        <label class="ttc-right-label">
                                            Giờ làm thêm ban ngày
                                        </label>
                                        <div class="ttc-right-content">
                                            <div class="col-md-6 nopading-right">
                                                <div class="form-group floatleft">
                                                    <label>Từ </label>
                                                    <div class="form-news">
                                                        <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioOTBanNgayTu)" data-id="5">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 nopading-right">
                                                <div class="form-group floatleft">
                                                    <label>Đến </label>
                                                    <div class="form-news">
                                                        <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioOTBanNgayDen)" data-id="6">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="floatleft ttc-right">
                                        <label class="ttc-right-label">
                                            Giờ làm thêm ban đêm
                                        </label>
                                        <div class="ttc-right-content">
                                            <div class="col-md-6 nopading-right">
                                                <div class="form-group floatleft">
                                                    <label>Từ </label>
                                                    <div class="form-news">
                                                        <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioOTBanDemTu)" data-id="7">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 nopading-right">
                                                <div class="form-group floatleft">
                                                    <label>Đến </label>
                                                    <div class="form-news">
                                                        <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioOTBanDemDen)" data-id="8">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ttc-right">
                                        <label class="ttc-right-label"> Trạng thái <span style="color:red">(*)</span></label>
                                        <div class="ttc-right-content">
                                            <select class="form-control seleted-page" v-model="data.TrangThai">
                                                @foreach (var item in commonEnumHellper.ListTrangThaiCaLamViec.Where(o => o.Key != (int)commonEnumHellper.TrangThaiCaLamViec.xoa))
                                                {
                                                    <option value="@item.Key">
                                                        @item.Value
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group ttc-right choose_LoaiCa" style="position:relative">
                                        <label>
                                            <input type="checkbox" style="margin-right: 5px;" v-model="data.LaCaDem">Ca đêm
                                        </label>
                                    </div>
                                    <div class=" form-group ttc-right">
                                        <label class="ttc-right-label">
                                            Ghi chú
                                        </label>
                                        <div class="ttc-right-content">
                                            <textarea rows="1" id="txtGhiChuCaLamViec" v-model="data.GhiChuCaLamViec"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="fl">
                                    <div class="form-group ">
                                        <label> Chi nhánh <span style="color:red">(*)</span></label>
                                        <div class="form-news">
                                            <div class="outselect">
                                                <div class=" choose-person floatleft " data-toggle="dropdown" aria-expanded="false">
                                                    <ul>
                                                        <li class="li-input-span" v-for="(item, index) in listchinhanh.filter(o=>o.Checked)">
                                                            <span>{{item.Ten}}</span>
                                                            <span v-on:click="item.Checked=!item.Checked">
                                                                <i class="fa fa-times"></i>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <input type="text" class="dropdown ">
                                                </div>
                                                <div class="selec-person dropdown-menu">
                                                    <ul>
                                                        <li v-for="(item, index) in listchinhanh.filter(o=>!o.Checked)" v-on:click="item.Checked=!item.Checked">
                                                            <span>{{item.Ten}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <p><span style="color:red">(*)</span> Việc chọn nhiều chi nhánh có thể dẫn tới việc cùng một chi nhánh có 2 tên ca bị trùng ( Hãy đảm bảo rằng bạn đã kiểm tra kỹ thông tin ) </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="thietlaptinhgio">
                                <div class="form-group form-thiet-lap-gio">
                                    <label class="tlg-title"> Cho phép</label>
                                    <div class="tlg-content">
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Đi muộn </label>
                                                <div class="form-news  input-span">
                                                    <input type="number" min="0" class="form-control text-right" style="padding-right: 44px!important;" v-model="data.SoPhutDiMuon">
                                                    <span>Phút</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Về sớm </label>
                                                <div class="form-news  input-span">
                                                    <input type="number" min="0" class="form-control text-right" style="padding-right: 44px!important;" v-model="data.SoPhutVeSom">
                                                    <span>Phút</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-thiet-lap-gio">
                                    <label class="tlg-title"> Khoảng thời gian tính giờ vào</label>
                                    <div class="tlg-content">
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Từ </label>
                                                <div class="form-news">
                                                    <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioVaoTu)" data-id="9">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Đến </label>
                                                <div class="form-news">
                                                    <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioVaoDen)" data-id="10">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-thiet-lap-gio">
                                    <label class="tlg-title"> Khoảng thời gian tính giờ ra</label>
                                    <div class="tlg-content">
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Từ </label>
                                                <div class="form-news">
                                                    <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioRaTu)" data-id="11">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Đến </label>
                                                <div class="form-news">
                                                    <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.GioRaDen)" data-id="12">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-thiet-lap-gio">
                                    <label class="tlg-title"> Khoảng thời gian tính giờ làm thêm ban ngày </label>
                                    <div class="tlg-content">
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Từ </label>
                                                <div class="form-news">
                                                    <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.TinhOTBanNgayTu)" data-id="13">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Đến </label>
                                                <div class="form-news">
                                                    <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.TinhOTBanNgayDen)" data-id="14">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-thiet-lap-gio">
                                    <label class="tlg-title"> Khoảng thời gian tính giờ làm thêm ban đêm </label>
                                    <div class="tlg-content">
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Từ </label>
                                                <div class="form-news">
                                                    <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.TinhOTBanDemTu)" data-id="15">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 nopading-right">
                                            <div class="form-group floatleft">
                                                <label>Đến </label>
                                                <div class="form-news">
                                                    <input type="text" class="form-control _settimeca" v-bind:value="commonStatisJs.convertTime(data.TinhOTBanDemDen)" data-id="16">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-thiet-lap-gio">
                                    <label class="tlg-title" style="letter-spacing:-1px"> Số giờ làm thêm tối thiểu </label>
                                    <div class="tlg-content input-span position-relative">
                                        <input type="number" class="form-control text-right" style="padding-right: 44px!important;" v-bind:value="data.SoGioOTToiThieu" min="0">
                                      
                                        <span style="position:absolute;right:0">Giờ</span>
                                    </div>
                                </div>
                                <div class="form-group form-thiet-lap-gio">
                                    <label class="tlg-title"> Ghi chú</label>
                                    <div class="tlg-content">
                                        <textarea rows="2" v-bind:value="data.GhiChuTinhGio"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                  
                   
                </div>
                <div class="modal-footer ">

                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                    <button type="button" class="btn btn-save" v-show="loadding">
                        <i class="fa fa-spinner fa-pulse  fa-fw"></i> Đang lưu
                    </button>
                    <button type="button" class="btn btn-save" v-on:click="SaveCaLamViec" v-show="!loadding">
                        <i class="fa fa-save" aria-hidden="true"></i> Lưu
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/NhanSu/edit-calamviec.js"></script>
<script>
    function keypressNumber_limitNumberPC(event, obj) {
        var keyCode = event.keyCode || event.which;
        var $this = $(obj).val();
        // 46(.), 48(0), 57(9)
        if ((keyCode != 46 || $(obj).val().indexOf('.') != -1) && (keyCode < 48 || keyCode > 57)) {
            if ((event.which != 46 || $this.indexOf('.') != -1)) {
                //alert('Chỉ được nhập một dấu .');
            }
            event.preventDefault();
        }
        if ($this.indexOf(".") > -1 && ($this.split('.')[1].length > 0)) {
            event.preventDefault();
        }
    }
    function keypressNumber_SoNguyen(event, obj) {
        var keyCode = event.keyCode || event.which;
        var $this = $(obj).val();
        if ((keyCode < 48 || keyCode > 57)) {
            if ((event.which != 46 || $this.indexOf('.') != -1)) {
                //alert('Chỉ được nhập một dấu .');
            }
            event.preventDefault();
        }
    }
</script>