@using Model;
<div id="modalEditLoaiBaoHiem">
    <div class="modal fade in" id="modalThemMoiLoaiBaoHiem">
        <div class="modal-dialog draggable modal-lg">
            <div class="modal-content  ui-draggable">
                <div class="modal-header ui-draggable-handle">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                    <h4 class="modal-title">
                        {{TitlePopup}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12  nopadding">
                        <div class=" col-md-12  tab-news-modal ">
                            <div class="row col-pop-100">
                                <div class="col-pop-50">
                                    <div class="form-group ">
                                        <label> Tên loại bảo hiểm<span style="color:red"> (*)</span></label>
                                        <div class="form-news">
                                            <input class="form-control" type="text" v-model="data.TenBaoHiem"  />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label> Ngày áp dụng <span style="color:red"> (*)</span></label>
                                        <div class="form-news">
                                            <input class="form-control   datetime" type="text" v-model="commonStatisJs.convertDateTime(data.NgayApDung)" >
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label> Trạng thái <span style="color:red"> (*)</span></label>
                                        <div class="form-news">
                                            <select class="form-control seleted-page" v-model="data.TrangThai">
                                                @foreach (var item in commonEnumHellper.ListeLoaiBaoHiem)
                                                {
                                                    <option value="@item.Key">
                                                        @item.Value
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-pop-50">
                                    <div class="form-group ">
                                        <label > Công ty đóng </label>
                                        <div class="form-news input-span">
                                            <input type="number" class="form-control text-right" style="padding-right: 44px!important;" v-model="data.TyLeCongTy">
                                            <span>%</span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label >Nhân viên đóng </label>
                                        <div class="form-news input-span">
                                            <input type="number" class="form-control text-right" style="padding-right: 44px!important;" v-model="data.TyLeNhanVien">
                                            <span>%</span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label> Ghi chú</label>
                                        <div class="form-news">
                                            <textarea v-model="data.GhiChu"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="modal-footer nopadding">
                                <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                                <button type="button" class="btn btn-save" v-on:click="SaveLoaiBaoHiem" v-show="!loadding">
                                    <i class="fa fa-save" aria-hidden="true"></i> Lưu
                                </button>
                                <button type="button" class="btn btn-save" v-show="loadding">
                                    <i class="fa fa-spinner fa-pulse  fa-fw"></i> Đang lưu
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalPopupDeleteLoaiBaoHiem">
        <div id="modalContainer_delete" class="modal-sm">
            <div class="modal-content ">
                <div class="modal-body">
                    <div class="title-delete">
                        <span id="header-confirm-delete">Xóa loại bảo hiểm</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                    </div>
                    Bạn có chắc chắn muốn xóa loại bảo hiểm <span style="font-weight:bold">{{data.TenBaoHiem}}</span> ?
                    <div class="modal-footer">
                        <button type="button" class="btn btn-main" v-on:click="DeleteLoaiBaoHiem"><i class="fa fa-check"></i> Đồng ý</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban" tabindex="2"></i> Bỏ qua</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetime').datetimepicker({
            timepicker: false,
            mask: true,
            format: 'd/m/Y',
        });
    });
</script>
<script src="~/Scripts/NhanSu/edit-LoaiBaoHiem.js"></script>
