<style>
    .payroll-from{
        margin-right:4%;
        float:left;
    }
    .payroll-to {
        margin-right: 0;
        float: right;
    }
    .form-date-singer {
        width: 40% !important;
    }
</style>
<div class="modal fade in" id="modalThemMoiBangLuong">
    <div class="modal-dialog draggable  modal-md ">
        <div class="modal-content  ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    {{TitlePopup}}
                </h4>
            </div>
            <div class="modal-body" style="padding-right:0px;">
                <div class="col-md-12  row">
                    <div class=" tab-news-modal ">
                        <div class="fl">
                            <div class="form-group ">
                                <label> Kỳ làm việc từ <span style="color:red">(*)</span></label>
                                <div class="form-news">
                                    <div class="form-date-singer payroll-from">
                                        <input type="text" class="form-control newDatesingle" data-id="1"  v-model="objectAddBangLuong.TuNgay" onclick="this.select()">
                                    </div>
                                    <div class="form-text-singer">
                                        Đến
                                    </div>
                                    <div class="form-date-singer payroll-to">
                                        <input type="text" class="form-control newDatesingle" data-id="2" v-model="objectAddBangLuong.DenNgay"  onclick="this.select()">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label> Ghi chú</label>
                                <div class="form-news">
                                    <textarea rows="2" v-model="objectAddBangLuong.GhiChu"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row">
                    <div class="modal-footer nopadding">
                        <button type="button" class="btn btn-save" v-on:click="CreateBangLuong" v-show="!loadding">
                            <i class="fa fa-save" aria-hidden="true"></i> Tạo mới
                        </button>
                        <button type="button" class="btn btn-save" v-show="loadding">
                            <i class="fa fa-spinner fa-pulse  fa-fw"></i> Đang lưu
                        </button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
