
@{
    /**/

    Layout = null;
}



<style>
    .hrmtab {
        transition: left 0.4s ease-in;
        display: block;
        height: 50px;
        width: 500px;
        background: none;
        color: #686868;
        left: 0;
        /* padding: 5px; */
        position: fixed;
        margin: 0;
        top: 0;
        left: 110px;
        z-index: 9999;
    }

        .hrmtab li {
            width: 80px;
            text-align: center;
        }

            .hrmtab li.active {
                background: rgba(0,0,0,0.05)
            }

            .hrmtab li a {
                text-decoration: none;
                height: 50px;
                width: 100%;
                display: inline-block;
                padding-top: 20px;
            }

    .nav-tabs > li.active > a {
        font-weight: bold;
        color: #686868
    }

    .slider {
        padding-left: 25px;
        position: fixed;
        z-index: 99999;
    }
    .thietlaptab li {
        height: 45px;
        border-radius: 3px;
        width: 100%;
        text-align: left;
        font-size: 13px;
        padding: 10px 15px;
        font-weight: bold;
        background: none;
        margin-bottom: 5px;
    }

        .thietlaptab li a {
            text-decoration: none;
            width: 100%;
            height: 100%;
            color: #686868;
            display: inline-block;
        }

            .thietlaptab li a font {
                line-height: 1.25rem;
                vertical-align: super;
                margin-left: 5px;
                bottom: 5px;
                position: relative;
            }

    .thietlaptab > li.active {
        background: rgba(0, 0, 0, .05);
    }

    #sliderbar {
        transition: margin-left 0.4s ease;
        border-radius: 3px;
    }

    .thietlapcontent {
        border: 1px solid #ccc;
        border-radius: 5px
    }
</style>
<script>
    $('.hrmtab li ').on("click", function () {

        var num = $(this).find("a").attr("data-id");
        switch (num) {
            case '1':
                $("#sliderbar").css("margin-left", "0")
                break;
            case '2':
                $("#sliderbar").css("margin-left", "82px")
                break;
            case '3':
                $("#sliderbar").css("margin-left", "166px")
                break;
            case '4':
                $("#sliderbar").css("margin-left", "250px")
                break;
            case '5':
                $("#sliderbar").css("margin-left", "332px")
                break;
            case '6':
                $("#sliderbar").css("margin-left", "415px")
                break;

        }
    })
</script>
<div class="container-fluid">

    <ul class="hrmtab list-inline">
        <li class="active"><a data-toggle="tab" data-id="1" href="#HRM" style="font-weight:bold; font-size:16px;">HRM</a></li>
        <li><a data-toggle="tab" data-id="2" href="#Chinhanh"> Chi nhánh</a></li>
        <li><a data-toggle="tab" data-id="3" href="#NhanSu">Nhân Sự</a></li>
        <li><a data-toggle="tab" data-id="4" href="#Chinhanh">Chấm công</a></li>
        <li><a data-toggle="tab" data-id="5" href="#NhanSu">Bảng lương</a></li>
        <li><a data-toggle="tab" data-id="6" href="#ThietLap">Thiết lập</a></li>
    </ul>
    <div class="slider"> <div id="sliderbar" style="width:80px; height:3px; background-color:var(--color-primary)"> </div></div>
    <div class="tab-content">
        <div id="HRM" class="tab-pane fade in active">

            @Html.Partial("~/Views/NhanSu/_HRMDashboard.cshtml")




        </div>
        <div id="Chinhanh" class="tab-pane fade">

            
        </div>
        <div id="NhanSu" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
        </div>
        <div id="ThietLap" class="tab-pane fade" style="padding-top:15px;">
            <div  style="display:inline-block; width:250px;">

                <ul class="list-group thietlaptab">
                    <li class="active">
                        <a data-toggle="tab" href="#thietlap">
                            <i class="material-icons">list</i>
                            <font>
                                Danh mục ký hiệu chấm công
                            </font>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#thietlap2">
                            <i class="material-icons">work_off</i>
                            <font>
                                Danh mục ngày nghỉ lễ
                            </font>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#thietlap3">
                            <i class="material-icons">recent_actors</i>
                            <font>
                                Danh mục ca làm việc
                            </font>
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#Thietlap5">
                            <i class="material-icons">touch_app</i>
                            <font>
                                Phân công ca làm việc
                            </font>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Thietlap5">
                            <i class="material-icons">vertical_split</i>
                            <font>
                                Kỳ tính công
                            </font>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="thietlapcontent" style="display:inline-block; width:calc(100% - 255px);vertical-align:top;">

                <div class="tab-content">
                    <div class="tab-pane active" id="thietlap">
                        @Html.Partial("~/Views/NhanSu/_KyHieuCongPartial.cshtml")

                    </div>
                    <div class="tab-pane fade" id="thietlap2">
                        @Html.Partial("~/Views/NhanSu/_NgayNghiPartial.cshtml")
                    </div>
                    <div class="tab-pane fade" id="thietlap3">

                    </div>
                    <div class="tab-pane fade" id="thietlap">

                    </div>
                    <div class="tab-pane fade" id="thietlap2">

                    </div>
                    <div class="tab-pane fade" id="thietlap3">

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src="~/Content/js/highcharts1.js"></script>
<script src="~/Content/HRM.js"></script>
