<div class="modal fade" id="Gara_NhatKyGiaoDich" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog draggable modal-lgmax" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nhật kí giao dịch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 ">
                        <article class="boxLeft">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="~/Content/images/icon/ngaytao.png" />
                                Thời gian

                               
                            </h3>
                            <aside class="op-filter-container"style="padding:15px 0">
                                <div class="menuCheckbox">
                                    <div class="form-group floatleft">
                                        <div class="radio-menu">
                                            <input type="radio" name="timeRange" data-bind="checked: filterNgayTao" value="0">
                                        </div>
                                        <div class="conten-choose">
                                            <div class=" choose-date ">
                                                <div data-toggle="dropdown" aria-expanded="true">
                                                    <input type="text" class="dropdown form-control choose-date-show" placeholder="Toàn thời gian"
                                                           value="Toàn thời gian"
                                                           id="txtNgayTao" autocomplete="off">
                                                </div>
                                                <div class="dropdown-menu choseNgayTao">
                                                    <div class="col-md-4 col-sm-4">
                                                        <h3>Theo ngày và tuần</h3>
                                                        <ul>
                                                            <li value="1">
                                                                <a href="javascript:void(0);">Hôm nay</a>
                                                            </li>
                                                            <li value="2">
                                                                <a href="javascript:void(0);">Hôm qua</a>
                                                            </li>
                                                            <li value="3">
                                                                <a href="javascript:void(0);">Tuần này</a>
                                                            </li>
                                                            <li value="4">
                                                                <a href="javascript:void(0);">Tuần trước</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <h3>Theo tháng và quý</h3>
                                                        <ul>
                                                            <li value="5">
                                                                <a href="javascript:void(0);">Tháng này</a>
                                                            </li>
                                                            <li value="6">
                                                                <a href="javascript:void(0);">Tháng trước</a>
                                                            </li>
                                                            <li value="7">
                                                                <a href="javascript:void(0);">Quý này</a>
                                                            </li>
                                                            <li value="8">
                                                                <a href="javascript:void(0);">Quý trước</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <h3>Theo năm</h3>
                                                        <ul>
                                                            <li value="9">
                                                                <a href="javascript:void(0);">Năm này</a>
                                                            </li>
                                                            <li value="10">
                                                                <a href="javascript:void(0);">Năm trước</a>
                                                            </li>
                                                            <li value="0">
                                                                <a href="javascript:void(0);">Toàn thời gian</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <div class="radio-menu">
                                            <input type="radio" name="timeRange" data-bind="checked: filterNgayTao" value="1" />
                                        </div>
                                        <div class="conten-choose">
                                            <div class="floatleft form-wrap ">
                                                <input type='text' class="form-control daterange" placeholder="Lựa chọn khác" name="daterange"
                                                       id="txtNgayTaoInput" data-bind="value: filterNgayTao_Input, enable: filterNgayTao() !=='0'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </article>
                        <article class="boxLeft ">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="/Content/images/icon/loaithuchi.png">  Chi nhánh


                               
                            </h3>
                            <aside class="op-filter-container"style="padding:15px 0">
                                <div class="outselect">
                                    <div class="choose-person floatleft" data-toggle="dropdown" aria-expanded="false" >
                                        <ul data-bind="">
                                            <li class="li-input-span">
                                                <span data-bind="i"></span>&nbsp;
                                                <span data-bind="">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" class="dropdown form-control" placeholder="Chọn chi nhánh">
                                    </div>
                                    <div class="selec-person dropdown-menu" >
                                        <ul data-bind="">
                                            <li data-bind=""></li>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </article>
                        <article class="boxLeft ">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="/Content/images/icon/loaithuchi.png">  Khách hàng


                              
                            </h3>
                            <aside class="op-filter-container"style="padding:15px 0">
                                <div class="outselect">
                                    <div class="choose-person floatleft" data-toggle="dropdown" aria-expanded="false" >
                                        <ul data-bind="">
                                            <li class="li-input-span">
                                                <span data-bind="i"></span>&nbsp;
                                                <span data-bind="">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" class="dropdown form-control" placeholder="Chọn chi nhánh">
                                    </div>
                                    <div class="selec-person dropdown-menu" >
                                        <ul data-bind="">
                                            <li data-bind=""></li>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </article>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 ">
                       
                        <label>Hóa đơn sửa chữa</label>
                        <div class="table-frame">
                            <table class="table-res">
                                <thead>
                                    <tr>
                                        <th>Mã hóa đơn</th>
                                        <th>Ngày lập</th>
                                        <th>Mã tiếp nhận</th>
                                        <th>Tổng tiền hàng</th>
                                        <th>Phải thanh toán</th>
                                        <th>Còn nợ</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border-bottom:1px solid black">
                                        <td>placehodler</td>
                                        <td>placehodler</td>
                                        <td>placehodler</td>
                                        <td>placehodler</td>
                                        <td>placehodler</td>
                                        <td>placehodler</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="margin:15px;">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-save">Xuất file</button>
                </div>
            </div>
            
        </div>
    </div>
</div>