@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        tr:not(.op-js-tr-hide).active {
            background: var(--color-secondary )
        }
        th {
            background: #ccc
        }
        .gara-tab-title {
            display: flex;
            padding: 7px 15px 0 7px;
            background: var(--color-secondary )
        }
            .gara-tab-title > a {
                padding: 7px 15px;
                border: none;
                border-bottom: none;
                border-radius: 5px 5px 0 0;
                color: #686868;
                cursor: pointer;
            }
                .gara-tab-title > a.active {
                    background: white;
                }
        .gara-tab > div.active {
            display: flex;
            padding: 15px;
            width: 100%;
            flex-direction: column;
        }
        .gara-tab-detail .gara-tab-detail-panel > div {
            line-height: 18px;
            padding: 7px;
            border-bottom: 1px solid #ccc;
        }
        tr.op-js-tr-hide.active {
            display: table-row;
        }
        .in-debt > div {
            width: 100%
        }
        .header-button-right > button, .header-button-right > div {
            margin-right: 3px;
        }
        .dropdown-list label {
            line-height: 30px
        }
    </style>
</head>
<body>
    <div class="op-container">
        <div class="col-left">
            <div class=" op-filter">
                <section class="op-filter-body ">
                    <article class="boxLeft ">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/loaithuchi.png">  Chi nhánh
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="choose-person floatleft " data-toggle="dropdown" aria-expanded="false" id="divChiNhanhChosed">
                                    <ul data-bind="">
                                        <li class="li-input-span">
                                            <span data-bind="i"></span>&nbsp;
                                            <span data-bind="">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <input type="text" class="dropdown form-control" placeholder="Chọn chi nhánh">
                                </div>
                                <div class="selec-person dropdown-menu" id="divAllChiNhanh">
                                    <ul data-bind="foreach: ChiNhanhs">
                                        <li data-bind=""></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/ngaytao.png" />
                            Thời gian
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuCheckbox">
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="timeRange" data-bind="checked: filterNgayTao" value="0">
                                    </div>
                                    <div class="conten-choose">
                                        <div class=" choose-date ">
                                            <div data-toggle="dropdown" aria-expanded="true">
                                                <input type="text" class="dropdown form-control choose-date-show" placeholder="Toàn thời gian"
                                                       value="Toàn thời gian"
                                                       id="txtNgayTao" autocomplete="off">
                                            </div>
                                            <div class="dropdown-menu choseNgayTao">
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo ngày và tuần</h3>
                                                    <ul>
                                                        <li value="1">
                                                            <a href="javascript:void(0);">Hôm nay</a>
                                                        </li>
                                                        <li value="2">
                                                            <a href="javascript:void(0);">Hôm qua</a>
                                                        </li>
                                                        <li value="3">
                                                            <a href="javascript:void(0);">Tuần này</a>
                                                        </li>
                                                        <li value="4">
                                                            <a href="javascript:void(0);">Tuần trước</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo tháng và quý</h3>
                                                    <ul>
                                                        <li value="5">
                                                            <a href="javascript:void(0);">Tháng này</a>
                                                        </li>
                                                        <li value="6">
                                                            <a href="javascript:void(0);">Tháng trước</a>
                                                        </li>
                                                        <li value="7">
                                                            <a href="javascript:void(0);">Quý này</a>
                                                        </li>
                                                        <li value="8">
                                                            <a href="javascript:void(0);">Quý trước</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo năm</h3>
                                                    <ul>
                                                        <li value="9">
                                                            <a href="javascript:void(0);">Năm này</a>
                                                        </li>
                                                        <li value="10">
                                                            <a href="javascript:void(0);">Năm trước</a>
                                                        </li>
                                                        <li value="0">
                                                            <a href="javascript:void(0);">Toàn thời gian</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="timeRange" data-bind="checked: filterNgayTao" value="1" />
                                    </div>
                                    <div class="conten-choose">
                                        <div class="floatleft form-wrap ">
                                            <input type='text' class="form-control daterange" placeholder="Lựa chọn khác" name="daterange"
                                                   id="txtNgayTaoInput" data-bind="value: filterNgayTao_Input, enable: filterNgayTao() !=='0'" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="op-header">
                <div class="repost header-report_Tr">
                    <div class="col-md-12  header-report">
                        <div class="repost">
                            <div class="title-report-center">
                                <span>TenBaoCao</span>
                            </div>
                            <p>NgayBaoCao</p>
                            <p>
                                Chi nhánh:
                                <span>ChiNhanhBaoCao</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="op-header">
                    <div class="op-header-button">
                        <div class=" header-button-left" data-toggle="modal" data-target="#DoiTacBaoHiem">
                            <button class="btn btn-main">Xuất file</button>
                            <div class="btn-dropdown" id="button-filter">
                                <button type="button" class="btn btn-main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showCollumnFilter(this)">
                                    <i class="fa fa-angle-double-down"></i>
                                </button>
                                <div class="dropdown-list" style="right:0">
                                    <ul>
                                        <li>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="checkbox" id="cbmahang" checked="checked" value="0" />
                                                    <span></span>Mã hàng hóa
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <div class="flex">
                            <div class="op-search">
                                <button type="button" class=" op-search-button">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input type="text" class="form-control" placeholder="Theo mã, tên, điện thoại, email">
                            </div>
                            <button class="op-filter-toggle btn btn-main" onclick="showFilter()" title="Hiển thị bộ lọc"><i class="fa fa-filter"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-table">
                <div class="table-frame">
                    <table >
                        <thead>
                            <tr>
                                <th>Mã cố vấn</th>
                                <th>Tên cố vấn</th>
                                <th>Số lượng tiếp nhận</th>
                                <th>Số lượng hóa đơn</th>
                                <th>Tổng doanh thu</th>
                                <th>Tiền vốn</th>
                                <th>Lợi luận</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    MaCoVan
                                </td>
                                <td>
                                    TenCoVan
                                </td>
                                <td>SoLuongTiepNhan</td>
                                <td>SoLuongHoaDon</td>
                                <td>TongDoanhThu</td>
                                <td>TienVon</td>
                                <td>LoiNhuan</td>
                                <td>GhiChu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page" id="divPaging">
                            <div class="flex flex-row">
                                <label>Số bản ghi:</label>
                                <select id="SelecttedPage" class="form-control seleted-page" data-bind="">
                                    <option>10</option>
                                </select>
                            </div>
                                <div class="flex flex-end">
                                    <a href="javascript:void(0)" data-bind="">
                                        <i class="fa fa-step-backward" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript:void(0)" data-bind=" ">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul data-bind="foreach: PageList">
                                        <li>
                                            <a href="javascript:void(0)" data-bind=""></a>
                                        </li>
                                    </ul>
                                    <a href="javascript:void(0)" data-bind="">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript:void(0)" data-bind="">
                                        <i class="fa fa-step-forward" aria-hidden="true"></i>
                                    </a>
                                    <div class="total-recos">
                                        Hiển thị
                                        <span data-bind=""></span> -
                                        <span data-bind=""></span> trên tổng số
                                        <span data-bind=""></span> bản ghi
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/GaraUI.js"></script>
</body>
</html>