<div class="modal-content  ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title" id="lblTitleKH">Phiếu thu</h4>
    </div>
    <div class="modal-body paylip">
        <div class="col-xs-12 col-md-6 border-bottom-group">
            <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                <label class="form-label control-label ">Mã phiếu thu:</label>
                <div class="form-news">
                    <span class="line-none" data-bind="text: MaHoaDon" />
                </div>
            </div>
            <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                <label class="form-label control-label ">Khách hàng:</label>
                <div class="form-news">
                    <span class="line-none" data-bind="text: NguoiNopTien" />
                </div>
            </div>
            <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                <label class="form-label control-label ">Người tạo:</label>
                <div class="form-news">
                    <span class="line-none" data-bind="text: NguoiTao" />
                </div>
            </div>

            <div class="form-group floatleft">
                <label class="form-label control-label req ng-binding">Khoản thu</label>
                <div class="form-news divkhoanthuchi" style="position:relative">
                    <div class="form-control floatleft collection ">--Chọn mục thu--</div>
                    <i class="fa fa-chevron-down" style="top:7px; right:7px ; position:absolute"></i>
                    <div class="seach-company" style="position:absolute; top:30px; width:100%; border:1px solid #ccc">
                        <input type="text" class=" floatleft" data-bind="value: filterLoaiThu, valueUpdate: 'afterkeydown'" />
                        <i style="position:absolute; top:7px; left:7px" class="fa fa-search" aria-hidden="true"></i>
                        <ul>
                            <li data-bind="click : Chose_KhoanThuChi">
                                <a href="javascript:void(0)">--Chọn mục thu --</a>
                            </li>
                            <!--ko foreach: arrFilterLoaiThu-->
                            <li data-bind="click :$parent.Chose_KhoanThuChi, attr:{id:'khoanthuchi_'+ID}">
                                <a href="javascript: void(0)" data-bind="text: NoiDungThuChi"></a>
                            </li>
                            <!--/ko -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-md-6 border-bottom-group">
            <div class="form-group floatleft">
                <label class="form-label control-label ">Nhân viên:</label>
                <div class="form-news">
                    <select class="form-control"  data-bind="options: NhanViens ? NhanViens : [],
                                                optionsText: 'TenNhanVien', optionsValue: 'ID', optionsCaption: 'Chọn', value: selectedID_NV,
                                                 "></select>
                </div>
            </div>
            <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                <label class="form-label control-label ">Thời gian:</label>
                <div class=" form-news ">
                    <!--ko if: $root.Allow_ChangeTimeSoQuy-->
                    <input type="text" class="form-control datetimepicker4" placeholder="23/12/2017" data-bind="value: NgayLapHoaDon">
                    <!--/ko-->
                    <!--ko if: !$root.Allow_ChangeTimeSoQuy()-->
                    <span data-bind="text: NgayLapHoaDon">
                    </span>
                    <!--/ko-->
                </div>

            </div>
            <div class="form-group floatleft" data-bind="with: newQuyHoaDon" style="align-items:flex-start">
                <label class="form-label control-label ">Ghi chú:</label>
                <div class="form-news ">
                    <textarea rows="1" data-bind="value: NoiDungThu" class=" ng-pristine ng-untouched ng-valid ng-empty">        </textarea>
                </div>
            </div>
        </div>

        <div class="col-md-12 tab-sections">
            <div class="table-reponsive">
                <div class="table-res">
                    <table class='table'>
                        <tr>
                            <th>Mã phiếu</th>
                            <th>Thời gian</th>
                            <th>Giá trị phiếu</th>
                            <th>Đã thu trước</th>
                            <th>Tiền thu</th>
                            <th>Phương thức</th>
                            <th class="text-right">Trạng thái</th>
                        </tr>
                        <tbody data-bind="foreach: ChiTietQuys">
                            <tr>
                                <td data-bind="text: MaHoaDonHD"></td>
                                <td data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY')"></td>
                                <td data-bind="text: formatNumber(TongTienThu)"></td>
                                <td data-bind="text: formatNumber(DaChi)"></td>
                                <td data-bind="text: formatNumber(TienThu)"></td>
                                <td data-bind="text: PhuongThuc"></td>
                                <td class="text-right" data-bind="text: GhiChu"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-bind="with: newQuyHoaDon">
            <div class="floatleft sum-prduct">
                <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                    Tổng tiền thu :
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-2 text-right" data-bind="text: TongTienThu"></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="group-btn pull-right">
               <!--ko if: Role_UpdateSoQuy()-->
                    <a href="javascript:void(0)" class="btn btn-main btnAddSoQuy btnAddSoQuyNH" data-bind="click: addSoQuy">
                        <i class="fa fa-check-square"></i> Cập nhật
                    </a>
                <!--/ko-->
            </div>
        </div>
    </div>
</div>

