           <div class="modal-content ">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                   <h4 class="modal-title" id="myModalLabel">
                       Thêm loại thu
                   </h4>
               </div>
               <div class="modal-body floatleft">
                   <div class="form-group floatleft" data-bind="with: newQuy_KhoanThuChi">
                       <label class="form-label control-label req ng-binding">Loại thu</label>
                       <div class="form-news"><input type="text" id="txtNoiDungThu" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" required="" data-bind="value: NoiDungThuChi"></div>
                   </div>
                   <div class="form-group floatleft" data-bind="with: newQuy_KhoanThuChi" style="align-items:flex-start">
                       <label class="form-label control-label ng-binding">Mô tả</label>
                       <div class="form-news">
                           <textarea rows="2" class=" ng-pristine ng-untouched ng-valid ng-empty" id="txtMoTaThu" data-bind="value: GhiChu"></textarea>
                       </div>
                   </div>
               </div>
               <div class="modal-footer ">
                   <div class="container-fluid">

                       <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button> 
                       <button type="button" class="btn btn-save" data-bind="click: addQuy_KhoanThuChi"> <i class="fa fa-save"></i> Lưu</button>
                   </div>
               </div>
           </div>
