@using banhang24.Hellper;
<style>
    .total-payment {
        font-weight: bold;
    }
    .money-payment {
        width: 160px;
    }
    .span-price {
        line-height: 30px;
        font-weight: bold;
        float: right;
    }
    .information-payment, .foot-phieu-thu {
        background: #c7dadf;
    }
    .thanh-toan-the-gia-tri {
        color: var(--color-main);
        font-size: 16px;
        margin-left: 10px;
    }
    .dropdown-menu li a {
       color:black;
       font-size:12px;
    }
    ._size-form-new .form-group label {
        width: 155px !important;
    }
    ._size-form-new .form-group .form-news {
        width: calc(100% - 155px);
    }
    .fa-times{
        color:red
    }
    .modal-body-phieu-thu {
        max-height: 650px;
        overflow: auto;
    }
    .information-payment, .foot-phieu-thu {
        background: white;
        padding: 0px;
        border-bottom: 1px dotted #ccc;
    }
    .modal-body-phieu-thu .name-payment {
        float: right;
        width: calc(100% - 340px)
    }
    .modal-body-phieu-thu .money-payment {
        float: left;
        width: 185px;
    }
    .modal-body-phieu-thu .total-payment {
        width: 135px;
    }
    .foot-phieu-thu tr td{ 
        font-weight:bold;
    }
    .information-payment {
        margin: 0px;
        margin-bottom: 15px;
    }
    .tien-thu-lb {
        padding-left: 50px;
    }
</style>
<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">Phiếu thu</h4>
    </div>
    <div class="modal-body thanhtoan modal-body-phieu-thu">
        <div class="floatleft">
            <div class="col-xs-12 col-md-6 no-padding-left   _size-form-new">
                <div class="form-group floatleft">
                    <label class="form-label control-label ">Số phiếu thu</label>
                    <div class="form-news form-icon-input">
                        <input type="text" class="form-control" placeholder="mã tự động" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 nopading-right  _size-form-new">
                <div class="form-group floatleft">
                    <label class="form-label control-label ">
                        Thời gian
                    </label>
                    <div class="form-news form-icon-input add-icon-date">
                        <input type="text" class="form-control datepicker_mask" id="txtThoiGian_TT" />
                    </div>
                </div>
            </div>
            <div class=" col-md-12 nopadding  _size-form-new">
                <div class="form-group floatleft">
                    <label class="form-label control-label ">Khoản mục thu</label>
                    <div class="form-news form-icon-input">
                        <select class="form-control"><option>-- Chọn khoản mục --</option></select>
                        <button type="button" class="btn btn-default" style="position: absolute;top: 0px; right: 0px;">
                            <span class="fa fa-pencil-square-o"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label class="form-label control-label ">Nội dung</label>
                    <div class="form-news">
                        <textarea rows="1">        </textarea>
                    </div>
                </div>
                <div class="border-bottom-group">
                    <div class="form-group floatleft">
                        <label class="form-label control-label " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Thu của
                            ( <font style="font-weight:400;color:var(--color-main)">
                                Nhà cung cấp
                            </font><i class="fa fa-angle-down" aria-hidden="true"></i> )
                        </label>
                        <ul class="dropdown-menu ">
                            <li><a href="javascript:void(0);">Khách hàng</a></li>
                            <li><a href="javascript:void(0);">Nhà cung cấp</a></li>
                            <li><a href="javascript:void(0);">Nhân viên</a></li>
                        </ul>
                        <div class="input-group form-news">
                            <div class="outselect add-customer">
                                <div class="choose-person" style="width:100%" data-toggle="dropdown" aria-expanded="false">
                                    <ul>
                                        <li class="li-input-span">
                                            <span>Google</span>&nbsp;
                                            <span>
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-default op-js-themmoinhomhang">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <div class="selec-person dropdown-menu floatleft">
                                    <ul>
                                        <li>Nguồn IG <i class="fa fa-check check-after-li" style="display:none"></i></li>
                                        <li>face <i class="fa fa-check check-after-li" style="display:none"></i></li>
                                        <li>Google<i class="fa fa-check check-after-li" style="display:block"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-md-12 nopadding">
                <div class="information-payment floatleft">
                    <div class="col-md-12 nopadding  floatleft">
                        <div class="col-md-6 nopadding-left">
                            <label>
                                Tổng tiền thu
                            </label>
                            <div class="form-news">
                                <div class="text-right" style="    font-weight: bold;
    font-size: 13px;
    color: var(--color-main);">900.000</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 nopadding _size-form-new " style=" padding-right:0px;border-bottom:1px solid white">
                        <div class="col-md-6  nopadding-left">
                            <div class="form-group floatleft">
                                <label class="tien-thu-lb">   Tiền mặt</label>
                                <div class="form-news">
                                    <input type="text" class="form-control text-right" id="txtTienMat" autofocus>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-6 nopadding-left _size-form-new ">
                        <div class="form-group floatleft">
                            <label class="tien-thu-lb">
                                Ngân hàng
                            </label>
                            <div class="form-news">
                                <input type="text" class="form-control text-right" id="txtTienGui" onkeypress="return keypressNumber(event)">
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6 nopadding-right _size-form-new ">
                            <div class="form-group floatleft">
                                <label> Tài khoản ngân hàng</label>
                                <div class="input-group form-news">
                                    <div class="outselect add-customer">
                                        <div class=" choose-person  " style="width:100% !important" data-toggle="dropdown" aria-expanded="false">
                                            <div class="form-control " id="divAccountCK">---Chọn tài khoản---</div>
                                        </div>
                                        <button class="btn btn-default op-js-themmoinhomhang">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <div class="selec-person dropdown-menu floatleft">
                                            <div class="seach-nhomhang">
                                                <input type="text" class="seach-nhomhang">
                                                <i class="fa fa-search"></i>
                                            </div>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">---Chọn tài khoản---</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                </div>
            </div>
            <div class="col-md-12 nopadding">
                <p class="floatleft form-check-left form-check-thu-chi">
                    <input type="checkbox"> <label>      Hoạch toán vào báo cáo kết quả kinh doanh</label>
                </p>
                <p class="floatleft form-check-left form-check-thu-chi">
                    <input type="checkbox"class="check-show-chung-tu" checked> <label> Chứng từ liên quan</label>
                </p>
                <div class="table-reponsive" style="margin-top:8px" id="checkshowchungtu">
                    <div class="table-res">
                        <table class='table'>
                            <thead>
                                <tr>
                                    <th>Loại chứng từ</th>
                                    <th>Mã chứng từ</th>
                                    <th>Ngày lập</th>
                                    <th>Phải thu</th>
                                    <th>Tiền thu</th>
                                    <th >Còn lại</th>
                                </tr>
                            </thead>
                            <tbody >
                             <tr><td>000001</td>
                                 <td>000001</td>
                                 <td>000001</td>
                                 <td>000001</td>
                                 <td ><input type="text" class=" number-price text-right price-border-bot" maxlength="12"></td>
                                 <td>000001</td>
                                </tr>
                            </tbody>
                            <tfoot class="foot-phieu-thu">
                                <tr>
                                    <td colspan="3" > Tổng</td>
                                    <td>000001</td>
                                    <td>000001</td>
                                    <td>000001</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 tab-col-12">
                <div class="group-btn pull-right modal-footer">
                    <button class="btn btn-save" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Bỏ qua
                    </button>
                    <button class="btn btn-save">
                        <i class="fa fa-save" aria-hidden="true" style="color:white"></i>  Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.check-show-chung-tu').on('change', function () {
        $('#checkshowchungtu').toggle();
    });
    $('#txtThoiGian_TT').datetimepicker();
</script>
