    <div class="modal-content ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            <h4 class="modal-title" id="myModalLabel">
                Thêm mới phiếu chi tiền gửi
            </h4>
        </div>
        <div class="modal-body floatleft">
           
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Số phiếu chi</label>
                        <div class="form-wrap"><input type="text" id="txtMaPhieuChiNH" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" required="" placeholder="Mã tự động" data-bind="value: MaHoaDon"></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Ngày lập</label>
                        <div class="form-wrap">
                            <!--ko if: $root.Allow_ChangeTimeSoQuy-->
                            <input type='text' id="txtNgayLapHoaDonNHChi" class="form-control datetimepicker4" placeholder="Thời gian được lấy tự động"
                                   data-bind="value: NgayLapHoaDon" />
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <!--/ko-->
                            <!--ko if: !$root.Allow_ChangeTimeSoQuy()-->
                            <span data-bind="text: NgayLapHoaDon">
                            </span>
                            <!--/ko-->
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label class="css-form-label req ng-binding">Chi cho</label>
                        <div class="form-wrap soquy_modal">
                            <div  role="tabpanel" data-example-id="togglable-tabs">
                                <ul class="nav nav-tabs " id="myTab4" role="tablist">
                                    <li role="presentation" data-id="1" class="khachhang active" data-bind="click: ChangeTab_Modal(1)">
                                        <a href="#tab_nhc_content1" role="tab" data-toggle="tab" class="title-tab" ria-expanded="true">Khách hàng</a>
                                    </li>
                                    <li role="presentation" data-id="2" class="nhacungcap" data-bind="click: ChangeTab_Modal(2)">
                                        <a href="#tab_nhc_content2" role="tab" data-toggle="tab" class="title-tab" aria-expanded="false">Nhà cung cấp</a>
                                    </li>
                                    <li role="presentation" data-id="3" class="nhanv" data-bind="click: ChangeTab_Modal(3)">
                                        <a href="#tab_nhc_content3" role="tab" data-toggle="tab" class="title-tab" aria-expanded="false">Nhân viên</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent4">
                                    <div role="tabpanel" data-id="1" class="tab-pane fade khachhang active in  modal-search-tab" id="tab_nhc_content1" aria-labelledby="home-tab">
                                        <div class="floatleft">
                                            <div class=" seach-supplier">
                                                <div class="op-input-group">
                                                    
                                                    <input type="text" data-bind="JqAutoSoQuyDT: { source: DoiTuongs, value: selectedTenDoiTuongKH,
                                                         inputProp: 'TenDoiTuong', labelProp: 'TenDoiTuong', valueProp: 'ID', template: 'rowChiTiet'}" placeholder="Tìm kiếm" class="form-control ui-autocomplete-input txtKhachHang">
                                                    <button class="btn btn-default xoaCTDTKH" data-bind="click: $root.DeleteDTKH">
                                                        <i class="fa fa-close fa-lg text-danger "></i>
                                                    </button>  
                                                </div>
                                                  <script id="rowChiTiet" type="text/html">
                                                    @Html.Partial("~/Views/Component/_ko-ListSearchNguoiNopTien.cshtml")
                                                </script>
                                            </div>
                                        </div>
                                        <div class="floatleft" style="padding-top:10px" data-bind="foreach : $root.ChiTietDoiTuong">
                                            <div class="form-group floatleft no-magrin">
                                                <label> Mã khách hàng</label>
                                                <div class="css-form-detail" data-bind="text: MaNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Tên khách hàng</label>
                                                <div class="css-form-detail" data-bind="text: TenNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Số điện thoại</label>
                                                <div class="css-form-detail" data-bind="text: SoDienThoai">KH0000104</div>
                                            </div>
                                        </div>
                                        <b><span ></span></b>
                                    </div>
                                    <div role="tabpanel" data-id="2" class="tab-pane fade nhacungcap modal-search-tab" id="tab_nhc_content2" aria-labelledby="profile-tab">
                                        <div>
                                            <div class=" seach-supplier">
                                                <a href="javascript:void(0)" data-bind="click: $root.DeleteDT">
                                                    <i class="fa fa-close fa-lg text-danger xoaCTDT" ></i>
                                                </a>
                                                <input type="text" data-bind="JqAutoSoQuyDT: { source: DoiTuongs, value: selectedTenDoiTuong,
                                                         inputProp: 'TenDoiTuong', labelProp: 'TenDoiTuong', valueProp: 'ID', template: 'rowChiTiet'}" placeholder="Tìm kiếm" class="form-control ui-autocomplete-input txtKhachHang">
                                                <script id="rowChiTiet" type="text/html">
                                                    @Html.Partial("~/Views/Component/_ko-ListSearchNguoiNopTien.cshtml")
                                                </script>
                                            </div>
                                        </div>
                                        <div class="col-md-12 " style="padding-top:10px" data-bind="foreach : $root.ChiTietDoiTuongNCC">
                                            <div class="form-group floatleft no-magrin">
                                                <label> Mã nhà cung cấp</label>
                                                <div class="css-form-detail" data-bind="text: MaNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Tên nhà cung cấp</label>
                                                <div class="css-form-detail" data-bind="text: TenNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Số điện thoại</label>
                                                <div class="css-form-detail" data-bind="text: SoDienThoai">KH0000104</div>
                                            </div>
                                        </div>
                                        <b><span ></span></b>
                                    </div>
                                    <div role="tabpanel" data-id="3" class="tab-pane fade nhanv modal-search-tab" id="tab_nhc_content3" aria-labelledby="profile-tab">
                                        <div>
                                            <div class=" seach-supplier">
                                                <a href="javascript:void(0)" data-bind="click: $root.DeleteNV">
                                                    <i class="fa fa-close fa-lg text-danger xoaCTNV" ></i>
                                                </a>
                                                <input type="text" data-bind="JqAutoSoQuyNV: { source: NhanViens, value: selectedTenNhanVien,
                                                         inputProp: 'TenNhanVien', labelProp: 'TenNhanVien', valueProp: 'ID', template: 'rowChiTiet' }" placeholder="Tìm kiếm" class="form-control ui-autocomplete-input txtNhanVien">
                                                <script id="rowChiTiet" type="text/html">
                                                    @Html.Partial("~/Views/Component/_ko-ListSearchNguoiNopTien.cshtml")
                                                </script>
                                            </div>
                                        </div>
                                        <div class="col-md-12 " style="padding-top:10px" data-bind="foreach : $root.ChiTietDoiTuongNV">
                                            <div class="form-group floatleft no-magrin">
                                                <label> Mã nhân viên</label>
                                                <div class="css-form-detail" data-bind="text: MaNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Tên nhân viên</label>
                                                <div class="css-form-detail" data-bind="text: TenNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Số điện thoại</label>
                                                <div class="css-form-detail" data-bind="text: SoDienThoai">KH0000104</div>
                                            </div>
                                        </div>
                                        <b><span ></span></b>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group floatleft">
                        <label class="css-form-label req ng-binding">Khoản mục chi</label>
                        <div class="form-wrap">
                            <div id="txtLoaiChiNH" class="form-control floatleft collection">--Chọn mục chi--</div>
                            <a class="iptBtn" data-bind="click: addLoaiChi" title="Thêm loại thu">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="seach-company">
                                <div class="op-form-group">
                                    <input type="text" class=" floatleft" data-bind="value: filterLoaiChi, valueUpdate: 'afterkeydown'" />
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <ul id="lstLoaiChiNH">
                                    <li data-bind="click : clickFistChonLCNH">
                                        <a href="javascript:void(0)">--Chọn mục chi --</a>
                                    </li>
                                    <!--ko foreach: arrFilterLoaiChi-->
                                    <li data-bind="click :$parent.loadLoaiChi">
                                        <div class="op-input-group">
                                            <a href="javascript: void(0)" data-bind="text: NoiDungThuChi, attr:{id : ID}"></a>
                                            <span style="position:absolute; top:7px; right:7px" data-bind="attr:{id: 'spanCheckLCNH_'+ ID}" class="pull-right"></span>
                                        </div>
                                    </li>
                                    <!--/ko -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Tiền chi<span class="red">(*)</span></label>
                        <div class="form-wrap"><input id="txtGiaTriChiNH" type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched text-right" required="" data-bind="textInput: TongTienThu" onkeyup="return formatNumberObj(this)" onkeypress="return keyPress(event)"></div>
                    </div>
                    <div class="form-group floatleft">
                        <label class="css-form-label req ng-binding">Tài khoản chi</label>
                        <div class="form-wrap">
                            <select class="form-control" id="ddlTaiKhoan" data-bind="options: $root.TaiKhoans, optionsValue: 'ID',
                                    value: $root.selectedTaiKhoanAddPhieu, optionsCaption: '---Chọn tên TK---', optionsText: function (item) { return item.TenChuThe }"></select>
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Nội dung chi</label>
                        <div class="form-wrap"><textarea rows="2" class=" ng-pristine ng-untouched ng-valid ng-empty" data-bind="value: NoiDungThu">        </textarea></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="floatleft"><input style="margin-right:5px;" type="checkbox" value="checked" data-bind="checked: HachToanKinhDoanh, checkedvalue: true" />Hạch toán vào kết quả hoạt động kinh doanh </label>
                    </div>
                   
               
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
                <button type="button" class="btn btn-save btnAddSoQuyNH" data-bind="click: addSoQuyNH"><i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
