    <div class="modal-content ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            <h4 class="modal-title" id="myModalLabel">
                Thêm mới phiếu thu tiền gửi
            </h4>
        </div>
        <div class="modal-body floatleft">
            
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Số phiếu thu</label>
                        <div class="form-news">
                            <input type="text" id="txtMaPhieuThuNH" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" required="" placeholder="Mã tự động" data-bind="value: MaHoaDon">
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Ngày lập</label>
                        <div class="form-news">
                            <!--ko if: $root.Allow_ChangeTimeSoQuy-->
                            <input type='text' id="txtNgayLapHoaDonNHThu" class="form-control datetimepicker4" placeholder="Thời gian được lấy tự động"
                                   data-bind="value: NgayLapHoaDon" />
                            @*<i class="fa fa-calendar" aria-hidden="true"></i>*@
                            <!--/ko-->
                            <!--ko if: !$root.Allow_ChangeTimeSoQuy()-->
                            <span data-bind="text: NgayLapHoaDon">
                            </span>
                            <!--/ko-->
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label class="css-form-label req ng-binding">Thu cho</label>
                        <div class="form-news soquy_modal">
                            <div  role="tabpanel" data-example-id="togglable-tabs">
                                <ul class="nav nav-tabs " id="myTab3" role="tablist">
                                    <li role="presentation" class="khachhang active" data-id="1" data-bind="click: ChangeTab_Modal(1)">
                                        <a href="#tab_nht_content1" role="tab" data-toggle="tab" class="title-tab" ria-expanded="true">Khách hàng</a>
                                    </li>
                                    <li role="presentation" class="nhacungcap" data-id="2" data-bind="click: ChangeTab_Modal(2)">
                                        <a href="#tab_nht_content2" role="tab" data-toggle="tab" class="title-tab" aria-expanded="false">Nhà cung cấp</a>
                                    </li>
                                    <li role="presentation" class="nhanv" data-id="3" data-bind="click: ChangeTab_Modal(3)">
                                        <a href="#tab_nht_content3" role="tab" data-toggle="tab" class="title-tab" aria-expanded="false">Nhân viên</a>
                                    </li>
                                    <!--ko if: $root.isGara()-->
                                    <li role="presentation" data-id="4" data-bind="click: ChangeTab_Modal(4)">
                                        <a href="#tab_nht_content4" role="tab" data-toggle="tab" class="title-tab"
                                           aria-expanded="false">Bảo hiểm</a>
                                    </li>
                                    <!--/ko-->
                                </ul>
                                <div class="tab-content" id="myTabContent3">
                                    <div role="tabpanel" data-id="1" class="tab-pane fade khachhang active in  modal-search-tab" id="tab_nht_content1" aria-labelledby="home-tab">
                                        <div class="floatleft">
                                            <div class=" seach-supplier">
                                                <div class="op-input-group">

                                                    <input type="text" data-bind="JqAutoSoQuyDT: { source: DoiTuongs, value: selectedTenDoiTuongKH,
                                                         inputProp: 'TenDoiTuong', labelProp: 'TenDoiTuong', valueProp: 'ID', template: 'rowChiTiet'}" placeholder="Tìm kiếm" class="form-control ui-autocomplete-input txtKhachHang">
                                                    <button class="btn btn-default xoaCTDTKH" style="display:none" data-bind="click: $root.DeleteDTKH">
                                                        <i class="fa fa-close fa-lg text-danger "></i>
                                                    </button>
                                                </div>
                                                <script id="rowChiTiet" type="text/html">
                                                    @Html.Partial("~/Views/Component/_ko-ListSearchNguoiNopTien.cshtml")
                                                </script>
                                            </div>
                                        </div>
                                        <div class="floatleft" style="padding-top:10px" data-bind="foreach : $root.ChiTietDoiTuong">
                                            <div class="form-group floatleft no-magrin">
                                                <label> Mã khách hàng</label>
                                                <div class="css-form-detail" data-bind="text: MaNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Tên khách hàng</label>
                                                <div class="css-form-detail" data-bind="text: TenNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Số điện thoại</label>
                                                <div class="css-form-detail" data-bind="text: SoDienThoai">KH0000104</div>
                                            </div>
                                        </div>
                                        <b><span></span></b>
                                    </div>
                                    <div role="tabpanel" data-id="2" class="tab-pane fade nhacungcap modal-search-tab" id="tab_nht_content2" aria-labelledby="profile-tab">
                                        <div class="floatleft">
                                            <div class=" seach-supplier">
                                                <div class="op-input-group">
                                                    <input type="text" data-bind="JqAutoSoQuyDT: { source: DoiTuongs, value: selectedTenDoiTuong,
                                                         inputProp: 'TenDoiTuong', labelProp: 'TenDoiTuong', valueProp: 'ID', template: 'rowChiTiet'}" placeholder="Tìm kiếm" class="form-control ui-autocomplete-input txtKhachHang">
                                                    <button class="btn btn-default xoaCTDT" style="display:none" href="javascript:void(0)" data-bind="click: $root.DeleteDT">
                                                        <i class="fa fa-close fa-lg text-danger "></i>
                                                    </button>
                                                </div>

                                                <script id="rowChiTiet" type="text/html">
                                                    @Html.Partial("~/Views/Component/_ko-ListSearchNguoiNopTien.cshtml")
                                                </script>
                                            </div>
                                        </div>
                                        <div class="floatleft" style="padding-top:10px" data-bind="foreach : $root.ChiTietDoiTuongNCC">
                                            <div class="form-group floatleft no-magrin">
                                                <label> Mã nhà cung cấp</label>
                                                <div class="css-form-detail" data-bind="text: MaNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Tên nhà cung cấp</label>
                                                <div class="css-form-detail" data-bind="text: TenNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Số điện thoại</label>
                                                <div class="css-form-detail" data-bind="text: SoDienThoai">KH0000104</div>
                                            </div>
                                        </div>
                                        <b><span></span></b>
                                    </div>
                                    <div role="tabpanel" data-id="3" class="tab-pane fade nhanv  modal-search-tab" id="tab_nht_content3" aria-labelledby="profile-tab">
                                        <div class="floatleft">
                                            <div class=" seach-supplier">

                                                <div class="op-input-group">
                                                    <input type="text" data-bind="JqAutoSoQuyNV: { source: NhanViens, value: selectedTenNhanVien,
                                                         inputProp: 'TenNhanVien', labelProp: 'TenNhanVien', valueProp: 'ID', template: 'rowChiTiet' }" placeholder="Tìm kiếm" class="form-control ui-autocomplete-input txtNhanVien">
                                                    <button class="btn btn-default xoaCTNV" style="display:none" data-bind="click: $root.DeleteNV">
                                                        <i class="fa fa-close fa-lg text-danger "></i>
                                                    </button>
                                                </div>

                                                <script id="rowChiTiet" type="text/html">
                                                    @Html.Partial("~/Views/Component/_ko-ListSearchNguoiNopTien.cshtml")
                                                </script>
                                            </div>
                                        </div>
                                        <div class="floatleft" style="padding-top:10px" data-bind="foreach : $root.ChiTietDoiTuongNV">
                                            <div class="form-group floatleft no-magrin">
                                                <label> Mã nhân viên</label>
                                                <div class="css-form-detail" data-bind="text: MaNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Tên nhân viên</label>
                                                <div class="css-form-detail" data-bind="text: TenNhanVien">KH0000104</div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Số điện thoại</label>
                                                <div class="css-form-detail" data-bind="text: SoDienThoai">KH0000104</div>
                                            </div>
                                        </div>

                                    </div>

                                    <!--ko if: $root.isGara()-->
                                    <div role="tabpanel" data-id="4" class="tab-pane fade  modal-search-tab"
                                         id="tab_nht_content4" aria-labelledby="profile-tab">
                                        <div class="floatleft">
                                            <div class=" seach-supplier">
                                                <div class="op-input-group">
                                                    <input type="text" data-bind="JqAutoSoQuyDT: { source: DoiTuongs, value: selectedTenDoiTuong,
                                                         inputProp: 'TenDoiTuong', labelProp: 'TenDoiTuong', valueProp: 'ID', template: 'rowChiTiet'}" placeholder="Tìm kiếm" class="form-control ui-autocomplete-input">
                                                    <button class="btn btn-default xoaCTDT" data-bind="click: $root.DeleteDT">
                                                        <i class="fa fa-close fa-lg text-danger "></i>
                                                    </button>
                                                </div>

                                                <script id="rowChiTiet" type="text/html">
                                                    @Html.Partial("~/Views/Component/_ko-ListSearchNguoiNopTien.cshtml")
                                                </script>
                                            </div>
                                        </div>
                                        <div class="floatleft" style="padding-top:10px" data-bind="foreach : $root.ChiTietDoiTuongNCC">
                                            <div class="form-group floatleft no-magrin">
                                                <label> Mã cty bảo hiểm</label>
                                                <div class="css-form-detail" data-bind="text: MaNhanVien"></div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Tên cty bảo hiểm</label>
                                                <div class="css-form-detail" data-bind="text: TenNhanVien"></div>
                                            </div>
                                            <div class="form-group floatleft no-magrin">
                                                <label> Số điện thoại</label>
                                                <div class="css-form-detail" data-bind="text: SoDienThoai"></div>
                                            </div>
                                        </div>
                                        <b><span></span></b>
                                    </div>
                                    <!--/ko-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label class="css-form-label req ng-binding"> Khoản mục thu</label>
                        <div class="form-news" style="position:relative">
                            <div id="txtLoaiThuNH" class="form-control floatleft collection">--Chọn loại thu--</div>
                            <a class="iptBtn" data-bind="click: addLoaiThu" title="Thêm loại thu">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="seach-company">
                                <input type="text" style="padding-left:30px" class="input-simple floatleft" data-bind="value: filterLoaiThu, valueUpdate: 'afterkeydown'" />
                                <i class="fa fa-search" style="position:absolute; top:7px ; left:7px" aria-hidden="true"></i>
                                <ul id="lstLoaiThuNH">
                                    <li data-bind="click : clickFistChonLTNH">
                                        <a href="javascript:void(0)">--Chọn loại thu--</a>
                                    </li>
                                    <!--ko foreach: arrFilterLoaiThu-->
                                    <li data-bind="click :$parent.loadLoaiThu">
                                        <div class="op-input-group">
                                            <a href="javascript: void(0)" data-bind="text: NoiDungThuChi, attr:{id : ID}"></a>
                                            <span style="position:absolute;right:7px; top:7px" data-bind="attr:{id: 'spanCheckLTNH_'+ ID}" class="pull-right"></span>
                                        </div>
                                       
                                    </li>
                                    <!--/ko -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Tiền thu<span class="red">(*)</span></label>
                        <div class="form-news">
                            <input id="txtGiaTriThuNH" type="text" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched text-right"
                                   required="" data-bind="textInput: TongTienThu" onkeyup="return formatNumberObj(this)" onkeypress="return keyPress(event)">
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Tài khoản thu</label>
                        <div class="form-news">
                            <select class="form-control" id="ddlTaiKhoan" data-bind="options: $root.TaiKhoans, optionsValue: 'ID',
                                    value: $root.selectedTaiKhoanAddPhieu, optionsCaption: '---Chọn tên TK---', optionsText: function (item) { return item.TenChuThe }"></select>
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label class="css-form-label req ng-binding">Nội dung thu</label>
                        <div class="form-news"><textarea rows="2" class=" ng-pristine ng-untouched ng-valid ng-empty" data-bind="value: NoiDungThu">        </textarea></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newQuyHoaDon">
                        <label  class="floatleft"><input type="checkbox" value="checked" data-bind="checked: HachToanKinhDoanh, checkedvalue: true" style="margin-right:5px;" />Hạch toán vào kết quả hoạt động kinh doanh      </label>
                    </div>

              
        </div>
        <div class="modal-footer">
            <div class="container-fluid">

                <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
                <button type="button" class="btn btn-main btnAddSoQuyNH" data-bind="click: addSoQuyNH"><i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
<script>
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }
</script>
