
@{
    ViewBag.Title = "Customer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts {
<script src="~/Assets/Admin/Customer.js"></script>
    <script>
        vmCustomers.GetData();
    </script>
}
<div class="" id="Customers">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh sách khách hàng</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search  btn-filter">
                <button class="btn btn-dark pull-right" onclick="location.href='/Admin/Customer/EditCustomer'"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="col-md-8 col-sm-8 col-xs-12  form-input">
                        <div class="form-group">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Tìm kiếm khách hàng" v-model="modelSearch.text"v-on:keyup="keySearch" >
                           
                            <!-- /btn-group -->
                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>

                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content" style="display: block;">

                    @*<p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>*@

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title" style="display: table-cell;">Ảnh  </th>
                                    <th class="column-title" style="display: table-cell;">Link</th>
                                    <th class="column-title" style="display: table-cell;">Tên khách hàng </th>
                                    <th class="column-title" style="display: table-cell;">SDT</th>
                                    <th class="column-title" style="display: table-cell;">Email</th>
                                    <th class="column-title" style="display: table-cell;">Địa chỉ</th>
                                    <th class="column-title" style="display: table-cell;">Ngày tạo </th>
                                    <th class="column-title no-link last" style="display: table-cell;">
                                        <span class="nobr">#</span>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="even pointer"  v-for="(item, index) in dataResults">
                                    <td class=" "><img v-bind:src="item.Anh" style="width:70px;height:50px" /></td>
                                    <td class=""><a v-bind:href="item.Link" target="_blank">{{item.Link }}</a></td>
                                    <td class=" ">{{item.TenKhachHang}}</td>
                                    <td class=" ">{{item.SoDienThoai}}</td>
                                    <td class=" ">{{item.Email}}</td>
                                    <td class=" ">{{item.DiaChi }}</td>
                                    <td class="a-right a-right ">{{localValidate.convertDate(item.NgayTao) }}</td>
                                    <td class=" last">
                                        <a href="javascript:void(0)" v-on:click="ClickEdit(item.ID)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                                        <a href="javascript:void(0)" v-on:click="ClickRemove(item.ID)"><i class="fa fa-times" aria-hidden="true" style="color:red;"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="width:100%">
                        <ul class="pagination news-paper">
                            <li style="float: left; padding:6px 12px;">
                                {{modelSearch.pageItem}}

                            </li>
                            <li><a href="javascript:void(0)" id="Previouspage" v-on:click="ClickPrevious">&laquo;</a></li>
                            <li class="page-item">
                                <div class="page-link" style="float: left;width: 50px;">
                                    <input type="text" v-model="modelSearch.page" v-on:keyup="keySearch" class="form-control" style="height:32px" min="1">
                                </div>
                            </li>
                            <li class="page-item"><span class="page-link"> /</span></li>
                            <li class="page-item"><span class="page-link">{{modelSearch.pageCount}}</span></li>
                            <li><a href="javascript:void(0)" id="Nextpage" v-on:click="ClickNext"> &raquo;</a></li>

                        </ul>
                        <div class="pull-right recost">
                            <span>Số bản ghi</span>
                            <select required="required" class="form-control" id="SelectedLimit">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>

                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



