
<div class="banner banner-home">
    <div class="container">
        <div class="content-banner text-center">
            <h1 style="color: white">
                Trung tâm hỗ trợ sử dụng Open24
            </h1>
            <div class="input-filter">
                <input class="form-control _sear-hotro" type="text" placeholder="Nhập thông tin bạn muốn tìm kiếm..." value="@ViewBag.SearchString" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <h3> <font>Liên hệ ngay</font> <i class="fa fa-volume-control-phone highlight-text" aria-hidden="true"></i><span class="highlight-text">0247 303 9333</span><font> để được hỗ trợ trực tiếp</font></h3>
        </div>
    </div>
</div>
