<div class="container flex flex-column">
    <div class="list-introduces content-page-more">
        <h2 class="title title-page-more">
            @ViewBag.TitleCus
        </h2>
    </div>
    <ul class="list-tree-customer">
        <li class="" v-for="(item, index) in ListCustomer">
            <a v-bind:href="item.Url">
                <img v-bind:src="item.Images" onError="this.onerror=null;this.src='/Content/images/open24/IconHomePage/img-onerror.png';" v-bind:alt="item.Name" />
            </a>
        </li>
    </ul>
    <div class="text-center" style="margin: 5vh 0">
        <a href="/khach-hang" class="btn btn-default btn-more" v-show="IsShowCustomer"> Xem thêm </a>
    </div>
</div>

