


<div class="footer-open bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                <img src="~/Content/images/logo-22112021.png" style="height:40px; object-fit:scale-down" alt="Logo-Open24" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-12">
                <h4 style="line-height: 25px;">
                    CÔNG TY CP CÔNG NGHỆ PHẦN MỀM SSOFT VIỆT NAM <br />
                    SSOFT VIETNAM JSC
                </h4>
            </div>
        </div>
        <div class="row list-info-footer">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box-info">
                <h4>Thông tin hỗ trợ:</h4>
                <div style="display: flex">
                    <i class="fa fa-envelope" aria-hidden="true" style="color: #FFD40C"></i>
                    <p style="margin-left: 15px">hotro@open24.vn</p>
                </div>
                <div style="display: flex">
                    <i class="fa fa-users" aria-hidden="true" style="color: #FFD40C"></i>
                    <p style="margin-left: 15px">Về Open24</p>
                </div>
                <div style="display: flex">
                    <i class="fa fa-file-text-o" aria-hidden="true" style="color: #FFD40C"></i>
                    <p style="margin-left: 15px">Điều khoản sử dụng</p>
                </div>
                <div class="icon-social-network" style="display: flex; margin-top: 15px">
                    <a href="#">
                        <img style="margin-right: 3vh" src="~/Content/images/open24/IconHomePage/twitter-white.png" />
                    </a>
                    <a href="https://facebook.com/open24.vn" target="_blank">
                        <img style="margin-right: 3vh" src="~/Content/images/open24/IconHomePage/fb-white.png" />
                    </a>
                    <a href="#">
                        <img style="margin-right: 3vh" src="~/Content/images/open24/IconHomePage/ig-white.png" />
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box-info">
                <h4>Trụ sở:</h4>
                <div style="display: flex;margin-top: 15px">
                    <i class="fa fa-map-marker" aria-hidden="true" style="color: #FFD40C; margin: 2px 10px 0px 0; font-size: large;"></i>
                    Tầng 6,Tòa nhà Việt Á, <br />
                    Số 9 Duy Tân, Q. Cầu Giấy, <br />
                    Tp Hà Nội
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box-info">
                <h4>Hà Nội:</h4>
                <div style="display: flex;margin-top: 15px">
                    <i class="fa fa-map-marker" aria-hidden="true" style="color: #FFD40C; margin: 2px 10px 0px 0; font-size: large;"></i>
                    Tầng 7, Tòa nhà Handiresco, <br />
                    Số 31 Lê Văn Lương, <br />
                    Thanh Xuân, Hà Nội.
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box-info">
                <h4>&nbsp</h4>
                <div style="display: flex;margin-top: 15px">
                    <i class="fa fa-phone" aria-hidden="true" style="color: #FFD40C; margin: 2px 10px 0px 0; font-size: large;"></i>
                    0247.303.9333 <br />
                    0936.363.069 <br />

                </div>

            </div>

        </div>
    </div>
</div>