<div class="content-page-support">
    <div class="container">
        <div class="list-readson list-introduces">
            <h2 class="title text-center text-uppercase ">
                <strong class="line-br">Hàng ngàn doanh nghiệp đã tin tưởng </strong>
                <font><font class="color-size">& </font>Sử dụng phần mềm quản lý bán hàng OPEN24 vì...</font>
            </h2>
         <div class="col-md-4 col-xs-12 col-sm-6">
            <div class="fl itemcheck">
                <font class="img-check"><img src="~/Content/images/open24/check.png" /></font>
                <font class="text-left">Quản lý hiệu quả với mọi loại hình,<br /> mọi quy mô</font>
            </div>
             <div class="fl itemcheck">
                 <font class="img-check"><img src="~/Content/images/open24/check.png" /></font>
                 <font class="text-left">Tiết kiệm tối đa mọi tài nguyên: <br /> thời gian, sức lao động, hàng hóa...</font>
             </div>
             <div class="fl itemcheck">
                 <font class="img-check"><img src="~/Content/images/open24/check.png" /></font>
                 <font class="text-left line-sup">Giảm thiểu nhân sự, tăng hiệu suất lao động.</font>
             </div>
         </div>
            <div class="col-md-4 col-xs-12 mobile-none function-img">
                <img src="~/Content/images/open24/chart.png" />
            </div>
            <div class="col-md-4 col-xs-12  col-sm-6">
                <div class="fl itemcheck">
                    <font class="img-check"><img src="~/Content/images/open24/check.png" /></font>
                    <font class="text-left">Đội ngũ tư vấn chuyên nghiệp<br />hỗ trợ 24/7</font>
                </div>
                <div class="fl itemcheck">
                    <font class="img-check"><img src="~/Content/images/open24/check.png" /></font>
                    <font class="text-left">Tình hình kinh doanh, thông tin khách hàng luôn được bảo mật tuyệt đối.</font>
                </div>
                <div class="fl itemcheck">
                    <font class="img-check"><img src="~/Content/images/open24/check.png" /></font>
                    <font class="text-left">Liên tục có những chương trình<br /> đồng hành phát triển cùng<br />doanh nghiệp</font>
                </div>
            </div>
        </div>
    </div>
</div>
 