
<div class="content-page-two content-page-ho-tro247 ">
    <div class="container">
        <div class="list-introduces ct-group-dk">
            <div class="hotro247-l">
                <h2 class="title title-247">
                    <strong> Open24 cam kết</strong>
                    Đem lại cho bạn sự <strong>hài lòng</strong><br /> với <strong>Sản phẩm</strong> và <strong>Dịch vụ</strong> của Open24 dành cho bạn
                </h2>
                <a href="javascript:void(0)" class="btn-dang-ky-ct element btn-dk-home"><i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
            <div class="hotro247-r">
                <div class="hotro247-image">
                    <h2><span class="lh1">HỖ TRỢ</span> <br> <span class="lh2">24/7</span></h2>
                    </div>
                @*<img src="~/Content/images/open24/ho-tro.png" />*@
            </div>
        </div>
    </div>

</div>
