<div class="page-price" data-aos="zoom-in">
    <div class="list-introduces">
        <h2 class="title">
            Bảng giá phần mềm
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card">
                    <h3 class="page-price-title">Gói tiết kiệm</h3>
                    <img class="card-img-top" src="~/Content/images/open24/GaraPage/price1.png" alt="Card image">
                    <div class="card-body">
                        <h2 class="card-title">230.000<small>đ/tháng</small></h2>
                        <p class="card-text">
                            Một chi nhánh <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Không giới hạn hàng hóa, dịch vụ <br />
                            <i class="fa fa-check" aria-hidden="true"></i> 03 người dùng <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Đầy đủ tính năng cơ bản <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Tính năng mở rộng: <br />
                            - Theo dõi lịch hẹn, đặt lịch <br />
                            - Quản lý lương, hoa hồng nhân viên. <br />
                        </p>
                        <button class="RegisterBtn">
                            Đăng kí dùng thử
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 box-shadow">
                <div class="card">
                    <h3 class="page-price-title">Gói tiêu chuẩn</h3>
                    <img class="card-img-top" src="~/Content/images/open24/GaraPage/price2.png" alt="Card image">
                    <div class="card-body">
                        <h2 class="card-title">259.000<small>đ/tháng</small></h2>
                        <p class="card-text">
                            Một chi nhánh <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Không giới hạn hàng hóa, dịch vụ <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Không giới hạn người dùng <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Đầy đủ tính năng cơ bản <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Tính năng mở rộng: <br />
                            - Theo dõi lịch hẹn, đặt lịch <br />
                            - Quản lý lương, hoa hồng nhân viên <br />
                            - Quản lý gói dịch vụ, liệu trình <br />
                            - Quản lý tích điểm <br />
                        </p>
                        <button class="RegisterBtn btn-focus">
                            Đăng kí dùng thử
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card">
                    <h3 class="page-price-title">Gói chuyên nghiệp</h3>
                    <img class="card-img-top" src="~/Content/images/open24/GaraPage/price3.png" alt="Card image">
                    <div class="card-body">
                        <h2 class="card-title">360.000<small>đ/tháng</small></h2>
                        <p class="card-text">
                            Một chi nhánh <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Không giới hạn hàng hóa, dịch vụ <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Không giới hạn người dùng <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Đầy đủ tính năng cơ bản <br />
                            <i class="fa fa-check" aria-hidden="true"></i> Tính năng mở rộng: <br />
                            - Theo dõi lịch hẹn, đặt lịch <br />
                            - Quản lý lương, hoa hồng nhân viên. <br />
                            - Theo dõi lịch hẹn, đặt lịch <br />
                            - Quản lý lương, hoa hồng nhân viên <br />
                            - Quản lý gói dịch vụ, liệu trình <br />
                            - Quản lý tích điểm <br />
                            - Quản lý marketing email, sms <br />
                            - Quản lý công việc <br />
                        </p>
                        <button class="RegisterBtn">
                            Đăng kí dùng thử
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_CustomerPartial")

<div class="btn-group-home">
    <button class="btn-more-info btn-dang-ky-ct" v-on:click="javascript:void(0)">
        <span style="font-weight: normal">Xem thêm</span>
    </button>
</div>