<div class="page-request">
    <div class="container">
        <div class="list-introduces content-page-more">
            <h2 class="title title-page-more speed-animation">
                Gửi yêu cầu tư vấn
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="txtHoTen" placeholder="Họ và tên">
                        <label for="txtHoTen">Họ và tên</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com">
                        <label for="txtEmail">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="txtDienThoai" placeholder="Số điện thoại">
                        <label for="txtDienThoai">Số điện thoại</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="txtDiaChi" placeholder="Địa chỉ">
                        <label for="txtDiaChi">Địa chỉ</label>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-6  col-sm-6 col-12">
                <form>
                    <div class="form-floating mb-3">
                        <textarea type="text" class="form-control" id="txtNoiDung" placeholder="Nội dung yêu cầu" style="height:205px"></textarea>
                        <label for="txtNoiDung">Nội dung</label>
                    </div>
                    <button class="btn-submit" style="margin:10px 0">
                        <i class="fa fa-hand-o-right" aria-hidden="true" style="font-size:22px"></i>
                        Gửi yêu cầu
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>