
<div class="banner banner-price-list">
    <div class="container">
        <div class="price-list list-introduces">
            <h2 class="title border-bot-center">
                Bảng giá dịch vụ
            </h2>
            <div class="Package">
                <div class="pk-head">
                    <h4>Gói tiết kiệm</h4>
                    <p><span>140.000</span> <font color="#999">đ/ tháng</font></p>

                </div>
                <div class="pk-body">
                    <label>Một cửa hàng</label>
                    <ul>
                        <li>Không giới hạn hàng hóa, dịch vụ</li>
                        <li>03 người dùng</li>
                        <li>Đầy đủ tính năng cơ bản</li>
                    </ul>
                </div>
                <div class="pk-footer">
                    <a href="javascript:void(0)" class="btn-price-dung-thu">Dùng thử miễn phí </a>
                </div>

            </div>

            <div class="Package">
                <div class="pk-head">
                    <h4>Gói tiêu chuẩn</h4>
                    <p><span>199.000</span> <font color="#999">đ/ tháng</font></p>

                </div>
                <div class="pk-body">
                    <label>Một cửa hàng</label>
                    <ul>
                        <li>Không giới hạn mặt hàng</li>
                        <li>Không giới hạn người dùng</li>
                        <li>Đầy đủ tính năng cơ bản</li>
                        <li>
                            Đầy đủ tính năng mở rộng
                            <div class="pk-list-li">
                                <p>- Chăm sóc khách hàng</p>
                                <p>- Quản lý công việc, lịch hẹn</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="saving">
                    Gói mua nhiều
                </div>
                <div class="pk-footer">
                    <a href="javascript:void(0)" class="btn-price-dung-thu ">Dùng thử miễn phí </a>
                </div>
            </div>
            <div class="Package boder-r">
                <div class="pk-head">
                    <h4>Gói chuyên nghiệp</h4>
                    <p><span>350.000</span><font color="#999"> đ/ tháng</font></p>

                </div>
                <div class="pk-body">
                    <label>Một cửa hàng</label>
                    <ul>
                        <li>Không giới hạn mặt hàng</li>
                        <li>Không giới hạn người dùng</li>
                        <li>Đầy đủ tính năng cơ bản</li>
                        <li>
                            Đầy đủ tính năng mở rộng
                            <div class="pk-list-li">
                                <p>- Chăm sóc khách hàng</p>
                                <p>- Quản lý công việc lịch hẹn</p>
                                <p>- Quản lý lô hàng sử dụng</p>
                                <p>- Quản lý nhân sự</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pk-footer">
                    <a href="javascript:void(0)" class="btn-price-dung-thu">Dùng thử miễn phí </a>
                </div>
            </div>
        </div>
    </div>
</div>
