
@using Model_banhang24vn.Common
<div class="banner banner-gara-dang-ky">
    <div class="container">
        <div class="gara-dang-ky">
            <div class="gr-dk-left mobile-none">
                <img src="~/Content/images/open24/gara-co-gai-dk.png" />
            </div>
            <div class="gr-dk-right">
                <div class="group-input-contact">
                    <h3 class="title-dang-ky"> Hơn 5000+ cửa hàng, doanh nghiệp đã sử dụng và thành công. Còn bạn thì sao?</h3>
                    <p class="text-center">Trải nghiệm <span style="font-weight:bold">15 ngày sử dụng miễn phí</span> Open24 ngay !</p>
                    <div class="form-group fl">
                        <input type="text" class="form-control" placeholder="Tên bạn" v-model="CuahangDangKy.FullName">
                    </div>
                    <div class="form-group fl">
                        <input type="text" class="form-control" placeholder="Số điện thoại" v-model="CuahangDangKy.Phone">
                    </div>
                    <div class="form-group fl">
                        <select class="form-control" id="linhvuckd">
                            <option value="-1">-- Chọn lĩnh vực bạn kinh doanh --</option>
                            @foreach (var item in Notification.ListKeyInTitle.ToList())
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>

                    </div>
                    @*<div class="form-group fl">
                            <input type="text" class="form-control" placeholder="Địa chỉ">
                        </div>*@
                    <div class="form-group fl">
                        <textarea rows="1" class="fl" placeholder="Địa chỉ" v-model="CuahangDangKy.Address"></textarea>
                    </div>
                    <div class="form-group fl">
                        <textarea rows="3" class="fl" placeholder="Ghi chú" v-model="CuahangDangKy.Note"></textarea>
                    </div>
                    <div class="form-group fl">
                        <button type="button" class="form-control btn-send-contact" v-on:click="Clickdangky">
                            <img src="~/Content/images/open24/i-check.png" />
                            Đăng ký ngay
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>