 <section class="banner-weareone flex">
    <div class="container">
        <div class="gr-trial fl text-left">
            <p>
                Chúng tôi luôn <span style="color: #FFD40C">đồng hành cùng bạn</span><br>
                <span style="color: #FFD40C">Thành công của bạn</span> chính là <br />
                mong muốn của chúng tôi
            </p>
            <div>
                <button class="btn-ads yellow" data-bs-toggle="modal" data-bs-target="#modalTuVan">
            Đăng kí dùng thử
                </button>
            </div>
        </div>
    </div>
</section>
