
@{
    ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng đồ chơi trẻ em";
    
}

<div id="renderBody">
    <div class="banner banner-prd-dochoi bn-img banner-tinh-nang">
        <div class=" content-banner content-prd content-prd-dochoi ">
            <h1 class="line-one"><strong> PHẦN MỀM QUẢN LÝ </strong><br /><font>ĐỒ CHƠI TRẺ EM</font> </h1>
            <p><font>Dễ như ăn kem -</font> Một phút là quen</p>
            <div class="btn-group-prd-gara">
                <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home ">Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>

    </div>

    <div class="banner ">
        <div class="container  page-function">
            <div class="list-Weakness">
                <h3 class="title border-bot">Bạn đang gặp phải khó khăn khi kinh doanh đồ chơi trẻ em?</h3>
                <ul class="tree-Weakness">
                    <li>Thất thoát đồ chơi nhỏ lẻ vì có quá nhiều chủng loại, mẫu mã không kiểm soát được </li>
                    <li>Thường xuyên nhầm lẫn mỗi khi triển khai hoạt động khuyến mãi, giảm giá làm giảm doanh thu</li>
                    <li>Không biết làm cách nào để thu hút khách hàng mới, giữ chân khách hàng cũ.</li>
                    <li>Muốn dành thời gian chăm sóc cho gia đình nhưng lo ngại nhân viên làm việc không hiệu quả làm doanh thu giảm sút.  </li>
                    <li>Không nắm được tình hình kinh doanh của chuỗi cửa hàng, chi nhánh ở nhiều địa điểm khác nhau.</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="banner banner-gara-service">
        <div class="container  ">
            <div class="list-service list-introduces">
                <h2 class="title border-bot-center">
                    Open24 - Trợ thủ đắc lực<br /> giúp bạn giải quyết mọi khó khăn với các tính năng toàn diện
                </h2>
                <div class="tree-service">
                    <div class="col-md-12">
                        <div class="tree-li">
                            <h4><span class="number-title-pr">1</span>Quản lý hàng hóa</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-hang-hoa.jpg" />
                                </div>
                                <div class="text">
                                    <p>Lưu thông tin chi tiết về hàng hóa như: mã, tên, màu sắc, lô hàng, giá nhập, giá bán, thương hiệu, chủng loại…</p>
                                    <p>Hỗ trợ tra cứu, tìm kiếm thông tin sản phẩm theo mã và theo nhóm: đồ chơi trí tuệ, đồ chơi vận động...</p>
                                    <p>Hỗ trợ kiểm kê, điều chỉnh giá bán, giá vốn thông minh, linh hoạt.</p>
                                    <p>
                                        Cho phép tra cứu, tìm kiếm thông tin sản phẩm theo trường lọc.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">2</span>Quản lý bán hàng</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-ban-hang.jpg" />
                                </div>
                                <div class="text">
                                    <p>Xử lý chuyển trạng thái đơn hàng từ đơn đặt sang đơn bán.</p>
                                    <p>Cho phép tạo hóa đơn bán hàng, hóa đơn thanh toán ngay cả khi mất kết nối Internet.</p>
                                    <p>Hỗ trợ nhiều hình thức thanh toán: tiền mặt, thẻ, voucher, ghi nợ...</p>
                                    <p>Tích hợp với nhiều thiết bị phần cứng liên quan: máy in hóa đơn, máy quét mã vạch...</p>
                                </div>
                            </div>
                        </div>
                        <div class="tree-li">

                            <h4><span class="number-title-pr">3</span>Quản lý kho đồ chơi trẻ em</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-kho-do-choi.jpg" />
                                </div>
                                <div class="text">
                                    <p>Theo dõi số lượng và giá trị hàng nhập kho, xuất kho.</p>
                                    <p>Kiểm soát kho hàng bằng mã vạch thông minh.</p>
                                    <p>Cảnh báo mã sản phẩm dưới định mức tồn tối thiểu, vượt định mức tồn tối đa.</p>
                                    <p>Luân chuyển hàng hóa linh hoạt giữa các kho hàng, chi nhánh.</p>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-md-12">

                        <div class="tree-li">
                            <h4><span class="number-title-pr">4</span>Quản lý và chăm sóc khách hàng</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-cham-soc-khach-hang.jpg" />
                                </div>
                                <div class="text">
                                    <p>Lưu trữ thông tin chi tiết về khách hàng như tên, ngày sinh nhật, địa chỉ, số điện thoại, nguồn khách, nhóm khách... </p>
                                    <p>Quản lý khách hàng theo nhóm: nhóm thân thiết, nhóm khách hàng mua với hóa đơn giá trị lớn...</p>
                                    <p>Nhắc nhở ngày sinh nhật, ngày kỷ niệm của khách và tự động gửi tin nhắn chúc mừng đến khách hàng.</p>

                                </div>
                            </div>
                        </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">5</span>Quản lý nhà cung cấp</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-nha-cung-cap.jpg" />

                                </div>
                                <div class="text">
                                    <p>Quản lý khai báo thông tin nhà cung cấp theo từng nhóm riêng.</p>
                                    <p>Quản lý lịch sử giao dịch đối với từng nhà cung cấp.</p>
                                    <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp.  </p>
                                </div>
                            </div>
                        </div>

                        <div class="tree-li">
                            <h4><span class="number-title-pr">6</span>Quản lý Marketing</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />
                                </div>
                                <div class="text">
                                    <p>Thiết lập đa dạng hình thức khuyễn mãi: giảm giá hóa đơn, tặng hàng, giảm giá hàng... thông qua 1 lần cài đặt.  </p>
                                    <p>Theo dõi, kiểm soát số lượng các mã khuyến mại đã áp dụng.</p>
                                    <p>Gửi tin nhắn thông báo chương trình khuyến mãi, giảm giá đến từng khách hàng.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">


                        <div class="tree-li">
                            <h4><span class="number-title-pr">7</span>Quản lý và tính lương nhân viên</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                                </div>
                                <div class="text">
                                    <p>Kiểm soát thời gian và ca làm việc của từng nhân viên tại cửa hàng.</p>
                                    <p>Cho phép phân quyền nhân viên thao tác trên phần mềm theo từng bộ phận, chức năng.</p>
                                    <p>Lưu trữ lịch sử giao dịch phát sinh của từng nhân viên: bán hàng, thu ngân, kiểm kho, lập sổ quỹ...</p>
                                    <p>Tính toán lương, phần trăm hoa hồng cho nhân viên.</p>
                                </div>
                            </div>
                        </div>


                        <div class="tree-li">
                            <h4><span class="number-title-pr">8</span>Quản lý quỹ, công nợ</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-quy-cong-no.jpg" />
                                </div>
                                <div class="text">
                                    <p>Tổng hợp công nợ phải thu, phải trả với khách hàng và nhà cung cấp.</p>
                                    <p>Quản lý nhật ký thu tiền, chi tiền để tự động cập nhật sổ quỹ.</p>
                                    <p>Phân chia các khoản thu, chi với nhà cung cấp, nhân viên và khách hàng theo thực tế nhu cầu hoạt động.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-bc-tong-hop.jpg" />
                                </div>
                                <div class="text">
                                    <p>Tự động tổng hợp các báo cáo về: bán hàng, kho hàng, doanh thu, chi phí, lương nhân viên, khách hàng theo từng ngày.</p>
                                    <p>Cho phép xem báo cáo trên nhiều dạng: list, biểu đồ... </p>
                                    <p>Truy cập hệ thống báo cáo mọi lúc mọi nơi trên mọi thiết bị.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="banner banner-function" style="  ">
        <div class="container  ">
            <div class="list-function list-function-new list-introduces">
                <h2 class="title no-margin-bot">
                    Quản lý hiệu quả, doanh thu bứt phá cùng Open24
                </h2>
                <a href="javascript:void(0)" class="btn-dang-ky-ct element "><i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>

    <div class="banner banner-useful bn-img">
        <div class="container wid100">
            <div class="list-useful list-useful-new">
                <div class="">
                    <div class="fl">
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Theo dõi & quản lý dễ dàng kho đồ chơi trẻ em theo mặt hàng xuất/ nhập, bán chạy, hàng sắp hết </p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Thiết lập, theo dõi chương trình khuyến mãi, giảm giá đồng bộ cho cửa hàng chỉ cần 1 lần cài đặt. </p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Chăm sóc khách hàng chuyên nghiệp hơn nhờ việc tự động gửi tin nhắn chúc mừng, thông báo theo: ngày sinh nhật, hàng mới về, khuyến mãi,  tri ân...</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Không cần có mặt tại cửa hàng vẫn nắm bắt được hoạt động phát sinh từ nhân viên nhờ việc quản lý từ xa trên mọi thiết bị di động.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Hệ thống báo cáo chi tiết đến từng con số được biểu diễn trực quan dưới dạng biểu đồ giúp bạn có cái nhìn tổng quan về tình hình kinh doanh.</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>



    @*@Html.Partial("_FunctionPartial")*@

    @*@Html.Partial("_CustomerPartial")*@

    @Html.Partial("_GrdungthuPartial")

    @Html.Partial("_ServicePartial")

    @Html.Partial("_TinhNangDangKyparial")
</div>
<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>
        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>


