@{
    ViewBag.Title = "Phần mềm quản lý Gara ô tô, xe máy";
    ViewBag.MetaDescription = "Phần mềm quản lý kinh doanh và bán hàng toàn diện Open24";
    ViewBag.TitleCus = "Khách hàng đang sử dụng Lucky Gara !";
}
<style>
    :root {
        --color-theme: #0E63C4;
        --color-theme-2: #b7d7fa
    }

    .op-description-body {
        display: block;
    }

    .op-description-toggle.arrow-up > i {
        transform: rotate(-180deg);
    }

    .op-description-toggle > i {
        transition: all 0.4s ease;
        transform: rotate(0);
    }

    .op-description {
        background: white;
        border-radius: 10px;
        border: 1px solid #D4EBFF;
        padding: 10px 3px;
    }

    .op-description-title {
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
</style>

@using Model_banhang24vn.Common
<div id="renderBody">
    <input id="currentPage" value="Gara" hidden />
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content" data-aos="fade-right">
                <div class=" " style="background:red; height:45px; width:45px; padding:10px; border-radius:25px;">
                    <i class="fa fa-car" style="font-size:24px; color:white">
                    </i>
                </div>
                <h1 class="op-gara-heading">
                    <span>Open24 Gara</span>
                    <br />
                    <span style="        color: white;
">
                        Phần mềm cực hay
                    </span>
                    <br />
                    <span style="        color: white;
">
                        Chạy là mê ngay!
                    </span>
                </h1>
                <button class="btn-ads" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
                @*<button class="btn-ads" style="background: #FFD40C" data-toggle="modal" data-target="#modalTuVan">Đặt mua</button>*@
            </div>
            <div class="op-banner-image">
                <img src="~/Content/images/gara/gara_car.png" class="gara-car-img" alt="gara xe" />
                
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center; display: flex;flex-direction: column; justify-content: center;">
        <font style="font-size: 32px; margin: 50px 0;">Quy trình sửa chữa Open24 Gara</font>
        <div style="padding:15px; display:flex; flex-direction:row; flex-wrap:wrap;">

            <div class="op-quytrinh">

                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-1.svg" />
                    <div>
                        <span>1</span>
                        <b>Tiếp đón xe</b>
                    </div>
                </div>



                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-2.svg" />
                    <div>
                        <span>2</span>
                        <b>Đánh giá trình trạng xe</b>
                    </div>
                </div>


                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-3.svg" />
                    <div>
                        <span>3</span>
                        <b>Lập báo giá</b>
                        <b>lên phương</b>
                        <b>án sửa chữa</b>
                    </div>
                </div>



                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-4.svg" />
                    <div>
                        <span>4</span>
                        <b>Lên hợp đồng,</b>
                        <b> lệnh sửa chữa</b>
                    </div>
                </div>
                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-5.svg" />
                    <div>
                        <span>5</span>
                        <b>Tiến hành sửa chữa</b>
                    </div>
                </div>
                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-6.svg" />
                    <div>
                        <span>6</span>
                        <b>Nghiệm thu,</b>
                        <b> thanh lý, bàn giao</b>
                    </div>
                </div>
                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-7.svg" />
                    <div>
                        <span>7</span>
                        <b>Lập phiếu cho</b>
                        <b> xe xuất xưởng</b>
                    </div>
                </div>
                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-8.svg" />
                    <div>
                        <span>8</span>
                        <b>Chăm sóc khách hàng,</b>
                        <b> nhắc nhở bảo dưỡng</b>
                    </div>
                </div>
                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-9.svg" />
                    <div>
                        <span>9</span>
                        <b>Theo dõi công nợ</b>
                    </div>
                </div>
                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/gara/gara-quytrinh-10.svg" />
                    <div>
                        <span>10</span>
                        <b>Báo cáo kết quả</b>
                        <b> kinh doanh</b>
                    </div>
                </div>

            </div>
            @*<img src="~/Content/images/open24/op-gara-bg.svg" style="width: 652px; max-width: 80vw;" />*@
        </div>
    </div>
    <!--quy trinh sua chua-->
    <div class="container">
        <div class="op-section-title">
            <font>Tính năng chính Open24 Gara</font>
        </div>
        <div style="display:flex; flex-direction:row; flex-wrap:wrap">
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">1</span>
                            Quản lý xe, phụ tùng, kho
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Theo dõi chi tiết thông tin xe: Biển số, số khung, số máy, nhật ký sửa chữa
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý danh mục phụ tùng, dịch vụ sửa chữa
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý kho hàng, nhập mua, xuất bán, xuất sửa chữa, tồn kho
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">2</span>
                            Quản lý sửa chữa
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Cố vấn dịch vụ tiếp nhận xe, đánh giá tình trạng xe
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Lập báo giá, báo giá bảo hiểm duyệt
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Theo dõi tiến độ sửa chữa
                            </span>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">3</span>
                            Quản lý hợp đồng, báo giá

                        </div>
                    
                   
                   

                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý báo giá đã duyệt, thu đặt cọc ( nếu có )
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Lập hợp đồng, lệnh sửa chữa
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Xuất kho hàng hóa vật tư theo báo giá duyệt
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">4</span>
                            Quản lý mua hàng, bán hàng
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý nhập mua, trả lại nhà cung cấp
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý bán hàng, xuất kho phụ tùng sửa chữa, xuất bán lẻ
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý đổi trả phụ tùng
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">5</span>
                            Quản lý khách hàng, bảo hiểm, nhà cung cấp
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý thông tin khách hàng, chủ xe
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý thông tin các công ty bảo hiểm
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý thông tin nhà cung cấp, đối tác
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">6</span>
                            Quản lý tài chính, công nợ
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý sổ quỹ, nhật ký thu tiền, chi tiền theo từng khoản mục
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Theo dõi thu, chi đặt cọc sửa chữa
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý công nợ khách hàng, nhà cung cấp, bảo hiểm
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">7</span>
                            Hệ thống báo cáo kinh doanh
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Hệ thống báo cáo doanh thu, chi phí sửa chữa theo từng xe
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Báo cáo tổng hợp hàng hóa, khách hàng, nhà cung cấp, bảo hiểm, kho
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Báo cáo kết quả hoạt động kinh doanh theo ngày, tháng, quý, năm
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">8</span>
                            Nhắc lịch bảo hành, bảo dưỡng
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Nhắc nhở xe đến hạn thay dầu, bảo dưỡng
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Theo dõi lịch bảo hành phụ tùng theo xe
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Hệ thống chăm sóc khách hàng định kỳ
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">9</span>
                            Marketing email, smsbrandname
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý email marketing gửi mail hàng loạt
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Tích hợp hệ thống tin nhắn thương hiệu sms brandname
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Báo cáo phân tích, thống kê hoạt động email, sms marketing
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">10</span>
                            Chấm công, tính lương, hoa hồng
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý chấm công hàng ngày, hàng giờ
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý hoa hồng bán hàng, tư vấn, thực hiện sửa chữa
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-circle "></i>
                            <span class="op-description-detail">
                                Quản lý bảng lương tổng hợp, lương hoa hồng, lương kinh doanh
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="op-section-title">
                <font>Bảng giá phần mềm Open24 Gara</font>
                <div style="display:flex; flex-direction:column">
                    <span>Không chi phí phát sinh</span>
                    <span>
                        Hỗ trợ trong suốt quá trình sử dung
                    </span>
                    <span>
                        Miễn phí khởi tạo, thiết kế mẫu biểu báo giá, hợp đồng, lệnh sửa chữa …
                    </span>
                </div>
            </div>
            <div class="flex op-price">
                <!--gói tiết kiệm-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói tiết kiệm</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/save-money.png" />
                        </div>
                        <div class="flex flex-column">
                            <div>
                                <font style="color:var(--color-theme); font-size:32px">595.000</font>
                                <span>đ/tháng</span>
                            </div>
                            <div class="flex flex-row flex-around">
                                <div style="text-decoration: line-through; color: #5c5c5c;">
                                    <font>795.000</font>
                                    <span>đ/tháng</span>
                                </div>
                                <span style="background-color: red; color: white;">-25%</span>
                            </div>
                        </div>
                        <div class="op-panel-detail">
                            <div>  Quản lý xe, phụ tùng, kho</div>
                            <div>  Quản lý sửa chữa</div>
                            <div>  Quản lý hợp đồng, báo giá</div>
                            <div>   Quản lý mua hàng, bán hàng</div>
                            <div>  Quản lý khách hàng, bảo hiểm</div>
                            <div> Quản lý tài chính, công nợ</div>
                            <div> Hệ thống báo cáo kinh doanh</div>
                            <div> Nhắc lịch bảo hành, bảo dưỡng</div>
                            <div class="op-price-excepted">Chấm công, tính lương, hoa hồng</div>
                            <div class="op-price-excepted"> Marketing email, smsbrandname</div>
                            <small class="op-price-noted">
                                Phù hợp gara 5 - 10 nhân viên
                            </small>
                            <label> 01 chi nhánh</label>
                            <label> 03 tài khoản đăng nhập</label>
                        </div>
                        <button class="btn-ads " data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                    </div>
                </div>
                <!--gói tiêu chuẩn-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel op-tag-start">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói tiêu chuẩn</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/standard.png" />
                        </div>
                        <div class="flex flex-column">
                            <div>
                                <font style="color:var(--color-theme); font-size:32px">695.000</font>
                                <span>đ/tháng</span>
                            </div>
                            <div class="flex flex-row flex-around">
                                <div style="text-decoration: line-through; color: #5c5c5c;">
                                    <font>995.000</font>
                                    <span>đ/tháng</span>
                                </div>
                                <span style="background-color:red;color:white;">-30%</span>
                            </div>
                        </div>
                        <div class="op-panel-detail">
                            <div>  Quản lý xe, phụ tùng, kho</div>
                            <div>  Quản lý sửa chữa</div>
                            <div>  Quản lý hợp đồng, báo giá</div>
                            <div>   Quản lý mua hàng, bán hàng</div>
                            <div>  Quản lý khách hàng, bảo hiểm</div>
                            <div> Quản lý tài chính, công nợ</div>
                            <div> Hệ thống báo cáo kinh doanh</div>
                            <div> Nhắc lịch bảo hành, bảo dưỡng</div>
                            <div>Chấm công, tính lương, hoa hồng</div>
                            <div class="op-price-excepted">  Marketing email, smsbrandname</div>
                            <small class="op-price-noted">
                                Phù hợp gara 10 - 20 nhân viên
                            </small>
                            <label> 01 chi nhánh</label>
                            <label> 06 tài khoản đăng nhập</label>
                        </div>
                        <button class="btn-ads btn-focus " data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                    </div>
                </div>
                <!--Gói nâng cao-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói nâng cao</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/diploma.png" />
                        </div>
                        <div class="flex flex-column">
                            <div>
                                <font style="color:var(--color-theme); font-size:32px">825.000</font>
                                <span>đ/tháng</span>
                            </div>
                            <div class="flex flex-row flex-around">
                                <div style="text-decoration: line-through; color: #5c5c5c;">
                                    <font>1.295.000</font>
                                    <span>đ/tháng</span>
                                </div>
                                <span style="background-color: red; color: white;">-35%</span>
                            </div>
                        </div>
                        <div class="op-panel-detail">
                            <div>  Quản lý xe, phụ tùng, kho</div>
                            <div>  Quản lý sửa chữa</div>
                            <div>  Quản lý hợp đồng, báo giá</div>
                            <div>   Quản lý mua hàng, bán hàng</div>
                            <div>  Quản lý khách hàng, bảo hiểm</div>
                            <div> Quản lý tài chính, công nợ</div>
                            <div> Hệ thống báo cáo kinh doanh</div>
                            <div> Nhắc lịch bảo hành, bảo dưỡng</div>
                            <div>Chấm công, tính lương, hoa hồng</div>
                            <div>  Marketing email, smsbrandname</div>
                            <small class="op-price-noted">
                                Phù hợp gara 20 - 50 nhân viên
                            </small>
                            <label> 01 chi nhánh</label>
                            <label> 15 tài khoản đăng nhập</label>
                        </div>
                        <button class="btn-ads " data-bs-toggle="modal" data-bs-target="#modalTuVan">
                            <span style="z-index:2">
                                Dùng thử
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="op-section-title">
            <font>Khách hàng đang sử dụng Open24 Gara!</font>
        </div>
        <div class="p-3">
            <ul class="op-customer-list">
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Hyundai.png" alt="hyundai" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Wolkswagen_logo.png" alt="Wolkswagen_logo" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/KIA.png" alt="kia" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Honda_logo.png" alt="Honda_logo" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/BridgeStone.png" alt="BridgeStone" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Mitsubishi.png" alt="Mitsubishi" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/HoangHuy.png" alt="HoangHuy" />
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div>
                        <img src="~/Content/images/gara/Piago.png" alt="Piago" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-wave">
        <h2 class="bg-line-text">
            <span style="white-space:nowrap">Chúng tôi luôn không ngừng nỗ lực</span>
            <br />
            <span style="color: #FFD40C">vì sự hài lòng của bạn !</span>
        </h2>
    </div>

    @Html.Partial("_RequestPartial")
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="padding-top: 5%;">
        <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>
<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>
        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>
