
@{
    ViewBag.Title = "Giới thiệu khách hàng";
    
}


@using Model_banhang24vn.Common
@section scripts{
    <script>

    </script>
}


<script type="x/template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask"v-on:click="close" v-show="show">
            <div class="modal-container">

                <div class="modal-body">
                    <div class=" text-center congratu">
                        Chúc mừng bạn đã giới thiệu thành công.<br />
                        Open24 sẽ liên hệ lại với bạn ngay !
                    </div>
                    <div class=" text-center">
                        <img src="/Content/images/gioithieu/ht7.jpg" />
                    </div>
                    <div class=" text-center bnt-home">
                        <a href="javascript:void(0)">
                            <i class="fa fa-chevron-left"></i>  Quay về trang chủ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

<div id="renderBody">
    <div class="banner banner-hop-tac bn-img ">
        <div class=" content-banner content-hop-tac">
            <div class="btn-group-prd">
                <a href="javascript:void(0)" class="btn-gioi-thieu ">GIỚI THIỆU NGAY</a>
            </div>
        </div>
    </div>


    <div class="banner banner-viedeo-hop-tac">
        <div class="if-video">
            <p>Xem video hướng dẫn tham gia chương trình</p>
            <iframe src="https://www.youtube.com/embed/VECgyiJL9SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            @*<embed src="https://www.youtube.com/v/VECgyiJL9SE" allowfullscreen="true">*@
            @*<iframe src="https://www.youtube.com/v/VECgyiJL9SE"></iframe>*@

        </div>
        <div class="container  ">

            <div class=" page-function">
                <h2 class="title after-border">Open24</h2>
                <p>- Open24 là phần mềm quản lý bán hàng chuyên nghiệp, phù hợp với nhiều lĩnh vực theo mô hình đặc thù</p>
                <p>
                    - Với nhiều tính năng vượt trội được hơn 5.000 khách hàng tin tưởng, chắc chắn Open24 sẽ giúp các bạn dễ dàng có thu nhập tự động nhờ vào việc giới thiệu
                    tới bạn bè, người thân hoặc khách hàng
                </p>
                <p>- Mỗi lượt giới thiệu khách hàng mới <span style="color:var(--op-main-color)">Ký Hợp Đồng</span> là bạn có ngay <span style="color:var(--op-main-color)">500k</span> tiền mặt, được chuyển khoản trực tiếp từ Open24</p>
            </div>
        </div>
    </div>

    <div class="content-page-news">
        <div class="container">
            <div class="h-list-news ">
                <div class="text-center">
                    <h2 class="title text-color-two">
                        3 bước tham gia chương trình
                    </h2>

                </div>
                <div class="list-procedure-participation">
                    <div class="steps-procedure steps-procedure1">
                        <p>  Đăng ký tham dự</p>
                    </div>
                    <div class="steps-procedure steps-procedure2">
                        <p>  Giới thiệu bạn bè</p>
                    </div>
                    <div class="steps-procedure steps-procedure3">
                        <p>  Nhận quà siêu chất</p>
                    </div>
                </div>
                <div class="btn-gr-tham-gia-ngay text-center">
                    <a href="javascript:void(0)" class="btn-tham-gia-ngay"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Tham gia ngay</a>
                </div>
            </div>

        </div>

    </div>

    <div class="banner banner-condition-introduce">
        <div class="container  ">
            <div class=" page-function">
                <h2 class="title after-border">Điều kiện tham dự chương trình</h2>
                <div class="floatleft list-gift">
                    <p>- Người tham dự là khách hàng đã và đang sử dụng sản phẩm Open24</p>
                    <p>
                        - Người tham dự sẽ được nhận thưởng sau khi khách hàng mới đăng ký hợp đồng
                    </p>
                    <p>- Khách hàng phải ký hợp > 1 năm với gói chuyên sâu 199k/ tháng</p>
                    <p>
                        - Quà lựa chọn:<br />
                        <strong>+ <span style="color:var(--op-main-color)">500k</span> tiền mặt</strong>  <br />
                        <strong>+ <span style="color:var(--op-main-color)">2 tháng</span> sử dụng</strong>
                    </p>
                    <p>* Chú ý: trường hợp người tham dự sẽ không được nhận quà nếu:</p>
                    <p>- Khách hàng mới đã có thông tin trên hệ thống Open24</p>
                    <p>- Khách hàng mới đăng ký gói < 199k</p>
                    <p>- Chỉ nhận quà tặng 1 lần duy nhất cho khách mới giới thiệu. Không tính trên hợp đồng của khách mới</p>
                </div>
            </div>
        </div>
    </div>

    <div class="banner banner-condition-gift">
        <div class="container  ">
            <div class=" page-function">
                <h1 class="title after-border h1-cach-nhan">CÁCH THỨC NHẬN QUÀ!</h1>
                <div class=" list-gift-receive">
                    <strong>- Cách 1</strong>  <br />
                    <p>Open24 sẽ chuyển khoản tiền mặt hoặc trực tiếp <br />cho khách hàng cũ giới thiệu khách hàng mới.</p>
                    <strong>- Cách 2</strong>  <br />
                    <p>
                        Trả qua thẻ điện thoại
                    </p>
                    <div class="btn-gr-tham-gia-ngay">
                        <a href="javascript:void(0)" class="btn-tham-gia-ngay"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Tham gia ngay</a>
                    </div>
                </div>
                <div class=" img-receive">
                    <img src="~/Content/images/open24/introdution.png" />
                </div>
            </div>
        </div>
        <img class="img-no" src="~/Content/images/open24/i-no.png" />
    </div>

    <div class="content-page-contact content-page-condition ">
        <div class="container">
            <div class="page-contact">
                <div class="list-introduces ">
                    <div class="h-title-contact">
                        <h2 class="title text-color-two">
                            ĐĂNG KÝ, GIỚI THIỆU KHÁCH HÀNG NGAY HÔM NAY!
                        </h2>


                    </div>

                </div>
                <div class="fl">
                    <div class="group-input-contact">
                        <div class="form-group fl">
                            <input type="text" class="form-control" placeholder="Tên cửa hàng Open24 của bạn" v-model="KhachHangGioiThieu.StoreOpen">
                        </div>
                        <div class="form-group fl">
                            <input type="text" class="form-control" placeholder="Tên người được giới thiệu" v-model="KhachHangGioiThieu.Name">
                        </div>
                        <div class="form-group fl">
                            <input type="text" class="form-control" placeholder="Số điện thoại" v-model="KhachHangGioiThieu.Phone">
                        </div>
                        <div class="form-group fl">
                            <textarea rows="3" class="fl" placeholder="Ghi chú" v-model="KhachHangGioiThieu.Note"></textarea>
                        </div>
                        <div class="form-group fl">
                            <button type="button" class="form-control btn-send-contact" v-on:click="ClickGioiThieu">
                                <img src="~/Content/images/open24/i-check.png" />
                                Giới thiệu ngay
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <modal :show="showModal" v-on:close=" showModal= false"></modal>
</div>

<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>