
@{
    ViewBag.Title = "Hỗ trợ phần mềm";
    
}

<style>
    :root {
        --op-main-color: #3EA7D5;
    }

    .banner-home {
        background-image: url('../../Content/images/open24/SupportPage/banner-header.png');
        background-position-x: center;
    }
    .content-banner {
        padding-top: 15vh;
        text-align: center;
        padding-bottom: 30vh;
        animation: 1s ease-in-out 0s 1 hideTitle;
    }
</style>


@*@Html.Partial("_BannerSupPartial")*@
<div class="container-fluid row op-banner">
    <div style="display:flex; flex-direction:column;">
        <h4>
        </h4>
        <input class="form-control _sear-hotro" type="text" placeholder="Nhập thông tin bạn muốn tìm kiếm..." value="@ViewBag.SearchString" />
    </div>
</div>

<div class="container">
    <div class="col-md-12 header-gioi-thieu">
        <div class="row">
            <div class="outer">
                <div class="group-btn-ho-tro">
                    <div class="btn-ho-tro btn-ho-tro-dang-ky">
                        <a href="/dung-thu-mien-phi" style="background: #FF7208">
                            <div class="img">
                                <img src="~/Content/images/hotroopen24/i-dang-ky.png" />
                            </div>
                            <span>Đăng ký <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </a>
                    </div>
                    <div class="btn-ho-tro btn-ho-tro-gioi-thieu">
                        <a href="/gioi-thieu" style="background: #3EA7D5">
                            <div class="img">
                                <img src="~/Content/images/hotroopen24/i-gioi-thieu.png" />
                            </div>
                            <span>Giới thiệu <i class="fa fa-angle-right" aria-hidden="true"></i> <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </a>
                    </div>
                </div>

                <div class="p-phan-trang">
                    <div class="border-bottom-phan-trang"></div>
                </div>
            </div>
            <div class="outer ht-cai-tro-sd">
                <h2>Vai trò sử dụng</h2>

                <div class="group-btn-vai-tro" data-bind="foreach:listnhomnganh">
                    <div class="ht-btn-vai-tro">
                        <a data-bind="attr: {'data-id': ID,href:'/huong-dan-su-dung/'+ID+'/0/nhom-tinh-nang-nganh-nghe-'+Title}">
                            <div class="img">
                                <img src="~/Content/images/hotroopen24/i-thu-ngan.png" data-bind="attr: {src: Icon}" />
                            </div>
                            <p data-bind="text:Ten"></p>
                        </a>
                    </div>
                </div>
                <div class="p-phan-trang">
                    <div class="border-bottom-phan-trang"></div>
                </div>

            </div>
            <div class="outer ht-tinh-nang-op">
                <h2>Tính năng Open24</h2>

                <ul class="group-btn-vai-tro" data-bind="foreach:listResult">
                    <li class="ht-btn-vai-tro tinh-nang-ho-tro">
                        <a href="javascript:void(0)" data-bind="attr: {'data-id': ID,href:'/huong-dan-su-dung/0/'+ID+'/danh-muc-tinh-nang-'+Title}">
                            <div class="img">
                                <img src="~/Content/images/hotroopen24/i-thu-ngan.png" data-bind="attr: {src: Icon}" />
                            </div>
                            <p data-bind="text:Ten"></p>
                        </a>
                    </li>

                </ul>
                <div class="p-phan-trang">
                    <div class="border-bottom-phan-trang"></div>
                </div>

            </div>
            <div class="outer ht-cau-hoi-thuong-gap">
                <h2>Các câu hỏi thường gặp</h2>
                <div class="ht-list-cau-hoi">
                    <ul class="group-btn-cau-hoi" data-bind="foreach:listCauHoileft">
                        <li class="li-cau-hoi">
                            <a href="javascript:void(0)">
                                <p class="ht-a-tt" data-bind="text:CauHoi"> </p>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <i class="fa fa-minus" aria-hidden="true" style="display:none"></i>


                            </a>
                            <div class="ht-cau-tra-loi" data-bind="html:CauTraLoi">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fl more-news" id="Addnew">
                    <a href="#" data-bind="click:nextpage">Xem thêm</a>
                </div>
                <div class="p-phan-trang">
                    <div class="border-bottom-phan-trang"></div>
                </div>

            </div>
            <div class="outer ht-phan-mem-ht">
                <h2>Phần mềm hỗ trợ</h2>

                <div class="group-btn-pm-ht ">
                    <div class="ht-btn-pm-ht ht-btn-pm-ht-team-view">
                        <div class="img">

                            <img src="~/Content/images/hotroopen24/i-team-view.png" />
                        </div>
                        <div class="ht-pm-tt">
                            <p>
                                <span>Teamviewer</span><br />
                                hỗ trợ máy tính từ xa
                            </p>
                            <button class="form-control" type="button" onclick="window.open('/Content/thuvienhotro/TeamViewer_Setup.exe')">
                                Tải xuống
                            </button>
                        </div>
                    </div>

                    <div class="ht-btn-pm-ht ht-btn-pm-ht-ultra-view">
                        <div class="img">
                            <img src="~/Content/images/hotroopen24/i-untraview.png" />
                        </div>
                        <div class="ht-pm-tt">
                            <p>
                                <span>Ultraviewer</span><br />
                                hỗ trợ máy tính từ xa
                            </p>
                            <button class="form-control" type="button" onclick="window.open('/Content/thuvienhotro/UltraViewer_setup_6.2_vi.exe')">
                                Tải xuống
                            </button>
                        </div>
                    </div>
                    <div class="ht-btn-pm-ht ht-btn-pm-ht-driver">
                        <div class="img">
                            <img src="~/Content/images/hotroopen24/u-driver.png" />
                        </div>
                        <div class="ht-pm-tt">
                            <p>
                                <span>Driver</span><br />
                                Máy in
                            </p>
                            <button class="form-control" type="button">
                                Tải xuống
                            </button>
                        </div>
                    </div>
                </div>
             

            </div>
            <div class="outer ht-gui-yc">
                <h2>Gửi yêu cầu hỗ trợ</h2>

                <div class="group-btn-gui-yc " id="_yeucauhotro">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group fl">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    <input type="text" class="form-control" v-model="model.FullName" placeholder="Họ tên người gửi yêu cầu">
                                </div>
                                <div class="form-group fl">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <input type="text" class="form-control" v-model="model.Email" placeholder="Email">
                                </div>
                                <div class="form-group fl">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <input type="text" class="form-control" v-model="model.Phone" placeholder="Số điện thoại" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="11">
                                </div>
                                <div class="form-group fl">
                                    <i aria-hidden="true" class="fa fa-home"></i>
                                    <input type="text" class="form-control" v-model="model.Address" placeholder="Địa chỉ">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group fl">
                                    <i class="fa fa-pencil" aria-hidden="true" style="    top: 8px;"></i>
                                    <textarea rows="7" v-model="model.Note" placeholder="Nội dung"></textarea>
                                </div>
                                <div class="form-group fl">
                                    <a href="javascript:void(0)" v-on:click="Save" class="btn-gui">Gửi yêu cầu </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/vue.min.js"></script>

<script>
    var hotrophanmem = function (Isform, id, nhomId) {
        var self = this;
        //===============================
        // Khai báo chung
        //===============================
        self.listnhomnganh = ko.observableArray();
        self.listResult = ko.observableArray();
        self.listCauHoileft = ko.observableArray();
        self.listCauHoiright = ko.observableArray();
        self.page = ko.observable(1);
        self.groupNhom = ko.observable(id);
        self.groupNhomtinhnang = ko.observable(nhomId);
        self.tentitle = ko.observable();
        self.video = ko.observable();
        self.noidung = ko.observable();

        function loadHoTro() {
            $.ajax({
                url: '/Open24Api/ApiHoTro/GetViewHoTro',
                type: 'GET',
                async: true,
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.res === true) {

                        self.listnhomnganh(result.DataSoure.NhomNganh);
                        self.listResult(result.DataSoure.TinhNang);
                    }
                    else {
                        alert(result.mess);
                    }

                },
                error: function (result) {
                    alert(result);
                }
            });

        }

        function loadCauHoi() {
            $.ajax({
                url: '/Open24Api/ApiHoTro/GetViewCauHoi?page=' + self.page(),
                type: 'GET',
                async: true,
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.res === true) {
                        var length = result.DataSoure.length;
                        if (length <= 0) {
                            $('#Addnew').hide();
                        }
                        //var max = length / 2;
                        var itemleft = self.listCauHoileft();
                        itemleft.push.apply(itemleft, result.DataSoure);
                        //var itemright = self.listCauHoiright();
                        //itemright.push.apply(itemright, result.DataSoure.slice(0, max))
                        self.listCauHoileft(itemleft);
                        //self.listCauHoiright(result.DataSoure.slice(max, length));
                    }
                    else {
                        alert(result.mess);
                    }

                },
                error: function (result) {
                    alert(result);
                }
            });

        }

        self.nextpage = function () {
            self.page(self.page() + 1);
            loadCauHoi();
        }
        loadCauHoi();
        loadHoTro();

        return self;
    };
    var viewmodel = new hotrophanmem();
    ko.applyBindings(viewmodel);
    $("._sear-hotro").on('keyup', function (e) {
        if (e.keyCode == 13) {
            window.location.href = "/ho-tro-tim-kiem?search=" + $(this).val();
        }
    });
    $('.group-btn-cau-hoi ').on('click', 'li a', function () {
        var css = $(this).next('.ht-cau-tra-loi').css('display');
        $('.fa-plus').show();
        $('.fa-minus').hide();
        $('.ht-cau-tra-loi').hide();
        $('.ht-a-tt').removeClass('ht-tl-active');
        if (css === 'none') {
            $(this).find('i').each(function () {
                $(this).toggle();
            })
            $(this).next('.ht-cau-tra-loi').toggle();
            $(this).find('p').addClass('ht-tl-active')
        }
    });
</script>

<script>
    var vmPopupmenu = new Vue({
        el: '#_yeucauhotro',
        data: {
            model: {
                FullName: '',
                Email: '',
                Phone: '',
                Address: '',
                Note: '',
            }
        },
        methods: {
            Save: function () {
                var self = this;
                if (localValidate.CheckNull(self.model.FullName)) {
                    alert("Vui lòng nhập tên người gửi.");
                }

                else if (localValidate.CheckNull(self.model.Email)) {
                    alert("Vui lòng nhập email.");
                }
                else if (!localValidate.CheckEmail(self.model.Email)) {
                    alert("Địa chỉ email không hợp lệ.");
                }
                else if (localValidate.CheckNull(self.model.Phone)) {
                    alert("Vui lòng nhập số điện thoại.");
                }
                else if (self.model.Phone.length < 10) {
                    alert("Số điện thoại không hợp lệ.");
                }
                else if (localValidate.CheckNull(self.model.Note)) {
                    alert("Vui lòng nhập nội dung yêu cầu.");
                }
                else {

                    $.ajax({
                        data: self.model,
                        url: '/Open24Api/PostAPI/' + "ThemLienHeNew",
                        type: 'POST',
                        async: true,
                        dataType: 'json',
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        success: function (item) {
                            if (item.res === true) {
                                self.model = {
                                    ID: null,
                                    FullName: '',
                                    Email: '',
                                    Phone: '',
                                    Address: '',
                                    Note: '',
                                };
                                alert('Gửi liên hệ thành công');
                            }
                            else {
                                alert(item.mess);
                            }
                        }
                    });
                }
            }

        }
    })
</script>