
@{
    ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng toàn diện Open24";
    ViewBag.MetaDescription = "Phần mềm quản lý kinh doanh và bán hàng toàn diện Open24";
    //Layout = null;
    ViewBag.TitleCus = "Khách hàng của Open24";
}


@using Model_banhang24vn.Common
<style>
    :root {
        --color-theme: #0078D7;
    }

    .op-banner-content {
        display: flex;
        flex-direction: column;
        min-width: 295px;
    }

    .op-banner-image {
        display: flex;
        align-items: flex-end;
    }

    .op-banner > .container {
        display: flex;
        padding-bottom: 0;
    }

    .op-banner-descr {
        color: white;
        font-size: 14px;
        font-weight: normal;
        display: block;
        line-height: 24px;
        padding: 3px
    }
</style>
<div id="renderBody" style="position:relative">
    <input id="currentPage" value="" hidden />
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content" data-aos="fade-right">
                <div style="text-align:left">
                    <h1 class="op-gara-heading">
                        <span style="margin-bottom:30px">     Phần mềm quản lý<br /> kinh doanh Open24</span>
                        <font class="op-banner-descr">
                            Hệ thống tuyệt vời quản lý thống nhất
                            hoạt động kinh doanh.
                        </font>
                        <font class="op-banner-descr">
                            Sử dụng đơn giản, đầy đủ tính năng,
                            tiết kiệm thời gian.
                        </font>
                    </h1>


                    <button class="btn btn-ads " data-bs-toggle="modal" data-bs-target="#modalTuVan">
                        <span style="font-weight: normal">Đăng kí dùng thử</span>
                    </button>
                </div>

            </div>
            <div class="op-banner-image">
                <img src="~/Content/images/open24/op-index-bg.svg" style="height:450px" alt="gara xe" />
            </div>
        </div>
    </div>
    @*<div class="content-page-two ">*@
    <div class="container">
        <div class="list-introduces content-page-more">
            <h2 class="title title-page-more">
                Phần mềm quản lý thông minh, hiệu quả theo đặc thù

            </h2>
        </div>
    </div>
    @*</div>*@
    @*<div class="content-page-function kd-dac-thu">*@
    <div class="container">
        <div class="page-function">
            <div class="row" style="display:flex; flex-direction:row; flex-wrap:wrap">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card text-center speed-animation">
                        <div class="bg-icon" style="background: #FF7208">
                            <img alt="car-repair" src="~/Content/images/open24/IconHomePage/car-repair.png" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Open24 - Gara</h5>
                            <p class="card-text">Phần mềm quản lý Gara ô tô, xe máy.</p>
                            <br />
                            <a class="btn btn-outline-primary" onclick="ShowDangKy('Gara')">Đăng kí dùng thử</a>
                            <a href="/gara-oto-xe-may" class="btn btn-outline-primary">Xem thêm</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card text-center speed-animation">
                        <div class="bg-icon" style="background: #A74AE5">
                            <img alt="beautyhandcream" src="~/Content/images/open24/IconHomePage/beautyhandcream.png" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Open24 - Beauty</h5>
                            <p class="card-text">Phần mềm quản lý dành cho lĩnh vực làm đẹp.</p>
                            <br />
                            <a class="btn btn-outline-primary" onclick="ShowDangKy('Beauty')">Đăng kí dùng thử</a>
                            <a href="/spa-tham-my-vien" class="btn btn-outline-primary">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card text-center speed-animation">
                        <div class="bg-icon" style="background: #2680EB">
                            <img alt="SuperMarket" src="~/Content/images/open24/IconHomePage/supermarket.png" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Open24 - Sales</h5>
                            <p class="card-text">Phần mềm quản lý bán hàng, siêu thị.</p>
                            <br />
                            <a class="btn btn-outline-primary" onclick="ShowDangKy('Sale')">Đăng kí dùng thử</a>
                            <a href="/phan-mem-quan-ly-open24" class="btn btn-outline-primary">Xem thêm</a>
                        </div>
                    </div>
                </div>


            </div>
            <br />
        </div>
    </div>
    @*</div>*@

    <div class="title-helpfull">
        <div class="speed-animation">
            <h2>
                Open24 giúp bạn quản lý kinh doanh hiệu quả, <br />
                mở rộng hoạt động kinh doanh nhanh chóng
            </h2>
            <p>Tăng doanh thu, giảm thất thoát, kiểm soát chặt chẽ mọi hoạt động kinh doanh, số liệu rõ ràng</p>
        </div>
    </div>

    <div class="content-page-advantages speed-animation">
        <div class="container page-advantages">
            <div class="row">
                <div class="col-12">
                    <div class="text-center" style="width: 25rem; margin: 0 auto">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/warehouse.png" alt="Quản lý kho">
                            <h5 class="card-title">
                                <b>Kiểm soát kho hàng chặt chẽ</b>
                            </h5>
                            <p class="card-text">
                                Giảm thiểu chi phí thuê nhân sự. Quản lý kho hàng toàn diện làm giảm sự thất thoát.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-4 col-12">
                    <div class="text-right" style="width: 25rem; margin: 0 auto">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/gear.png" alt="Quản lý linh hoạt">
                            <h5 class="card-title">
                                <b>Quản lý linh hoạt, mọi lúc mọi nơi</b>
                            </h5>
                            <p class="card-text">
                                Không cần liên tục ở cửa hàng giám sát vẫn có thể nắm bắt được mọi công việc mua bán tại cửa hàng, chuỗi cửa hàng.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-4 col-sm-offset-4 col-12">
                    <div class="text-left" style="width: 24rem; margin: 0 auto">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/community.png" alt="Chăm sóc khách hàng">
                            <h5 class="card-title">
                                <b>Chăm sóc khách hàng toàn diện</b>
                            </h5>
                            <p class="card-text">
                                Quản lý thông tin khách hàng, theo dõi và nhắc lịch hẹn, tích điểm, làm thẻ khách hàng.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-4 col-12">
                    <div class="text-right" style="width: 25rem; margin: 0 auto">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/Solid.png" alt="Tăng doanh thu">
                            <h5 class="card-title">
                                <b>Tăng doanh thu</b>
                            </h5>
                            <p class="card-text">
                                Kiểm soát chặt chẽ lãi lỗ, các khoản thu chi nhờ báo cáo chính xác, kịp thời
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-4 col-sm-offset-4 col-12">
                    <div class="text-left" style="width: 24rem; margin: 0 auto">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/megaphone.png" alt="Marketing">
                            <h5 class="card-title">
                                <b>Xây dựng hoạt động marketing</b>
                            </h5>
                            <p class="card-text">
                                Tạo nhiều chương trình marketing, gửi email & sms kích thích nhu cầu tiêu dùng của khách hàng
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-center" style="width: 25rem; margin: 0 auto">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/09-timer.png" alt="Tiết kiệm thời gian">
                            <h5 class="card-title">
                                <b>Tiết kiệm 90% bán hàng</b>
                            </h5>
                            <p class="card-text">
                                Rút ngắn thời gian trong các công đoạn: tìm kiếm, báo giá, thanh toán, chăm sóc khách hàng
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-page-service">
        <div class="container speed-animation">
            <h2 class="title helpfull">
                Open24 giúp được gì <br />cho hoạt động kinh doanh của bạn ?
            </h2>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div>
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p class="mb-1">Quản lý khách hàng (CRM)</p>
                                <small>Khách hàng là tài sản quan trọng nhất, Open24 giúp bạn quản lý và theo dõi khách hàng chu đáo</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p class="mb-1">Quản lý bán hàng (SALES)</p>
                                <small>Thiết kế thông minh giúp hoạt động từ tiếp nhận nhu cầu khách hàng đến hợp đồng được thực hiện nhanh chóng.</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p class="mb-1">Quản lý công việc, lịch hẹn (WORKS)</p>
                                <small>Hệ thống giúp bạn theo dõi công việc, đặt hẹn trực quan dễ dàng. Nắm bắt và giải quyết công việc mọi lúc mọi nơi.</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p class="mb-1">Quản lý nhân sự (HRM)</p>
                                <small>Quản lý toàn bộ nhân sự và các hoạt động của nhân viên. Giúp bạn chấm công, đánh giá KPI, tính lương hoa hồng chính xác.</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p class="mb-1">Quản lý marketing (MARKETING)</p>
                                <small>Quản lý phân tích các nhu cầu khách hàng từ đó xây dựng chiến dịch email, sms marketing đơn giản nhanh chóng.</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </div>
                            <div>
                                <p class="mb-1">Quản lý kho (WAREHOUSE)</p>
                                <small>Quản lý hàng hoá, tồn kho chặt chẽ. Các hoạt động nhập, xuất và kiểm kê được thực hiện dễ dàng.</small>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button class="btn-ads yellow" data-bs-toggle="modal" data-bs-target="#modalTuVan"><span style="font-weight:normal">Đăng ký dùng thử</span></button>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-12 col-offset-12">
                </div>
            </div>

        </div>
    </div>

    <div style="background-image: url(../../Content/images/open24/IconHomePage/banner-wave.png); text-align: center; padding: 15px; background-color: #006CC1;height: 200px; margin: 10vh 0;">
        <h2 class="bg-line-text">
            <span style="color: #FFD40C">Open24 cam kết</span> đem lại cho bạn <span style="color: #FFD40C">sự hài lòng</span>
            <br />
            <span style="color: #FFD40C">với sản phẩm và dịch vụ</span> của Open24 dành cho bạn
        </h2>
    </div>

    @Html.Partial("_CustomerPartial")

    <div class="content-page-reason">
        <div class="container">
            <div class="row">
                <div class="list-introduces content-page-more">
                    <h2 class="title title-page-more speed-animation">
                        Lý do bạn chọn chúng tôi
                    </h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                    <div class="card speed-animation">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/self-awareness.png" alt="">
                            <h5 class="card-title bold">Chúng tôi thấu hiểu bạn</h5>
                            <p class="card-text">Chúng tôi hiểu bản chất nghiệp vụ cũng như những khó khăn khách hàng gặp phải. Chúng tôi cam kết sẽ luôn nỗ lực không ngừng để đáp ứng nhu cầu quản lý của bạn. Thành công của bạn cũng là mong muốn và mục tiêu của chúng tôi.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                    <div class="card speed-animation">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/workflow.png" alt="">
                            <h5 class="card-title bold">Quy trình khoa học</h5>
                            <p class="card-text">Bên cạnh việc thiết kế và phát triển phần mềm dựa trên các nền tảng công nghệ mới nhất. Chúng tôi cũng không ngừng nâng cấp cải tiến các quy trình để nâng cao chất lượng sản phẩm và dịch vụ nhằm đem lại những lợi ích cao nhất cho khách hàng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 text-center">
                    <div class="card speed-animation">
                        <div class="card-body">
                            <img src="~/Content/images/open24/IconHomePage/employees.png" alt="">
                            <h5 class="card-title bold">Đội ngũ nhân sự</h5>
                            <p class="card-text">Đội ngũ nhân viên công ty là những tài năng trong lĩnh vực CNTT. Với tố chất năng động, sáng tạo cùng với nền tảng tri thức được đào tạo bàn bản, nguồn nhân lực của SSOFT thực sự là một thế mạnh và tài sản vô giá của chúng tôi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_RequestPartial")
    @*<div class="page-request">
            <div class="container">
                <div class="list-introduces content-page-more">
                    <h2 class="title title-page-more speed-animation">
                        Gửi yêu cầu tư vấn
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <form>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="txtHoTen" placeholder="Họ và tên">
                                <label for="txtHoTen">Họ và tên</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com">
                                <label for="txtEmail">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="txtDienThoai" placeholder="Số điện thoại">
                                <label for="txtDienThoai">Số điện thoại</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="txtDiaChi" placeholder="Địa chỉ">
                                <label for="txtDiaChi">Địa chỉ</label>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6  col-sm-6 col-12">
                        <form>
                            <div class="form-floating mb-3">
                                <textarea type="text" class="form-control" id="txtNoiDung" placeholder="Nội dung yêu cầu" style="height:205px"></textarea>
                                <label for="txtNoiDung">Nội dung</label>
                            </div>
                            <button class="btn-submit" style="margin:10px 0">
                                <i class="fa fa-hand-o-right" aria-hidden="true" style="font-size:22px"></i>
                                Gửi yêu cầu
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@



</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="padding-top: 5%;">
        <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>
<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>

<script>
   
        function ShowDangKy(opt) {
            console.log(opt)
            $("#currentPage").val(opt);
            $("#ID_chosen").val("Open24 " + $("#currentPage").val());
            $("#modalTuVan").modal("show");

        }
    
    $(function () {
        let urlCheckDangKy = window.location.href.lastIndexOf("#dangky");
        console.log(urlCheckDangKy);
        if (urlCheckDangKy > 0) {
            $("#modalTuVan").modal("show");
        }
    });
</script>