
@{
    ViewBag.Title = "Khách hàng sử dụng phần mềm Open24";

}

<link rel="stylesheet" href="~/Content/css/NewCommonUI.css" />

<style>
    :root {
        --common-main-color: #9677FF;
        --color-theme: #9677FF;
    }

    .banner-home {
        background-image: url('../../Content/images/open24/CustomerPage/banner-cus.png');
        background-size:100% 100%; 
    }
</style>

<div id="renderNews">
    <input id="op_type" hidden value="Khachhang" />
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content"data-aos="fade-right">
                <h1 class="op-gara-heading">
                    <span class="highlight-text size-text">Khách hàng</span><br />
                    là <span class="highlight-text">trái tim</span><br />
                    của <span class="size-text" style="white-space:nowrap">Open24 !</span>
                </h1>


                <button class="btn-ads yellow" data-toggle="modal" data-target="#modalTuVan">
                    <span style="font-weight: normal">Đăng kí dùng thử</span>
                </button>

            </div>
            <div class="op-banner-image">
                <img src="~/Content/images/open24/op-khachhang-bg.svg" style="padding:30px" alt="gara xe" />

            </div>
        </div>
    </div>

    <div class="container flex flex-column">
        <div class="customer-v-search fl">
            <div class="search-l ">
                <input class="form-control" type="text" placeholder="Tìm kiếm khách hàng" v-model="curentpage.text" v-on:keyup="KeymonitorCustomer" />
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="search-r">
                <div class="col-50">
                    <div class="choose-select">
                        <div class="select-text" style="z-index: 4">
                            <p class="p-text txt-nowrap">{{comboboxcut.adresstext}}</p>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <div class="select-tree fl" style="z-index: 3">
                            <ul>
                                <li v-for="(item, index) in comboboxcut.adress" v-show="comboboxcut.adress.length>0">
                                    <a href="javascript:void(0)" v-on:click="SelectAdress(item)">
                                        {{item.TEN}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-50">
                    <div class="choose-select">
                        <div class="select-text" style="z-index: 2">
                            <p class="p-text txt-nowrap">{{comboboxcut.businesstext}}</p>
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <div class="select-tree fl" style="z-index: 1">
                            <ul>
                                <li v-for="(item, index) in comboboxcut.business" v-show="comboboxcut.business.length>0">
                                    <a href="javascript:void(0)" v-on:click="SelectBusiness(item)"> {{item.TEN}}</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-customer fl flex flex-between">
            @*<ul class="tree-customer" v-show="curentpage.data.length>0">*@
                <div v-for="(item, index) in curentpage.data" v-show="curentpage.data.length>0" class="col-md-6">
                    <div class="card m-2">
                        <div class="row ">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <img class="w-100" v-bind:src="item.Images" v-bind:alt="item.Name" onerror="this.onerror=null;this.src='/Content/images/open24/IconHomePage/img-onerror.png';" />
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <div class="card-block p-1">
                                    <a href="javascript:void(0)" v-bind:href="item.Url"><h4 style="color:#414141">{{item.Name}}</h4></a>
                                    <div style="display: flex">
                                        <p>
                                            <i class="fa fa-map-marker" aria-hidden="true" style="color:#2680EB;margin-right: 5px"></i>
                                        </p>
                                        <p class="text-compact">
                                            {{item.Adress}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            @*</ul>*@
            <div class="text-center fl"><a href="javascript:void(0)" class="btn btn-default btn-more" v-on:click="NextPageCustomer" v-show="curentpage.ishow"> Xem thêm </a></div>
        </div>
    </div>

</div>


@Html.Partial("_WeareonePartial")
<script src="~/Assets/js/Client/open24/RenderNewVue.js"></script>