@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Open24" content="">
    <title>Landing Page - Start Bootstrap Theme</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/LandingPage/Open24-LandingPage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Content/LandingPage/Open24-LandingPage/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Content/LandingPage/Open24-LandingPage/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/Content/LandingPage/Open24-LandingPage/css/landing-page.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- custom CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="~/Content/LandingPage/Open24-LandingPage/css/Open24.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="~/Content/LandingPage/Open24-LandingPage/img/Open24-Logo.png" alt="Logo Open24"></a>
            <a class="btn btn-primary" data-toggle="modal" data-target="#form-dk" style="color:white">Đăng ký ngay</a>
        </div>
    </nav>
    <!-- Masthead -->
    <div class="OP-header">
        <img src="~/Content/LandingPage/Open24-LandingPage/img/bg-masthead.jpg" class="header-image">
        <img src="~/Content/LandingPage/Open24-LandingPage/img/computer-bg.png" class="header-main-image" data-aos="fade-left">
        <div class="container header-box">
            <div class="header-text" data-aos="fade-right">
                <h3>
                    Quản lý kinh doanh<br>
                    và bán hàng toàn diện
                </h3>
                <p>Giúp bạn quản lý bán hàng dễ dàng, kinh doanh đột phá</p>
                </div>
                <button class="trial-btn" data-toggle="modal" data-target="#form-dk">Đăng ký ngay</button>
            </div>
        </div>
        <!-- Icons Grid -->
        <div class=" title single-row">
            <h3 class="text-center" style="width:100%">Lợi ích khi sử dụng Open24</h3>
        </div>
        <section class="features-icons bg-light text-center">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3" data-aos="zoom-out">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-screen-smartphone m-auto text-primary"></i>
                            </div>
                            <h4>Quản lý linh hoạt <br>mọi lúc, mọi nơi</h4>
                            <!-- <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p> -->
                        </div>
                    </div>
                    <div class="col-lg-3" data-aos="zoom-out">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-chart m-auto text-primary"></i>
                            </div>
                            <h4>Quản lý toàn diện,<br>mọi lĩnh vực</h4>
                            <!-- <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p> -->
                        </div>
                    </div>
                    <div class="col-lg-3" data-aos="zoom-out">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-wallet m-auto text-primary"></i>
                            </div>
                            <h4>Giảm chi phí,<br> tăng lợi nhuận</h4>
                            <!-- <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p> -->
                        </div>
                    </div>
                    <div class="col-lg-3" data-aos="zoom-out">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-earphones-alt m-auto text-primary"></i>
                            </div>
                            <h4>
                                Đội ngũ tư vấn chuyên<br> nghiệp
                                hỗ trợ 24/7
                            </h4>
                            <!-- <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class=" single-row">
                <button class="trial-btn" data-toggle="modal" data-target="#form-dk">Đăng ký ngay</button>

            </div>
        </section>
        <!-- Image Showcases -->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters" data-aos="flip-down">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/Content/LandingPage/Open24-LandingPage/img/bg-showcase-1.jpg');"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Kiểm soát kho hàng chặt chẽ</h2>
                        <p class="lead mb-0">
                            Giảm thiểu chi phí thuê nhân sự. Quản lý kho hàng toàn diện làm giảm sự thất thoát
                        </p>

                    </div>
                </div>
                <div class="row no-gutters" data-aos="flip-down">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('/Content/LandingPage/Open24-LandingPage/img/bg-showcase-2.jpg');"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Chăm sóc khách hàng toàn diện</h2>
                        <p class="lead mb-0">Quản lý thông tin khách hàng, theo dõi và nhắc lịch hẹn, tích điểm, làm thẻ khách hàng.</p>
                        <div class=" single-row">
                            <button class="trial-btn" data-toggle="modal" data-target="#form-dk">Đăng ký ngay</button>

                        </div>
                    </div>
                </div>
                <div class="row no-gutters" data-aos="flip-down">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/Content/LandingPage/Open24-LandingPage/img/bg-showcase-3.jpg');"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Tiết kiệm 90% thời gian bán hàng</h2>
                        <p class="lead mb-0">Rút ngắn thời gian trong các công đoạn: tìm kiếm, báo giá, thanh toán, chăm sóc khách hàng</p>
                    </div>
                </div>
                <div class="row no-gutters" data-aos="flip-down">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('/Content/LandingPage/Open24-LandingPage/img/bg-showcase-2.jpg');"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Xây dựng hoạt động Marketing</h2>
                        <p class="lead mb-0">Tạo nhiều chương trình marketing, gửi email & sms kích thích nhu cầu tiêu dùng của khách hàng.</p>
                        <div class=" single-row">
                            <button class="trial-btn" data-toggle="modal" data-target="#form-dk">Đăng ký ngay</button>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials -->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">
                    Khách hàng của Open24
                </h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="zoom-out">
                            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
                            <h5>SINH ANH HAIR SALON</h5>
                            <p class="font-weight-light mb-0">"Những khách hàng thân thiết tin dùng phần mềm quản lý bán hàng kinh doanh Open24"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="zoom-out">
                            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
                            <h5>KELLY SHOP</h5>
                            <p class="font-weight-light mb-0">"Những khách hàng thân thiết tin dùng phần mềm quản lý bán hàng kinh doanh Open24"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="zoom-out">
                            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
                            <h5>Vietmec Group </h5>
                            <p class="font-weight-light mb-0">"Những khách hàng thân thiết tin dùng phần mềm quản lý bán hàng kinh doanh Open24"</p>
                        </div>
                    </div>
                </div>

                <div class=" single-row">
                    <button class="trial-btn" data-toggle="modal" data-target="#form-dk">Đăng ký ngay</button>

                </div>
            </div>
        </section>
        <!-- Call to Action -->
        <section class="call-to-action text-white text-center">
            <div class="container">
                <div class="row">
                    <h2 class="mb-4">
                        Open24 cam kết đem lại cho bạn sự hài lòng
                        với sản phẩm và dịch vụ của Open24 dành cho bạn.
                    </h2>
                    <div class="container-fluid title single-row">
                        <button class="trial-btn" data-toggle="modal" data-target="#form-dk">Đăng ký ngay</button>

                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="single-row">
                    <img src="~/Content/LandingPage/Open24-LandingPage/img/Open24-Logo.png" alt="Logo Open24">
                </div>
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="https://open24.vn/gioi-thieu">Về Open24</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=hotro@open24.vn" target="_blank">hotro@open24.vn</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="https://open24.vn/dieu-khoan">Điều khoản sử dụng</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>

                        </ul>

                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                                <a href="https://www.facebook.com/open24.vn/">
                                    <i class="fab fa-facebook fa-2x fa-fw"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href="">
                                    <i class="fab fa-instagram fa-2x fa-fw"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.youtube.com/channel/UCjQ36qE4zVah0YxfUsCXTbw">
                                    <i class="fab fa-youtube fa-2x fa-fw"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container row" style="margin-top:30px; padding:0">

                    <div class="col-lg-4">
                        <p class="footer-title bold">Trụ sở</p>
                        <p class="i-after-adress">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <font>Công ty CP Công nghệ phần mềm SSOFT Việt Nam</font>
                        </p>
                        <p class="i-after-adress">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <font>Tầng 6,Tòa nhà Việt Á, Số 9 Duy Tân, Q. Cầu Giấy, Tp Hà Nội</font>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p class="footer-title bold">VP.Hà Nội</p>
                        <p class="i-after-adress">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <font>Tầng 7, Tòa nhà Handiresco, Số 31 Lê Văn Lương, Thanh Xuân, Hà Nội</font>
                        </p>
                        <p class="i-after-adress">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <font>0247 303 9333 (Hà Nội)</font>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p class="footer-title bold">
                            VP.Hồ Chí Minh
                        </p>
                        <p class="i-after-adress">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <font> Lầu 1, Số 24 Tân Canh, Phường 1, Quận Tân Bình, TP.HCM</font>
                        </p>
                        <p class="i-after-adress">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <font>0287 303 9333 (HCM)</font>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" tabindex="-1" id="form-dk">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Đăng ký tư vấn,sử dụng open24</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">

                                <div class=" " id="form-list">
                                    <a class="icon-branches">
                                        <img src="~/Content/LandingPage/Open24-LandingPage/img/spa-icon.png">
                                        <p>Spa, Thẩm mỹ viện</p>
                                    </a>

                                    <a class="icon-branches">
                                        <img src="~/Content/LandingPage/Open24-LandingPage/img/gym-icon.png">
                                        <p>Spa, Thẩm mỹ viện</p>
                                    </a>

                                    <a class="icon-branches">
                                        <img src="~/Content/LandingPage/Open24-LandingPage/img/store-icon.png">
                                        <p>Spa, Thẩm mỹ viện</p>
                                    </a>
                                    <a class="icon-branches">
                                        <img src="~/Content/LandingPage/Open24-LandingPage/img/pharmacy-icon.png">
                                        <p>Spa, Thẩm mỹ viện</p>
                                    </a>
                                    <a class="icon-branches">
                                        <img src="~/Content/LandingPage/Open24-LandingPage/img/entertainment-icon.png">
                                        <p>Spa, Thẩm mỹ viện</p>
                                    </a>
                                    <a class="icon-branches">
                                        <img src="~/Content/LandingPage/Open24-LandingPage/img/garage-icon.png">
                                        <p>Spa, Thẩm mỹ viện</p>
                                    </a>



                                </div>
                                <div class="container-fluid" id="form-input" style="display:none">
                                    <div class="">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="CustomerName">Họ và tên bạn</label>
                                                    <input type="email" class="form-control" id="CustomerName" placeholder="Họ và tên">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="CustomerNumber">Số điện thoại</label>
                                                    <input type="tel" class="form-control" id="CustomerNumber" placeholder="Số điện thoại">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="CustomerEmail">Email</label>
                                                <input type="text" class="form-control" id="CustomerEmail" placeholder="Email">
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-8">
                                                    <label for="CustomerAddr">Địa chỉ</label>
                                                    <input type="text" class="form-control" id="CustomerAddr">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="CustomerAddr2">Tỉnh/Thành phố</label>
                                                    <select id="CustomerAddr2" class="form-control">
                                                        <option selected>Chọn...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="inputAddress">Ghi chú </label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="Ghi chú ">
                                            </div>
                                            <div style="text-align:right">
                                                <a  class="button-in-form">
                                                    <i class="arrow-left"></i> quay lại
                                                </a>
                                                <a >
                                                    <i class="arrow-left "></i> Hoàn tất
                                                </a>
                                            </div>
                                        </form>

                                    </div>

                                </div>

                            </div>





                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="back-to-form-list" data-dismiss="modal">Quay lại</button>
                        <button type="button" class="btn btn-primary" id="submit" data-dismiss="modal" >Hoàn thành</button>
                    </div>
                </div>
            </div>
            </div>
            <!-- Bootstrap core JavaScript -->
            <script src="~/Content/LandingPage/Open24-LandingPage/vendor/jquery/jquery.min.js"></script>
            <script src="~/Content/LandingPage/Open24-LandingPage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
<script>
    AOS.init();

AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: false, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
$(".icon-branches").click(function(){
$("#form-list").hide();
$("#form-input").show();
})
$("#back-to-form-list").click(function(){
$("#form-input").hide();
$("#form-list").show();
})
$("#submit").click(function(){
$("#form-input").hide();
$("#form-list").show();

})
$(window).on("scroll", function () {
            if ($(window).scrollTop() > 75) {
                $(".navbar").addClass("active");
            } else {
                $(".navbar").removeClass("active");
            }
        });  $(window).on("scroll", function () {
            if ($(window).scrollTop() > 75) {
                $(".navbar").addClass("active");
            } else {
                $(".navbar").removeClass("active");
            }
        });</script>
</html>

