@{
    ViewBag.Title = "Phần mềm quản lý Sale";
    ViewBag.TitleCus = "Khách hàng đang sử dụng Open24 Sale !";
}
<link rel="stylesheet" href="~/Content/css/NewCommonUI.css" />
<style>
    :root {
        --color-theme: #2680EB;
    }

    .op-panel-icon {
        height: 80px;
        width: 80px;
        display: flex;
        border-radius: 50px;
        border: 1px solid rgb(104, 104, 104);
        padding: 15px;
        align-items: center;
        justify-content: center;
    }

    .op-tinhnang {
        display: flex;
        flex-wrap: wrap
    }

        .op-tinhnang > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }

            .op-tinhnang > div > * {
                margin: 5px;
            }

    .op-section-title {
        text-align: center;
        margin: 45px 0;
    }
    .op-description-body {
        display: block;
    }

    .op-description-toggle.arrow-up > i {
        transform: rotate(-180deg);
    }

    .op-description-toggle > i {
        transition: all 0.4s ease;
        transform: rotate(0);
    }

    .op-description {
        background: white;
        border-radius: 10px;
        border: 1px solid #D4EBFF;
        padding: 10px 3px;
        /*margin-bottom: 30px;*/
    }

    .op-description-title {
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
</style>
@section scripts{
    <script>
        $(document).on('show', '.accordion', function (e) {
            $(e.target).prev('.accordion-heading').addClass('accordion-opened');
        });
        $(document).on('hide', '.accordion', function (e) {
            $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
        });
    </script>
}
@using Model_banhang24vn.Common
<div id="renderBody" style="position:relative">
    <input id="currentPage" value="Sale" hidden />
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content" data-aos="fade-right">
                <h1 class="op-gara-heading">
                    <span>        Open24 Sale</span>
                    <br />
                    <span style="        color: white;
">
                        Kinh doanh &
                    </span>
                    <br />
                    <span style="     white-space:nowrap;   color: white;">
                        Bán hàng toàn diện !
                    </span>
                </h1>
                <button class="btn-ads" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
                @*<button class="btn-ads" style="background: #FFD40C" data-toggle="modal" data-target="#modalTuVan">Đặt mua</button>*@
            </div>
            <div class="op-banner-image">
                <img src="~/Content/images/Sale/sale-cover.png" style="height:305px" alt="gara xe" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="op-section-title">
            <font>
                Là người kinh doanh nhưng bạn <br />
                gặp vô vàn khó khăn trong khâu quản lý ?
            </font>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center">
                <img src="~/Content/images/open24/SalePage/stress-manager.png" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 nopadding">
                <div class="accordion-list">
                    <div class="op-description-item">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span>
                            Thất thoát hàng hóa thường xuyên do không kiểm soát được số lượng và giá trị hàng hóa trong kho.
                        </span>
                    </div>
                    <div class="op-description-item">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span>
                            Không thu hút được khách hàng, mất khách vì hoạt động marketing nghèo nàn và khâu chăm sóc khách hàng chưa chuyên nghiệp.
                        </span>
                    </div>
                    <div class="op-description-item">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span>
                            Đau đầu tính toán lương, hoa hồng cũng như giám sát hiệu quả làm việc của từng nhân viên.
                        </span>
                    </div>
                    <div class="op-description-item">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span>
                            Bối rối về các khoản công nợ, thu chi mỗi dịp cận cuối tháng.
                        </span>
                    </div>
                    <div class="op-description-item">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <span>
                            Không nắm bắt được tổng thể doanh thu, chi phí, kết quả kinh doanh của cửa hàng và các chi nhánh.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="op-section-title">
            <font>
                Phần mềm thiết kế phù hợp<br />
                với các mô hình quản lý
            </font>
        </div>
        <div class="op-tinhnang" style=" display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; ">
            <div class="col-md-2 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Sale/shopping-cart.png" alt="beauty chức năng" />
                </div>
                <label>Bán lẻ</label>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Sale/wholesaler.png" alt="beauty chức năng" />
                </div>
                <label>Bán buôn</label>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Sale/supermarket.png" alt="beauty chức năng" />
                </div>
                <label>Siêu thị</label>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Sale/online-store.png" alt="beauty chức năng" />
                </div>
                <label>Bán hàng online</label>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Sale/stores.png" alt="beauty chức năng" />
                </div>
                <label>Chuỗi cửa hàng</label>
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center; display: flex;flex-direction: column; justify-content: center;">
        <div class="op-section-title">
            <font>
                Quy trình chung
            </font>
        </div>
        <div style="padding:15px">
            <img src="~/Content/images/Sale/Sale-quytrinh.svg" style="width: 100%; max-width: 80vw;" />
        </div>
    </div>
    <!--quy trinh sua chua-->
    <div class="container">
        <div class="op-section-title">
            <font>Tính năng chính Open24 Sale</font>
        </div>
        <div style="display:flex; flex-direction:row; flex-wrap:wrap">
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">1</span>
                            Quản lý khách hàng
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Theo dõi chi tiết thông tin khách hàng</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">     Theo dõi ngày sinh nhật, kỷ niệm khách hàng</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">     Theo dõi nhật ký giao dịch, lịch hẹn</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">2</span>
                            Quản lý mỹ phẩm, dịch vụ
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Quản lý danh mục mỹ phẩm, dịch vụ, in ấn mã vạch</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Theo dõi mỹ phẩm bán chạy, sắp hết, cận date, kiểm kê kho</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">  Theo dõi số lượng, giá trị tồn từng sản phẩm trong kho vật tư.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">3</span>
                            Quản lý kho, nhập mua
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Quản lý nhập mua, trả lại nhà cung cấp</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Quản lý bán hàng, xuất kho mỹ phẩm sử dụng</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Quản lý công nợ nhà cung cấp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">4</span>
                            Quản lý lịch hẹn, nhắc lịch
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">     Theo dõi khách đặt lịch, đến hẹn</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Nhắc nhở khách đến sử dụng liệu trình, dịch vụ</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">  Hệ thống chăm sóc khách hàng định kỳ</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">5</span>
                            Quản lý sms, email marketing
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Quản lý email marketing gửi mail hàng loạt</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Tích hợp hệ thống tin nhắn thương hiệu sms brandname</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Báo cáo phân tích, thống kê hoạt động email, sms marketing</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">6</span>
                            Quản lý quỹ, công nợ
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Quản lý sổ quỹ, nhật ký thu tiền, chi tiền theo từng khoản mục</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Quản lý công nợ khách hàng, nhà cung cấp, nhân viên ..</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Báo cáo phân tích thu chi, chi phí đa dạng theo ngày, tháng, quý, năm</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">7</span>
                            Báo cáo hoạt động kinh doanh  Báo cáo hoạt động kinh doanh
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Hệ thống báo cáo doanh thu, chi phí theo từng ngày</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Báo cáo tổng hợp hàng hóa, dịch vụ, khách hàng, kho</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Báo cáo kết quả hoạt động kinh doanh theo ngày, tháng, quý, năm</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">8</span>
                            Chấm công, tính lương, hoa hồng
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">    Quản lý chấm công hàng ngày, hàng giờ</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">     Quản lý hoa hồng bán hàng, tư vấn, thực hiện dịch vụ</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Quản lý bảng lương tổng hợp, lương tư vấn, lương thực hiện</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="op-section-title">
                <font>Bảng giá phần mềm Open24 Sale</font>
                <div style="display:flex; flex-direction:column">
                    <span>Không chi phí phát sinh</span>
                    <span>
                        Hỗ trợ trong suốt quá trình sử dung
                    </span>
                    <span>
                        Miễn phí khởi tạo, thiết kế các biểu mẫu báo giá, hóa đơn
                    </span>
                </div>
            </div>
            <div class="flex op-price">
                <!--gói tiết kiệm-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói tiết kiệm</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/save-money.png" />
                        </div>
                        <div>
                            <font style="color:var(--color-theme); font-size:32px">149.000</font>
                            <span>đ/tháng</span>
                        </div>
                        <div class="op-panel-detail">
                            <div>
                                Quản lý khách hàng, nhà cung cấp
                            </div>
                            <div>
                                Quản lý hàng, hóa dịch vụ
                            </div>
                            <div>
                                Quản lý kho, nhập mua
                            </div>
                            <div>
                                Quản lý quỹ, công nợ
                            </div>
                            <div>
                                Báo cáo hoạt động kinh doanh
                            </div>
                            <div class="op-price-excepted">
                                Chấm công, tính lương, hoa hồng
                            </div>
                            <div class="op-price-excepted">
                                Quản lý lịch hẹn, nhắc lịch
                            </div>
                            <div class="op-price-excepted">
                                Quản lý sms, email marketing
                            </div>
                            <b style="width: 100%; text-align: center; display: inline-block;"> 01 chi nhánh</b>
                            <b style="width: 100%; text-align: center; display: inline-block;">  03 tài khoản đăng nhập</b>
                        </div>
                        <button class="btn-ads" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                    </div>
                </div>
                <!--gói tiêu chuẩn-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel op-tag-start">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói tiêu chuẩn</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/standard.png" />
                        </div>
                        <div>
                            <font style="color:var(--color-theme); font-size:32px">499.000</font>
                            <span>đ/tháng</span>
                        </div>
                        <div class="op-panel-detail">
                            <div>
                                Quản lý khách hàng, nhà cung cấp
                            </div>
                            <div>
                                Quản lý hàng, hóa dịch vụ
                            </div>
                            <div>
                                Quản lý kho, nhập mua
                            </div>
                            <div>
                                Quản lý quỹ, công nợ
                            </div>
                            <div>
                                Báo cáo hoạt động kinh doanh
                            </div>
                            <div>
                                Chấm công, tính lương, hoa hồng
                            </div>
                            <div>
                                Quản lý lịch hẹn, nhắc lịch
                            </div>
                            <div class="op-price-excepted">
                                Quản lý sms, email marketing
                            </div>
                            <b style="width: 100%; text-align: center; display: inline-block;"> 01 chi nhánh</b>
                            <b style="width: 100%; text-align: center; display: inline-block;">  06 tài khoản đăng nhập</b>
                        </div>
                        <button class="btn-ads btn-focus" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                    </div>
                </div>
                <!--Gói nâng cao-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói nâng cao</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/diploma.png" />
                        </div>
                        <div>
                            <font style="color:var(--color-theme); font-size:32px">699.000</font>
                            <span>đ/tháng</span>
                        </div>
                        <div class="op-panel-detail">
                            <div>
                                Quản lý khách hàng, nhà cung cấp
                            </div>
                            <div>
                                Quản lý hàng, hóa dịch vụ
                            </div>
                            <div>
                                Quản lý kho, nhập mua
                            </div>
                            <div>
                                Quản lý quỹ, công nợ
                            </div>
                            <div>
                                Báo cáo hoạt động kinh doanh
                            </div>
                            <div>
                                Chấm công, tính lương, hoa hồng
                            </div>
                            <div>
                                Quản lý lịch hẹn, nhắc lịch
                            </div>
                            <div>
                                Quản lý sms, email marketing
                            </div>
                            <b style="width: 100%; text-align: center; display: inline-block;"> 01 chi nhánh</b>
                            <b style="width: 100%; text-align: center; display: inline-block;">  15 tài khoản đăng nhập</b>
                        </div>
                        <button class="btn-ads" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_CustomerPartial")
    <div class="banner-wave">
        <h2 class="bg-line-text" data-aos="fade-up">
            <span style="white-space:nowrap">Chúng tôi luôn không ngừng nỗ lực</span>
            <br />
            <span style="color: #FFD40C">vì sự hài lòng của bạn !</span>
        </h2>
    </div>
    @Html.Partial("_RequestPartial")
    @*@Html.Partial("_ModalTuVanOpen24")*@
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" style="padding-top: 5%;">
            <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>
    vmbody.GetCustomerHome();
    vmbody.IsShowCustomer = false;
    vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>
