
@{
    //ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng mỹ phẩm";
    
}



<div id="renderBody">
    <div class="banner banner-prd-mypham bn-img banner-tinh-nang">
        <div class=" content-banner content-prd ">
            <h1 class="line-one"><strong> PHẦN MỀM QUẢN LÝ </strong><br /> <span class="tinh-nang-size">MỸ PHẨM</span></h1>
            <div class="content-prd-web">
                <p>Quản lý toàn diện & chuyên nghiệp</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
            <div class="content-prd-mobile ">
                <p>Quản lý toàn diện <br />& chuyên nghiệp</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
        </div>

    </div>

    <div class="banner ">
        <div class="container  page-function">
            <div class="list-Weakness">
                <h3 class="title border-bot">Bạn đang gặp phải khó khăn khi quản lý shop mỹ phẩm?</h3>
                <ul class="tree-Weakness">
                    <li>Đa dạng chủng loại, thương hiệu và nhà cung cấp mỹ phẩm khiến bạn không thể nhớ tên, đặc điểm, công dụng, giá cả, số lượng...</li>
                    <li>Chương trình khuyến mãi chồng chéo, quản lý không hiệu quả ảnh hưởng đến doanh thu.</li>
                    <li>Chăm sóc khách hàng thiếu chuyên nghiệp khiến khách hàng không hài lòng.</li>
                    <li>Đau đầu tính lương, phần trăm hoa hồng cho nhân viên bán hàng.</li>
                    <li>Không nắm được doanh thu bán hàng của từng ngày, tăng trưởng bao nhiêu, lỗ bao nhiêu</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="banner banner-gara-service">
        <div class="container  ">
            <div class="list-service list-introduces">
                <h2 class="title border-bot-center">
                    Open24 - Trợ thủ đắc lực<br /> giúp bạn giải quyết mọi khó khăn với các tính năng toàn diện
                </h2>
                <div class="tree-service">
                    <div class="tree-li">

                        <h4><span class="number-title-pr">1</span>Quản lý mỹ phẩm </h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/i-gara-phu-tung.png" style="background:#fedfa5" />
                            </div>
                            <div class="text">
                                <p>Lưu thông tin chi tiết về mỹ phẩm như: mã, tên, lô hàng, giá nhập, giá bán, thương hiệu, chủng loại...</p>
                                <p>Quản lý mọi thông tin về các loại mặt hàng mỹ phẩm bằng mã vạch thông minh.</p>
                                <p>Hỗ trợ tra cứu, tìm kiếm thông tin mỹ phẩm theo mã và theo nhóm mỹ phẩm như mỹ phẩm thiên nhiên, mỹ phẩm xách tay...</p>


                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">2</span>Quản lý bán hàng</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-ban-hang.jpg" />
                            </div>
                            <div class="text">
                                <p>Linh hoạt chuyển trạng thái từ đơn đặt hàng sang đơn bán hàng.</p>
                                <p>Có thể kết nối với máy in hóa đơn và chip mã vạch để hỗ trợ thanh toán tại quầy nhanh, chính xác hơn.</p>
                                <p>Đồng bộ hoạt động bán hàng trở lại bình thường khi Internet được kết nối lại.</p>
                                <p>Hỗ trợ tra cứu lịch sử mua hàng, đổi trả của khách những lần trước đó.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">3</span>Quản lý và chăm sóc khách hàng</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-cham-soc-khach-hang.jpg" />
                            </div>
                            <div class="text">
                                <p>Lưu trữ thông tin chi tiết về khách hàng như: tên, ngày sinh nhật, địa chỉ, số điện thoại, nguồn khách, nhóm khách... </p>
                                <p>Quản lý khách hàng theo nhóm và tự động nâng hạng khách hàng. </p>
                                <p>Tạo và quản lý các chương trình tích điểm và phát hành thẻ khách hàng thân thiết.</p>
                                <p>Tự động gửi tin nhắn chúc mừng ngày sinh nhật, ngày kỷ niệm của khách hàng.</p>
                            </div>
                        </div>
                    </div>


                    <div class="tree-li">
                        <h4><span class="number-title-pr">4</span>Quản lý marketing</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />
                            </div>
                            <div class="text">
                                <p>Thiết lập và quản lý các chương trình khuyến mãi theo từng nhóm khách hàng như giảm giá, combo, tặng quà, tặng điểm...</p>
                                <p>Điều chỉnh, theo dõi và kiểm soát số lượng các mã khuyến mại đã áp dụng của chuỗi cửa hàng.</p>
                                <p>Gửi tin nhắn thông báo khuyến mại, giảm giá thường niên đến khách hàng.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tree-li">
                        <h4><span class="number-title-pr">5</span>Quản lý nhà cung cấp </h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-nha-cung-cap.jpg" />
                            </div>
                            <div class="text">
                                <p>Lưu thông tin chi tiết về nhà cung cấp theo mã, theo nhóm mặt hàng.</p>
                                <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. </p>
                                <p>Lưu mọi lịch sử giao dịch với nhà cung cấp: nhập hàng, đổi trả hàng, số tiền tạm ứng, số tiền phải trả...</p>
                            </div>
                        </div>

                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">6</span>Quản lý kho mỹ phẩm</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-kho-my-pham.jpg" />
                            </div>
                            <div class="text">
                                <p>Theo dõi số lượng, giá trị tồn kho từng loại mỹ phẩm.</p>
                                <p>Cảnh báo các loại mỹ phẩm cận DATE, loại mỹ phẩm dưới định mức tồn tối thiểu hoặc quá định mức tồn tối đa.</p>
                                <p>Luân chuyển hàng hóa linh hoạt giữa các kho hàng, chi nhánh.</p>
                            </div>
                        </div>
                    </div>


                    <div class="tree-li">
                        <h4><span class="number-title-pr">7</span>Quản lý và tính lương nhân viên</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                            </div>
                            <div class="text">
                                <p>Kiểm soát thời gian và ca làm việc của từng nhân viên tại cửa hàng.</p>
                                <p>Lưu mọi giao dịch phát sinh của nhân viên: tạo hóa đơn bán hàng, kiểm kho, lập sổ quỹ...</p>
                                <p>Tính toán lương, phần trăm hoa hồng cho nhân viên bán theo số lượng và doanh thu bán được.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tree-li">
                        <h4><span class="number-title-pr">8</span>Quản lý quỹ, công nợ</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-quy-cong-no.jpg" />
                            </div>
                            <div class="text">
                                <p>Cập nhật công nợ phải thu, phải trả với khách hàng và nhà cung cấp.</p>
                                <p>Quản lý nhật ký thu tiền, chi tiền để tự động cập nhật sổ quỹ.</p>
                                <p>Phân chia các khoản thu, chi theo thực tế nhu cầu hoạt động.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-bc-spa.jpg" />
                            </div>
                            <div class="text">
                                <p>Hệ thống báo cáo tổng hợp bán hàng, nhập hàng, đặt hàng, kho hàng, doanh thu, chi phí, lãi-lỗ...</p>
                                <p>Cho phép xem báo cáo dưới dạng danh sách chi tiết hoặc biểu đồ trực quan.</p>
                                <p>Giúp truy xuất hệ thống báo cáo bất cứ khi nào cần.</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="banner banner-function" style="  ">
        <div class="container  ">
            <div class="list-function list-function-new list-introduces">
                <h2 class="title no-margin-bot">
                    Quản lý hiệu quả, doanh thu bứt phá cùng Open24
                </h2>
                <a href="javascript:void(0)" class="btn-dang-ky-ct element "><i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>

    <div class="banner banner-useful bn-img">
        <div class="container wid100">
            <div class="list-useful">
                <div class="">
                    <div class="fl">
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Kiểm soát tồn kho chặt chẽ</h2>
                            <p>Nắm bắt chính xác số lượng hàng tồn kho, sắp hết, đang bán chạy</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Hỗ trợ marketing linh hoạt</h2>
                            <p>Tạo và quản lý các hoạt động khuyến mãi, giảm giá, quà tặng theo từng nhóm khách hàng</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Chăm sóc khách chuyên nghiệp</h2>
                            <p>Tự động gửi tin nhắn thông báo, chăm sóc khách hàng theo các sự kiện </p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Quản lý hoa hồng thông minh</h2>
                            <p>Dễ dàng tính lương, % hoa hồng cho cộng tác viên, các đại lý & chi nhánh</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Sử dụng thuận tiện</h2>
                            <p>Xem báo cáo kinh doanh, doanh thu mọi lúc, mọi nơi trên mọi thiết bị</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


            @*@Html.Partial("_FunctionPartial")*@

            @*@Html.Partial("_CustomerPartial")*@

            @Html.Partial("_GrdungthuPartial")

            @Html.Partial("_ServicePartial")

            @Html.Partial("_TinhNangDangKyparial")
        </div>

<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>

        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>