
@{
    ViewBag.Title = "Phần mềm quản lý nhân sự";
    
    ViewBag.TitleCus = "Khách hàng đang sử dụng Open24 Hrm !";
}

<link rel="stylesheet" href="~/Content/css/NewCommonUI.css" />

<style>
    :root {
        --common-main-color: #2B9EFB;
    }

    .banner-home {
        background-image: url('../../Content/images/open24/HumanResourcePage/banner-header.png');
    }

    .list-info {
        margin-top: 10vh;
    }

    .banner-wave {
        background-image: url('../../Content/images/open24/HumanResourcePage/banner-wave-blue.png');
    }

    .accordion-body i {
        padding-top: 3px;
        color: var(--common-main-color);
    }

    .accordion-body p {
        padding-left: 3vh;
        word-break: break-word;
    }
</style>

@section scripts{
    <script>
        

        $(document).on('show', '.accordion', function (e) {
            //$('.accordion-heading i').toggleClass(' ');
            $(e.target).prev('.accordion-heading').addClass('accordion-opened');
        });

        $(document).on('hide', '.accordion', function (e) {
            $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
            //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
        });
    </script>
}

@using Model_banhang24vn.Common

<div id="renderBody" style="position:relative">
    <div class="banner banner-home container">
        <div class="content-banner">
            <h1 style="color: white">
                Open24 Hrm <br />
                Quản lý tự động <br />
                Không lo sai xót !
            </h1>
            <div class="btn-group-home">
                <button class="orderBtn btn-dang-ky-ct"data-toggle="modal" data-target="#modalTuVan">
                    <span style="font-weight: normal">Đăng kí dùng thử</span>
                </button>
            </div>
            <div class="btn-group-home">
                <button class="trialBtn btn-dang-ky-ct" v-on:click="javascript:void(0)">
                    <span style="font-weight: normal">Đặt mua</span>
                </button>
            </div>
        </div>
    </div>

    <div class="list-info">
        <div class="container">
            <div class="row">

                <div class="accordion">
                    <div class="accordion-head">
                        <p><span class="number-title">1</span>Thông tin về hồ sơ lý lịch</p> <i class="arrow-open"></i>
                    </div>
                    <div class="accordion-body default">
                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Quản lý chi tiết thông tin về người lao động nhu: mã số nhân viên, ngày sinh, nơi sinh, giới tính, sổ bảo hiểm, địa chỉ, điện thoại, chỗ ở hiện nay, đơn vị công tác, chức danh công tác, chức danh nghề...
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Quản lý chi tiết thông tin về người lao động nhu: mã số nhân viên, ngày sinh, nơi sinh, giới tính, sổ bảo hiểm, địa chỉ, điện thoại, chỗ ở hiện nay, đơn vị công tác, chức danh công tác, chức danh nghề...
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Quản lý chi tiết thông tin về quan hệ gia đình.
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Quản lý chi tiết về trình độ chuyên môn, trình độ, ngoại ngữ tin học, chính trị...
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Quản lý việc lưu trữ hồ sơ người lao động.
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Quản lý chi tiết quá trình công tác của người lao động trước khi vào công ty cho đến thời gian hiện tại.
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Theo dõi quá trình khen thưởng, kỷ luật.
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Theo dõi quá trình diễn lương của người lao động.
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Quản lý đánh giá quá trình làm việc và khả năng phát triển của nhân viên.
                            </p>
                        </div>

                        <div style="display: flex">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p>
                                Quản lý thông tin về mệnh, năm sinh, năm sinh âm lịch của từng nhân viên.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-head">
                        <p><span class="number-title">2</span>Thông tin về hợp đồng lao động</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>
                    <div class="accordion-head">
                        <p><span class="number-title">3</span>Thông tin về đào tạo</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title">4</span>Thông tin về tuyển dụng lao động</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>
                    <div class="accordion-head">
                        <p><span class="number-title">5</span>Thông tin điều chuyển lao động theo từng vị trí</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title">6</span>Quản lý chính sách người lao động</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>
                    <div class="accordion-head">
                        <p><span class="number-title">7</span>Chức năng quản lý chấm công và tiền lương</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title">8</span>Quản lý các khoản thu nhập khác và nghĩa vụ người lao động</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title">9</span>Quản lý danh mục dùng chung</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title" style=" padding: 5px 5px 3px 5px;">10</span>Quản lý phân quyền bảo mật hệ thống</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title" style=" padding: 5px 5px 3px 5px;">11</span>Báo cáo quản lý nhân sự</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>

                    <div class="accordion-head">
                        <p><span class="number-title" style=" padding: 5px 5px 3px 5px;">12</span>Báo cáo quản lý tiền lương</p><i class="arrow-close"></i>
                    </div>
                    <div class="accordion-body">

                    </div>
                </div>
            </div>
        </div>
    </div>


    @Html.Partial("_ListPricePartial")
    @Html.Partial("_RequestPartial")


    <div class="banner-wave">
        <h2 class="bg-line-text" data-aos="fade-up">
            <span style="color: #FFD40C">Open24 cam kết</span> đem lại cho bạn <span style="color: #FFD40C">sự hài lòng</span>
            <br />
            <span style="color: #FFD40C">với sản phẩm và dịch vụ</span> của Open24 dành cho bạn.
        </h2>
    </div>

</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="padding-top: 5%;">
        <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>

<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>
     vmbody.GetCustomerHome();
    vmbody.IsShowCustomer = false;
    vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>