
@{
    //ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng nông sản";
    
}

<div id="renderBody">
    <div class="banner banner-prd-nongsan  bn-img banner-tinh-nang">
        <div class=" content-banner content-prd-nongsan content-prd ">
            <h1><strong> PHẦN MỀM QUẢN LÝ </strong><br /> <font><span>Nông sản -</span> Thực phẩm</font></h1>
            <div class="content-prd-web">
                <p>Giảm thất thoát - Tối đa doanh thu</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
            <div class=" content-prd-mobile content-prd-mobile-nong-san ">
                <p>Giảm thất thoát -<br /> Tối đa doanh thu</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
        </div>

    </div>

    <div class="banner ">
        <div class="container  page-function">
            <div class="list-Weakness">
                <h3 class="title border-bot">5 vấn đề thường gặp của chủ cửa hàng nông sản thực phẩm</h3>
                <ul class="tree-Weakness">
                    <li>Không kiểm soát được thông tin nguồn hàng thực phẩm nhập vào</li>
                    <li>Thuê nhân sự bên ngoài nhưng không tận tâm, quản lý không tốt, khiến hàng tồn nhiều</li>
                    <li>Không theo dõi được mặt hàng thực phẩm hoặc nông sản nào cận date để khuyến mãi kịp thời</li>
                    <li>Hoạt động marketing, ưu đãi giảm giá bị chồng chéo, không đúng đối tượng mục tiêu</li>
                    <li>Xử lý đơn hàng, thanh toán hóa đơn thường xuyên chậm trễ khi cửa hàng đông khách</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="banner banner-gara-service">
        <div class="container  ">
            <div class="list-service list-introduces">
                <h2 class="title border-bot-center">
                    Open24 - Trợ thủ đắc lực<br /> giúp bạn giải quyết mọi vấn đề với các tính năng toàn diện
                </h2>
                <div class="tree-service">
                    <div class="tree-li">
                        <h4><span class="number-title-pr">1</span>Quản lý bán hàng </h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-ban-hang.jpg" />
                            </div>
                            <div class="text">
                                <p>Xử lý chuyển trạng thái đơn hàng từ đơn đặt sang đơn bán.</p>
                                <p>Cho phép tạo hóa đơn bán hàng, hóa đơn thanh toán ngay cả khi mất kết nối Internet.</p>
                                <p>Hỗ trợ nhiều hình thức thanh toán: tiền mặt, thẻ, voucher, ghi nợ...</p>
                                <p>
                                    Tích hợp với nhiều thiết bị phần cứng liên quan: máy in hóa đơn, máy quét mã vạch...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">2</span>Quản lý nông sản, thực phẩm</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-nong-san.jpg" />

                            </div>
                            <div class="text">

                                <p>Quản lý toàn bộ nông sản, thực phẩm có trong kho theo số lượng, khối lượng, nhà cung cấp,...</p>
                                <p>Quản lý mọi thông tin về các loại nông sản, thực phẩm bằng mã vạch thông minh.</p>
                                <p>Hỗ trợ kiểm kê, điều chỉnh giá bán, giá vốn thông minh, linh hoạt.</p>
                                <p>Cho phép tra cứu, tìm kiếm thông tin sản phẩm theo trường lọc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">3</span>Quản lý và chăm sóc khách hàng</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-cham-soc-khach-hang.jpg" />
                            </div>
                            <div class="text">

                                <p>Lưu giữ các thông tin khách hàng như: tên, địa chỉ, số điện thoại, nguồn khách, nhóm khách, mặt hàng đã mua...</p>
                                <p>Tích điểm cho khách hàng, tự động nâng hạng khách hàng để có ưu đãi phù hợp. </p>
                                <p>Nhắc nhở sinh nhật, ngày kỷ niệm của khách và tự động gửi tin nhắn chúc mừng. </p>
                            </div>
                        </div>
                    </div>



                    <div class="tree-li">
                        <h4><span class="number-title-pr">4</span> Quản lý marketing</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />
                            </div>
                            <div class="text">
                                <p>Tạo và quản lý các chương trình khuyến mãi, marketing theo từng thời điểm, theo từng đối tượng khách hàng.</p>
                                <p>Tạo và quản lý các chương trình tích điểm và phát hành thẻ khách hàng thân thiết.</p>
                                <p>Đồng bộ thời gian, phạm vi áp dụng khuyến mại cho tất cả các chi nhánh.</p>
                                <p>Theo dõi, kiểm soát số lượng các mã khuyến mại đã áp dụng của chuỗi cửa hàng.</p>
                            </div>

                        </div>
                    </div>
                    <div class="tree-li">

                        <h4><span class="number-title-pr">5</span> Quản lý kho nông sản, thực phẩm</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-kho-nong-san.jpg" />
                            </div>
                            <div class="text">
                                <p>Theo dõi sát số lượng và giá trị nông sản, thực phẩm nhập kho - xuất kho.</p>
                                <p>Luân chuyển nông sản, thực phẩm linh hoạt giữa các kho hàng, chi nhánh. </p>
                                <p>Hỗ trợ kiểm kho định kỳ bằng mã vạch thông minh tích hợp với thiết bị hiện đại.</p>
                                <p>Cảnh báo mã sản phẩm cận DATE, mã sản phẩm dưới định mức tồn tối thiểu hoặc quá định mức tồn tối đa.</p>
                            </div>

                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">6</span>Quản lý nhà cung cấp</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-nha-cung-cap.jpg" />
                            </div>
                            <div class="text">
                                <p>Quản lý khai báo thông tin nhà cung cấp theo từng nhóm riêng.</p>
                                <p>Quản lý lịch sử giao dịch đối với từng nhà cung cấp.</p>
                                <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. </p>
                            </div>

                        </div>
                    </div>



                    <div class="tree-li">
                        <h4><span class="number-title-pr">7</span>Quản lý và tính lương nhân viên</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                            </div>
                            <div class="text">
                                <p>Theo dõi sát sao, chặt chẽ hoạt động, hiệu quả làm việc của từng nhân viên.</p>
                                <p>Lưu chi tiết lịch sử giao dịch và lịch làm việc của từng nhân viên. </p>
                                <p>Tính lương & chi trả lương một cách chính xác chỉ với 1 lần cài đặt.</p>
                                <p>Cho phép phân quyền nhân viên thực hiện thao tác trên phần mềm theo chức vụ.</p>
                            </div>

                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">8</span>Quản lý quỹ, công nợ</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-quy-cong-no.jpg" />
                            </div>
                            <div class="text">
                                <p>Quản lý nhật ký thu tiền, chi tiền để tự động tổng hợp sổ quỹ.</p>
                                <p>Phân chia các khoản thu, chi theo nhóm: thu khách hàng, thu nhà cung cấp, chi tiếp khách, chi phí cửa hàng, chi mua hàng...</p>
                                <p>Quản lý quỹ công nợ phải thu, phải trả chi tiết với khách hàng và nhà cung cấp.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-bc-spa.jpg" />
                            </div>
                            <div class="text">
                                <p>Tự động tổng hợp các báo cáo: bán hàng, kho hàng, doanh thu, chi phí, lương nhân viên, khách hàng theo từng ngày.</p>
                                <p>Hệ thống báo cáo từ chi tiết đến tổng quát được biểu diễn dưới dạng list, biểu đồ trực quan.</p>
                                <p>Cho phép xem báo cáo mọi lúc mọi nơi trên mọi thiết bị.</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="banner banner-function" style="  ">
        <div class="container  ">
            <div class="list-function list-function-new list-introduces">
                <h2 class="title no-margin-bot">
                    Open24 trợ thủ giúp bạn<br /> kinh doanh tốt hơn, tối đa lợi nhuận
                </h2>
                <a href="javascript:void(0)" class="btn-dang-ky-ct element "><i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>


    <div class="banner banner-useful bn-img">
        <div class="container wid100">

            <div class="list-useful">
                <div class="">
                    <div class="fl">
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Xử lý đơn hàng thần tốc 1-3s</h2>
                            <p>Giúp thanh toán nhanh chóng, không để khách hàng phải đợi chờ lâu.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Giảm chi phí đầu vào</h2>
                            <p>Kiểm soát được hàng hóa về hạn date, tránh thất thoát gây lãng phí, tiết kiệm chi phí nhân sự</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Quy đổi đơn vị linh hoạt</h2>
                            <p>Tính toán theo trọng lượng, số lượng linh hoạt từng sản phẩm. </p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Khách hàng trung thành </h2>
                            <p>Luôn làm khách hàng hài lòng nhờ các hoạt động marketing linh hoạt, tin nhắn chăm sóc thân thiết</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Báo cáo chính xác</h2>
                            <p>Cập nhật báo cáo bán hàng ngày, hàng tuần, hàng tháng nhanh chóng. Giúp bạn có quyết định kinh doanh đúng đắn.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


            @*@Html.Partial("_FunctionPartial")*@

            @*@Html.Partial("_CustomerPartial")*@

            @Html.Partial("_GrdungthuPartial")

            @Html.Partial("_ServicePartial")

            @Html.Partial("_TinhNangDangKyparial")
        </div>

<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>

    vmbody.GetCustomerHome();
    vmbody.IsShowCustomer = false;
    vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>