
@{
    //ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng phụ tùng";
    
}


<div id="renderBody">
    <div class="banner banner-prd-ptung bn-img banner-tinh-nang">
        <div class=" content-banner content-prd content-prd-ptung">
            <h1><strong> PHẦN MỀM QUẢN LÝ </strong><br /> <span>PHỤ TÙNG Ô TÔ,</span> XE MÁY</h1>
            <p> <font>Dễ sử dụng - </font>Tiết kiệm <span>50%</span> chi phí</p>
            <div class="btn-group-prd-gara">
                <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>

    <div class="banner ">
        <div class="container  page-function">
            <div class="list-Weakness">
                <h3 class="title border-bot">5 điểm yếu cốt lỗi khi kinh doanh phụ tùng</h3>
                <ul class="tree-Weakness">
                    <li>Đau đầu vì nhớ thông tin hàng nghìn mặt hàng từ những chi tiết rất nhỏ đến phụ tùng lớn</li>
                    <li>Không nắm được hàng tồn kho: sắp hết, đã hết, còn tồn số lượng bao nhiêu</li>
                    <li>Khâu bảo hành, khách hàng đổi trả còn lúng túng, mất nhiều thời gian</li>
                    <li>Quản lý công nợ khách hàng, nhà cung cấp chậm chạp, còn nhiều bất cập</li>
                    <li>Bán bao nhiêu biết bấy nhiêu, không biết lãi lỗ ra sao, mặt hàng nào bán chạy</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="banner banner-gara-service">
        <div class="container  ">
            <div class="list-service list-introduces">
                <h2 class="title border-bot-center">
                    Open24 - Trợ thủ đắc lực<br /> giúp bạn khắc phục mọi điểm yếu với các tính năng toàn diện
                </h2>
                <div class="tree-service">
                        <div class="tree-li">
                            <h4><span class="number-title-pr">1</span>Quản lý phụ tùng</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-phu-tung.jpg" />
                                </div>
                                <div class="text">
                                    <p>Lưu thông tin chi tiết các phụ tùng từ chi tiết đến lớn: tên, mã, thương hiệu, xuất xứ, thông số kỹ thuật, lô hàng, giá nhập, giá bán, kích cỡ,...</p>
                                    <p>Hỗ trợ kiểm kê, điều chỉnh giá bán, giá vốn thông minh, linh hoạt. </p>
                                    <p>Hỗ trợ tìm kiếm thông tin về phụ tùng theo trường lọc.</p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">

                            <h4><span class="number-title-pr">2</span>Quản lý bán hàng</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-ban-hang.jpg" />
                                </div>
                                <div class="text">
                                    <p>Quản lý và lưu trữ các giao dịch bán hàng thêm mới hàng ngày.</p>
                                    <p>Dễ dàng sắp xếp phụ tùng, linh kiện theo từng danh mục. </p>
                                    <p>Quản lý đổi trả phụ tùng đã mua tiện lợi, nhanh chóng.</p>
                                    <p>Tích hợp máy in và chip mã vạch thông minh</p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">3</span>Quản lý và chăm sóc khách hàng</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-cham-soc-khach-hang.jpg" />
                                </div>
                                <div class="text">
                                    <p>Lưu chi tiết thông tin khách hàng: họ tên, ngày sinh, địa chỉ, số điện thoại, nguồn khách và nhiều thông tin khác.</p>
                                    <p>Tự động nhắc ngày sinh nhật, ngày kỷ niệm của khách. </p>
                                    <p>Gửi tin nhắn sửa chữa, bảo hành phụ tùng theo lịch hẹn, lịch bảo dưỡng.</p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">4</span>Quản lý marketing</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />
                                </div>
                                <div class="text">
                                    <p>Thiết lập, quản lý và theo dõi các chương trình khuyến mại, giảm giá cho toàn bộ hệ thống.</p>
                                    <p>Tạo và quản lý các chương trình tích điểm và phát hành thẻ khách hàng thân thiết.</p>
                                    <p>Tự động gửi tin nhắn thông báo khuyến mại, giảm giá đến từng đối tượng khách hàng.</p>
                                </div>
                            </div>
                            </div>

                        <div class="tree-li">
                            <h4><span class="number-title-pr">5</span>Quản lý nhà cung cấp</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-nha-cung-cap.jpg" />
                                </div>
                                <div class="text">
                                    
                                    <p>Lưu thông tin nhà cung cấp rõ ràng theo tên, số điện thoại, email, địa chỉ...</p>
                                    <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. </p>
                                    <p>Quản lý mọi lịch sử giao dịch với nhà cung cấp: nhập, đổi trả, số tiền tạm ứng, số tiền phải trả...</p>
                                </div>
                            </div>
                            </div>

                        <div class="tree-li">
                            <h4><span class="number-title-pr">6</span>Quản lý kho phụ tùng </h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-kho-phu-tung.jpg" />
                                </div>
                                <div class="text">
                                    
                                    <p>Quản lý phụ tùng xuất - nhập kho, điều chuyển và định lượng chi tiết từng loại phụ tùng.</p>
                                    <p>Thông báo mặt hàng phụ tùng sắp hết hay đang bán chạy.</p>
                                    <p>Hỗ trợ kiểm kho bằng mã vạch thông minh.</p>
                                    <p>Luân chuyển linh hoạt các loại phụ tùng ở các kho và các chi nhánh.</p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">7</span>Quản lý và tính lương nhân viên</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                                </div>
                                <div class="text">
                                    <p>Theo dõi chặt chẽ các hoạt động của từng nhân viên: lịch sử bán hàng, kiểm kho phụ tùng, lập phiếu thu, lập phiếu chi... </p>
                                    <p>Kiểm soát số giờ làm việc, ngày làm, hiệu quả làm việc của từng nhân viên.</p>
                                    <p>Phân quyền nhân viên thao tác trên phần mềm dựa trên chức vụ.</p>
                                    <p>Tính lương, phần trăm hoa hồng cho nhân viên theo doanh thu bán được.</p>
                                </div>
                            </div>
                            </div>

                   

                        <div class="tree-li">
                            <h4><span class="number-title-pr">8</span>Quản lý quỹ, công nợ</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-quy-cong-no.jpg" />
                                </div>
                                <div class="text">
                                    <p>Thống kê nhật ký thu tiền, chi tiền tại đầu kỳ, giữa kỳ và cuối kỳ để tự động cập nhật vào sổ quỹ.</p>
                                    <p>Phân chia các khoản thu, chi theo nhóm: thu khách hàng, thu nhà cung cấp, chi tiếp khách, chi phí văn phòng, chi mua hàng...</p>
                                    <p>Quản lý công nợ các khoản phải thu, phải trả với khách hàng và nhà cung cấp.</p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-bc-tong-hop.jpg" />
                                </div>
                                <div class="text">
                                    <p>Tổng hợp các báo cáo chuyên nghiệp: kết quả bán hàng, kho hàng, doanh thu, chi phí và các báo cáo lương nhân viên, khách hàng...</p>
                                    <p>Hệ thống báo cáo được biểu diễn dưới dạng bảng hoặc biểu đồ.</p>
                                    <p>Báo cáo tự động từ chi tiết đến tổng quan.</p>
                                    <p>Truy xuất báo cáo mọi lúc mọi nơi trên mọi thiết bị. </p>
                                </div>
                            </div>
                        </div>
                 
                </div>
            </div>
        </div>
    </div>

    <div class="banner banner-gara-function">
        <div class="container  ">
            <div class="list-function list-introduces">
                <h2 class="title border-bot-center">
                    Open24 trợ giúp bạn<br />
                    kinh doanh tốt hơn, tối đa lợi nhuận
                </h2>
                <ul class="tree-function">
                    <li>
                        <div class="img">
                            <img src="~/Content/images/open24/i-prd-doanh-thu.png" />
                        </div>
                        <div class="text">
                            <h4>Tăng trưởng doanh thu</h4>
                            <p>Kiểm soát chặt chẽ lãi lỗ, thu chi nhờ báo cáo chính xác</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="~/Content/images/open24/i-prd-ket-noi.png" />
                        </div>
                        <div class="text">
                            <h4>Mở rộng kết nối</h4>
                            <p>Duy trì quan hệ mật thiết, kết nối với các nhà cung ứng phụ tùng</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="~/Content/images/open24/i-prd-chi-phi.png" />
                        </div>
                        <div class="text">
                            <h4>Tối ưu chi phí</h4>
                            <p>Giảm 50% chi phí thuê nhân sự và chi phí vận hành cửa hàng</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="~/Content/images/open24/i-prd-call.png" />
                        </div>
                        <div class="text">
                            <h4>Chăm sóc khách hàng</h4>
                            <p>Quản lý các chương trình khuyến mãi, tri ân, thẻ tích điểm cho khách hàng thân thiết</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bot-function ">
        <div class="container">
            <div class="list-introduces ">
                <a href="javascript:void(0)" class="btn-dang-ky-ct element"> <i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>


    @*@Html.Partial("_FunctionPartial")*@

    @*@Html.Partial("_CustomerPartial")*@

    @Html.Partial("_GrdungthuPartial")

    @Html.Partial("_ServicePartial")

    @Html.Partial("_TinhNangDangKyparial")
</div>



<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>

        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>