
@{
    ViewBag.Title = "Salon";
    
}

<style>
    .pk-body ul li {
        text-align: left;
    }
</style>

<div id="renderBody">
    <div class="banner banner-prd-salon banner-tinh-nang  bn-img">
        <div class=" content-banner content-prd content-prd-salon ">

            <h1 class="line-one"><strong> PHẦN MỀM QUẢN LÝ </strong><br /><span class="tinh-nang-size"> HAIR SALON </span></h1>
            <div class="content-prd-web">
                <p>Giao diện thân thiện - Dùng là nghiện ngay</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
            <div class="content-prd-mobile content-prd-mobile-salon">
                <p>Giao diện thân thiện - <br />Dùng là nghiện ngay</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
        </div>

    </div>

    <div class="banner ">
        <div class="container  page-function">
            <div class="list-Weakness">
                <h3 class="title border-bot">6 khó khăn của các chủ Salon tóc hiện nay </h3>
                <ul class="tree-Weakness">
                    <li>Không kiểm soát được dầu gội, mỹ phẩm đã sử dụng và các gói dịch vụ có trong salon</li>
                    <li>Nhầm lẫn lịch hẹn, khách đến không có nhân viên để phục vụ khiến khách phải chờ đợi lâu.</li>
                    <li>Đau đầu mỗi khi tính lương, hoa hồng cho nhân viên bán hàng, thợ cắt tóc, nhân viên phục vụ</li>
                    <li>Không kiểm soát được thẻ và gói dịch vụ liệu trình khách hàng thực hiện.</li>
                    <li>Hoạt động chăm sóc khách hàng kém linh hoạt, không phù hợp với từng nhóm đối tượng</li>
                    <li>Không biết showroom đang lỗ hay lãi, kết quả làm việc của nhân viên, số lượng khách hàng có tăng giảm không</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="banner banner-gara-service">
        <div class="container  ">
            <div class="list-service list-introduces">
                <h2 class="title border-bot-center">
                    Open24 - Trợ thủ đắc lực<br /> giúp bạn giải quyết mọi khó khăn với các tính năng chuyên biệt
                </h2>
                <div class="tree-service">
                    <div class="col-md-12">
                        <div class="tree-li">
                            <h4><span class="number-title-pr">1</span>Quản lý và chăm sóc khách hàng</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-cham-soc-khach-hang.jpg" />
                                </div>
                                <div class="text">
                                    <p>Lưu trữ thông tin chi tiết về khách hàng như tên, số điện thoại, ngày làm tóc, kiểu dáng, nguồn khách, nhóm khách... </p>
                                    <p>Quản lý khách hàng theo nhóm, tự động nâng hạng khách</p>
                                    <p>Gửi tin nhắn thông báo, nhắc nhở lịch hẹn đến khách.</p>
                                    <p>Gửi tin nhắn chúc mừng ngày sinh nhật, ngày kỷ niệm của khách hàng.</p>

                                </div>
                            </div>
                        </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">2</span>Quản lý thẻ khách hàng</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-the-khach-hang.jpg" />
                                </div>
                                <div class="text">
                                    <p>Quản lý các thẻ thành viên, thẻ tháng, thẻ tích điểm, voucher giảm giá...</p>
                                    <p>Quản lý lịch sử chi tiết chăm sóc tóc, mua hàng.</p>
                                    <p>Theo dõi công nợ thẻ, nhật ký sử dụng thẻ.</p>
                                    <p>Quản lý chi tiết lịch hẹn, số lượng và thời gian sử dụng thẻ.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">3</span>Quản lý gói liệu trình</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-goi-lieu-trinh.jpg" />
                                </div>
                                <div class="text">
                                    <p>Theo dõi công nợ sử dụng gói liệu trình (số lượng và giá trị gói liệu trình đã mua, số lượng và giá trị gói liệu trình đã sử dụng).</p>
                                    <p>Xem nhật ký sử dụng gói liệu trình (hạn dùng gói liệu trình, lần gần nhát khách đến, nhân viên bán).</p>
                                    <p>Gửi tin nhắn SMS cho khách hàng thông báo lịch hẹn đến Salon thực hiện gói liệu trình.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="tree-li">
                            <h4><span class="number-title-pr">4</span>Quản lý marketing</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />
                                </div>
                                <div class="text">
                                    <p>Thiết lập và quản lý chương trình khuyến mãi, marketing theo từng thời điểm, theo từng đối tượng khách hàng.</p>
                                    <p>Thiết lập và quản lý các chương trình tích điểm, và phát hành thẻ khách hàng.</p>
                                    <p>Gửi tin nhắn thông báo ưu đãi, giảm giá dịch vụ khi có sự kiện đặc biệt.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tree-li">
                            <h4><span class="number-title-pr">5</span>Quản lý và tính lương nhân viên</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                                </div>
                                <div class="text">
                                    <p>Quản lý hồ sơ, thời gian và ca làm việc của từng thợ làm tóc.</p>
                                    <p>Lưu chi tiết lịch sử giao dịch của từng nhân viên: lượng mỹ phẩm sử dụng, thu tiền, bán gói liệu trình...</p>
                                    <p>Tính toán lương, phần trăm hoa hồng cho nhân viên bán hàng, nhân viên cắt tóc (làm đầu), người phục vụ.</p>

                                </div>
                            </div>
                        </div>

                        <div class="tree-li">
                            <h4><span class="number-title-pr">6</span>Quản lý nhà cung cấp </h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-nha-cung-cap.jpg" />
                                </div>
                                <div class="text">
                                    <p>Lưu thông tin chi tiết về nhà cung cấp theo mã, theo nhóm.</p>
                                    <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. </p>
                                    <p>Lưu mọi lịch sử giao dịch với nhà cung cấp: nhập hàng, đổi trả hàng, số tiền thanh toán... </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="tree-li">
                            <h4><span class="number-title-pr">7</span>Quản lý đồ nghề, dụng cụ</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-do-nghe-dung-cu.jpg" />
                                </div>
                                <div class="text">
                                    <p>Quản lý thông tin các sản phẩm như: kéo, tăng đơ, mỹ phẩm, thiết bị, dao cạo, bình xịt, dụng cụ...</p>
                                    <p>Thống kê & thông báo các mặt hàng sắp hết, còn tồn nhiều để nhập hàng</p>
                                    <p>Theo dõi số lượng, giá trị tồn của đồ nghề ngành tóc còn trong kho. </p>
                                </div>
                            </div>
                        </div>



                        <div class="tree-li">
                            <h4><span class="number-title-pr">8</span>Quản lý quỹ, công nợ</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-quy-cong-no.jpg" />
                                </div>
                                <div class="text">
                                    <p>Tổng hợp công nợ phải thu, phải trả với khách hàng và nhà cung cấp.</p>
                                    <p>Quản lý nhật ký thu tiền, chi tiền để tự động cập nhật sổ quỹ.</p>
                                    <p>Phân chia các khoản thu, chi theo thực tế nhu cầu hoạt động.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-bc-tong-hop.jpg" />
                                </div>
                                <div class="text">
                                    <p>Báo cáo tổng hợp: bán hàng, nhập hàng, kho hàng, tài chính, khách hàng, hoa hồng nhân viên, gói liệu trình, thẻ giá trị...</p>
                                    <p>Báo cáo biểu diễn dưới dạng biểu đồ, bảng biểu từ tổng quan đến chi tiết.</p>
                                    <p>Cho phép xem báo cáo mọi lúc mọi nơi trên mọi thiết bị.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="banner banner-gara-function">
        <div class="container  ">
            <div class="list-function list-introduces">
                <h2 class="title border-bot-center">
                    Quản lý chuyên nghiệp, nâng cao doanh số với Open24
                </h2>
                <ul class="tree-function">
                    <li>
                        <div class="img">
                            <img src="~/Content/images/open24/i-prd-kiem-soat.png" />
                        </div>
                        <div class="text">
                            <h4>Kiểm soát dễ dàng</h4>
                            <p>Nắm bắt chính xác số lượng đồ nghề, dụng cụ làm tóc mọi lúc mọi nơi</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="~/Content/images/open24/i-prd-dich-vu.png" />
                        </div>
                        <div class="text">
                            <h4>Phục vụ chuyên nghiệp</h4>
                            <p>Xếp lịch cho khách nhanh, linh hoạt, không bị chồng chéo khung giờ & người phục vụ</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="~/Content/images/open24/i-prd-call.png" />
                        </div>
                        <div class="text">
                            <h4>Chăm sóc khách hàng</h4>
                            <p>Hỗ trợ hoạt động marketing theo từng nhóm khách, báo cáo hiệu quả theo từng chiến dịch</p>
                        </div>
                    </li>
                    <li>
                        <div class="img">
                            <img src="~/Content/images/open24/i-prd-doanh-thu.png" />
                        </div>
                        <div class="text">
                            <h4>Báo cáo chính xác</h4>
                            <p>Hệ thống báo cáo trực quan toàn diện, tính lương và hoa hồng cho nhân viên đơn giản</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bot-function ">
        <div class="container">
            <div class="list-introduces ">
                <a href="javascript:void(0)" class="btn-dang-ky-ct element"> <i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>


    @*@Html.Partial("_FunctionPartial")*@

    @*@Html.Partial("_CustomerPartial")*@

    @Html.Partial("_GrdungthuPartial")


    <div class="banner banner-price-list">
        <div class="container">
            <div class="price-list list-introduces">
                <h2 class="title border-bot-center">
                    Bảng giá dịch vụ
                </h2>
                <div class="Package">
                    <div class="pk-head">
                        <h4>Gói tiết kiệm</h4>
                        <p><span>210.000</span> <font color="#999">đ/ tháng</font></p>

                    </div>
                    <div class="pk-body">
                        <label>Một chi nhánh</label>
                        <ul>
                            <li>Không giới hạn hàng hóa, dịch vụ</li>
                            <li>03 Người dùng</li>
                            <li>Đầy đủ tính năng cơ bản</li>
                            <li>
                                Tính năng mở rộng
                                <div class="pk-list-li">
                                    <p>- Theo dõi lịch hẹn, đặt lịch</p>
                                    <p>- Quản lý lương, hoa hồng nhân viên</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pk-footer">
                        <a href="javascript:void(0)" class="btn-price-dung-thu">Dùng thử miễn phí </a>
                    </div>

                </div>

                <div class="Package">
                    <div class="pk-head">
                        <h4>Gói tiêu chuẩn</h4>
                        <p><span>239.000</span> <font color="#999">đ/ tháng</font></p>

                    </div>
                    <div class="pk-body">
                        <label>Một chi nhánh</label>
                        <ul>
                            <li>Không giới hạn hàng hóa, dịch vụ</li>
                            <li>05 người dùng</li>
                            <li>Đầy đủ tính năng cơ bản</li>
                            <li>
                                Tính năng mở rộng
                                <div class="pk-list-li">
                                    <p>- Quản lý tích điểm</p>
                                    <p>- Theo dõi lịch hẹn, đặt lịch</p>
                                    <p>- Quản lý lương, hoa hồng nhân viên</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="saving">
                        Gói mua nhiều
                    </div>
                    <div class="pk-footer">
                        <a href="javascript:void(0)" class="btn-price-dung-thu ">Dùng thử miễn phí </a>
                    </div>
                </div>
                <div class="Package boder-r">
                    <div class="pk-head">
                        <h4>Gói chuyên nghiệp</h4>
                        <p><span>340.000</span><font color="#999"> đ/ tháng</font></p>

                    </div>
                    <div class="pk-body">
                        <label>Một chi nhánh</label>
                        <ul>
                            <li>Không giới hạn hàng hóa, dịch vụ</li>
                            <li>Không giới hạn người dùng</li>
                            <li>Đầy đủ tính năng cơ bản</li>
                            <li>
                                Tính năng mở rộng
                                <div class="pk-list-li">
                                    <p>- Quản lý tích điểm</p>
                                    <p>- Theo dõi lịch hẹn, đặt lịch</p>
                                    <p>- Quản lý lương, hoa hồng nhân viên</p>
                                    <p>- Quản lý marketing email, sms</p>
                                    <p>- Quản lý công việc</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pk-footer">
                        <a href="javascript:void(0)" class="btn-price-dung-thu">Dùng thử miễn phí </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @using Model_banhang24vn.Common
    <div class="banner banner-gara-dang-ky">
        <div class="container">
            <div class="gara-dang-ky">
                <div class="gr-dk-left mobile-none">
                    <img src="~/Content/images/open24/gara-co-gai-dk.png" />
                </div>
                <div class="gr-dk-right">
                    <div class="group-input-contact">
                        <h3 class="title-dang-ky">Hơn 1200+ salon tóc đã sử dụng và thành công. Còn bạn thì sao?</h3>
                        <p class="text-center">Trải nghiệm <span style="font-weight:bold">15 ngày sử dụng miễn phí</span> Open24 ngay !</p>
                        <div class="form-group fl">
                            <input type="text" class="form-control" placeholder="Tên bạn" v-model="CuahangDangKy.FullName">
                        </div>
                        <div class="form-group fl">
                            <input type="text" class="form-control" placeholder="Số điện thoại" v-model="CuahangDangKy.Phone">
                        </div>
                        <div class="form-group fl">
                            <select class="form-control" id="linhvuckd">
                                <option value="-1">-- Chọn lĩnh vực bạn kinh doanh --</option>
                                @foreach (var item in Notification.ListKeyInTitle.ToList())
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>

                        </div>
                        <div class="form-group fl">
                            <textarea rows="1" class="fl" placeholder="Địa chỉ" v-model="CuahangDangKy.Address"></textarea>
                        </div>
                        <div class="form-group fl">
                            <textarea rows="3" class="fl" placeholder="Ghi chú" v-model="CuahangDangKy.Note"></textarea>
                        </div>
                        <div class="form-group fl">
                            <button type="button" class="form-control btn-send-contact" v-on:click="Clickdangky">
                                <img src="~/Content/images/open24/i-check.png" />
                                Đăng ký ngay
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>

        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>