
@{
    //ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng siêu thị ";
    
}

<div id="renderBody">
    <div class="banner banner-prd-sieuthi bn-img banner-tinh-nang">
        <div class=" content-banner content-prd  content-prd-sieuthi ">
            <h1 class="line-one"><strong> PHẦN MỀM QUẢN LÝ </strong><br /><span class="tinh-nang-size"> SIÊU THỊ MINI</span></h1>
            <div class="content-prd-web">
                <p class="color-ss">Tiết kiệm chi phí - Dùng là mê ly</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
            <div class="  content-prd-mobile ">
                <p class="color-ss">Tiết kiệm chi phí <br />- Dùng là mê ly</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
        </div>

    </div>

    <div class="banner ">
        <div class="container  page-function">
            <div class="list-Weakness">
                <h3 class="title border-bot">Bạn đang gặp phải khó khăn khi quản lý siêu thị mini?</h3>
                <ul class="tree-Weakness">
                    <li>Có quá nhiều mã hàng hóa phải quản lý khiến bạn không thể nhớ.</li>
                    <li>Không thể kiểm soát được số lượng và giá trị hàng hóa tồn trong kho.</li>
                    <li>Khách hàng thường xuyên phải chờ đợi lâu khi thanh toán tại quầy.</li>
                    <li>Nhầm lẫn tính lương, phần trăm hoa hồng cho nhân viên bán hàng.</li>
                    <li>Tổng hợp báo cáo doanh thu hàng ngày, hàng tháng gặp muôn vàn khó khăn.</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="banner banner-gara-service">
        <div class="container  ">
            <div class="list-service list-introduces">
                <h2 class="title border-bot-center">
                    Open24 - Trợ thủ đắc lực <br />giúp bạn giải quyết mọi khó khăn với các tính năng toàn diện
                </h2>
                <div class="tree-service">
                    <div class="tree-li">
                        <h4><span class="number-title-pr">1</span>Quản lý hàng hóa </h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-hang-hoa.jpg" />
                            </div>
                            <div class="text">
                                <p>Lưu thông tin chi tiết về hàng hóa như: mã, tên, lô hàng, giá nhập, giá bán, màu sắc, kích cỡ, chủng loại...</p>
                                <p>Quản lý mọi thông tin mặt hàng thực phẩm, hóa mỹ phẩm, đồ gia dụng... bằng mã vạch thông minh. </p>
                                <p>Hỗ trợ tra cứu, tìm kiếm thông tin hàng hóa theo mã hàng và nhóm hàng.</p>

                            </div>
                        </div>

                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">2</span>Quản lý bán hàng </h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-ban-hang.jpg" />
                            </div>
                            <div class="text">
                                <p>Cho phép tạo nhiều hóa đơn bán hàng cùng một lúc.</p>
                                <p>Bán hàng ngay cả khi mất kết nối Internet.</p>
                                <p>Dễ dàng kết nối với máy quét mã vạch, máy in hóa đơn để hỗ trợ thanh toán tại quầy nhanh và chính xác hơn.</p>
                                <p>Linh hoạt xử lý đơn đặt hàng thành đơn bán.</p>
                                <p>Kiểm soát đơn có mặt hàng đổi trả chính xác.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">3</span>Quản lý và chăm sóc khách hàng</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-cham-soc-khach-hang.jpg" />
                            </div>
                            <div class="text">
                                <p>Lưu thông tin chi tiết về khách hàng như: tên, tuổi, SĐT, giới tính, ngày sinh, địa chỉ, nguồn khách, nhóm khách... </p>
                                <p>Quản lý khách hàng theo nhóm, cho phép tự động nâng hạng khách hàng.</p>
                                <p>Hỗ trợ tra cứu, tìm kiếm thông tin của khách hàng theo trường lọc.</p>
                                <p>Gửi tin nhắn chúc mừng ngày sinh nhật, ngày kỷ niệm của khách.</p>
                            </div>
                        </div>
                    </div>


                    <div class="tree-li">
                        <h4><span class="number-title-pr">4</span>Quản lý marketing</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />
                            </div>
                            <div class="text">
                                <p>Thiết lập và quản lý chương trình khuyến mãi theo từng thời điểm và theo từng nhóm khách hàng. </p>
                                <p>Thiết lập và quản lý các chương trình tích điểm và phát hành thẻ khách hàng.</p>
                                <p>Gửi tin nhắn thông báo chương trình ưu đãi, giảm giá: mua 1 tặng 1, mua hàng giảm giá tiền... tới khách hàng.</p>
                            </div>
                        </div>

                    </div>

                    <div class="tree-li">
                        <h4><span class="number-title-pr">5</span>Quản lý nhà cung cấp </h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-nha-cung-cap.jpg" />
                            </div>
                            <div class="text">
                                <p>Lưu thông tin chi tiết về nhà cung cấp theo mã, theo nhóm mặt hàng.</p>
                                <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. </p>
                                <p>Lưu mọi lịch sử giao dịch với nhà cung cấp: nhập hàng, đổi trả hàng, số tiền tạm ứng, số tiền phải trả...</p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">6</span>Quản lý kho hàng</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-kho-sieu-thi.jpg" />
                            </div>
                            <div class="text">
                                <p>Theo dõi số lượng, giá trị tồn kho từng mặt hàng.</p>
                                <p>Cảnh báo mặt hàng cận DATE, sắp hết để bán và nhập kịp thời.</p>
                                <p>Luân chuyển hàng hóa linh hoạt giữa các kho, các chi nhánh.</p>
                                <p>Hỗ trợ kiểm kê kho định kỳ và đột xuất sản phẩm trong kho khi cần.</p>
                            </div>
                        </div>
                    </div>




                    <div class="tree-li">
                        <h4><span class="number-title-pr">7</span>Quản lý và tính lương nhân viên</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                            </div>
                            <div class="text">
                                <p>Cho phép phân quyền nhân viên thao tác trên phần mềm theo từng bộ phận: bán hàng, thu ngân, kiểm kho, kế toán... </p>
                                <p>Lưu trữ lịch sử mọi giao dịch bán hàng, kiểm kho, lập sổ quỹ...của từng nhân viên tại siêu thị.</p>
                                <p>Tính toán lương, phần trăm hoa hồng cho nhân viên theo số lượng hàng bán được, doanh thu hàng tháng.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tree-li">
                        <h4><span class="number-title-pr">8</span>Quản lý quỹ, công nợ</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-quy-cong-no.jpg" />
                            </div>
                            <div class="text">
                                <p>Tổng hợp công nợ phải thu, phải trả với khách hàng và nhà cung cấp.</p>
                                <p>Quản lý nhật ký thu tiền, chi tiền để tự động cập nhật sổ quỹ.</p>
                                <p>Phân chia các khoản thu, chi theo thực tế nhu cầu hoạt động.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-bc-tong-hop.jpg" />
                            </div>
                            <div class="text">
                                <p>Tự động báo cáo tổng hợp: bán hàng, nhập hàng, đặt hàng, kho hàng, doanh thu, chi phí...</p>
                                <p>Hệ thống báo cáo được trình bày từ chi tiết đến tổng quát.</p>
                                <p>Cho phép xem báo cáo dưới dạng biểu đồ trực quan hoặc dưới dạng danh sách mọi lúc mọi nơi trên mọi thiết bị.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="banner banner-function" style="  ">
        <div class="container  ">
            <div class="list-function list-function-new list-introduces">
                <h2 class="title no-margin-bot">
                    Bán hàng nhanh hơn, doanh thu cao hơn với Open24
                </h2>
                <a href="javascript:void(0)" class="btn-dang-ky-ct element "><i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>


    <div class="banner banner-useful bn-img">
        <div class="container wid100">

            <div class="list-useful list-useful-new">
                <div class="">
                    <div class="fl">
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Không còn xảy ra tình trạng khách hàng phải chờ đợi khi mua hàng hay nhầm lẫn khi trả tiền thanh toán. </p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Không phải nhớ quá nhiều thông tin về sản phẩm mà vẫn bán hàng, kiểm kho đơn giản, nhanh chóng.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Không phải thường xuyên có mặt tại siêu thị mà vẫn quản lý được nhân viên.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Không phải tính toán, tổng hợp mà vẫn có báo cáo kinh doanh hàng tháng.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Không phải gửi tin nhắn chúc mừng, thông báo chương trình khuyến mãi một cách thủ công mà chăm sóc khách hàng một cách tự động.</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>



    @*@Html.Partial("_FunctionPartial")*@

    @*@Html.Partial("_CustomerPartial")*@

    @Html.Partial("_GrdungthuPartial")

    @Html.Partial("_ServicePartial")

    @Html.Partial("_TinhNangDangKyparial")
</div>

<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>

        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>