@{
    ViewBag.Title = "Phần mềm quản lý Spa";
    ViewBag.TitleCus = "Khách hàng đang sử dụng Open24 Beauty !";
}
<style>
    :root {
        --color-theme: #A74AE5;
        --color-theme-2: #debcf5
    }

    .op-panel-icon {
        height: 80px;
        width: 80px;
        display: flex;
        border-radius: 50px;
        border: 1px solid rgb(104, 104, 104);
        padding: 15px;
        align-items: center;
        justify-content: center;
    }

    .op-tinhnang {
        display: flex;
        flex-wrap: wrap
    }

        .op-tinhnang > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }

            .op-tinhnang > div > * {
                margin: 5px;
            }

    .op-section-title {
        text-align: center;
        margin: 45px 0;
    }

    .banner-wave {
        background-image: url(../../Content/images/Beauty/beauty-banner.png);
    }
    /*.footer-open {
        background-image: url(/Content/images/Beauty/beauty-footer.png);
    }*/
    .op-description-body {
        display: block;
    }

    .op-description-toggle.arrow-up > i {
        transform: rotate(-180deg);
    }

    .op-description-toggle > i {
        transition: all 0.4s ease;
        transform: rotate(0);
    }

    .op-description {
        background: white;
        border-radius: 10px;
        border: 1px solid #D4EBFF;
        padding: 10px 3px;
        /*margin-bottom: 30px;*/
    }

    .op-description-title {
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
</style>
@section scripts{
    <script>
        //
        $(document).on('show', '.accordion', function (e) {
            $(e.target).prev('.accordion-heading').addClass('accordion-opened');
        });
        $(document).on('hide', '.accordion', function (e) {
            $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
        });
    </script>
}
@using Model_banhang24vn.Common
<div id="renderBody" style="position:relative">
    <input id="currentPage" value="Beauty" hidden />
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content" data-aos="fade-right">
                <h1 class="op-gara-heading">
                    <span>    Open24 Beauty</span>
                    <br />
                    <span style="        color: white;
">
                        Quản lý hiệu quả
                    </span>
                    <br />
                    <span style="        color: white;
">
                        Kết quả ngọt ngào !
                    </span>
                </h1>
                <button class="btn-ads" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
                @*<button class="btn-ads" style="background: #FFD40C" data-toggle="modal" data-target="#modalTuVan">Đặt mua</button>*@
            </div>
            <div class="op-banner-image">
                <img src="~/Content/images/Beauty/beauty-cover.png" alt="gara xe" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="op-section-title">
            <font>
                Phần mềm thiết kế phù hợp<br />
                với các mô hình quản lý
            </font>
        </div>
        <div class="op-tinhnang" style="justify-content:center">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Beauty/Beauty Hand Cream.png" alt="beauty chức năng" />
                </div>
                <label>Spa, thẩm mỹ viện</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Beauty/barbershop.png" alt="beauty chức năng" />
                </div>
                <label>Hair Salon</label>
            </div>
        </div>
        <div class="op-tinhnang">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Beauty/nail.png" alt="beauty chức năng" />
                </div>
                <label>Tiệm nail</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Beauty/massage.png" alt="beauty chức năng" />
                </div>
                <label>Tiệm massage</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Beauty/beauty-treatment.png" alt="beauty chức năng" />
                </div>
                <label>Tiệm trang điểm</label>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="op-panel-icon">
                    <img src="~/Content/images/Beauty/stethoscope.png" alt="beauty chức năng" />
                </div>
                <label>Phòng khám</label>
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center; display: flex;flex-direction: column; justify-content: center;">
        <div class="op-section-title">
            <font>
                Quy trình chung
            </font>
        </div>
        <div style="padding:15px">
            <div class="op-quytrinh">

                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/beauty/spa-quytrinh-1.svg" />
                    <div>
                        <span>1</span>
                        <b>Tiếp nhận thông</b>
                        <b>tin khách hàng</b>
                    </div>
                </div>



                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/beauty/spa-quytrinh-2.svg" />
                    <div>
                        <span>2</span>
                        <b>Tư vấn gói</b>
                        <b>dịch vụ phù hợp</b>
                    </div>
                </div>


                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/beauty/spa-quytrinh-3.svg" />
                    <div>
                        <span>3</span>
                        <b>Bán dịch vụ</b>
                        <b>gói liệu trình</b>
                        <b>sản phẩm</b>
                    </div>
                </div>

                <div style="width:100%"></div>

                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/beauty/spa-quytrinh-4.svg" />
                    <div>
                        <span>4</span>
                        <b>Nhân viên thực</b>
                        <b> hiện liệu trình</b>
                    </div>
                </div>
                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/beauty/spa-quytrinh-5.svg" />
                    <div>
                        <span>5</span>
                        <b>chăm sóc khách</b>
                        <b>hàng sau bán</b>
                    </div>
                </div>
                <div class=" op-quytrinh-items">
                    <img src="~/Content/images/quytrinh/beauty/spa-quytrinh-6.svg" />
                    <div>
                        <span>6</span>
                        <b>Nhắc nhở khách hàng </b>
                        <b> đến lịch sử dụng dịch vụ</b>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--quy trinh sua chua-->
    <div class="container">
        <div class="op-section-title">
            <font>Tính năng chính Open24 Beauty</font>
        </div>
        <div style="display:flex;flex-direction:row; flex-wrap:wrap">
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">1</span>
                            Quản lý khách hàng

                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Theo dõi chi tiết thông tin khách hàng
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Theo dõi ngày sinh nhật, kỷ niệm khách hàng
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Theo dõi nhật ký giao dịch, lịch hẹn
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">2</span>
                            Quản lý mỹ phẩm, dịch vụ
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">       Quản lý danh mục mỹ phẩm, dịch vụ, in ấn mã vạch</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">   Theo dõi mỹ phẩm bán chạy, sắp hết, cận date, kiểm kê kho</span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">     Theo dõi số lượng, giá trị tồn từng sản phẩm trong kho vật tư.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">3</span>
                            Quản lý kho, nhập mua
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý nhập mua, trả lại nhà cung cấp
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý bán hàng, xuất kho mỹ phẩm sử dụng
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý công nợ nhà cung cấp
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">4</span>
                            Quản lý bán thẻ giá trị, nạp thẻ
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý phát hành thẻ
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý khách nạp tiền thẻ
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý sử dụng thẻ, nhật ký, số dư thẻ
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">5</span>
                            Quản lý bán gói dịch vụ, liệu trình
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý bán gói dịch vụ
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Theo dõi khách hàng sử dụng dịch vụ, nhắc nhở khách hàng
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Theo dõi nhật ký sử dụng, số buổi còn lại
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">6</span>
                            Quản lý lịch hẹn, nhắc lịch
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Theo dõi khách đặt lịch, đến hẹn
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Nhắc nhở khách đến sử dụng liệu trình, dịch vụ
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Hệ thống chăm sóc khách hàng định kỳ
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">7</span>
                            Quản lý sms, email marketing
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý email marketing gửi mail hàng loạt
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Tích hợp hệ thống tin nhắn thương hiệu sms brandname
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Báo cáo phân tích, thống kê hoạt động email, sms marketing
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">8</span>
                            Quản lý quỹ, công nợ
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý sổ quỹ, nhật ký thu tiền, chi tiền theo từng khoản mục
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý công nợ khách hàng, nhà cung cấp, nhân viên ..
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Báo cáo phân tích thu chi, chi phí đa dạng theo ngày, tháng, quý, năm
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">9</span>
                            Báo cáo hoạt động kinh doanh
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Hệ thống báo cáo doanh thu, chi phí theo từng ngày
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Báo cáo tổng hợp hàng hóa, dịch vụ, khách hàng, kho
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Báo cáo kết quả hoạt động kinh doanh theo ngày, tháng, quý, năm
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-3">
                <div class="op-description">
                    <div class="op-description-header" onclick="ToggleNext(this)">
                        <div class="op-description-title">
                            <span class="op-description-number">10</span>
                            Chấm công, tính lương, hoa hồng
                        </div>
                        <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
                    </div>
                    <div class="op-description-body">
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý chấm công hàng ngày, hàng giờ
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý hoa hồng bán hàng, tư vấn, thực hiện dịch vụ
                            </span>
                        </div>
                        <div class="op-description-item">
                            <i class="fa fa-caret-right"></i>
                            <span class="op-description-detail">
                                Quản lý bảng lương tổng hợp, lương tư vấn, lương thực hiện
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="op-section-title">
                <font>Bảng giá phần mềm Open24 Beauty</font>
                <div style="display:flex; flex-direction:column">
                    <span>Không chi phí phát sinh</span>
                    <span>
                        Hỗ trợ trong suốt quá trình sử dung
                    </span>

                </div>
            </div>
            <div class="flex op-price">
                <!--gói tiết kiệm-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói tiết kiệm</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/save-money.png" />
                        </div>
                        <div>
                            <font style="color:var(--color-theme); font-size:32px">230.000</font>
                            <span>đ/tháng</span>
                        </div>
                        <div class="op-panel-detail">
                            <div>
                                Quản lý khách hàng, nhà cung cấp
                            </div>
                            <div>
                                Quản lý hàng, hóa dịch vụ
                            </div>
                            <div>
                                Quản lý kho, nhập mua
                            </div>
                            <div>
                                Quản lý bán thẻ giá trị, nạp thẻ
                            </div>
                            <div>
                                Quản lý bán gói dịch vụ, liệu trình
                            </div>

                            <div>
                                Quản lý quỹ, công nợ

                            </div>
                            <div>
                                Báo cáo hoạt động kinh doanh

                            </div>
                            <div class="op-price-excepted">
                                Chấm công, tính lương, hoa hồng

                            </div>
                            <div class="op-price-excepted">
                                Quản lý lịch hẹn, nhắc lịch

                            </div>
                            <div class="op-price-excepted">
                                Quản lý sms, email marketing

                            </div>

                            <b class="" style="width:100%; text-align:center; display:inline-block"> 01 chi nhánh</b>

                            <b class="" style="width:100%; text-align:center; display:inline-block">
                                03 tài khoản đăng nhập
                            </b>




                        </div>
                        <button class="btn-ads" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                    </div>
                </div>
                <!--gói tiêu chuẩn-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel op-tag-start">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói tiêu chuẩn</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/standard.png" />
                        </div>
                        <div>
                            <font style="color:var(--color-theme); font-size:32px">499.000</font>
                            <span>đ/tháng</span>
                        </div>
                        <div class="op-panel-detail">
                            <div>
                                Quản lý khách hàng, nhà cung cấp
                            </div>
                            <div>
                                Quản lý hàng, hóa dịch vụ
                            </div>
                            <div>
                                Quản lý kho, nhập mua
                            </div>
                            <div>
                                Quản lý bán thẻ giá trị, nạp thẻ
                            </div>
                            <div>
                                Quản lý bán gói dịch vụ, liệu trình
                            </div>

                            <div>
                                Quản lý quỹ, công nợ

                            </div>
                            <div>
                                Báo cáo hoạt động kinh doanh

                            </div>
                            <div>
                                Chấm công, tính lương, hoa hồng

                            </div>
                            <div>
                                Quản lý lịch hẹn, nhắc lịch

                            </div>
                            <div class="op-price-excepted">
                                Quản lý sms, email marketing

                            </div>

                            <b class="" style="width:100%; text-align:center; display:inline-block">01 chi nhánh</b>


                            <b class="" style="width:100%; text-align:center; display:inline-block">
                                06 tài khoản đăng nhập
                            </b>



                        </div>
                        <button class="btn-ads btn-focus" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                    </div>
                </div>
                <!--Gói nâng cao-->
                <div class="col-lg-4 col-xs-12 p-2">
                    <div class="op-price-panel">
                        <font class="" style=" text-transform: uppercase; font-weight:bold">Gói nâng cao</font>
                        <div class="op-panel-icon">
                            <img src="~/Content/images/gara/diploma.png" />
                        </div>
                        <div>
                            <font style="color:var(--color-theme); font-size:32px">699.000</font>
                            <span>đ/tháng</span>
                        </div>
                        <div class="op-panel-detail">
                            <div>
                                Quản lý khách hàng, nhà cung cấp
                            </div>
                            <div>
                                Quản lý hàng, hóa dịch vụ
                            </div>
                            <div>
                                Quản lý kho, nhập mua
                            </div>
                            <div>
                                Quản lý bán thẻ giá trị, nạp thẻ
                            </div>
                            <div>
                                Quản lý bán gói dịch vụ, liệu trình
                            </div>

                            <div>
                                Quản lý quỹ, công nợ

                            </div>
                            <div>
                                Báo cáo hoạt động kinh doanh

                            </div>
                            <div>
                                Chấm công, tính lương, hoa hồng

                            </div>
                            <div>
                                Quản lý lịch hẹn, nhắc lịch

                            </div>
                            <div>
                                Quản lý sms, email marketing

                            </div>

                            <b class="" style="width:100%; text-align:center; display:inline-block"> 01 chi nhánh</b>

                            <b class="" style="width:100%; text-align:center; display:inline-block">
                                15 tài khoản đăng nhập
                            </b>


                        </div>
                        <button class="btn-ads" data-bs-toggle="modal" data-bs-target="#modalTuVan">Dùng thử</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_CustomerPartial")
    <div class="banner-wave" >
        <h2 class="bg-line-text" data-aos="fade-up">
            <span style="white-space:nowrap">Chúng tôi luôn không ngừng nỗ lực</span>
            <br />
            <span style="color: #FFD40C">vì sự hài lòng của bạn !</span>
        </h2>
    </div>
    @Html.Partial("_RequestPartial")
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" style="padding-top: 5%;">
            <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>
    vmbody.GetCustomerHome();
    vmbody.IsShowCustomer = false;
    vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>
<!--ಠ_ಠ do we need it?-->