
@{
    //ViewBag.Title = "thanhcong";
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="vi"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      itemscope="itemscope"
      itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="@Html.Raw(ViewBag.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeywords)" />
    <meta property="fb:app_id" content="1992802757652987">
    <meta property="fb:admins" content="100004299791963">
    <meta name="google-site-verification" content="v6RuYkg_FmCaJ_nwerIbMvecaDoo_dhNLAzGeqDlrL8" />
    <link rel="icon" href="~/Content/images/open24.vn.png" type="image/gif">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script type='text/javascript' src='//c.trazk.com/c.js?_key=1588205822' async='async'> </script>
    @Styles.Render("~/bundles/LayoutOpen24")
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MNPGJD5');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <div class="jumbotron text-xs-center">
        <div class="jumbotron-top">
            <img src="~/Content/images/open24/i-check-succes.png" />
            <h1 class="display-3">Chúc mừng!</h1>
            <p class="lead"><strong>Quý khách</strong> đã đăng ký dùng thử thành công.</p>
        </div>
        <hr>
        <div class="jumbotron-body">
            <p>
                Đội ngũ chăm sóc khách hàng của Open24 sẽ liên hệ ngay với Quý khách để tư vấn cụ thể và hỗ trợ khởi tạo phần mềm
            </p>
            <p>
                Quý khách cũng có thể tham khảo thêm các tính năng và lợi ích khác của phần mềm quản lý bán hàng Open24.
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="https://open24.vn/" role="button">Quay về trang chủ</a>
            </p>
        </div>
    </div>
</body>
</html>
