
@{
    //ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng thời trang";
    
}

<div id="renderBody">
    <div class="banner banner-prd-thoitrang bn-img banner-tinh-nang">
        <div class=" content-banner content-prd content-prd-thoitrang ">
            <h1><strong> PHẦN MỀM QUẢN LÝ </strong><br /><font><span>THỜI TRANG </span>& PHỤ KIỆN</font> </h1>
            <div class="content-prd-web">
                <p class="color-ss">Sử dụng đơn giản - Tiết kiệm chi phí</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
            <div class="  content-prd-mobile content-prd-mobile-thoi-trang">
                <p class="color-ss">Sử dụng đơn giản <br />- Tiết kiệm chi phí</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
        </div>

    </div>

    <div class="banner">
        <div class="container  page-function">
            <div class="list-Weakness">
                <h3 class="title border-bot">5 vấn đề thường gặp của chủ shop thời trang và phụ kiện</h3>
                <ul class="tree-Weakness">
                    <li>Hàng hóa về liên tục với nhiều mẫu mã, kích thước, màu sắc… không thể kiểm soát hết được?</li>
                    <li>Không biết số lượng hàng hóa cụ thể, mẫu mã nào đang bán chạy để nhập hàng kịp thời?</li>
                    <li>Mất nhiều thời gian mỗi khi thông báo chương trình khuyến mãi, sự kiện tới từng khách hàng?</li>
                    <li>Các hoạt động marketing thường bị chồng chéo lên nhau trong mùa mua sắm cuối năm?</li>
                    <li>Muốn đi nghỉ ngơi nhưng lo sợ nhân viên không làm việc tốt, doanh thu lại giảm?</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="banner banner-gara-service">
        <div class="container  ">
            <div class="list-service list-introduces">
                <h2 class="title border-bot-center">
                    Open24 - Trợ thủ đắc lực <br />giúp bạn giải quyết mọi vấn đề với các tính năng toàn diện
                </h2>
                <div class="tree-service">
                    <div class="tree-li">
                        <h4><span class="number-title-pr">1</span>Quản lý bán hàng</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-ban-hang.jpg" />
                            </div>
                            <div class="text">
                                <p>Quản lý chi tiết mọi đơn đặt hàng.</p>
                                <p>Quản lý bán hàng hóa, dịch vụ bằng mã vạch thông minh, đơn giản, in hóa đơn(bill) nhanh chóng.</p>
                                <p>Quản lý đổi trả hàng nhanh chóng, chính xác.</p>
                                <p>Tích hợp với nhiều thiết bị phần cứng liên quan: máy in hóa đơn, máy quét mã vạch...</p>

                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">2</span>Quản lý và chăm sóc khách hàng</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-cham-soc-khach-hang.jpg" />
                            </div>
                            <div class="text">
                                <p>Quản lý lưu giữ mọi thông tin cá nhân, số điện thoại, ngày sinh, địa chỉ,... của khách hàng để chăm sóc khách hàng hiệu quả.</p>
                                <p>Quản lý phân chia khách hàng theo từng nhóm khác nhau, thiết lập chương trình chăm sóc riêng cho từng nhóm.</p>
                                <p>Nhắc nhở ngày sinh nhật khách hàng và tự động gửi tin nhắn chúc mừng. </p>
                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">3</span>Quản lý Marketing</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />

                            </div>
                            <div class="text">
                                <p>Quản lý, tạo các chương trình khuyến mãi, Marketing theo từng thời điểm, theo từng đối tượng khách hàng</p>
                                <p>Quản lý cùng lúc nhiều chương trình khuyến mại khác nhau như: giờ vàng, mua 1 tặng 1, tặng điểm tích lũy,..</p>
                                <p>Đồng bộ chương trình khuyến mãi cho tất cả các chi nhánh trên toàn hệ thống.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tree-li">
                        <h4><span class="number-title-pr">4</span>Quản lý hàng hóa</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-hang-hoa.jpg" />
                            </div>
                            <div class="text">
                                <p>Quản lý không giới hạn mọi mặt hàng: quần áo, túi xách, giầy dép,... và sắp xếp theo danh mục, nhóm hàng cụ thể theo mẫu mã, màu sắc, kích thước, số lượng...</p>
                                <p>Quản lý kiểm kê, nhập và xuất từng ngày giờ, điều chỉnh giá bán, giá vốn thông minh, linh hoạt.</p>
                                <p>Quản lý mọi thông tin về các loại hàng hóa bằng mã vạch thông minh.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tree-li">
                        <h4><span class="number-title-pr">5</span>Quản lý và tính lương nhân viên</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                            </div>
                            <div class="text">
                                <p>Theo dõi sát sao, chặt chẽ ca làm việc, hiệu quả làm việc của từng nhân viên.</p>
                                <p>Tạo nhiều nhóm quyền khác nhau trong một cửa hàng phù hợp với vai trò của từng nhân viên.</p>
                                <p>Lưu chi tiết lịch sử giao dịch và mọi hoạt động làm việc của nhân viên bán hàng.</p>
                                <p>Tính toán lương, hoa hồng một cách chính xác cho nhân viên phù hợp với năng suất làm việc.</p>
                            </div>
                        </div>
                    </div>


                    <div class="tree-li">
                        <h4><span class="number-title-pr">6</span>Quản lý kho </h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-kho-sieu-thi.jpg" />
                            </div>
                            <div class="text">
                                <p>Quản lý tồn kho chính xác tới từng mặt hàng cụ thể và chi tiết ở từng chi nhánh.</p>
                                <p>Cảnh báo mặt hàng cận DATE, mã hàng dưới định mức tồn tối thiểu hoặc mã hàng vượt định mức tồn tối đa.</p>
                                <p>Cho phép luân chuyển hàng hóa linh hoạt giữa các kho, chi nhánh.</p>
                                <p>Kiểm kho đơn giản, nhanh chóng, tích hợp cùng nhiều thiết bị.</p>

                            </div>

                        </div>
                    </div>




                    <div class="tree-li">
                        <h4><span class="number-title-pr">7</span>Quản lý quỹ, công nợ</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-quy-cong-no.jpg" />
                            </div>
                            <div class="text">
                                <p>Quản lý khai báo thông tin nhà cung cấp theo từng nhóm riêng.</p>
                                <p>Quản lý lịch sử giao dịch đối với từng nhà cung cấp.</p>
                                <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. </p>
                            </div>

                        </div>
                    </div>

                    <div class="tree-li">
                        <h4><span class="number-title-pr">8</span>Quản lý nhà cung cấp</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-nha-cung-cap.jpg" />
                            </div>
                            <div class="text">
                                <p>Quản lý khai báo thông tin nhà cung cấp theo từng nhóm riêng.</p>
                                <p>Quản lý lịch sử giao dịch đối với từng nhà cung cấp.</p>
                                <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. </p>

                            </div>
                        </div>
                    </div>
                    <div class="tree-li">
                        <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                        <div class="fl">
                            <div class="img">
                                <img src="~/Content/images/open24/IconNN/i-bc-tong-hop.jpg" />
                            </div>
                            <div class="text">
                                <p>Tự động tổng hợp các báo cáo về: bán hàng, kho hàng, doanh thu, chi phí, lương nhân viên, khách hàng theo từng ngày.</p>
                                <p>Cho phép xem báo cáo trên nhiều dạng: list, biểu đồ...</p>
                                <p>Truy cập hệ thống báo cáo mọi lúc mọi nơi trên mọi thiết bị.</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="banner banner-function" style="  ">
        <div class="container  ">
            <div class="list-function list-function-new list-introduces">
                <h2 class="title no-margin-bot">
                    Open24 trợ thủ giúp bạn<br /> quản lý dễ dàng - nâng cao hiệu quả

                </h2>
                <a href="javascript:void(0)" class="btn-dang-ky-ct element "><i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>


    <div class="banner banner-useful bn-img">
        <div class="container wid100">

            <div class="list-useful">
                <div class="">
                    <div class="fl">
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Bán hàng nhanh chóng</h2>
                            <p>Thanh toán nhanh chỉ 1-2 giây/đơn, Năng cao hiệu suất làm việc tại quầy thanh toán</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Tra cứu tồn kho linh hoạt</h2>
                            <p>Nhanh chóng biết được mẫu sản phẩm nào bán hết để nhập hàng kịp thời.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Quản lý từ xa ở mọi lúc mọi nơi</h2>
                            <p>Xem báo cáo tình hình kinh doanh, biết được lãi lỗ, sản phẩm nào bán chạy</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Gia tăng kết nối khách hàng</h2>
                            <p>Làm khách hàng trung thành hơn qua các hoạt động marketing, tin nhắn chăm sóc.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <h2>Tư vấn các bí quyết kinh doanh & marketing siêu hút khách</h2>
                            <p>Lấy ý kiến từ các chuyên gia hàng đầu về  kinh doanh</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>


            @*@Html.Partial("_FunctionPartial")*@

            @*@Html.Partial("_CustomerPartial")*@

            @Html.Partial("_GrdungthuPartial")

            @Html.Partial("_ServicePartial")

            @Html.Partial("_TinhNangDangKyparial")
        </div>


<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>

        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>