
@{
    ViewBag.Title = "Tin tức";

}
<div id="renderNews">
    <input id="op_type" hidden value="Tintuc"/>
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content" data-aos="fade-right">
                <h1 class="op-gara-heading">
                    <span style="margin-bottom:30px">     Tin tức Open24</span>
                </h1>
            </div>
            <div class="op-banner-image" style="max-width:60%">
                <img src="~/Content/images/open24/op-tintuc-bg.svg" alt="gara xe" />
            </div>
        </div>
    </div>
    <section class="banner">
        <div class="container flex">
            <div class="detail-customer">
                <div class="dt-cutomer-l">
                    <div class="title-viewnews fl">
                        Bài viết mới nhất
                    </div>
                    <div class="fl">
                        <ul class="page-tree-news">
                            <li class="" v-for="(item, index) in curentpage.data" v-show="curentpage.data.length>0" v-bind:class="[index==0 ? 'item-news-one' : 'fa-checkbox-blank-outline']">
                                <div class="img">
                                    <a href="javascript:void(0)" v-bind:href="item.Url">
                                        <img class="bor-radius" v-bind:src="item.Image" />
                                    </a>
                                </div>
                                <div class="news-content-title">
                                    <a href="javascript:void(0)" v-bind:href="item.Url">
                                        <h2 class="title-label">{{item.Title}}</h2>
                                        <span class="time-news-more">{{item.CreatDate}}</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center fl"><a href="javascript:void(0)" class="btn-more" v-on:click="NextPageNews" v-show="curentpage.ishow"> Xem thêm </a></div>
                </div>
                <div class="dt-cutomer-r">
                    <div class="title-viewnews fl">
                        Bài viết xem nhiều nhất
                    </div>
                    <ul class="list-tree-news">
                        <li v-for="(item, index) in listcurentolbar" v-show="listcurentolbar.length>0">
                            <a class="fl" href="javascript:void(0)" v-bind:href="item.Url">
                                <div class="img img-tol3-new">
                                    <img v-bind:src="item.Image" />
                                </div>
                                <div class="new-title">
                                    <p>{{item.Title}}</p>
                                    <span class="time-news-more">   {{item.CreatDate}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="view-news fl">
                        @Html.Partial("PageFacebookPartial")
                    </div>
                </div>

            </div>
        </div>
    </section>
    @Html.Partial("_WeareonePartial")
</div>
<script src="~/Assets/js/Client/open24/RenderNewVue.js"></script>