
@{
    ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng văn phòng phẩm";
    
}

<div id="renderBody">
    <div class="banner banner-prd-vvpham bn-img banner-tinh-nang">
        <div class=" content-banner  content-prd  content-prd-vvpham " style="float: right">
            <h1><strong> PHẦN MỀM QUẢN LÝ </strong><br />
            <font class="content-prd-web"> VĂN PHÒNG PHẨM<br /> & Quà</font>
                <font class="  content-prd-mobile"> VĂN PHÒNG <br />PHẨM & Quà</font></h1>
            <div class="content-prd-web">

                <p>Tiết kiệm chi phí, tăng trưởng doanh thu</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>

            </div>
            <div class="content-prd-mobile content-prd-mobile-vvp">
                <p>Tiết kiệm chi phí,<br /> tăng trưởng doanh thu</p>
                <div class="btn-group-prd-gara">
                    <a href="javascript:void(0)" class="btn-dang-ky-ct btn-dk-home">Dùng thử miễn phí 15 ngày</a>
                </div>
            </div>
        </div>
       
     
    </div>

    <div class="banner ">
        <div class="container  page-function">
            <div class="list-Weakness">
                <h3 class="title border-bot">4 vấn đề thường gặp của chủ cửa hàng văn phòng phẩm</h3>
                <ul class="tree-Weakness">
                    <li>Khó khăn trong quản lý các sản phẩm nhỏ lẻ chi tiết như: đồ dùng học tập, bút vở...</li>
                    <li>Không nắm được sản phẩm nào bán tốt để có kế hoạch nhập phù hợp</li>
                    <li>Không biết xây dựng chương trình ưu đãi cho từng nhóm đối tượng</li>
                    <li>Không cân đối được các khoản thu chi, chi phí nhập xuất dẫn tới thua lỗ, thất thoát</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="banner banner-gara-service">
        <div class="container  ">
            <div class="list-service list-introduces">
                <h2 class="title border-bot-center">
                    Open24 - Trợ thủ đắc lực<br /> giúp bạn giải quyết mọi vấn đề với các tính năng toàn diện
                </h2>
                <div class="tree-service">
                    <div class="col-md-12">
                        <div class="tree-li">
                            <div class="fl">
                                <h4><span class="number-title-pr">1</span>Quản lý bán hàng </h4>
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-ban-hang.jpg" />
                                </div>
                                <div class="text">
                                    <p>Xử lý chuyển trạng thái đơn hàng từ đơn đặt sang đơn bán.</p>
                                    <p>Dễ dàng kết nối với máy quét mã vạch và máy in để xuất hóa đơn.</p>
                                    <p>Cho phép tạo hóa đơn bán hàng, hóa đơn thanh toán ngay cả khi mất kết nối Internet.</p>
                                    <p>
                                        Hỗ trợ nhiều hình thức thanh toán: tiền mặt, thẻ, voucher, ghi nợ...

                                    </p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">2</span>Quản lý hàng hóa</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-hang-hoa.jpg" />
                                </div>
                                <div class="text">
                                    <p>Quản lý không giới hạn mọi mặt hàng: sách vở, giấy bút,... và sắp xếp theo danh mục, nhóm hàng cụ thể.</p>
                                    <p>Tra cứu hàng hóa dễ dàng, theo dõi các đơn đặt hàng thuận tiện, nhanh chóng.</p>
                                    <p>Quản lý kiểm kê, nhập và xuất từng ngày giờ, điều chỉnh giá bán, giá vốn thông minh, linh hoạt.</p>
                                    <p>Kiểm tra tồn kho mặt hàng tại các cửa hàng nhanh chóng khi bán hàng.</p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">

                            <h4><span class="number-title-pr">3</span>Quản lý và chăm sóc khách hàng</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-cham-soc-khach-hang.jpg" />
                                </div>
                                <div class="text">
                                    <p>Lưu chi tiết về thông tin khách hàng: họ tên, số điện thoại, ngày mua hàng, mặt hàng đã mua,...</p>
                                    <p>Cho phép tìm kiếm thông tin khách hàng theo trường lọc.</p>
                                    <p>Nhắc nhở ngày sinh nhật, ngày kỷ niệm của khách hàng và tự động gửi tin nhắn chúc mừng.</p>
                                </div>
                            </div>
                            </div>



                        <div class="tree-li">
                            <h4><span class="number-title-pr">4</span>Quản lý marketing</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-marrketing.jpg" />
                                </div>
                                <div class="text">
                                    <p>Tạo và quản lý các chương trình khuyến mãi, marketing theo từng thời điểm, theo từng đối tượng khách hàng.</p>
                                    <p>Tạo và quản lý các chương trình tích điểm và phát hành thẻ khách hàng thân thiết.</p>
                                    <p>Quản lý đồng bộ chương trình khuyến mãi cho tất cả các chi nhánh của toàn hệ thống.</p>
                                </div>

                            </div>
                        </div>

                        <div class="tree-li">
                            <h4><span class="number-title-pr">5</span>Quản lý kho hàng văn phòng phẩm </h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-kho-van-phong-pham.jpg" />
                                </div>
                                <div class="text">
                                    <p>Theo dõi số lượng, giá trị tồn kho từng sản phẩm.</p>
                                    <p>Cho phép kiểm kê, điều chỉnh giá bán, giá vốn linh hoạt tại mọi thời điểm.</p>
                                    <p>Cảnh báo mã sản phẩm dưới định mức tồn tối thiếu, vượt định mức tồn tối đa</p>
                                    <p>Kiểm kho đơn giản, nhanh chóng, tích hợp cùng nhiều thiết bị.</p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">

                            <h4><span class="number-title-pr">6</span>Quản lý nhà cung cấp</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-nha-cung-cap.jpg" />
                                </div>
                                <div class="text">
                                    <p>Quản lý khai báo thông tin nhà cung cấp theo từng nhóm riêng.</p>
                                    <p>Lưu trữ mọi lịch sử giao dịch đối với từng nhà cung cấp.</p>
                                    <p>Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. </p>
                                </div>
                            </div>
                            </div>



                        <div class="tree-li">
                            <h4><span class="number-title-pr">7</span>Quản lý và tính lương nhân viên</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-luong-nv.jpg" />
                                </div>
                                <div class="text">
                                    <p>Kiểm soát lịch làm việc của từng nhân viên, quản lý các ca bán hàng, lượng sản phẩm mà nhân viên bán ra.</p>
                                    <p>Cho phép phân quyền nhân viên thực hiện thao tác trên phần mềm theo chức vụ.</p>
                                    <p>Tính toán lương, doanh số, hoa hồng nhân viên thu ngân, bán hàng chỉ 1 lần cài đặt.</p>
                                </div>
                            </div>
                            </div>

                        <div class="tree-li">
                            <h4><span class="number-title-pr">8</span>Quản lý quỹ, công nợ</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-quy-cong-no.jpg" />
                                </div>
                                <div class="text">
                                    <p>Quản lý quỹ công nợ phải thu, phải trả chi tiết với khách hàng và nhà cung cấp.</p>
                                    <p>Quản lý nhật ký thu, chi để tự động tổng hợp sổ quỹ.</p>
                                    <p>Phân chia các khoản thu, chi theo nhóm: thu khách hàng, thu nhà cung cấp, chi tiếp khách, chi phí cửa hàng, chi mua hàng...</p>
                                </div>
                            </div>
                            </div>
                        <div class="tree-li">
                            <h4><span class="number-title-pr">9</span>Báo cáo kinh doanh</h4>
                            <div class="fl">
                                <div class="img">
                                    <img src="~/Content/images/open24/IconNN/i-bc-tong-hop.jpg" />
                                </div>
                                <div class="text">
                                    <p>Tự động tổng hợp các báo cáo nhanh chóng, chính xác về: báo cáo tổng hợp bán hàng, kho hàng, doanh thu, chi phí và các báo cáo lương nhân viên, khách hàng theo từng ngày.</p>
                                    <p>Cho phép xem báo cáo trên nhiều dạng: list, biểu đồ... </p>
                                    <p>Truy cập hệ thống báo cáo mọi lúc mọi nơi với mọi thiết bị.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner banner-function" style="  ">
        <div class="container  ">
            <div class="list-function list-function-new list-introduces">
                <h2 class="title no-margin-bot">
                 Phần mềm quản lý văn phòng phẩm Open24<br /> giúp giảm thất thoát - tăng doanh thu
                </h2>
                <a href="javascript:void(0)" class="btn-dang-ky-ct element "><i class="far fa-lightbulb"></i> Dùng thử miễn phí 15 ngày</a>
            </div>
        </div>
    </div>

    <div class="banner banner-useful bn-img">
        <div class="container wid100" >
            <div class="list-useful list-useful-new">
                <div class="">
                    <div class="fl">
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Bán hàng nhanh chóng, tiện lợi. </p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Quản lý sản phẩm dễ dàng, chi tiết không lo thất thoát hàng hóa.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Báo cáo kết quả kinh doanh chính xác, rõ ràng từng ngày, từng nhân viên,....</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Quản lý đơn giản hơn, không cần túc trực tại cửa hàng vẫn có thể theo dõi hoạt động kinh doanh mọi lúc mọi nơi</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate fadeInUp ftco-animated">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <p>Nâng cao hiệu suất làm việc cửa nhân viên bán hàng.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@Html.Partial("_FunctionPartial")*@

    @*@Html.Partial("_CustomerPartial")*@

    @Html.Partial("_GrdungthuPartial")

    @Html.Partial("_ServicePartial")

    @Html.Partial("_TinhNangDangKyparial")
</div>


<script src="~/Assets/js/Client/open24/RenderBodyVue.js"></script>
<script>

        vmbody.GetCustomerHome();
        vmbody.IsShowCustomer = false;
        vmbody.changenganhnghe('@ViewBag.NganhNghe');
</script>