@model Model_banhang24vn.Tag
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tin tức";
}
@section scripts {
    <script>
     window.sessionStorage.setItem("tagId", '@Model.ID');
    </script>

    <script src="~/Content/js/moment.js"></script>
    <script src="~/Assets/js/Client/News.Tags.js"></script>
}
@section FormDangky{
    @Html.Action("_cuahangdangky", new { area = "", controller = "home" })
}
<style>
    .icon-home {
        display: none;
    }
</style>
<div class="banner-news fl">
    <div class="container">
        @*<h3 class="title-news-home">
            Tin tức <br />
            <font>Open24</font>
        </h3>*@
    </div>
</div>

<div class="contentnews fl">
    <div class="container">
        <div class="row">
            <div class="col-md-9 news-recruitment">
                <div class="title-news">
                    <h3> <span > Tags / </span><span> @Model.Name</span></h3>

                </div>
                <!--ko foreach: LisstNews -->
                <div class="item-news fl">
                    <div class="img-news">
                        <a data-bind="attr:{href: Url, title: Title, src: Image}"><img data-bind="attr:{src: Image}" alt="Ảnh"></a>
                        <div class="detail-news">
                            <a data-bind="attr:{href: Url, title: Title, src: Image}">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="content-news">
                        @*<div class="title-news-right">
                            <div class="title-item-text"><a data-bind="attr: { href: Url, title: Title }, text: Title"></a></div>
                        </div>*@
                        <div class="content-news-right">
                            <div class="text-top" ><a data-bind="attr: { href: Url, title: Title }, text: Title"></a></div>
                        </div>
                        <div class="time-news">
                            <i class="fa fa-clock-o"></i>
                            <span data-bind="text:ConvertDate(CreatDate)" />

                        </div>
                    </div>
                </div>
                <!--/ko-->
                    <div class="fl more-news" id="Addnew">
                        <a href="#" data-bind="click: nextPage">Xem thêm</a>
                    </div>
            </div>
            <div class="col-md-3">



                <div class="title-viewnews fl">
                    Bài viết mới nhất
                </div>
                <!--ko foreach: LisstNewsDate -->
                <div class="view-news fl">
                    <div class="content-viewnews fl">
                        <div class="left-viewnews">
                            <a data-bind="attr:{href: Url, title: Title, id:ID, src: Image}">
                                <img src="/Content/images/m6.png" data-bind="attr:{src: Image}" alt="Ảnh">
                            </a>
                            <div class="detail-news">
                                <a data-bind="attr:{href: Url, title: Title, id:ID, src: Image}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>                          <div class="content-news">
                            <div class="title-news-right">
                                <a class="bold" data-bind="attr: { href: Url, title: Title, id:ID }, text: Title"></a>
                            </div>
                            <div class="time-news">
                                <i class="fa fa-clock-o"></i>
                                <span data-bind="text:ConvertDate(CreatDate)" />

                            </div>
                        </div>
                    </div>
                </div>
                <!--/ko-->
                <div class="view-news fl">
                    @Html.Partial("PageFacebookPartial")
                </div>
            </div>
        </div>
    </div>
</div>