@using System.Web.Optimization
@{
    Layout = null;
    //ViewBag.Title = "Open24.vn - Báo Cáo Nhà Cung Cấp";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class=" op-filter">
                    <ul class="tabs-main ">
                        <li class="title-report">Báo cáo nhà cung cấp </li>
                    </ul>
                    <section class="op-filter-body">
                        <article class="boxLeft sortTime">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="~/Content/images/icon/kieuhienthi.png" />             Kiểu hiển thị
                            </h3>
                            <span></span>
                            <aside class="op-filter-container">
                                <ul class=" chose_kieubang">
                                    <li value="1" id="BieuDo">
                                        <a href="#home" data-toggle="tab">
                                            <input type="radio" name="gender" value="1" data-bind="checked: check_kieubang">
                                            <label>Biểu đồ</label>
                                        </a>
                                    </li>
                                    <li value="2" id="BaoCao">
                                        <a href="#info" data-toggle="tab">
                                            <input type="radio" name="gender" value="2" href="#info" data-toggle="tab" data-bind="checked: check_kieubang">
                                            <label>Báo cáo</label>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                        </article>
                        <article class="boxLeft sortTime">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="~/Content/images/icon/nhomnhaCC (1).png" />      Nhà cung cấp
                            </h3>
                            <span></span>
                            <aside class="op-filter-container">
                                <input type="text" placeholder="Theo mã, tên, số điện thoại" class="form-control" id="txtMaHH" data-bind="event: {keyup: SelectMaHH}">
                            </aside>
                        </article>
                        <article class="boxLeft">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="~/Content/images/icon/nguoiban.png" />     Nhóm nhà cung cấp
                            </h3>
                            <span></span>
                            <aside class="op-filter-container">
                                <div class="outselect">
                                    <div class="choose-person floatleft " data-toggle="dropdown" id="choose_NhomDT">
                                        <ul data-bind="foreach: MangNhomDoiTuong">
                                            <li class="li-input-span">
                                                <span data-bind="text: TenNhomDoiTuong">
                                                </span>
                                                <span data-bind="click: $parent.CloseNhomDoiTuong">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" class="dropdown" id="NoteNameNhomDoiTuong" data-bind="event:{keyup: NoteNameNhomDoiTuong}" placeholder="Chọn nhóm nhà cung cấp..." />
                                    </div>
                                    <div class="selec-person dropdown-menu" id="selec-all-NhomDoiTuong">
                                        <ul data-bind="foreach: NhomDoiTuongs">
                                            <li data-bind="attr:{id: ID}, click: $parent.SelectedNhomDoiTuong">
                                                <span data-bind="text: TenNhomDoiTuong"></span>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </article>
                        <article class="boxLeft showChiNhanh">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="~/Content/images/icon/loaithuchi.png" />  Chi nhánh
                            </h3>
                            <aside class="op-filter-container">
                                <div class="outselect">
                                    <div class="nameDonVi choose-person floatleft " data-toggle="dropdown" id="choose_DonVi">
                                        <ul data-bind="foreach: MangChiNhanh">
                                            <li class="li-input-span">
                                                <span data-bind="text: TenDonVi">
                                                </span>
                                                <span data-bind="click: $parent.CloseDonVi">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" class="dropdown nameDonVi" id="NoteNameDonVi" data-bind="event:{keyup: NoteNameDonVi}" placeholder="Chọn chi nhánh..." />
                                    </div>
                                    <div class="selec-person dropdown-menu" id="selec-all-DonVi">
                                        <ul data-bind="foreach: DonVis">
                                            <li data-bind="attr:{id: ID}, click: $parent.SelectedDonVi">
                                                <span data-bind="text: TenDonVi "></span>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </article>
                        <article class="boxLeft">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="~/Content/images/icon/moiquantam.png" />   Mối quan tâm
                            </h3>
                            <span></span>
                            <aside class="op-filter-container">
                                <div class="menuRadio chooseTableBC">
                                    <ul>
                                        <li>
                                            <label><input type="radio" name="rdTonKho" value="1" data-bind="checked: Loc_Table"> Nhập hàng</label>
                                        </li>
                                        <li>
                                            <label><input type="radio" name="rdTonKho" value="2" data-bind="checked: Loc_Table"> Công nợ</label>
                                        </li>
                                        <li>
                                            <label><input type="radio" name="rdTonKho" value="3" data-bind="checked: Loc_Table"> Hàng nhập theo NCC</label>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </article>
                        <article class="boxLeft">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="~/Content/images/icon/thoigian.png" />       Thời gian
                            </h3>
                            <span></span>
                            <aside class="op-filter-container">
                                <div class="menuCheckbox choose_TimeReport">
                                    <div class="form-group floatleft">
                                        <div class="radio-menu">
                                            <input type="radio" name="rd_TimeReport" value="1" checked="true">
                                        </div>
                                        <div class="conten-choose">
                                            <div class=" choose-date">
                                                <div class="dr_TimeReport" data-toggle="dropdown" aria-expanded="true">
                                                    <input type="text" class="dropdown form-control choose-date-show ip_TimeReport" placeholder="Tuần này" value="Tuần này">
                                                </div>
                                                <div class="dropdown-menu choose_txtTime">
                                                    <div class="col-md-4 col-sm-4">
                                                        <h3>Theo ngày và tuần</h3>
                                                        <ul>
                                                            <li value="1" style="display: block;"><a href="javascript:void(0);" >Hôm nay</a></li>
                                                            <li value="2" style="display: block;"><a href="javascript:void(0);" >Hôm qua</a></li>
                                                            <li value="3" style="display: block;"><a href="javascript:void(0);" >Tuần này</a></li>
                                                            <li value="4" style="display: block;"><a href="javascript:void(0);" >Tuần trước</a></li>
                                                            <li value="5" style="display: block;"><a href="javascript:void(0);" >7 ngày qua</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <h3>Theo tháng và quý</h3>
                                                        <ul>
                                                            <li value="6" style="display: block;"><a href="javascript:void(0);" >Tháng này</a></li>
                                                            <li value="7" style="display: block;"><a href="javascript:void(0);" >Tháng trước</a></li>
                                                            <li value="8" style="display: block;"><a href="javascript:void(0);" >30 ngày qua</a></li>
                                                            <li value="9" style="display: block;"><a href="javascript:void(0);" >Quý này</a></li>
                                                            <li value="10" style="display: block;"><a href="javascript:void(0);" >Quý trước</a></li>
                                                        </ul>
                                                    </div><div class="col-md-4 col-sm-4">
                                                        <h3>Theo năm</h3>
                                                        <ul>
                                                            <li value="11" class="ng-scope" style="display: block;"><a href="javascript:void(0);" >Năm này</a></li>
                                                            <li value="12" class="ng-scope" style="display: block;"><a href="javascript:void(0);" >Năm trước</a></li>
                                                            <li value="13" class="ng-scope" style="display: block;"><a href="javascript:void(0);" >Toàn thời gian</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <div class="radio-menu">
                                            <input type="radio" name="rd_TimeReport" value="2">
                                        </div>
                                        <div class="conten-choose">
                                            <div class="floatleft form-wrap ">
                                                <input type="text" class="form-control ip_DateReport newDateTime" name="daterange" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </article>
                        <article class="boxLeft rd_banhang">
                            <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                                <img src="/Content/images/icon/nohientai.png">  Công nợ nhà cung cấp
                            </h3>
                            <aside class="op-filter-container">
                                <div class="menuCheckbox">
                                    <div class="form-group floatleft">
                                        <div class="form-group floatleft">
                                            <div class="radio-menu"><label>Từ</label></div>
                                            <div class="conten-choose">
                                                <input type="text" class="form-control" placeholder="0" onkeyup="formatNumberObj(this)" onkeypress="return keypressNumber_limitNumber(event, this)" data-bind="event: {keyup: valueNoHienTaiFrom}" id="valueNoHienTaiFrom" />
                                            </div>
                                        </div>
                                        <div class="form-group floatleft">
                                            <div class="radio-menu"><label>Tới</label></div>
                                            <div class="conten-choose">
                                                <input type="text" class="form-control" placeholder="Giá trị" onkeyup="formatNumberObj(this)" onkeypress="return keypressNumber_limitNumber(event, this)" data-bind="event: {keyup: valueNoHienTaiTo}" id="valueNoHienTaiTo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </article>
                    </section>
                    <div class="op-filter-footer">
                        <button type="button" class="kv2Btn">Hoàn tất</button>
                    </div>
                </div>
                <div class="content-table  " id="myScrollspy" style="top: 48px;position: sticky;">
                    <a href="javascript:void(0)" class="seach-fillter seach-fillter-bottom"><i class="fa fa-search" aria-hidden="true"></i></a>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <a href="javascript:void(0)" class="seach-fillter seach-fillter-bottom"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <div id="chart"></div>
                        </div>
                        <div class="tab-pane" id="info">
                            <div class="repost-bg floatleft" id="printablediv5">
                                <div class="repost">
                                    <div class="title-report-center"><span data-bind="text: MoiQuanTam"></span></div>
                                    <p>Ngày bán: <span data-bind="text: TodayBC"></span></p>
                                    <p>Chi nhánh: <span data-bind="text: TenChiNhanh"></span></p>
                                </div>
                                <div class="btnMenu pull-right">
                                    <button type="button" class="btn btn-main dropdown-toggle xuatfile" data-bind="click: ExportExcel"> <i class="fa fa-file-excel-o"></i> Xuất file</button>
                                    <button class="btn btn-main btn-group" id="btnExport" name="btnExport" onclick="printPage()"><i class="fa fa-print icon-print"></i>In</button>
                                    <div class="btn-dropdown">
                                        <button type="button" class="btn btn-main  dropdown-toggle" onclick="showCollumnFilter(this)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             <i class="fa fa-angle-double-down"></i>
                                        </button>
                                        <div class="dropdown-list drop-column">
                                            <ul class="list_NHNCC">
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " id="nccma" checked="checked" value="0"><span></span>Mã nhà cung cấp</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " id="nccname" checked="checked" value="1"><span></span>Tên nhà cung cấp</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " id="nccgiatrinhap" checked="checked" value="2"><span></span>Giá trị nhập</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " id="nccgiatritra" checked="checked" value="3"><span></span>Giá trị trả</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " id="nccgiatrithuan" checked="checked" value="4"><span></span>Giá trị thuần</label>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="list_NHCN">
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="cnma" value="0"><span></span>Mã nhà cung cấp</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="cnnamet" value="1"><span></span>Tên nhà cung cấp</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="cndauky" value="2"><span></span>Nợ đầu kỳ</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="cnghino" value="3"><span></span>Ghi nợ</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="cnghichu" value="4"><span></span>Ghi chú</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="cncuoiky" value="5"><span></span>Nợ cuối kỳ</label>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="list_THCC">
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="tnccma" value="0"><span></span>Mã nhà cung cấp</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="tnccname" value="1"><span></span>Tên nhà cung cấp</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="tnccsoluong" value="2"><span></span>Số lượng sản phẩm</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" class="checkbox " checked="checked" id="tnccgiatri" value="3"><span></span>Giá trị</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-reponsive table_h" id="table-reponsive">
                                    <table class="table table-striped table-hover table_BanHang">
                                        <thead>
                                            <tr>
                                                <th class="nccma">Mã nhà cung cấp</th>
                                                <th class="nccname">Tên nhà cung cấp</th>
                                                <th class="nccgiatrinhap text-right">Giá trị nhập</th>
                                                <th class="nccgiatritra text-right">Giá trị trả</th>
                                                <th class="nccgiatrithuan text-right">Giá trị (thuần)</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_NhapHang">
                                            <tr class="tr-show Select_NhaCungCap " data-bind="click: $parent.SelectedReportNCC_NhapHangChiTiet">
                                                <td class="plus-tr nccma"><div class="innerplus-tr"><i class="fa fa-plus blue" aria-hidden="true"></i><i class="fa fa-minus blue" aria-hidden="true"></i></div><span data-bind="text: MaNCC"></span></td>
                                                <td class="nccname" data-bind="text: TenNCC"></td>
                                                <td class="nccgiatrinhap text-right" data-bind="text: formatNumber(GiaTriNhap)"></td>
                                                <td class="nccgiatritra text-right" data-bind="text: formatNumber(GiaTriTra)"></td>
                                                <td class="nccgiatrithuan text-right" data-bind="text: formatNumber(GiaTriThuan)"></td>
                                            </tr>
                                            <tr class="tr-hide">
                                                <td colspan="6">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Mã phiếu</th>
                                                                <th>Thời gian</th>
                                                                <th class="text-right">SL Sản phẩm</th>
                                                                <th class="text-right">Tổng giá trị</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach: $parent.ReportNCC_NhapHangChiTiet">
                                                            <tr>
                                                                <td data-bind="text: MaPhieu"></td>
                                                                <td data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY')!='Invalid date'? moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm'):''"></td>
                                                                <td class="text-right" data-bind="text: formatNumber(SoLuongSanPham)"></td>
                                                                <td class="text-right" data-bind="text: formatNumber(TongGiaTri)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="page" hidden>
                                                        <div class="flex flex-end">
                                                            <a href="javascript:void(0)" data-bind="click: $root.StartPageNhapHang" id="StartPageNhapHang"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" data-bind="click: $root.BackPageNhapHang" id="BackPageNhapHang"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                                            <ul data-bind="foreach: $parent.SumNumberPageReportNhapHang">
                                                                <li data-bind="click: $root.gotoNextPageNhapHang">
                                                                    <a href="javascript:void(0)" data-bind="text: SoTrang,css: $root.GetClassNhapHang($data)"></a>
                                                                </li>
                                                            </ul>
                                                            <a href="javascript:void(0)" data-bind="click: $root.NextPageNhapHang" id="NextPageNhapHang"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" data-bind="click: $root.EndPageNhapHang" id="EndPageNhapHang"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                                            <div class="total-recos">
                                                                Hiển thị <span data-bind="text: $parent.RowsStartNhapHang"></span> - <span data-bind="text: $parent.RowsEndNhapHang"></span> trên tổng số
                                                                <span data-bind="text: $parent.SumRowsHangHoaNhapHang"></span> phiếu
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="out-print ">
                                                        <button type="button" class="btn btn-main btn-green dropdown-toggle " id="btnPrintExport" name="btnExport" onclick="printPageNhapHangCT()"><i class="fa fa-print icon-print"></i>In</button>
                                                        <button type="button" class="btn btn-main btn-green dropdown-toggle" data-bind="click: $parent.ExportExcel_ChiTiet"> <i class="fa fa-file-excel-o"></i> Xuất file</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="PhanQuyen" hidden>
                                            <tr>
                                                <td class="bg12 bhma text-center" colspan="5"><i>Bạn không có quyền xem báo cáo này!</i></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot class="Report_Empty" hidden>
                                            <tr>
                                                <td class="bg12 bhma text-center" colspan="5"><i>Báo cáo không có dữ liệu</i></td>
                                            </tr>
                                        </tfoot>
                                        <tbody class="TongCongNhapHang" hidden>
                                            <tr>
                                                <td class="bg12 nccma bold">Tổng cộng: </td>
                                                <td class="bg12 nccname bold"></td>
                                                <td class="bg12 text-right nccgiatrinhap bold" data-bind="text: formatNumber(SumGiaTriNhap())"></td>
                                                <td class="bg12 text-right nccgiatritra bold" data-bind="text: formatNumber(SumGiaTriTra())"></td>
                                                <td class="bg12 text-right nccgiatrithuan bold" data-bind="text: formatNumber(SumGiaTriThuan())"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped table-hover table_LoiNhuan">
                                        <thead>
                                            <tr>
                                                <th class="cnma">Mã nhà cung cấp</th>
                                                <th class="cnnamet">Tên nhà cung cấp</th>
                                                <th class="cndauky text-right">Nợ đầu kỳ</th>
                                                <th class="cnghino text-right">Ghi nợ</th>
                                                <th class="cnghichu text-right">Ghi có</th>
                                                <th class="cncuoiky text-right">Nợ cuối kỳ</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_CongNo">
                                            <tr class="tr-show" data-bind="click: $parent.SelectedReportNCC_CongNoChiTiet">
                                                <td class="plus-tr cnma"><div class="innerplus-tr"><i class="fa fa-plus blue" aria-hidden="true"></i><i class="fa fa-minus blue" aria-hidden="true"></i></div><span data-bind="text: MaKhachHang"></span></td>
                                                <td class="cnnamet" data-bind="text: TenKhachHang"></td>
                                                <td class="cndauky text-right" data-bind="text: formatNumber(NoDauKy  * (-1))"></td>
                                                <td class="cnghino text-right" data-bind="text: formatNumber(GhiNo)"></td>
                                                <td class="cnghichu text-right" data-bind="text: formatNumber(GhiCo)"></td>
                                                <td class="cncuoiky text-right" data-bind="text: formatNumber(NoCuoiKy  * (-1))"></td>
                                            </tr>
                                            <tr class="tr-hide">
                                                <td colspan="6">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Phiếu</th>
                                                                <th>Thời gian</th>
                                                                <th>Loại phiếu</th>
                                                                <th class="text-right">Giá trị</th>
                                                                <th class="text-right">Dư nợ cuối</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach: $parent.ReportNCC_CongNoChiTiet">
                                                            <tr>
                                                                <td data-bind="text: MaHoaDon"></td>
                                                                <td data-bind="text: moment(ThoiGian).format('DD/MM/YYYY')!='Invalid date'? moment(ThoiGian).format('DD/MM/YYYY HH:mm'):''"></td>
                                                                <td data-bind="text: LoaiPhieu"></td>
                                                                <td class="text-right" data-bind="text: formatNumber(GiaTri)"></td>
                                                                <td class="text-right" data-bind="text: formatNumber(DuNoCuoi)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="page">
                                                        <div class="flex flex-end">
                                                            <a href="javascript:void(0)" data-bind="click: $root.StartPageCongNo" id="StartPageCongNo"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" data-bind="click: $root.BackPageCongNo" id="BackPageCongNo"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                                            <ul data-bind="foreach: $parent.SumNumberPageReportCongNo">
                                                                <li data-bind="click: $root.gotoNextPageCongNo">
                                                                    <a href="javascript:void(0)" data-bind="text: SoTrang,css: $root.GetClassCongNo($data)"></a>
                                                                </li>
                                                            </ul>
                                                            <a href="javascript:void(0)" data-bind="click: $root.NextPageCongNo" id="NextPageCongNo"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" data-bind="click: $root.EndPageCongNo" id="EndPageCongNo"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                                            <div class="total-recos">
                                                                Hiển thị <span data-bind="text: $parent.RowsStartCongNo"></span> - <span data-bind="text: $parent.RowsEndCongNo"></span> trên tổng số
                                                                <span data-bind="text: $parent.SumRowsHangHoaCongNo"></span> phiếu
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="out-print ">
                                                        <button type="button" class="btn btn-main btn-green dropdown-toggle " id="btnPrintExport" name="btnExport" onclick="printPageCongNoCT()"><i class="fa fa-print icon-print"></i>In</button>
                                                        <button type="button" class="btn btn-main btn-green dropdown-toggle" data-bind="click: $parent.ExportExcel_CongNoChiTiet"> <i class="fa fa-file-excel-o"></i> Xuất file</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="PhanQuyen" hidden>
                                            <tr>
                                                <td class="bg12 bhma text-center" colspan="6"><i>Bạn không có quyền xem báo cáo này!</i></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot class="Report_Empty" hidden>
                                            <tr>
                                                <td class="bg12 bhma text-center" colspan="6"><i>Báo cáo không có dữ liệu</i></td>
                                            </tr>
                                        </tfoot>
                                        <tbody class="TongCongCongNo" hidden>
                                            <tr>
                                                <td class="bg12 cnma bold">Tổng cộng: </td>
                                                <td class="bg12 cnnamet bold"></td>
                                                <td class="bg12 text-right cndauky bold" data-bind="text: formatNumber(SumNoDauKy() * (-1))"></td>
                                                <td class="bg12 text-right cnghino bold" data-bind="text: formatNumber(SumGhiNo())"></td>
                                                <td class="bg12 text-right cnghichu bold" data-bind="text: formatNumber(SumGhiCo())"></td>
                                                <td class="bg12 text-right cncuoiky bold" data-bind="text: formatNumber(SumNoCuoiKy()  * (-1))"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped table-hover table_NhanVien">
                                        <thead>
                                            <tr>
                                                <th class="tnccma">Mã nhà cung cấp</th>
                                                <th class="tnccname ">Tên nhà cung cấp</th>
                                                <th class="tnccsoluong text-right">Số lượng sản phẩm</th>
                                                <th class="tnccgiatri text-right">Giá trị</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_NhaCungCap">
                                            <tr class="tr-show" data-bind="click: $parent.SelectedReportNCC_MuaHangChiTiet">
                                                <td class="plus-tr tnccma"><div class="innerplus-tr"><i class="fa fa-plus blue" aria-hidden="true"></i><i class="fa fa-minus blue" aria-hidden="true"></i></div><span data-bind="text: MaNCC"></span></td>
                                                <td class="tnccname" data-bind="text: TenNCC"></td>
                                                <td class="tnccsoluong text-right" data-bind="text: formatNumber(SoLuongSanPham)"></td>
                                                <td class="tnccgiatri text-right" data-bind="text: formatNumber(GiaTri)"></td>
                                            </tr>
                                            <tr class="tr-hide">
                                                <td colspan="6">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Mã hàng hóa</th>
                                                                <th>Tên hàng hóa</th>
                                                                <th class="text-right">SL Sản phẩm</th>
                                                                <th class="text-right">Tổng giá trị</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach: $parent.ReportNCC_MuaHangChiTiet">
                                                            <tr>
                                                                <td data-bind="text: MaHangHoa"></td>
                                                                <td class="cls3">
                                                                    <span data-bind="text: TenHangHoa"></span>
                                                                    <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                                                    <span data-bind="text: TenDonViTinh" style="color:#0094ff"></span>
                                                                    <span data-bind="text: TenLoHang" style="color:#000000"></span>
                                                                </td>
                                                                <td class="text-right" data-bind="text: formatNumber(SoLuongSanPham)"></td>
                                                                <td class="text-right" data-bind="text: formatNumber(GiaTri)"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="page">
                                                        <div class="flex flex-end">
                                                            <a href="javascript:void(0)" data-bind="click: $root.StartPageMuaHang" id="StartPageMuaHang"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" data-bind="click: $root.BackPageMuaHang" id="BackPageMuaHang"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                                            <ul data-bind="foreach: $parent.SumNumberPageReportMuaHang">
                                                                <li data-bind="click: $root.gotoNextPageMuaHang">
                                                                    <a href="javascript:void(0)" data-bind="text: SoTrang,css: $root.GetClassMuaHang($data)"></a>
                                                                </li>
                                                            </ul>
                                                            <a href="javascript:void(0)" data-bind="click: $root.NextPageMuaHang" id="NextPageMuaHang"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" data-bind="click: $root.EndPageMuaHang" id="EndPageMuaHang"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                                            <div class="total-recos">
                                                                Hiển thị <span data-bind="text: $parent.RowsStartMuaHang"></span> - <span data-bind="text: $parent.RowsEndMuaHang"></span> trên tổng số
                                                                <span data-bind="text: $parent.SumRowsHangHoaMuaHang"></span> sản phẩm
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="out-print ">
                                                        <button type="button" class="btn btn-main btn-green dropdown-toggle " id="btnPrintExport" name="btnExport" onclick="printPageMuaHangCT()"><i class="fa fa-print icon-print"></i>In</button>
                                                        <button type="button" class="btn btn-main btn-green dropdown-toggle " data-bind="click: $parent.ExportExcel_HangNhapChiTiet"> <i class="fa fa-file-excel-o"></i> Xuất file</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="PhanQuyen" hidden>
                                            <tr>
                                                <td class="bg12 bhma text-center" colspan="4"><i>Bạn không có quyền xem báo cáo này!</i></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot class="Report_Empty" hidden>
                                            <tr>
                                                <td class="bg12 bhma text-center" colspan="4"><i>Báo cáo không có dữ liệu</i></td>
                                            </tr>
                                        </tfoot>
                                        <tbody class="TongCongMuaNCC" hidden>
                                            <tr>
                                                <td class="bg12 tnccma bold">Tổng cộng:</td>
                                                <td class="bg12 tnccname bold"></td>
                                                <td class="bg12 text-right tnccsoluong bold" data-bind="text: formatNumber(SumSoLuongMuaNCC())"></td>
                                                <td class="bg12 text-right tnccgiatri bold" data-bind="text: formatNumber(SumGiaTriMuaNCC())"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="page">
                                    <div class="flex flex-end">
                                        <a href="javascript:void(0)" data-bind="click: $root.StartPage" id="StartPage"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-bind="click: $root.BackPage" id="BackPage"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                        <ul data-bind="foreach: SumNumberPageReport">
                                            <li data-bind="click: $parent.gotoNextPage">
                                                <a href="javascript:void(0)" data-bind="text: SoTrang,css: $root.GetClass($data)"></a>
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" data-bind="click: $root.NextPage" id="NextPage"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="javascript:void(0)" data-bind="click: $root.EndPage" id="EndPage"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                        <div class="total-recos">
                                            Hiển thị <span data-bind="text: RowsStart"></span> - <span data-bind="text: RowsEnd"></span> trên tổng số
                                            <span data-bind="text: SumRowsHangHoa"></span> nhà cung cấp
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="info4">
                            <div class="repost-bg floatleft" id="printtableMuaHangCT">
                                <div class="repost">
                                    <div class="title-report-center tieudetr">Báo cáo chi tiết hàng nhập theo nhà cung cấp</div>
                                    <p>Ngày bán: <span data-bind="text: TodayBC"></span></p>
                                    <p class="nameChiNhanhTr">Chi nhánh: <span data-bind="text: TenChiNhanh"></span></p>
                                    <p class="nameChiNhanhTr itemLeft" style="font-size: 13px;">Mã NCC: <span data-bind="text: MaNCCPrint"></span></p>
                                    <p class="nameChiNhanhTr itemLeft" style="font-size: 13px;">Tên NCC: <span data-bind="text: TenNCCPrint"></span></p>
                                </div>
                                <div id="table-reponsivetr">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="itemCenter">Mã hàng hóa</th>
                                                <th class="itemLeft" style="padding-left: 9px;">Tên hàng hóa</th>
                                                <th class="itemCenter">SL Sản phẩm</th>
                                                <th class="itemRight" style="padding-right: 9px;">Tổng giá trị</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_MuaHangChiTietPrint">
                                            <tr>
                                                <td class="itemCenter" data-bind="text: MaHangHoa"></td>
                                                <td class="cls3 itemLeft" style="padding-left: 9px;">
                                                    <span data-bind="text: TenHangHoa"></span>
                                                    <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                                    <span data-bind="text: TenDonViTinh" style="color:#0094ff"></span>
                                                    <span data-bind="text: TenLoHang" style="color:#000000"></span>
                                                </td>
                                                <td class="itemCenter" data-bind="text: formatNumber(SoLuongSanPham)"></td>
                                                <td class="itemRight" data-bind="text: formatNumber(GiaTri)" style="padding-right: 9px;"></td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="TongCongNhapHang">
                                            <tr>
                                                <td class="bg12 itemLeft bold">Tổng cộng: </td>
                                                <td class="bg12 bold"></td>
                                                <td class="bg12 itemCenter bold" data-bind="text: formatNumber(MH_SoLuongPrint())"></td>
                                                <td class="bg12 itemRight bold" data-bind="text: formatNumber(MH_GiaTriPrint())"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="info3">
                            <div class="repost-bg floatleft" id="printtableCongNoCT">
                                <div class="repost">
                                    <div class="title-report-center tieudetr">Báo cáo chi tiết công nợ theo nhà cung cấp</div>
                                    <p>Ngày bán: <span data-bind="text: TodayBC"></span></p>
                                    <p class="nameChiNhanhTr">Chi nhánh: <span data-bind="text: TenChiNhanh"></span></p>
                                    <p class="nameChiNhanhTr itemLeft" style="font-size: 13px;">Mã NCC: <span data-bind="text: MaNCCPrint"></span></p>
                                    <p class="nameChiNhanhTr itemLeft" style="font-size: 13px;">Tên NCC: <span data-bind="text: TenNCCPrint"></span></p>
                                </div>
                                <div id="table-reponsivetr">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="itemCenter">Phiếu</th>
                                                <th class="itemCenter">Thời gian</th>
                                                <th class="itemLeft" style="padding-left: 9px;">Loại phiếu</th>
                                                <th class="itemRight" style="padding-right: 9px;">Giá trị</th>
                                                <th class="itemRight" style="padding-right: 9px;">Dư nợ cuối</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_CongNoChiTietPrint">
                                            <tr>
                                                <td class="itemCenter" data-bind="text: MaHoaDon"></td>
                                                <td class="itemCenter" data-bind="text: moment(ThoiGian).format('DD/MM/YYYY')!='Invalid date'? moment(ThoiGian).format('DD/MM/YYYY HH:mm'):''"></td>
                                                <td class="itemLeft" data-bind="text: LoaiPhieu" style="padding-left: 9px;"></td>
                                                <td class="itemRight" data-bind="text: formatNumber(GiaTri)" style="padding-right: 9px;"></td>
                                                <td class="itemRight" data-bind="text: formatNumber(DuNoCuoi)" style="padding-right: 9px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="info2">
                            <div class="repost-bg floatleft" id="printtableNhapHangCT">
                                <div class="repost">
                                    <div class="title-report-center tieudetr">Báo cáo chi tiết đơn nhập hàng theo nhà cung cấp</div>
                                    <p>Ngày bán: <span data-bind="text: TodayBC"></span></p>
                                    <p class="nameChiNhanhTr">Chi nhánh: <span data-bind="text: TenChiNhanh"></span></p>
                                    <p class="nameChiNhanhTr itemLeft" style="font-size: 13px;">Mã NCC: <span data-bind="text: MaNCCPrint"></span></p>
                                    <p class="nameChiNhanhTr itemLeft" style="font-size: 13px;">Tên NCC: <span data-bind="text: TenNCCPrint"></span></p>
                                </div>
                                <div id="table-reponsivetr">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="itemCenter">Mã phiếu</th>
                                                <th class="itemCenter">Thời gian</th>
                                                <th class="itemCenter">SL Sản phẩm</th>
                                                <th class="itemRight" style="padding-right: 9px;">Tổng giá trị</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_NhapHangChiTietPrint">
                                            <tr>
                                                <td class="itemCenter" data-bind="text: MaPhieu"></td>
                                                <td class="itemCenter" data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY')!='Invalid date'? moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm'):''"></td>
                                                <td class="itemCenter" data-bind="text: formatNumber(SoLuongSanPham)"></td>
                                                <td class="itemRight" data-bind="text: formatNumber(TongGiaTri)" style="padding-right: 9px;"></td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="TongCongNhapHang">
                                            <tr>
                                                <td class="bg12 itemLeft bold">Tổng cộng: </td>
                                                <td class="bg12 bold"></td>
                                                <td class="bg12 itemCenter bold" data-bind="text: formatNumber(NH_SoLuongPrint())"></td>
                                                <td class="bg12 itemRight bold" data-bind="text: formatNumber(NH_GiaTriPrint())"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="info1">
                            <div class="repost-bg floatleft" id="printtable">
                                <div class="repost">
                                    <div class="title-report-center tieudetr"><span data-bind="text: MoiQuanTam"></span></div>
                                    <p>Ngày bán: <span data-bind="text: TodayBC"></span></p>
                                    <p class="nameChiNhanhTr">Chi nhánh: <span data-bind="text: TenChiNhanh"></span></p>
                                </div>
                                <div id="table-reponsivetr">
                                    <table class="table table-striped table-hover table_BanHang">
                                        <thead>
                                            <tr>
                                                <th class="nccma itemCenter">Mã nhà cung cấp</th>
                                                <th class="nccname itemLeft" style="padding-left: 9px;">Tên nhà cung cấp</th>
                                                <th class="nccgiatrinhap itemRight" style="padding-right: 9px;">Giá trị nhập</th>
                                                <th class="nccgiatritra itemRight" style="padding-right: 9px;">Giá trị trả</th>
                                                <th class="nccgiatrithuan itemRight" style="padding-right: 9px;">Giá trị (thuần)</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_NhapHangPrint">
                                            <tr class="tr-show Select_NhaCungCap ">
                                                <td class="plus-tr nccma itemCenter"><div class="innerplus-tr"><i class="fa fa-plus blue" aria-hidden="true"></i><i class="fa fa-minus blue" aria-hidden="true"></i></div><span data-bind="text: MaNCC"></span></td>
                                                <td class="nccname itemLeft" data-bind="text: TenNCC" style="padding-left: 9px;"></td>
                                                <td class="nccgiatrinhap itemRight" data-bind="text: formatNumber(GiaTriNhap)" style="padding-right: 9px;"></td>
                                                <td class="nccgiatritra itemRight" data-bind="text: formatNumber(GiaTriTra)" style="padding-right: 9px;"></td>
                                                <td class="nccgiatrithuan itemRight" data-bind="text: formatNumber(GiaTriThuan)" style="padding-right: 9px;"></td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="TongCongNhapHang">
                                            <tr>
                                                <td class="bg12 nccma bold itemLeft">Tổng cộng: </td>
                                                <td class="bg12 nccname bold"></td>
                                                <td class="bg12 itemRight nccgiatrinhap bold" data-bind="text: formatNumber(SumGiaTriNhap())"></td>
                                                <td class="bg12 itemRight nccgiatritra bold" data-bind="text: formatNumber(SumGiaTriTra())"></td>
                                                <td class="bg12 itemRight nccgiatrithuan bold" data-bind="text: formatNumber(SumGiaTriThuan())"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <table class="table table-striped table-hover table_LoiNhuan">
                                        <thead>
                                            <tr>
                                                <th class="cnma itemCenter">Mã nhà cung cấp</th>
                                                <th class="cnnamet itemLeft" style="padding-left: 9px;">Tên nhà cung cấp</th>
                                                <th class="cndauky itemRight" style="padding-right: 9px;">Nợ đầu kỳ</th>
                                                <th class="cnghino itemRight" style="padding-right: 9px;">Ghi nợ</th>
                                                <th class="cnghichu itemRight" style="padding-right: 9px;">Ghi có</th>
                                                <th class="cncuoiky itemRight" style="padding-right: 9px;">Nợ cuối kỳ</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_CongNoPrint">
                                            <tr>
                                                <td class="plus-tr cnma itemCenter"><div class="innerplus-tr"><i class="fa fa-plus blue" aria-hidden="true"></i><i class="fa fa-minus blue" aria-hidden="true"></i></div><span data-bind="text: MaKhachHang"></span></td>
                                                <td class="cnnamet itemLeft" data-bind="text: TenKhachHang" style="padding-left: 9px;"></td>
                                                <td class="cndauky itemRight" data-bind="text: formatNumber(NoDauKy  * (-1))" style="padding-right: 9px;"></td>
                                                <td class="cnghino itemRight" data-bind="text: formatNumber(GhiNo)" style="padding-right: 9px;"></td>
                                                <td class="cnghichu itemRight" data-bind="text: formatNumber(GhiCo)" style="padding-right: 9px;"></td>
                                                <td class="cncuoiky itemRight" data-bind="text: formatNumber(NoCuoiKy  * (-1))" style="padding-right: 9px;"></td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="TongCongCongNo">
                                            <tr>
                                                <td class="bg12 cnma bold itemLeft">Tổng cộng: </td>
                                                <td class="bg12 cnnamet bold"></td>
                                                <td class="bg12 itemRight cndauky bold" data-bind="text: formatNumber(SumNoDauKy() * (-1))"></td>
                                                <td class="bg12 itemRight cnghino bold" data-bind="text: formatNumber(SumGhiNo())"></td>
                                                <td class="bg12 itemRight cnghichu bold" data-bind="text: formatNumber(SumGhiCo())"></td>
                                                <td class="bg12 itemRight cncuoiky bold" data-bind="text: formatNumber(SumNoCuoiKy()  * (-1))"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <table class="table table-striped table-hover table_NhanVien">
                                        <thead>
                                            <tr>
                                                <th class="tnccma itemCenter">Mã nhà cung cấp</th>
                                                <th class="tnccname itemLeft " style="padding-left: 9px;">Tên nhà cung cấp</th>
                                                <th class="tnccsoluong itemRight" style="padding-right: 9px;">Số lượng sản phẩm</th>
                                                <th class="tnccgiatri itemRight" style="padding-right: 9px;">Giá trị</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: ReportNCC_NhaCungCapPrint">
                                            <tr>
                                                <td class="plus-tr tnccma itemCenter"><div class="innerplus-tr"><i class="fa fa-plus blue" aria-hidden="true"></i><i class="fa fa-minus blue" aria-hidden="true"></i></div><span data-bind="text: MaNCC"></span></td>
                                                <td class="tnccname itemLeft" data-bind="text: TenNCC" style="padding-left: 9px;"></td>
                                                <td class="tnccsoluong itemRight" data-bind="text: formatNumber(SoLuongSanPham)" style="padding-right: 9px;"></td>
                                                <td class="tnccgiatri itemRight" data-bind="text: formatNumber(GiaTri)" style="padding-right: 9px;"></td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="TongCongMuaNCC">
                                            <tr>
                                                <td class="bg12 tnccma bold itemLeft">Tổng cộng:</td>
                                                <td class="bg12 tnccname bold"></td>
                                                <td class="bg12 itemRight tnccsoluong bold" data-bind="text: formatNumber(SumSoLuongMuaNCC())"></td>
                                                <td class="bg12 itemRight tnccgiatri bold" data-bind="text: formatNumber(SumGiaTriMuaNCC())"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/exporting.js"></script>
<script type="text/javascript">
    var chart = Highcharts.chart('chart', {
        title: {
            text: 'Top 10 nhà cung cấp nhiều nhất'
        },
        chart: {
            type: 'bar'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['Miền bắc', 'Miền nam', 'Miền trung', 'Miền Tây']
        },
        series: [{
            type: 'column',
            colorByPoint: false,
            data: [29.9, 71.5, 106.4, 129.2],
            showInLegend: true
        }]
    });
    $(window).bind("load", function () {
        $("#cbmahang").click(function () {
            $(".mahang").toggle();
        });
        $("#cbtenhang").click(function () {
            $(".tenhang").toggle();
        });
        $("#cbnhomhang").click(function () {
            $(".nhomhang").toggle();
        });
        $("#cbloaihang").click(function () {
            $(".loaihang").toggle();
        });
        $("#cbgiaban").click(function () {
            $(".giaban").toggle();
        });
        $("#cbgiavon").click(function () {
            $(".giavon").toggle();
        });
        $("#cbtonkho").click(function () {
            $(".tonkho").toggle();
        });
    });
    $(function () {
        $('.datetimepicker4').datetimepicker({
            format: 'DD/MM/YYYYY'
        });
    });
    var w = $(window).width();
    if (w < 769) {
        var t = w - 25;
        $(".op-object-detail ").width(t);
    }
    $(document).on('click', '.choose-date .dropdown-menu ul li', function () {
        var date = $(this).find("a").html();
        $(".choose-date-show").val(date);
    });
    $(document).on('click', '.toogle', function () {
        $(this).toggleClass("active-t");
    });
    $(".op-filter-container .nav-tabs   a ").click(function () {
        $(".op-filter-container .nav-tabs   a ").removeClass("box-tab");
        $(this).addClass("box-tab");
    });
    function printDiv(divID) {
        var divElements = document.getElementById(divID).innerHTML;
        PrintExtraReport(divElements);
    }
    function printPage() {
        var strPrint = '';
        strPrint += document.getElementById('printtable').innerHTML;
        PrintExtraReportTr(strPrint);
    }
    function printPageNhapHangCT() {
        var strPrint = '';
        strPrint += document.getElementById('printtableNhapHangCT').innerHTML;
        PrintExtraReportTr(strPrint);
    }
    function printPageCongNoCT() {
        var strPrint = '';
        strPrint += document.getElementById('printtableCongNoCT').innerHTML;
        PrintExtraReportTr(strPrint);
    }
    function printPageMuaHangCT() {
        var strPrint = '';
        strPrint += document.getElementById('printtableMuaHangCT').innerHTML;
        PrintExtraReportTr(strPrint);
    }
    $(document).ready(function () {
        $(document).on('click', '.plus-tr .innerplus-tr', function () {
            $(".innerplus-tr .fa-minus").not($(this).find(".fa-minus")).hide();
            $(".innerplus-tr .fa-plus").not($(this).find(".fa-plus")).show();
            $(this).find("i").toggle();
            var t = $(this).parents(".tr-show").next(".tr-hide").css("display");
            if (t == "none") {
                $(".tr-hide").removeClass("blocktr");
                $(this).parents(".tr-show").next(".tr-hide").addClass("blocktr");
            }
            else if (t == "block") {
                $(this).parents(".tr-show").next(".tr-hide").removeClass("blocktr");
            }
            else {
                $(".tr-hide ").removeClass("blocktr");
            }
        });
    });
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }
    $(function () {
        $('.newDateTime').daterangepicker({
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Tạo báo cáo",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            }
        });
    });
</script>
<style>
    #chart {
        position: relative;
        overflow: hidden;
        /*width: 1171px;*/
        height: 600px;
        text-align: left;
        line-height: normal;
        z-index: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        top: 2px;
    }
    /*.highcharts-background {
        width: 1171px;
        height: 550px;
    }
    .highcharts-series rect {
        fill: #32b7b3 !important;
        text-align: center !important;
        width: 20px;
    }*/
    .text-unit {
        /*bottom: 15px;*/
        right: 0px;
    }
    .StartImport {
        margin-right: 5px;
        z-index: 0;
        display: inline-block;
        background: #808080;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        padding: 7px 15px;
        white-space: nowrap;
        border: none;
        vertical-align: middle;
        border-radius: 2px;
        cursor: pointer;
    }
    .SelectReport {
        background: #bee69f;
        color: #000000;
    }
    .li-input-span {
        color: #333;
        line-height: 30px;
        text-align: left;
        width: auto !important;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
    }
    .li-input-select {
        background: #fff;
        color: #333;
        line-height: 30px;
        text-align: left;
        width: auto !important;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
    }
    .check-after-li {
        float: right;
        padding-right: 20px;
        line-height: 21px;
        color: #009ddc;
        display: inline !important;
    }
    .nameDonVi input {
        border: none;
        height: 30px;
        outline: none;
        padding-left: 10px;
        width: 50%;
    }
</style>
@*<a href="javascript:void(0)" class="search-fillter"  onclick="showFilter()" title="Hiển thị bộ lọc"><i class="fa fa-search" aria-hidden="true"></i></a>*@
<script src="~/Scripts/knockout-3.4.2.js"></script>
@Scripts.Render("~/bundles/NhaCungCapBC")
