@using banhang24.Hellper
<div class="modal fade in" id="modalStatus_Customer" style="z-index: 1040;">
    <div class="modal-dialog draggable modal-md ui-draggable">
        <div class="modal-content ">
            <div class="modal-header ui-draggable-handle">
                <button class="close close-modal" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    {{isNew?'Thêm mới trạng thái':'Cập nhật trạng thái'}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tên trạng thái<span class="red">(*)</span></label>
                    <div class="form-news">
                        <input type="text" class="form-control" autofocus="" v-model="newTrangThai.TenTrangThai">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel close-modal" data-dismiss="modal">
                        <i class="fa fa-ban"></i>Bỏ qua
                    </button>
                    <button type="button" class="btn btn-cancel close-modal"
                            v-on:click="DeleteTrangThai" v-if="!isNew">
                        <i class="fa fa-trash"></i>Xóa
                    </button>
                    <button type="button"
                            class="btn btn-main"
                            v-on:click="SaveTrangThai">
                        <i class="fa fa-save"></i> Lưu
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade in" id="modalNguonKhach" style="z-index: 1040">
    <div class="modal-dialog draggable modal-md ui-draggable">
        <div class="modal-content  ui-draggable ui-draggable-handle">
            <div class="modal-header ui-draggable-handle">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    {{isNew?'Thêm mới nguồn khách':'Cập nhật nguồn khách'}}
                </h4>
            </div>
            <div class="modal-body ">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group floatleft">
                            <label>Tên nguồn khách<span style="color:red">(*)</span></label>
                            <div class="form-news">
                                <input type="text" class="form-control"
                                       v-model="newNguonKhach.TenNguonKhach"
                                       autofocus="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Bỏ qua
                    </button>
                    <button type="button" class="btn btn-cancel close-modal"
                            v-on:click="DeleteNguonKhach" v-if="!isNew">
                        <i class="fa fa-trash"></i>Xóa
                    </button>
                    <button type="button" class="btn btn-main"
                            v-on:click="SaveNguonKhach">
                        <i class="fa fa-save"></i> Lưu
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="@Url.ContentVersioned("~/Scripts/Gara/KhachHang/vmTrangThai_NguonKhach.js")"></script>
