<style>
    ._body-nap-tien {
        max-height: initial
    }

    ._nap-tien-chi-tiet {
        border-radius: 2px;
        background: #e0e0e0;
        width: 100%;
        float: left;
    }

        ._nap-tien-chi-tiet h5 {
            font-weight: bold;
            margin: 15px 0;
        }

    ._nt-du {
        text-align: right;
        font-weight: bold
    }

        ._nt-du image {
            margin-left: 10px;
            color: black;
        }

    .tree-staff-perform li {
        WIDTH: auto;
        float: left;
        margin: 5px 5px 5px 0px;
        padding: 7px 30px 7px 7px;
        border: 1px solid #ccc;
        position: relative;
        border-radius: 4px;
    }

        .tree-staff-perform li .staff-p-img {
            color: black;
        }

            .tree-staff-perform li .staff-p-img span {
                font-size: 12px;
            }

            .tree-staff-perform li .staff-p-img i {
                color: #bac7dd;
                font-size: 18px;
                margin-right: 3px;
            }

        .tree-staff-perform li .fa-times {
            color: red;
            font-size: 14px;
            position: absolute;
            right: 5px;
            top: 3px;
        }

    .tree-staff-perform {
        width: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
    }

    .list-img-user .img-user {
        width: 55px;
        height: 50px;
        position: unset;
        border-radius: 5px;
        background: none;
        object-fit: cover;
        border: 1px dashed #ccc;
        margin: 0 5px;
    }

    .list-img-user .detail-user-discount {
        padding-left: 0;
        min-height: 0;
    }

    .list-img-user .img-user {
        width: 55px;
        height: 50px;
        position: unset;
        border-radius: 5px;
        background: none;
        object-fit: cover;
        border: 1px dashed #ccc;
        margin: 0 5px;
    }

    .list-img-user .form-group:hover {
        background-color: #d6f1f0;
    }

    ._popup-nv-ban-hang .detail-user-discount p {
        padding: 0px !important;
        margin: 0px;
        line-height: 17px;
        color: black
    }

    ._popup-nv-ban-hang h5 {
        font-size: 13px;
        font-weight: bold;
        border-bottom: 1px solid var(--color-main);
        height: 25px;
    }

    ._popup-nv-ban-hang .input-search-filter {
        padding-bottom: 15px;
    }

        ._popup-nv-ban-hang .input-search-filter input {
            width: calc(100% - 36px);
        }

        ._popup-nv-ban-hang .input-search-filter button {
            margin-right: 0px;
        }

            ._popup-nv-ban-hang .input-search-filter button i {
                right: 10px;
            }

    ._popup-nv-ban-hang .title-user {
        font-weight: bold;
    }

    ._popup-nv-ban-hang .list-img-user {
        max-height: 235px;
        overflow: auto;
    }

    ._popup-nv-ban-hang {
        position: absolute;
        background: white;
        z-index: 999;
        padding: 15px;
        padding-top: 5px;
        border: 1px solid var(--color-main);
        width: 290px !important;
    }

    ._ck-phan-tram {
        width: 70px;
        float: left;
        position: relative;
    }

        ._ck-phan-tram input {
            padding-right: 24px;
            text-align: right;
        }

        ._ck-phan-tram span {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 24px;
            padding-left: 5px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            font-weight: bold;
            height: 30px;
            font-size: 14px;
        }

    ._ck-thanh-tien {
        width: calc(100% - 80px);
        float: right
    }

    .table-lich-su {
        margin-top: 15px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px !important;
    }

    .filter-lich-su .filter-date {
        width: 200px;
        float: right;
    }

    .filter-lich-su {
        position: relative;
        margin-bottom: 10px;
    }

        .filter-lich-su label {
            font-size: 14px;
        }

        .filter-lich-su .add-icon-date:after {
            top: 3px;
        }

    .grid-lich-su {
        max-height: 250px;
        overflow: auto;
    }

    .popup-date-ranger {
        z-index: 9999999 !important;
        left: 520px !important;
    }

        .popup-date-ranger.opensright:before {
            display: none
        }

    #divKH ul {
        top: 30px;
        position: absolute;
        max-height: 300px;
        background: white;
        overflow: scroll;
        border: 1px solid #ccc;
        width: inherit;
        z-index: 999999;
    }

    #divKH li {
        border-bottom: 1px dotted #ccc;
        width: 100%;
    }

        #divKH li a span {
            font: bold
        }
</style>
<div class="modal fade" id="vmTraLaiTGT">
    <div class="modal-dialog draggable modal-lg">
        <div class="modal-content ">
            <div class="modal-header" style="background: rgb(255, 114, 8)">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    Trả lại tiền thẻ
                </h4>
            </div>
            <div class="modal-body _body-nap-tien">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group floatleft">
                        <label>Mã hóa đơn</label>
                        <div class="form-news">
                            <input type="text" class="form-control"
                                   placeholder="Mã hóa đơn tự động" v-model="newHoaDon.MaHoaDon">
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label class="form-label control-label">Khách hàng</label>
                        <div class=" form-news input-group">
                            <customers :text-search="cusChosing.TenDoiTuong"
                                       :loai-doi-tuong="1"
                                       :disable-search="formType === 1"
                                       :showbutton="false"
                                       :id-chi-nhanh="VHeader.IdDonVi"
                                       v-on:show-modal-customer="showModalCustomer"
                                       v-on:change-customer-parent="ChangeCustomer">
                            </customers>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group floatleft">
                        <label>Ngày trả</label>
                        <div class="form-news add-icon-date">
                            <my-date-time :date-chose="newHoaDon.NgayLapHoaDon"
                                          :role-change-date="role.ChangeNgayNapThe"
                                          v-on:change-date="ChangeNgayLapPhieu">
                            </my-date-time>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Số dư tài khoản</label>
                        <div class="form-news _nt-du">
                            <span style="font-size:14px;">{{formatNumber(inforTheGiaTri.SoDuTheGiaTri)}}</span>
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopadding _nap-tien-chi-tiet">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h5>Thông tin giá trị trả</h5>
                        <div class="form-group floatleft">
                            <label>Hoàn trả</label>
                            <div class="form-news">
                                <input type="text" class="form-control text-right"
                                       onclick="this.select()"
                                       autocomplete="off"
                                       onkeypress="keypressNumber_limitNumber(event, this)"
                                       v-model="newHoaDon.TongTienHang"
                                       v-on:keyup="EditMucNap" />
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Phí hoàn thẻ</label>
                            <div class="form-news">
                                <div class="_ck-phan-tram">
                                    <input type="text" class="form-control text-right"
                                           onclick="this.select()"
                                           autocomplete="off"
                                           onkeypress="keypressNumber_limitNumber(event, this)"
                                           v-model="newHoaDon.TongChietKhau"
                                           v-on:keyup="EditPhiHoanThe_Ptram"><span>%</span>
                                </div>
                                <div class="_ck-thanh-tien">
                                    <input type="text" class="form-control text-right"
                                           onclick="this.select()"
                                           autocomplete="off"
                                           onkeypress="keypressNumber_limitNumber(event, this)"
                                           v-model="newHoaDon.TongGiamGia"
                                           v-on:keyup="EditPhiHoanThe_VND">
                                </div>
                            </div>
                        </div>

                        <div class="form-group floatleft" style="align-items:flex-start">
                            <label>Ghi chú</label>
                            <div class="form-news">
                                <textarea type="text" rows="2" v-model="newHoaDon.DienGiai"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h5>Thông tin thanh toán</h5>
                        <div class="form-group floatleft">
                            <label>Số dư sau trả:</label>
                            <div class="form-news" style="text-align:right">
                                <span>  {{formatNumber(inforTheGiaTri.SoDuTheSauNap)}}</span>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Phải trả khách</label>
                            <div class="form-news">
                                <span style="float:right;">{{formatNumber3Digit(newHoaDon.PhaiThanhToan)}}</span>
                            </div>
                        </div>
                        <div class="form-group floatleft" style="display:flex" v-if="typeUpdate === 1 || newHoaDon.TongCong > 0">
                            <div style="width:130px">
                                <label v-on:click="showModalThanhToan">Tiền trả(F9)</label>
                                <div style="position:absolute; bottom:-10px">
                                    <small>
                                        {{newHoaDon.TenLoaiTien}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-news">
                                <input type="text"
                                       class="form-control text-right"
                                       onclick="this.select()"
                                       autocomplete="off"
                                       onkeypress="keypressNumber_limitNumber(event, this)"
                                       v-model="newHoaDon.DaThanhToan"
                                       v-on:keyup="EditTienKhachDua">
                            </div>
                            <p></p>
                        </div>
                        <div class="form-group floatleft">
                            <label>{{newHoaDon.TienThua > 0?'Tiền thừa':'Tiền thiếu'}} </label>
                            <div class="form-news">
                                <input type="text" readonly class="form-control text-right" autocomplete="off"
                                       v-bind:value="formatNumber(Math.abs(newHoaDon.TienThua))">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopadding table-lich-su floatleft" v-if="isShowList">
                    <div class="floatleft filter-lich-su">
                        <label>Lịch sử nạp tiền</label>
                        <div class="filter-date add-icon-date" style="display:none">
                            <input type="text" id="datetimeTimKiemLichSu" class="form-control">
                        </div>
                    </div>
                    <div class="grid-lich-su table-res table-reponsive table-HH">
                        <table class=" table-hover op-table">
                            <thead class="thead-boder">
                                <tr>
                                    <th>Mã hóa đơn</th>
                                    <th>Ngày nạp</th>
                                    <th>Mức nạp</th>
                                    <th>Khuyến mãi</th>
                                    <th>Tổng tiền nạp</th>
                                    <th>Số dư sau nạp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in LichSuNapTien.Data">
                                    <td><a href="javascript:void(0)">{{item.MaHoaDon}}</a></td>
                                    <td class="text-center">{{ moment(item.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}</td>
                                    <td class="text-right">{{formatNumber(item.MucNap)}}</td>
                                    <td class="text-right">{{formatNumber(item.KhuyenMai)}}</td>
                                    <td class="text-right">{{formatNumber(item.TongTienNap)}}</td>
                                    <td class="text-right">{{formatNumber(item.SoDuSauNap)}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="page">
                            <div class="flex flex-end">
                                <a href="javascript:void(0)"
                                   v-on:click="StartPage"
                                   v-if="true">
                                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)"
                                   v-on:click="BackPage"
                                   v-if="true">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </a>
                                <ul>
                                    <li v-for="(item, index) in PageList_Display">
                                        <a href="javascript:void(0)"
                                           v-on:click="GoToPage">
                                            {{item.pageNumber}}
                                        </a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0)"
                                   v-on:click="GoToNextPage"
                                   v-if="true">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)"
                                   v-on:click="EndPage"
                                   v-if="true">
                                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                                </a>
                                <div class="total-recos">
                                    Hiển thị <span>{{LichSuNapTien.FromItem}}</span> -
                                    <span>{{LichSuNapTien.ToItem}}</span> trên tổng số
                                    <span>{{LichSuNapTien.TotalRow}}</span> bản ghi
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer " v-if="formType!==2">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">
                    <i class="fa fa-ban"></i>Đóng
                </button>
                <button type="button" class="btn btn-main" v-on:click="showLSNapTien">
                    <i class="fa fa-history" aria-hidden="true"></i>   Lịch sử nạp tiền
                </button>
                <button type="button" class="btn btn-save" v-if="typeUpdate === 1 && !$root.isLoading" v-on:click="SaveTheNap(true)">
                    <i class="fa fa-print" aria-hidden="true"></i>Lưu và in
                </button>
                <button type="button" class="btn btn-save" v-if="typeUpdate === 1 && !$root.isLoading" v-on:click="SaveTheNap(false)">
                    <i class="fa fa-save" aria-hidden="true"></i>Lưu
                </button>
                <button type="button" class="btn btn-save" v-if="typeUpdate === 2 && !$root.isLoading" v-on:click="SaveTheNap(false)">
                    <i class="fa fa-save" aria-hidden="true"></i>Cập nhật
                </button>
                <button type="button" class="btn btn-save" v-if="$root.isLoading">
                    <i class="fa fa-save" aria-hidden="true"></i>Đang lưu
                </button>
            </div>
            <div  class="modal-footer " v-if="formType ===2">
                <button type="button" class="btn btn-save" v-on:click="GotoTheGiaTri">
                    <i class="fa fa-share" aria-hidden="true"></i>Mở phiếu
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#datetimeTimKiemLichSu').daterangepicker({
            drops: "up",
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Áp dụng",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            },
            position: 'popup-date-ranger'
        });
    });
</script>


<script>
    var vmTraLaiTGT = new Vue({
        el: '#vmTraLaiTGT',
        components: {
            'account-bank': cmpChoseAccountBank,
            'my-date-time': cpmDatetime,
            'nhanviens': ComponentChoseStaff,
            'khoan-thu-chi': cmpChoseKhoanThu,
            'customers': cmpChoseCustomer,
            'date-range-picker': cmpDateRange,
        },
        created: function () {
            var self = this;
            self.role.ChangeNgayNapThe = self.CheckRole('TheGiaTri_ThayDoiThoiGian');
            console.log('vmTraLaiTGT');
        },
        data: {
            saveOK: false,
            isLoading: false,
            typeUpdate: 1,
            formType: 0,// 0.from DSTheGT, 1. from DS KhachHang, 2.baocao
            isShowList: false,
            tgtOld: {},
            role: {
                ChangeNgayNapThe: true,
            },
            cusChosing: {
                MaDoiTuong: '',
                TenDoiTuong: '',
                DienThoai: '',
                DiaChi: '',
            },

            inforCongTy: {
                TenCongTy: '',
                DiaChiCuaHang: '',
                LogoCuaHang: ''
            },
            LichSuNapTien: {
                Data: [],
                TotalRow: 0,
                TotalPage: 0,
                CurrentPage: 0,
                PageSize: 10,
                FromItem: 0,
                ToItem: 0,
                FromDate: moment().startOf('month').format('YYYY-MM-DD'),
                ToDate: moment().endOf('month').format('YYYY-MM-DD'),
                DateRange: '',
            },
            inforTheGiaTri: {// used to print
                SoDuTheGiaTri: 0,
                CongNoThe:0,
            },

            newHoaDon: {
            },
            listData: {
                KhachHangs: [],
                NhanViens: [],
                ListLichSuNap: [],
            },
        },
        methods: {
            CheckRole: function (maquyen) {
                var xx = VHeader.Quyen.indexOf(maquyen) > -1;
                return xx;
            },

            GetSoDuTheGiaTri: function (idDoiTuong) {
                var self = this;
                var date = moment(new Date()).format('YYYY-MM-DD HH:mm:ss');
                ajaxHelper('/api/DanhMuc/DM_DoiTuongAPI/' + 'Get_SoDuTheGiaTri_ofKhachHang?idDoiTuong=' + idDoiTuong
                    + '&datetime=' + date, 'GET').done(function (data) {
                        let sodu = 0, congno = 0, tongthu = 0;
                        console.log(3, data)
                        if (data != null && data.length > 0) {
                            sodu = data[0].SoDuTheGiaTri;
                            sodu = sodu > 0 ? sodu : 0; 

                            congno = data[0].CongNoThe;
                            congno = congno > 0 ? congno : 0;

                            tongthu = data[0].TongThuTheGiaTri;
                            tongthu = tongthu > 0 ? tongthu : 0;
                        }
                        if (self.formType === 2) {
                            sodu = sodu - self.newHoaDon.TongTienHang;
                        }
                        self.inforTheGiaTri.SoDuTheGiaTri = sodu;
                        self.inforTheGiaTri.TongTaiKhoanThe = tongthu;
                        self.inforTheGiaTri.SoDuTheSauNap = sodu;
                        self.inforTheGiaTri.CongNoThe = congno;
                    });
            },

            showLSNapTien: function () {
                var self = this;
                self.isShowList = !self.isShowList;
            },

            ChangeDateRange: function (picker) {
                var self = this;
                self.LichSuNapTien.FromDate = picker.startDate.format('YYYY-MM-DD');
                self.LichSuNapTien.ToDate = picker.endDate.format('YYYY-MM-DD');
                self.LichSuNapTien.DateRange = picker.startDate.format('DD/MM/YYYY') + " - " + picker.endDate.format('DD/MM/YYYY');
            },

            GetLichSuNapTien: function () {
                var self = this;
                var dtNow = new Date();
                var dayStart = '2016-01-01';
                var dayEnd = moment(dtNow).add(1, 'days').format('YYYY-MM-DD');

                var iddoituong = self.newHoaDon.ID_DoiTuong;
                ajaxHelper('/api/DanhMuc/DM_DoiTuongAPI/' + 'GetLichSuNapTienByIDDoiTuong?iddt=' + iddoituong
                    + '&currentpage=' + self.LichSuNapTien.CurrentPage + '&pagesize=' + self.LichSuNapTien.PageSize
                    + '&dayStart=' + dayStart + '&dayEnd=' + dayEnd, 'GET').done(function (data) {
                        console.log(data)
                        self.LichSuNapTien.Data = data.lst;
                        self.LichSuNapTien.TotalRow = data.Rowcount;
                        self.LichSuNapTien.TotalPage = data.pageCount;
                    });
            },

            GoToPage: function (page) {
                var self = this;
                if (page.pageNumber !== '.') {
                    self.LichSuNapTien.CurrentPage = page.pageNumber - 1;
                    self.GetLichSuNapTien();
                }
            },

            StartPage: function () {
                var self = this;
                self.LichSuNapTien.CurrentPage = 0;
                self.GetLichSuNapTien();
            },

            BackPage: function () {
                var self = this;
                if (self.LichSuNapTien.CurrentPage > 1) {
                    self.LichSuNapTien.CurrentPage = self.LichSuNapTien.CurrentPage - 1;
                    self.GetLichSuNapTien();
                }
            },

            GoToNextPage: function () {
                var self = this;
                if (self.LichSuNapTien.CurrentPage < self.LichSuNapTien.PageSize - 1) {
                    self.LichSuNapTien.CurrentPage = self.LichSuNapTien.CurrentPage + 1;
                    self.GetLichSuNapTien();
                }
            },

            EndPage: function () {
                var self = this;
                if (self.LichSuNapTien.CurrentPage < self.LichSuNapTien.PageSize - 1) {
                    self.LichSuNapTien.CurrentPage = self.LichSuNapTien.PageSize - 1;
                    self.GetLichSuNapTien();
                }
            },

            GetClass: function (page) {
                var self = this;
                return ((page.pageNumber - 1) === self.LichSuNapTien.CurrentPage) ? "click" : "";
            },

            showModalUpdate: function (idThe, formType = 0) {
                let self = this;
                self.saveOk = false;
                self.isLoading = false;
                self.typeUpdate = 2;
                self.formType = formType;

                ajaxHelper('/api/DanhMuc/BH_HoaDonAPI/GetInforTheGiaTri_byID?id=' + idThe).done(function (x) {
                    if (x.res && x.dataSoure.length > 0) {
                        let data = x.dataSoure[0];
                        self.tgtOld = $.extend({}, true, data);

                        self.newHoaDon = {
                            ID: data.ID,
                            MaHoaDon: data.MaHoaDon,
                            LoaiHoaDon: data.LoaiHoaDon,
                            ChoThanhToan: data.ChoThanhToan,
                            NgayLapHoaDon: moment(data.NgayLapHoaDon).format('YYYY-MM-DD HH:mm'),
                            ID_DonVi: data.ID_DonVi,
                            ID_NhanVien: data.ID_NhanVien,
                            NguoiTao: data.NguoiTao,
                            ID_DoiTuong: data.ID_DoiTuong,
                            TongChiPhi: formatNumber3Digit(data.MucNap),
                            TongChietKhau: data.KhuyenMaiVND,
                            TongTienHang: data.TongTienNap,
                            TongGiamGia: data.TongGiamGia,
                            TongTienThue: data.SoDuSauNap,
                            PhaiThanhToan: data.PhaiThanhToan,
                            TongThanhToan: data.PhaiThanhToan,
                            KhachDaTra: data.KhachDaTra,
                            DienGiai: data.GhiChu,

                            PTKhuyenMai: data.PTKhuyenMai,
                            TongChietKhau: data.PTChietKhau,

                            DaThanhToan: 0,
                            ThucThu: 0,
                            TienThua: 0,
                            NoHienTai: 0,
                            TenLoaiTien: '(Tiền mặt)',
                            BH_NhanVienThucHiens: [],
                            TongCong: data.PhaiThanhToan - data.KhachDaTra
                        };

                        self.GetSoDuTheGiaTri(data.ID_DoiTuong);

                        self.cusChosing = {
                            MaDoiTuong: data.MaKhachHang,
                            TenDoiTuong: data.TenKhachHang,
                            DienThoai: data.SoDienThoai,
                            DiaChi: data.DiaChiKhachHang,
                        }

                        $('#vmTraLaiTGT').modal('show');
                    }
                })

            },
            showModalAddNew: function (formType = 0) {
                var self = this;
                self.saveOk = false;
                self.isLoading = false;
                self.typeUpdate = 1;
                self.formType = formType;

                self.newHoaDon = {
                    ID: '00000000-0000-0000-0000-000000000000',
                    MaHoaDon: '',
                    LoaiHoaDon: 32,
                    ChoThanhToan: false,
                    NgayLapHoaDon: moment(new Date()).format('YYYY-MM-DD HH:mm'),
                    ID_DonVi: VHeader.IdDonVi,
                    ID_NhanVien: VHeader.IdNhanVien,
                    NguoiTao: VHeader.UserLogin,
                    ID_DoiTuong: null,// nguoinop
                    TongChiPhi: 0, 
                    TongTienThue: 0, 
                    TongChietKhau: 0,// Phan tram chiphi tra
                    TongGiamGia: 0, // tong phi hoantra (vnd)
                    TongTienHang: 0, // tongtra
                    PhaiThanhToan: 0, // phaitrakhach (sauphi)
                    TongThanhToan: 0, // = phaitt
                    DienGiai: '',

                    KhachDaTra: 0,
                    DaThanhToan: 0,
                    ThucThu: 0,
                    TienThua: 0,
                    NoHienTai: 0,
                    TenLoaiTien: '(Tiền mặt)',
                    BH_NhanVienThucHiens: [],
                };

                self.inforTheGiaTri = {
                    TongTaiKhoanThe: 0,
                    TongSuDungThe: 0,
                    SoDuTheGiaTri: 0,
                    SoDuTheSauNap: 0,
                };

                self.cusChosing = {
                    MaDoiTuong: '',
                    TenDoiTuong: '',
                    DienThoai: '',
                    DiaChi: '',
                }
                console.log('napthe')
                $('#vmTraLaiTGT').modal('show');
            },
            ChangeCustomer: function (item) {
                var self = this;
                var idCus = item.ID;
                self.newHoaDon.ID_DoiTuong = idCus;
                self.cusChosing.MaDoiTuong = item.MaDoiTuong;
                self.cusChosing.TenDoiTuong = item.TenDoiTuong;
                self.cusChosing.DienThoai = item.DienThoai;
                self.GetSoDuTheGiaTri(idCus);
                self.GetLichSuNapTien();
            },

            ChangeNgayLapPhieu: function (e) {
                let self = this;
                let dt = moment(e).format('YYYY-MM-DD HH:mm');
                let khoaSo = VHeader.CheckKhoaSo(moment(e).format('YYYY-MM-DD'));
                if (khoaSo) {
                    ShowMessage_Danger(VHeader.warning.ChotSo.Update);
                }
                self.newHoaDon.NgayLapHoaDon = dt;
            },

            CaculatorAgain_InforHoaDon: function (isEditVND = false) {
                var self = this;
                var hd = self.newHoaDon;
                var ptCK = formatNumberToFloat(hd.TongChietKhau);
                var gtriCK = formatNumberToFloat(hd.TongGiamGia);
                var gtriTra = formatNumberToFloat(hd.TongTienHang);
                if (ptCK > 0 && !isEditVND) {
                    gtriCK = gtriTra * ptCK / 100;
                }
                self.newHoaDon.TongGiamGia = formatNumber(gtriCK);
                self.newHoaDon.PhaiThanhToan = gtriTra - gtriCK;
                self.newHoaDon.TongThanhToan = self.newHoaDon.PhaiThanhToan;
                self.newHoaDon.ThucThu = gtriTra - gtriCK;
                self.newHoaDon.TienThua = 0;
                self.newHoaDon.HoanTraTamUng = self.newHoaDon.PhaiThanhToan;// auto set HoanTraTamUng (trả lại tiền cho khách)
                self.newHoaDon.TongCong = self.newHoaDon.PhaiThanhToan;
                self.newHoaDon.DaThanhToan = formatNumber3Digit(self.newHoaDon.PhaiThanhToan);

                self.inforTheGiaTri.SoDuTheSauNap = self.inforTheGiaTri.SoDuTheGiaTri - gtriTra;
                self.Assign_ValueKhachThanhToan(self.newHoaDon.PhaiThanhToan);
            },

            EditMucNap: function () {
                var self = this;
                var $this = $(event.currentTarget);
                formatNumberObj($this);

                if (self.inforTheGiaTri.SoDuTheGiaTri === 0) {
                    commonStatisJs.ShowMessageDanger('Khách đã hết số dư tài khoản');
                    $this.val(0);
                    self.newHoaDon.TongTienHang = 0;
                    return;
                }

                let gtri = formatNumberToFloat($this.val());
                if (gtri > self.inforTheGiaTri.SoDuTheGiaTri) {
                    commonStatisJs.ShowMessageDanger('Vui lòng không nhập quá số dư tài khoản là ' + formatNumber3Digit(self.inforTheGiaTri.SoDuTheGiaTri));
                    $this.val(formatNumber3Digit(self.inforTheGiaTri.SoDuTheGiaTri));
                    self.newHoaDon.TongTienHang = $this.val();
                    return;
                }

                self.newHoaDon.TongTienHang = formatNumber3Digit($this.val());
                self.CaculatorAgain_InforHoaDon();
            },
            EditPhiHoanThe_Ptram: function () {
                var self = this;
                var $this = $(event.currentTarget);
                formatNumberObj($this);

                let gtri = formatNumberToFloat($this.val());
                if (gtri > 100) {
                    $this.val(100);
                    self.newHoaDon.TongChietKhau = 100;
                    self.newHoaDon.TongGiamGia = formatNumberToFloat(self.newHoaDon.TongTienHang);
                }
                if (gtri === 0) {
                    self.newHoaDon.TongGiamGia = 0;
                }
                //không gán lại self.newHoaDon.TongChietKhau, vì bị format gtri có dấu thập phân
                self.CaculatorAgain_InforHoaDon();
            },
            EditPhiHoanThe_VND: function () {
                var self = this;
                var $this = $(event.currentTarget);
                formatNumberObj($this);

                let gtri = formatNumberToFloat($this.val());
                if (gtri > formatNumberToFloat(self.newHoaDon.TongTienHang)) {
                    commonStatisJs.ShowMessageDanger('Vui lòng không nhập quá số tiền hoàn trả là ' + self.newHoaDon.TongTienHang);
                    $this.val(self.newHoaDon.TongTienHang);
                    self.newHoaDon.TongGiamGia = $this.val();
                    self.newHoaDon.TongChietKhau = 100;
                    return;
                }

                var ptKM = gtri / formatNumberToFloat(self.newHoaDon.TongTienHang) * 100;
                self.newHoaDon.TongChietKhau = ptKM;
                self.newHoaDon.TongGiamGia = formatNumber($this.val());
                self.CaculatorAgain_InforHoaDon(true);
            },

            EditTienKhachDua: function () {
                var self = this;
                var $this = $(event.currentTarget);
                formatNumberObj($this);
                var daTT = formatNumberToFloat(self.newHoaDon.DaThanhToan);
                self.newHoaDon.DaThanhToan = formatNumber3Digit($this.val());
                self.newHoaDon.TienThua = daTT - self.newHoaDon.PhaiThanhToan;
                self.Assign_ValueKhachThanhToan(daTT);
            },
            Assign_ValueKhachThanhToan: function (daTT) {
                let self = this;
                vmThanhToanGara.PhieuThuKhach.TienMat = daTT;
                vmThanhToanGara.PhieuThuKhach.TienPOS = 0;
                vmThanhToanGara.PhieuThuKhach.TienCK = 0;
                vmThanhToanGara.PhieuThuKhach.TienTheGiaTri = 0;
                vmThanhToanGara.PhieuThuKhach.DiemQuyDoi = 0;
                vmThanhToanGara.PhieuThuKhach.TTBangDiem = 0;
                vmThanhToanGara.PhieuThuKhach.DaThanhToan = daTT;
                if (self.newHoaDon.HoanTraTamUng > 0) {
                    vmThanhToanGara.PhieuThuKhach.HoanTraTamUng = self.newHoaDon.HoanTraTamUng;
                }
                else {
                    vmThanhToanGara.PhieuThuKhach.HoanTraTamUng = 0;
                }
            },

            SaveTheNap: function (print) {
                var self = this;
                var hd = self.newHoaDon;
                if (hd.ID_DoiTuong === null) {
                    commonStatisJs.ShowMessageDanger('Vui lòng chọn người nộp tiền');
                    return;
                }

                if (formatNumberToFloat(self.newHoaDon.TongTienHang) === 0) {
                    commonStatisJs.ShowMessageDanger('Vui lòng nhập số tiền hoàn trả');
                    return;
                }
                if (self.newHoaDon.TienThua < 0) {
                    commonStatisJs.ShowMessageDanger('Vui lòng nhập đủ số tiền cần thanh toán');
                    return;
                }

                let khoaSo = VHeader.CheckKhoaSo(moment(hd.NgayLapHoaDon).format('YYYY-MM-DD'));
                if (khoaSo) {
                    ShowMessage_Danger(VHeader.warning.ChotSo.Update);
                    return;
                }
                self.isLoading = true;

                var nowSeconds = (new Date()).getSeconds();
                hd.NgayLapHoaDon = moment(hd.NgayLapHoaDon).add(nowSeconds, 'seconds').format('YYYY-MM-DD HH:mm:ss');
                hd.TongThanhToan = hd.PhaiThanhToan;
                hd.TongTienThue = self.inforTheGiaTri.SoDuTheSauNap;

                if (self.typeUpdate === 2) {
                    hd.NguoiSua = VHeader.UserLogin;
                }

                var myData = {
                    objHoaDon: hd
                }

               
                ajaxHelper('/api/DanhMuc/Bh_HoaDonAPI/PostBH_HoaDonNapThe', 'POST', myData).done(function (x) {
                    console.log(x)
                    if (x.res === true) {
                        self.saveOK = true;
                        self.newHoaDon.ID = x.dataSoure.ID;
                        self.newHoaDon.MaHoaDon = x.dataSoure.MaHoaDon;
                        commonStatisJs.ShowMessageSuccess('Trả thẻ thành công');

                        let sDiary = '<br /> <b>Thông tin chi tiết </b>'.concat(
                            '<br /> - Mã hóa đơn: ', self.newHoaDon.MaHoaDon,
                            '<br /> - Khách hàng: ', self.cusChosing.TenDoiTuong, '(', self.cusChosing.MaDoiTuong, ')',
                            '<br /> - Tổng trả: ', hd.TongTienHang,
                            '<br /> - Phí hoàn thẻ: ', hd.TongGiamGia, ' (', hd.TongChietKhau, ' %)',
                            '<br /> - Phải thanh toán: ', formatNumber(hd.PhaiThanhToan),
                            '<br /> - Ngày trả: ', hd.NgayLapHoaDon,
                            '<br /> - Số dư còn lại: ', formatNumber3Digit(self.inforTheGiaTri.SoDuTheSauNap)
                        )

                        let diary = {
                            LoaiNhatKy: 1,
                            ID_DonVi: VHeader.IdDonVi,
                            ID_NhanVien: VHeader.IdNhanVien,
                            ChucNang: 'Trả lại tiền thẻ',
                            NoiDung: (self.typeUpdate === 1 ? 'Thêm mới phiếu hoàn trả thẻ ' : 'Cập nhật phiếu hoàn trả thẻ ').concat(self.newHoaDon.MaHoaDon, ' cho khách hàng ', self.cusChosing.TenDoiTuong),
                            NoiDungChiTiet: sDiary
                        }
                        console.log('VHeader.IdNhanVien', VHeader.IdNhanVien)

                        if (self.typeUpdate === 2) {
                            diary.LoaiNhatKy = 2;
                            diary.NoiDungChiTiet = sDiary.concat('<br /> <b>Thông tin cũ: </b>',
                                '<br /> - Mã hóa đơn: ', self.tgtOld.MaHoaDon,
                                '<br /> - Khách hàng: ', self.tgtOld.TenKhachHang, '(', self.tgtOld.MaKhachHang, ')',
                                '<br /> - Tổng trả: ', self.tgtOld.TongTienHang,
                                '<br /> - Phí hoàn thẻ: ', self.tgtOld.TongGiamGia, ' (', self.tgtOld.TongChietKhau, ' %)',
                                '<br /> - Phải thanh toán: ', formatNumber(self.tgtOld.PhaiThanhToan),
                                '<br /> - Ngày trả: ', moment(self.tgtOld.NgayLapHoaDon).format('DD/MM/YYYY HH:mm:ss'));
                        }
                        Insert_NhatKyThaoTac_1Param(diary);

                        vmThanhToanGara.inforHoaDon = self.newHoaDon;
                        vmThanhToanGara.inforHoaDon.TenDoiTuong = self.cusChosing.TenDoiTuong;
                        vmThanhToanGara.inforHoaDon.MaDoiTuong = self.cusChosing.MaDoiTuong;
                        vmThanhToanGara.SavePhieuThu();

                        //if (print) {
                        //    self.InPhieuThu();
                        //}
                    }
                }).always(function () {
                    self.isLoading = false;
                    $('#vmTraLaiTGT').modal('hide');
                })
            },

            showModalThanhToan: function () {
                var self = this;
                vmThanhToanGara.GridNVienBanGoi_Chosed = [];
                var obj = {
                    MaHoaDon: '',
                    LoaiDoiTuong: 1,// 1.kh, 2.ncc, 3.bh
                    LoaiHoaDon: 32,
                    SoDuDatCoc: 0,
                    SoDuTheGiaTri: 0,
                    HoanTraTamUng: self.newHoaDon.HoanTraTamUng,
                    PhaiThanhToan: self.newHoaDon.PhaiThanhToan,
                    PhaiThanhToanBaoHiem: 0,
                    TongThanhToan: self.newHoaDon.PhaiThanhToan,
                    TongTienThue: 0,
                    TongTichDiem: 0,
                    ThucThu: self.newHoaDon.ThucThu,
                    ConNo: self.newHoaDon.TienThua,
                    DienGiai: self.newHoaDon.DienGiai,
                    ID_DoiTuong: self.newHoaDon.ID_DoiTuong,
                    MaDoiTuong: self.cusChosing.MaDoiTuong,
                    TenDoiTuong: self.cusChosing.TenDoiTuong,
                    TenBaoHiem: '',
                    NgayLapHoaDon: self.newHoaDon.NgayLapHoaDon,
                    ID_NhanVien: self.newHoaDon.ID_NhanVien,
                    ID_DonVi: self.newHoaDon.ID_DonVi,
                    NguoiTao: self.newHoaDon.NguoiTao,
                    ID_PhieuTiepNhan: null,
                    DaThanhToan: formatNumber3Digit(self.newHoaDon.DaThanhToan),
                    KhachDaTra: 0, // used when update hd
                }
                vmThanhToanGara.showModalThanhToan(obj, 3);
            },

            GetInforPhieuThu_whenHideModal: function () {
                var self = this;
                var ptKhach = vmThanhToanGara.PhieuThuKhach;
                var tienmat = formatNumberToFloat(ptKhach.TienMat);
                var pos = formatNumberToFloat(ptKhach.TienPOS);
                var ck = formatNumberToFloat(ptKhach.TienCK);
                var sLoai = '';
                if (tienmat > 0) {
                    sLoai = 'Tiền mặt,';
                }
                if (pos > 0) {
                    sLoai += 'POS,';
                }
                if (ck > 0) {
                    sLoai += 'Chuyển khoản,';
                }
                sLoai = '(' + Remove_LastComma(sLoai) + ')';
                self.newHoaDon.TenLoaiTien = sLoai;
                self.newHoaDon.DaThanhToan = formatNumber3Digit(ptKhach.DaThanhToan);
                self.newHoaDon.TienThua = ptKhach.DaThanhToan - self.newHoaDon.PhaiThanhToan;
                self.newHoaDon.BH_NhanVienThucHiens = vmThanhToanGara.GridNVienBanGoi_Chosed;

                /// save to cache if was agree and chose again  (todo)
            },
            showModalCustomer: function () {
                var self = this;
                vmThemMoiKhach.showModalAdd();
            },
            hideModalAddCus_afterSave: function () {
                var self = this;
                self.cusChosing = {
                    MaDoiTuong: vmThemMoiKhach.newCustomer.MaDoiTuong,
                    TenDoiTuong: vmThemMoiKhach.newCustomer.TenDoiTuong,
                    DienThoai: vmThemMoiKhach.newCustomer.DienThoai,
                    DiaChi: vmThemMoiKhach.newCustomer.DiaChi,
                };
                self.newHoaDon.ID_DoiTuong = vmThemMoiKhach.newCustomer.ID;
                self.inforTheGiaTri.SoDuTheGiaTri = 0;
                self.inforTheGiaTri.TongTaiKhoanThe = 0;
                self.inforTheGiaTri.SoDuTheSauNap = 0;
                self.LichSuNapTien = [];
            },
            GotoTheGiaTri: function () {
                let self = this;
                localStorage.setItem('FindHD', self.newHoaDon.MaHoaDon);
                window.open('/#/RechargeValueCard');
            }
        },
        computed: {
            PageList_Display: function () {

            }
        }
    })

</script>

