@using banhang24.Hellper
<style>
    .lbl-note-i {
        font-size: 12px !important;
    }

    #vmHoaHongKhachGioiThieu thead tr th {
        text-align: center
    }
</style>
<div class="modal fade" id="vmHoaHongKhachGioiThieu">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title">
                    {{typeUpdate==1?'Thêm mới ':'Cập nhật '}} phiếu trích hoa hồng
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            </div>
            <div class="modal-body modal-body-scroll">
                <div class="flex flex-row" style="padding-bottom: 10px">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 ">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 nopadding-left">
                            <label>
                                Người giới thiệu là
                            </label>
                        </div>

                        <div class="col-lg-4 col-lg-offset-2 col-xs-10 col-xs-offset-3 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 flex flex-between">
                            <label>
                                <input type="radio" class="form-check-input" name="rdoLoaiDoiTuong"
                                       value="1" v-model="newHoaDon.TongChietKhau"
                                       v-on:change="ChangeLoaiDoiTuong" />Khách hàng
                            </label>
                            <label>
                                <input type="radio" class="form-check-input" name="rdoLoaiDoiTuong"
                                       value="2" v-model="newHoaDon.TongChietKhau"
                                       v-on:change="ChangeLoaiDoiTuong" />Nhà cung cấp
                            </label>
                        </div>
                        <div class="col-lg-4 col-lg-offset-2 col-xs-10 col-xs-offset-3 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 flex flex-between">
                            <label>
                                <input type="radio" class="form-check-input" name="rdoLoaiDoiTuong"
                                       v-on:change="ChangeLoaiDoiTuong"
                                       value="5" v-model="newHoaDon.TongChietKhau" />Nhân viên
                            </label>
                            <label>
                                <input type="radio" class="form-check-input" name="rdoLoaiDoiTuong"
                                       v-on:change="ChangeLoaiDoiTuong"
                                       value="4" v-model="newHoaDon.TongChietKhau" />Khác
                            </label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap">
                    <div class="col-lg-6 col-xs-12 ">
                        <div class="form-group nopadding">
                            <label>
                                Mã phiếu
                            </label>
                            <div class="form-news">
                                <input type="text" class="form-control" readonly
                                       placeholder="Mã tự động" v-model="newHoaDon.MaHoaDon" />
                            </div>
                        </div>
                        <div class="form-group gara-addcar-brand nopadding">
                            <label>Người giới thiệu</label>
                            <div class="form-news">
                                <div v-show="['1','2','3','4'].includes(newHoaDon.TongChietKhau)">
                                    <customers :text-search="txtNguoiGioiThieu"
                                               :loai-doi-tuong="newHoaDon.TongChietKhau"
                                               :showbutton="newHoaDon.TongChietKhau =='4'"
                                               :disable-search="false"
                                               :id-chi-nhanh="inforLogin.ID_DonVi"
                                               v-on:show-modal-customer="showModalContact"
                                               v-on:reset-customer-parent="ResetNguoiGioiThieu"
                                               v-on:change-customer-parent="ChangeNguoiGioiThieu">
                                    </customers>
                                </div>

                                <div v-if="newHoaDon.TongChietKhau == '5'">
                                    <nhanviens :text-search="txtNguoiGioiThieu"
                                               :staffs="listData.NhanViens"
                                               :search-list="listData.NhanViens"
                                               v-on:reset-item-chose="ResetNguoiGioiThieu"
                                               v-on:change-staff-parent="ChangeNguoiGioiThieu">
                                    </nhanviens>
                                </div>
                            </div>
                        </div>
                        <div class="form-group nopadding">
                            <label></label>
                            <div class="form-news">
                                <input type="text" class="form-control" style="text-align:left"
                                       v-if="newHoaDon.SDTNguoiGioiThieu"
                                       v-bind:value="newHoaDon.TenNguoiGioiThieu.concat(' (', newHoaDon.SDTNguoiGioiThieu, ')')" />
                                <input type="text" class="form-control" style="text-align:left"
                                       v-else
                                       v-bind:value="newHoaDon.TenNguoiGioiThieu" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 ">
                        <div class="form-group nopadding">
                            <label>Ngày lập</label>
                            <div class="form-news">
                                <my-date-time :date-chose="newHoaDon.NgayLapHoaDon"
                                              :role-change-date="true"
                                              v-on:change-date="ChangeNgayLapHoaDon">
                                </my-date-time>
                            </div>
                        </div>
                        <div class="form-group nopadding">
                            <label>Ghi chú</label>
                            <div class="form-news">
                                <textarea rows="2" type="text"
                                          v-model="newHoaDon.DienGiai">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap gara-detail-sections" style="border-bottom:1px solid">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div class="col-lg-6 col-xs-12  col-sm-6 col-md-6 nopadding-left">
                            <div class="form-group nopadding">
                                <label><a>Thời gian</a></label>
                                <div class="form-news dropdown">
                                    <i class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <a>
                                            {{filter.TextDate}}
                                        </a>
                                    </i>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:100%; left:unset; right:0">
                                        <div v-for="(item, index) in ListTime"
                                             v-on:click="ChoseTypeTime(item)">
                                            <button type="button" class="form-control btn-link">
                                                {{item.Text}}
                                            </button>
                                            <div style="border-bottom:1px dashed #ccc; margin: 0 5px"></div>
                                        </div>
                                        <date-range style="text-align:center"
                                                    v-on:daterange-change="ChangeDateRange">
                                        </date-range>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6 nopadding-right">
                            <div class="col-lg-4 col-xs-6 col-sm-6 col-md-6 nopadding-left">
                                <label v-if="typeUpdate === 1">
                                    Tổng thanh toán
                                </label>
                                <label v-if="typeUpdate === 2">
                                    Tổng giá trị
                                </label>
                                <span class="commodity-note" v-if="typeUpdate === 2">
                                    <i class="fal fa-info-circle"></i>
                                    <span class="materiall">
                                        <template>
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 nopadding-left">
                                                <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8 nopadding-left">
                                                    <div class="form-group">
                                                        <label>
                                                            Tổng giá trị
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>
                                                            Đã thanh toán
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                                    <div class="form-group">
                                                        <label>
                                                            {{formatNumber3Digit(newHoaDon.TongTienHang)}}
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>
                                                            {{formatNumber3Digit(newHoaDon.KhachDaTra)}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 nopadding-left" style="border-top:1px solid #ccc"
                                                 v-if="inforThanhToan.HoanTraTamUng == 0">
                                                <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8 nopadding-left">
                                                    <div class="form-group">
                                                        <label>
                                                            Cần thanh toán
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                                    <div class="form-group">
                                                        <label>
                                                            {{formatNumber3Digit(inforThanhToan.PhaiThanhToan)}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="border-top:1px solid #ccc"
                                                 v-if="inforThanhToan.HoanTraTamUng > 0">
                                                <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8 nopadding-left">
                                                    <div class="form-group">
                                                        <label>
                                                            Thu lại khách
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                                                    <div class="form-group">
                                                        <label>
                                                            {{formatNumber3Digit(inforThanhToan.HoanTraTamUng)}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                    </span>
                                </span>
                                <p style="font-size:10px" v-if="typeUpdate === 1">
                                    <i>({{inforThanhToan.LoaiTien}})</i>
                                </p>
                            </div>
                            <div class="col-lg-4 col-xs-6 col-sm-6 col-md-6 nopadding-right floatRight " v-if="typeUpdate === 2">
                                <label style="float:right!important">
                                    {{formatNumber3Digit(newHoaDon.TongTienHang)}}
                                </label>
                            </div>
                            <div class="col-lg-4 col-xs-6 col-sm-6 col-md-6 nopadding-right floatRight " v-if="typeUpdate === 1">
                                <label style="float:right!important">
                                    {{formatNumber3Digit(inforThanhToan.DaThanhToan)}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid row" style="margin-bottom:5px; margin-top:10px"
                     v-if="ThongTinChiTiet.length == 0">
                    <div class="flex flex-wrap">
                        <div class="col-lg-6 col-xs-12 ">
                            <div class="form-group gara-addcar-brand nopadding">
                                <label>Khách hàng</label>
                                <div class="form-news">
                                    <customers :text-search="txtKhachHang"
                                               :loai-doi-tuong="1"
                                               :showbutton="false"
                                               :disable-search="false"
                                               :id-chi-nhanh="inforLogin.ID_DonVi"
                                               v-on:change-customer-parent="ChoseCustomer">
                                    </customers>
                                </div>
                            </div>
                            <div class="form-group nopadding">
                                <label></label>
                                <div class="form-news">
                                    <input type="text" class="form-control" style="text-align:left" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 " v-if="$root.roleHoaHongGioiThieu_TrichBoSung">
                            <div class="form-group gara-addcar-brand nopadding">
                                <label>Hóa đơn bổ sung</label>
                                <div class="form-news">
                                    <div class="gara-bill-infor-button shortlabel">
                                        <input class="gara-search-HH " placeholder="Tìm kiếm" style="padding-right: 27px!important"
                                               onclick="this.select()" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid row" style="margin-bottom:5px; margin-top:10px"
                     v-if="ThongTinChiTiet.length > 0"
                     v-for="(item, index) in ThongTinChiTiet">
                    <div class="flex flex-wrap">
                        <div class="col-lg-6 col-xs-12 ">
                            <div class="form-group gara-addcar-brand nopadding">
                                <label>Khách hàng</label>
                                <div class="form-news"
                                     v-on:change="ChangeCustomer(item,index)">
                                    <customers :text-search="txtKhachHang"
                                               :loai-doi-tuong="1"
                                               :showbutton="false"
                                               :disable-search="false"
                                               :id-chi-nhanh="inforLogin.ID_DonVi"
                                               v-on:change-customer-parent="ChoseCustomer">
                                    </customers>
                                </div>
                            </div>
                            <div class="form-group nopadding">
                                <label></label>
                                <div class="form-news">
                                    <input type="text" class="form-control" style="text-align:left" readonly
                                           v-if="item.DienThoai"
                                           v-bind:value="item.TenDoiTuong.concat(' (',item.MaDoiTuong,' - ', item.DienThoai, ')')" />
                                    <input type="text" class="form-control" style="text-align:left" readonly
                                           v-if="item.MaDoiTuong && !item.DienThoai"
                                           v-bind:value="item.TenDoiTuong.concat(' (',item.MaDoiTuong, ')')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 " v-if="$root.roleHoaHongGioiThieu_TrichBoSung">
                            <div class="form-group gara-addcar-brand nopadding">
                                <label>Hóa đơn bổ sung</label>
                                <div class="form-news">
                                    <div class="gara-bill-infor-button shortlabel">
                                        <input class="gara-search-HH " placeholder="Tìm kiếm" style="padding-right: 27px!important"
                                               v-on:click="showlistHDBoSung" />
                                        <div class="gara-search-dropbox drop-search ">
                                            <ul>
                                                <li v-for="(hdbs, index2) in item.HoaDonBoSung"
                                                    v-on:click="Add_HoaDonBoSung(hdbs)">
                                                    <a href="javascript:void(0)" class="gara-component-item-nv">
                                                        <div class="flex flex-between">
                                                            <span>{{hdbs.MaHoaDon}}</span>
                                                        </div>
                                                        <span class="seach-hh" style="color:black">
                                                            {{formatNumber3Digit(hdbs.TongThanhToan)}}
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-res table-frame" style="margin-top:10px">
                        <table class='table'>
                            <thead>
                                <tr>
                                    <th> Mã hóa đơn </th>
                                    <th class="text-center"> Ngày lập</th>
                                    <th class="text-right"> Giá trị</th>
                                    <th class="text-right"> Đã trích</th>
                                    <th class="text-right"> Còn lại</th>
                                    <th class="text-right"> Số tiền trích</th>
                                    <th class="text-right"> % trích</th>
                                    <th style="text-align:center; width: 10%">
                                        Thành tiền
                                    </th>
                                    <th title="Xóa tất cả dòng" class="red" v-on:click="RemoveAllRow(item)">
                                        <i class="fal fa-times"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(ct, index2) in item.HoaDons"
                                    v-bind:style="{background : ct.TrangThai == 1 ? 'yellow' : 'none'}">
                                    <td>{{ct.MaHoaDon}}</td>
                                    <td>{{moment(ct.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}</td>
                                    <td class="text-right">{{formatNumber3Digit(ct.TongThanhToan)}}</td>
                                    <td class="text-right">
                                        {{formatNumber3Digit(ct.DaTrich)}}
                                    </td>
                                    <td class="text-right">{{formatNumber3Digit(ct.ConLai)}}</td>
                                    <td>
                                        <input type="text" class="text-right" style="width:100px"
                                               onkeypress="keypressNumber_limitNumber(event, this)"
                                               onclick="this.select()"
                                               v-on:keyup.13="Enter_FocusNext(5)"
                                               v-model="ct.SoTienTrich"
                                               v-on:keyup="editSoTienTrich(item,ct)" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:70px" class="text-right"
                                               onkeypress="keypressNumber_limitNumber(event, this)"
                                               v-on:keyup.13="Enter_FocusNext(6)"
                                               v-model="ct.PTChietKhau"
                                               v-on:keyup="editPTChietKhau(item,ct)" />
                                    </td>
                                    <td>
                                        <input type="text" style="width:120px" class="text-right"
                                               onkeypress="keypressNumber_limitNumber(event, this)"
                                               v-on:keyup.13="Enter_FocusNext(7)"
                                               v-model="ct.TienChietKhau"
                                               v-on:keyup="editTienChietKhau(item,ct)" />
                                    </td>
                                    <td class="text-center">
                                        <a title="Xóa dòng" class="red" v-on:click="RemoveOneRow(item,ct)">
                                            <i class="fal fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="flex flex-row" v-if="ThongTinChiTiet.length > 0">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 ">
                        <div class="form-group">
                            <button class="btn btn-main" v-on:click="AddNewData_Cus">
                                <i class="fa fa-plus"></i> Thêm khách hàng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-cancel " data-dismiss="modal">
                    <i class="fa fa-ban"></i>Đóng
                </button>
                <button type="button" class="btn btn-save "
                        v-if="!isLoading"
                        v-on:click="saveHoaDon(1)">
                    <i class="fa fa-save"></i>
                    Lưu và thanh toán
                </button>
                <button type="button" class="btn btn-save " v-if="isLoading">
                    <i class="fa fa-save"></i>
                    Đang lưu
                </button>

            </div>
        </div>
    </div>
</div>

<script>
    var vmHoaHongKhachGioiThieu = new Vue({
        el: '#vmHoaHongKhachGioiThieu',
        components: {
            'my-date-time': cpmDatetime,
            'customers': cmpChoseCustomer,
            'dropdown': cmpDropdown1Item,
            'nhanviens': ComponentChoseStaff,
            'contacts': cmpNguoiLienHe,
            'date-range': cmpDateRange
        },
        created: function () {
            var self = this;
            self.UrlAPI = {
                HoaDon: '/api/DanhMuc/BH_HoaDonAPI/',
            }

            self.inforLogin = {
                ID_DonVi: VHeader.IdDonVi,
                ID_NhanVien: VHeader.IdNhanVien,
                UserLogin: VHeader.UserLogin,
            }

            self.roleChangeNgayLapHD = VHeader.Quyen.indexOf('HoaDon_ThayDoiThoiGian') > -1;
            self.roleHoaHongGioiThieu_TrichBoSung = VHeader.Quyen.indexOf('HoaHongKhachGioiThieu_TrichBoSung') > -1;

            self.PageLoad();
            console.log('vmHoaHongKhachGioiThieu')
        },
        computed: {
            sLoaiDoiTuong: function () {
                let self = this;
                let txt = '';
                switch (parseInt(self.newHoaDon.TongChietKhau)) {
                    case 1:
                        txt = 'Khách hàng';
                        break;
                    case 2:
                        txt = 'Nhà cung cấp';
                        break;
                    case 3:
                        txt = 'Bảo hiểm';
                        break;
                    case 5:
                        txt = 'Nhân viên';
                        break;
                    case 4:
                        txt = 'Khác';
                        break;
                }
                return txt;
            },
        },
        data: {
            saveOK: false,
            isLoading: false,
            typeUpdate: 1,
            isKhoaSo: false,
            ListTime: [
                { ID: 1, Text: 'Hôm nay' },
                { ID: 2, Text: 'Hôm qua' },
                //{ ID: 3, Text: 'Tuần này' },
                //{ ID: 4, Text: 'Tuần trước' },
                { ID: 5, Text: 'Tháng này' },
                { ID: 6, Text: 'Tháng trước' },
                //{ ID: 7, Text: 'Quý này' },
                //{ ID: 8, Text: 'Quý trước' },
            ],
            filter: {
                DateFrom: null,
                DateTo: null,
                TextDate: '',
                TypeTime: 5,
            },
            inforOld: {

            },

            txtKhachHang: '',
            txtNguoiGioiThieu: '',
            txtLienHe: '',
            itemChosing: {},

            newHoaDon: {
                ID: null,
                LoaiHoaDon: 41,
                MaHoaDon: '',
                NgayLapHoaDon: '',
                ID_DonVi: null,
                ID_CheckIn: null,// id NguoiGioiThieu
                TongChietKhau: '1', // Loại đối tượng giới thiệu (0.Khác, 1.Khách hàng, 2.Nhà cung cấp, 3.Bảo hiểm, 4. Người GT, 5.Nhân viên)
                TongTienHang: 0, // tổng tiền hoa hồng được nhận
                TongThanhToan: 0,
                KhachDaTra: 0,// sotien dathanhtoan cho khach (used to when update)
                DienGiai: '',
                NguoiTao: '',
                ChoThanhToan: false,

                MaNguoiGioiThieu: '',
                TenNguoiGioiThieu: '',
                SDTNguoiGioiThieu: '',
            },
            listData: {
                NhanViens: [],
                LienHes: [],
            },
            ThongTinChiTiet: [],

            inforThanhToan: {
                LoaiTien: 'Tiền mặt',
                TienMat: 0,
                TienCK: 0,
                PhaiThanhToan: 0,
                DaThanhToan: 0,
                TienThua: 0,
                HoanTraTamUng: 0,
                ID_KhoanThuChi: null,
                ID_TaiKhoanPos: null,
                ID_TaiKhoanNganHang: null,
            }
        },
        methods: {
            PageLoad: function () {
                let self = this;
                self.GetListNhanVien();
            },
            GetListNhanVien: function () {
                let self = this;
                ajaxHelper("/api/DanhMuc/NS_NhanVienAPI/" + "GetNS_NhanVien_InforBasic?idDonVi=" + self.inforLogin.ID_DonVi, 'GET').done(function (data) {
                    self.listData.NhanViens = data;
                })
            },
            GetAllLienHe: function () {// notuse
                let self = this;
                ajaxHelper("/api/DanhMuc/DM_LienHeAPI/" + "GetAllLienHe", 'GET').done(function (data) {
                    self.listData.LienHes = data;
                })
            },
            GetListHoaDon_byIDCus: async function (idCus) {
                let self = this;
                let param = {
                    DateFrom: self.filter.DateFrom,
                    DateTo: self.filter.DateTo,
                    IDCustomers: [idCus],
                    IDCars: [self.newHoaDon.ID_CheckIn],// muontamtruong idcar ~ idnguoi gioithieu
                }
                let xx = await ajaxHelper(self.UrlAPI.HoaDon + "GetListHoaDon_byIDCus", 'POST', param).done(function () {
                }).then(function (x) {
                    if (x.res) {
                        return x.dataSoure;
                    }
                    return [];
                });
                return xx;
            },
            AddHoaDon_WhenChangeDate: async function () {
                let self = this;
                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let itFor = self.ThongTinChiTiet[i];

                    let hd = await self.GetListHoaDon_byIDCus(itFor.ID_DoiTuong);
                    if (hd.length > 0) {
                        hd.map(function (x) {
                            x['SoTienTrich'] = formatNumber3Digit(x.ConLai)
                            x['PTChietKhau'] = ''
                            x['TienChietKhau'] = ''
                        })

                        for (let k = 0; k < hd.length; k++) {
                            let hdNew = hd[k];
                            // chi add neu chua tontai trong hd & hdbs
                            let exHD = $.grep(itFor.HoaDons, function (x) {
                                return x.ID_HoaDon_DuocCK === hdNew.ID_HoaDon_DuocCK;
                            });
                            let hdBS = $.grep(itFor.HoaDonBoSung, function (x) {
                                return x.ID_HoaDon_DuocCK === hdNew.ID_HoaDon_DuocCK;
                            });

                            if (exHD.length === 0 && hdBS.length === 0) {
                                switch (hdNew.TrangThai) {
                                    case 0:
                                        itFor.HoaDons.push(hdNew);
                                        break;
                                    case 1:
                                        itFor.HoaDonBoSung.push(hdNew);
                                        break;
                                }
                            }
                        }
                    }
                }
            },
            ChangeDateRange: function (time) {
                let self = this;
                self.filter.TextDate = ''.concat(time.startDate.format('DD/MM/YYYY'), ' - ',
                    time.endDate.format('DD/MM/YYYY'));
                self.filter.DateFrom = time.startDate.format('YYYY-MM-DD');
                self.filter.DateTo = time.endDate.add(1, 'days').format('YYYY-MM-DD');
                self.AddHoaDon_WhenChangeDate();
            },
            ChoseTypeTime: function (item, isFistLoad = false) {
                let self = this;
                let _now = new Date();
                let from = '', to = '';
                switch (item.ID) {
                    case 1:// homnay
                        from = moment(_now).format('YYYY-MM-DD');
                        to = moment(_now).add('days', 1).format('YYYY-MM-DD');
                        break;
                    case 2:// hom qua
                        to = moment(_now).format('YYYY-MM-DD');
                        from = moment(_now).subtract('days', 1).format('YYYY-MM-DD');
                        break;
                    case 3:// tuannay
                        from = moment().startOf('week').add('days', 1).format('YYYY-MM-DD');
                        to = moment().endOf('week').add('days', 2).format('YYYY-MM-DD');
                        break;
                    case 4:// tuantruoc
                        from = moment().startOf('week').subtract('days', 6).format('YYYY-MM-DD');
                        to = moment().startOf('week').add('days', 1).format('YYYY-MM-DD');
                        break;
                    case 5:// thangnay
                        from = moment().startOf('month').format('YYYY-MM-DD');
                        to = moment().endOf('month').add('days', 1).format('YYYY-MM-DD');
                        break;
                    case 6:// thangtruoc
                        from = moment().subtract('months', 1).startOf('month').format('YYYY-MM-DD');
                        to = moment().subtract('months', 1).endOf('month').add('days', 1).format('YYYY-MM-DD');
                        break;
                    case 7:// quynay
                        from = moment().startOf('quarter').format('YYYY-MM-DD');
                        to = moment().endOf('quarter').add('days', 1).format('YYYY-MM-DD');
                        break;
                    case 8:// quytruoc
                        from = moment(_now).format('YYYY-MM-DD');
                        to = moment(_now).add('days', 1).format('YYYY-MM-DD');
                        break;
                }
                self.filter.DateFrom = from;
                self.filter.DateTo = to;
                self.filter.TypeTime = item.ID;
                self.filter.TextDate = ''.concat(moment(from, 'YYYY-MM-DD').format('DD/MM/YYYY'), ' - ',
                    moment(to, 'YYYY-MM-DD').add('days', -1).format('DD/MM/YYYY'));

                if (!isFistLoad) {
                    self.AddHoaDon_WhenChangeDate();
                }
            },
            showModal: function () {
                let self = this;
                self.saveOK = false;
                self.isLoading = false;
                self.typeUpdate = 1;
                self.ThongTinChiTiet = [];
                self.itemChosing = {
                    Index: -1,
                    ID_DoiTuong: null,
                };
                self.inforThanhToan = {
                    LoaiTien: 'Tiền mặt',
                    TienMat: 0,
                    TienCK: 0,
                    PhaiThanhToan: 0,
                    DaThanhToan: 0,
                    TienThua: 0,
                    HoanTraTamUng: 0,
                    ID_KhoanThuChi: null,
                    ID_TaiKhoanPos: null,
                    ID_TaiKhoanNganHang: null,
                };

                self.ChoseTypeTime(self.ListTime.filter(x => x.ID === 5)[0], true);

                self.newHoaDon = {
                    ID: null,
                    LoaiHoaDon: 41,
                    MaHoaDon: '',
                    NgayLapHoaDon: moment(new Date()).format('YYYY-MM-DD HH:mm'),
                    ID_DonVi: VHeader.IdDonVi,
                    ID_CheckIn: null,// id NguoiGioiThieu
                    TongChietKhau: '1', // Loại đối tượng giới thiệu (0.Khác, 1.Khách hàng, 2.Nhà cung cấp, 3.Bảo hiểm, 4.Nhân viên)
                    TongTienHang: 0, // tổng tiền hoa hồng được nhận
                    KhachDaTra: 0,
                    DienGiai: '',
                    NguoiTao: VHeader.UserLogin,
                    ChoThanhToan: false,

                    LoaiTien: 'Tiền mặt',
                    MaNguoiGioiThieu: '',
                    TenNguoiGioiThieu: '',
                    SDTNguoiGioiThieu: '',
                };

                $('#vmHoaHongKhachGioiThieu').modal('show');
            },
            showModalUpdate: async function (id) {
                let self = this;
                self.saveOK = false;
                self.isLoading = false;
                self.typeUpdate = 2;
                self.ThongTinChiTiet = [];
                self.ChoseTypeTime(self.ListTime.filter(x => x.ID === 5)[0], true);

                let hd = await self.GetPhieuTrichHoaHong_byID(id);
                if (hd.length === 0) {
                    return;
                }

                let item = hd[0];
                self.inforThanhToan = {
                    LoaiTien: 'Tiền mặt',
                    TienMat: item.TongTienHang - item.KhachDaTra,
                    TienCK: 0,
                    PhaiThanhToan: item.TongTienHang - item.KhachDaTra,
                    DaThanhToan: item.TongTienHang - item.KhachDaTra,
                    TienThua: 0,
                    HoanTraTamUng: 0,
                    ID_KhoanThuChi: null,
                    ID_TaiKhoanPos: null,
                    ID_TaiKhoanNganHang: null,
                };

                self.newHoaDon = {
                    ID: item.ID,
                    LoaiHoaDon: 41,
                    MaHoaDon: item.MaHoaDon,
                    NgayLapHoaDon: moment(item.NgayLapHoaDon).format('YYYY-MM-DD HH:mm'),
                    ID_DonVi: item.ID_DonVi,
                    ID_CheckIn: item.ID_CheckIn,// id NguoiGioiThieu
                    TongChietKhau: item.TongChietKhau.toString(), // Loại đối tượng giới thiệu (0.Khác, 1.Khách hàng, 2.Nhà cung cấp, 3.Bảo hiểm, 4.Nhân viên)
                    TongTienHang: item.TongTienHang, // tổng tiền hoa hồng được nhận
                    KhachDaTra: item.KhachDaTra,
                    DienGiai: item.DienGiai,
                    NguoiTao: item.NguoiTao,
                    ChoThanhToan: false,

                    MaNguoiGioiThieu: item.MaNguoiGioiThieu,
                    TenNguoiGioiThieu: item.TenNguoiGioiThieu,
                    SDTNguoiGioiThieu: item.SDTNguoiGioiThieu,
                };

                let arrIDCus = [];
                let lstCT = await self.LoadChiTiet(id);
                lstCT.map(function (x) {
                    x['TienChietKhau'] = formatNumber3Digit(x.TienChietKhau)
                    x['DaTrich'] = x.DaTrich
                    x['KhachDaTra'] = x.DaTrich
                    x['ConLai'] = x.ConLai
                    x['SoTienTrich'] = formatNumber3Digit(x.SoTienTrich)
                })

                let arrIDHoaDonCK = lstCT.map(function (x) {
                    return x.ID_HoaDon_DuocCK;
                })

                for (let i = 0; i < lstCT.length; i++) {
                    let ct = lstCT[i];
                    if ($.inArray(ct.ID_DoiTuong, arrIDCus) === -1) {
                        arrIDCus.push(ct.ID_DoiTuong);

                        let lstHD = await self.GetListHoaDon_byIDCus(ct.ID_DoiTuong);

                        let obj = {
                            ID_DoiTuong: ct.ID_DoiTuong,
                            MaDoiTuong: ct.MaDoiTuong,
                            TenDoiTuong: ct.TenDoiTuong,
                            DienThoai: ct.DienThoai,
                            HoaDons: lstCT.filter(x => x.ID_DoiTuong === ct.ID_DoiTuong),
                            HoaDonBoSung: lstHD.filter(x => x.TrangThai === 1 && $.inArray(x.ID_HoaDon_DuocCK, arrIDHoaDonCK) === -1),
                        };
                        self.ThongTinChiTiet.push(obj);
                    }
                }

                self.inforOld = $.extend({}, true, self.newHoaDon);
                self.inforOld.ThongTinChiTiet = $.extend([], true, self.ThongTinChiTiet);
                console.log('self.inforOld ', self.inforOld.ThongTinChiTiet)

                $('#vmHoaHongKhachGioiThieu').modal('show');
            },
            GetPhieuTrichHoaHong_byID: async function (id) {
                let self = this;
                let xx = await $.getJSON(self.UrlAPI.HoaDon + 'GetPhieuTrichHoaHong_byID/' + id).done().then(function (x) {
                    console.log('GetPhieuTrichHoaHong_byID ', x)
                    if (x.res) {
                        return x.dataSoure;
                    }
                    return [];
                });
                return xx;
            },
            LoadChiTiet: async function (id) {
                let self = this;
                let xx = await $.getJSON(self.UrlAPI.HoaDon + 'GetChiTietHoaHongGioiThieu_byID/' + id).done().then(function (x) {
                    if (x.res) {
                        return x.dataSoure;
                    }
                    return [];
                });
                return xx;
            },
            Enter_FocusNext: function (index) {
                let $this = $(event.currentTarget);
                let $tr = $this.closest('tr').next();
                $tr.find('td').eq(index).find('input').focus().select();
            },
            CheckSave: function () {
                let self = this;

                if (commonStatisJs.CheckNull(self.newHoaDon.ID_CheckIn)) {
                    ShowMessage_Danger('Vui lòng chọn người giới thiệu');
                    return;
                }

                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let forOut = self.ThongTinChiTiet[i];
                    for (let j = 0; j < forOut.HoaDons.length; j++) {
                        let forIn = forOut.HoaDons[j];
                        let ck = formatNumberToFloat(forIn.TienChietKhau);
                        let sotienTrich = formatNumberToFloat(forIn.SoTienTrich);
                        if (ck === 0) {
                            ShowMessage_Danger('Vui lòng nhập đủ thông tin tiền chiết khấu');
                            return;
                        }
                        if (sotienTrich > forIn.ConLai) {
                            ShowMessage_Danger('Số tiền trích không được vượt quá số tiền đã thanh toán');
                            return;
                        }
                    }
                }
                return true;
            },
            ChangeNgayLapHoaDon: function (e) {
                let self = this;
                let dt = moment(e).format('YYYY-MM-DD HH:mm');
                self.newHoaDon.NgayLapHoaDon = dt;
            },
            ResetNguoiGioiThieu: function () {
                let self = this;
                self.newHoaDon.MaNguoiGioiThieu = '';
                self.newHoaDon.TenNguoiGioiThieu = '';
                self.newHoaDon.SDTNguoiGioiThieu = '';
                self.newHoaDon.ID_CheckIn = null;
            },
            ChangeNguoiGioiThieu: function (item) {
                let self = this;
                switch (parseInt(self.newHoaDon.TongChietKhau)) {
                    case 1:
                    case 2:
                    case 3:
                    case 4:
                        self.newHoaDon.MaNguoiGioiThieu = item.MaDoiTuong;
                        self.newHoaDon.TenNguoiGioiThieu = item.TenDoiTuong;
                        self.newHoaDon.SDTNguoiGioiThieu = item.DienThoai;
                        break;
                    case 5:
                        self.newHoaDon.MaNguoiGioiThieu = item.MaNhanVien;
                        self.newHoaDon.TenNguoiGioiThieu = item.TenNhanVien;
                        self.newHoaDon.SDTNguoiGioiThieu = item.DienThoai;
                        break;
                    case 0:
                        self.newHoaDon.MaNguoiGioiThieu = item.MaLienHe;
                        self.newHoaDon.TenNguoiGioiThieu = item.TenLienHe;
                        self.newHoaDon.SDTNguoiGioiThieu = item.SoDienThoai;
                        break;
                }
                self.newHoaDon.ID_CheckIn = item.ID;

                if (self.typeUpdate === 2) {
                    if (self.inforOld.ID_CheckIn !== item.ID) {
                        self.newHoaDon.KhachDaTra = 0;

                        self.inforThanhToan = {
                            LoaiTien: 'Tiền mặt',
                            TienMat: self.newHoaDon.TongTienHang,
                            TienCK: 0,
                            PhaiThanhToan: self.newHoaDon.TongTienHang,
                            DaThanhToan: self.newHoaDon.TongTienHang,
                            TienThua: 0,
                            HoanTraTamUng: 0,
                            ID_KhoanThuChi: null,
                            ID_TaiKhoanPos: null,
                            ID_TaiKhoanNganHang: null,
                        };
                    }
                    else {
                        self.newHoaDon.KhachDaTra = self.inforOld.KhachDaTra;

                        self.inforThanhToan = {
                            LoaiTien: 'Tiền mặt',
                            TienMat: self.newHoaDon.TongTienHang - self.inforOld.KhachDaTra,
                            TienCK: 0,
                            PhaiThanhToan: self.newHoaDon.TongTienHang - self.inforOld.KhachDaTra,
                            DaThanhToan: self.newHoaDon.TongTienHang - self.inforOld.KhachDaTra,
                            TienThua: 0,
                            HoanTraTamUng: 0,
                            ID_KhoanThuChi: null,
                            ID_TaiKhoanPos: null,
                            ID_TaiKhoanNganHang: null,
                        };
                    }
                }

                let $this = $(event.currentTarget);
                $($this).closest('div').hide();
                $($this).closest('div').prev('focus');
            },
            AddNewData_Cus: function () {
                let self = this;
                let obj = {
                    ID_DoiTuong: null,
                    MaDoiTuong: '',
                    TenDoiTuong: '',
                    DienThoai: '',
                    HoaDons: [],
                    HoaDonBoSung: [],
                };
                self.ThongTinChiTiet.push(obj);
            },
            ChoseCustomer: async function (item) {
                let self = this;

                if (commonStatisJs.CheckNull(self.newHoaDon.ID_CheckIn)) {
                    ShowMessage_Danger('Vui lòng chọn người giới thiệu');
                    return;
                }

                let exCus = $.grep(self.ThongTinChiTiet, function (x) {
                    return x.ID_DoiTuong === item.ID;
                });
                if (exCus.length > 0) {
                    ShowMessage_Danger('Khách hàng đã được chọn');
                    return;
                }

                let hd = await self.GetListHoaDon_byIDCus(item.ID);
                hd.map(function (x) {
                    x['SoTienTrich'] = formatNumber3Digit(x.ConLai)
                    x['PTChietKhau'] = ''
                    x['TienChietKhau'] = ''
                })

                if (hd.length === 0) {
                    ShowMessage_Danger('Không tồn tại hóa đơn');
                    return;
                }
                let obj = {
                    ID_DoiTuong: item.ID,
                    MaDoiTuong: item.MaDoiTuong,
                    TenDoiTuong: item.TenDoiTuong,
                    DienThoai: item.DienThoai,
                    HoaDonBoSung: hd.filter(x => x.TrangThai === 1),
                    HoaDons: hd.filter(x => x.TrangThai === 0),
                };
                if (self.itemChosing.Index === -1) {
                    self.ThongTinChiTiet.push(obj);
                }
                else {
                    for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                        let itFor = self.ThongTinChiTiet[i];
                        if (itFor.ID_DoiTuong === self.itemChosing.ID_DoiTuong) {
                            self.ThongTinChiTiet[i] = obj;
                            break;
                        }
                    }
                    self.ThongTinChiTiet = $.extend([], true, self.ThongTinChiTiet)
                }
            },
            ChangeCustomer: function (item, index) {
                let self = this;
                self.itemChosing = {
                    Index: index,
                    ID_DoiTuong: item.ID_DoiTuong,
                }
            },
            ResetCustomer: function () {
                let self = this;
                self.newHoaDon.ID_CheckIn = null;
                self.newHoaDon.TenDoiTuong = '';
                self.newHoaDon.MaDoiTuong = '';
            },
            ChangeLoaiDoiTuong: function () {
                let self = this;
                self.newHoaDon.ID_CheckIn = null;
                self.newHoaDon.MaNguoiGioiThieu = '';
                self.newHoaDon.TenNguoiGioiThieu = '';
                self.newHoaDon.SDTNguoiGioiThieu = '';
            },
            showlistHDBoSung: function () {
                let self = this;
                let $this = $(event.currentTarget);
                $this.next().show();
            },
            Add_HoaDonBoSung: function (item) {
                let self = this;
                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let itFor = self.ThongTinChiTiet[i];
                    if (itFor.ID_DoiTuong === item.ID_DoiTuong) {
                        if (item.TrangThai === 1) {// neu da trich full & bosung them: get sum (KhachDaTra)
                            item.ConLai = item.KhachDaTra;
                        }
                        self.ThongTinChiTiet[i].HoaDons.push(item);
                        self.ThongTinChiTiet[i].HoaDonBoSung = itFor.HoaDonBoSung.filter(x => x.ID_HoaDon_DuocCK !== item.ID_HoaDon_DuocCK)
                        break;
                    }
                }
            },
            RemoveAllRow: function (item) {
                let self = this;
                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let itFor = self.ThongTinChiTiet[i];
                    if (itFor.ID_DoiTuong === item.ID_DoiTuong) {
                        self.ThongTinChiTiet.splice(i, 1);
                        break;
                    }
                }
                self.CaCulatorTongTienHang();
            },
            RemoveOneRow: function (item, ct) {
                let self = this;
                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let itFor = self.ThongTinChiTiet[i];
                    if (itFor.ID_DoiTuong === item.ID_DoiTuong) {
                        for (let j = 0; j < itFor.HoaDons.length; j++) {
                            let forIn = itFor.HoaDons[j];
                            if (forIn.ID_HoaDon_DuocCK === ct.ID_HoaDon_DuocCK) {
                                itFor.HoaDons.splice(j, 1);

                                itFor.HoaDonBoSung.push({
                                    ID_DoiTuong: item.ID_DoiTuong,
                                    MaDoiTuong: item.MaDoiTuong,
                                    TenDoiTuong: item.TenDoiTuong,
                                    ID_HoaDon_DuocCK: ct.ID_HoaDon_DuocCK,
                                    MaHoaDon: ct.MaHoaDon,
                                    NgayLapHoaDon: ct.NgayLapHoaDon,
                                    TongThanhToan: ct.TongThanhToan,
                                    KhachDaTra: ct.KhachDaTra,
                                    DaTrich: ct.DaTrich,
                                    SoTienTrich: formatNumber3Digit(ct.ConLai),
                                    ConLai: ct.ConLai,
                                    TrangThai: ct.TrangThai,
                                    PTChietKhau: '',
                                    TienChietKhau: '',
                                })
                                break;
                            }
                        }
                        if (itFor.HoaDons.length === 0) {// remove all row of cus
                            self.ThongTinChiTiet.splice(i, 1);
                        }
                        break;
                    }
                }
                self.CaCulatorTongTienHang();
            },
            editSoTienTrich: function (item, ct) {
                let self = this;
                let $this = $(event.currentTarget);
                let gtri = formatNumberToFloat($this.val());
                if (gtri > ct.ConLai) {
                    ShowMessage_Danger('Số tiền trích không được vượt quá số tiền đã thanh toán');
                    return;
                }

                let gtriFormat = gtri;
                let lastone = $this.val().toString().split('').pop();
                if (lastone !== '.') {
                    gtriFormat = formatNumber3Digit(gtri);
                }

                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let itFor = self.ThongTinChiTiet[i];
                    if (itFor.ID_DoiTuong === item.ID_DoiTuong) {
                        for (let j = 0; j < itFor.HoaDons.length; j++) {
                            let forIn = itFor.HoaDons[j];
                            if (forIn.ID_HoaDon_DuocCK === ct.ID_HoaDon_DuocCK) {
                                itFor.HoaDons[j].TienChietKhau = formatNumber3Digit(gtri * forIn.PTChietKhau / 100);
                                itFor.HoaDons[j].SoTienTrich = gtriFormat;
                                break;
                            }
                        }
                        break;
                    }
                }
                self.CaCulatorTongTienHang();
            },
            editPTChietKhau: function (item, ct) {
                let self = this;
                let $this = $(event.currentTarget);
                let gtri = formatNumberToFloat($this.val());

                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let itFor = self.ThongTinChiTiet[i];
                    if (itFor.ID_DoiTuong === item.ID_DoiTuong) {
                        for (let j = 0; j < itFor.HoaDons.length; j++) {
                            let forIn = itFor.HoaDons[j];
                            if (forIn.ID_HoaDon_DuocCK === ct.ID_HoaDon_DuocCK) {
                                itFor.HoaDons[j].TienChietKhau = formatNumber3Digit(formatNumberToFloat(forIn.SoTienTrich) * gtri / 100);
                                break;
                            }
                        }
                        break;
                    }
                }
                self.CaCulatorTongTienHang();
            },
            editTienChietKhau: function (item, ct) {
                let self = this;
                let $this = $(event.currentTarget);
                let gtri = formatNumberToFloat($this.val());
                let gtriFormat = gtri;

                let lastone = $this.val().toString().split('').pop();
                if (lastone !== '.') {
                    gtriFormat = formatNumber3Digit(gtri);
                }

                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let itFor = self.ThongTinChiTiet[i];
                    if (itFor.ID_DoiTuong === item.ID_DoiTuong) {
                        for (let j = 0; j < itFor.HoaDons.length; j++) {
                            let forIn = itFor.HoaDons[j];
                            if (forIn.ID_HoaDon_DuocCK === ct.ID_HoaDon_DuocCK) {
                                itFor.HoaDons[j].PTChietKhau = gtri / formatNumberToFloat(forIn.SoTienTrich) * 100;
                                itFor.HoaDons[j].TienChietKhau = gtriFormat;
                                break;
                            }
                        }
                        break;
                    }
                }
                self.CaCulatorTongTienHang();
            },
            CaCulatorTongTienHang: function () {
                let self = this;
                let sum = 0;
                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let itFor = self.ThongTinChiTiet[i];
                    for (let j = 0; j < itFor.HoaDons.length; j++) {
                        let forIn = itFor.HoaDons[j];
                        let gtri = formatNumberToFloat(forIn.TienChietKhau);
                        sum += gtri;
                    }
                }
                self.newHoaDon.TongTienHang = sum;

                let phaitt = sum - self.newHoaDon.KhachDaTra;
                if (phaitt > 0) {
                    self.inforThanhToan.PhaiThanhToan = phaitt;
                    self.inforThanhToan.HoanTraTamUng = 0;
                }
                else {
                    self.inforThanhToan.PhaiThanhToan = 0;
                    self.inforThanhToan.HoanTraTamUng = Math.abs(phaitt);
                }
                self.inforThanhToan.TienMat = Math.abs(sum);
                self.inforThanhToan.DaThanhToan = Math.abs(sum);
            },
            saveHoaDon: function (isSavePhieuChi = 1) {// used to lui ngaylapHD
                let self = this;
                let check = self.CheckSave();
                if (!check) {
                    return;
                }

                let cthd = [];
                let url = '', sType = '', user = '', sOld = '', sListHD = '';

                let hd = {
                    MaHoaDon: self.newHoaDon.MaHoaDon,
                    LoaiHoaDon: 41,
                    ID_DonVi: self.inforLogin.ID_DonVi,
                    ID_NhanVien: self.inforLogin.ID_NhanVien,
                    ID_CheckIn: self.newHoaDon.ID_CheckIn,// id nguoi gioithieu
                    NgayLapHoaDon: self.newHoaDon.NgayLapHoaDon,
                    TongChietKhau: self.newHoaDon.TongChietKhau,
                    TongTienHang: self.newHoaDon.TongTienHang,
                    TongThanhToan: self.newHoaDon.TongTienHang,
                    PhaiThanhToan: self.newHoaDon.TongTienHang,
                    NguoiTao: self.inforLogin.UserLogin,
                    DienGiai: self.newHoaDon.DienGiai,
                    ChoThanhToan: false,
                }

                for (let i = 0; i < self.ThongTinChiTiet.length; i++) {
                    let forOut = self.ThongTinChiTiet[i];
                    let sDetail = '';
                    for (let j = 0; j < forOut.HoaDons.length; j++) {
                        let forIn = forOut.HoaDons[j];
                        let obj = {
                            ID_ParentCombo: forIn.ID_HoaDon_DuocCK,
                            SoThuTu: 1,// 1.thucthu, 2.doanhthu
                            MaHangHoa: '',
                            TenHangHoa: '',
                            PTChietKhau: forIn.PTChietKhau,
                            TienChietKhau: forIn.TienChietKhau,
                            PTThue: forIn.TrangThai, // 1.trich bosung
                            PTChiPhi: forIn.DaTrich, // Số tiền đã trích trước đó
                            TienChiPhi: forIn.ConLai,// Số tiền còn lại được trích
                            TienThue: forIn.SoTienTrich,// Số tiền thực tế tính chiết khấu cho khách
                        };
                        cthd.push(obj);
                        sDetail = sDetail.concat('<br /> - <a> ', forIn.MaHoaDon, ' </a>, Thực thu: ', formatNumber3Digit(forIn.ConLai),
                            ', Số tiền trích: ', forIn.SoTienTrich,
                            ', PT chiết khấu: ', forIn.PTChietKhau,
                            ', Tiền chiết khấu: ', formatNumber3Digit(forIn.TienChietKhau));
                    }
                    sListHD = sListHD.concat('<br /> ', i + 1, '. ', forOut.TenDoiTuong, ' (', forOut.MaDoiTuong, ')', sDetail);
                }

                if (self.typeUpdate === 1) {
                    url = 'Post_HoaDonTrichHoaHong';
                    sType = 'Thêm mới';
                    user = '<br /> Người tạo: '.concat(VHeader.UserLogin);
                }
                else {
                    url = 'Update_HoaDonTrichHoaHong';
                    sType = 'Cập nhật';
                    user = '<br /> Người sửa: '.concat(VHeader.UserLogin);

                    hd.ID = self.newHoaDon.ID;
                    hd.NguoiSua = VHeader.UserLogin;

                    let sLoaiOld = '';
                    switch (parseInt(self.inforOld.TongChietKhau)) {
                        case 1:
                            sLoaiOld = 'Khách hàng';
                            break;
                        case 2:
                            sLoaiOld = 'Nhà cung cấp';
                            break;
                        case 3:
                            sLoaiOld = 'Bảo hiểm';
                            break;
                        case 4:
                            sLoaiOld = 'Khác';
                            break;
                        case 5:
                            sLoaiOld = 'Nhân viên';
                            break;
                    }
                    sOld = '<br /> <b> Thông tin cũ: </b>'.concat(
                        ' <br /> Mã phiếu: ', self.inforOld.MaHoaDon,
                        ' <br /> Ngày lập phiếu: ', moment(self.inforOld.NgayLapHoaDon).format('DD/MM/YYYY HH:mm'),
                        ' <br /> Người giới thiệu là: ', sLoaiOld,
                        ' <br /> Mã người giới thiệu: ', self.inforOld.MaNguoiGioiThieu,
                        ' <br /> Tên người giới thiệu: ', self.inforOld.TenNguoiGioiThieu,
                        ' <br /> Tổng giá trị: ', formatNumber3Digit(self.inforOld.TongTienHang));

                    let sListHDOld = '';
                    for (let i = 0; i < self.inforOld.ThongTinChiTiet.length; i++) {
                        let forOut = self.inforOld.ThongTinChiTiet[i];
                        let sDetail = '';
                        for (let j = 0; j < forOut.HoaDons.length; j++) {
                            let forIn = forOut.HoaDons[j];
                            sDetail = sDetail.concat('<br /> - <a> ', forIn.MaHoaDon, ' </a>, Thực thu: ', formatNumber3Digit(forIn.ConLai),
                                ', Số tiền trích: ', forIn.SoTienTrich,
                                ', PT chiết khấu: ', forIn.PTChietKhau,
                                ', Tiền chiết khấu: ', formatNumber3Digit(forIn.TienChietKhau));
                        }
                        sListHDOld = sListHDOld.concat('<br /> ', i + 1, '. ', forOut.TenDoiTuong, ' (', forOut.MaDoiTuong, ')', sDetail);
                    }
                    sOld = sOld.concat(' <br /> Thông tin chi tiết: ', sListHDOld);
                }

                let myData = {
                    objHoaDon: hd,
                    objCTHoaDon: cthd,
                }
                if (!$.isEmptyObject(hd)) {
                    self.isLoading = true;
                    ajaxHelper(self.UrlAPI.HoaDon + url, 'POST', myData).done(function (x) {
                        console.log(x)
                        if (x.res) {
                            self.saveOK = true;
                            ShowMessage_Success(sType + ' phiếu trích hoa hồng thành công');

                            let data = x.data;
                            let diary = {
                                ID_DonVi: self.inforLogin.ID_DonVi,
                                ID_NhanVien: self.inforLogin.ID_NhanVien,
                                LoaiNhatKy: self.typeUpdate,
                                ChucNang: 'Phiếu trích hoa hồng',
                                NoiDung: sType.concat(' phiếu trích hoa hồng ', data.MaHoaDon),
                                NoiDungChiTiet: 'Nội dung chi tiết '.concat(' <br /> Mã phiếu: ', data.MaHoaDon,
                                    ' <br /> Ngày lập phiếu: ', moment(data.NgayLapHoaDon).format('DD/MM/YYYY HH:mm'),
                                    ' <br /> Người giới thiệu là: ', self.sLoaiDoiTuong,
                                    ' <br /> Mã người giới thiệu: ', self.newHoaDon.MaNguoiGioiThieu,
                                    ' <br /> Tên người giới thiệu: ', self.newHoaDon.TenNguoiGioiThieu,
                                    ' <br /> Tổng giá trị: ', formatNumber3Digit(self.inforThanhToan.DaThanhToan),
                                    sListHD, user, sOld),
                            }
                            Insert_NhatKyThaoTac_1Param(diary);

                            if (isSavePhieuChi) {

                                let idCus = null, idNhanVien = null;
                                let loaiDT = parseInt(self.newHoaDon.TongChietKhau);
                                switch (loaiDT) {
                                    case 5:// nhanvien
                                        idCus = null;
                                        idNhanVien = self.newHoaDon.ID_CheckIn;
                                        break;
                                    default:
                                        idCus = self.newHoaDon.ID_CheckIn;
                                        idNhanVien = null;
                                        break;
                                }

                                vmThanhToan.inforHoaDon = {
                                    ID: data.ID,
                                    MaHoaDon: data.MaHoaDon,
                                    NgayLapHoaDon: data.NgayLapHoaDon,
                                    LoaiDoiTuong: loaiDT, // used to save diary at phieuchi
                                    ID_DoiTuong: idCus,
                                    ID_DonVi: self.newHoaDon.ID_DonVi,
                                    LoaiHoaDon: self.newHoaDon.LoaiHoaDon,
                                    ID_NhanVien: self.inforLogin.ID_NhanVien,
                                    ID_CheckIn: idNhanVien,
                                    MaDoiTuong: self.newHoaDon.MaNguoiGioiThieu,
                                    TenDoiTuong: self.newHoaDon.TenNguoiGioiThieu,
                                    DienGiai: self.newHoaDon.DienGiai,
                                    NguoiTao: self.inforLogin.UserLogin,
                                    SoDuDatCoc: 0,
                                    PhaiThanhToan: self.newHoaDon.TongTienHang,
                                    KhachDaTra: self.newHoaDon.KhachDaTra,
                                    HoanTraTamUng: 0,
                                };
                                vmThanhToan.PhieuThuKhach = {
                                    TTBangDiem: 0,
                                    TienPOS: 0,
                                    TienTheGiaTri: 0,
                                    TienDatCoc: 0,
                                    LoaiDoiTuong: loaiDT,
                                    PhaiThanhToan: self.inforThanhToan.HoanTraTamUng,
                                    HoanTraTamUng: self.inforThanhToan.HoanTraTamUng,
                                    TienMat: self.inforThanhToan.TienMat,
                                    TienCK: self.inforThanhToan.TienCK,
                                    DaThanhToan: self.inforThanhToan.DaThanhToan,// !important
                                    ID_TaiKhoanPos: null,
                                    ID_TaiKhoanNganHang: null,
                                }

                                let ktc = vmThanhToan.GetKhoanThuChi_byLoaiChungTu(false);
                                if (ktc.length > 0) {
                                    vmThanhToan.PhieuThuKhach.ID_KhoanThuChi = ktc[0].ID;
                                }
                                vmThanhToan.SavePhieuThu();
                            }
                        }
                        else {
                            ShowMessage_Danger(sType + ' phiếu trích hoa hồng thất bại');
                        }
                    }).always(function () {
                        self.isLoading = false;
                        $('#vmHoaHongKhachGioiThieu').modal('hide');
                    })
                }
            },
            showModalContact: function () {
                vmThemMoiKhach.role.KhachHang.ThemMoi = true;
                vmThemMoiKhach.role.KhachHang.CapNhat = true;
                vmThemMoiKhach.showModalAdd(4);
            },
        }
    })

    $('#ThemMoiKhachHang').on('hidden.bs.modal', function () {
        if (vmThemMoiKhach.saveOK) {
            let newObj = vmThemMoiKhach.newCustomer;
            vmHoaHongKhachGioiThieu.newHoaDon.ID_CheckIn = newObj.ID;
            vmHoaHongKhachGioiThieu.newHoaDon.MaNguoiGioiThieu = newObj.MaDoiTuong;
            vmHoaHongKhachGioiThieu.newHoaDon.TenNguoiGioiThieu = newObj.TenDoiTuong;
            vmHoaHongKhachGioiThieu.newHoaDon.SDTNguoiGioiThieu = newObj.DienThoai;
            vmHoaHongKhachGioiThieu.listData.LienHes.push(newObj);
        }
    })

</script>
