<div class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;">
    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
        <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: -1px; left: 0px;" dir="ltr">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/Admin/home/index" class="site_title">
                        <img src="~/Images/Theme/Ssoft/icon/logoss-web.png" /></a>
                </div>

                <div class="clearfix"></div>
                @*<div class="profile clearfix">
                    <div class="profile_pic">
                       
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>*@

                <br>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section active">
                        <ul class="nav side-menu" style="">
                            <li>
                                <a href="/Admin/Home/Index"><i class="fa fa-home"></i> Trang chủ</a>
                               
                            </li>
                           
                            <li>
                                <a><i class="fa fa-newspaper-o"></i>Bảng tin<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/Admin/News/News">Danh sách bài viết</a></li>
                                    <li><a href="/Admin/News/Recruitment">Danh sách tuyển dụng</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><i class="fa fa-users"></i> Đối tác <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/Admin/Customer/Customer">Danh sách đối tác</a></li>
                                    
                                </ul>
                            </li>
                            @*<li>
                                <a><i class="fa fa-cubes"></i> Sản phẩm <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/Admin/Customer/Customer">Danh sách đối tác</a></li>
                                </ul>
                            </li>*@
                            @*<li>
                                <a><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Đơn đặt hàng <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/Admin/Customer/Customer">Khách đặt dùng thử</a></li>
                                    <li><a href="/Admin/Customer/Customer">Cửa hàng đăng ký</a></li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a><i class="fa fa-user"></i> Người dùng <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="form.html">Danh sách người dùng</a></li>
                                    <li><a href="form_advanced.html">Nhóm người dùng</a></li>
                                </ul>
                            </li>*@
                            <li>
                                <a><i class="fa fa-envelope-o" aria-hidden="true"></i> Phản hồi <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/Admin/Home/Contact">Khách hàng liên hệ</a></li>
                                    <li><a href="/Admin/Home/CandidateApplyFile">Hồ sơ ứng tuyển</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><i class="fa fa-google-plus" aria-hidden="true"></i> Seo <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/Admin/Home/Menu">Menu Tags</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Cài đặt">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Toàn màn hình">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title=""  href="/" target="_blank" data-original-title="Xem giao diện website">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title=""  href="/Admin/Account/login" data-original-title="Đăng xuất">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>
    </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical mCSB_scrollTools_onDrag" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger mCSB_dragger_onDrag" style="position: absolute; min-height: 50px; display: block; height: 418px; max-height: 574px; top: 1px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
</div>