<div class="modal fade" id="ThemMoiHangXe">
    <div class="modal-dialog draggable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{(isNew?"Thêm mới":"Cập nhật").concat(" hãng xe")}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

            </div>
            <div class="modal-body" style="padding:15px;">
                <div class="floatleft form-group">
                    <label>
                        Mã hãng xe
                    </label>
                    <div class="form-news">  <input placeholder="Mã tự động" class="form-control search-line " style="text-align:left" v-model="MaHangXe" /></div>

                </div>
                <div class="floatleft form-group">

                    <label>
                        Tên hãng xe
                    </label>
                    <div class="form-news">  <input class="form-control search-line text-left" v-model="TenHangXe" style="text-align:left" autocomplete="off" autofocus /></div>

                </div>
                <div class="floatleft">
                    <div style="text-align:center">
                        <img style="
                        height: 100px;
                        width: 125px;
                        object-fit: contain;
                        padding: 5px;
                        border: 1px dashed #ccc;
                        align-items: center;
                        margin: auto;" v-bind:src="Logo" />
                    </div>
                    <div style="justify-content:space-around; display:flex; padding:7px">
                        <span class="btn btn-import btn-file form-control no-magrin" style="max-width:250px;">
                            <span style="color:white">  Chọn logo</span>
                            <input type='file' id="imageUploadForm" name="image" v-on:change="ChoseLogo"
                                   accept="image/*" />
                        </span>
                        <p v-if="error">{{error}}</p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">
                        <i class="fa fa-ban"></i>Đóng
                    </button>
                    <button type="button" class="btn btn-cancel" v-if="!isNew && vmThemMoiXe.role.Xoa" v-on:click="Delete_HangXe">Xóa</button>
                    <button type="button" class="btn btn-save" v-on:click="AddNew_HangXe">
                        <i class="fa fa-save"></i>Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
