<div class="modal fade" id="ThemMoiMauXe">
    <div class="modal-dialog draggable modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{isNew ? 'Thêm mới mẫu xe' : 'Cập nhật mẫu xe'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

            </div>
            <div class="modal-body" style="padding:15px;">
                <div class="gara-detail-information gara-addcar-brand">
                    <label>
                        Tên mẫu xe
                    </label>
                    <input class="form-control search-line" autocomplete="off" autofocus v-model="TenMauXe" />
                </div>
                <div class="gara-detail-information gara-addcar-brand">
                    <label>
                        Hãng xe
                    </label>
                    <car-manufacturer :text-search="hangxe.TenHangXe"
                                      :manufacturers="vmThemMoiXe.listData.HangXe"
                                      :search-list="vmThemMoiXe.listData.HangXe"
                                      :show-btn-add="vmThemMoiXe.role.ThemMoi"
                                      v-on:show-modal-manufacture="showModalHangXe"
                                      v-on:reset-item-chose="$root.resetHangXe"
                                      v-on:change-manufacturer-parent="changeManufacturerParent">
                    </car-manufacturer>
                </div>
                <div class="gara-detail-information gara-addcar-brand">
                    <label>
                        Loại xe
                    </label>
                    <car-type :text-search="loaixe.TenLoaiXe"
                              :types="vmThemMoiXe.listData.LoaiXe"
                              :search-list="vmThemMoiXe.listData.LoaiXe"
                              :show-btn-add="vmThemMoiXe.role.ThemMoi"
                              v-on:show-modal-cartype="showModalLoaiXe"
                              v-on:reset-item-chose="$root.resetLoaiXe"
                              v-on:change-typecar-parent="changeTypeCarParent">
                    </car-type>
                </div>
                <div class="gara-detail-information gara-addcar-brand">
                    <label>
                        Ghi chú
                    </label>
                    <input class="form-control search-line" autocomplete="off" v-model="GhiChu" />
                </div>
                @*<div class="gara-detail-information short-label" >
                        <label>
                            Trạng thái
                        </label>
                        <div style="display:flex">
                            <label><input name="modelStatus" type="radio" value="1" v-model="TrangThai"/>Hoạt động</label>
                            <label><input name="modelStatus" type="radio" value="0" v-model="TrangThai"/>Ngừng hoạt động</label>
                        </div>
                    </div>*@

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal" style="color:white"><i class="fa fa-ban"></i>Đóng</button>
                    <button type="button" class="btn btn-cancel" v-if="!isNew && vmThemMoiXe.role.Xoa" v-on:click="Delete_MauXe">Xóa</button>
                    <button type="button" class="btn btn-save" v-on:click="AddNew_MauXe"><i class="fa fa-save"></i> Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>