@using banhang24.Hellper
<div class="modal fade" id="XuatXuongModal">
    <div class="modal-dialog draggable modal-md">
        <div class="modal-content  ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <h5 class="modal-title">Xuất xưởng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

            </div>
            <div class="modal-body" style="padding:15px;">
                <div class="gara-detail-information  nopadding">
                    <label>Mã phiếu tiếp nhận</label>
                    <input type="text" class="form-control" v-model="phieuXuat.MaPhieuTiepNhan" readonly />
                </div>
                <div class="gara-detail-information  nopadding">
                    <label>Biển số xe</label>
                    <input type="text" class="form-control" v-model="phieuXuat.BienSo" readonly />
                </div>
                <div class="gara-detail-information  nopadding">
                    <label>Ngày ra</label>
                    <my-date-time :date-chose="phieuXuat.NgayXuatXuong"
                                     :role-change-date="true"
                                  v-on:change-date="ChangeNgayXuatXuong">
                    </my-date-time>

                </div>
                <div class="gara-detail-information  nopadding">
                    <label>Số km xuất</label>
                    <input type="text" class="form-control" v-model="phieuXuat.SoKmRa" />
                </div>
                <div class="gara-detail-information nopadding">
                    <label>Ghi chú</label>
                    <textarea rows="3" type="text" v-model="phieuXuat.XuatXuong_GhiChu" />
                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">
                        <i class="fa fa-times"></i>Hủy
                    </button>
                    <button type="button" class="btn btn-main" v-on:click=" XuatXuong">
                        <i class="fa fa-save"></i>
                        Xuất xưởng
                    </button>
                    <div class="btn-group dropdown-mauin" >
                        <button type="button" class="btn btn-main " 
                                v-on:click="Print(false, 'PTN')">Xuất xưởng và in</button>
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                class="btn dropdown-toggle dropdown-toggle-split btn-main">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li v-for="(item, index) in MauIn.ListMauIn">
                                <a v-on:click="Print(true, item.Key)">
                                    {{item.Value}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.ContentVersioned("~/Scripts/Components/Input.js")"></script>
<script src="@Url.ContentVersioned("~/Scripts/Gara/BanLamViec/_XuatXuong.js")"></script>