@model Model_banhang24vn.CustomView.UserRoleView
@{
    ViewBag.Title = "Danh sách các đối tác";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/Knockout")
    <script src="~/Assets/js/Admin/Customer.js"></script>
}



<div class="right_col">
    <h3>Danh sách đối tác</h3>
    <div class="panel panel-default" style=" height: 100%;">
        <div class="panel-heading" style="height: 60px;">
            <div class="pull-left">
                <input type="text" class="form-control" data-bind="value:koSearch ,event: { keyup: SearchGrid }" placeholder="Tìm kiếm..">
            </div>
            <div class="pull-right">
                @if (Model.RoleInsert)
                {
                    <button class="btn-updata btn-green" data-bind="click: AddCustomer"><i class="fa fa-pencil-square-o"></i> Thêm mới đối tác</button>
                }
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th id="sortPrioritize">Vị trí</th>
                            <th id="sortName" style="width:23%">Tên đối tác</th>
                            <th id="sortCity" style="width:12%">Khu vực</th>
                            <th id="sortBussines" style="width:15%">Nghành kinh doanh</th>
                            <th id="sortPhone" style="width:9.5%">SĐT</th>
                            <th id="sortEmail" style="width:12%">Email</th>
                            <th id="sortCreatedate">Ngày tạo</th>
                            <th id="sortStatus">Trạng thái</th>
                            @if (Model.RoleUpdate || Model.RoleDelete)
                            {
                                <th>Xử lý</th>
                            }
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: ListCustomer">
                        <tr>
                            <td data-bind="text:prioritize"></td>
                            <td data-bind="text: Name"></td>
                            <td data-bind="text: DistrictCityname"></td>
                            <td data-bind="text: TypeBusinessname"></td>
                            <td data-bind="text: Phone"></td>
                            <td data-bind="text: Email"></td>
                            <td data-bind="text:ConvertDate(CreatedDate)"></td>
                            <td data-bind="text: ConvertTrangthai(Status)"></td>
                            @if (Model.RoleUpdate || Model.RoleDelete)
                            {
                                <td>
                                    <div class="edit-delete">
                                        @if (Model.RoleUpdate)
                                        {
                                            <a class="red" href="#" data-bind="click: $parent.UpdateCustomer">
                                                <i class="ace-icon fa fa-pencil "></i>
                                            </a>
                                        }
                                        @if (Model.RoleDelete)
                                        {
                                            <a class="blue" href="#" data-bind="click: $parent.deleteCustomer">
                                                <i class="ace-icon fa fa-trash-o "></i>
                                            </a>
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width:100%">
                <ul class="pagination">
                    <li style="float: left; padding:6px 12px;" data-bind="text: PageItem">
                        Page 1 of 30000 (300000 items)

                    </li>
                    <li><a href="#" id="Previouspage" data-bind="click: ClickPrevious">&laquo;</a></li>
                    <li class="page-item">
                        <div class="page-link" style="float: left;width: 50px;">
                            <input type="text" data-bind="value: page, event: { keyup: netPageKeyup }" class="form-control" style="height:32px">
                        </div>
                    </li>
                    <li class="page-item"><span class="page-link"> /</span></li>
                    <li class="page-item"><span class="page-link" data-bind="text: pageCount"></span></li>
                    <li><a href="#" id="Nextpage" data-bind="click: ClickNext"> &raquo;</a></li>

                </ul>
                <div class="pull-right recost">
                    <span>Số bản ghi</span>
                    <select required="required" class="form-control" id="SelectedLimit">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>

                    </select>
                </div>

            </div>
        </div>
    </div>
</div>
