<style>
    .title-col-2 label {
        padding-left: 0px !important;
    }
  
</style>
<div class="modal-content  ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title" id="lblTitle"></h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12 nopadding">
            <div class="col-md-9 nopadding">
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 nopadding">
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding">
                                <label>Mã liên hệ</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 nopadding">
                                <input type="text" class="form-control" placeholder="Mã tự động" data-bind="value: newUserContact().MaLienHe">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                        </div>
                    </div>
                    <div class=" col-md-6 nopadding">
                    </div>
                </div>
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 nopadding">
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding">
                                <label>Tên người liên hệ</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 nopadding">
                                <input type="text" class="form-control" data-bind="value: newUserContact().TenLienHe" autofocus>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 nopadding">
                        <div class="form-group" style="    width: 120px;padding-left:10px;">
                            <select class="form-control" data-bind="options: ListXungHo,
                                           optionsText: 'Text',
                                           optionsValue: 'ID',
                                           value: newUserContact().XungHo,
                                           "></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopadding">
                    <div class="col-xs-9 col-sm-9 col-md-6 nopadding">
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding">
                                <label id="lblDoiTuong">Khách hàng</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 nopadding">
                                <div class="form-group from-tt-qh">
                                    <div class="form-control input-combobox floatleft collection" id="txtCustomer_modal">--Chọn khách hàng--</div>
                                    <button class="btn-combobox"> <i class="fa fa-caret-down"></i></button>
                                    <div id="showseach_DoiTuong" hidden style="width:183px !important" class="divSearchVue row-combobox">
                                        <div class="search-result-combobox">
                                            <input type="text" class="form-control" placeholder="Nhập tìm kiếm"
                                                   data-bind="value:filterDoiTuong ,valueUpdate: 'afterkeydown'" />
                                        </div>
                                        <ul>
                                            <li data-bind="click: ChoseCustomer_Modal">
                                                <a style="font-weight: bold;">
                                                    <span id="txtTenDoiTuongFi">--Chọn khách hàng--</span>
                                                </a>
                                            </li>
                                            <!--ko foreach: FilterDoiTuong -->
                                            <li data-bind="click: $root.ChoseCustomer_Modal">
                                                <a style="font-weight: bold;">
                                                    <span data-bind="text:TenDoiTuong"></span>
                                                    <span data-bind="attr:{id: 'spanCheckDoiTuong_'+ ID}" class="pull-right"></span>
                                                </a>
                                            </li>
                                            <!--/ko-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-6 nopadding">
                    </div>
                </div>
                <div class="col-md-12 nopadding">
                    <div class=" col-md-6 nopadding">
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding">
                                <label>Di động</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7  nopadding">
                                <input type="text" class="form-control" onkeypress="return chekPhone(event)"
                                       data-bind="value: newUserContact().SoDienThoai">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 nopadding">
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding">
                                <label>Điện thoại cố định</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 nopadding">
                                <input type="text" class="form-control" onkeypress="return chekPhone(event)"
                                       data-bind="value: newUserContact().DienThoaiCoDinh">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding">
                                <label>Sinh nhật</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7  nopadding">
                                <input type="text" class="form-control datepicker_mask"
                                       data-bind="value: newUserContact().NgaySinh, click: formatDateTime">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding ">
                                <label>Email</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7  nopadding">
                                <input type="text" class="form-control" data-bind="value: newUserContact().Email">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding ">
                                <label>Chức vụ</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7  nopadding">
                                <input type="text" class="form-control" data-bind="value: newUserContact().ChucVu">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopadding">
                    <div class="col-xs-9 col-sm-9 col-md-6 nopadding">
                        <div class="form-group floatleft">
                            <div class="col-md-5 nopadding">
                                <label>Tỉnh thành</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 nopadding">
                                <div class="form-group from-tt-qh">
                                    <div class="form-control input-combobox floatleft collection" id="txtProvince_modal">--Chọn Tỉnh thành--</div>
                                    <button class="btn-combobox"> <i class="fa fa-caret-down"></i></button>
                                    <div id="showseach_Pr" hidden style="width:183px !important" class="divSearchVue row-combobox">
                                        <div class="search-result-combobox">
                                            <input type="text" class="form-control" placeholder="Nhập tìm kiếm" data-bind="value:searchTT ,valueUpdate: 'afterkeydown'" />
                                        </div>
                                        <ul>
                                            <li data-bind="click: ChoseProvince_Modal">
                                                <a style="font-weight: bold;">
                                                    <span>--Chọn Tỉnh thành--</span>
                                                </a>
                                            </li>
                                            <!--ko foreach: listProvinces -->
                                            <li data-bind="click: $parent.ChoseProvince_Modal">
                                                <a style="font-weight: bold;">
                                                    <span data-bind="text:TenTinhThanh"></span>
                                                </a>
                                            </li>
                                            <!--/ko-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-6 nopadding">
                        <div class="form-group floatleft">
                            <div class="col-md-5 ">
                                <label>Quận huyện</label>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7  nopadding">
                                <div class="form-group from-tt-qh" id="divSearch_Dt">
                                    <div class="form-control input-combobox floatleft collection " id="txtDistrict_modal">--Chọn quận huyện--</div>
                                    <button class="btn-combobox"> <i class="fa fa-caret-down"></i></button>
                                    <div id="showseach_Dt" hidden style="width:183px !important" class="divSearchVue row-combobox">
                                        <div class="search-result-combobox">
                                            <input type="text" class="form-control" placeholder="Nhập tìm kiếm"
                                                   data-bind="value:searchDistrict ,valueUpdate: 'afterkeydown'" />
                                        </div>
                                        <ul>
                                            <li data-bind="click: ChoseProvince_Modal">
                                                <a style="font-weight: bold;">
                                                    <span>--Chọn quận huyện--</span>
                                                </a>
                                            </li>
                                            <!--ko foreach: FilterDistrict_byProvice -->
                                            <li data-bind="click: $parent.ChoseDistrict_Modal">
                                                <a style="font-weight: bold;">
                                                    <span data-bind="text:TenQuanHuyen"></span>
                                                </a>
                                            </li>
                                            <!--/ko-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopadding">
                    <div class="form-group floatleft">
                        <div class="col-md-2 nopadding title-col-2">
                            <label><strong>Địa chỉ</strong></label>
                        </div>
                        <div class=" col-md-10" style="padding-left:25px;padding-right:0;">
                            <input type="text" class="form-control" data-bind="value: newUserContact().DiaChi">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 nopadding">
                <div class="img-user-contact" style="float:right">
                    <!--  ko if: HaveImage_Select() == false -->
                    <img src="~/Content/images/photo.png"
                         style="border: 1px dotted #ccc; margin-left: 10px;width: 150px; height: 160px;" />
                    <!--/ko-->
                    <ul data-bind="foreach: FilesSelect ">
                        <!-- ko if: $index() == 0-->
                        <li>
                            <div class="img-customer">
                                <img alt="" data-bind="attr: {src: URLAnh }" />
                                <a data-bind="click: $root.DeleteImg">
                                    <i class="fa fa-close red"></i>
                                </a>
                            </div>
                        </li>
                        <!--/ko-->
                    </ul>
                </div>
                <div class="choose-img" style="float:right;margin-left: 10px; width: 150px;">
                    <span class="btn  btn-file form-control" data-bind="event:{change: $root.fileSelect}">
                        Chọn ảnh <input type='file' multiple id="imageUpHHForm" name="files[]" accept=".png,.jpg,.jpeg,.gif" />
                        <output id="list"></output>
                    </span>
                </div>
            </div>
        </div>
        <div class=" col-md-12 nopadding">
            <div class="col-md-9 nopadding">
                <div class="form-group floatleft">
                    <div class="col-md-2 nopadding title-col-2">
                        <label><strong>Ghi chú</strong></label>
                    </div>
                    <div class=" col-md-10" style="padding-left:25px;padding-right:0;">
                        <textarea style="width:100%;" rows="1" type="text" data-bind="value: newUserContact().GhiChu" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
            <button type="button" class="btn btn-save" data-bind="click: addUpdate_UserContract">
                <i class="fa fa-save"></i>&nbsp; Lưu
            </button>
        </div>
    </div>
</div>
<script>
    console.log(1);
    $('.from-tt-qh').on('click', '.btn-combobox', function () {
        $(".search-result-combobox,.search-result-combobox input").mouseup(function () {
            return false;
        });
        var display = $(this).next('.divSearchVue').css('display');
        $('.divSearchVue').hide();
        if (display === 'none')
            $(this).next('.divSearchVue').toggle();
    });
    $('.from-tt-qh').on('click', '.input-combobox', function () {
        $(".search-result-combobox,.search-result-combobox input").mouseup(function () {
            return false;
        });
        var display = $(this).next().next('.divSearchVue').css('display');
        $('.divSearchVue').hide();
        if (display === 'none')
            $(this).next().next('.divSearchVue').toggle();
    });
    $(".input-combobox,.btn-combobox").mouseup(function () {
        return false;
    });
    $(document).mouseup(function () {
        $('.divSearchVue').hide();
    });
</script>