<div class="modal-content ">
    <div class="modal-header">
        <button class="close close-modal" type="button" data-dismiss="modal">×</button>
        <h4 class="modal-title">Thêm loại tư vấn</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="form-horizontal">
                <div class="form-group" data-bind="with: newLoaiTuVan">
                    <input type="hidden" class="form-control" value="">
                    <label class="col-sm-12 col-lg-4 control-label">Loại tư vấn :</label>
                    <div class="col-sm-12 col-lg-8">
                        <div class="row">
                            <input type="text" id="txtTenLoaiTuVan" data-bind="value: TenLoaiTuVanLichHen" class="form-control">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
            <button type="button" class="btn btn-delete" data-dismiss="modal" data-bind="click: $root.xoaLoaiTuVan"><i class="fa fa-trash"></i> Xóa</button>
            <button type="button" class="btn btn-save" data-bind="click: $root.addLoaiTuVanLichHen"> <i class="fa fa-floppy-o"></i> Lưu</button>
        </div>
    </div>
</div>