<div class="modal-dialog">
    <div class="modal-content ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>


            <h4 class="modal-title" data-bind="text: TieuDeLichHen"></h4>
        </div>
        <div class="modal-body floatleft ">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="row">
                    <div class="form-group floatleft" data-bind="with: newLichHen">
                        <label>Tiêu đề<span class="red">(*)</span></label>
                        <div class="form-news">
                            <input type="text" id="txtTieuDe" data-bind="value: Ma_TieuDe" class="form-control " required="">
                            <p class="notyfi-none"></p>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Khách hàng</label>
                        <div class="form-news">
                            <div class="outselect">
                                <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                    <div class="form-control" id="txtKhachHang" style="cursor:pointer">--- Chọn khách hàng ---</div>
                                </div>
                                <div class="selec-person dropdown-menu floatleft ">
                                    <div class="seach-nhomhang">
                                        <input type="text" class="seach-nhomhang" data-bind="value: filterKhachHang, valueUpdate: 'afterkeydown'">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <ul id="lstKhachHang" class="group-parent">
                                        <li data-bind="click : clickFistChonKhachHang" class="p-left10">
                                            <a href="javascript:void(0)">--- Chọn khách hàng ---</a>
                                        </li>
                                        <li data-bind="foreach :$root.arrFilterKhachHang">
                                            <div class="group-p1" data-bind="click : $root.selectedChooseKhachHang">
                                                TenKH: <a  data-bind="text: TenDoiTuong, attr:{id: ID}"></a></br>
                                                MaKH :<a  data-bind="text: MaDoiTuong"></a>
                                                <span data-bind="attr:{id: 'spanCheckKhachHang_'+ ID}" class="pull-right"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Nhân viên</label>
                        <div class="form-news">
                            <div class="outselect">
                                <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                    <div class="form-control" id="txtNhanVienChiaSe" style="cursor:pointer;border-radius:4px;">--- Chọn nhân viên ---</div>
                                </div>
                                <div class="selec-person dropdown-menu floatleft ">
                                    <div class="seach-nhomhang">
                                        <input type="text" class="seach-nhomhang" data-bind="value: filterNhanVien, valueUpdate: 'afterkeydown'">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <ul id="lstNhanVien" class="group-parent">
                                        <li data-bind="click : clickFistChonNhanVien" class="p-left10">
                                            <a href="javascript:void(0)">--- Chọn nhân viên---</a>
                                        </li>
                                        <li data-bind="foreach :$root.arrFilterNhanVien">
                                            <div class="group-p1" data-bind="click : $root.selectedChooseNhanVien">
                                                Tên NV: <a  data-bind="text: TenNhanVien, attr:{id: ID}"></a></br>
                                                Mã NV :<a  data-bind="text: MaNhanVien"></a>
                                                <span data-bind="attr:{id: 'spanCheckNhanVien_'+ ID}" class="pull-right"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Phân loại</label>
                        <div class="form-news classification">
                            <select id="ddlLoaiTVLH1" name="ddlLoaiTVLH" class="form-control" data-bind="options: LoaiTuVanLichHens ? LoaiTuVanLichHens : [],
                                                    optionsText: 'TenLoaiTuVanLichHen',
                                                    optionsValue: 'ID', optionsCaption: 'Chọn ...',
                                                    value: selectedLoaiLichHen"></select>
                            <div class="input-group-btn">
                                <a class="btn btn-default op-js-themmoinhomhang pencel-add" data-bind="click: themmoiloailichhen"><i class="fa fa-plus"></i></a>
                                <a class="btn btn-default pencel-edit" data-bind="click: editloailichhen, enable: selectedLoaiLichHen" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <p class="notyfi-none"></p>
                    </div>
                    <div class="form-group floatleft">
                        <label>Trạng thái</label>
                        <div class="form-news ">
                            <span><input type="radio" name="rdtrangthai" data-bind="checked: newLichHen().TrangThai, checkedValue: '1'" /> Tham khảo</span>
                            <span><input type="radio" name="rdtrangthai" data-bind="checked: newLichHen().TrangThai, checkedValue: '2'" /> Tiềm năng</span>
                            <span class="radio-red"><input type="radio" name="rdtrangthai" data-bind="checked: newLichHen().TrangThai, checkedValue: '3'" /> Hủy</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group floatleft">
                    <label>Thời gian bắt đầu</label>
                    <div class="form-news">
                        <input type='text' class="form-control datetimepicker4" id="ngaybd" data-bind="datepicker: newLichHen().NgayGio">
                        <div class="date-rewards">
                            <img src="~/Content/images/icon/ngaysinh.png" />
                        </div>
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label>Thời gian kết thúc</label>
                    <div class="form-news ">
                        <input type='text' class="form-control datetimepicker4" id="ngaykt" data-bind="datepicker: newLichHen().NgayGioKetThuc">
                        <div class="date-rewards">
                            <img src="~/Content/images/icon/ngaysinh.png" />
                        </div>
                    </div>
                </div>
                <div class="form-group floatleft ">
                    <label>
                        Nhắc nhở
                    </label>
                    <div class="form-news">
                        <select class="form-control" data-bind="options: NhacNho ? NhacNho : [],
                                                optionsText: 'name', optionsValue: 'value', optionsCaption: 'Chọn ...',
                                                 value:  selectedNhacNho"></select>
                        <p class="notyfi-none"></p>
                    </div>
                </div>
                <div class="form-group floatleft" data-bind="with: newLichHen">
                    <label>Ghi chú</label>
                    <div class="form-news">
                        <textarea rows="2"  data-bind="value: NoiDung"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <button type="button" class="btn btn-close" data-dismiss="modal"><i class="fa fa-ban"></i> Đóng</button>
                <button type="button" class="btn btn-save" data-bind="click: addLichHen"> <i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //$('.datepicker').datetimepicker();
    });
    $(function () {
        $('.datetimepicker5').datetimepicker({
           format: 'DD/MM/YYYY hh:mm A' 
        });
    });
</script>