<div id="modalSMS" class="modal ">
    <div class="modal-dialog draggable modal-md">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title txtEditThemBrand">Thêm mới SMS</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group floatleft smsPhone">
                        <label>Số điện thoại (<span style="color:red">*</span>) </label>
                        <div class="form-news">
                            <input type="text" class="form-control" onkeypress="return keyPress(event)" id="sms_txtPhone">
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>BrandName (<span style="color:red">*</span>) </label>
                        <div class="form-news">
                            <div class="outselect">
                                <div class="choose-person floatleft " data-toggle="dropdown">
                                    <div class="form-control" id="txtBrandNames" style="cursor:pointer"> Chọn BrandName</div>
                                    <i class="fa fa-angle-down" aria-hidden="true" style="    position: absolute; top: 8px;font-size: 18px;right: 10px;"></i>
                                </div>
                                <div class="selec-person dropdown-menu " style="width:100%">
                                    <ul>
                                        <li data-bind="click: selectedBrandName">
                                            <a href="javascript:void(0)">
                                                <span>Chọn BrandName</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul data-bind="foreach: BrandNames" id="selectedBrandName">
                                        <li data-bind="click: $root.selectedBrandName, attr:{id: ID}">
                                            <a href="javascript:void(0)">
                                                <span data-bind="text: BrandName"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group floatleft" id="lichhen">
                        <div class="form-group floatleft">
                            <label>Lịch hẹn</label>
                            <div class="form-news">
                                <div class="form-date-singer add-icon-date" hidden>
                                    <input type="text" class="form-control newDatesingle" id="txtNgayDatLich">
                                </div>
                                <div class="outselect outselectmodalsms doituonglocsinhnhat">
                                    <div class="choose-person floatleft" id="choose_LoaiCongViecSN" aria-expanded="true">
                                        <ul data-bind="foreach: Popup_LichHenChosed">
                                            <li class="li-input-span">
                                                <span data-bind="text:TenDoiTuong">
                                                </span>
                                                <span data-bind="click: $root.Popup_RemoveAppointment">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" id="txtLichHen"class="dropdown input-khach-hang" placeholder="Chọn khách hàng" data-bind="visible: Popup_LichHenChosed().length == 0">
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft drop-list-khach-hang">
                                        <ul id="ddlAppointemnt">
                                            <li data-bind="click: $root.Popup_ChoseAppointment, visible: LichHen_byDate().length >0 || Popup_LichHenChosed().length > 0">
                                                <span>Toàn bộ khách hàng</span>
                                            </li>
                                            <!--ko foreach: LichHen_byDate-->
                                            <li data-bind="click: $root.Popup_ChoseAppointment, attr:{id: ID}">
                                                <span data-bind="text: TenDoiTuong"></span> - <span data-bind="text: DienThoai"></span><br />
                                                <span data-bind="text: NoiDungLichHen"></span>
                                            </li>
                                            <!--/ko-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Mẫu SMS</label>
                        <div class="form-news">
                            <div class="outselect">
                                <div class="choose-person floatleft " data-toggle="dropdown">
                                    <div class="form-control" id="txtMauTinChoose" style="cursor:pointer"> Chọn mẫu tin</div>
                                    <i class="fa fa-angle-down" aria-hidden="true" style=" position: absolute; top: 8px;font-size: 18px;right: 10px;"></i>
                                </div>
                                <div class="selec-person dropdown-menu " style="width:100%">
                                    <ul>
                                        <li data-bind="click: selectedMauTin">
                                            <a href="javascript:void(0)">
                                                <span>Chọn mẫu tin</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul data-bind="foreach: SMSMaus" id="ChooseMauTin">
                                        <li data-bind="click: $root.selectedMauTin, attr:{id: ID}">
                                            <a href="javascript:void(0)">
                                                <span data-bind="text: NoiDungTin"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Nội dung</label>
                        <div class="form-news">
                            <textarea type="text" rows="4" id="txtNoiDungTin"></textarea>
                            <span id="remaining"></span><span id="messages"></span>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Số dư hiện tại</label>
                        <label data-bind="text: formatNumber($root.SoDuTaiKhoan())"></label>
                    </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button> 
                <button type="button" class="btn btn-main" id="btnGuiTin" data-bind="click: $root.SendSMS">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Gửi
                </button>
            </div>

        </div>
    </div>
</div>
