<div class="modal-dialog draggable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

            <h4 class="modal-title" id="myModalLabel">
                Phiếu tư vấn
            </h4>
        </div>
        <div class="modal-body floatleft ">
            <div class="col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 nopadding">
                        <div class="form-group floatleft" data-bind="with: newTuVan">
                            <label>Mã phiếu</label>
                            <div class="form-news">
                                <input type="text" id="txtMaPhieu" data-bind="value: Ma_TieuDe" placeholder="Mã tự động" class="form-control " required="">
                                <p class="notyfi-none"></p>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Khách hàng</label>
                            <div class="form-news">
                                <div class="outselect">
                                    <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                        <div class="form-control" id="txtKhachHang" style="cursor:pointer">--- Chọn khách hàng ---</div>
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft ">
                                        <div class="seach-nhomhang">
                                            <input type="text" class="seach-nhomhang" data-bind="value: filterKhachHang, valueUpdate: 'afterkeydown'">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <ul id="lstKhachHang" class="group-parent">
                                            <li data-bind="click : clickFistChonKhachHang" class="p-left10">
                                                <a href="javascript:void(0)">--- Chọn khách hàng ---</a>
                                            </li>
                                            <li data-bind="foreach :$root.arrFilterKhachHang">
                                                <div class="group-p1" data-bind="click : $root.selectedChooseKhachHang">
                                                    TenKH: <a  data-bind="text: TenDoiTuong, attr:{id: ID}"></a></br>
                                                    MaKH :<a  data-bind="text: MaDoiTuong"></a>
                                                    <span data-bind="attr:{id: 'spanCheckKhachHang_'+ ID}" class="pull-right"></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Loại tư vấn<span class="red">(*)</span></label>
                            <div class="form-news classification">
                                <select id="ddlLoaiTVLH1" name="ddlLoaiTVLH" class="form-control" data-bind="options: LoaiTuVanLichHens ? LoaiTuVanLichHens : [],
                                                    optionsText: 'TenLoaiTuVanLichHen',
                                                    optionsValue: 'ID', optionsCaption: 'Chọn ...',
                                                    value: selectedLoaiTuVan"></select>
                                <div class="input-group-btn">
                                    <a class="btn btn-default op-js-themmoinhomhang pencel-add" data-bind="click: themmoiloaituvan" ><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-default pencel-edit" data-bind="click: editloaituvan, enable: selectedLoaiTuVan" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group floatleft">
                            <label>Ngày giờ</label>
                            <div class=" form-news add-icon-date">
                                <input type='text' class="form-control datetimepicker4" id="txtNgayGio" data-date-format="dd/mm/yyyy" data-bind="datepicker: newTuVan().NgayGio">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Nhân viên tư vấn</label>
                            <div class="form-news">
                                <div class="outselect">
                                    <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                        <div class="form-control" id="txtNhanVienChiaSe" style="cursor:pointer;border-radius:4px;">--- Chọn nhân viên ---</div>
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft ">
                                        <div class="seach-nhomhang">
                                            <input type="text" class="seach-nhomhang" data-bind="value: filterNhanVien, valueUpdate: 'afterkeydown'">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <ul id="lstNhanVien" class="group-parent">
                                            <li data-bind="click : clickFistChonNhanVien" class="p-left10">
                                                <a href="javascript:void(0)">--- Chọn nhân viên---</a>
                                            </li>
                                            <li data-bind="foreach :$root.arrFilterNhanVien">
                                                <div class="group-p1" data-bind="click : $root.selectedChooseNhanVien">
                                                    Tên NV: <a  data-bind="text: TenNhanVien, attr:{id: ID}"></a></br>
                                                    Mã NV :<a  data-bind="text: MaNhanVien"></a>
                                                    <span data-bind="attr:{id: 'spanCheckNhanVien_'+ ID}" class="pull-right"></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 no-padding-left">
                <div class="form-group floatleft" data-bind="with: newTuVan">
                    <label>Nội dung tư vấn</label>
                    <div class="form-news">
                        <textarea rows="3"  data-bind="value: NoiDung"></textarea>
                    </div>
                </div>
                <div class="form-group floatleft" data-bind="with: newTuVan">
                    <label>Kết quả</label>
                    <div class="form-news">
                        <textarea rows="3" data-bind="value: TraLoi"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 nopadding">
                <div class="form-group floatleft">
                    <label>Hẹn lại tư vấn</label>
                    <div class="form-news add-icon-date">
                        <input type='text' class="form-control datetimepicker4" id="txtThoiGianHenLaiTV" data-date-format="dd/mm/yyyy" data-bind="datepicker: newTuVan().ThoiGianHenLai">
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label>Trạng thái</label>
                    <div class="form-news form-radio-padding">
                        <span><input type="radio" name="rdtrangthai" data-bind="checked: newTuVan().TrangThai, checkedValue: '1'" /> Tham khảo</span>
                        <span><input type="radio" name="rdtrangthai" data-bind="checked: newTuVan().TrangThai, checkedValue: '2'" /> Tiềm năng</span>
                        <span class="radio-red"><input type="radio" name="rdtrangthai" data-bind="checked: newTuVan().TrangThai, checkedValue: '3'" /> Hủy</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Đóng</button>
                    <button type="button" class="btn btn-close" data-bind="click: addPhieuTuVan"> <i class="fa fa-save"></i> Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>