<div class="modal-dialog draggable">
   
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

                <h4 class="modal-title" id="myModalLabel">
                    Phiếu phản hồi
                </h4>
            </div>
            <div class="modal-body ">
             
                    
                        <div class="form-group floatleft" data-bind="with: newPhanHoi">
                            <label>Mã phiếu<span class="red">(*)</span></label>
                            <div class="form-news">
                                <input type="text" id="txtMaPhieu" data-bind="value: Ma_TieuDe" placeholder="Mã tự động" class="form-control " required="">
                                <p class="notyfi-none"></p>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Khách hàng</label>
                            <div class="form-news">
                                <div class="outselect">
                                    <div class="form-control" data-toggle="dropdown" id="txtKhachHang" style="cursor:pointer">--- Chọn khách hàng ---</div>
                                    <div class="selec-person dropdown-menu floatleft ">
                                        <div class="op-search">
                                            <input type="text" class="input-simple" data-bind="value: filterKhachHang, valueUpdate: 'afterkeydown'">
                                            <i class="fa fa-search op-search-icon"></i>
                                        </div>
                                        <ul id="lstKhachHang" class="">
                                            <li data-bind="click : clickFistChonKhachHang" >
                                                <a href="javascript:void(0)">--- Chọn khách hàng ---</a>
                                            </li>
                                            <!--ko foreach :$root.arrFilterKhachHang-->
                                            <li data-bind="">
                                                <a class="flex" data-bind="click : $root.selectedChooseKhachHang">
                                                    <div>
                                                        <div>
                                                            TenKH: <span data-bind="text: TenDoiTuong, attr:{id: ID}"></span>
                                                        </div>
                                                        <div>
                                                            MaKH : <span  data-bind="text: MaDoiTuong"></span>
                                                        </div>
                                                    </div>
                                                  
                                                    <span data-bind="attr:{id: 'spanCheckKhachHang_'+ ID}" class="pull-right"></span>
                                                </a>
                                            </li>
                                            <!--/ko-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group floatleft">
                            <label>Loại phản hồi <span class="red">(*)</span></label>
                            <div class="form-news classification">
                                <select id="ddlLoaiTVLH1" name="ddlLoaiTVLH" class="form-control" data-bind="options: LoaiTuVanLichHens ? LoaiTuVanLichHens : [],
                                                    optionsText: 'TenLoaiTuVanLichHen',
                                                    optionsValue: 'ID', optionsCaption: 'Chọn ...',
                                                    value: selectedLoaiPhanHoi"></select>
                                <div class="input-group-btn">
                                    <a class="btn btn-default op-js-themmoinhomhang pencel-add" data-bind="click: themmoiloaiphanhoi" ><i class="fa fa-plus"></i></a>
                                    <a class="btn btn-default pencel-edit" data-bind="click: editloaiphanhoi, enable: selectedLoaiPhanHoi" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <p class="notyfi-none"></p>
                        </div>*@
                        <div class="form-group floatleft">
                            <label>Mức độ phản hồi</label>
                            <div class="form-news">
                                <select class="form-control" data-bind="options: MucDoPhanHoi ? MucDoPhanHoi : [],
                                                optionsText: 'name', optionsValue: 'value',
                                                 value:  selectedMucDoPhanHoi"></select>
                                <p class="notyfi-none"></p>
                            </div>
                        </div>
                  
                  
                        <div class="form-group floatleft">
                            <label>Ngày giờ</label>
                            <div class="form-news add-icon-date">
                                <input type='text' class="form-control datetimepicker4" id="txtThoiGianPH" data-bind="datepicker: newPhanHoi().NgayGio">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Nhân viên</label>
                            <div class="form-news">
                                <div class="dropdown">
                                    <div class="form-control" data-toggle="dropdown" id="txtNhanVienChiaSe">--- Chọn nhân viên ---</div>
                                    <div class="dropdown-menu ">
                                        <div class="op-search">
                                            <input type="text" class="input-simple" data-bind="value: filterNhanVien, valueUpdate: 'afterkeydown'">
                                            <i class="fa fa-search op-search-icon"></i>
                                        </div>
                                        <ul id="lstNhanVien" style="height:calc(100% - 40px)">
                                            <li data-bind="click : clickFistChonNhanVien" class="p-left10">
                                                <a href="javascript:void(0)">--- Chọn nhân viên---</a>
                                            </li>
                                            <!--ko foreach :$root.arrFilterNhanVien-->
                                            <li>
                                                <a class="flex" data-bind="click : $root.selectedChooseNhanVien">
                                                    <div>
                                                        <div>
                                                            Tên NV: <span data-bind="text:TenNhanVien, attr:{id: ID}"></span>
                                                        </div>
                                                        <div>
                                                            Mã NV: <span  data-bind="text:MaNhanVien"></span>
                                                        </div>
                                                    </div>
                                                    <span data-bind="attr:{id: 'spanCheckNhanVien_'+ ID}" class="pull-right"></span>
                                                </a>
                                            </li>
                                            <!--/ko-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
            
                
                    <div class="form-group floatleft" data-bind="with: newPhanHoi">
                        <label>Nội dung trả lời</label>
                        <div class="form-news">
                            <textarea rows="2" data-bind="value: NoiDung"></textarea>
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newPhanHoi">
                        <label>Nội dung phản hồi</label>
                        <div class="form-news">
                            <textarea rows="2" data-bind="value: TraLoi"></textarea>
                        </div>
                    </div>
                   
                        <div class="form-group floatleft">
                            <label>Hẹn lại phản hồi</label>
                            <div class="form-news add-icon-date">
                                <input type="text" class="form-control datetimepicker4" id="txtThoiGianHenLaiPH" data-bind="datepicker: newPhanHoi().ThoiGianHenLai">
                            </div>
                        </div>
                   
               
                
                <div class="form-group floatleft">
                    <label>Trạng thái</label>
                    <div class="form-news form-radio-padding">
                        <label><input type="radio" name="rdtrangthai" data-bind="checked: newPhanHoi().TrangThai, checkedValue: '1'" /> Chưa xử lý</label>
                        <label><input type="radio" name="rdtrangthai" data-bind="checked: newPhanHoi().TrangThai, checkedValue: '2'" /> Đang xử lý</label>
                        <label class="radio-red"><input type="radio" name="rdtrangthai" data-bind="checked: newPhanHoi().TrangThai, checkedValue: '3'" /> Đã xong</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Đóng</button>
                        <button type="button" class="btn btn-save" data-bind="click: addPhanHoi"> <i class="fa fa-save"></i> Lưu</button>
                </div>
            </div>
        </div>
    
</div>