@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        .calendar-grid .calendar-date-holder {
            width: 100% !important;
        }
        .calender-date .calendar-wrapper {
            width: 100% !important;
        }
        </style>
    <div class="container">
        <div class="op-lich-hen-head">
            <div class="op-lh-img">
                <img src="~/Content/images/icon/cua-hang-lh.png" />
                </div>
            <div class="op-lh-detail">
                <p>
                    <img src="~/Content/images/icon/lich-hen-salon.png" /> <span>Tên salon, spa: Moon Trần</span>
                    </p>
                <p>
                    <img src="~/Content/images/icon/lich-hen-vi-tri.png" /><span>Địa chỉ: Hà Nội</span>
                </p>
                <p>
                    <img src="~/Content/images/icon/lich-hen-di-dong.png" /><span>Điện thoại: 113</span>
                </p>
                <p>
                    <img src="~/Content/images/icon/lich-hen-web.png" /><span>Website: Open24.vn</span>
                </p>
            </div>
        </div>
        <div class="op-lich-hen-content">
            <div class="op-lh-w70 ">
                <h5>Quý khách vui lòng điền thông tin</h5>
                <div class="form-group frm-input-lh">
                    <label>
                        Họ tên quý khách
                        </label>
                    <div class="form-ip-2">
                        <select class="form-control">
                            <option value="1">
                                Anh
                                </option>
                            </select>
                        <input class="form-control" type="text">
                        </div>
                    </div>
                <div class="form-group frm-input-lh">
                    <label>
                       <input type="checkbox" class="check-theo-nhom"/> Bạn đi theo nhóm
                    </label>
                    <div class="form-ip-1 form-ip-so-luong">
                       <label> Số lượng</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group frm-input-lh">
                    <label>
                       Điện thoại
                    </label>
                    <div class="form-ip-1">
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group frm-input-lh">
                    <label>
                        Email
                    </label>
                    <div class="form-ip-1">
                        <input class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group frm-input-lh">
                    <label>
                        Dịch vụ yêu cầu<span style="color:red"> (*)</span>
                    </label>
                    <div class="form-ip-1">
                        <div class="outselect ">
                            <div class="choose-person  dropdown-toggle" id="dropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <ul >
                                    <li class="li-input-span">
                                        <span>2712 Nhóm VIP</span>&nbsp;
                                        <a href="javacscript:void(0)">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </li>


                                    <li class="li-input-span">
                                        <span >Nhóm khách 01</span>&nbsp;
                                        <a href="javacscript:void(0)">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </li>

                                </ul>
                                <input type="text" class="dropdown form-control" placeholder="Chọn nhóm" style="display:none">
                            </div>
                            <div class="selec-person dropdown-menu "aria-labelledby="dropdownMenuLink" >
                                <div class="seach-nhomhang">
                                    <input type="text" class="seach-nhomhang">
                                    <i class="fa fa-search"></i>
                                </div>
                                <ul >
                                    <li >Nhóm khách 01<i class="fa fa-check check-after-li" style="display:block"></i></li>

                                    <li>2712 Nhóm VIP<i class="fa fa-check check-after-li" style="display:block"></i></li>

                                    <li >Nhóm siêu VIP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group  frm-input-lh">
                    <label >
                     Thời gian <span style="color:red"> (*)</span>
                    </label>
                    <div class="form-ip-1 form-ip-thoi-gian">
                        <input type="text" class="form-control time-hour"> 
                        <div class="time-date">
                            <div > Chủ nhật</div>
                        <input class="form-control datetime-thoi-gian" type="text">
                         </div>
                    </div>
                </div>
                <div class="form-group fl form-calender">
                  <div class="calender-hour">
                      <ul>
                          <li class="calender-ul-li active"><a href="javascript:void(0)">08:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">08:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">09:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">09:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">10:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">10:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">11:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">11:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">12:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">12:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">13:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">13:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">14:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">14:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">15:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">15:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">16:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">16:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">17:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">17:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">18:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">18:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">19:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">19:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">20:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">20:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">21:00</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">21:30</a></li>
                          <li class="calender-ul-li"><a href="javascript:void(0)">22:00</a></li>
                          </ul>
                      </div>
                    <div class="calender-date">
                        <table id="datein" class="calendar"></table>
                    </div>
                </div>
                <div class="form-group fl staff-perform">
                    <label style="    width: auto !important;">
                       Chọn nhân viên thực hiện
                    </label>
                   <a href="javascript:void(0)" id="sl_nhanvien" style="margin-left:5px;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
                </div>
                <div class="form-group fl ">
                   <ul class="tree-staff-perform">
                       <li>
                           <a href="javascript:void(0)" class="staff-p-img"><i class="fa fa-user-circle" aria-hidden="true"></i>
                           <span>Nguyễn thị Yến Linh</span></a>
                           <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                       </li>
                       <li>
                           <a href="javascript:void(0)" class="staff-p-img">
                               <i class="fa fa-user-circle" aria-hidden="true"></i><span>Nguyễn thị Yến Linh</span></a>
                               <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </li>
                       <li>
                           <a href="javascript:void(0)" class="staff-p-img">
                               <i class="fa fa-user-circle" aria-hidden="true"></i><span>Nguyễn thị Yến Linh</span>
                           </a>
                           <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>

                       </li>
                       <li>
                           <a href="javascript:void(0)" class="staff-p-img">
                               <i class="fa fa-user-circle" aria-hidden="true"></i><span>Nguyễn thị Yến Linh</span>
                           </a>
                           <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                       </li>
                       <li>
                           <a href="javascript:void(0)" class="staff-p-img">
                               <i class="fa fa-user-circle" aria-hidden="true"></i><span>Nguyễn thị Yến Linh</span>
                           </a>
                           <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                       </li>
                       </ul>
                </div>
                <div class="form-group frm-input-lh">
                    <label>
                       Ghi chú
                    </label>
                    <div class="form-ip-1">
                        <textarea ></textarea>
                    </div>
                </div>
            </div>
            <div class="op-lh-w30 ">
                <div class="tree-conpany" >
                    <h5>Quý khách vui lòng chọn chi nhánh</h5>
                    <ul>
                        <li>
                        <div class="tree-number">
                        <span>1</span>    
                        </div>
                            <div class="tree-detail">
                                <p class="tree-title-name"> Moon Trần</p>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                <input type="checkbox">
                            </div>
                            
                        </li>
                        <li>
                            <div class="tree-number">
                                <span>2</span>
                            </div>
                            <div class="tree-detail">
                                <p class="tree-title-name"> Moon Trần</p>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                <input type="checkbox">
                            </div>

                        </li>
                        <li>
                            <div class="tree-number">
                                <span>3</span>
                            </div>
                            <div class="tree-detail">
                                <p class="tree-title-name"> Moon Trần</p>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                <input type="checkbox">
                            </div>

                        </li>
                        <li>
                            <div class="tree-number">
                                <span>4</span>
                            </div>
                            <div class="tree-detail">
                                <p class="tree-title-name"> Moon Trần</p>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                <input type="checkbox">
                            </div>

                        </li>
                        <li>
                            <div class="tree-number">
                                <span>5</span>
                            </div>
                            <div class="tree-detail">
                                <p class="tree-title-name"> Moon Trần</p>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                <input type="checkbox">
                            </div>

                        </li>
                        <li>
                            <div class="tree-number">
                                <span>6</span>
                            </div>
                            <div class="tree-detail">
                                <p class="tree-title-name"> Moon Trần</p>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                <input type="checkbox">
                            </div>

                        </li>
                        </ul>
                    </div>
                <div class="tree-select-staff" hidden>
                    <h5>Quý khách vui lòng chọn nhân viên thực hiện</h5>
                    <ul>
                        <li>
                            <div class="tree-image">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                            </div>
                            <div class="tree-detail">
                                <p class="tree-title"><span  class="tree-title-name">Mã nv: NV0001</span> | <span>Nguyễn thị Yến Linh</span></p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                <input type="checkbox">
                            </div>

                        </li>
                        <li>
                            <div class="tree-image">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                            </div>
                            <div class="tree-detail">
                                <p class="tree-title"><span class="tree-title-name">Mã nv: NV0001</span> | <span>Nguyễn thị Yến Linh</span></p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                <input type="checkbox">
                            </div>

                        </li>
                    </ul>
                    <div class="fl">
                        <a href="javascript:void(0)" id="sl_save_select_staff">
                        <div class="save-select-staff">
                        <i class="fa fa-check" aria-hidden="true"></i> Xong</div></a>
                        </div>
                </div>
            </div>
        </div>
        <div class="op-lich-hen-footer">
            <a href="javascript:void(0)" class="gui-lich-hen">
                <img src="~/Content/images/icon/gui-lich-hen.png" /> Gửi lịch hẹn</a>
            </div>
    </div>

        
        

    

    <script>
        $(function () {

            $('.datetime-thoi-gian').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }, function (start, end, label) {
                var years = moment().diff(start, 'years');
                alert("You are " + years + " years old!");
            });
            $('#datein').dcalendar().on('dateselected', function (e) { console.log(e.date); });
        });

        $('#sl_nhanvien').on('click', function () {
            $('.tree-conpany').toggle();
            $('.tree-select-staff').toggle();
        });
        $('#sl_save_select_staff').on('click', function () {
            $('.tree-conpany').show();
            $('.tree-select-staff').hide();
        });
        $('.lh-nhom').on('click', function () {
            $('.number-group').toggle();
        })
        $('.op-time-lh-left').on('click', 'button', function () {
            $('.op-time-lh-left button').each(function () {
                $(this).removeClass('ac');
            });
            $(this).addClass('ac');
        })
        $('.op-time-lh-head').on('click', 'a', function () {
            $('.op-time-lh-head a').each(function () {
                $(this).removeClass('ac');
            });
            $(this).addClass('ac');
        })
        $('.op-time-lh-right').on('click', '.op-time-select', function () {
            var clas = $(this).hasClass('ac');
            $('.op-time-lh-right .op-time-select').each(function () {
                $(this).removeClass('ac');
            })
            if (!clas)
            { $(this).addClass('ac'); }

        })
        $('.form-calender').on('click', '.calender-hour ul li', function () {
            $('.calender-ul-li').removeClass('active')
            $(this).closest('li').addClass('active')
        })
    //$('.choose-person').on('click', function () {
    //    $('.selec-person').toggle();
    //})
    </script>

</body>
</html>

