
<div class="modal fade bs-example-modal-sm in" id="modalNhomTinTuc"  >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">  <i class="fa fa-newspaper-o" aria-hidden="true"></i>  / {{titileNewsGroup}} </h4>
            </div>
            <div class="modal-body">
                <div class="container ">
                    <div class="col-md-12 no-padding-left">
                        <span style="float: right; color: red;"></span>
                        <div class="form-group   form-text">
                            <label>Tên Thể loại <span style="color: red;">*</span></label>
                            <div class="form-news">
                                <input type="text" class="form-control" v-model="model.Ten">
                            </div>
                        </div>
                        <div class="form-group  form-text">
                            <label>Ghi chú</label>
                            <div class="form-news">
                                <textarea class="resizable_textarea form-control"v-model="model.GhiChu" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success pull-right"v-on:click="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>Lưu </button>
                <button class="btn btn-danger pull-right" data-dismiss="modal" aria-label="Close"><i class="fa  fa-times" aria-hidden="true"></i>Hủy</button>
            </div>

        </div>
    </div>
</div>
<script src="~/Assets/Admin/GroupNews.js"></script>