<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../Content/style.css" rel="stylesheet" />
    <script src="../Content/js/jquery.js"></script>
</head>

<body>
    <div class="content-print editor floatleft " id="mauinhoadon" contenteditable="true" onkeyup="editor()">
        <table id="kh" class=" cke_show_border" style="width:100%">
            <tbody>
                <tr><td>{TenCuaHang}</td></tr>
                <tr>
                    <td>Chi nhánh: {TenChiNhanh}</td>
                </tr>
                <tr>
                    <td>Điện thoại: {DienThoaiChiNhanh}</td>
                </tr>
            </tbody>
        </table><div class="floatleft line-border">
            <br>
        </div><div class="floatleft">Ngày bán:{NgayBan}</div>
        <div class="title-print-report">
            <p>Hóa đơn bán hàng</p>
            <p>{MaHoaDon}</p>
        </div><div class="floatleft infor-customer">
            <p>Khách hàng :{TenKhachHang}</p><p>Địa chỉ : {DiaChiKhachHang}</p>
            <p>Điện thoại:{DienThoaiKhachHang}</p><p>Người bán : {NhanVienBanHang}</p>
        </div>
        <div class="floatleft line-border"><br></div><table style="width:100%" class="chitiethoadon cke_show_border">
            <tbody>
                <tr><td>Đơn giá</td><td>SL</td><td>Thành tiền</td></tr>
                <tr>
                    <td colspan="3">{TenHangHoa}</td>
                </tr>
                <tr><td>{GiaBan}</td><td>{SoLuong}</td><td>{ThanhTien}</td></tr>
            </tbody>
        </table>
        <div class="floatleft line-border"><br></div><div class="floatleft">Ghi chú :</div>
        <table class="cke_show_border text-right" style="width:100%">
            <tbody>
                <tr>
                    <td>Tổng tiền hàng:</td>
                    <td>{TongTienHang}</td>
                </tr>
                <tr><td>Chiết khấu:</td><td>{ChietKhauHoaDon}</td></tr>
                <tr>
                    <td>Tổng cộng:</td>
                    <td>{TongCong}</td>
                </tr>
            </tbody>
        </table>
    </div>
 
</body>
</html>