<style>
    .footer-edit
    {
        margin-top:15px;
    }
    .footer-edit button {
        float: right;
    }
    </style>
<h4 >Thêm mới vai trò</h4>
<div class="col-md-12">
        <div class="col-md-4 col-xs-8 col-sm-8 ">
            <div class="form-group floatleft">
                <label>Sửa vai trò</label>
                <div class="form-news">
                    <input type="text" class="form-control"  placeholder="">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4 ">
            <div class="flex flex-end">
                <button class="form-control">Thu gọn</button>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 ">
        </div>
    </div>
<div class="col-md-12 tree-edit">
    <div class="col-md-4 col-xs-16 col-sm-12 tree-edit-row">
            <h4 class="title-tree">
                <label>Bán hàng</label>
               
            </h4>
            <ul class="floatleft content-tree">
                <li>
                    <a href="javascript:void(0)"  class="more-permission"  style="display: none;">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="tree-li-permission checked-tree-leff">
                        <input type="checkbox" class="check-unit" value="true" >
                        <span  class="check-text">Truy cập bán hàng</span>
                    </div>
                    <ul class="floatleft content-tree-children" >
                        <li>
                            <a href="javascript:void(0)" class="more-permission" style="display: none;">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                             </a>
                            <div class="tree-li-permission checked-tree-leff">
                                <input type="checkbox"  value="true">
                                <span class="check-text">Truy cập bán hàng</span>
                            </div>
                            </li>
                    </ul>
                </li>
            </ul>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12 tree-edit-row">
        <h4 class="title-tree">
            <label>Bán hàng</label>
           
        </h4>
        <ul class="floatleft content-tree">
            <li>
                <a href="javascript:void(0)" class="more-permission" style="display: none;">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <div class="tree-li-permission checked-tree-leff">
                    <input type="checkbox" class="check-unit" value="true">
                    <span class="check-text">Truy cập bán hàng</span>
                </div>
                <ul class="floatleft content-tree-children">
                    <li>
                        <a href="javascript:void(0)" class="more-permission" style="display: none;">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <div class="tree-li-permission checked-tree-leff">
                            <input type="checkbox" value="true">
                            <span class="check-text">Truy cập bán hàng</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12 tree-edit-row">
        <h4 class="title-tree">
            <label>Bán hàng</label>
            
        </h4>
        <ul class="floatleft content-tree">
            <li>
                <a href="javascript:void(0)" class="more-permission" style="display: none;">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <div class="tree-li-permission checked-tree-leff">
                    <input type="checkbox" class="check-unit" value="true">
                    <span class="check-text">Truy cập bán hàng</span>
                </div>
                <ul class="floatleft content-tree-children">
                    <li>
                        <a href="javascript:void(0)" class="more-permission" style="display: none;">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <div class="tree-li-permission checked-tree-leff">
                            <input type="checkbox" value="true">
                            <span class="check-text">Truy cập bán hàng</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12 footer-add-new-user">
        <div class="footer-right pull-right">
            <div class="footer-edit">
                <button type="button" class="btn btn-cancel"  data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
                <button type="button" class="btn btn-cancel "> <i class="fa fa-trash"></i> Xóa</button>
                <button type="button" class="btn btn-main"> <i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
