
<style>

    .list-img-user .img-user {
        width: 55px;
        height: 50px;
        position: unset;
        border-radius: 5px;
        background: none;
        object-fit: cover;
        border: 1px dashed #ccc;
        margin: 0 5px;
    }

        
    .list-img-user .detail-user-discount {
        padding-left: 0;
        min-height: 0;
    }

    .list-img-user .form-group input[type="checkbox"] {
        position: absolute;
        top: 8px;
    }

    .detail-user-discount p {
        margin: 0px !important;
        padding-top: 3px !important
    }

    .title-user {
        font-weight: bold;
    }

    .line-space {
        padding-left: 3px;
        padding-right: 3px;
    }


    .search-img-user button {
        position: absolute;
        top: 0px;
        left: 282px;
        width: 36px;
        float: right;
        height: 30px;
        background: var(--color-button);
        border: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-right: 6px;
        color: white;
    }

    

    .tab-discount-user li.active {
        border-top: 1px solid #32b7b3;
        border-left: 1px solid #32b7b3;
        border-right: 1px solid #32b7b3;
        border-bottom: none !important;
    }

    .tab-discount-user li a {
        margin: 0px !important;
        font-weight: bold;
    }

    .tab-discount-user {
        padding-bottom: 13px !important;
    }

        .tab-discount-user .nav-tabs {
            border-bottom: 1px solid #32b7b3;
        }

    .note-discount-money p span {
        color: #f81600;
    }

    .note-discount-money p img {
        margin-right: 10px;
    }

    .content-tree-user {
        max-height: 350px;
        overflow: auto;
    }

    .background-detailNV {
        background-color: #d6f1f0;
    }
</style>
<div class="modal fade" id="modalSaoChepNhanVien">
    <div class=" modal-dialog draggable modal-md ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h5 class="modal-title">
                    Sao chép cài đặt hoa hồng nhân viên
                </h5>
            </div>
            <div class="modal-body">
                <div class="col-md-12 no-padding-left">
                    <div class="col-md-12 nopadding tab-form-old">
                        <ul class="nav nav-tabs ">
                            <li class="active"><a data-toggle="tab" href="#nhanvienchuacaidat">Nhân viên chưa cài đặt</a></li>
                            <li><a data-toggle="tab" href="#nhanviendacaidat">Nhân viên đã cài đặt</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="nhanvienchuacaidat">
                                <div class="floatleft" id="el_NVien" style="position:relative">
                                    <input type="text" class="input-simple floatleft" style="padding-left:30px" placeholder="Tìm kiếm nhân viên" id="txtSearchNV_ChuaCaiDat">
                                    <i class="fa fa-search" style="  position:absolute; top:7px; left:7px"></i>
                                </div>
                                <div class="col-md-12 tab-col-12" style="border-bottom:1px solid #ccc">
                                    <div class="col-md-5 "style="padding-left:9px">
                                        <label>
                                            <input type="checkbox" name="rdNhomHang" id="all_nhanvienchuacaidat" onclick="SetCheckAllChildsCCD(this)" />  Tất cả
                                        </label>
                                    </div>
                                    <div class="col-md-7 nopadding tree-title-delete">
                                        <a href="javascript:void(0)" class="pull-right" data-bind="click: clearn_ChuaCaiDat">Xóa chọn tất cả</a>
                                    </div>
                                </div>
                                <div class="col-md-12 tab-col-12 content-tree-user NhanVien_ChuaCaiDat checkall" style="display:block" id="divNhanVien_CK" data-bind="foreach: NhanVienSaoChep1">
                                    <div class=" col-md-12 nopadding list-img-user ">
                                        <label style="display:flex; align-items:center; padding:7px" class="floatleft">
                                            <input type="checkbox" name="rdNhomHang" data-bind="attr:{id: ID_NhanVien}" onclick="SetCheckAllChild2sCCD(this)" />
                                            <span class="img-user">
                                                @*<img src="~/Content/images/icon/gioi-tinh-nam.png" />*@
                                                <img data-bind="attr:{src: URLAnh === '' || URLAnh === undefined  ? GioiTinh === true ? '/Content/images/icon/gioi-tinh-nam.png' : '/Content/images/icon/gioi-tinh-nu.png' : Open24FileManager.hostUrl + URLAnh}" />
                                            </span>
                                            <span class="detail-user-discount">
                                                <span style="font-weight:normal">
                                                    Mã NV: <span data-bind="text: MaNhanVien">NV00173</span>
                                                </span>
                                                <br>
                                                <span>
                                                    <b data-bind="text: TenNhanVien">Jonh Nam</b>
                                                </span>
                                                <br>
                                                <span style="font-weight:normal">SDT :<span data-bind="text: DienThoaiDiDong"></span> </span>
                                            </span>
                                        </label>


                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane " id="nhanviendacaidat">
                                <div class="floatleft" style="position:relative" id="el_NVien">
                                    <input type="text" class="input-simple floatleft" style="padding-left:30px" placeholder="Tìm kiếm nhân viên" id="txtSearchNV_DaCaiDat">
                                    <i class="fa fa-search" style="  position:absolute; top:7px; left:7px"></i>
                                </div>
                                <div class="col-md-12 tab-col-12" style="border-bottom:1px solid #ccc">
                                    <div class="col-md-5 " style="padding-left:9px">
                                        <label>
                                            <input type="checkbox" name="rdNhomHang" id="all_nhanviendacaidat" onclick="SetCheckAllChildsDCD(this)" />  Tất cả
                                        </label>
                                    </div>
                                    <div class="col-md-7 nopadding tree-title-delete">
                                        <a href="javascript:void(0)" class="pull-right" data-bind="click: clearn_DaCaiDat">Xóa chọn tất cả</a>
                                    </div>
                                </div>
                                <div class="col-md-12 tab-col-12 content-tree-user NhanVien_DaCaiDat" id="divNhanVien_CK" data-bind="foreach: NhanVienSaoChep2">

                                    <div class="col-md-12 nopadding list-img-user">
                                        <label style="display:flex; align-items:center; padding:7px" class="floatleft">
                                            <input type="checkbox" name="rdNhomHang" data-bind="attr:{id: ID_NhanVien}" onclick="SetCheckAllChild2sDCD(this)" />
                                            <span class="img-user">
                                                <img data-bind="attr:{src: URLAnh === '' || URLAnh === undefined  ? GioiTinh === true ? '/Content/images/icon/gioi-tinh-nam.png' : '/Content/images/icon/gioi-tinh-nu.png' : Open24FileManager.hostUrl + URLAnh}" />
                                            </span>
                                            <span class="detail-user-discount">
                                                <span style="font-weight:normal">
                                                    Mã NV: <span data-bind="text: MaNhanVien">NV00173</span>
                                                </span>
                                                <br>
                                                <span>
                                                    <b data-bind="text: TenNhanVien">Jonh Nam</b>
                                                </span>
                                                <br>
                                                <span style="font-weight:normal">SDT :<span data-bind="text: DienThoaiDiDong"></span> </span>
                                            </span>
                                        </label>

                                    </div>


                                </div>
                                <div class="col-md-12 nopadding nhom-khach-hang" style="margin-top: 10px !important;">
                                    
                                            <label class="col-md-8">Cập nhật lại hàng hóa đã được cài đặt hoa hồng</label>
                                            <div class="col-md-4">
                                                <div class="col-md-6">
                                                    <div class="form-check nopadding">
                                                        <input type="radio" class="form-check-input" name="rdcokhong" data-bind="checked: checkCapNhat" value="1" id="cbCapNhatHangHoaCo">
                                                        <label class="form-check-label" for="cbCapNhatHangHoaCo">Có</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 nopadding">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="rdcokhong" data-bind="checked: checkCapNhat" value="2" id="cbCapNhatHangHoaKhong">
                                                        <label class="form-check-label" for="cbCapNhatHangHoaKhong">Không</label>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                            <div class="col-md-12 tab-col-12 select_CapNhat">
                                <p>
                                    <span style="color:var(--color-main);font-weight:bold"> (*)</span> Sao chép cài đặt hoa hồng từ một nhân viên cho nhân viên khác
                                </p>

                            </div>
                        </div>

                    </div>

                </div>



            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                    <button type="button" class="btn btn-main " id="add_HoaHong" data-bind="click: ApDung_SaoChep">
                        <i class="fa fa-check" aria-hidden="true"></i> Áp dụng
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

