<style>
    ._table-input tbody tr td {
        border: none;
    }
    .treename {
        line-height: 30px;
        width: 100%;
        float: left;
    }
        .treename a {
            padding-left: 10px;
            color: black;
        }
    .tree-chiet-khau li a {
        position: relative;

        width: 100%;
        color: black;
        float: left;
    }
    .tree-chiet-khau li .icon-tree-li {
        position: absolute;
        top: 7px;
        left: 0px;
        color: var(--color-main);
    }
    .tree-chiet-khau li .treename {
        padding-left: 10px;
    }
    .tree-chiet-khau ul {
        padding-left: 10px;
    }
    /*._td-check-box input[type=checkbox]:after {
        left: 9px;
    }*/
    /*._td-check-box input[type=checkbox]:checked:after {
        left: 9px;
    }*/
    #treeviewHoaHong, #_nhanvienchietkhau .popup-chiet-khau {
        max-height: 250px;
        overflow: auto;
    }
    .add-icon-date:after {
        right: 20px;
        top: 13px;
    }
    .header-dv {
        margin-bottom: 10px;
    }
    .seach-nhomhang {
        margin-bottom: 8px;
        position:relative
    }
    .chietkhau-doanhthu {
        right: -19%;
        top: 32px;
        display: block;
        position: absolute;
        border: 1px solid var(--color-main) !important;
        z-index: 2;
    }
    /*.notifi label input[type=checkbox] {
        margin-top: 7px;
    }*/
    .list-select-nv {
        max-height: 200px;
        overflow: auto;
    }
    #_cdhoahong .add-customer {
        float: left;
        position: relative;
    }
</style>
<div class="modal-content  ui-draggable">
    <div class="modal-header ui-draggable-handle">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">
            Cài đặt hoa hồng theo khoảng doanh thu - thực thu
        </h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12 ">
            <div class="row">
                <div class="tab-news-modal _tab-chieu-khau-doanh-thu">
                    <ul class="nav nav-tabs " id="ulTab_ChietKhauDoanhThu">
                        <li class="active"><a data-toggle="tab" href="#_cdhoahong">Thông tin hoa hồng</a></li>
                        <li>
                            <a data-toggle="tab" href="#_nhanvienchietkhau">Nhân viên áp dụng</a>
                        </li>
                    </ul>
                    <div class="tab-content ">
                        <div class="tab-pane active" id="_cdhoahong">
                            <div class="col-md-12 nopadding margin-bot-15">
                                <div class=" col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-group floatleft">
                                        <label>Áp dụng cho:</label>
                                        <div class="form-news add-customer" style="position:relative">
                                            <div class="choose-person " data-toggle="dropdown" aria-expanded="false">
                                                <div class="form-control" data-bind="text: $root.HoaHongDoanhThu_TextKieuNVApDung">Nhân viên lập hóa đơn</div>
                                            </div>
                                            <div class="selec-person dropdown-menu floatleft">
                                                <ul data-bind="foreach: $root.HoaHongDoanhThu_KieuNVApDungs">
                                                    <li data-bind="click: $root.HoaHongDoanhThu_ChoseKieuNV">
                                                        <a data-bind="text: Text">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-check form-check-inline" data-bind="visible: $root.HoaHongDoanhThu_GtriKieuNVApDung() !== 2">
                                        <input class="form-check-input" id="inlineRadio1" type="radio" name="inlineRadioOptions" value="1" data-bind="checked: HoaHongDoanhThu_TinhCKTheo">
                                        <label class="form-check-label" for="inlineRadio1">Theo thực thu</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="inlineRadio2" type="radio" name="inlineRadioOptions" value="2" data-bind="checked: HoaHongDoanhThu_TinhCKTheo">
                                        <label class="form-check-label" for="inlineRadio2">Theo doanh thu</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 nopadding margin-bot-15">
                                <div class="table-res">
                                    <table class="table-striped _table-input _table-chiet-khau-ct" id="_tablehhdoanhthu">
                                        <thead class="thead-boder">
                                            <tr>
                                                <th>Áp dụng từ</th>
                                                <th>
                                                    <div class="add-icon-date">
                                                        <input type="text" class="form-control datetime_TuNgay" data-bind="value: HoaHongDoanhThu_ApDungTuNgay" />
                                                    </div>
                                                </th>
                                                <th>Áp dụng đến</th>
                                                <th>
                                                    <div class="add-icon-date">
                                                        <input type="text" class="form-control datetime_TuNgay" data-bind="value: HoaHongDoanhThu_ApDungDenNgay, event:{change: ChangeApDungTuNgay}" />
                                                    </div>
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: HoaHongDoanhThu_TableDetail">
                                            <tr data-bind="attr:{id: IDRandom}">
                                                <td>Từ</td>
                                                <td>
                                                    <input type="text" class="form-control" onclick="this.select()" onkeypress="return keypressNumber(event)"
                                                           data-bind="value: formatNumber(DoanhThuTu) , event: {keyup: $parent.HoaHongDoanhThu_EditDoanhThu, blur: $parent.Blur_DoanhThuTu}" />
                                                </td>
                                                <td>Đến</td>
                                                <td>
                                                    <input type="text" class="form-control" onclick="this.select()" onkeypress="return keypressNumber(event)"
                                                           data-bind="value: formatNumber(DoanhThuDen), event: {keyup: $parent.HoaHongDoanhThu_EditDoanhThu, blur: $parent.Blur_DoanhThuDen}" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control _hoa-hong-doanh-thu" readonly
                                                           data-bind="click: $parent.ShowDiv_ChietKhauCT, value: LaPhanTram?GiaTriChietKhau: formatNumber(GiaTriChietKhau)" />
                                                    <div class="callprice" style="width: 100%">@* callprice callprice-discount *@
                                                        <div class="callprice-right floatleft">
                                                            <input type="text" class="form-control number-price" onkeypress="return fomartNumberDiscount(event,this)" onclick="this.select()"
                                                                   data-bind="attr:{id: 'gtriCKDT_'+ IDRandom}, event:{keyup: $root.HoaHongDoanhThu_EditGtriCK}">
                                                            <div class="plus" data-bind="click: $root.HoaDongDoanhThu_ClickVND">VNĐ</div>
                                                            <div class="plus gb" data-bind="attr:{id: 'laPTDT_'+ IDRandom}, click: $root.HoaDongDoanhThu_ClickVND">%</div>
                                                        </div>
                                                        <div class="callprice-right floatleft choose_ChietKhau">
                                                            <div class="notifi floatleft">
                                                                <label style="width:100% !important">
                                                                    <input type="checkbox" class="checkbox" value="true" data-bind="checked: $root.HoaHongDoanhThu_ApplyAll">
                                                                    <span>
                                                                        Áp dụng công thức cho
                                                                        <span data-bind="text: $root.CountRow_HoaHongDoanhThu_TableDetail()"></span>
                                                                        dòng
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="pull-right" data-bind="click: $root.HoaDongDoanhThu_AgreeGiaTriCK">
                                                            <a href="javascript:void(0);" class="cantrol">OK</a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" data-bind="click: $parent.HoaHongDoanhThu_RemoveDetail">
                                                        <i class="fa fa fa-times"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>Ghi chú</td>
                                                <td colspan="5">
                                                    <textarea type="text" rows="3" data-bind="value: HoaHongDoanhThu_GhiChu" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 nopadding floatleft">
                                <button type="button" class="btn btn-main no-magrin" data-bind="click: Add_DoanhThuChiTiet">Thêm mới</button>
                            </div>
                        </div>
                        <div class="tab-pane " id="_nhanvienchietkhau">
                            <div class="container-fluid row">
                                <div class="col-md-3 cai-dat-hoa-hong-l">
                                    <div class=" floatleft title-table-ck">
                                        <span>Phòng ban</span>
                                    </div>
                                    <div class=" floatleft">
                                        <div class=" floatleft form-group">
                                            <input type="text" placeholder="Tìm kiếm phòng ban"
                                                   autofocus="autofocus" class="form-control number-price-new" autocomplete="off"
                                                   data-bind="value: searchAuto_Department, valueUpdate:'afterkeydown'">
                                            <i style="position:absolute; top:7px; left:7px;" class="fa fa-search"></i>
                                        </div>
                                        <div class="treename yellow" data-bind="click: GetNhanVien_byDepartment">
                                            <a href="javascript:void(0)"> Tất cả</a>
                                        </div>
                                        <ul  class="floatleft  tree-chiet-khau" id="treeviewHoaHong" data-bind="foreach: PageResult_Department">
                                            <li data-bind="attr:{id:'deptID_'+ id}" class="floatleft">
                                                <a href="javascript:void(0)" data-bind="click: $parent.GetNhanVien_byDepartment">
                                                    <span class="icon-tree-li "><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                                                    <span class="treename" data-bind="text: text"></span>
                                                </a>
                                                <ul data-bind="foreach: children">
                                                    <li data-bind="attr:{id:'deptID_'+ id}">
                                                        <a href="javascript:void(0)" data-bind="click: $root.GetNhanVien_byDepartment">
                                                            <span class="icon-tree-li "><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                                                            <span class="treename" data-bind="text: text"></span>
                                                        </a>
                                                        <ul data-bind="foreach: children">
                                                            <li data-bind="attr:{id:'deptID_'+ id}">
                                                                <a href="javascript:void(0)" data-bind="click: $root.GetNhanVien_byDepartment">
                                                                    <span class="treename" data-bind="text: text"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div> 
                                 
                                </div>
                                <div class="col-md-4 cai-dat-hoa-hong-r" id="listNV_L">
                                    <div class=" floatleft  title-table-ck">
                                     
                                            <input class="checkbox-modal" type="checkbox" style="margin-right:5px" id="HoaHongHD_CheckAllLeft"
                                                   data-bind="event:{change: HoaHongHD_ChoseAllNhanVien_Left}">
                                            <span>Nhân viên</span>
                                       

                                    </div>
                                    <div class="floatleft">
                                        <div class="seach-nhomhang">
                                            <input type="text" placeholder="Tìm kiếm nhân viên"
                                                   autofocus="autofocus" class="form-control number-price-new" autocomplete="off"
                                                   data-bind="value: searchAuto_NVienDepartment, valueUpdate:'afterkeydown'">
                                            <i style="position:absolute; top:7px; left:7px;" class="fa fa-search"></i>
                                        </div>
                                        <ul id="NV_Apdung_L" class="floatleft ul-cai-dat-hoa-hong-r" data-bind="foreach: PageResult_NVienDepartment" style="max-height:350px; overflow:auto">
                                            <li style="padding:3px; border-bottom:1px solid #ccc">
                                                <div class="flex flex-row flex-between" style="align-items:center;flex-wrap:nowrap">
                                                    <label class="flex flex-row " style="align-items:center; width:calc(100% - 35px)">
                                                        <input style="position:relative; margin:3px;" type="checkbox" data-bind="attr:{id: ID},event:{change: $parent.Check_UncheckNhanVien}">
                                                        <span style="   padding:3px 8px;  font-weight: normal;">
                                                            <span class="floatleft bold">Tên NV: <span data-bind="text: TenNhanVien"></span></span>
                                                            <small class="floatleft" style="line-height:18px">Mã NV: <span data-bind="text: MaNhanVien"></span></small>
                                                            <small class="floatleft" style="line-height:18px">Phòng: <span data-bind="text: TenNhanVien_GC"></span></small>
                                                        </span>
                                                    </label>
                                                    <button class="btn btn-default" data-bind="click: $parent.HoaHongHD_Chose1NhanVien">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>

                                                    </button>

                                                </div>


                                            </li>
                                        </ul>
                                    </div>
                                </div> 
                                <div class="col-md-1 nopadding">
                                    <div class="btn-chon-nhan-vien  cai-dat-hoa-hong-l">
                                        <button  class="btn btn-main floatleft"style="margin-bottom:5px" data-bind="click: HoaHongHD_ClickBtnChose">Chọn <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                                        <button class="btn btn-cancel floatleft" data-bind="click: HoaHongHD_ClickBtnRemoveChose"> <i class="fa fa-angle-double-left" aria-hidden="true"></i><span style="letter-spacing:-1px">Bỏ chọn</span></button>
                                    </div>
                                </div>
                                <div class="col-md-4 cai-dat-hoa-hong-r" id="listNV_R">
                                    <div class=" floatleft  title-table-ck">
                                        <input type="checkbox" class="checkbox-modal" style=" float: right;margin-right: 5px;"
                                               data-bind="event:{change: HoaHongHD_ChoseAllNhanVien_Right}">
                                        <span>Nhân viên áp dụng</span>
                                    </div>
                                    <div class="floatleft">
                                        <div class=" floatleft form-group">
                                            <input type="text" placeholder="Tìm kiếm nhân viên" style="padding-left:30px"
                                                   autofocus="autofocus" class="form-control number-price-new" autocomplete="off"
                                                   data-bind="value: searchAuto_NVienChosed, valueUpdate:'afterkeydown'">
                                            <i style="position:absolute; top:7px; left:7px;" class="fa fa-search"></i>
                                        </div>
                                        <ul id="NV_Apdung_R" class="floatleft ul-nhan-vien-ap-dung" data-bind="foreach: PageResult_NVienChosed" style="max-height:350px; overflow:auto">
                                            <li style="padding:3px; border-bottom:1px solid #ccc">
                                                <div class="flex flex-row flex-between" style="align-items:center;flex-wrap:nowrap">
                                                    <button class="btn btn-default" data-bind="click: $parent.HoaHongHD_Remove1NhanVien">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                    </button>
                                                    <label class="flex flex-row flex-between" style="align-items:center; width:calc(100% - 32px); flex-wrap:nowrap">
                                                        <span style="   padding:3px 8px;  font-weight: normal;">
                                                            <span class="floatleft bold">Tên NV: <span data-bind="text: TenNhanVien"></span></span>
                                                            <small class="floatleft" style="line-height:18px">Mã NV: <span data-bind="text: MaNhanVien"></span></small>
                                                            <small class="floatleft" style="line-height:18px">Phòng: <span data-bind="text: TenNhanVien_GC"></span></small>
                                                        </span>
                                                        <input style="position:relative; margin:3px;" type="checkbox" data-bind="attr:{id: ID},event:{change: $parent.Check_UncheckNhanVien}">
                                                    </label>


                                                </div>


                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 nopadding">
            <div class="modal-footer nopadding">
                <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                <button type="button" class="btn btn-save" data-bind="click: HoaHongDoanhThu_Agree">
                    <i class="fa fa-save"></i>&nbsp; Lưu
                </button>
            </div>
        </div>
        <p style="font-style: italic; display:none">
            <span class="bold">
                (*) Áp dụng cho:
            </span><br />
            <span>
                1. Nếu là nhân viên bán hàng: sẽ tính trên tổng hóa đơn (theo thực thu/doanhthu)
            </span><br />
            <span>
                2. Nếu là nhân viên thực hiện/ tư vấn: sẽ tính theo hàng hóa (dịch vụ)
            </span><br />
            <span>
                3. Nếu là nhân viên lập hóa đơn: sẽ tính trên tổng hóa đơn (theo thực thu/doanhthu)
            </span>
        </p>
    </div>
</div>
<script>
    $(function () {
        $.datetimepicker.setLocale('vi');
        $('.datetime_TuNgay').datetimepicker({
            timepicker: false,
            mask: true,
            format: 'd/m/Y',
        });
    });
    $('#_tablehhdoanhthu tbody').on('click', 'tr td ._hoa-hong-doanh-thu', function () {
        $('.callprice').hide();
        $(this).next('.callprice').toggle();
        $('._hoa-hong-doanh-thu').mouseup(function () {
            return false
        });
        $('.callprice').mouseup(function () {
            return false
        });
        $(document).mouseup(function () {
            $('.callprice').hide();
        });
    });
    $('#_tablehhdoanhthu tbody').on('click', 'tr td .cantrol', function () {
        $('.callprice').hide();
    });
</script>