
<div id="HoSoNhanVien" class="hsnv-word" style="display:none" >

<div class="col-md-12 print-hsnv" >
    <div class=" col-md-12 nopadding"  style="height: 180px;">
        <div class="Content-hsnv">
            <h3>{{model.CongTy.TenCongTy}}</h3>
            <h4>Chi nhánh: {{model.CongTy.TenChiNhanh}}</h4>
            <h4>SĐT: {{model.CongTy.SDTChiNhanh}}</h4>
            <h4>Địa chỉ: {{model.CongTy.DiaChiChiNhanh}}</h4>
           
        </div>
        <div class="img-hsnv">
            <img v-bind:src="model.NhanVien.Image" >
        </div>
       
    </div>
    <div class="col-md-12">
        <h3 style="text-align:center">HỒ SƠ NHÂN VIÊN</h3>
        <p style="text-align:center">{{time}} </p>
        </div>
        <div class="col-md-12 tab-col-12">
                <h4>Thông tin chung</h4>
          
            <table class="hsnv-detail" >
                <tr>
                    <td class="tr-title">Họ và tên:</td>
                    <td class="tr-value">{{model.NhanVien.TenNhanVien}}</td>
                    <td class="tr-title">Giới tính:</td>
                    <td class="tr-value">{{model.NhanVien.GioiTinh}}</td>
                    <td class="tr-title"></td>
                    <td class="tr-value"></td>
                </tr>
                <tr>
                    <td>Ngày sinh:</td>
                    <td> {{commonStatisJs.convertDateTime(model.NhanVien.NgaySinh)}}</td>
                    <td>Nơi sinh:</td>
                    <td> {{model.NhanVien.NoiSinh}}</td>
                    <td>Hôn nhân:</td>
                    <td> {{model.NhanVien.TinhTrangHonNhan}}</td>
                </tr>
                <tr>
                    <td>CMND:</td>
                    <td>{{model.NhanVien.SoCMND}}</td>
                    <td>Ngày cấp:</td>
                    <td>{{commonStatisJs.convertDateTime(model.NhanVien.NgayCap)}}</td>
                    <td>Nơi cấp</td>
                    <td>{{model.NhanVien.NoiCap}}</td>
                </tr>
                <tr>
                    <td>Điện thoại:</td>
                    <td>{{model.NhanVien.DienThoaiNhaRieng}}</td>
                    <td>Di động:</td>
                    <td>{{model.NhanVien.DienThoaiDiDong}}</td>
                    <td>Email:</td>
                    <td>{{model.NhanVien.Email}}</td>
                </tr>
                <tr>
                    <td>Dân tộc:</td>
                    <td>{{model.NhanVien.DanToc}}</td>
                    <td>Tôn giáo:</td>
                    <td>{{model.NhanVien.TonGiao}}</td>
                    <td>Quốc tịch</td>
                    <td>{{model.NhanVien.QuocTich}}</td>
                </tr>
                <tr>
                    <td>Ghi chú:</td>
                    <td colspan="5">{{model.NhanVien.GhiChu}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 tab-col-12">
          
                <h4>Thông tin thường trú(hộ khẩu)</h4>
          
            <table class="hsnv-detail">
                <tr>
                    <td style="width:5%">Địa chỉ:</td>
                    <td style="width:45%"> {{model.NhanVien.HK_DiaChi}}</td>
                    <td style="width:5%">Xã phường:</td>
                    <td style="width:45%">{{model.NhanVien.HK_XP}}</td>
                </tr>
                <tr>
                    <td>Quận huyện:</td>
                    <td> {{model.NhanVien.HK_QH}}</td>
                    <td>Tỉnh thành:</td>
                    <td> {{model.NhanVien.HK_TT}}</td>

                </tr>
            </table>
        </div>
        <div class="col-md-12 tab-col-12">
          
                <h4>Thông tin tạm trú(nơi ở hiện nay)</h4>
       
            <table class="hsnv-detail">
                <tr>
                    <td style="width:5%">Địa chỉ:</td>
                    <td style="width:45%">{{model.NhanVien.TT_DiaChi}}</td>
                    <td style="width:5%">Xã phường:</td>
                    <td style="width:45%">{{model.NhanVien.TT_XP}}</td>
                </tr>
                <tr>
                    <td>Quận huyện:</td>
                    <td>{{model.NhanVien.TT_QH}}</td>
                    <td>Tỉnh thành:</td>
                    <td>{{model.NhanVien.TT_TT}}</td>
                </tr>
            </table>
        </div>
    <div class="col-md-12 tab-col-12">

        <h4>Thông tin chính trị</h4>

        <table class="hsnv-detail">
            <tr>
                <td class="tr-title">Ngày vào đoàn:</td>
                <td class="tr-value">{{commonStatisJs.convertDateTime(model.NhanVien.NgayVaoDoan)}}</td>
                <td class="tr-title">Nơi vào đoàn:</td>
                <td class="tr-value">{{model.NhanVien.NoiVaoDoan}}</td>
             
            </tr>
            <tr>
                <td class="tr-title">Ngày nhập ngũ:</td>
                <td class="tr-value">{{commonStatisJs.convertDateTime(model.NhanVien.NgayNhapNgu)}}</td>
                <td class="tr-title">Ngày xuất ngũ:</td>
                <td class="tr-value">{{commonStatisJs.convertDateTime(model.NhanVien.NgayXuatNgu)}}</td>
                
            </tr>
            <tr>
                <td class="tr-title">Ngày vào đảng:</td>
                <td class="tr-value">{{commonStatisJs.convertDateTime(model.NhanVien.NgayVaoDang)}}</td>
                <td class="tr-title">Ngày vào đảng chính thức:</td>
                <td class="tr-value">{{commonStatisJs.convertDateTime(model.NhanVien.NgayVaoDangChinhThuc)}}</td>
                
            </tr>
            <tr>
                <td class="tr-title">Nơi sinh hoạt đảng:</td>
                <td class="tr-value">{{model.NhanVien.NoiSinhHoatDang}}</td>
                <td class="tr-title">ngày rời khỏi đảng:</td>
                <td class="tr-value">{{commonStatisJs.convertDateTime(model.NhanVien.NgayRoiDang)}}</td>
            </tr>
            <tr>

                <td class="tr-title">Ghi chú:</td>
                <td colspan="3">{{model.NhanVien.GhiChuThongTinChinhTri}}</td>
            </tr>
        </table>
    </div>
        <div class="col-md-12 tab-col-12" >
            
                <h4>Thông tin công việc</h4>
        
            <table class="hsnv-detail">
                <tr>
                    <td class="tr-title">Thòng ban:</td>
                    <td class="tr-value">{{model.NhanVien.PhongBan}}</td>
                </tr>
                <tr>
                    <td class="tr-title">Ngày vào làm việc:</td>
                    <td class="tr-value">{{commonStatisJs.convertDateTime(model.NhanVien.NgayVaolam)}}</td>
                </tr>
                <tr>
                    <td class="tr-title">Trạng thái:</td>
                    <td class="tr-value">{{model.NhanVien.DaNghiViec}}</td>
                </tr>

            </table>
        </div>
        <div class="col-md-12 tab-col-12">
           
                <h4>Thông tin sức khỏe</h4>
        
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Ngày khám</td>
                        <td>Chiều cao(m)</td>
                        <td>Cân nặng(kg)</td>
                        <td>tình hình sức khỏe</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.SucKhoe">
                        <td> {{commonStatisJs.convertDateTime(item.NgayKham)}}</td>
                        <td>{{item.ChieuCao}}</td>
                        <td>{{item.CanNang}}</td>
                        <td>{{item.TinhHinhSucKhoe}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-12 tab-col-12">
          
                <h4>Thông tin gia đình</h4>
           
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Họ và tên</td>
                        <td>Ngày sinh</td>
                        <td>Nơi ở</td>
                        <td>Quan hệ(cha, mẹ...)</td>
                        <td>Địa chỉ</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.GiaDinh">
                        <td> {{item.HoTen}}</td>
                        <td>{{item.NgaySinh}}</td>
                        <td>{{item.NoiO}}</td>
                        <td>{{item.QuanHe}}</td>
                        <td>{{item.DiaChi}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-12 tab-col-12">
            
                <h4>Quá trình đào tạo</h4>
          
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Từ ngày</td>
                        <td>Đến ngày</td>
                        <td>Nơi học</td>
                        <td>Ngành học</td>
                        <td>Hệ đào tạo</td>
                        <td>Bằng cấp</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.DaoTao">
                        <td> {{commonStatisJs.convertDateTime(item.TuNgay)}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.DenNgay)}}</td>
                        <td>{{item.NoiHoc}}</td>
                        <td>{{item.NganhHoc}}</td>
                        <td>{{item.HeDaoTao}}</td>
                        <td>{{item.BangCap}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-12 tab-col-12">
            
                <h4>Quá trình công tác</h4>
          
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Từ ngày</td>
                        <td>Đến ngày</td>
                        <td>Cơ quan</td>
                        <td>Vị trí</td>
                        <td>Địa chỉ</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.CongTac">
                        <td> {{commonStatisJs.convertDateTime(item.TuNgay)}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.DenNgay)}}</td>
                        <td>{{item.CoQuan}}</td>
                        <td>{{item.ViTri}}</td>
                        <td>{{item.DiaChi}}</td>
                    </tr>
                </tbody>

            </table>
        </div>


        <div class="col-md-12 tab-col-12">
           
                <h4>Thông tin hợp đồng</h4>
           
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Số hợp đồng</td>
                        <td>Loại hợp đồng</td>
                        <td>Ngày ký</td>
                        <td>Thời hạn</td>
                        <td>Ghi chú</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.HopDong">
                        <td> {{item.SoHopDong}}</td>
                        <td>{{item.TextLoaiHopDong}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.NgayKy)}}</td>
                        <td>{{item.ThoiHanText}}</td>
                        <td>{{item.GhiChu}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-12 tab-col-12">
          
                <h4>Thông tin lương, phụ cấp</h4>
           
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Loại lương</td>
                        <td>Ngày áp dụng</td>
                        <td>Ngày kết thúc</td>
                        <td>Số tiền</td>
                        <td>Hệ số</td>
                        <td>Bậc</td>
                        <td>Nội dung</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.Luong">
                        <td> {{item.TenLoaiLuong}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.NgayApDung)}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.NgayKetThuc)}}</td>
                        <td>{{commonStatisJs.ConvertVnd(item.SoTien)}}</td>
                        <td>{{item.HeSo}}</td>
                        <td>{{item.Bac}}</td>
                        <td>{{item.NoiDung}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-12 tab-col-12">
          
                <h4>Thông tin bảo hiểm</h4>
           
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Loại bảo hiểm</td>
                        <td>Nơi bảo hiểm</td>
                        <td>Sổ bảo hiểm</td>
                        <td>Ngày cấp</td>
                        <td>Ngày hết hạn</td>
                        <td>Ghi chú</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.BaoHiem">
                        <td> {{item.TextLoaiBaoHiem}}</td>
                        <td>{{item.NoiBaoHiem}}</td>
                        <td>{{item.SoBaoHiem}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.NgayCap)}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.NgayHetHan)}}</td>
                        <td>{{item.GhiChu}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="col-md-12 tab-col-12">
          
                <h4>Thông tin miễn giảm thuế</h4>
          
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Khoản miễn giảm</td>
                        <td>Số tiền</td>
                        <td>Ngày áp dụng</td>
                        <td>Ngày kết thúc</td>
                        <td>Ghi chú</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.Thue">
                        <td> {{item.KhoanMienGiam}}</td>
                        <td>{{commonStatisJs.ConvertVnd(item.SoTien)}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.NgayApDung)}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.NgayKetThuc)}}</td>
                        <td>{{item.GhiChu}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="col-md-12 tab-col-12">
            
                <h4>Thông tin khen thưởng</h4>
            
            <table class="hsnv-table">
                <thead>
                    <tr>
                        <td>Hình thức</td>
                        <td>Số quyết định</td>
                        <td>Ngày ban hành</td>
                        <td>Nội dung tóm tắt</td>
                        <td>Ghi chú</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in model.KhenThuong">
                        <td> {{item.HinhThuc}}</td>
                        <td>{{item.SoQuyetDinh}}</td>
                        <td>{{commonStatisJs.convertDateTime(item.NgayBanHang)}}</td>
                        <td>{{item.NoiDung}}</td>
                        <td>{{item.GhiChu}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
    </div>
<script>
    var vmPrintHsnv = new Vue({
        el: '#HoSoNhanVien',
        data: {
            model: {
                CongTy: {},
                NhanVien: {},
                HopDong: [],
                KhenThuong: [],
                BaoHiem: [],
                Luong: [],
                DaoTao: [],
                CongTac: [],
                GiaDinh: [],
                SucKhoe: [],
                Thue: [],
                TenNhanVien: ''
            },
            time: ""
        },
        methods: {
            print: function (id, $this) {
                $this.gridLoader(); var self = this;
                var currentdate = new Date();
                self.time = "Ngày " + currentdate.getDate() + " tháng " + (currentdate.getMonth() + 1) + " năm " + currentdate.getFullYear();

                $.ajax({
                    url: "/api/DanhMuc/NS_NhanVienAPI/GetPrintHSNV?nhanvienId=" + id,
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (item) {
                        if (item.res === true) {
                            self.model = item.dataSoure;
                            sleep(500).then(() => {
                                commonStatisJs.printExtraReport($('#HoSoNhanVien').html());
                                $this.gridLoader({ show: false });
                            });
                        
                        }
                        else {
                            $this.gridLoader({ show: false });
                            self.messageError(item.mess);
                        }
                    }
                });
            },
            exportWord: function (id, $this) {
                $this.gridLoader();
                var self = this;
                var currentdate = new Date();
                self.time = "Ngày " + currentdate.getDate() + " tháng " + (currentdate.getMonth() + 1) + " năm " + currentdate.getFullYear();
                $.ajax({
                    url: "/api/DanhMuc/NS_NhanVienAPI/GetPrintHSNV?nhanvienId=" + id,
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (item) {
                        if (item.res === true) {
                            self.model = item.dataSoure;
                            sleep(500).then(() => {
                                var preHtml = "";
                                preHtml += '<style>table{width:100%;border-collapse:collapse}table thead th,table thead td{border:1px solid;border-color:#32383e}table td,table th{padding:7px;vertical-align:top;border-top:1px solid #dee2e6}table{width:100%}	 </style>';
                                //preHtml += '<link href="http://0973474985.open24.vn/Content/style.css" rel="stylesheet" type="text/css" />\n';
                                $("#HoSoNhanVien").wordExport({ style: preHtml, fileName: "DsNhanVien" });
                                $this.gridLoader({ show: false });
                            });
                        }
                        else {
                            $this.gridLoader({ show: false });
                            self.messageError(item.mess);
                        }
                    }
                });

            }

        },
        computed: {
        }
    });





</script>