<div class="modal fade in" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog draggable modal-md">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title txtEditThemBrand">Thêm mới nhà cung cấp</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <p id="message_error_dathang" class="text-right" style="color:red;"></p>
                    <div class="form-group floatleft">
                        <label>BrandName (<span style="color:red">*</span>) </label>
                        <div class="form-news">
                            <input type="text" class="form-control" id="txtTenBrandName"  onkeypress="return keycheck(event, this)">
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Ghi chú</label>
                        <div class="form-news">
                            <textarea type="text" rows="4" id="txtGhiChuBrand"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="flex flex-end">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
                        <button type="button" class="btn btn-save" id="btnThemMoiBrand" data-bind="click: $root.ThemMoiBrandName"> <i class="fa fa-save"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function keycheck(event, obj) {
        var keyCode = event.keyCode || event.which;
        var $this = ($(obj).val());
        if (keyCode === 32) {
            event.preventDefault();
        }
    }
</script>