<div id="vmThemMoiNguoiDung" class="modal fade">
    <div class="modal-dialog draggable modal-md">

        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    {{typeUpdate===1?'Thêm mới người dùng':'Cập nhật người dùng'}}
                </h4>
            </div>
            <div class="modal-body ">
                <div class="form-group floatleft">
                    <label>Nhân viên</label>
                    <div class="form-news">
                        <nhanviens :text-search="newUser.TenNhanVien"
                                   :staffs="listData.NhanViens"
                                   :id-chosing="newUser.ID_NhanVien"
                                   :search-list="listData.NhanViens"
                                   v-on:change-staff-parent="ChoseNhanVien">
                        </nhanviens>
                    </div>
                </div>
                <div class="form-group floatleft" data-bind="with: newNguoiDung">
                    <label class="form-label control-label">Tên đăng nhập</label>
                    <div class="form-news">
                        <input type="text" autocomplete="off"
                               class="form-control" required="" v-model="newUser.TaiKhoan">
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label class="form-label control-label req ng-binding">
                        {{typeUpdate ==1?'Mật khẩu':'Mật khẩu mới'}}
                    </label>
                    <div class="form-news">
                        <input type="password" autocomplete="off" class="form-control "
                               v-model="newUser.MatKhau">
                        <p class="notyfi-check"></p>
                    </div>
                </div>
                 
                <div class="form-group floatleft" data-bind="with: newNguoiDung">
                    <label class="form-label control-label req ng-binding">Gõ lại mật khẩu</label>
                    <div class="form-news">
                        <input type="password" class="form-control " autocomplete="off"
                               v-model="newUser.PasswordRepeat">
                    </div>
                </div>
                <div class="form-group floatleft" v-if="typeUpdate ==1">
                    <label class="form-label control-label">Vai trò</label>
                    <div class="form-news">
                        <vaitros :text-search="newUser.TenVaiTro"
                                 :list-all="listData.NhomNguoiDungs"
                                 :id-chosing="newUser.ID_NhomNguoiDung"
                                 :list-search="listData.NhomNguoiDungs"
                                 v-on:on-select-item="ChoseVaiTro">
                        </vaitros>
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label class="form-label control-label req ng-binding">Đơn vị</label>
                    <div class="form-news">
                        <chinhanhs :text-search="newUser.TenDonVi"
                                   :list-all="listData.ChiNhanhs"
                                   :id-chosing="newUser.ID_DonVi"
                                   v-on:on-select-item="ChoseChiNhanh">
                        </chinhanhs>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Bỏ qua
                    </button>
                    <button type="button" class="btn btn-main" v-on:click="SaveUser" v-if="!isSaving">
                        <i class="fa fa-save"></i> Lưu
                    </button>
                    <button type="button" class="btn btn-main" v-if="isSaving">
                        <i class="fa fa-save"></i> Đang lưu
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/Thietlap/_ThemMoiNguoiDung.js"></script>