<style>
    .css-form-detail {
        width: calc(100% - 95px);
        padding-top: 0;
    }
   .form-group label{
       width:95px;
   }
</style>
<div class="modal-content" id="AddEditMCC">
    <div class="modal-header">
        <h5 class="modal-title">{{TitlePopup}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
    </div>
    <div class="modal-body">
        <ul class="col-md-6">
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">   Kiểu máy (*)</label>
                <div class="css-form-detail">
                    <select class="form-control" required v-model="KieuMaySelected">
                        <option v-for="optionKieuMay in lstKieuMay" v-bind:value="optionKieuMay.value">{{optionKieuMay.text}}</option>
                    </select>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">     Mã máy</label>
                <div class="css-form-detail">
                    <input class="form-control" type="text" v-model="data.MaMCC"/>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">    Tên máy</label>
                <div class="css-form-detail">
                    <input class="form-control" type="text" v-model="data.TenMCC"/>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">    Tên hiển thị</label>
                <div class="css-form-detail">
                    <input class="form-control" type="text" v-model="data.TenHienThi"/>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">      Chi nhánh (*)</label>
                <div class="css-form-detail">
                    <select class="form-control" required v-model="ChiNhanhSelected">
                        <option value="1">Chọn chi nhánh</option>
                        <option v-for="optionChiNhanh in lstChiNhanh" v-bind:value="optionChiNhanh.ID">{{optionChiNhanh.MaDonVi}} - {{optionChiNhanh.TenDonVi}}</option>
                    </select>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">      Kiểu kết nối</label>
                <div class="css-form-detail">
                    <select class="form-control" v-model="KieuKetNoiSelected">
                        <option v-for="optionKieuKetNoi in lstKieuKetNoi" v-bind:value="optionKieuKetNoi.value">{{optionKieuKetNoi.text}}</option>
                    </select>
                </div>
            </li>
        </ul>
        <ul class="col-md-6">
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">      IP/Domain (*)</label>
                <div class="css-form-detail" >
                    <input class="form-control"required type="text" v-model="data.IP"/>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">       Cổng kết nối (*)</label>
                <div class="css-form-detail">
                    <input class="form-control"required type="text" v-model="data.Port"/>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">     Số series (*)</label>
                <div class="css-form-detail">
                    <input class="form-control"required type="text" v-model="data.SoSeries"/>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">     Mật mã</label>
                <div class="css-form-detail">
                    <input class="form-control" type="text" v-model="data.MatMa"/>
                </div>
            </li>
            <li class="form-group floatleft">
                <label class="css-form-label ng-binding">     ID máy</label>
                <div class="css-form-detail">
                    <input class="form-control" type="text" v-model="data.IDMay"/>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer" style="margin-left:calc(50% - 100px)">
        <button type="button" class="btn btn-cancel" data-dismiss="modal" style=" background:#f34545">Hủy</button>
        <button type="button" class="btn btn-save" v-on:click="SaveMCC"><i class="fa fa-save"></i>Lưu</button>
    </div>
</div>
