<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title" data-bind="text: TieuDeThemNhanVien">
            @*Thêm mới nhân viên*@
        </h4>
    </div>
    <div class="modal-body " style="max-height:unset">
        <div>
            <div class="flex">
                <div style="padding:15px">
                    <div style="width:150px; height:150px; padding:5px; margin:5px 0; border:1px dotted #ccc" data-bind="with: newNhanVien">
                        <img data-bind="attr: {'src': Image() == '' ? '/Content/images/photo.png' : Image()}" style="object-fit:cover; width: 100%; height:100%;" class="" alt="Ảnh nhân viên" id="imgAnhNhanVienThemMoi1"/>
                    </div>
                    <span class="btn  btn-file btn-main floatleft">
                        Chọn ảnh <input type='file' id="imageUploadFormTR" name="files[]" accept=".png,.jpg,.jpeg,.gif" onchange="readURLTR(this);" />
                    </span>

                </div>
                <div style="padding:15px">
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label class="">Mã nhân viên</label>
                        <div class="form-news">
                            <input type="text" class="form-control" id="txtMaNhanVien" placeholder="Mã mặc định" data-bind="value: MaNhanVien">
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label class="">Tên nhân viên <span style="color:red">(*)</span></label>
                        <div class="form-news">
                            <input type="text" class="form-control" autofocus="" autocomplete="off" required="" id="txtTenNhanVien1" data-bind="value: TenNhanVien">
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label>Ngày sinh</label>
                        <div class="form-news" style="position:relative">
                            <input class="form-control" id="datetimepicker_mask" type="text" autocomplete="off" data-bind="value: NgaySinh, click: $parent.formatDatetime">
                            <i class="fa fa-calendar" style="position:absolute;top:7px; right:7px;" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Giới tính</label>
                        <div class="form-news">
                            <span>
                                <label><input type="radio" name="rdgioitinh" data-bind="checked: newNhanVien().GioiTinh, checkedValue: true" /> Nam</label>
                            </span>
                            <span>
                                <label><input type="radio" name="rdgioitinh" data-bind="checked: newNhanVien().GioiTinh, checkedValue: false" /> Nữ</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floatleft">
                <div class="col-md-6">

                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label>Quê quán</label>
                        <div class="form-news"><input type="text" class="form-control " data-bind="value: NguyenQuan"></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label>Email</label>
                        <div class="form-news"><input type="text" class="form-control" required="" data-bind="value:Email"></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label>Địa chỉ</label>
                        <div class="form-news"><input type="text" class="form-control" placeholder="" data-bind="value: ThuongTru"></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label>Điện thoại</label>
                        <div class="form-news">
                            <input type="text" class="form-control" onkeypress="return keypressNumber(event)" data-bind="value: DienThoaiDiDong">
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label>Số CMT</label>
                        <div class="form-news">
                            <input type="text" class="form-control" onkeypress="return keypressNumber(event)" placeholder="" data-bind="value: SoCMND">
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label>Số bảo hiểm</label>
                        <div class="form-news">
                            <input type="text" class="form-control " onkeypress="return keypressNumber(event)" placeholder="" data-bind="value: SoBHXH">
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Tình trạng</label>
                        <div class="form-news">

                            <span>
                                <label><input type="radio" name="rddanghiviec" data-bind="checked: newNhanVien().DaNghiViec, checkedValue: true" />  Đang làm</label>
                            </span>
                            <span>
                                <label><input type="radio" name="rddanghiviec" data-bind="checked: newNhanVien().DaNghiViec, checkedValue: false" />  Đã nghỉ việc</label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group floatleft" data-bind="with: newNhanVien">
                        <label>Ghi chú</label>
                        <div class="form-news">
                            <textarea rows="1" data-bind="value: GhiChu"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floatleft">
               <ul data-bind=" foreach: listAddChiNhanh">
                   <li>
                       <div class="col-md-6 col-xs-12 col-sm-12 ">

                           <div class="form-group floatleft">
                               <label>Chi nhánh</label>
                               <div class="form-news">
                                   <div class="dropdown">
                                       <div class="form-control" style="cursor:pointer" data-bind="text:Text_ChiNhanh" data-toggle="dropdown"> </div>
                                       <ul class="dropdown-menu" style="width:100%"data-bind="foreach: $root.DonVis">
                                               <li  data-bind="attr:{id: ID}, click: function(){ $root.SeletecChiNhanh($parent,$data); }">
                                                   <a data-bind="text: TenDonVi "></a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>

                       </div>
                       <div class="col-md-6 col-xs-12 col-sm-12 ">
                           <div class="form-group floatleft">
                               <label>Phòng ban</label>
                               <div class="form-news ">
                                   <div class="flex" style="width:100%">
                                       <div class="dropdown " id="popupphongban"style="width:100%">
                                           <div class=" " data-toggle="dropdown" aria-expanded="true">
                                               <div class="form-control" style="cursor:pointer" data-bind="text:Text_PhongBan"></div>
                                               <button class="btn btn-default op-js-themmoinhomhang btn-right height-30" data-bind="click: $parent.showModelPhongBan">
                                                   <i class="fa fa-plus" aria-hidden="true"></i>
                                               </button>
                                           </div>
                                           <ul id="selectPhongBan" class="group-parent op-js-donvis dropdown-menu " data-bind="foreach: $data.listPhongBan" style="width:100%">
                                               <li data-bind="attr:{id: id},click: function(){ $root.Seletecphongban($parent,$data); }">
                                                   <a class="floatleft" data-bind="text:text"></a>
                                                   <ul class="group-parent" data-bind="foreach: children">
                                                       <li data-bind="attr:{id: id},click: function(){ $root.Seletecphongban($parentContext.$parent,$data); }">
                                                           <a class="floatleft" data-bind="text:text"></a>
                                                           <ul class="group-parent" data-bind="foreach: children">
                                                               <li data-bind="attr:{id: id},click: function(){ $root.Seletecphongban($parentContext.$parent,$data); }">
                                                                   <a class="floatleft" data-bind="text:text"></a>
                                                               </li>
                                                           </ul>
                                                       </li>
                                                   </ul>
                                               </li>
                                           </ul>

                                       </div>
                                       <button class="btn btn-link height-30" data-bind="click:$parent.RemoveChiNhanh, visible: ID != 1">
                                           <span class="fa fa-close text-danger"></span>
                                       </button>
                                   </div>
                               </div>
                              
                           </div>

                       </div>
                   </li>
               </ul>
              
            </div>
            <div class="floatleft">
                <button type="button" class="btn btn-main " data-bind="click:AddChiNhanh">Thêm chi nhánh phòng ban</button>
            </div>

        </div>







    </div>
    <div class="modal-footer">
        <div class="container-fluid">

            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
            
            <button type="button" class="btn btn-save" data-bind="click: addNhanVien"><i class="fa fa-save"></i> Lưu</button>

        </div>
    </div>
</div>
<style>
    .li-input-span {
        color: #333;
        line-height: 30px;
        text-align: left;
        width: auto !important;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
    }

    .li-input-select {
        background: #fff;
        color: #333;
        line-height: 30px;
        text-align: left;
        width: auto !important;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
    }

    .check-after-li {
        float: right;
        padding-right: 20px;
        line-height: 21px;
        color: #009ddc;
        display: inline;
    }
</style>
<script>
    
    function readURLTR(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgAnhNhanVienThemMoi1')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
