<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title" id="myModalLabel">Thêm vai trò</h4>
    </div>
    <div class="modal-body loadsuavt">
        <div class="add-permission form-group" data-bind="with : newVaiTro">
            <label>Vai trò</label>
            <div class="form-news">
                <input type="text" class="form-control floatleft" style="width:100%" id="txtTenNhomVaiTro" data-bind="value: TenNhom" autocomplete="off" placeholder="Nhập tên vai trò mới" />
            </div>
        
        </div>
        <div class="collapse-nd pull-right addvaitro" style="display:none">
            <span></span>  Thu gọn
        </div>
        <div class="permission-choose floatleft" data-bind="foreach : $root.QuyenChas" style="display:none">
            <!-- ko if: TenQuyen !== ""-->
            <div class="col3">
                <h3>
                    <span data-bind="text: TenQuyen"></span>
                    <a  class="showhideicon" onclick="ShowDetailpermission($(this))">
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                    </a>
                </h3>
                <ul class="floatleft" data-bind="foreach: Childs ">
                    <li>
                        <div class="list-permission">
                            <input type="checkbox" data-bind="attr:{id: MaQuyen}" onclick="SetCheckAllChild2(this)" />
                            <span data-bind="text: TenQuyen"></span>
                        </div>
                        <a href="javascript:void(0)" onclick="ShowPermission($(this))" class="more-permission" data-bind="visible: Child2s.length > 0">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <ul class="floatleft listparent" data-bind="foreach: Child2s">
                            <li>
                                <div class="list-permission checkall">
                                    <input type="checkbox" data-bind="attr:{id: MaQuyen}" onclick="getMaQuyen(this)" />
                                    <span data-bind="text: TenQuyen"></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /ko-->
        </div>
    </div>
    <div class="modal-footer ">
       
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Đóng</button>
            <button type="button" class="btn btn-save" data-bind="click: addVaiTro"><i class="fa fa-save"></i> Lưu</button>
        
    </div>
</div>
<script>
    $(".addvaitro").click(function () {
        $(this).toggleClass("check");
        if ($(this).hasClass("check")) {
            $("#modalContainerlg_VaiTro .col3 ul").hide();
        }
        else {
            $("#modalContainerlg_VaiTro .col3 ul").show();
        }
    });
</script>
