        <div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">
            Chi nhánh
        </h4>
    </div>
    <div class="modal-body ">
       


                <div class="form-group floatleft" data-bind="with: newDonVi">
                    <label class="css-form-label">Mã chi nhánh <span style="color:red">(*)</span></label>
                    <div class="css-form-detail">
                        <input type="text" id="txtMaDonVi" class="form-control" required="" data-bind="value: MaDonVi">
                    </div>
                </div>
                <div class="form-group floatleft" data-bind="with: newDonVi">
                    <label class="css-form-label">Tên chi nhánh <span style="color:red">(*)</span></label>
                    <div class="css-form-detail">
                        <input type="text" id="txtTenDonVi" class="form-control" required="" data-bind="value: TenDonVi">
                    </div>
                </div>
                <div class="form-group floatleft" data-bind="with: newDonVi">
                    <label class="css-form-label">Điện thoại</label>
                    <div class="css-form-detail"><input type="text" class="form-control" required="" data-bind="value: SoDienThoai" onkeypress="return keyPress(event)"></div>
                </div>
                <div class="form-group floatleft" data-bind="with: newDonVi">
                    <label class="css-form-label req ng-binding">Địa chỉ</label>
                    <div class="css-form-detail">
                        <input type="text" class="form-control " placeholder="" data-bind="value: DiaChi">
                    </div>
                </div>



           
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
        <button type="button" class="btn btn-save" data-bind="click: addChiNhanh"> <i class="fa fa-save"></i> Lưu</button>
    </div>
</div>
<script>
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed === 8 || keypressed === 127) {
                return;
            }
            return false;
        }
    }
</script>