<style>
    .ddl-kituphancach {
        width: 100%;
        font-weight: 400;
        float: left;
        line-height: 30px;
    }

    #tblSetup .input1:after {
        left: 18px;
    }

    #tblSetup .input2:after {
        left: 34px;
    }
    /*#tblSetup .group-parent li {
        font-weight: bold,
    }*/
    .width100 {
        width: 100%;
    }

    .thead {
        background-color: #d2f0ef;
        height: 40px;
    }

    tbody td, th {
        font-size: 12px;
    }

    tbody .trdata td {
        padding: 1px 7px;
    }

    #tblSetup input[type=text] {
        text-align: center;
        border: none;
        outline: none;
        border-bottom: 1px solid #ccc;
        height: 16px;
    }
</style>
<div class="modal fade in" id="mdThietLapMaChungTu">
    <div class="modal-dialog draggable modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    Cài đặt mã chứng từ
                </h4>
            </div>
            <div class="modal-body">
                <div class="table-frame" style="overflow:auto; max-height:600px!important">
                    <table id="tblSetup" class="table-responsive">
                        <thead>
                            <tr class="">
                                <th style="width:5%;" class="text-center">Sử dụng</th>
                                <th style="width:10%;" class="text-center">Chứng từ</th>
                                <th style="width:10%;" class="text-center">Chi nhánh</th>
                                <th style="width:6%;" class="text-center">(1)</th>
                                <th style="width:8%;" class="text-center">Kí hiệu</th>
                                <th style="width:6%" class="text-center">(2)</th>
                                <th style="width:10%;" class="text-center">Ngày tháng năm</th>
                                <th style="width:6%;" class="text-center">(3)</th>
                                <th style="width:10%;" class="text-center">Độ dài STT</th>
                                <th class="text-center">Mẫu</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!--ko foreach: TblSetup-->
                            <tr class="trdata">
                                <td class="text-center"><input type="checkbox" class="input1" data-bind="checked: ApDung" /></td>
                                <td data-bind="text: LoaiChungTu"></td>
                                <td class="text-center">
                                    <input type="checkbox" class="input2" data-bind="checked: SuDungMaDonVi, event:{change: $root.ChoseChiNhanh}" />
                                </td>
                                <td>
                                    <div class="ddl-kituphancach">
                                        <div class="outselect">
                                            <div class="floatleft " data-toggle="dropdown" aria-expanded="false">
                                                <input type="text" class="bold width100" onkeypress="return CheckKiTuNganCach(event)" maxlength="1"
                                                       data-bind="event:{keyup: function(){$root.EditKiTuNganCach($data,1)}}, value: KiTuNganCach1" />
                                            </div>
                                            <div class="selec-person dropdown-menu floatleft ">
                                                <ul class="group-parent" data-bind="foreach: KiTuNganCachs">
                                                    <li data-bind="click: function() {$root.Chose_KiTuPhanCach($data,$parent, 1)}">
                                                        <div class="group-p1">
                                                            <a href="javascript:void(0)" class="bold" data-bind="text: Text, attr:{id: ID}"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center red font13" data-bind="text: MaLoaiChungTu"></td>
                                <td>
                                    <div class="ddl-kituphancach">
                                        <div class="outselect">
                                            <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                                <input type="text" class="bold width100" onkeypress="return CheckKiTuNganCach(event)" maxlength="1"
                                                       data-bind="event:{keyup: function(){$root.EditKiTuNganCach($data,2)}}, value: KiTuNganCach2" />
                                            </div>
                                            <div class="selec-person dropdown-menu floatleft ">
                                                <ul class="group-parent" data-bind="foreach: KiTuNganCachs">
                                                    <li data-bind="click: function() {$root.Chose_KiTuPhanCach($data, $parent, 2)}">
                                                        <div class="group-p1">
                                                            <a href="javascript:void(0)" class="bold" data-bind="text: Text, attr:{id: ID}"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="ddl-kituphancach">
                                        <div class="outselect">
                                            <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                                <input type="text" class="text-center width100" readonly data-bind="value: NgayThangNam" />
                                            </div>
                                            <div class="selec-person dropdown-menu floatleft ">
                                                <ul class="group-parent" data-bind="foreach: NgayThangNams">
                                                    <li data-bind="click: function() {$root.Chose_KiTuPhanCach($data, $parent, 4)}">
                                                        <div class="group-p1">
                                                            <a href="javascript:void(0)" data-bind="text: Text, attr:{id: ID}"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="ddl-kituphancach">
                                        <div class="outselect">
                                            <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                                <input type="text" class="bold width100" onkeypress="return CheckKiTuNganCach(event)" maxlength="1"
                                                       data-bind="event:{keyup: function(){$root.EditKiTuNganCach($data,3)}}, value: KiTuNganCach3" />
                                            </div>
                                            <div class="selec-person dropdown-menu floatleft ">
                                                <ul class="group-parent" data-bind="foreach: KiTuNganCachs">
                                                    <li data-bind="click: function() {$root.Chose_KiTuPhanCach($data, $parent, 3)}">
                                                        <div class="group-p1">
                                                            <a href="javascript:void(0)" class="bold" data-bind="text: Text, attr:{id: ID}"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="bold width100" onkeypress="return keypressNumber(event)" maxlength="2"
                                           data-bind="event:{keyup: function(){$root.EditDoDai ($data)}}, value: DoDaiSTT==0? '': DoDaiSTT" />
                                </td>
                                <td data-bind="text: Mau"></td>
                            </tr>
                            <!--/ko-->
                        </tbody>
                    </table>

                    <ul style="color:red; margin-left: 27px;margin-top:15px">
                        <li>
                            (*): 1,2,3 lần lượt là kí tự ngăn cách giữa:
                        </li>
                        <li>
                            1. Chi nhánh - mã chứng từ
                        </li>
                        <li>
                            2. Mã chứng từ - thời gian lập phiếu
                        </li>
                        <li>
                            3. Thời gian lập phiếu - độ dài chứng từ
                        </li>
                    </ul>

                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Bỏ qua
                    </button>

                    <button type="button" class="btn btn-save" data-bind="click: Save">
                        <i class="fa fa-save" aria-hidden="true"></i> Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
