<style>
    .jsSearchProduct {
        width: 100%;
    }

    #vmThemMoiKhuyenMai .dropdown-menu li {
        padding: 3px 8px;
        border-bottom: 1px solid #ccc
    }

    #vmThemMoiKhuyenMai .border-bottom {
        border-bottom: 1px solid #ccc
    }
</style>

<div id="vmThemMoiKhuyenMai" class="modal fade">
    <div class="modal-dialog draggable modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    {{typeUpdate===1?'Thêm mới':'Cập nhật'}} chương trình khuyến mại
                </h4>
            </div>
            <div class="modal-body ">
                <div class="col-lg-12 nopadding">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-lg-5 nopadding-right">Mã chương trình</label>
                            <div class="col-lg-7">
                                <input class="form-control" type="text" title="Mã chương trình" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-5 nopadding-right">Tên chương trình</label>
                            <div class="col-lg-7">
                                <input class="form-control" type="text" title="Tên chương trình" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-lg-2">Trạng thái</label>
                            <div class="col-lg-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineRadio1" value="1" v-model="objKhuyenMai.TrangThai">
                                    <label class="form-check-label" for="inlineRadio1">Kích hoạt</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineRadio2" value="0" v-model="objKhuyenMai.TrangThai">
                                    <label class="form-check-label" for="inlineRadio2">Kích hoạt</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2">Ghi chú</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" title="Ghi chú" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" style="padding-top:16px;">
                    <ul class="nav nav-tabs">
                        <li role="tab" class="nav-item active">
                            <a href="#hinhthucKhuyenMai" data-toggle="tab">Hình thức khuyến mại</a>
                        </li>
                        <li role="tab" class="nav-item">
                            <a href="#thoigianApDung" data-toggle="tab">Thời gian áp dụng</a>
                        </li>
                        <li role="tab" class="nav-item">
                            <a href="#phamviApDung" data-toggle="tab">Phạm vi áp dụng</a>
                        </li>
                    </ul>

                    <div class="tab-content" style="padding-top:16px">
                        <div id="hinhthucKhuyenMai" class="tab-pane active">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label class="col-lg-5 nopadding">Khuyến mại theo</label>
                                    <div class="col-lg-7">
                                        <loai-khuyen-mai placeholder="Chọn"
                                                         :text-search="loaiKMChosing.Text"
                                                         :list-all="ArrLoaiKhuyenMai"
                                                         :list-search="ArrLoaiKhuyenMai"
                                                         :id-chosing="loaiKMChosing.ID"
                                                         v-on:on-select-item="ChangeLoaiKhuyenMai">
                                        </loai-khuyen-mai>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-lg-3">Hình thức</label>
                                    <div class="col-lg-9">
                                        <hinh-thuc-khuyen-mai placeholder="Chọn"
                                                              :text-search="hinhhinhKMChosing.Text"
                                                              :list-all="ArrHinhThucKhuyenMai.filter(x=>x.ID.toString().indexOf(objKhuyenMai.LoaiKhuyenMai) == 0)"
                                                              :list-search="ArrHinhThucKhuyenMai.filter(x=>x.ID.toString().indexOf(objKhuyenMai.LoaiKhuyenMai) == 0)"
                                                              :id-chosing="hinhhinhKMChosing.ID"
                                                              v-on:on-select-item="ChangeHinhThucKM">
                                        </hinh-thuc-khuyen-mai>
                                    </div>
                                </div>
                            </div>

                            @*các hình thức khuyến mại*@
                            <div style="margin-top:24px">
                                <div class="col-lg-12" style="box-shadow: 1px 2px 9px 2px #cccc;padding:16px;margin-top:24px">

                                    @*hoa don*@
                                    <div class="col-lg-12" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HD_GIAM_GIAHD">
                                        <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                            <label class="col-lg-4">Tổng tiền hàng</label>
                                            <label class="col-lg-4">Giảm giá</label>
                                        </div>

                                        <div class="col-lg-12 flex flex-row nopadding-right nopadding-left" style="margin-top: 16px; align-items:center"
                                             v-for="(ctkm, index) in chitietKM">
                                            <div class="col-lg-4 flex flex-row nopadding-left">
                                                <label>Từ</label>
                                                <input class="form-control" style="margin-left:16px" title="Tồng tiền hàng từ" />
                                            </div>
                                            <div class="col-lg-3 flex">
                                                <input class="form-control" title="Giá trị giảm giá" />
                                            </div>
                                            <div class="col-lg-2 flex">
                                                <div class="toggle" v-on:click="ChangePtramVND(ctkm,index)" 
                                                     v-bind:class="[ctkm.GiamGiaTheoPhanTram ? 'active-re' : '']">
                                                    <div class="toggle-line"></div>
                                                    <span class="toggle-element">VNĐ</span>
                                                    <span class="toggle-element toggle-element-percent selected">%</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 flex flex-end nopading-right">
                                                <a href="javascript:void(0)" class="btn-gray" title="Xóa" v-on:click="RemoveChiTietKM (ctkm,index)">
                                                    <i class="material-icons" style="color:#B60201;">close</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    @*hóa đơn - tặng hàng*@
                                    <div class="col-lg-12" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HD_TANG_HANG">
                                        <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                            <label class="col-lg-3">Tổng tiền hàng</label>
                                            <label class="col-lg-2">SL tặng</label>
                                            <label class="col-lg-6">Tặng hàng/ Nhóm hàng</label>
                                        </div>

                                        <div class="col-lg-12 flex flex-row nopadding-right nopadding-left" style="margin-top: 16px; align-items:center"
                                             v-for="(ctkm, index) in chitietKM">
                                            <div class="col-lg-3 flex flex-row nopadding-left">
                                                <label>Từ</label>
                                                <input class="form-control" style="margin-left:16px" title="Tồng tiền hàng từ" />
                                            </div>
                                            <div class="col-lg-2 flex">
                                                <input class="form-control" title="Số lượng tặng" />
                                            </div>
                                            <div class="col-lg-6 flex">
                                                <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                          :role-add="true"
                                                          v-on:chose-product="ChoseProduct">
                                                </products>
                                            </div>
                                            <div class="col-lg-1 flex flex-end nopading-right">
                                                <a href="javascript:void(0)" class="btn-gray" title="Xóa" v-on:click="RemoveChiTietKM (ctkm,index)">
                                                    <i class="material-icons" style="color:#B60201;">close</i>
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                                    @*hóa đơn - giảm giá hàng*@
                                    <div class="col-lg-12" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HD_GIAM_GIA_HANG">
                                        <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                            <label class="col-lg-3">Tổng tiền hàng</label>
                                            <label class="col-lg-2">Giảm giá</label>
                                            <label class="col-lg-7">Hàng/ Nhóm hàng được giảm giá</label>
                                        </div>

                                        <div class="col-lg-12 flex flex-row nopadding-right nopadding-left" style="margin-top: 16px; align-items:center"
                                             v-for="(ctkm, index) in chitietKM">
                                            <div class="col-lg-3 flex flex-row nopadding-left">
                                                <label>Từ</label>
                                                <input class="form-control" style="margin-left:16px" title="Tồng tiền hàng từ" />
                                            </div>
                                            <div class="col-lg-2 flex flex-row nopadding">
                                                <input class="form-control" title="Giá trị giảm giá" />
                                                <div class="toggle" v-on:click="ChangePtramVND(ctkm,index)"
                                                     v-bind:class="[ctkm.GiamGiaTheoPhanTram ? 'active-re' : '']">
                                                    <div class="toggle-line"></div>
                                                    <span class="toggle-element">VNĐ</span>
                                                    <span class="toggle-element toggle-element-percent selected">%</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 flex flex-row nopadding">
                                                <div class="col-lg-3">
                                                    <input class="form-control" title="Số lượng được giảm" placeholder="SL" />
                                                </div>
                                                <div class="col-lg-8 nopadding">
                                                    <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                              :role-add="true"
                                                              v-on:chose-product="ChoseProduct">
                                                    </products>
                                                </div>
                                                <div class="col-lg-1 flex flex-end nopading-right">
                                                    <a href="javascript:void(0)" class="btn-gray" title="Xóa" v-on:click="RemoveChiTietKM (ctkm,index)">
                                                        <i class="material-icons" style="color:#B60201;">close</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*hóa đơn - tặng điểm*@
                                    <div class="col-lg-12" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HD_TANG_DIEM">
                                        <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                            <label class="col-lg-4">Tổng tiền hàng</label>
                                            <label class="col-lg-4">Điểm cộng</label>
                                        </div>

                                        <div class="col-lg-12 flex flex-row nopadding-right nopadding-left" style="margin-top: 16px; align-items:center"
                                             v-for="(ctkm, index) in chitietKM">
                                            <div class="col-lg-4 flex flex-row nopadding-left">
                                                <label>Từ</label>
                                                <input class="form-control" style="margin-left:16px" title="Tồng tiền hàng từ" />
                                            </div>
                                            <div class="col-lg-3 flex">
                                                <input class="form-control" title="Số điểm được cộng" />
                                            </div>
                                            <div class="col-lg-2 flex">
                                                <div class="toggle" v-on:click="ChangePtramVND(ctkm,index)"
                                                     v-bind:class="[ctkm.GiamGiaTheoPhanTram ? 'active-re' : '']">
                                                    <div class="toggle-line"></div>
                                                    <span class="toggle-element">VNĐ</span>
                                                    <span class="toggle-element toggle-element-percent selected">%</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 flex flex-end nopading-right">
                                                <a href="javascript:void(0)" class="btn-gray" title="Xóa" v-on:click="RemoveChiTietKM (ctkm,index)">
                                                    <i class="material-icons" style="color:#B60201;">close</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    @*hàng hóa*@
                                    <div class="col-lg-12" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HH_GIAM_GIA_HANG">
                                        <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                            <label class="col-lg-5">Hàng/ Nhóm hàng mua</label>
                                            <label class="col-lg-2">Giảm giá</label>
                                            <label class="col-lg-5">Hàng/ Nhóm hàng được giảm giá</label>
                                        </div>

                                        <div class="col-lg-12 flex flex-row nopadding-right no-padding-left" style="margin-top: 16px; align-items:center"
                                             v-for="(ctkm, index) in chitietKM">
                                            <div class="col-lg-5 flex flex-row nopadding-left">
                                                <div class="col-lg-3 nopadding-left">
                                                    <input class="form-control" title="Số lượng hàng mua" placeholder="SL" />
                                                </div>
                                                <div class="col-lg-9 nopadding">
                                                    <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                              :role-add="true"
                                                              v-on:chose-product="ChoseProduct">
                                                    </products>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 flex flex-row nopadding">
                                                <input class="form-control" placeholder="Giá trị" />
                                                <div class="toggle" v-on:click="ChangePtramVND(ctkm,index)"
                                                     v-bind:class="[ctkm.GiamGiaTheoPhanTram ? 'active-re' : '']">
                                                    <div class="toggle-line"></div>
                                                    <span class="toggle-element">VNĐ</span>
                                                    <span class="toggle-element toggle-element-percent selected">%</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 flex flex-row nopadding">
                                                <div class="col-lg-3">
                                                    <input class="form-control" title="Số lượng hàng được giảm giá" placeholder="SL" />
                                                </div>
                                                <div class="col-lg-8 nopadding">
                                                    <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                              :role-add="true"
                                                              v-on:chose-product="ChoseProduct">
                                                    </products>
                                                </div>
                                                <div class="col-lg-1 flex flex-end nopading-right">
                                                    <a href="javascript:void(0)" class="btn-gray" title="Xóa" v-on:click="RemoveChiTietKM (ctkm,index)">
                                                        <i class="material-icons" style="color:#B60201;">close</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*hàng hóa - tặng hàng*@
                                    <div class="col-lg-12" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HH_TANG_HANG">
                                        <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                            <label class="col-lg-6">Hàng/ Nhóm hàng mua</label>
                                            <label class="col-lg-6">Hàng/ Nhóm hàng được tặng</label>
                                        </div>

                                        <div class="col-lg-12 flex flex-row nopadding-right no-padding-left" style="margin-top: 16px; align-items:center"
                                             v-for="(ctkm, index) in chitietKM">

                                            <div class="col-lg-6 flex flex-row nopadding-left">
                                                <div class="col-lg-3 nopadding-left">
                                                    <input class="form-control" title="Số lượng hàng mua" placeholder="SL mua" />
                                                </div>
                                                <div class="col-lg-9 nopadding">
                                                    <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                              :role-add="true"
                                                              v-on:chose-product="ChoseProduct">
                                                    </products>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 flex flex-row nopadding">
                                                <div class="col-lg-3">
                                                    <input class="form-control" title="Số lượng hàng tặng" placeholder="SL tặng" />
                                                </div>
                                                <div class="col-lg-8 nopadding">
                                                    <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                              :role-add="true"
                                                              v-on:chose-product="ChoseProduct">
                                                    </products>
                                                </div>
                                                <div class="col-lg-1 flex flex-end nopading-right">
                                                    <a href="javascript:void(0)" class="btn-gray" title="Xóa" v-on:click="RemoveChiTietKM (ctkm,index)">
                                                        <i class="material-icons" style="color:#B60201;">close</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*hàng hóa - tặng điểm*@
                                    <div class="col-lg-12" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HH_TANG_DIEM">
                                        <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                            <label class="col-lg-6">Hàng/ Nhóm hàng mua</label>
                                            <label class="col-lg-4">Điểm cộng</label>
                                        </div>

                                        <div class="col-lg-12 flex flex-row nopadding-right no-padding-left" style="margin-top: 16px; align-items:center"
                                             v-for="(ctkm, index) in chitietKM">
                                            <div class="col-lg-6 flex flex-row nopadding-left">
                                                <div class="col-lg-3 nopadding-left">
                                                    <input class="form-control" title="Số lượng hàng mua" placeholder="SL mua" />
                                                </div>
                                                <div class="col-lg-9 nopadding">
                                                    <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                              :role-add="true"
                                                              v-on:chose-product="ChoseProduct">
                                                    </products>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 flex flex-row nopadding">
                                                <div class="col-lg-4">
                                                    <input class="form-control" title="Giá trị điểm cộng" />
                                                </div>
                                                <div class="col-lg-8 nopadding">
                                                    <div class="toggle" v-on:click="ChangePtramVND(ctkm,index)"
                                                         v-bind:class="[ctkm.GiamGiaTheoPhanTram ? 'active-re' : '']">
                                                        <div class="toggle-line"></div>
                                                        <span class="toggle-element">VNĐ</span>
                                                        <span class="toggle-element toggle-element-percent selected">%</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-1 flex flex-end nopading-right">
                                                <a href="javascript:void(0)" class="btn-gray" title="Xóa" v-on:click="RemoveChiTietKM (ctkm,index)">
                                                    <i class="material-icons" style="color:#B60201;">close</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    @*hàng hóa - giá bán theo số lượng mua*@
                                    <div class="col-lg-12" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HH_GIA_BAN_THEO_SO_LUONG">

                                        <div class="col-lg-12 nopadding-left nopadding-right"
                                             v-bind:class="[index < chitietKM.length -1 ? 'border-bottom' : '']"
                                             style="align-items:center;padding-bottom:12px; padding-top:16px"
                                             v-for="(ctkm,index) in chitietKM">
                                            <div class="col-lg-2">
                                                <label>Khi mua</label>
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="col-lg-12 nopadding">
                                                    <div class="col-lg-8 nopadding">
                                                        <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                                  :role-add="true"
                                                                  v-on:chose-product="ChoseProduct">
                                                        </products>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                            <i class="material-icons" style="color:#B60201;">close</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-10 col-lg-offset-2 nopadding" style="margin-top:24px">
                                                <div class="col-lg-12 nopadding flex flex-row" style="align-items:center">
                                                    <div class="col-lg-5 flex flex-row">
                                                        <label class="col-lg-6 nopadding-left">Số lượng từ</label>
                                                        <div class="col-lg-6 nopadding-left">
                                                            <input class="form-control" title="Số lượng hàng mua" placeholder="SL mua" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <loai-khuyen-mai-24 placeholder="Chọn"
                                                                            :text-search="GiaBanTheoSoLuong_loaiKMChosing.Text"
                                                                            :list-all="GiaBanTheoSoLuong_LoaiKM"
                                                                            :list-search="GiaBanTheoSoLuong_LoaiKM"
                                                                            :id-chosing="GiaBanTheoSoLuong_loaiKMChosing.ID"
                                                                            v-on:on-select-item="GiaBanTheoSoLuong_ChangeLoaiKM">
                                                        </loai-khuyen-mai-24>
                                                    </div>
                                                    <div class="col-lg-3 nopadding-left">
                                                        <input class="form-control"
                                                               v-bind:placeholder="GiaBanTheoSoLuong_loaiKMChosing.ID == 2?'Giá trị giảm':'Nhập giá bán'"
                                                               v-bind:title="GiaBanTheoSoLuong_loaiKMChosing.ID == 2?'Giảm giá':'Giá bán'" />
                                                    </div>
                                                    <div class="col-lg-1 nopadding-left">
                                                        <div class="toggle active-re">
                                                            <div class="toggle-line"></div>
                                                            <span class="toggle-element">VNĐ</span>
                                                            <span class="toggle-element toggle-element-percent selected">%</span>
                                                        </div>
                                                    </div>
                                                    <div class=" flex flex-end nopading-right"
                                                         v-bind:class="[GiaBanTheoSoLuong_loaiKMChosing.ID == 2 ? 'col-lg-1' : 'col-lg-2']">
                                                        <a href="javascript:void(0)" class="btn-gray" title="Xóa" v-on:click="RemoveChiTietKM (ctkm,index)">
                                                            <i class="material-icons" style="color:#B60201;">remove</i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12" style="margin-top:12px">
                                                    <span style="text-decoration:underline">
                                                        <a href="javascript:void(0)" class="btn-gray flex flex-row" title="Thêm dòng">
                                                            <i class="material-icons" style="color:blue;">add</i>
                                                            <label>Thêm dòng</label>
                                                        </a>
                                                    </span>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12" style="margin-top:24px">
                                    <button type="button" class="btn btn-main" v-on:click="ClickThemDieuKien">
                                        <i class="fa fa-plus"></i>
                                        <span>Thêm điều kiện</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="thoigianApDung" class="tab-pane">
                            <div class="col-lg-12 padding-10">
                                <div class="col-lg-2">
                                    <label>Hiệu lực từ ngày</label>
                                </div>
                                <div class="col-lg-9">
                                    <div class="col=lg-12 nopadding">
                                        <div class="col-lg-4 nopadding">
                                            <date-time :date-chose="objKhuyenMai.ThoiGianBatDau" placeholder="Từ ngày"
                                                       :format="TypeFormat"
                                                       v-on:change-date="DateFrom_Change">
                                            </date-time>
                                        </div>
                                        <div class="col-lg-2">
                                            <label>Đến ngày </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <date-time :date-chose="objKhuyenMai.ThoiGianKetThuc" placeholder="Đến ngày"
                                                       :format="TypeFormat"
                                                       v-on:change-date="DateTo_Change">
                                            </date-time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12  padding-10">
                                <div class="col-lg-2">
                                    <label>Tháng áp dụng</label>
                                </div>
                                <div class="col-lg-9">
                                    <dropdown-multiple placeholder="Chọn tháng áp dụng"
                                                       :list-all="ArrMonth"
                                                       :list-chosed="objKhuyenMai.arrThangApDung"
                                                       :colshow="1"
                                                       :type-data="6"
                                                       :have-condition="true"
                                                       :show-item-all="true"
                                                       v-on:on-select-item="ChoseMonth">
                                    </dropdown-multiple>
                                </div>

                            </div>
                            <div class="col-lg-12 padding-10">
                                <div class="col-lg-2">
                                    <label>Ngày áp dụng</label>
                                </div>
                                <div class="col-lg-9">
                                    <dropdown-multiple placeholder="Chọn ngày áp dụng"
                                                       :list-all="ArrDay"
                                                       :list-chosed="objKhuyenMai.arrNgayApDung"
                                                       :colshow="1"
                                                       :type-data="6"
                                                       :have-condition="true"
                                                       :show-item-all="true"
                                                       v-on:on-select-item="ChoseDay">
                                    </dropdown-multiple>
                                </div>
                            </div>
                            <div class="col-lg-10 col-lg-offset-2 flex flex-row">
                                <input type="checkbox" />
                                <label>
                                    Áp dụng vào <a>Ngày sinh nhật</a>
                                </label>
                            </div>
                            <div class="col-lg-12 padding-10">
                                <div class="col-lg-2">
                                    <label>Thứ áp dụng</label>
                                </div>
                                <div class="col-lg-9">
                                    <dropdown-multiple placeholder="Chọn thứ áp dụng"
                                                       :list-all="ArrDay"
                                                       :list-chosed="objKhuyenMai.arrNgayApDung"
                                                       :colshow="1"
                                                       :type-data="6"
                                                       :have-condition="true"
                                                       :show-item-all="true"
                                                       v-on:on-select-item="ChoseDay">
                                    </dropdown-multiple>
                                </div>
                            </div>

                            <div class="col-lg-12 padding-10">
                                <div class="col-lg-2">
                                    <label>Giờ áp dụng</label>
                                </div>
                                <div class="col-lg-9">
                                    <dropdown-multiple placeholder="Chọn giờ áp dụng"
                                                       :list-all="ArrDay"
                                                       :list-chosed="objKhuyenMai.arrNgayApDung"
                                                       :colshow="1"
                                                       :type-data="6"
                                                       :have-condition="true"
                                                       :show-item-all="true"
                                                       v-on:on-select-item="ChoseDay">
                                    </dropdown-multiple>
                                </div>
                            </div>

                        </div>

                        <div id="phamviApDung" class="tab-pane">
                            <div class="col-lg-12 padding-10">
                                <div class="col-lg-2">
                                    <label>Chi nhánh</label>
                                </div>
                                <div class="col-lg-9">
                                    <dropdown-multiple placeholder="Chọn thứ áp dụng"
                                                       :list-all="listData.AllChiNhanhs"
                                                       :list-chosed="objKhuyenMai.arrChiNhanhApDung"
                                                       :colshow="1"
                                                       :type-data="6"
                                                       :have-condition="true"
                                                       :show-item-all="true"
                                                       v-on:on-select-item="ChoseChiNhanh">
                                    </dropdown-multiple>
                                </div>
                            </div>
                            <div class="col-lg-12 padding-10">
                                <div class="col-lg-2">
                                    <label>Nhân viên bán</label>
                                </div>
                                <div class="col-lg-9">
                                    <dropdown-multiple placeholder="Chọn nhân viên"
                                                       :list-all="listData.AllNhanViens"
                                                       :list-chosed="objKhuyenMai.arrNhanVienApDung"
                                                       :colshow="2"
                                                       :type-data="6"
                                                       :have-condition="true"
                                                       :show-item-all="true"
                                                       v-on:on-select-item="ChoseNhanVien">
                                    </dropdown-multiple>
                                </div>
                            </div>
                            <div class="col-lg-12 padding-10">
                                <div class="col-lg-2">
                                    <label>Nhóm khách</label>
                                </div>
                                <div class="col-lg-9">
                                    <dropdown-multiple placeholder="Chọn nhóm"
                                                       :list-all="listData.AllNhomKhachs"
                                                       :list-chosed="objKhuyenMai.arrNhomKhachApDung"
                                                       :colshow="1"
                                                       :type-data="6"
                                                       :have-condition="true"
                                                       :show-item-all="true"
                                                       v-on:on-select-item="ChoseNhomKhach">
                                    </dropdown-multiple>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">
                            <i class="fa fa-ban"></i> Bỏ qua
                        </button>
                        <button type="button" class="btn btn-main" v-on:click="SaveData" v-if="!isSaving">
                            <i class="fa fa-save"></i> Lưu
                        </button>
                        <button type="button" class="btn btn-main" v-if="isSaving">
                            <i class="fa fa-save"></i> Đang lưu
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var vmThemMoiKhuyenMai = new Vue({
        el: '#vmThemMoiKhuyenMai',
        components: {
            'loai-khuyen-mai': cmpDropdown1Item,
            'hinh-thuc-khuyen-mai': cmpDropdown1Item,
            'loai-khuyen-mai-24': cmpDropdown1Item,
            'dropdown-multiple': cmpDropdownMultipleItem,
            'products': cmpChoseProduct,
            'date-time': cpmDatetime
        },
        created: function () {
            let self = this;
            self.TypeFormat = 'DD/MM/YYYY';
            self.inforLogin = {
                ID_DonVi: VHeader.IdDonVi
            };
            self.ArrLoaiKhuyenMai = [
                { ID: LoaiKhuyenMai.HOA_DON, Text2: 'Hóa đơn' },
                { ID: LoaiKhuyenMai.HANG_HOA, Text2: 'Hàng hóa' },
            ];
            self.GiaBanTheoSoLuong_LoaiKM = [
                { ID: 1, Text2: 'Giá bán' },
                { ID: 2, Text2: 'Giảm giá' },
            ];
            self.ArrHinhThucKhuyenMai = [
                { ID: HinhThucKhuyenMai.HD_GIAM_GIAHD, Text2: 'Giảm giá hóa đơn' },
                { ID: HinhThucKhuyenMai.HD_TANG_HANG, Text2: 'Tặng hàng' },
                { ID: HinhThucKhuyenMai.HD_GIAM_GIA_HANG, Text2: 'Giảm giá hàng' },
                { ID: HinhThucKhuyenMai.HD_TANG_DIEM, Text2: 'Tặng điểm' },

                { ID: HinhThucKhuyenMai.HH_GIAM_GIA_HANG, Text2: 'Mua hàng giảm giá hàng' },
                { ID: HinhThucKhuyenMai.HH_TANG_HANG, Text2: 'Mua hàng tặng tặng' },
                { ID: HinhThucKhuyenMai.HH_TANG_DIEM, Text2: 'Mua hàng tặng điểm' },
                { ID: HinhThucKhuyenMai.HH_GIA_BAN_THEO_SO_LUONG, Text2: 'Giá bán theo số lượng mua' },
            ];

            self.ArrMonth = [];
            self.ArrDay = [];
            self.PageLoad();
        },
        data: {
            typeUpdate: 1,
            saveOK: false,
            isSaving: false,
            listData: {
                AllChiNhanhs: [],
                AllNhomHangHoas: [],
                AllNhanViens: [],
                AllNhomKhachs: []
            },
            loaiKMChosing: {
                ID: LoaiKhuyenMai.HOA_DON,
                Text: 'Hóa đơn',
            },
            GiaBanTheoSoLuong_loaiKMChosing: {
                ID: 1,
                Text: 'Giá bán',
            },
            hinhhinhKMChosing: {
                ID: HinhThucKhuyenMai.HD_GIAM_GIAHD,
                Text: 'Giảm giá hóa đơn',
            },
            objKhuyenMai: {
                ID: const_GuidEmpty,
                MaKhuyenMai: '',
                TenKhuyenMai: '',
                LoaiKhuyenMai: LoaiKhuyenMai.HOA_DON,
                HinhThuc: HinhThucKhuyenMai.HD_GIAM_GIAHD,
                ThoiGianBatDau: moment(new Date()).format('YYYY-MM-DD'),
                ThoiGianKetThuc: moment(new Date()).add('years', 1).format('YYYY-MM-DD'),
                NgayApDung: '',
                ThangApDung: '',
                ThuApDung: '',
                GioApDung: '',
                ApDungNgaySinhNhat: 0,
                TatCaDonVi: true,
                TatCaDoiTuong: true,
                TatCaNhanVien: true,
                TrangThai: 1, //1.active,0.no active
                arrThangApDung: [],
                arrNgayApDung: [],
                arrChiNhanhApDung: [],
                arrNhanVienApDung: [],
                arrNhomKhachApDung: [],
            },
            chitietKM: []
        },
        methods: {
            PageLoad: async function () {
                let self = this;
                self.InitDefaultData();
                await self.GetListData_fromDB();
            },
            InitDefaultData: function () {
                let self = this;
                self.InitAllMonth();
                self.InitAllDay();
                self.InitAllDate();
                self.InitAllHours();
            },
            InitAllMonth: function () {
                let self = this;
                for (let i = 1; i < 13; i++) {
                    self.ArrMonth.push({ ID: i, Text1: 'Tháng ' + i });
                }
            },
            InitAllDay: function () {
                let self = this;
                for (let i = 1; i < 32; i++) {
                    self.ArrDay.push({ ID: i, Text1: 'Ngày ' + i });
                }
            },
            InitAllDate: function () {
                let self = this;
                for (let i = 2; i < 8; i++) {
                    self.ArrDay.push({ ID: i, Text1: 'Thứ ' + i });
                }
                self.ArrDay.push({ ID: 0, Text1: 'Chủ nhật ' });
            },
            InitAllHours: function () {
                let self = this;
                for (let i = 0; i < 24; i++) {
                    self.ArrDay.push({ ID: i, Text1: i });
                }
            },
            GetTree_NhomHangHoa: async function () {
                const xx = ajaxHelper('/api/DanhMuc/DM_NhomHangHoaAPI/' + "GetTree_NhomHangHoa", 'GET').done(function (xx) {
                }).then(function (xx) {
                    return xx.data;
                });
                return xx;
            },
            GetAllNhanVien: async function () {
                const xx = ajaxHelper('/api/DanhMuc/NS_NhanVienAPI/' + "GetNS_NhanVien_InforBasic?idDonVi=" + VHeader.IdDonVi, 'GET').done(function (xx) {
                }).then(function (data) {
                    return data;
                });
                return xx;
            },
            GetAllNhomKhach: async function () {
                const xx = ajaxHelper('/api/DanhMuc/DM_DoiTuongAPI/' + "GetNhomDoiTuong_DonVi?loaiDT=1", 'GET').done(function (xx) {
                }).then(function (xx) {
                    if (xx.res) {
                        return xx.data;
                    }
                    return [];
                });
                return xx;
            },
            GetListData_fromDB: async function () {
                let self = this;
                const allNhomHang = await self.GetTree_NhomHangHoa();
                const allNhanVien = await self.GetAllNhanVien();
                const allNhomKhach = await self.GetAllNhomKhach();

                self.listData.AllChiNhanhs = VHeader.ListChiNhanh
                    .map(function (x) {
                        return {
                            ID: x.ID,
                            Text1: x.TenDonVi
                        }
                    });

                self.listData.AllNhomKhachs = allNhomKhach.map(function (x) {
                    return {
                        ID: x.ID,
                        Text1: x.TenNhomDoiTuong
                    }
                });

                self.listData.AllNhanViens = allNhanVien.map(function (x) {
                    return {
                        ID: x.ID,
                        Text1: x.MaNhanVien,
                        Text2: x.TenNhanVien
                    }
                });
            },
            newCTKM: function () {
                return {
                    STT: 0,
                    TongTienHang: '',
                    GiamGia: '', // diemcong, giamgia
                    GiamGiaTheoPhanTram: true,
                    ID_DonViQuiDoiMua: '',
                    ID_NhomHangHoaMua: '',
                    SoLuongMua: '',
                    ID_DonViQuiDoi: '',
                    ID_NhomHangHoa: '',
                    SoLuong: '',
                    GiaKhuyenMai: ''
                }
            },

            showModal: async function () {
                let self = this;
                self.typeUpdate = 1;
                self.saveOK = false;
                self.isSaving = false;
                $('#vmThemMoiKhuyenMai').modal('show');
                self.chitietKM = [new self.newCTKM()];
            },
            GiaBanTheoSoLuong_ChangeLoaiKM: function (item) {
                let self = this;
                self.GiaBanTheoSoLuong_loaiKMChosing = {
                    ID: item.ID,
                    Text: item.Text2
                };
            },
            ChangeLoaiKhuyenMai: function (item) {
                let self = this;
                self.objKhuyenMai.LoaiKhuyenMai = item.ID;
                self.loaiKMChosing = {
                    ID: item.ID,
                    Text: item.Text2
                };
                switch (item.ID) {
                    case LoaiKhuyenMai.HOA_DON:
                        {
                            self.hinhhinhKMChosing = {
                                ID: HinhThucKhuyenMai.HD_GIAM_GIAHD,
                                Text: 'Giảm giá hóa đơn'
                            };
                            self.objKhuyenMai.HinhThuc = HinhThucKhuyenMai.HD_GIAM_GIAHD;
                        }
                        break;
                    case LoaiKhuyenMai.HANG_HOA:
                        {
                            self.hinhhinhKMChosing = {
                                ID: HinhThucKhuyenMai.HH_GIAM_GIA_HANG,
                                Text: 'Mua hàng giảm giá hàng'
                            };
                            self.objKhuyenMai.HinhThuc = HinhThucKhuyenMai.HH_GIAM_GIA_HANG;
                        }
                        break;
                }
            },
            ChangeHinhThucKM: function (item) {
                let self = this;
                self.objKhuyenMai.HinhThuc = item.ID;
                self.hinhhinhKMChosing = {
                    ID: item.ID,
                    Text: item.Text2
                };
            },
            ClickThemDieuKien: function () {
                let self = this;
                self.chitietKM.push(self.newCTKM());
                switch (self.objKhuyenMai.HinhThuc) {
                    case HinhThucKhuyenMai.HD_GIAM_GIAHD:
                        {

                        }
                        break;
                }
            },
            ChoseProduct: function () {
                let self = this;
            },
            DateFrom_Change: function (e) {
                let self = this;
                var dt = moment(e).format('YYYY-MM-DD');
                self.objKhuyenMai.ThoiGianBatDau = dt;
            },
            DateTo_Change: function (e) {
                let self = this;
                var dt = moment(e).format('YYYY-MM-DD');
                self.objKhuyenMai.ThoiGianKetThuc = dt;
            },
            ChoseMonth: function (lst) {
                let self = this;
                self.objKhuyenMai.arrThangApDung = lst;
            },
            ChoseDay: function (lst) {
                let self = this;
                self.objKhuyenMai.arrNgayApDung = lst;
            },
            ChoseChiNhanh: function (lst) {
                let self = this;
                self.objKhuyenMai.arrChiNhanhApDung = lst;
            },
            ChoseNhanVien: function (lst) {
                let self = this;
                self.objKhuyenMai.arrNhanVienApDung = lst;
            },
            ChoseNhomKhach: function (lst) {
                let self = this;
                self.objKhuyenMai.arrNhomKhachApDung = lst;
            },
            RemoveChiTietKM: function (ctkm, index) {
                let self = this;
                for (let i = 0; i < self.chitietKM.length; i++) {
                    if (i === index) {
                        self.chitietKM.splice(i, 1);
                        break;
                    }
                }
            },
            ChangePtramVND: function (ctkm, index) {
                let self = this;
                for (let i = 0; i < self.chitietKM.length; i++) {
                    if (i === index) {
                         self.chitietKM[i].GiamGiaTheoPhanTram = !self.chitietKM[i].GiamGiaTheoPhanTram
                        break;
                    }
                }
            },
            SaveData: async function () {
                let self = this;
                $('#vmThemMoiKhuyenMai').modal('hide');
            }
        }
    })
</script>
