<style>
    .jsSearchProduct {
        width: 100%;
    }
</style>

<div id="vmThemMoiKhuyenMai" class="modal fade">
    <div class="modal-dialog draggable modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    {{typeUpdate===1?'Thêm mới':'Cập nhật'}} chương trình khuyến mại
                </h4>
            </div>
            <div class="modal-body ">
                <div class="col-lg-12 nopadding">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-lg-5 nopadding-right">Mã chương trình</label>
                            <div class="col-lg-7">
                                <input class="form-control"  type="text" title="Mã chương trình" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-5 nopadding-right">Tên chương trình</label>
                            <div class="col-lg-7">
                                <input class="form-control" type="text" title="Tên chương trình"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-lg-2">Trạng thái</label>
                            <div class="col-lg-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineRadio1" value="1" v-model="objKhuyenMai.TrangThai">
                                    <label class="form-check-label" for="inlineRadio1">Kích hoạt</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineRadio2" value="0" v-model="objKhuyenMai.TrangThai">
                                    <label class="form-check-label" for="inlineRadio2">Kích hoạt</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2">Ghi chú</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" title="Ghi chú"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" style="padding-top:16px;">
                    <ul class="nav nav-tabs">
                        <li class="active nav-item">
                            <a href="#hinhthucKM" data-toggle="tab">Hình thức khuyến mại</a><span>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a href="#thoigianApDung" data-toggle="tab">Thời gian áp dụng</a><span>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a href="#phamviApDung" data-toggle="tab">Phạm vi áp dụng</a><span>
                            </span>
                        </li>
                    </ul>

                    <div class="tab-content" style="padding-top:16px">
                        <div id="hinhthucKM">
                            <div class="col-lg-12">
                                <div class="col-lg-5">
                                    <label class="col-lg-5 nopadding">Khuyến mại theo</label>
                                    <div class="col-lg-7">
                                        <loai-khuyen-mai placeholder="Chọn"
                                                         :text-search="loaiKMChosing.Text"
                                                         :list-all="ArrLoaiKhuyenMai"
                                                         :list-search="ArrLoaiKhuyenMai"
                                                         :id-chosing="loaiKMChosing.ID"
                                                         v-on:on-select-item="ChangeLoaiKhuyenMai">
                                        </loai-khuyen-mai>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-lg-3">Hình thức</label>
                                    <div class="col-lg-9">
                                        <hinh-thuc-khuyen-mai placeholder="Chọn"
                                                              :text-search="hinhhinhKMChosing.Text"
                                                              :list-all="ArrHinhThucKhuyenMai.filter(x=>x.ID.toString().indexOf(objKhuyenMai.LoaiKhuyenMai) == 0)"
                                                              :list-search="ArrHinhThucKhuyenMai.filter(x=>x.ID.toString().indexOf(objKhuyenMai.LoaiKhuyenMai) == 0)"
                                                              :id-chosing="hinhhinhKMChosing.ID"
                                                              v-on:on-select-item="ChangeHinhThucKM">
                                        </hinh-thuc-khuyen-mai>
                                    </div>
                                </div>
                            </div>

                            @*các hình thức khuyến mại*@
                            <div style="margin-top:24px">
                                @*hoa don*@
                                <div class="col-lg-12" style="margin-top:24px" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HD_GIAM_GIAHD">
                                    <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                        <label class="col-lg-4">Tổng tiền hàng</label>
                                        <label class="col-lg-4">Giảm giá</label>
                                    </div>

                                    <div class="col-lg-12 flex flex-row nopadding-right" style="margin-top: 16px; align-items:center">
                                        <div class="col-lg-4 flex flex-row">
                                            <label>Từ</label>
                                            <input class="form-control" style="margin-left:16px" title="Tồng tiền hàng từ"/>
                                        </div>
                                        <div class="col-lg-3 flex">
                                            <input class="form-control" title="Giá trị giảm giá"/>
                                        </div>
                                        <div class="col-lg-2 flex">
                                            <div class="toggle active-re">
                                                <div class="toggle-line"></div>
                                                <span class="toggle-element"></span>
                                                <span class="toggle-element toggle-element-percent selected">%</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 flex flex-end nopading-right">
                                            <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                <i class="material-icons" style="color:#B60201;">close</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @*hóa đơn - tặng hàng*@
                                <div class="col-lg-12" style="margin-top:24px" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HD_TANG_HANG">
                                    <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                        <label class="col-lg-3">Tổng tiền hàng</label>
                                        <label class="col-lg-2">SL tặng</label>
                                        <label class="col-lg-6">Tặng hàng/ Nhóm hàng</label>
                                    </div>

                                    <div class="col-lg-12 flex flex-row nopadding-right" style="margin-top: 16px; align-items:center">
                                        <div class="col-lg-3 flex flex-row">
                                            <label>Từ</label>
                                            <input class="form-control" style="margin-left:16px" title="Tồng tiền hàng từ"/>
                                        </div>
                                        <div class="col-lg-2 flex">
                                            <input class="form-control" title="Số lượng tặng"/>
                                        </div>
                                        <div class="col-lg-6 flex">
                                            <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                      :role-add="true"
                                                      v-on:chose-product="ChoseProduct">
                                            </products>
                                        </div>
                                        <div class="col-lg-1 flex flex-end nopading-right">
                                            <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                <i class="material-icons" style="color:#B60201;">close</i>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                                @*hóa đơn - giảm giá hàng*@
                                <div class="col-lg-12" style="margin-top:24px" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HD_GIAM_GIA_HANG">
                                    <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                        <label class="col-lg-3">Tổng tiền hàng</label>
                                        <label class="col-lg-2">Giảm giá</label>
                                        <label class="col-lg-7">Hàng/ Nhóm hàng được giảm giá</label>
                                    </div>

                                    <div class="col-lg-12 flex flex-row nopadding-right" style="margin-top: 16px; align-items:center">
                                        <div class="col-lg-3 flex flex-row nopadding-left">
                                            <label>Từ</label>
                                            <input class="form-control" style="margin-left:16px" title="Tồng tiền hàng từ"/>
                                        </div>
                                        <div class="col-lg-2 flex flex-row nopadding">
                                            <input class="form-control" title="Giá trị giảm giá"/>
                                            <div class="toggle active-re" style="margin-left:8px">
                                                <div class="toggle-line"></div>
                                                <span class="toggle-element"></span>
                                                <span class="toggle-element toggle-element-percent selected">%</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 flex flex-row nopadding">
                                            <div class="col-lg-3">
                                                <input class="form-control" title="Số lượng được giảm" placeholder="Số lượng"/>
                                            </div>
                                            <div class="col-lg-8 nopadding">
                                                <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                          :role-add="true"
                                                          v-on:chose-product="ChoseProduct">
                                                </products>
                                            </div>
                                            <div class="col-lg-1 flex flex-end nopading-right">
                                                <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                    <i class="material-icons" style="color:#B60201;">close</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*hóa đơn - tặng điểm*@
                                <div class="col-lg-12" style="margin-top:24px" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HD_TANG_DIEM">
                                    <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                        <label class="col-lg-4">Tổng tiền hàng</label>
                                        <label class="col-lg-4">Điểm cộng</label>
                                    </div>

                                    <div class="col-lg-12 flex flex-row nopadding-right" style="margin-top: 16px; align-items:center">
                                        <div class="col-lg-4 flex flex-row">
                                            <label>Từ</label>
                                            <input class="form-control" style="margin-left:16px" title="Tồng tiền hàng từ"/>
                                        </div>
                                        <div class="col-lg-3 flex">
                                            <input class="form-control" title="Số điểm được cộng"/>
                                        </div>
                                        <div class="col-lg-2 flex">
                                            <div class="toggle active-re">
                                                <div class="toggle-line"></div>
                                                <span class="toggle-element"></span>
                                                <span class="toggle-element toggle-element-percent selected">%</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 flex flex-end nopading-right">
                                            <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                <i class="material-icons" style="color:#B60201;">close</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @*hàng hóa*@
                                <div class="col-lg-12" style="margin-top:24px" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HH_GIAM_GIA_HANG">
                                    <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                        <label class="col-lg-5">Hàng/ Nhóm hàng mua</label>
                                        <label class="col-lg-2">Giảm giá</label>
                                        <label class="col-lg-5">Hàng/ Nhóm hàng được giảm giá</label>
                                    </div>

                                    <div class="col-lg-12 flex flex-row nopadding-right" style="margin-top: 16px; align-items:center">
                                        <div class="col-lg-5 flex flex-row nopadding-left">
                                            <div class="col-lg-3 nopadding-left">
                                                <input class="form-control" title="Số lượng hàng mua"  placeholder="SL mua"/>
                                            </div>
                                            <div class="col-lg-9 nopadding">
                                                <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                          :role-add="true"
                                                          v-on:chose-product="ChoseProduct">
                                                </products>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 flex flex-row nopadding">
                                            <input class="form-control"  placeholder="Giá trị"/>
                                            <div class="toggle active-re" style="margin-left:8px">
                                                <div class="toggle-line"></div>
                                                <span class="toggle-element"></span>
                                                <span class="toggle-element toggle-element-percent selected">%</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 flex flex-row nopadding">
                                            <div class="col-lg-3">
                                                <input class="form-control" title="Số lượng hàng được giảm giá"  placeholder="S.Lượng"/>
                                            </div>
                                            <div class="col-lg-8 nopadding">
                                                <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                          :role-add="true"
                                                          v-on:chose-product="ChoseProduct">
                                                </products>
                                            </div>
                                            <div class="col-lg-1 flex flex-end nopading-right">
                                                <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                    <i class="material-icons" style="color:#B60201;">close</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*hàng hóa - tặng hàng*@
                                <div class="col-lg-12" style="margin-top:24px" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HH_TANG_HANG">
                                    <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                        <label class="col-lg-6">Hàng/ Nhóm hàng mua</label>
                                        <label class="col-lg-6">Hàng/ Nhóm hàng được tặng</label>
                                    </div>

                                    <div class="col-lg-12 flex flex-row nopadding-right" style="margin-top: 16px; align-items:center">
                                        <div class="col-lg-6 flex flex-row nopadding-left">
                                            <div class="col-lg-3 nopadding-left">
                                                <input class="form-control" title="Số lượng hàng mua"  placeholder="SL mua"/>
                                            </div>
                                            <div class="col-lg-9 nopadding">
                                                <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                          :role-add="true"
                                                          v-on:chose-product="ChoseProduct">
                                                </products>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 flex flex-row nopadding">
                                            <div class="col-lg-3">
                                                <input class="form-control" title="Số lượng hàng tặng"  placeholder="SL tặng"/>
                                            </div>
                                            <div class="col-lg-8 nopadding">
                                                <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                          :role-add="true"
                                                          v-on:chose-product="ChoseProduct">
                                                </products>
                                            </div>
                                            <div class="col-lg-1 flex flex-end nopading-right">
                                                <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                    <i class="material-icons" style="color:#B60201;">close</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*hàng hóa - tặng điểm*@
                                <div class="col-lg-12" style="margin-top:24px" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HH_TANG_DIEM">
                                    <div class="col-lg-12 flex flex-row" style="background-color: #dcdceb; height: 30px; align-items: center">
                                        <label class="col-lg-6">Hàng/ Nhóm hàng mua</label>
                                        <label class="col-lg-4">Điểm cộng</label>
                                    </div>

                                    <div class="col-lg-12 flex flex-row nopadding-right" style="margin-top: 16px; align-items:center">
                                        <div class="col-lg-6 flex flex-row nopadding-left">
                                            <div class="col-lg-3 nopadding-left">
                                                <input class="form-control" title="Số lượng hàng mua"  placeholder="SL mua"/>
                                            </div>
                                            <div class="col-lg-9 nopadding">
                                                <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                          :role-add="true"
                                                          v-on:chose-product="ChoseProduct">
                                                </products>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 flex flex-row nopadding">
                                            <div class="col-lg-4">
                                                <input class="form-control" title="Giá trị điểm cộng"/>
                                            </div>
                                            <div class="col-lg-8 nopadding">
                                                <div class="toggle active-re">
                                                    <div class="toggle-line"></div>
                                                    <span class="toggle-element"></span>
                                                    <span class="toggle-element toggle-element-percent selected">%</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-1 flex flex-end nopading-right">
                                            <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                <i class="material-icons" style="color:#B60201;">close</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @*hàng hóa - giá bán theo số lượng mua*@
                                <div class="col-lg-12" style="margin-top:24px" v-if="objKhuyenMai.HinhThuc == HinhThucKhuyenMai.HH_GIA_BAN_THEO_SO_LUONG">

                                    <div class="col-lg-12"
                                         style="align-items:center;padding-bottom:12px; border-bottom:1px solid #ccc">
                                        <div class="col-lg-2">Khi mua</div>
                                        <div class="col-lg-10">
                                            <div class="col-lg-12 nopadding">
                                                <div class="col-lg-8 nopadding">
                                                    <products :id-chi-nhanh="inforLogin.ID_DonVi"
                                                              :role-add="true"
                                                              v-on:chose-product="ChoseProduct">
                                                    </products>
                                                </div>
                                                <div class="col-lg-2">
                                                    <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                        <i class="material-icons" style="color:#B60201;">close</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-lg-offset-2 nopadding" style="margin-top:24px">
                                            <div class="col-lg-12 nopadding flex flex-row" style="align-items:center">
                                                <div class="col-lg-4 flex flex-row">
                                                    <label class="col-lg-6 nopadding-left">Số lượng từ</label>
                                                    <div class="col-lg-6 nopadding-left">
                                                        <input class="form-control" title="Số lượng hàng mua" placeholder="SL mua"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <loai-khuyen-mai-24 placeholder="Chọn"
                                                                        :text-search="GiaBanTheoSoLuong_loaiKMChosing.Text"
                                                                        :list-all="GiaBanTheoSoLuong_LoaiKM"
                                                                        :list-search="GiaBanTheoSoLuong_LoaiKM"
                                                                        :id-chosing="GiaBanTheoSoLuong_loaiKMChosing.ID"
                                                                        v-on:on-select-item="GiaBanTheoSoLuong_ChangeLoaiKM">
                                                    </loai-khuyen-mai-24>
                                                </div>
                                                <div class="col-lg-3 nopadding-left">
                                                    <input class="form-control"
                                                           v-bind:title="GiaBanTheoSoLuong_loaiKMChosing.ID == 2?'Giảm giá':'Giá bán'"/>
                                                </div>
                                                <div class="col-lg-1 nopadding-left" v-if="GiaBanTheoSoLuong_loaiKMChosing.ID == 2">
                                                    <div class="toggle active-re">
                                                        <div class="toggle-line"></div>
                                                        <span class="toggle-element"></span>
                                                        <span class="toggle-element toggle-element-percent selected">%</span>
                                                    </div>
                                                </div>
                                                <div class=" flex flex-end nopading-right"
                                                     v-bind:class="[GiaBanTheoSoLuong_loaiKMChosing.ID == 2 ? 'col-lg-1' : 'col-lg-2']">
                                                    <a href="javascript:void(0)" class="btn-gray" title="Xóa">
                                                        <i class="material-icons" style="color:#B60201;">remove</i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-lg-12" style="margin-top:12px">
                                                <a href="javascript:void(0)" class="btn-gray flex flex-row" title="Thêm dòng">
                                                    <i class="material-icons" style="color:blue;">add</i>
                                                    <label>Thêm dòng</label>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-12" style="margin-top:24px">
                                    <button type="button" class="btn btn-main">
                                        <i class="fa fa-plus"></i>
                                        <span>Thêm điều kiện</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Bỏ qua
                    </button>
                    <button type="button" class="btn btn-main" v-on:click="SaveData" v-if="!isSaving">
                        <i class="fa fa-save"></i> Lưu
                    </button>
                    <button type="button" class="btn btn-main" v-if="isSaving">
                        <i class="fa fa-save"></i> Đang lưu
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var vmThemMoiKhuyenMai = new Vue({
        el:'#vmThemMoiKhuyenMai',
        components:{
             'loai-khuyen-mai': cmpDropdown1Item,
             'hinh-thuc-khuyen-mai': cmpDropdown1Item,
              'loai-khuyen-mai-24': cmpDropdown1Item,
             'products': cmpChoseProduct,
        },
        created: function(){
            let self= this;
            self.inforLogin ={
                ID_DonVi: VHeader.IdDonVi
            },
            self.ArrLoaiKhuyenMai =[
                {ID: LoaiKhuyenMai.HOA_DON, Text2:'Hóa đơn'},
                {ID: LoaiKhuyenMai.HANG_HOA, Text2:'Hàng hóa'},
            ];
            self.GiaBanTheoSoLuong_LoaiKM =[
                {ID: 1, Text2:'Giá bán'},
                {ID: 2, Text2:'Giảm giá'},
            ];
            self.ArrHinhThucKhuyenMai =[
                {ID: HinhThucKhuyenMai.HD_GIAM_GIAHD, Text2:'Giảm giá hóa đơn'},
                {ID: HinhThucKhuyenMai.HD_TANG_HANG, Text2:'Tặng hàng'},
                {ID: HinhThucKhuyenMai.HD_GIAM_GIA_HANG, Text2:'Giảm giá hàng'},
                {ID: HinhThucKhuyenMai.HD_TANG_DIEM, Text2:'Tặng điểm'},

                {ID: HinhThucKhuyenMai.HH_GIAM_GIA_HANG, Text2:'Mua hàng giảm giá hàng'},
                {ID: HinhThucKhuyenMai.HH_TANG_HANG, Text2:'Mua hàng tặng tặng'},
                {ID: HinhThucKhuyenMai.HH_TANG_DIEM, Text2:'Mua hàng tặng điểm'},
                {ID: HinhThucKhuyenMai.HH_GIA_BAN_THEO_SO_LUONG, Text2:'Giá bán theo số lượng mua'},
            ];
        },
        data:{
            typeUpdate:1,
            saveOK: false,
            isSaving: false,
            loaiKMChosing: {
                ID:  LoaiKhuyenMai.HOA_DON,
                Text: 'Hóa đơn',
            },
            GiaBanTheoSoLuong_loaiKMChosing: {
                ID:  1,
                Text: 'Giá bán',
            },
            hinhhinhKMChosing: {
                ID:  HinhThucKhuyenMai.HD_GIAM_GIAHD,
                Text: 'Giảm giá hóa đơn',
            },
            objKhuyenMai:{
                ID: const_GuidEmpty,
                MaKhuyenMai:'',
                TenKhuyenMai:'',
                LoaiKhuyenMai: LoaiKhuyenMai.HOA_DON,
                HinhThuc: HinhThucKhuyenMai.HD_GIAM_GIAHD,
                ThoiGianBatDau: moment(new Date()).format('YYYY-MM-DD'),
                ThoiGianKetThuc:moment(new Date()).add('years',1).format('YYYY-MM-DD'),
                NgayApDung: '',
                ThangApDung:'',
                ThuApDung:'',
                GioApDung:'',
                ApDungNgaySinhNhat: 0,
                TatCaDonVi: true,
                TatCaDoiTuong: true,
                TatCaNhanVien: true,
                TrangThai: 1 //1.active,0.no active
            },
            chitietKM: []
        },
        methods:{
            showModal: async function(){
                let self = this;
                self.typeUpdate =1;
                self.saveOK =false;
                self.isSaving =false;
                $('#vmThemMoiKhuyenMai').modal('show');
            },
            GiaBanTheoSoLuong_ChangeLoaiKM: function(item){
                  let self = this;
                  self.GiaBanTheoSoLuong_loaiKMChosing={
                      ID: item.ID,
                      Text: item.Text2
                  };
            },
            ChangeLoaiKhuyenMai: function(item){
                 let self = this;
                 self.objKhuyenMai.LoaiKhuyenMai = item.ID;
                 self.loaiKMChosing={
                      ID: item.ID,
                      Text: item.Text2
                  };
                  switch(item.ID){
                      case LoaiKhuyenMai.HOA_DON:
                          {
                              self.hinhhinhKMChosing ={
                                  ID: HinhThucKhuyenMai.HD_GIAM_GIAHD,
                                  Text: 'Giảm giá hóa đơn'
                              };
                              self.objKhuyenMai.HinhThuc =HinhThucKhuyenMai.HD_GIAM_GIAHD;
                          }
                          break;
                          case LoaiKhuyenMai.HANG_HOA:
                          {
                              self.hinhhinhKMChosing ={
                                  ID: HinhThucKhuyenMai.HH_GIAM_GIA_HANG,
                                  Text: 'Mua hàng giảm giá hàng'
                              };
                              self.objKhuyenMai.HinhThuc =HinhThucKhuyenMai.HH_GIAM_GIA_HANG;
                          }
                          break;
                  }
            },
            ChangeHinhThucKM: function(item){
                 let self = this;
                  self.objKhuyenMai.HinhThuc = item.ID;
                  self.hinhhinhKMChosing ={
                      ID: item.ID,
                      Text: item.Text2
                  };
            },
            ChoseProduct: function(){
                 let self = this;
            },
            SaveData: async function(){
                let self = this;
                  $('#vmThemMoiKhuyenMai').modal('hide');
            }
        }
    })
</script>