
@model banhang24.Models.InListMaVach


<div id="printSection">
    <div id="folha">
        @if (Model.Item == 12)
        {
            foreach( var item in Model.data) { 
                for (var i = 0; i < item.SoBanGhi;)
                {
                    <div class="row-page">
                        <div class=" row  x-print-12">
                            @for (var j = 0; j < Model.Item; j++)
                        {
                            if (i == item.SoBanGhi)
                            {
                                break;
                            }
                            <div class="  x-print-page">
                                @Html.Raw(item.Table)
                            </div>
                                i++;

                            }

                        </div>
                    </div>
                }
            }
        }
        else if (Model.Item == 65)
        {
            foreach (var item in Model.data)
            {
                for (var i = 0; i < item.SoBanGhi;)
                {
                <div class="row-page">
                    <div class=" row  x-print-65">
                        @for (var j = 0; j < Model.Item; j++)
                        {
                            if (i == item.SoBanGhi)
                            {
                                break;
                            }
                            <div class="  x-print-page">
                                @Html.Raw(item.Table)
                            </div>
                            i++;
                        }

                    </div>
                </div>
                }
            }
        }
        else if (Model.Item == 2)
        {
            foreach (var item in Model.data)
            {
                for (var i = 0; i < item.SoBanGhi;)
                {
                <div class="row-page">
                    <div class=" row  x-print-2">
                        @for (var j = 0; j < Model.Item; j++)
                        {
                            if (i == item.SoBanGhi)
                            {
                                break;
                            }
                            <div class="  x-print-page">
                                @Html.Raw(item.Table)
                            </div>
                            i++;

                        }
                    </div>
                </div>

                }
            }

        }
        else
        {
            foreach (var item in Model.data)
            {
                for (var i = 0; i < item.SoBanGhi;)
                {
                <div class="row-page">
                    <div class=" row x-print">
                        @for (var j = 0; j < Model.Item; j++)
                        {
                            if (i == item.SoBanGhi)
                            {
                                break;
                            }
                            <div class="  x-print-page">
                                @Html.Raw(item.Table)
                            </div>
                            i++;
                        }
                    </div>
                </div>
                }
            }
        }
    </div>
</div>

