
@model banhang24.Models.InMaVach


<div id="printSection">
    <div id="folha">
        @if (Model.Item == 12)
        {
            for (var i = 0; i < Model.SoBanGhi;)
            {
                <div class="row-page">
                <div class=" row  x-print-12">
                    @for (var j = 0; j < Model.Item; j++)
                    {
                        if (i == Model.SoBanGhi)
                        {
                            break;
                        }
                            <div class="  x-print-page">
                                @Html.Raw(Model.Table)
                            </div>
                            i++;
                    
                    }

                </div>
                </div>
            }
        }
        else if (Model.Item == 65)
        {
            for (var i = 0; i < Model.SoBanGhi;)
            {
                <div class="row-page">
                    <div class=" row  x-print-65">
                        @for (var j = 0; j < Model.Item; j++)
                        {
                            if (i == Model.SoBanGhi)
                            {
                                break;
                            }
                                <div class="  x-print-page">
                                    @Html.Raw(Model.Table)
                                </div>
                                i++;
                          }
                        
                    </div>
                </div>
            }
        }
        else if (Model.Item == 2)
        {
            for (var i = 0; i < Model.SoBanGhi;)
            {
                  <div class="row-page">
                    <div class=" row  x-print-2">
                        @for (var j = 0; j < Model.Item; j++)
                        {
                            if (i == Model.SoBanGhi)
                            {
                                break;
                            }
                                <div class="  x-print-page">
                                    @Html.Raw(Model.Table)
                                </div>
                                i++;
                   
                        }
                    </div>
                </div>
                
            }

        }
        else
        {
            for (var i = 0; i < Model.SoBanGhi;)
            {
                    <div class="row-page">
                        <div class=" row x-print">
                            @for (var j = 0; j < Model.Item; j++)
                            {
                                if (i == Model.SoBanGhi)
                                {
                                    break;
                                }
                                <div class="  x-print-page">
                                    @Html.Raw(Model.Table)
                                </div>
                                i++;
                            }
                        </div>
                    </div>
                
            }
        }
    </div>
</div>