
@model banhang24.Models.InMaVach

<div id="printSection">
    <div id="folha">
        @for (var i = 0; i < Model.SoBanGhi; i++)
        {
            <div class="row-page">
                @Html.Raw(Model.Table)
            </div>
        }
    </div>
</div>