@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/Knockout")
    <script src="~/Assets/js/Admin/AddNewsUser.js"></script>
    <script>
        $(function () {
            $("#datetimepicker").datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });
    </script>
} 
<div class="right_col" role="main">
    <div class="addnews fl">
        <h3>Thêm mới người dùng</h3>
        <div class="content-addnews fl">
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Tài khoản <span class="red">(*)</span></Span></div>
                <div class="col-md-6">
                    <input type="text" class="form-control" data-bind="value: koUserName" />
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Mật khẩu<span class="red">(*)</span></Span></div>
                <div class="col-md-6">
                    <input type="password" class="form-control" data-bind="value: koPassword" />
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Nhập lại mật khẩu<span class="red">(*)</span></Span></div>
                <div class="col-md-6">
                    <input type="password" class="form-control" data-bind="value: koConfluentPassword" />
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Nhóm quyền<span class="red">(*)</span></Span></div>
                <div class="col-md-6">
                    <select class="form-control" id="selCategoryNews" data-bind="options:UserGroupList, optionsText: 'GroupName', optionsValue: 'ID'"></select>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Họ tên<span class="red">(*)</span></Span></div>
                <div class="col-md-6">
                    <input type="text" class="form-control" data-bind="value: koName" />
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Ngày sinh</Span></div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <input type='text' class="form-control" id='datetimepicker' placeholder="mm/dd/yyyy" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Địa chỉ</Span></div>
                <div class="col-md-6">
                    <textarea class="form-control" rows="4" data-bind="value: koAddress"></textarea>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Email</Span></div>
                <div class="col-md-6">
                    <input type="text" class="form-control" data-bind="value: koEmail" />
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Số điện thọai</Span></div>
                <div class="col-md-6">
                    <input type="text" class="form-control" data-bind="value: koPhone" />
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><Span>Trạng thái</Span></div>
                <div class="col-md-6">
                    <form id='form-id'>
                        <input id='watch-me' name='star' type='radio' data-bind="checked: koStatus, checkedValue: true" /> Hoạt động
                        <input id='see-me' name='star' type='radio' data-bind="checked: koStatus, checkedValue: false" /> Không hoạt động
                    </form>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-2 title-add"><label>&nbsp;</label></div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <button class="btn-updata btn-green" id="saveImageFolder" data-bind="click: insertUser"><i class="fa fa-floppy-o"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black;">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p class="titlemessager" style="color:red"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>