
@model Model_banhang24vn.CustomView.UserRoleView
@{
    ViewBag.Title = "HoiDap";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/Knockout")
<script src="~/Content/CkEditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
    @*<script src="~/Assets/js/Admin/TreeView/gijgo.js"></script>
    <link href="~/Assets/css/Admin/TreeView/gijgo.css" rel="stylesheet" />*@
<script src="~/Assets/js/Admin/HoiDap.js"></script>
<script>
    $(document).ready(function () {
        var tool = [
            'Bold', 'Italic', 'Underline', 'Subscript',
            'Superscript', 'Image', 'Table', 'NumberedList',
            'BulletedList', 'Outdent', 'Indent', 'JustifyLeft',
            'JustifyCenter', 'JustifyRight', 'JustifyBlock', 'Link', 'Unlink',
            'TextColor', 'BGColor', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'CreateDiv', 'Maximize', 'Source', 'FontSize', 'Format', 'Font'
        ];
        CKEDITOR.replace('CauTraLoi',
            {
                entermode: CKEDITOR.ENTER_BR,
                toolbar: [tool]
            });
     
        CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
    });
</script>
}
<style>
    .format-circle {
        width: 100%;
        float: left;
    }

        .format-circle ul li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 8px;
        }

            .format-circle ul li:after {
                content: "\f111";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: #777;
                font-size: 6px;
                position: absolute;
                left: 0;
                top: 12px;
            }

    .ht-image img {
        width: 80%;
    }

    .ht-image {
        width: 100%;
        float: left;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
</style>
<div class="right_col">
    <h3>Danh sách câu hỏi thường gặp</h3>
    <div class="panel panel-default" style=" height: 100%;">
        <div class="panel-heading" style="height: 60px;">
            <div class="pull-left">
                <input type="text" class="form-control" data-bind="value:koSearch ,event: { keyup: SearchGrid }" placeholder="Tìm kiếm..">
            </div>
            <div class="pull-right">
                @if (Model.RoleInsert)
                {
                    <button class="btn-updata btn-green" data-bind="click: btnInsert"><i class="fa fa-pencil-square-o"></i> Thêm mới</button>
                }
            </div>
        </div>
        <div class="panel-body">
            <div class="table-reponsive">
                <table id="example" class=" table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Câu hỏi</th>
                            <th>Câu trả lời</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            @if (Model.RoleUpdate || Model.RoleDelete)
                            {
                                <th>Xử lý</th>
                            }
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: ListResult" >
                        <tr>
                           <td data-bind="text:CauHoi"></td>
                            <td data-bind="html:CauTraLoi">1</td>
                            <td data-bind="text:ConvertDate(NgayTao)"></td>
                            @*<td>1</td>*@
                            <td data-bind="text:TrangThai==true?'Hiện thị':'Ẩn'"></td>
                            @if (Model.RoleUpdate || Model.RoleDelete)
                            {
                                <td>
                                    <div class="edit-delete">
                                        @if (Model.RoleUpdate)
                                        {
                                            <a class="red" href="javascript:void(0)" data-bind="click: btnUpdate">
                                                <i class="ace-icon fa fa-pencil "></i>
                                            </a>
                                        }
                                        @if (Model.RoleDelete)
                                        {
                                            <a class="blue" href="javascript:void(0)" data-bind="click: btndelete">
                                                <i class="ace-icon fa fa-trash-o "></i>
                                            </a>
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width:100%">
                <ul class="pagination">
                    <li style="float: left; padding:6px 12px;" data-bind="text: PageIten">
                        Page 1 of 30000 (300000 items)

                    </li>
                    <li><a href="#" id="Previouspage" data-bind="click: ClickPrevious">&laquo;</a></li>
                    <li class="page-item">
                        <div class="page-link" style="float: left;width: 50px;">
                            <input type="text" data-bind="value: page, event: { keyup: netPageKeyup }" class="form-control" style="height:32px">
                        </div>
                    </li>
                    <li class="page-item"><span class="page-link"> /</span></li>
                    <li class="page-item"><span class="page-link" data-bind="text: pageCount"></span></li>
                    <li><a href="#" id="Nextpage" data-bind="click: ClickNext"> &raquo;</a></li>

                </ul>
                <div class="pull-right recost">
                    <span>Số bản ghi</span>
                    <select required="required" class="form-control" id="SelectedLimit">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>

                    </select>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modalhoidap" aria-hidden="false" >
    <div class="modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h4 class="modal-title" data-bind="text:TitlePopup"></h4>
            </div>
            <div class="modal-body">
                <div class="" role="tabpanel" data-example-id="togglable-tabs" style="height: 500px;
    overflow: auto;">
                    @*<ul id="myTab" class="nav nav-tabs " role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Thông tin chung</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Tính năng liên quan</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">*@
                            <div class="content-addnews fl">
                                <div class="fl form-addnews">
                                    <div class="col-md-2 title-add"><span>Câu hỏi </span></div>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" data-bind="value:CauHoi" ></textarea>
                                    </div>

                                </div>
                                <div class="fl form-addnews">
                                    <div class="col-md-2 title-add"><span>Câu trả lời</span></div>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="2" id="CauTraLoi"></textarea>
                                    </div>
                                </div>
                                <div class="fl form-addnews">
                                    <div class="col-md-2 title-add"><span>Vị trí</span></div>
                                    <div class="col-md-10">
                                        <input  class="form-control" type="number" data-bind="value:ViTri" />
                                    </div>
                                </div>
                                <div class="fl form-addnews">
                                    <div class="col-md-2 title-add"><span>Trạng thái</span></div>
                                    <div class="col-md-10">
                                        <form id="form-id">
                                            <input id="watch-me" name="star" type="radio" data-bind="checked: TrangThai, checkedValue: true" value="true"> Hiện thị
                                            <input id="see-me" name="star" type="radio" data-bind="checked: TrangThai, checkedValue: false" value="false"> Ẩn
                                        </form>
                                    </div>
                                </div>

                            </div>
                        @*</div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <div class="col-md-12 ">
                                <div id="tree"></div>
                            </div>
                        </div>
                       
                    </div>*@
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn-updata btn-green" data-bind="click:save" ><i class="fa fa-floppy-o"></i> Lưu</button>
                <button class="btn-updata btn-blue-b" data-dismiss="modal"><i class="fa fa-ban"></i> Đóng</button>

            </div>
        </div>
    </div>
</div>