@model Model_banhang24vn.CustomView.UserRoleView
@{
    ViewBag.Title = "TinhNang";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
}


@section scripts {
    @Scripts.Render("~/bundles/Knockout")
<script src="~/Assets/js/Admin/TreeView/bootstrap-treeview.min.js"></script>
<script src="~/Assets/js/Admin/HoTroTinhNang.js"></script>
    <script>
        var result = new CustomerDetail(1);
        ko.applyBindings(result);
        function btnDelete(id) {
            result.btnDelete(id);
        }
        function btnUpdate(id) {
            result.btnUpdate(id);
        }
    </script>
}
<style>
    .treeview{
        max-height:600px;
        overflow:auto
    }
    </style>
<div class="right_col">
    <h3>Danh sách nhóm bài viết</h3>
    <div class="panel panel-default" style=" height: 100%;">
        <div class="panel-heading" style="height: 60px;">
            <div class="pull-left">
                @if (Model.RoleInsert)
                {
                    <button class="btn-updata btn-green" data-bind="click: AddNew"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Thêm mới tính năng phần mềm</button>
                }
            </div>
            <div class="pull-right">

            </div>
        </div>
        <div class="panel-body">
            <div id="tree"></div>
        </div>
    </div>

</div>