
@{
    Layout = "~/Views/Open24/_Layout.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
        <h2>KHÔNG TÌM THẤY TRANG!</h2>
        <p>
            Thật tiếc! Trang của bạn yêu cầu không tồn tại.<br />
            Vui lòng thử với một trang khác hoặc liên hệ trực tiếp với Open24 nhé!
        </p>
        <a href="/" class="">Trở về trang chủ</a>
    </div>
</div>

