@model Model_banhang24vn.CustomView.UserRoleView
@{
    ViewBag.Title = "Ngành nghề kinh doanh";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
}


@section scripts {

    <script>
    $(document).ready(function () {
         CKEDITOR.replace('TN_NoiDung',
        {
            entermode: CKEDITOR.ENTER_BR,
            toolbar: [[
                'Bold', 'Italic', 'Underline', 'Subscript',
                'Superscript', 'Image', 'Table', 'NumberedList',
                'BulletedList', 'Outdent', 'Indent', 'JustifyLeft',
                'JustifyCenter', 'JustifyRight', 'JustifyBlock', 'Link',
                'Unlink', 'TextColor', 'Maximize', 'Source', 'FontSize', 'Format', 'Font'
            ]]
        });
    CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
        $(document).on('click', '.Classbussines', function () {
            var t = $(this).closest('tr').next(".tr-hide").css("display");
            if (t == "none") {
                $(".tr-hide").removeClass("block");
                $(this).closest('tr').next(".tr-hide").addClass("block");
            }
            else if (t == "block") {
                $(this).closest('tr').next(".tr-hide").removeClass("block");
            }
            else {
                $(".tr-hide").removeClass("block");
            }
        });
    });
    </script>
    @Scripts.Render("~/bundles/Knockout")
    <script src="~/Assets/js/Admin/TreeView/gijgo.js"></script>
    <link href="~/Assets/css/Admin/TreeView/gijgo.css" rel="stylesheet" />
    <script src="~/Assets/js/Admin/Business.js"></script>
    <script src="~/Content/CkEditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
}


<style>
    .panel-body {
        padding: 5px;
    }
</style>

<div class="right_col">
    <h3>Danh sách ngành nghề kinh doanh</h3>
    <div class="panel panel-default" style=" height: 100%;">
        <div class="panel-heading" style="height: 60px;">
            <div class="pull-left">
                <input type="text" class="form-control" data-bind="value:koSearch ,event: { keyup: SearchGrid }" placeholder="Tìm kiếm..">
            </div>
            <div class="pull-right">
                @if (Model.RoleInsert)
                {
                    <button class="btn-updata btn-green" data-bind="click: DetailInsertBussines"><i class="fa fa-pencil-square-o"></i> Thêm mới tính năng ngành nghề</button>
                    <button class="btn-updata btn-green" data-bind="click: AddBusiness"><i class="fa fa-pencil-square-o"></i> Thêm mới ngành nghề KD</button>
                }
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th id="sortMa">Mã ngành nghề</th>
                            <th id="sortTen">Tên ngành nghề</th>
                            <th id="sortCreateDate">Ngày tạo</th>
                            <th id="sortCreateBy">Người tạo</th>
                            <th id="sortModiDate">Ngày sửa</th>
                            <th id="sortModBy">Người sửa</th>
                            <th id="sortStatus">Trạng thái</th>
                            @if (Model.RoleUpdate || Model.RoleDelete)
                            {
                                <th>Xử lý</th>
                            }
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: ListBusiness">
                        <tr class="tr-show" data-bind="attr: {  id: ID}">
                            <td class="Classbussines" data-bind="text: MaNganhNghe"></td>
                            <td class="Classbussines" data-bind="text: TenNganhNghe"></td>
                            <td class="Classbussines" data-bind="text: ConvertDate(CreatDate)"></td>
                            <td class="Classbussines" data-bind="text: CreatedBy"></td>
                            <td class="Classbussines" data-bind="text: ConvertDate(ModifiedDate)"></td>
                            <td class="Classbussines" data-bind="text:ModifiedBy"></td>
                            <td class="Classbussines" data-bind="text: ConvertTrangthai(Status)"></td>
                            @if (Model.RoleUpdate || Model.RoleDelete)
                            {
                                <td>
                                    <div class="edit-delete">
                                        @if (Model.RoleUpdate)
                                        {
                                            <a class="red" href="#" data-bind="click: $parent.UpdateBusiness">
                                                <i class="ace-icon fa fa-pencil "></i>
                                            </a>
                                        }
                                        @if (Model.RoleDelete)
                                        {
                                            <a class="blue" href="#" data-bind="click: $parent.deleteBusiness">
                                                <i class="ace-icon fa fa-trash-o "></i>
                                            </a>
                                        }
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr class="tr-hide">
                            <td colspan="8" style="    background-color: #eee;    border: 1px solid #73879c;">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul class="nav nav-tabs " role="tablist">
                                        <li role="presentation" class="active">
                                            <a @*href="#tab_content1"*@ data-bind="attr: { href:'#1_'+ ID}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Thông tin chi tiết</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a @*href="#tab_content2"*@ data-bind="attr: { href:'#2_'+ ID}" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Ảnh banner</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" style="    padding: 5px;">
                                        <div role="tabpanel" class="tab-pane fade active in" data-bind="attr: {  id: '1_' + ID}" aria-labelledby="home-tab">

                                            <div class="titie-lhkd  text-center">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:5%">STT</th>
                                                                <th style="width:12%">Tên tính năng</th>
                                                                <th style="width:26%">Tiêu đề</th>
                                                                <th style="width:35%">nội dung</th>
                                                                <th style="width:9%">Ngày sửa</th>
                                                                <th style="width:8%">Trạng thái</th>
                                                                @if (Model.RoleUpdate || Model.RoleDelete)
                                                                {
                                                                    <th style="width:5%">Xử lý</th>
                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach: $parent.ListBusinessDetail">
                                                            <tr>
                                                                <td data-bind="text: STT"></td>
                                                                <td data-bind="text: TenTinhNang"></td>
                                                                <td data-bind="text: TieuDe"></td>
                                                                <td data-bind="html: NoiDung"></td>
                                                                <td data-bind="text: ConvertDate(DateEdit)"></td>

                                                                <td data-bind="text: ConvertTrangthaiAnHien(Status)"></td>
                                                                @if (Model.RoleUpdate || Model.RoleDelete)
                                                                {
                                                                    <td>
                                                                        <div class="edit-delete">
                                                                            <a class="red" href="#" data-bind="click: $root.DetailUpdateBusiness">
                                                                                <i class="ace-icon fa fa-pencil "></i>
                                                                            </a>
                                                                            <a class="blue" href="#" data-bind="click: $root.DetaildeleteBusiness">
                                                                                <i class="ace-icon fa fa-trash-o "></i>
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                }
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <div style="width:100%">
                                                        <ul class="pagination" style="float: left;">
                                                            <li style="float: left; padding:6px 12px;" data-bind="text: $root.PageItemDetail">
                                                                Page 1 of 30000 (300000 items)

                                                            </li>
                                                            <li><a href="#" id="Previouspage" data-bind="click: $root.ClickPreviousDetail">&laquo;</a></li>
                                                            <li class="page-item">
                                                                <div class="page-link" style="float: left;width: 50px;">
                                                                    <input type="text" data-bind="value: $root.pageDetail, event: { keyup: $root.netPageDetailKeyup }" class="form-control" style="    height: 36px;">
                                                                </div>
                                                            </li>
                                                            <li class="page-item"><span class="page-link"> /</span></li>
                                                            <li class="page-item"><span class="page-link" data-bind="text: $root.pageCountDetail"></span></li>
                                                            <li><a href="#" id="Nextpage" data-bind="click: $root.ClickNextDetail"> &raquo;</a></li>

                                                        </ul>
                                                        <div class="pull-right recost">
                                                            <span>Số bản ghi</span>
                                                            <select required="required" class="form-control" id="SelectedLimitDetail" data-bind="event:{ change: $root.ChangeSelectedLimitDetail }">
                                                                <option value="5">5</option>
                                                                <option value="10">10</option>
                                                                <option value="15">15</option>

                                                            </select>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" data-bind="attr: { id: '2_' + ID}" @*id="tab_content2"*@ aria-labelledby="profile-tab">
                                            <div class="col-md-9">
                                                <h4>Ảnh banner Website</h4>
                                            <img style="      height: 100%;  width: 100%;" data-bind="attr: {  src: Image}" @*src="~/Content/images/anhn/1.jpg"*@ />
                                                </div>
                                            <div class="col-md-3">
                                                <h4>Ảnh banner mobile</h4>
                                                <img style="      height: 100%;  width: 100%;" data-bind="attr: {  src: ImageMobile}" @*src="~/Content/images/anhn/1.jpg"*@ />
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="width:100%">
                <ul class="pagination">
                    <li style="float: left; padding:6px 12px;" data-bind="text: PageItem">
                        Page 1 of 30000 (300000 items)

                    </li>
                    <li><a href="#" id="Previouspage" data-bind="click: ClickPrevious">&laquo;</a></li>
                    <li class="page-item">
                        <div class="page-link" style="float: left;width: 50px;">
                            <input type="text" data-bind="value: page, event: { keyup: netPageKeyup }" class="form-control" style="height:32px">
                        </div>
                    </li>
                    <li class="page-item"><span class="page-link"> /</span></li>
                    <li class="page-item"><span class="page-link" data-bind="text: pageCount"></span></li>
                    <li><a href="#" id="Nextpage" data-bind="click: ClickNext"> &raquo;</a></li>

                </ul>
                <div class="pull-right recost">
                    <span>Số bản ghi</span>
                    <select required="required" class="form-control" id="SelectedLimit">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>

                    </select>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myPermisssion">
    <div class="modal-lg" style="    width: 800px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black;"><span id="textTitle">Thêm mới nghành nghề kinh doanh</span></h4>
            </div>
            <div class="modal-body">
                <div id="SHowLoad" hidden style="    position: absolute;  z-index: 999;top: 229px;left: 370px;">
                    <i class="fa fa-refresh fa-spin" style="font-size:48px;color:#2e4761"></i>
                </div>
                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><Span>Tên ngành nghề </Span><span class="red">(*)</span></div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" data-bind="value: KoTenNganhNghe" />
                    </div>

                </div>

                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><Span>Trạng thái</Span></div>
                    <div class="col-md-9">
                        <form id='form-id'>
                            <input id='watch-me' name='star' type='radio' data-bind="checked: koStatus, checkedValue: true" /> Hoạt động
                            <input id='see-me' name='star' type='radio' data-bind="checked: koStatus, checkedValue: false" /> Không hoạt động
                        </form>
                    </div>
                </div>
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul class="nav nav-tabs " role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Nhóm quyền</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Ảnh Banner</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="content-addnews fl" style="max-height: 450px;    overflow-x: hidden; overflow-y: auto;">
                                <div class="row">
                                    <div id="tree"></div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <div class="fl form-addnews">
                                <div class="col-md-3 title-add" style="    float: right;">
                                    <span class="btn  btn-file form-control" style="width: 145px;">
                                        Chọn ảnh mobile
                                        <input type="file" id="selectImageMobile" accept=".jpg,.gif,.png" name="image">
                                    </span>
                                </div>
                                <div class="col-md-3 title-add" style="    float: right;">
                                    <span class="btn  btn-file form-control" style="width: 145px;">
                                        Chọn ảnh Website
                                        <input type="file" id="selectImage" accept=".jpg,.gif,.png" name="image">
                                    </span>
                                </div>
                            </div>

                            <div class="fl form-addnews">
                                <div class="col-md-12 nopadding">
                                    <div class=" col-md-9">
                                    <h4> Ảnh banner Website</h4>
                                    <img style=" width: 100%;" id="imageBanner" src="/Content/images/imgdemo.png" alt="Ảnh tải lên">
                                        </div>
                                    <div class=" col-md-3">
                                        <h4> Ảnh banner mobile</h4>
                                        <img style=" width: 100%;" id="imageBannerMobile" src="/Content/images/imgdemo.png" alt="Ảnh tải lên">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><label>&nbsp;</label></div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            <button class="btn-updata btn-green" id="saveImageFolder" data-bind="click: SavePermisssion"><i class="fa fa-floppy-o"></i> Lưu</button>
                            <button type="button" class="btn-updata btn-blue-b" data-dismiss="modal"><i class="fa fa-ban"></i> Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal2">
    <div class="modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h4 class="modal-title" id="myModalLabel">Thêm mới tính năng</h4>
            </div>
            <div class="editnews fl" style="    height: 650px; overflow-y: scroll;">

                @*<div class="fl form-addnews">
                        <div class="col-md-3 title-add"><label>STT</label></div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" data-bind="value: TN_STT" />
                        </div>
                    </div>*@

                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><label>Tên tính năng</label></div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" data-bind="value: TN_Ten" />
                    </div>
                </div>
                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><label>STT</label></div>
                    <div class="col-md-9">
                        <input type="number" min="0" class="form-control" data-bind="value: TN_STT" />
                    </div>
                </div>
                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><label>Ngành nghề kinh doanh:</label></div>
                    <div class="col-md-9">
                        <select class="form-control" id="selectNganhNghe" data-bind="options:listBussinessAll, optionsText: 'TenNganhNghe', optionsValue: 'ID'"></select>
                    </div>
                </div>
                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><label>Tiêu đề</label></div>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="4" data-bind="value: TN_TieuDe"></textarea>
                    </div>
                </div>

                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><label>Nội dung</label></div>
                    <div class="col-md-9">
                        <textarea class="ckeditor" id="TN_NoiDung"></textarea>
                    </div>
                </div>
                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><Span>Trạng thái</Span></div>
                    <div class="col-md-9">
                        <form id='form-id'>
                            <input name='star' type='radio' data-bind="checked: TN_Status, checkedValue: true" />Hiện thị
                            <input name='star' type='radio' data-bind="checked: TN_Status, checkedValue: false" /> Ẩn
                        </form>
                    </div>
                </div>


                <div class="fl form-addnews">
                    <div class="col-md-3 title-add">
                        <span class="btn  btn-file form-control">
                            Album ảnh
                            <input type="file" id="selectImageDetail" accept=".jpg,.gif,.png" name="image">
                        </span>

                    </div>
                    <div class="col-md-9" style="    border: 1px solid #54799e; ">
                        <div data-bind="foreach:listImage">

                            <div class="fl form-addnews">
                                <a href="javascript:void(0)" class="register_close" data-bind="click:$parent.removeImage"><i style=" font-size: 20px; color: red;float: right;" class="fa fa-close"></i></a>
                                <div class="col-md-3 title-add">
                                    <div class="fl" style="     width: 150px;  height: 125px; padding: 10% 1% 4% 0%;">

                                        <img style="    width: 100%;  height: 100%;" data-bind="attr: { src: SrcImage }" alt="Ảnh tải lên">

                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="4" data-bind="value: Note" placeholder="Mô tả chi tiết ảnh"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-updata btn-green" data-bind="click: EditTinhNangNghanhNghe"><i class="fa fa-floppy-o"></i> Lưu</button>
                <button class="btn-updata btn-blue-b" data-dismiss="modal"><i class="fa fa-ban"></i> Đóng</button>

            </div>
        </div>
    </div>
</div>