@{
    Layout =null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/js/bootstap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/StyleSheet2.css" rel="stylesheet" />
    <link href="~/Content/css/styleadmin.css" rel="stylesheet" />
    <link href="~/Areas/Assets/css/Admin/Account.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <div class="form-login">
                    <h4>Welcome Open24</h4>
                    <input type="text" id="userName" class="form-control input-sm chat-input" data-bind="value: userName" placeholder="Tài khoản" />
                    <br />
                    <input type="password" id="userPassword" class="form-control input-sm chat-input" data-bind="value: password" placeholder="Mật khẩu" />
                    <br />
                    <span style="color:red" data-bind="text: myMessage"></span>
                   
                    <div class="wrapper">
                        <span class="group-btn">
                            <a href="#" class="btn btn-primary btn-md" data-bind="click:LoginAccount">login <i class="fa fa-sign-in"></i></a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/Assets/js/Admin/Account.js"></script>
</body>
</html>