

<div class="modal-content ">
    <div class="modal-body">
        <div class="form-group">
            <label>Số lượng:</label>

            <div class="price-reduce bold">
                <div class=" pull-right">
                    <div >
                        <a href="javascript:void(0)" class="bill-plus" title="Giảm số lượng" data-bind="click: reduce_Quantity">
                            <i class="fa fa-minus"></i>
                        </a>
                        <input type="text" class="form-control munber-bill" id="txtQuantity" style="max-width:90px!important" autofocus autocomplete="off"
                               data-bind=" event:{keyup: editNumber_Quantity}" onkeypress="keypressNumber_limitNumber(event, this)" onclick="this.focus()">
                        <a href="javascript:void(0)" class="bill-plus bill-plusnext" title="Tăng số lượng" data-bind="click: increase_Quantity">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-munber">
        <div class="main-munbertop">
            <div class="munber-night">
                <button data-bind="click:function () {clickNumber_Quantity(7)}">7</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(8)}">8</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(9)}">9</button>
            </div>
        </div>
        <div class="main-munbertop">
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(4)}">4</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(5)}">5</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(6)}">6</button>
            </div>
        </div>
        <div class="main-munbertop">
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(1)}">1</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(2)}">2</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(3)}">3</button>
            </div>
        </div>
        <div class="main-munbertop">
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity('.')}">.</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber_Quantity(0)}">0</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: clear_Quantity">
                    <img src="~/Content/images/print/icccoo-11.png" />
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
     
            <button class="btn btn-main" data-bind="click: agree_Quantity">
                <i class="fa fa-check-square"></i> Xong
            </button>
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
       
    </div>
</div>

