
<div class="modal-content ">
    <div class="modal-body">
        <div class="form-group">
            <label>Giá mới:</label>
            <input id="computer_newPrice" class="bold form-control" autofocus
                   data-bind="event:{keyup: editPrice_computer}, click: clickNewPrice_computer"
                   onkeypress=" return keypressNumber(event)" />
            <div class="price-reduce bold">
                <span>VNĐ</span>
            </div>
        </div>
        <div class="form-group">
            <label>Giảm giá:</label>
            <input id="computer-gg" class="form-control"
                   data-bind="event:{keyup: editSale_computer}, click: clickSale_computer"
                   onkeypress=" return keypressNumber_limitNumber(event, this)" />
            <div class="price-reduce bold">
                <div class="toogle toogle-report active-re" id="divOnOffVND" data-bind="click: ChangeDVT_computer">
                    <span class="transverse" >%</span>&nbsp;
                    <span class="poison" @*data-bind="click: clickVND_computer"*@>VNĐ</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-munber">
        <div class="main-munbertop">
            <div class="munber-night">
                <button data-bind="click:function () {clickNumber(7)}">7</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(8)}">8</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(9)}">9</button>
            </div>
        </div>
        <div class="main-munbertop">
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(4)}">4</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(5)}">5</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(6)}">6</button>
            </div>
        </div>
        <div class="main-munbertop">
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(1)}">1</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(2)}">2</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(3)}">3</button>
            </div>
        </div>
        <div class="main-munbertop">
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber('.')}">.</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: function () {clickNumber(0)}">0</button>
            </div>
            <div class="munber-night">
                <button data-bind="click: deleteNumber">
                    <img src="~/Content/images/print/icccoo-11.png" />
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
       
            <button class="btn btn-main btn-green" data-bind="click: agreeNewPrice_computer">
                <i class="fa fa-check-square"></i> Xong
            </button>
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
       
    </div>
</div>

