
<div class="modal-dialog draggable modal-lg" role="document">
    <div class="modal-dialog draggable  " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title" id="titleChuyenGhepBan"></h4>
            </div>
            <div class="modal-body floatleft">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group floatleft">
                            <label class="form-label control-label">Thao tác</label>
                            <input type="radio"
                                   name="rdoChuyenGhep" data-bind="checked: CheckChuyenBan, checkedValue: 1" /> Chuyển bàn
                            <input type="radio" name="rdoChuyenGhep" data-bind="checked: CheckChuyenBan, checkedValue: 2" /> Ghép hóa đơn
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label" data-bind="text: CheckChuyenBan() == 1?'Chuyển đến':'Ghép đến'"></label>
                            <div class="form-news">
                                <div class="form-group floatleft " id="divSearchPB">
                                    <input type="text" class="form-control" id="txtSearchPB" autocomplete="off"
                                           v-model="query" v-on:keyup="submit" onfocusout="HideLostFocust()" placeholder="Tìm kiếm phòng">
                                    <div id="showseach_PB" hidden style="width:400px" class="divSearchVue">
                                        <ul>
                                            <li v-for="item of SearchList" v-on:click="click(item)">
                                                <a style="font-weight: bold;">
                                                    <span>{{ item.TenViTri }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group floatleft"
                             data-bind="visible: selectedPhongBan_GhepHoaDon()!== null && selectedPhongBan_GhepHoaDon()!==undefined && HoaDonByIDViTri().length == 0">
                            <p id="lblNoHDon" style="height:38px; background-color: #cac7b3; text-align:center">
                                Bàn chưa có hóa đơn nào
                            </p>
                        </div>
                        <div class="form-group floatleft">
                            <div data-bind="visible: HoaDonByIDViTri().length > 0">
                                <table class='table'>
                                    <thead>
                                        <tr>
                                            <th class="hideRdo" data-bind="visible: CheckChuyenBan() == 2"></th>
                                            <th>Khách hàng</th>
                                            <th>Mô tả</th>
                                            <th>Số lượng</th>
                                            <th>Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: HoaDonByIDViTri">
                                        <tr>
                                            <td data-bind="visible: $root.CheckChuyenBan() == 2">
                                                <input type="radio" name="rdoChoseHD"
                                                       data-bind="checked: $parent.choseHDKH , checkedValue: MaHoaDon, event:{change: $parent.choseHD } " />
                                            </td>
                                            <td data-bind="text: TenDoiTuong"></td>
                                            <td data-bind="text: DienGiai"></td>
                                            <td data-bind="text: SoLuong"></td>
                                            <td data-bind="text: formatNumber(TongTienHang)"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group floatleft">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              
                    <button type="button" class="btn btn-save" data-dismiss="modal" id="btnThucHien"
                            data-bind="visible: HoaDonByIDViTri().length > 0 || CheckChuyenBan() == 1, click: ChuyenGhepBan">
                        <i class="fa fa-check-square"></i>Thực hiện
                    </button>
                    <button type="button" class="btn btn-close" data-dismiss="modal">
                        <i class="fa fa-ban"></i> Đóng
                    </button>
             
            </div>
        </div>
    </div>
</div>
