
<div class="modal-content  ui-draggable ui-draggable-handle">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title">
            Thông tin tài khoản
        </h4>
    </div>
    <div class="modal-body floatleft">
        <div class="col-md-12">

            <div class="col-md-12">
                <div class="row">
                    <div class="row">
                        <div class="form-group floatleft" data-bind="with: newAccountBank">
                            <label class="form-label control-label w166">Tên ngân hàng/ Chi nhánh</label>
                            <div class="form-news">
                                <input type="text" class="form-control"
                                       data-bind="value: TenNganHang" readonly>
                            </div>
                        </div>
                        <div class="form-group floatleft" data-bind="with: newAccountBank">
                            <label class="form-label control-label w166">Tên chủ thẻ</label>
                            <div class="form-news"><input type="text" class="form-control" data-bind="value: TenChuThe" readonly></div>
                        </div>
                        <div class="form-group floatleft" data-bind="with: newAccountBank">
                            <label class="form-label control-label w166">Số tài Khoản</label>
                            <div class="form-news"><input type="text" class="form-control" data-bind="value: SoTaiKhoan" readonly></div>
                        </div>
                        <div class="form-group floatleft" data-bind="with: newAccountBank">
                            <label class="form-label control-label w166">Ghi chú</label>
                            <div class="form-news">
                                <textarea rows="2" data-bind="value: GhiChu" readonly>   
     </textarea>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label w166">&nbsp;</label>
                            <div class="form-news" data-bind="with: newAccountBank">
                                <label class="floatleft font400">
                                    <input type="checkbox" data-bind="checked: TaiKhoanPOS"> Tài khoản thanh toán POS
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
     
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>

       
    </div>
</div>


