<style>
    .ddl-searchgroup i {
        position: absolute;
        top: 7px;
        left: 7px;
        color: #999;
        line-height: 15px;
    }

    .ddl-searchgroup input {
        padding-left: 26px;
        outline: none;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        height: 30px;
    }
</style>

<div class="outselect">
    <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
        <div class="form-control tenNhomHH" style="cursor:pointer">---Chọn nhóm---</div>
    </div>
    <div class="selec-person dropdown-menu floatleft ">
        <div class="ddl-searchgroup">
            <input type="text" data-bind="value: filterGroup, valueUpdate: 'afterkeydown'">
            <i class="fa fa-search"></i>
        </div>
        <ul class="group-parent" style="max-height:350px">
            <li data-bind="click : ChoseGroup" class="p-left10">
                <a href="javascript:void(0)">---Chọn nhóm---</a>
            </li>
            <li data-bind="foreach : arrFilterGroup">
                <div class="group-p1" data-bind="click : $root.ChoseGroup">
                    <a  data-bind="text: text"></a>
                    <span class="pull-right" ></span>
                </div>
                <ul class="floatleft" data-bind="foreach: children">
                    <li>
                        <div class="group-p2" data-bind="click : $root.ChoseGroup">
                            <a href="javascript:void(0)" data-bind="text: text"></a>
                            <span class="pull-right"></span>
                        </div>
                        <ul class="floatleft" data-bind="foreach: children">
                            <li>
                                <div class="group-p3" data-bind="click : $root.ChoseGroup">
                                    <a href="javascript:void(0)" data-bind="text: text"></a>
                                    <span class="pull-right"></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

