
<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
            Đồng bộ phiếu
        </h4>
    </div>
    <div class="modal-body divDongBoHoa">
        
                <div class="container-fluid row">
                    <div class="col-sx-12 col-sm-6 col-md-6 nopadding">
                        <div class="form-group">
                            <label>Loại phiếu</label>
                            <div class="for">
                                <select class="form-control" id="ddlDMChungTus" data-bind="options: DMChungTus,
                                                optionsText: 'TenLoaiChungTu', optionsValue: 'MaLoaiChungTu',
                                                value: selectLoaiChungTu"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sx-12 col-sm-6 col-md-6 nopadding">
                        <div class="form-group">
                            <label>Trạng thái kết nối:</label>
                            <div class="connect flex flex-row" style="align-items:center; line-height:24px;    ">
                                <label id="lblStatusConnect"></label>
                                <i class='fa fa-wifi'></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-frame" >
                    <table class="table-reponsive">
                        <thead>
                            <tr>
                                <th>Loại phiếu</th>
                                <th>Mã phiếu</th>
                                <th>Thời gian</th>
                                <th>Giá trị</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: HoaDonOffline">
                            <tr>
                                <td >
                                    <span data-bind="text:LoaiHoaDon ===1?'Hóa đơn':LoaiHoaDon ==3?'Đặt hàng': LoaiHoaDon ==6?'Trả hàng': 'Gói dịch vụ'"></span>
                                </td>
                                <td >
                                    <span data-bind="text: MaHoaDon.split('_')[0]"> </span>
                                </td>
                                <td >
                                    <span data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm:ss')!='Invalid date'? moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm:ss'):''"></span>
                                </td>
                                <td>
                                    <span  data-bind="text: LoaiHoaDon ===6?formatNumber(formatNumberToInt(TongGiaGocHangTra)): formatNumber(formatNumberToInt(TongTienHang) - formatNumberToInt(TongGiamGia)) "></span>
                                </td>
                                <td>
                                    <button class="btn " data-bind="click: $root.goDetail">Chọn</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            

    </div>
    <div class="modal-footer">
      
            <button type="button" class="btn btn-main" id="btnDongBoHoa"> <i class="fa fa-refresh"></i> Đồng bộ hóa</button>
     
    </div>

</div>
