<style>
    .detail-content label {
        font-weight: normal;
        width: 80px;
        padding: 8px 5px 0;
        line-height: 17px;
        float: left;
    }
   
</style>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title">Hóa đơn</h4>
    </div>
    <div class="modal-body">
        <div class="floatleft" data-bind="foreach: $root.Modal_HoaDons">
            <div class="col-xs-12 col-md-4">
                <div class="detail-content floatleft">
                    <div class="form-group floatleft">
                        <label class="css-form-label ">Mã hóa đơn:</label>
                        <div class="css-form-detail bold" data-bind="text: MaHoaDon"></div>
                    </div>

                    <div class="form-group floatleft">
                        <label class="css-form-label ">Khách hàng:</label>
                        <div class="css-form-detail" data-bind="text: TenDoiTuong"></div>
                    </div>
                    <div class="form-group floatleft ">
                        <label class="css-form-label ">Bảng giá:</label>
                        <div class="css-form-detail" data-bind="text: TenBangGia"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="detail-content">
                    <div class="form-group floatleft">
                        <label class="css-form-label ">Thời gian:</label>
                        <div class="css-form-detail" data-bind="text: moment(NgayLapHoaDon,'YYYY-MM-DD HH:mm:ss').format('DD/MM/YYYY HH:mm:ss')"></div>
                    </div>
                    <div class="form-group floatleft ">
                        <label class="css-form-label ">Người bán:</label>
                        <div class="css-form-detail bold" data-bind="text: TenNhanVien"></div>
                    </div>
                    <div class="form-group floatleft ">
                        <label class="css-form-label ">Người tạo:</label>
                        <div class="css-form-detail bold" data-bind="text: NguoiTaoHD"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="detail-content">

                    <div class="form-group floatleft border-end">
                        <label class="css-form-label ">Ghi chú:</label>
                        <div class="css-form-detail">
                            <textarea rows="3" id="txtpop_NoteHD" data-bind="value: DienGiai, event:{keyup: $root.popup_editGhiChuHD}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-reponsive">
                <div class="table-res">
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Phòng (vị trí)</th>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Giảm giá</th>
                                <th class="text-right">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $data.BH_HoaDon_ChiTiet">
                            <tr>
                                <td>
                                    <span data-bind="text: TenViTri"></span>
                                </td>
                                <td>
                                    <span data-bind="text: MaHangHoa"></span><br/>
                                    <span data-bind="text: GhiChu_NVThucHien"></span><br />
                                    <span data-bind="text: GhiChu_NVTuVan"></span>

                                </td>
                                <td>
                                    <span data-bind="text: TenHangHoa"></span>
                                    <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                    <span style="color: #8abb0f" data-bind="visible: TenDonViTinh">
                                        (<span data-bind="text: TenDonViTinh"></span>)
                                    </span><br />
                                    <span data-bind="visible: MaLoHang">
                                        <span data-bind="text: '(Lô: '+ MaLoHang +')'" style="color:palevioletred"></span>
                                    </span>
                                </td>
                                <td data-bind="text: SoLuong">3</td>
                                <td data-bind="text: formatNumber(DonGia)">333</td>
                                <td data-bind="text: formatNumber(TienChietKhau)">33</td>
                                <td class="text-right" data-bind="text: formatNumber(ThanhTien)">33</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ma10">
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tổng tiền hàng :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber(TongTienHang)">

                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Giảm giá hóa đơn :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber(TongGiamGia)">

                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Khách cần trả :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber(PhaiThanhToan)">

                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Khách đã trả:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber(KhachDaTra)">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"id="divMoPhieu">
              
                    <button  class="btn btn-main" data-bind="click: $root.HDOther_MoPhieu">
                      <i class="fa fa-share"></i> Mở phiếu
                    </button>
               
            </div>
        </div>
    </div>
</div>

