<style>
    .date-picker, .timer-picker {
        outline: none;
        border: none;
    }
</style>
<div id="popup-timer" class="popup-timer">
    <div class="inarow">
        <span style="width:30px"> Bắt đầu :</span>
        <input class="date-picker bold" autocomplete="off" onclick="this.select()"
               data-bind="value: moment(DateStart(),'YYYY-MM-DD').format('DD/MM/YYYY'),
               event: {change: ChangeDate }">
        <input class="timer-picker bold" autocomplete="off" onclick="this.select()" data-bind="value: TimeStart,
               click: function(){ChangeTime(1)}">
    </div>
    <div class="inarow">
        <span style="width:30px"> Kết thúc :</span>
        <input class="date-picker bold" autocomplete="off" onclick="this.select()"
               data-bind="value: moment(DateEnd(),'YYYY-MM-DD').format('DD/MM/YYYY'),
               event: {change: ChangeDate } ,
               enable: Stopping()">
        <input class="timer-picker bold" autocomplete="off"  onclick="this.select()"
               data-bind="value: TimeEnd,
               click: function(){ChangeTime(2)} ,
               enable: Stopping() ">
    </div>
    <div class="inarow">
        <span style="width:30px"> Tổng :</span>
        <span style="right:60px; position: absolute" class="bold" data-bind="text: TotalTime"></span>
    </div>
    <div class="inarow">
        <!--ko if: Stopping() -->
        <button class="interfereBtn left" data-bind="click: function(){ Stop(false)}">Tiếp tục </button>
        <!--/ko-->
        <!--ko if: !Stopping() -->
        <button class="interfereBtn right" data-bind="click: function(){ Stop(true)}">Dừng tính </button>
        <!--/ko-->
    </div>

</div>

<script>
    $(function () {
        $('#popup-timer .date-picker').datetimepicker(
            {
                format: "d/m/Y",
                defaultDate: new Date(),
                mask: true,
                timepicker: false,
                scrollMonth: false,
            });
        $('#popup-timer .timer-picker').datetimepicker(
            {
                format: "H:i",
                datepicker: false,
                mask: true,
            });
    });
</script>
<script src="~/Scripts/BanHang/_PopupTimeCTHD.js"></script>