<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title">Hóa đơn</h4>
    </div>
    <div class="modal-body modal-bill" id="content-print">
        <div class="inner-modal">
            <div class="name-restaurant text-center">
                Nhà hàng sen tây hồ
            </div>
            <div class="adress-res text-center">
                Tầng 3 tòa nhà Nam Anh, số 68 Ngõ 116 Nhân Hòa, Quận Thanh Xuân, TP Hà Nội
            </div>
            <div class="phone-res text-center">
                SĐT: 0156879809
            </div>
            
            <div class="detai-res floatleft">
                <div class="floatleft" id="lblNgayBan">
                </div>
                <div class="floatleft" id="lbNameDTprint">
                </div>
                <div class="floatleft" id="lblPhongBan">
                </div>
            </div>
            <div class="table-reponsive">
                <table class="table ">
                    <tr>
                        <td>STT</td>
                        <td>Thực đơn</td>
                        <td>Đơn vị</td>
                        <td>SL</td>
                        <td>Giá</td>
                    </tr>
                    <tbody data-bind="foreach: CTHoaDonPrint">
                        <tr class="drop-bill">
                            <td data-bind="text: $index() + 1"></td>
                            <td data-bind="text: TenHangHoa"></td>
                            <td data-bind="text: TenDonViTinh"></td>
                            <td data-bind="text: SoLuong"></td>
                            <td data-bind="text: formatNumber(DonGia) "></td>
                        </tr>
                    </tbody>
                </table>


            </div>

        </div>
        <div class="bill-totaltable">
            <div class="table-reponsive">
                <table class="table ">

                    <tr>
                        <td colspan="2">Tổng tiền</td>
                        <td colspan="2" class="text-right bold" id="lblTongTienPrint"></td>
                    </tr>
                  
                    <tr>
                        <td colspan="2">Giảm giá</td>
                        <td colspan="2" class="text-right bold" id="lblChietKhauPrint"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Khách trả</td>
                        <td colspan="2" class="text-right bold" id="lblKhachTraPrint"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Tiền dư</td>
                        <td colspan="2" class="text-right bold" id="lblTienDuPrint"></td>
                    </tr>
                </table>
                <div class="thanks-res">Xin cám ơn quý khách !</div>

            </div>
        </div>
    </div>
    <div class="footer-res floatleft">
        <a  class="btn btn-main" data-bind="click: InHoaDon">

            <img src="~/Content/images/iconbepp18.9/innhap.png" />  In hóa đơn
        </a>
        <a  class="btn btn-cancel">

            <img src="~/Content/images/iconbepp18.9/guiggmail.png" />      Gửi email
        </a>
        <a  class="btn btn-cancel" data-dismiss="modal">
            <i class="fa fa-ban"></i> Bỏ qua
        </a>
    </div>

</div>

