<div class=" floatleft ">

    <div class="title-keys floatleft">
        Phím tắt
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (F1)
        </label>
        <div class="content-key">
            Sơ đồ phòng sử dụng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (F2)
        </label>
        <div class="content-key">
            Danh sách hàng hóa đang bán
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (F3)
        </label>
        <div class="content-key">
            Tìm hàng hóa
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (F4)
        </label>
        <div class="content-key">
            Tìm khách hàng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (F6)
        </label>
        <div class="content-key">
            Thay đổi chế độ nhập số lượng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (F10)
        </label>
        <div class="content-key">
            Thanh toán
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (Home)
        </label>
        <div class="content-key">
            Thay đổi số lượng sản phẩm đầu
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (End)
        </label>
        <div class="content-key">
            Thay đổi số lượng sản phẩm cuối
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (<i class="fa fa-angle-down"></i>)
        </label>
        <div class="content-key">
            Giảm số lượng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (<i class="fa fa-angle-up"></i>)
        </label>
        <div class="content-key">
            Tăng số lượng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (Enter)
        </label>
        <div class="content-key">
            Di chuyển xuống ô số lượng của sản phẩm tiếp theo
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            (Shift)
        </label>
        <div class="content-key">
            Di chuyển lên ô số lượng của sản phẩm phía trên
        </div>
    </div>
    <div class="title-keys floatleft">
        Hỗ trợ
    </div>
    <div class="form-group " style="padding: 5px 0; width:49%; display:inline-block">
        <a target="_blank" href="https://get.teamviewer.com/qgvaru2" style="color:black !important">
            <div>
                <img src="~/Content/images/hotro/iconhotro-10.png" alt="Tải Teamviewer" style=" filter: invert(1);" />   Tải Teamviewer
            </div>
        </a>
    </div>
    <div class="form-group " style="padding: 5px 0; width:49%; display:inline-block">
        <a target="_blank" href="http://dl2.ultraviewer.net/UltraViewer_setup_6.1_vi.exe" style="color:black !important">
            <div>
                <img src="~/Content/images/hotro/iconhotro-11.png" alt="Tải Ultraview" style=" filter: invert(1);" /> Tải Ultraviewer
            </div>
        </a>
    </div>
    <div class="form-group " style="padding: 5px 0; width:49%; display:inline-block">
        <a target="_blank" href="https://open24.vn/huong-dan-su-dung" style="color:black !important">
            <div>
                <img src="~/Content/images/hotro/iconhotro-12.png" alt="Hướng dẫn sử dụng" style=" filter: invert(1);" />       Hướng dẫn sử dụng
            </div>
        </a>
    </div>
    <div class="form-group " style="padding: 5px 0; width:49%; display:inline-block">
        <a href="tel: 02473039333" style="color:black !important"> <i class="fa fa-phone"> </i> Hỗ trợ: 024 730 39333 </a>
    </div>

</div>