<style >
    .op-function-box {
        position: absolute;
        width: 400px;
        right: 0px;
        padding: 15px;
        background: white;
        z-index: 2;
        display: none;
        top: 50px;
        border: 1px solid var(--color-primary);
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    }
</style>

<div id="op_js_shortkey" style="display:none">
    <style>
        #op_js_shortkey label {
            width: 45px !important;
        }

        #op_js_function i, #op_js_nhanvien i {
            width: 25px !important;
        }
    </style>
    <div class="title-keys floatleft">
        Phím tắt
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label  ">
            F3
        </label>
        <div class="content-key">
            Tìm kiếm hàng hóa
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label  ">
            F9
        </label>
        <div class="content-key">
            Chọn phương thức thanh toán (chuyển khoản, pos, ..)
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label  ">
            F10
        </label>
        <div class="content-key">
            Lưu và thanh toán
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label  ">
            F11
        </label>
        <div class="content-key">
            In nháp hóa đơn
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label  ">
            <i class="fas fa-arrow-up"></i>
        </label>
        <div class="content-key">
            Tăng số lượng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label  ">
            <i class="fas fa-arrow-down"></i>
        </label>
        <div class="content-key">
            Giảm số lượng
        </div>
    </div>

    <div class="form-group floatleft">
        <label class="form-label  control-label  ">
            Enter
        </label>
        <div class="content-key">
            Di chuyển xuống ô số lượng của sản phẩm tiếp theo
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label  ">
            Shift
        </label>
        <div class="content-key">
            Di chuyển lên ô số lượng của sản phẩm phía trên
        </div>
    </div>
    @*<div class="title-keys floatleft">
        Hỗ trợ
    </div>
    <div class="form-group " style="padding: 5px 0; width:49%; display:inline-block">
        <a target="_blank" href="https://get.teamviewer.com/qgvaru2" style="color:black !important">
            <div>
                <img src="~/Content/images/hotro/iconhotro-10.png" alt="Tải Teamviewer" style=" filter: invert(1);" />   Tải Teamviewer
            </div>
        </a>
    </div>
    <div class="form-group " style="padding: 5px 0; width:49%; display:inline-block">
        <a target="_blank" href="http://dl2.ultraviewer.net/UltraViewer_setup_6.1_vi.exe" style="color:black !important">
            <div>
                <img src="~/Content/images/hotro/iconhotro-11.png" alt="Tải Ultraview" style=" filter: invert(1);" /> Tải Ultraviewer
            </div>
        </a>
    </div>
    <div class="form-group " style="padding: 5px 0; width:49%; display:inline-block">
        <a target="_blank" href="https://open24.vn/huong-dan-su-dung" style="color:black !important">
            <div>
                <img src="~/Content/images/hotro/iconhotro-12.png" alt="Hướng dẫn sử dụng" style=" filter: invert(1);" />       Hướng dẫn sử dụng
            </div>
        </a>
    </div>
    <div class="form-group " style="padding: 5px 0; width:49%; display:inline-block">
        <a href="tel: 02473039333" style="color:black !important"> <i class="fa fa-phone"> </i> Hỗ trợ: 024 730 39333 </a>
    </div>*@
</div>