<div class="menu-room">
    <ul class="nav @*nav-tabs*@ tab-location list-inline " >
        <li class="active" data-bind="click: $root.GetPhongBan_ByIDNhom">
            <a data-toggle="tab" href="#allLocation">Tất cả</a>
        </li>
        <!--ko foreach: AllNhomBans -->
        <li data-bind="click: $root.GetPhongBan_ByIDNhom">
            <a data-toggle="tab"><span data-bind="text: TenKhuVuc, attr:{href: 'nhomban_'+ ID}"></span></a>
        </li>
        <!--/ko-->
    </ul>
</div>
<div class="content-room tab-content">
    <div class="tab-pane active" id="allLocation">
        <ul class="list-room" data-bind="foreach: PhongBans_byIDNhom" style="height:94%; overflow: scroll;">
            <li data-bind="click: $root.ChosePhong_HD">
                <a href="javascript:void(0)">
                    <div class="room-head">
                        <h5><font data-bind="text: TenViTri, css:{'room-emty': $root.IDPhongBan_Chosing() !== $data.ID }"></font><span data-bind="text:' ('+ TenKhuVuc+')'"></span> </h5>
                    </div>
                    <div class="room-body" data-bind="visible: CreateTime!==0">
                        <p><label>Bắt đầu </label><span class="sp-room-time" data-bind="text: CreateTime"></span></p>
                        <p data-bind="visible: ThoiGianThucHien!=''"><label>Thời gian</label><font class="ft-room-time timeUse" data-bind="text: ThoiGianThucHien + ' phút'"></font></p>
                        <p data-bind="visible: ThoiGianThucHien!=''"><label>Còn lại</label><font class="ft-room-time timeRemain" data-bind="text: TextTGConLai + ' phút'"></font></p>
                    </div>
                    <div class="room-body" data-bind="visible: CreateTime==0" style="text-align:center">
                        <i style="color:#ccc">Phòng chưa sử dụng</i>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
