<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title">Thêm mới hàng hóa</h4>
    </div>
    <div class="modal-body">
        
                <div class="form-group" data-bind="with:newHangHoa">
                    <input type="hidden" class="form-control" />
                    <label class="css-form-label">Mã hàng hóa</label>
                    <div class="css-form-detail">
                      
                            <input type="text" id="txtMaHangHoaNhap" class="form-control" placeholder="Mã hàng hóa tự động" data-bind="value:MaHangHoa" />
                        
                    </div>
                </div>
                <div class="form-group" data-bind="with:newHangHoa">
                    <input type="hidden" class="form-control" />
                    <label class="css-form-label">Tên hàng <span style="color:red">(*)</span> </label>
                    <div class="css-form-detail">
                       
                            <input type="text" id="txtTenHangHoa" class="form-control" data-bind="value:TenHangHoa" />
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="css-form-label">Nhóm hàng</label>
                    <div class="css-form-detail">
                    
                            <div class="outselect">
                                <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                    <div class="form-control" id="choose_TenNHHAddHH" style="cursor:pointer">---Chọn nhóm---</div>
                                </div>
                                <div class="selec-person dropdown-menu floatleft ">
                                    <div class="seach-nhomhang">
                                        <input type="text" class="seach-nhomhang" data-bind="value: filterNHH, valueUpdate: 'afterkeydown'">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <ul id="lstNhomHangAddHH" class="group-parent">
                                        <li data-bind="click : clickFistChonAddHH" class="p-left10">
                                            <a href="javascript:void(0)">---Chọn nhóm---</a>
                                        </li>
                                        <li data-bind="foreach : arrFilterNhomHH_AddHH">
                                            <div class="group-p1" data-bind="click : $root.selectIDNHHAdd">
                                                <a  data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                <span data-bind="attr:{id: 'spanCheckNhomAddHH_'+ ID}" class="pull-right"></span>
                                            </div>
                                            <ul class="floatleft" data-bind="foreach: Childs">
                                                <li>
                                                    <div class="group-p2" data-bind="click : $root.selectIDNHHAdd">
                                                        <a href="javascript:void(0)" data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                        <span data-bind="attr:{id: 'spanCheckNhomAddHH_'+ ID}" class="pull-right"></span>
                                                    </div>
                                                    <ul class="floatleft" data-bind="foreach: Child2s">
                                                        <li>
                                                            <div class="group-p3" data-bind="click : $root.selectIDNHHAdd">
                                                                <a href="javascript:void(0)" data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                                <span data-bind="attr:{id: 'spanCheckNhomAddHH_'+ ID}" class="pull-right"></span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="iptBtn" data-toggle="modal" data-bind="click: showpopupthemnhomhh"><i class="fa fa-plus"></i></a>
                       
                    </div>
                </div>
                <div class="form-group" data-bind="with:newHangHoa">
                    <input type="hidden" class="form-control" />
                    <label class="css-form-label">Giá bán</label>
                    <div class="css-form-detail">
                        
                            <input class="form-control" id="txtGiaBanNhap"
                                   name="txtGiaBan" type="text" data-bind="value: GiaBan" onkeyup="return formatNumberObj(this)"
                                   onkeypress="return keyPress(event)" />
                       
                    </div>
                </div>
                <div class="form-group" data-bind="with:newHangHoa">
                    <input type="hidden" class="form-control" />
                    <label class="css-form-label">Đơn vị cơ bản</label>
                    <div class="css-form-detail">
                       
                            <input type="text" class="form-control" data-bind="value: TenDonViTinh" />
                        
                    </div>
                    <p class="floatleft" id="QuanLyTheoLoHangCheck" style="display:none">
                        <label><input type="checkbox" value="checked" data-bind="checked: QuanLyTheoLoHang, checkedValue: false, click: $root.CheckQuanLyLoHang" /> Quản lý theo lô</label>
                    </p>
                </div>
                
            
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>Bỏ qua</button>
        <button type="button" class="btn btn-save" id="btnLuuHangHoa" data-bind="click: addHangHoa"><i class="fa fa-save"></i> Lưu</button>
    </div>
</div>
<script>
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }
</script>
