<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title" id="tilte-partialNhomHH">Thêm nhóm hàng hóa/ dịch vụ</h4>
    </div>
    <div class="modal-body">
            <div class="form-group">

                <input type="hidden" class="form-control">
                <label class="control-label">Tên nhóm <span style="color: red">(*)</span></label>
                <div class="form-news" data-bind="with: newProductGroup">
                    <input type="text" class="form-control" data-bind="value:TenNhomHangHoa " autocomplete="off" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Nhóm cha</label>
                <div class="form-news">
                    @Html.Partial("~/Views/BanHang/_ddlNhomHangHoa.cshtml")
                </div>
            </div>

    </div>
    <div class="modal-footer">
       
                <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
                <button type="button" class="btn btn-save" data-bind="click: saveProductGroup"><i class="fa fa-save"></i> Lưu</button>
       
    </div>
</div>
