<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title" id="title-partialproduct">Thêm mới hàng hóa</h4>
    </div>
    <div class="modal-body">
        <div class="form-group floatleft" data-bind="with:newProduct">
            <label class="control-label">Mã hàng hóa</label>
            <div class="form-news">
                    <input type="text" id="txtMaHangHoaNhap" class="form-control" autocomplete="off" autofocus
                           placeholder="Mã hàng hóa tự động" data-bind="value:MaHangHoa" />
            </div>
        </div>
        <div class="form-group floatleft" data-bind="with:newProduct">
            <label class="control-label">Tên hàng <span style="color:red">(*)</span> </label>
            <div class="form-news">
                    <input type="text" id="txtTenHangHoa" class="form-control" data-bind="value:TenHangHoa" />
            </div>
        </div>
        <div class="form-group floatleft">
            <label class="control-label">Nhóm hàng</label>
            <div class="form-news">
                    @Html.Partial("~/Views/BanHang/_ddlNhomHangHoa.cshtml")
                    <a href="javascript:void(0)" class="iptBtn hg30" data-toggle="modal" data-bind="click: ShowPopupAddGroup"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="form-group floatleft" data-bind="with:newProduct">
            <label class="control-label">Giá bán</label>
            <div class="form-news">
                    <input class="form-control" id="txtGiaBanNhap"
                           name="txtGiaBan" type="text" data-bind="value: GiaBan" onkeypress="return keypressNumber(event)"
                           onkeyup="return formatNumberObj(this)" />
            </div>
        </div>
        <div class="form-group floatleft" id="divgiavon" data-bind="with:newProduct">
            <label class="control-label">Giá vốn</label>
            <div class="form-news">
                    <input class="form-control" id="txtGiaVonNhap"
                           name="txtGiaBan" type="text" data-bind="value: GiaVon" onkeypress="return keypressNumber(event)"
                           onkeyup="return formatNumberObj(this)" />
            </div>
        </div>
        <div class="form-group floatleft" id="divtonkho" data-bind="with:newProduct">
            <label class="control-label">Tồn kho</label>
            <div class="form-news">
                    <input class="form-control" id="txtTonKhoNhap"
                           name="txtGiaBan" type="text" data-bind="value: TonKho" onkeypress="return keypressNumber(event)"
                           onkeyup="return formatNumberObj(this)" />
            </div>
        </div>
        <div class="form-group floatleft" data-bind="with:newProduct">
            <label class="control-label">Đơn vị cơ bản</label>
            <div class="form-news">
                    <input type="text" class="form-control" data-bind="value: TenDonViTinh" />
            </div>
        </div>
        <div class="form-group floatleft" id="divCheckLaHH" data-bind="with:newProduct">
            <label class="control-label">&nbsp;</label>
            <div class="form-news ">
                    <label id="chkLaHangHoa" style="width:auto!important">
                        <input type="checkbox" value="false" data-bind="checked: LaHangHoa,
                                          event: {change: $parent.ChangeLaHangHoa}" /> &nbsp; Là hàng hóa
                    </label>
            </div>
        </div>
        <div class="form-group floatleft" id="divLo" data-bind="with:newProduct" hidden>
            <label class="control-label">&nbsp;</label>
            <div class="form-news">
                    <label style="width:unset">
                        <input type="checkbox" value="false" data-bind="checked: QuanLyTheoLoHang," /> &nbsp;&nbsp;  Quản lý theo lô
                    </label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
       
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>Bỏ qua</button>
            <button type="button" class="btn btn-save" id="btnLuuHangHoa" data-bind="click: saveProduct"><i class="fa fa-save"></i> Lưu</button>
     
    </div>
</div>
<script>
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }
</script>
