<div class="floatleft cai-dat-mau-in" id="setPrint">
    <div class="title-keys floatleft">
       Thiết đặt mẫu in/ hiển thị
    </div>
    <div class="form-group floatleft checked-thong-bao">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            Ẩn hàng hóa đã hết tồn kho khi tìm kiếm
        </label>
        <input type="checkbox" data-bind="checked: setHideProduct, event:{change: function() {ChangeSetPrint(4) } }" value="true" />
    </div>
    <div class="form-group floatleft checked-thong-bao">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            In nháp hóa đơn
        </label>
        <input type="checkbox" data-bind="checked: setPrintDraft, event:{change: function() {ChangeSetPrint(1) } }" value="true" />
    </div>
    <div class="form-group floatleft checked-thong-bao" data-bind="visible: '@ViewBag.shopCookies' == '83894499-AEFA-4F58-96B4-5EC1A0B16A76' ||  '@ViewBag.shopCookies' == 'AC9DF2ED-FF08-488F-9A64-08433E541020'">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            Lưu nháp
        </label>
        <input type="checkbox" id="SetupLuuNhap" data-bind="checked: setLuuTam, event:{change: function() {ChangeSetPrint(7) } }" />
    </div>
    <div class="form-group floatleft checked-thong-bao">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            In hóa đơn khi nhấn thanh toán
        </label>
        <input type="checkbox" data-bind="checked: setPrintPay, event:{change: function() {ChangeSetPrint(3) } }" value="true" />
    </div>
    <div class="form-group floatleft flex  flex-between ">
        <label class="">
            Số liên khi in
        </label>
        <div class="flex flex-row">
            <a href="javascript:void(0)" class= " btn bnt-caretl text-center" data-bind="click: function(){increaseNumberPrint(false)}" style="height:30px">
                <i class="fa fa-caret-left" aria-hidden="true"></i>
            </a>
            <input type="text" class="form-control width-100 choose-mauin"  id="txtNumberOfPrint" onkeypress="return keypressNumber(event)"style="height:30px"
                   data-bind="value: numberOfPrint, event:{keyup: editNumberOfPrint}">
            <a href="javascript:void(0)" class=" btn bnt-caretl text-center" data-bind="click: function(){increaseNumberPrint(true)}" style="height:30px">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="form-group floatleft flex flex-between">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            Chọn mẫu in
        </label>
        <div class="show-table">
            <select class="form-control border-radius" id="ddlTempPrint" data-bind="foreach: ListTempPrint, event: {change: Change_MauIn} ">
                <option data-bind="value:ID,text:TenMauIn"></option>
            </select>
        </div>
    </div>
</div>
