<div class="modal-dialog modal-lg">
    <div class="modal-content ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            <h4 class="modal-title">Kiểm tra hàng hóa</h4>
        </div>
        <div class="modal-body">
            <div class="seac-trahh">
                <input type="text" class="form-control" id="txtTraCuuHH" placeholder="Mã hàng hóa, tên hàng hóa" />
                <img src="~/Content/images/anhhh/tracuutonkhooo-49.png" alt="tra cứu" />
            </div>
            <div class="floatleft">
                <div class="table-res">
                    <div class="titile-trahh floatleft">
                    </div>
                    <table class="table table-trahh">
                        <thead>
                            <tr>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng</th>
                                <th>Giá bán</th>
                                <th>Chi nhánh</th>
                                <th>Tồn kho</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.arrTraCuuHangHoa" class="table_TraCuu">
                            <tr>
                                <td data-bind="text: MaHangHoa"></td>
                                <td>
                                    <span data-bind="text: TenHangHoa"></span>
                                    <span data-bind="visible: TenDonViTinh">
                                        (<span data-bind="text: TenDonViTinh"></span>)
                                    </span>
                                    <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                </td>
                                <td data-bind="text: TenDonVi"></td>
                                <td data-bind="text: TonKho"></td>
                                <td data-bind="text: GhiChu"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page ">
                    <div class="flex flex-end">
                        <a href="javascript:void(0)" data-bind="click: $root.StartPageTheKho, visible: $root.VisibleStartPageTheKho"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" data-bind="click: $root.BackPageTheKho, visible: $root.VisibleStartPageTheKho "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <ul data-bind="foreach: $root.PageList_Display_TheKho">
                            <li>
                                <a href="javascript:void(0)" data-bind="text: pageNumberTK, click: $root.GoToPage, css: $root.GetClass($data)"></a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" data-bind="click: $root.GoToNextPageTheKho, visible: $root.VisibleEndPageTheKho "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" data-bind="click: $root.EndPageTheKho, visible: $root.VisibleEndPageTheKho "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                        <div class="total-recos">Hiển thị <span data-bind="text: $root.fromitemtk"></span> - <span data-bind="text: $root.toitemtk"></span> trên tổng số <span data-bind="text: $root.TotalRecordTK"></span> mã hàng hóa.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
