<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">
            Chọn hóa đơn đặt hàng
        </h4>
    </div>
    <div class="modal-body">
            <div class="flex flex-row flex-between " style="padding:0 0  10px 0">
                <div class="flex col-xs-12 col-md-8 col-lg-6 nopadding" style="align-items:center">
                    <div class=" col-md-6 col-xs-12 flex nopadding" style="align-items:center;">
                        <label class="width-100" style="margin-right:5px;">Từ ngày</label>
                        <input type="text" class="form-control datepicker_mask" placeholder="Từ ngày" id="txtFromDateDH"
                               data-bind="value: filterFromDateDH, valueUpdate: 'afterkeydown',  click: formatFromDate">
                    </div>
                    <div class="col-md-6 col-xs-12 flex nopadding" style="align-items:center">
                        <label class="width-100">Đến ngày</label>
                        <input type="text" class="form-control datepicker_mask" placeholder="Đến ngày" id="txtToDateDH"
                               data-bind="value: filterToDateDH, valueUpdate: 'afterkeydown', click: formatToDate">
                    </div>
                </div>
                <div class=" col-xs-12 col-md-4 col-lg-6 flex flex-end nopadding">
                    <input type="text" class="form-control" style="width:275px;" placeholder="Mã hóa đơn, tên KH, SĐT" id="txtMaHoaDonDH"
                           data-bind="value: filterMaHD, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="flex flex-column">
                <div class="table-reponsive">
                    <table class='table'>
                        <tr>
                            <th>Mã đặt hàng</th>
                            <th>Thời gian</th>
                            <th>Khách hàng</th>
                            <th>Tổng cộng</th>
                            <th >Khách đã trả</th>
                            <th>Trạng thái</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tbody data-bind="foreach: HoaDonDHs">
                            <tr>
                                <td data-bind="text: MaHoaDon"></td>
                                <td data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm:ss') "></td>
                                <td data-bind="text: TenDoiTuong"></td>
                                <td data-bind="text: formatNumber(PhaiThanhToan)"></td>
                                <td data-bind="text: formatNumber(KhachDaTra)"></td>
                                <td data-bind="text: YeuCau =='1'?'Phiếu tạm':YeuCau=='2'? 'Đang giao hàng':YeuCau=='3'?'Hoàn thành':YeuCau=='4'?'Đã hủy':''"></td>
                                <td>
                                    <a  class="choose-order" data-bind="click: $parent.clickXuLiDonHang"><i class="fa fa-check"></i> Chọn</a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-bind="visible: HoaDonDHs().length === 0">
                            <tr style="background: #F2EED6 !important" class="text-center">
                                <td colspan="7">
                                    Không có dữ liệu
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="page">
                    <div class="flex flex-end">
                        <a href="javascript:void(0)" data-bind="click: $root.StartPageDH, visible: VisibleStartPageDH"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" data-bind="click: $root.BackPageDH, visible: VisibleStartPageDH "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <ul data-bind="foreach: PageListDH">
                            <li>
                                <a href="javascript: void(0)" data-bind="text: pageNumber, click: $root.GoToPageDH, css: $root.GetClassDH($data)"></a>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" data-bind="click: $root.GoToNextPageDH, visible: VisibleEndPageDH "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" data-bind="click: $root.EndPageDH, visible: VisibleEndPageDH "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                        <div class="total-recos">
                            Hiển thị <span data-bind="text: fromitem"></span> - <span data-bind="text: toitem"></span> trên tổng số
                            <span data-bind="text: TotalRecordDH"></span> hóa đơn.
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>