<div class="fl">
    <div class="container layout-ho-tro">
        <div class="row margin-bot-50">
            <h2>
                Gửi yêu cầu tư vấn<br />
            </h2>
            <p class="line-end" style="margin-top:30px;"></p>
            <div class=" col-md-12 gui-lien-he">
                <div class="col-md-6  col-xs-12 col-sm-12">
                    <div class="form-group customer-contact">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <input class="form-control " placeholder="Tên người gửi yêu cầu" v-model="contact.TenNguoiLienHe">
                    </div>
                    <div class="form-group customer-contact">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input class="form-control " placeholder="Email" v-model="contact.Email">
                    </div>
                    <div class="form-group customer-contact">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <input class="form-control " placeholder="Số điện thoại" v-model="contact.SoDienThoai">
                    </div>
                    <div class="form-group customer-contact">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <input class="form-control " placeholder="Địa chỉ" v-model="contact.DiaChi">
                    </div>
                </div>
                <div class="col-md-6  col-xs-12 col-sm-12">
                    <div class="form-group">
                        <textarea class="form-control " rows="8" v-model="contact.GhiChu"> </textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="fl more-news btn-add-contact">
                        <a href="javascript:void(0)"  v-on:click="SendContact" >Gửi yêu cầu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
