
<div class="col-md-12 no-padding banner-home-contact fl ">
    <div class="container">
        <div class="row col-md-12">
            <div class="fl">
                <div class="banner-contact-page " >
                    <h2>
                        <span class="contact-page-title1">SSOFT CAM KẾT</span>
                        <span class="contact-page-title2">ĐEM LẠI CHO BẠN SỰ</span>
                        <span class="contact-page-title1">HÀI LÒNG</span><br />
                        <span class="contact-page-title2">VỚI</span>
                        <span class="contact-page-title1">SẢN PHẨM</span>
                        <span class="contact-page-title2">VÀ</span>
                        <span class="contact-page-title1">DỊCH VỤ</span>
                        <span class="contact-page-title2">CỦA SSOFT DÀNH CHO BẠN</span>
                    </h2>
                    <div class="lien-he247">
                        <h2>
                            <span class="lh1">HỖ TRỢ</span>  <br />
                            <span class="lh2">24/7</span>
                        </h2>
                        <img class="icon-ho-tro" src="~/Images/Theme/Ssoft/icon/ho-tro.png" />
                    </div>
                    <div class="view-add fl">
                        <a href="javascript: void(0)" class="btn-dung-thu dung-thu-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="">Dùng thử miễn phí ngay !</a>
                    </div>
                </div>
            
                <div class="mobi-banner-contact-page "hidden>
                    <h2>
                        <span class="contact-page-title1">SSOFT CAM KẾT</span><br />
                        <span class="contact-page-title2">ĐEM LẠI CHO BẠN SỰ</span>
                        <span class="contact-page-title1">HÀI LÒNG</span><br />
                        <span class="contact-page-title2">VỚI</span>
                        <span class="contact-page-title1">SẢN PHẨM</span>
                        <span class="contact-page-title2">VÀ</span>
                        <span class="contact-page-title1">DỊCH VỤ</span><br />
                        <span class="contact-page-title2">CỦA SSOFT DÀNH CHO BẠN</span>
                    </h2>
                    <div class="lien-he247">
                        <h2>
                            <span class="lh1">HỖ TRỢ</span>  <br />
                            <span class="lh2">24/7</span>
                        </h2>
                        <img class="icon-ho-tro" src="~/Images/Theme/Ssoft/icon/ho-tro.png" />
                    </div>
                    <div class="view-add fl">
                        <a href="javascript: void(0)" class="btn-dung-thu dung-thu-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="">Dùng thử miễn phí ngay !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
