<div class="col-md-12">
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">1</span> Quy trình phục vụ sửa chữa
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/quy-trinh-sua-chua.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Sản phẩm có tính chất quản trị cao, sử dụng đơn giản, có thể dùng cho nhà quản lý hoặc kế toán hắc nhân viên viên bán hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Các báo cáo đơn giản dễ hiểu
                        , được chỉnh sửa đúng theo yêu cầu cảu quý khách.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Số người dùng không hạn chế, sử dụng được ở nhiều máy tính với dữ liệu tập trung
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chi tiết thông tin khách hàng, nhắc nhở ngày sinh nhật, ngày kỷ niệm của khách
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo báo giá, lệch sửa chữa, hóa đỡn có thể kết xuất excel, word.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Dữ liệu có thể phục vụ việc quản trị doanh nghiệp haowcj báo cáo tài chính kế toán
                    </li>

                </ul>
            </div>
        </div>

        <div class="detail-pr-procedure">
            <ul class="nav nav-tabs tab-quy-trinh-sua-oto">
                <li class="active">
                    <a href="#home-tab" role="tab" data-toggle="tab" aria-expanded="true"> Quy trình dịch vụ sửa chữa</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home-tab">
                    <div class="col-md-12">
                        <div class="row">
                            <ul class="list-quy-trinh-sua-chua">
                                <li>
                                    <div class="quy-trunh-gara-img"><img src="~/Images/Theme/Ssoft/icon/gara-tiep-don.png" /></div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Tiếp đón xe</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-danh-gia-xe.png" />
                                    </div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Đánh giá tình trạng xe</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-len-phuong-an-bao-gia.png" />
                                    </div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Lập báo giá và lên phương án sửa chữa</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-lap-hop-dong.png" />
                                    </div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Lập hợp đồng lệnh sửa chữa</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-tien-hanh-sua-chua.png" />
                                    </div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Tiến hành sửa chữa<br />(Yêu cầu xuất kho vật tư)</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-nghiem-thu.png" />
                                    </div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Nghiệm thu, thanh lý, bàn giao và báo giá</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-lap-phieu-xuat.png" />
                                    </div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Lập phiếu xuất xưởng và cho xe xuất xưởng</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-cham-soc-kh.png" />
                                    </div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Chăm sóc khách hàng, nhắc nhở và bảo dưỡng</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-theo-doi-cong-no.png" />
                                    </div>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                    <p>Theo dõi công nợ</p>
                                </li>
                                <li>
                                    <div class="quy-trunh-gara-img">
                                        <img src="~/Images/Theme/Ssoft/icon/gara-bao-cao-kd.png" />
                                    </div>
                                    <p>Báo cáo kết quả kinh</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">2</span> Quản lý xe, khách hàng, nhà cung cấp, bảo hiểm
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/quan-ly-xe-kh-ncc-bh.png" />
            </div>
            <div class="detail-pr">
                <p class="detail-pr-group"><a href="javascript:void(0)">Quản lý xe và nhật ký bảo dưỡng sửa chữa xe:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thông tin xe vào xưởng(Biển số, số km, hãng xe, đời xe, số khung xe, số máy, chủ xe...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Lập kế hoạch hạn sửa chữa bảo dưỡng, thay dầu đối với từng loại xe, đời xe.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi nhật ký bảo dưỡng của các xe vào xưởng và sử dụng dịch vụ
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo các xe đến hạn bảo dưỡng, thay dầu.
                    </li>
                </ul>
                <p class="detail-pr-group"><a href="javascript:void(0)">Khách hàng:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý phân nhóm khách hàng(Khách buôn, khách lẻ, khu vực...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thông tin chi tiêt khách hàng(Mã khách, tên khách, số thẻ, điện thoại, địa chỉ, email, website...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Đối với khách hàng là công ty thì có thêm danh sách người liên hệ.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Một khách hàng có thể vừa là khách hàng vừa là nhà cung cấp.
                    </li>
                </ul>
                <p class="detail-pr-group"><a href="javascript:void(0)">Nhà cung cấp:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý phân nhóm nhà cung cấp(Phụ tùng, sơn...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thông tin chi tiêt nhà cung cấp(Mã nhà cung cấp, tên nhà cung cấp, điện thoại, địa chỉ, email, website, mã số thuế...)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">3</span> Quản lý cố vấn, dịch vụ, báo giá, duyệt báo giá.
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">

                <img src="~/Images/Theme/Ssoft/icon/bao-gia.png" />
            </div>
            <div class="detail-pr">
                <p class="detail-pr-group"><a href="javascript:void(0)">Danh mục dịch vụ:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý danh mục các công việc sửa chữa(Mã công việc, tên công việc, loại xe, đời xe, đơn giá dịch vụ...)
                    </li>

                </ul>
                <p class="detail-pr-group"><a href="javascript:void(0)">Tiếp nhận xe vào xưởng:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thông tin xe vào xưởng, đánh giá hư hỏng và lập báo giá cho khách hàng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        In phiếu tiếp nhận xe, tình trạng xe và báo giá trước khi khách duyệt
                    </li>
                </ul>

                <p class="detail-pr-group"><a href="javascript:void(0)">Lập báo giá cho khách hàng bảo hiểm:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        In báo giá chuẩn cho khách hàng sau khi khách hàng hoặc bảo hiểm duyệt.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        In lệnh sửa chữa, phiếu xuất kho việc sửa chữa.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        In hợp đồng sửa chữa(Nếu cần).
                    </li>
                </ul>
                <p class="detail-pr-group"><a href="javascript:void(0)">Theo dõi tình hình các xe đang sửa:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi các xe đang sửa chữa bảo dưỡng, thông báo và báo giá cho khách hàng khi phát sinh trong quá trình sửa chữa
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        In phiếu thanh toán, phiếu ra xưởng sau khi xe sửa chữa xong.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Thanh lý hợp đồng sửa chữa(Nếu có hợp đồng sửa chữa).
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">4</span> Quản lý bán hàng, xuất kho và dịch vụ
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">

                <img src="~/Images/Theme/Ssoft/icon/nha-kho.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phân loại xe sửa chữa(Bảo hành, bảo dưỡng, sửa chữa...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phân loại xe có bảo hiểm hay xe không có bảo hiểm.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phiếu tiếp nhận kiểm tra đanh giá tình trạng xe
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phiếu bàn giao để sửa chữa bảo dưỡng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phiếu báo giá sửa chữa, hợp đòng sửa chữa, nghiệm thu xe...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Cập nhật số liệu khi lập phiếu sửa chữa bảo dưỡng(phụ tùng bán, dầu bán, công sửa chữa...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo công nợ khách hàng nếu bán chịu
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo số tiền đã thu của khách hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tình hình sửa chữa bảo dưỡng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo bán hàng(Theo ngày, theo khách hàng, hàng hóa vật tư, kho...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo số lượng được khuyễn mãi, chiệt khấu khi bán.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo phân tích bán hàng  theo mặt hàng, khách hàng, thời gian... và các báo cáo đặc thù riêng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo doanh thu bán hàng theo hóa đơn.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo doanh thu bán hàng theo ngày hoặc bất ky khoảng thời gian nào.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo doanh thu bán hàng theo mặt hàng, nhóm hàng, kho hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo doanh thu bán hàng theo từng khách hàng hoặc nhóm khách hàng(Khách buôn, khách lẻ...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo nợ bán hàng nếu khách hahfng mua chịu hoặc trả chậm.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">5</span> Quản lý nhập mua, nhập kho
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/nhap-mua.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Cập nhật số liệu khi mua hàng, nhập khẩu xe, phụ tùng( ngày mua, nhà cung cấp, măt hàng, số lượng, nhập kho, đơn giá, hình thức
                        khuyễn mãi, chiết khấu, thuế suất...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo nợ công nhà cung cấp nếu mua nợ
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo hàn nhập mua(Theo ngày, nhà cung cấp, vật tư, kho...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo số lượng được khuyễn mãi, chiết khấu khi mua
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo phân tích mua hàng theo mặt hàng, nhà cung cáp thời gian... và các báo cáo đặc thù riêng.
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">6</span> Quản lý kho, nhập xuất điều chuyển kho
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">

                <img src="~/Images/Theme/Ssoft/icon/dieu-chuyen.png" />
            </div>
            <div class="detail-pr">
                <p class="detail-pr-group"><a href="javascript:void(0)">Danh mục:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý phân nhóm, phân loại phụ tùng hàng hóa (Nhóm phụ tùng, sơn, dầu
                        nhớt ….).
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thông tin chi tiết mặt hàng (Mã phụ tùng, mã lô, mã vạch, tên sản phẩm, đơn vị tính,
                        giá nhập, giá bán buôn, giá bản lẻ, xuất sứ, hạn sử dụng, cảnh báo tồn tối thiểu, tồn tối đa...).
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý giá bán buôn giá bán lẻ đối với từng mặt hàng, phụ tùng, nhóm hàng
                        cho từng loại khách hàng khác nhau (Khách buôn, khách lẻ, khách quen...).
                    </li>

                </ul>
                <p class="detail-pr-group"><a href="javascript:void(0)">Chức năng:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý nhập xuất kho nội bộ.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý xuất điều chuyển hàng giữa các kho.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Thẻ kho.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Thẻ chi tiết vật tư.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo hàng tồn.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp hàng nhập.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo chi tiết hàng nhập.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp hàng xuất.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo chi tiết hàng xuất.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo kiểm kê kho hàng.
                    </li>

                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp nhập xuất tồn hàng hóa ( theo kho, vật tư, lô …)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">7</span> Quản lý thu chi, quỹ công nợ
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/cong-no.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý các Phương thức thanh toán : tiền mặt, sec, thẻ tín dụng, chuyển khoản...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Cho phép định nghĩa các danh mục thu chi.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Các danh mục thu chi sẽ được phân chia theo nhóm: chi tiếp khách, chi chi phí
                        văn phòng, chi mua hàng...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý tình hình thu chi theo ngày, tháng năm ...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý quỹ và tồn quỹ.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo doanh số tiền thu khi bán hàng, dịch vụ.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tiền khi chi trả nhà cung cấp.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý tình hình thu chi công nợ với khách hàng và nhà cung cấp.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý tình hình thu chi và quỹ tại ngân hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Bảng kê thu nhập chịu thuế, thuế TNCN lao động có ký hợp đồng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Bảng kê thu nhập chịu thuế, thuế TNCN, lao động không ký hợp đồng
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">8</span> Báo cáo phân tích tổng hợp và thống kê lãi lỗ
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/bao-cao-tong-hop-lai-lo.png" />
            </div>
            <div class="detail-pr">
                <p class="detail-pr-group"><a href="javascript:void(0)">Bán hàng dịch vụ:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp doanh thu bán hàng, dịch vụ sửa chữa theo mặt hàng,
                        phụ tùng ( dạng tổng hợp và chi tiết).
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp doanh thu bán hàng, phụ tùng và dịch vụ sửa chữa theo
                        khách hàng (dạng tổng hợp và chi tiết).
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp doanh thu bán hàng và dịch vụ sửa chữa theo các chương
                        trình khuyến mãi.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tình hình lãi lỗ bán hàng, phụ tùng theo mặt hàng, nhóm hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo doanh số thực thu khi bán hàng, phụ tùng và tiền khách nợ.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp công nợ của khách hàng theo mặt hàng, nhóm hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp dịch vụ sửa chữa ( công sửa chữa, công thay thế...)
                    </li>
                </ul>
                <p class="detail-pr-group"><a href="javascript:void(0)">Mua hàng:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp hàng nhập mua theo nhà cung cấp.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp hàng nhập mua theo từng mặt hàng, nhóm hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo hàng tồn trong kho.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo cảnh báo hàng tồn kho khi hàng sắp hết hoặc thừa nhiều.
                    </li>

                </ul>

                <p class="detail-pr-group"><a href="javascript:void(0)">Quản trị:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo kết quả hoạt động kinh doanh bán hàng, phụ tùng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo phân tích bán hàng ( theo dõi mặt hàng bán nhanh, chậm ).
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo so sánh bán hàng từng mặt hàng trong các khoảng thời gian khác nhau.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo xe nhập theo từng chủng loại xe, từng ngày, từng khoảng thời gian
                        do người dùng tự chọn.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Thông tin xe bán ra và nhập vào
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo phụ tùng xuất bán khi sửa chữa
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo doanh thu sửa chữa bảo dưỡng và doanh thu bán phụ tùng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Sổ theo dõi bảo hành
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Sổ theo dõi bảo dưỡng(cho biết xe nào đến kỳ bảo dưỡng,bảo hành để liên hệ
                        với khách hàng đến bảo hành bảo dưỡng)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo quản lý thông tin từng khách hàng (số lần bảo hành bảo dưỡng xe tại
                        gara) để từ đó có những chính sách khuyến mãi áp dụng cho các khách hang
                        trung thành.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chi tiết thông tin khách hàng (số điện thoại, biển số xe, nhật ký bảo
                        hành bảo dưỡng xe của khách tại gara)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo nhật ký thu chi hàng ngày, bất cứ khoảng thời gian nào
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tình hình công nợ phải thu, phải trả của một hoặc nhiều đối tượng
                        khách hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tồn kho phụ tùng, hàng hóa (các mặt hàng nào còn hay hết để có
                        chính sách nhập thêm hoặc giảm mua)

                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">9</span> Quản lý hệ thống phân quyền bảo mật
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/bao-mat-he-thong.png" />
            </div>
            <div class="detail-pr">
                <p class="detail-pr-group"><a href="javascript:void(0)">Bảo mật:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Tự động backup và phục hồi số liệu theo ngày hoặc backup theo ý muốn.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Dữ liệu luôn luôn được tự động backup dự phòng thường xuyên.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Dữ liệu được bảo mật theo cơ chế bảo mật của Microsoft SQL Server 2005.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Chỉ Admin mới có quyền can thiệp hệ thống dữ liệu và phân quyền sử dụng
                        cho người dùng.
                    </li>
                </ul>

                <p class="detail-pr-group"><a href="javascript:void(0)">Phân quyền sử dụng:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phân quyền chức năng sử dụng theo nhóm người sử dụng hoặc từng người
                        sử dụng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Có thể phân quyền xem sửa xóa đến từng thành viên sử dụng phần mềm.
                    </li>

                </ul>

                <p class="detail-pr-group"><a href="javascript:void(0)">Tiện ích:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phần mềm hỗ trợ tất cả các loại font chữ unicode, vni, vntime, thư pháp...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Hỗ trợ đa ngôn ngữ : Anh, Việt, Hàn, Trung...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phần mềm có thể xuất trực tiếp ra excel, word, Pdf, mail.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phần mềm có thể import các danh sách hàng hóa, khách hàng từ excel vào
                        phần mềm.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Lưu nhật ký sử dụng phần mềm của tất cả các thành viên khi đăng nhập và sử
                        dụng phần mềm.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        In ấn liền nhiều phiếu thu, chi hoặc hóa đơn chỉ bằng một lệnh in.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Xuất ra các báo giá cho một hoặc nhiều khách hàng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Lọc dữ liệu, báo cáo tự động và nhanh chóng theo nhiều tiêu chí.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Từ các báo cáo tổng hợp có thể xem ngược lại các hóa đơn hay phiếu thu, chi
                        giúp cho việc kiểm tra số liệu dễ dàng nhanh chóng.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

