<div class="col-md-12">
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">1</span> Thông tin về hồ sơ lý lịch
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/ho-so-ly-lich.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Quản lý chi tiết thông tin về người lao động nhu: mã số nhân viên, ngày sinh, nơi sinh, giới tính, sổ bảo hiểm,
                        địa chỉ, điện thoại, chỗ ở hiện nay, đơn vị công tác, chức danh công tác, chức danh nghề...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chi tiết thông tin về quan hệ gia đình.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chi tiết về trình độ chuyên môn, trình độ, ngoại ngữ tin học, chính trị...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý việc lưu trữ hồ sơ người lao động.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Quản lý chi tiết quá trình công tác của người lao động trước khi vào công ty cho đến thời gian hiện tại.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi quá trình khen thưởng, kỷ luật.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi quá trình diễn lương của người lao động.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Quản lý đánh giá quá trình làm việc và khả năng phát triển của nhân viên.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thông tin về mệnh, năm sinh, năm sinh âm lịch của từng nhân viên.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">2</span> Thông tin về hợp đồng lao động
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/hop-dong-lao-dong.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Quản lý chi tiết về hợp đồng lao động giữa công ty với người lao động: Hợp đồng thử việc, tập việc, hợp đồng chính thức có xác định thời hạn,
                         không thời hạn
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi gia hạn hợp đồng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi lưu trữ hồ sơ khi người lao dộng nghỉ việc, tạm hoãn hợp đồng.
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">3</span> Thông tin về đào tạo
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/dao-tao.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Lập kế hoạch và theo dõi thực hiện kế hoạch đào tạo cho đội ngũ cán bộ nhân viên của công ty
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi quá trình đào tạo, chi phí thực hiện công tác đào tạo.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi tạm ứng và thanh toán chi phí đào tạo của từng nhân viên.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">4</span> Thông tin về tuyển dụng lao động
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/tuyen-dung-lao-dong.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chi tiết hồ sơ ứng viên dự tuyển.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Theo dõi chi tiết nội dung quá trình phỏng vấn các ứng viên.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Khi ứng viên được tuyển dụng, hồ sơ ứng viên sẽ được cập nhật vào hồ sơ nhân viên chính thức của công ty một cách tự động
                        không phải nhập nhiều lần
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">5</span> Thông tin điều chuyển lao động theo từng vị trí
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/dieu-chuyen-lao-dong.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi quá trình điều chuyển nhân sự theo từng vị trí.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi được tại thời điểm bất kỳ truy vấn nhân viên đang ở phong ban, vị trí nào.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">6</span> Quản lý chính sách người lao động
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/chinh-sach-lao-dong.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thu chi
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Hỗ trọ công tác theo dõi quyền lợi của người lao động tham gia bảo hiểm xã hội, bảo hiểm y tế.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi chế độ nghỉ phép, nghỉ dưỡng sức, ốm đau, thai sản...
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">7</span> Chức năng quản lý chấm công và tiền lương
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/cham-cong-tien-luong.png" />
            </div>
            <div class="detail-pr">
                <p class="detail-pr-group"><a href="javascript:void(0)">Chấm công theo các phương pháp:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Chấm công theo ngày làm việc.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Chấm công theo giờ hoặc ca làm việc.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Tích hợp dữ liệu chấm công với máy chấm công.
                    </li>
                </ul>
                <p class="detail-pr-group"><a href="javascript:void(0)">Tính lương theo các phương pháp:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Khối văn phòng: Tính lương theo thời gian.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Khối sản xuất: Tính lương theo khoán sản phẩm (có công thức tính).
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Khối kinh doanh: Tính lương theo thời gian và lương theo doanh thu.
                    </li>
                </ul>

                <p class="detail-pr-group"><a href="javascript:void(0)">Lên các báo cáo lương như:</a></p>
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Bảng thanh toán lương cho từng ca với tững phân xưởng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Bảng thanh toán lương theo từng bộ phận(lãnh đạo, văn phòng, phân xưởng, kinh doanh...)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Bảng lương thực lĩnh.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Bảng lương tạm ứng(nếu có)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Bảng kê khai chi tiết thuế thu nhập cá nhân.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">8</span> Quản lý các khoản thu nhập khác và nghĩa vụ người lao động
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/quan-ly-cac-nguon-thu-nhap.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý nhiều hình thức thanh toán khác nhau(tiền mặt, tiền gửi, thẻ voucher, thẻ giá trị)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý bán hàng, hóa đơn thanh toán, hóa đơn thu ngân.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi khách hàng đang thực hiện dịch vụ, công đoạn định mức.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý đánh giá, ý kiến khách hàng sau khi thực hiện dịch vụ.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">9</span> Quản lý danh mục dùng chung
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/danh-muc-dung-chung.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh mục được cập nhật một lần và dùng chung xuyên suốt cho toàn hệ thống.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh mục dùng chung được phân quyền cập nhật tùy theo chức năng, vai trò của từng bộ phận nhằm thống nhất bộ mã
                        danh mục dùng chung cho toàn đơn vị.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      Các danh mục về quản lý nhân sự bảo gồm: Danh mục đơn vị, phong ban, tổ sản xuất, chức danh, quan hệ gia đình, dân tộc, 
                        văn bằng chứng chỉ, trình độ chuyên môn, loại hợp đồng, đơn giá tiền lương...
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">10</span> Quản lý phân quyền bảo mật hệ thống
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/bao-mat-he-thong.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý người dùng đăng nhập hệ thống.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý người sử dụng, nhóm người sử dụng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Thay đổi mật khẩu người sử dụng.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phân quyền cập nhật dữ liệu cho từng nhóm, từng người sử dụng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phân quyền khai thác chức năng chương trình cho từng nhóm, từng người sử dụng.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">11</span> Báo cáo quản lý nhân sự
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/bao-ca-nhan-su.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Sơ yếu lý lịch
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Tờ kê khai hồ sơ người lao động
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách trích ngang nhân viên hiện tại
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên hiện đang sử dụng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên chưa có sổ bảo hiểm
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên vào làm việc tại công ty
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên tạm hoãn hợp đồng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên nghỉ việc
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên hết hạn hợp đồng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên thuộc diện chính sách: Thường binh, gia đình liệt sĩ, gia đình có công cách mạng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên đến tuổi nghỉ hưu
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách cán bộ chủ chốt
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách nhân viên được khen thưởng kỷ luật
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Báo cáo tình hình nghỉ phép
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Kế hoạch đào tạo nhân viên
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Phiếu theo dõi đào tạo nhân viên
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách các ứng viên dự tuyển
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Danh sách các ứng viên được nhận vào làm chính thức
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo quá trình làm việc của từng nhân viên
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Thống kê nhân viên theo độ tuổi
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Thống kê nhân viên theo chức danh
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Thống kê trình độ nhân viên: Trình độ chuyên môn, ngoại ngữ, tin học...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Thống kê tăng giảm nhân viên: chi tiết, tổng hợp
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">12</span> Báo cáo quản lý tiền lương
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/bao-cao-tien-luong.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Bảng tiền lương tạm ứng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Bảng thanh toán tiền lương cho từng bộ phận, từng nhân viên
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Bảng các khoản phụ cấp, thu nhập khác
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phiếu thu nhập của từng nhân viên
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Bảng trích nộp thuế thu nhập cá nhân
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                       Bảng trích nộp bảo hiểm xã hội
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        báo cáo nguồn thanh toán lương cho các bộ phận
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo tổng hợp thanh toán tiền lương cho toàn công ty
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>

