<div class="col-md-12">
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">1</span> Quản lý và chăm sóc khách hàng
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/cham-soc-khach-hang.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý tiếp nhận khách hàng, khách mới, khách cũ
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý nhật ký giao dịch khách hàng(Số lần khách đến, dịch vụ, thẻ đã sử dụng, lần gần nhát khách đến)
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phiếu đánh giá khảo sát khách hàng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chi tiết thông tin khách hàng, nhắc nhở ngày sinh nhật, ngày kỷ niệm của khách
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Nắm bắt tra cứu mọi hoạt động liên quan đến khách hàng nhanh chóng, đơn giản như doanh thu, số lần đến, mức độ hài lòng,
                        nhật ký thẻ, nhật ký sử dụng
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phân tích tần suất khách đến theo nhóm, phân loại khách
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo so sánh tăng giảm tình hình sử dụng sản phẩm dịch vụ của khách hàng..
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">2</span> Quản lý thẻ khách hàng
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/thanh-toan.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thẻ trị liệu, thẻ lần, giá trị thẻ, voucher giảm giá
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Theo dõi công nợ thẻ, nhật ký sử dụng thẻ
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Chiết khấu cho nhân viên bán, nhân viên thực hiện thẻ
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">3</span> Quản lý khuyến mại, marketing
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/thong-bao.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chương trình khuyễn mãi, chiết khấu, thiết lập khách hàng VIP, khách thường, thẻ tích điểm tự động...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý các chiến lực marketing, nhắn tin, email chăm sóc khách hàng nhanh chóng thuân tiện.
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Phiếu đánh giá khảo sát khách hàng
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">4</span> Quản lý nhân sự
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/doi-tac.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý sơ đồ phòng ban, đơn vị, tổ và nhóm
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thông tin nhân sự, nhân viên
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chấm công
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chương trình lương nhân viên theo từng dịch vụ với nhiều cách tính lương đa dạng...
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">5</span> Quản lý lịch hẹn
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/lich.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý công việc, nhắc nhở, thiết lập lịch hẹn với khách hàng đơn giản nhanh chóng...
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="fl function-detail-pr">
        <div class="title-pr">
            <span class="number-title-pr">6</span> Quản lý tài chính
        </div>
        <div class="col-md-12 row">
            <div class="img-pr">
                <img src="~/Images/Theme/Ssoft/icon/tai-chinh.png" />
            </div>
            <div class="detail-pr">
                <ul>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý thu chi
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo sổ quỹ, nhật ký thu, chi, các khoản thu phí, chi phí...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Báo cáo công nợ phải thu, phải trả...
                    </li>
                    <li>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        Quản lý chương trình lương nhân viên theo từng dịch vụ với nhiều cách tính lương đa dạng...
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
