
@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}

@section scripts { 
<script>
    $('.viewmapHN').on("click", function () {
        $("#showHN").toggle(); 
    });

    $('.viewmapHCM').on("click", function () {
        $("#showHCM").toggle();
    });
    </script>
}
<div class="banner-page banner-contact fl ">
    <div class="container">
        <div class="row">
            <div class="fl">
                <div class="banner-text-left">
                    <h1>
                        <span class="contact-title1">Ssoft</span> 
                        <br />
                        <span class="contact-title2">Sẵn sàng hỗ trợ bạn</span>
                        <br />
                        <span class="contact-title3">Hotline: 024 730 39 333</span>
                    </h1>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-contact fl">
    <div class="container">
        <div class="col-md-8">
            <div class="row">
                <div class="news-left fl">
                    <div class="contac-left">

                        <div class="form-group fl">
                            <label >Họ và tên<span class="red">(*)</span></label>
                            <div class="form-wrap"><input type="text"  class="form-control "  placeholder="Nhập tên của bạn vào đây" v-model="contact.TenNguoiLienHe"></div>
                        </div>
                        <div class="form-group fl">
                            <label >Email<span class="red">(*)</span></label>
                            <div class="form-wrap"><input type="text" class="form-control "  placeholder="Nhập địa chỉ Email của bạn" v-model="contact.Email"></div>
                        </div>
                        <div class="form-group fl">
                            <label >Số điện thoại<span class="red">(*)</span></label>
                            <div class="form-wrap"><input type="text" class="form-control "  placeholder="Nhập số điện thoại của bạn" v-model="contact.SoDienThoai"></div>
                        </div>
                        <div class="form-group fl">
                            <label>Địa chỉ</label>
                            <div class="form-wrap"><input type="text" class="form-control "  placeholder="Nhập địa chỉ của bạn" v-model="contact.DiaChi"></div>
                        </div>
                        <div class="form-group fl">
                            <label >Ghi chú</label>
                            <div class="form-wrap"><textarea rows="4" class="fl border-radius "  v-model="contact.GhiChu"></textarea></div>
                        </div>
                        <div class="form-group fl">
                            <label >&nbsp;</label>
                            <div class="form-wrap"><a href="" class="send-contact"v-on:click="SendContact" >Gửi liên hệ</a></div>
                        </div>
                      
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 hotline">
            <div class="title-news ">
                Hotline: 024 730 39 333
            </div>
            <div class="contac-extend">
                <ul>
                   
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-phone-square" aria-hidden="true"></i> VP HN: 024 730 39333
                        </a>
                    </li>
                  
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-phone-square" aria-hidden="true"></i> VP HCM: 028 730 39333
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-envelope" aria-hidden="true"></i> ssoft@ssoft.vn
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-12">
            <div class="fl company-adress">
                <div class="title-news">
                    Công ty cổ phần công nghệ phần mềm SSOFT Việt Nam
                </div>
                <div class="contac-address fl">
                    <div class="fl">VP Hà Nội</div>
                    <div class="fl">Địa chỉ: Tầng 7, Tòa nhà Handiresco, Số 31 Lê Văn Lương, Thanh Xuân, Hà Nội.</div>
                    <div class="fl">Điện thoại: 024 730 39333.</div>
                    <div class="fl">Email: ssoft@ssoft.vn</div>
                    <div class="fl view-map">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <a href="#showHN" class="viewmapHN">Xem bản đồ Map</a>
                    </div>

                </div>
                <div class="img-map fl" hidden="" id="showHN" name="showHN">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.715075830332!2d105.80524039291562!3d21.004055440108818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4b58d55aa5%3A0x59e06227fb2373ae!2zQ8O0bmcgdHkgQ1AgQ8O0bmcgTmdow6rMoyBQaMOizIBuIE3DqsyAbSBTU09GVCBWTg!5e0!3m2!1svi!2s!4v1510740630170" width="100%" height="490" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <div class="contac-address fl">
                    <div class="fl">VP Hồ Chí Minh</div>
                    <div class="fl">Địa chỉ:Lầu 1, Số 24 Tân Canh, Phường 1, Quận Tân Bình, TP. HCM</div>
                    <div class="fl">Điện thoại: 028 730 39333.</div>
                    <div class="fl">Email: ssoft@ssoft.vn</div>
                    <div class="fl view-map">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <a href="#showHCM" class="viewmapHCM">Xem bản đồ Map</a>
                    </div>

                </div>
                <div class="img-map fl" hidden="" id="showHCM" name="showHN">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5216732825647!2d106.67020482888393!3d10.771299421916392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ede81a577b1%3A0xf83c6552a3debb82!2zODcgVHLhuqduIFRoaeG7h24gQ2jDoW5oLCBQaMaw4budbmcgMTIsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1510741049570" width="100%" height="490" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                </div>
            </div>
            </div>
       
       
    </div>
</div>

@Html.Partial("_HotroPartial")
