
@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}

@section scripts{
    <script>
        $(document).ready(function () {
   
            $('.tree-title').on('click',  function () {
                var css = $(this).next('.tree-detail').css('display');
                $('.tree-detail').hide();
                $('.tree-title').find('a i').each(function () {
                    $(this).hide();
                    if ($(this).hasClass('fa-chevron-down')) {
                        $(this).show();
                    }
                });
                if (css === 'none') {
                    $(this).next('.tree-detail').toggle();
                    $(this).find('a i').each(function () {
                        $(this).toggle();
                    });
                }
               
              

            })
        });
        vmbody.GetCustomerpage();
        vmbody.GetProductTinhThanh();
    </script>
}
<div class="banner-page banner-customer fl ">
</div>
<div class="fl">
    <div class="container ">
     <div class="col-md-12 row margin-bot-50 customer-page">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="fl customer-search-input">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" class="form-control" placeholder="Nhập tìm kiếm"  v-model="objseachCustomer.search" v-on:keyup="keySearchCustomer">
                </div>
         </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="fl customer-search-adress form-adress">
                <div class="User-use-title  tree-title fl">
                    <a href="javascript:void(0)">
                        <span class="span-tt">--Tỉnh thành--</span>

                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <i class="fa fa-chevron-up" aria-hidden="true" style="display:none"></i>
                    </a>
                </div>
                <div class="tree-detail  fl">
                    <ul class="list-tinh-thanh-sl">
                        <li data-id="">
                            <a href="javascript:void(0)">--Tỉnh thành--</a>
                        </li>
                        <li   v-for="(item, index) in ListTinhThanh" v-bind:data-id="item.Key" >
                            <a href="javascript:void(0)" > {{ item.Value}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="fl customer-search-adress form-product">
                <div class="User-use-title  tree-title fl">
                    <a href="javascript:void(0)">
                        <span class="span-sp">--Sản Phẩm--</span>

                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <i class="fa fa-chevron-up" aria-hidden="true" style="display:none"></i>
                    </a>
                </div>
                <div class="tree-detail  fl">
                    <ul class="list-san-pham-sl">
                        <li data-id="" >
                            <a href="javascript:void(0)">--Sản Phẩm--</a>
                        </li>
                        <li v-for="(item, index) in ListProduct" v-bind:data-id="item.Key">
                            <a href="javascript:void(0)"  > {{ item.Value}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
        <div class="col-md-12 row margin-bot-50 list-customer news-home" >
            <div class="col-md-6 col-sm-12 col-xs-12 " v-for="(item, index) in ListCustomer">
                <div class="fl margin-bot-15 customer-row-list">
                    @*<div class="title-news-right">
                        <a v-bind:href="item.Link">
                            {{localValidate.SubStringContent(item.TenKhachHang)}}
                        </a>
                    </div>*@
                    <div class="col-md-12 no-padding ">
                        <div class="img-news">
                            <a v-bind:href="item.Link">
                                <img v-bind:src="item.Anh">
                            </a>
                        </div>
                        <div class="content-news">

                            <div class="content-news-right">
                                    <a v-bind:href="item.Link">
                                        {{localValidate.SubStringContent(item.TenKhachHang)}}
                                    </a>
                               <p>{{item.DiaChi}}</p>
                                @*{{localValidate.SubStringContent(item.Mota)}}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fl more-news"  v-show="visible">
            <a href="javascript:void(0)" v-on:click="NextCustomerPage">Xem thêm</a>
        </div>
    </div>
</div>
@Html.Partial("_HotroPartial")
@Html.Partial("_ContactPartial")

