

@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}

@section scripts{
    <script>

        vmbody.GetNewsHome();
        vmbody.GetCustomerHome();
        vmbody.GetRecruitmentHome();
    </script>
}
<style>
    .mar-r {
        border: 5px solid #b8b9ba;
        width: 170px !important;
        height: 155px;
        margin-right: 30px !important;
        margin-left: 30px !important;
    }

        .mar-r img {
            height: 100%;
        }

    .bx-viewport {
        height: 155px !important;
    }

    .bx-wrapper {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 5px solid #e6e7e8;
        background: #e6e7e8;
    }
</style>
<div class="banner banner-home fl">
    <div class="container posrela1">
        <div class="row">
            <div class="fl">
                <div class="banner-name ">
                    <h1> <span class="header-title-software">Phần mềm</span> <br /> <span class="header-title-software2">quản lý vượt trội</span></h1>

                    <div class="view-add fl btn-geoup-dung-thu">


                        <a href="javascript: void(0)" class="btn-dung-thu dung-thu-pm"  data-toggle="modal" data-target="#ModalDangKyDungThuSsoft" data-id="">Dùng thử miễn phí ngay !</a>
                    </div>
                    <div class="use-trick fl">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="reason fl  home-detail">
    <div class="container">
        <div class="row home-san-pham margin-bot-50">
            <h2>
                Phần mềm quản lý<br />
                Thông minh, hiệu quả theo đặc thù<br />
            </h2>

            <p class="line-end"></p>
            <div class="col-md-4">
                <div class="list-san-pham">
                    <p class="danh-gia-sp no-magirn">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                    <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/lucky-beauty.png)no-repeat center;">
                    </div>
                   <a href="/phan-mem-lucky-beauty">

                        <h3 class="name-reason">
                            Lucky <span class="ten-san-pham"> Beauty</span><br />
                            Quản lý hiệu quả, kết quả ngọt ngào

                        </h3>
                        <p class="chi-tiet-san-pham">
                            Phần mềm quản lý theo đặc thù spa, salon, thẩm mỹ viện. Quản lý thông minh, chuyên nghiệp.
                        </p>
                    </a>
                    <a href="/phan-mem-lucky-beauty" class="a-btn-chi-tiet">
                        <div class="chi-tiet-sp">
                            <i class="fa fa-search" aria-hidden="true"></i>Chi tiết
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-san-pham">
                    <p class="danh-gia-sp no-magirn">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                    <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/lucky-gara.png)no-repeat center;">
                    </div>
                   
                    <a href="/phan-mem-lucky-gara">
                        <h3 class="name-reason">
                            Lucky <span class="ten-san-pham"> Gara</span><br />
                            Phần mềm cực hay, chạy thử mê ngay

                        </h3>
                        <p class="chi-tiet-san-pham">
                            Phần mềm quản lý dành riêng cho Gara ô tô, xe máy. Đáp ứng đầy đủ quy trình quản lý chuyên nghiệp.
                        </p>
                    </a><a href="/phan-mem-lucky-gara" class="a-btn-chi-tiet">
                            <div class="chi-tiet-sp">
                                <i class="fa fa-search" aria-hidden="true"></i>Chi tiết
                            </div>
                        </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-san-pham">
                    <p class="danh-gia-sp no-magirn">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                    <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/lucky-hrm.png)no-repeat center;">
                    </div>
                   
                    <a href="/phan-mem-lucky-hrm">
                        <h3 class="name-reason">
                            Lucky <span class="ten-san-pham"> Hrm</span><br />
                            Quản lý tự động không lo sai sót

                        </h3>
                        <p class="chi-tiet-san-pham">
                            Phần mềm quản lý nhân sự, chấm công, tính lương. Hệ thống quản lý khoa học nhiều tiện ích.
                        </p>
                    </a>

                    <a href="/phan-mem-lucky-hrm" class="a-btn-chi-tiet">
                        <div class="chi-tiet-sp">
                            <i class="fa fa-search" aria-hidden="true"></i>Chi tiết
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row home-gioi-thieu margin-bot-50">
            <h2>
                Lý do bạn chọn chúng tôi<br />

            </h2>
            <p class="line-end"></p>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="list-san-pham list-contact-company">
                    <div class="img-we" style="  background: url(../Images/Theme/Ssoft/icon/chung-toi-va-ban.png)no-repeat center;">
                    </div>
                    <h4 class="name-we">
                        Chúng tôi thấu hiểu bạn
                    </h4>
                    <p class="chi-tiet-san-pham">
                        Chúng tôi hiểu bản chất nghiệp vụ cũng như những khó khăn khách hàng gặp phải. Chúng tôi cam kết sẽ luôn nỗ lực không ngừng để đáp ứng nhu cầu quản lý của bạn. Thành công của bạn cũng là mong muốn và mục tiêu của chúng tôi.

                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="list-san-pham list-contact-company">
                    <div class="img-we" style="  background: url(../Images/Theme/Ssoft/icon/quy-trinh-khoa-hoc.png)no-repeat center;">
                    </div>
                    <h4 class="name-we">
                        Quy trình khoa học
                    </h4>
                    <p class="chi-tiet-san-pham">
                        Bên cạnh việc thiết kế và phát triển phần mềm dựa trên các nền tảng công nghệ mới nhất.
                        Chúng tôi cũng không ngừng nâng cấp cải tiến các quy trình để nâng cao chất lượng sản phẩm và dịch vụ nhằm đem lại những lợi ích cao nhất cho khách hàng.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="list-san-pham list-contact-company">
                    <div class="img-we" style="  background: url(../Images/Theme/Ssoft/icon/nhan-su.png)no-repeat center;">
                    </div>
                    <h4 class="name-we">
                        Đội ngũ nhân sự
                    </h4>
                    <p class="chi-tiet-san-pham">
                        Đội ngũ nhân viên công ty là những tài năng trong lĩnh vực CNTT. Với tố chất năng động, sáng tạo cùng với nền tảng tri thức được đào tạo bàn bản, nguồn nhân lực của SSOFT thực sự là một thế mạnh và tài sản vô giá của chúng tôi.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 no-padding content-customer-we">
        <div class="container">
           
            <div class="row home-gioi-thieu margin-bot-50">
                <h2>
                    Khách hàng Ssoft<br />

                </h2>
                <p class="line-end"></p>
                @*<ul class="ul-bxslider">
                    <li class="" v-for="(item, index) in ListCustomer">
                    
                    
                    <a v-bind:href="item.Link" v-bind:title="item.TenKhachHang"><img v-bind:src="item.Anh"  v-bind:alt="item.TenKhachHang" v-bind:title="item.TenKhachHang" /></a>
                    </li>
                </ul>*@
                <ul class="ul-tree-customer tree-customer">
                    <li class="customer-product" v-for="(item, index) in ListCustomer">

                        <div class="thumbnail">
                            <div class="image view view-first">
                                <a v-bind:href="item.Link">
                                    <img v-bind:src="item.Anh" v-bind:alt="item.MetaTitle">
                                </a>
                            </div>
                            <div class="caption">
                                <a v-bind:href="item.Link">
                                    <p>{{item.TenKhachHang}}</p>
                                </a>
                            </div>
                        </div>

                    </li>

                    <div class="fl more-news"><a href="/khach-hang">Xem thêm</a></div>
</div>
        </div>
    </div>

    <div class="container">
        <div class="row home-san-pham margin-bot-50">
            <h2>
                Tin tức mới<br />
            </h2>
            <ul class="nav nav-tabs btn-home-tin-tuc">
                <li class="active"><a href="#home" data-toggle="tab">Tin ssoft</a></li>
                <li><a href="#info" data-toggle="tab">Tiêu điểm</a></li>
            </ul>
            <p class="line-end" style="margin-top:30px;"></p>
            <div class="col-md-12 no-padding  news-home">
                <div class="col-md-4 item-news col-xs-12 col-sm-12 " v-for="(item, index) in ListNews">
                    @*<div class="title-news-right">
                        <a v-bind:href="item.Link">
                            {{item.TenBaiViet}}
                        </a>
                    </div>*@
                    <div class="col-md-12 no-padding">
                        <div class="img-news">
                            <a v-bind:href="item.Link">
                                <img v-bind:src="item.Anh" />
                            </a>
                            <div class="detail-news">
                                <a v-bind:href="item.Link" v-bind:alt="item.MetaTitle" >
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="content-news">

                            <div class="content-news-right">
                                @*{{localValidate.SubStringContent(item.Mota,50)}}*@
                                <a v-bind:href="item.Link" v-bind:alt="item.TenBaiViet">
                                    {{localValidate.SubStringContent(item.TenBaiViet,130)}}
                                </a>
                            </div>
                            <div class="time-bar">
                                <i class="fas fa-clock"></i>
                                <font >{{localValidate.convertDate(item.NgayTao)}}</font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-12">
                <div class="fl more-news">
                    <a href="/tin-tuc">Xem thêm</a>
                </div>
            </div>
        </div>


    </div>


    <div class="col-md-12 no-padding recruitment">
        <div class="container">
            <div class="row home-tuyen-dung margin-bot-50">
                <h2>
                    Tuyển dụng Ssoft<br />

                </h2>
                <ul class="nav nav-tabs btn-home-tin-tuc">
                    <li class="active" data-id="01"><a href="#TuyenDungHN" data-toggle="tab">Hà Nội</a></li>
                    <li data-id="02"><a href="#TuyenDungHCM" data-toggle="tab">Hồ chí minh</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="TuyenDungHN">
                        <div class="col-md-12 tuyen-dung-chi-tiet">
                            <ul>
                                <li class="col-md-6 col-xs-12 col-sm-6 " v-for="(item, index) in listRecruitmentHN"> <a v-bind:href="item.Link">{{item.TieuDe}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="TuyenDungHCM">
                        <div class="col-md-12 tuyen-dung-chi-tiet">
                            <ul>
                                <li class="col-md-6 col-xs-12 col-sm-6 " v-for="(item, index) in listRecruitmentHCM"> <a v-bind:href="item.Link">{{item.TieuDe}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
@Html.Partial("_ContactPartial")