
@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}

<div class="banner-page banner-introduce fl ">

</div>
<div class="introduce-descriptions fl">
    <div class="container ">
        <h1>
            Công ty cổ phần công nghệ phần mềm <span>SSOFT VIỆT NAM</span>
        </h1>
        <p><label>SSOFT Việt Nam được thành lập tháng 3 năm 2009 tại Hà Nội. Với mục tiêu hoạt động là cung cấp các giải pháp phần mềm quản lý, đem lại lợi ích cho mọi khách hàng. </label></p>
        <p>
            Công ty CP Công Nghệ Phần Mềm SSOFT VN(Viết tắt:"SSOFT Việt Nam") Được thành lập tháng 3 - 2009 với mục tiêu nghiên cứu, phát triển và cung cấp các sản phẩm phần mềm quản lý. Nhằm giúp cho khách hàng
            nâng cao chất lượng Quản lý và kinh doanh trong công việc. Là một công ty trẻ SSOFT VN luôn mong muốn được hợp tác, học hỏi chia sẻ cùng phát triển.<br />
            Với khẩu hiệu "<span>Quản lý những gì bạn muốn</span>"! SSOFT luôn tự tin và nỗ lực mang lại cho Quý khách những sản phẩm có chất lượng và dịch vụ chăm sóc sau bán hàng tốt nhất.
            Đáp ứng mọi nhu cầu quản lý của Quý khách hàng, nâng cao năng lực cạnh tranh. Cũng như giúp Quý khách chuẩn hóa quy trình quản lý hoạt động kinh doanh.
        </p>
        <p class="indes-title">
            <label>Thành tích đạt được
                <img src="~/Images/Theme/Ssoft/icon/huy-hieu.png" /> </label>
        </p>
        <p>
            Thành tích lớn nhất của tập thể SSOFT là đem lại sự hàng lòng và sự tin tưởng của quý khách khi sử dụng các sản phẩm của SSOFT. Bên cạnh đó SSOFT đã được ghi nhận trong"<span>
                Hai năm liên tiếp 2010 và 2011
                được tạp chí PC Word bình chọn giải pháp phần mềm được nhiều người yêu thích nhất
            </span>" và nhiều giải thưởng khác.
        </p>
    </div>
</div>
<div class="introduce-vision fl">
    <div class="container ">
        <div class="col-md-12 row">
            <div class="col-md-4 lst-int-vis">
                <h4> Tầm nhìn</h4>
                <p class="space-br"></p>
                <p>Trở thành và được công nhận là công ty hàng đầu về cung cấp phần mềm cũng như các giải pháp phần mềm. Nhằm giúp cho các đơn vị kinh doanh, doanh nghiệp có một công cụ quản lý thông minh, linh hoạt và chất lượng.</p>
             </div>
            <div class="col-md-4 lst-int-vis">
                <h4> Sứ mệnh</h4>
                <p class="space-br"></p>
                <p>Chúng tôi cam kết không ngừng nghiên cứu, tìm tòi, nghiên cứu và phát triển sản phẩm đáp ứng nhu cầu thực tế cũng như dự báo tương lai. Góp phần giúp các đơn vị kinh doanh, doanh nghiệp ứng dụng phần mềm không ngừng phát triển và lớn mạnh.</p>
            </div>
            <div class="col-md-4 lst-int-vis">
                <h4>Giá trị cốt lõi</h4>
                <p class="space-br"></p>
                <p>Sự hài lòng của quý khách chính là mong muốn của chúng tôi. Chúng tôi không ngừng cải tiến, phát triển sản phẩm cũng như cung cấp dịch vụ sau bán hàng chu đáo đến quý khách hàng.</p>
            </div>
          </div>
    </div>
</div>
<div class="introduce-product fl">
    <div class="container ">
        <h4> Sản phẩm của chúng tôi</h4>
        <div class="col-md-12 row">
            <div class="col-md-4">
                <div class="list-san-pham">
               
                    <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/introduce-pr-beauty.png)no-repeat center;">
                    </div>
                    <a href="/phan-mem-lucky-beauty">
                        <h3 class="name-reason">
                            @*Lucky <span class="ten-san-pham"> Beauty</span><br />*@
                            Quản lý hiệu quả, kết quả ngọt ngào

                        </h3>
                        <p class="chi-tiet-san-pham">
                            Phần mềm quản lý làm đẹp dành cho thẩm mỹ viện, spa & hải salon .Lucky Beauty được xây dựng trên cơ sở tiêu chuẩn quốc tế
                             về quản lý kinh doanh Spa, Hair Salon, Gym, Yoga & Fitness. Lucky Beauty quản lý chặt chẽ, thông minh giúp bạn đắc lực trong công việc quản lý
                            và điều hành công việc
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-san-pham">
                    
                    <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/introduce-pr-gara.png)no-repeat center;">
                    </div>

                    <a href="/phan-mem-lucky-gara">
                        <h3 class="name-reason">
                            @*Lucky <span class="ten-san-pham"> Gara</span><br />*@
                            Phần mềm cực hay, chạy thử mê ngay

                        </h3>
                        <p class="chi-tiet-san-pham">
                            Phần mềm quản lý gara ô tô, xe máy Lucky Gara đáp ứng đầy đủ quy trình quản lý xưởng sửa chữa gara ô tô, mua bán ô tô và phục vụ cho các doanh
                             nghiệp kinh doanh trong lĩnh vực ô tô, xe máy. Lucky Gara được xây dựng theo tiêu chuẩn quản lý chất lượng gara ô tô của các hãng xe: Toyota , Huyndai, Mitsubishi, Thaco...
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list-san-pham">
                    
                    <div class="img-reason" style="  background: url(../Images/Theme/Ssoft/Icon-san-pham/introduce-pr-hrm.png)no-repeat center;">
                    </div>

                    <a href="/phan-mem-lucky-hrm">
                        <h3 class="name-reason">
                            @*Lucky <span class="ten-san-pham"> Hrm</span><br />*@
                            Quản lý tự động không lo sai sót

                        </h3>
                        <p class="chi-tiet-san-pham">
                            Phần mềm quản lý nhân sự Lucky Hrm của SSOFT được xây dựng nhằm phục vụ nhu cầu quản lý nhân sự của các doanh nghiệp Việt Nam. Với các tính năng cơ bản bám sát
                             luật lao động VN(Bảo hiểm, thuế thu nhập các loại...), Ngoài ra Lucky Hrm quản lý tổng thể chung các hoạt động liên quan tới nhân sự của mọi doanh nghiệp
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_HotroPartial")