
@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}
@section scripts {

<script>
    vmbody.GetNewsAll();
    vmbody.GetNewsView();
</script>
}
<div class="banner-page banner-news fl ">
   
</div>
<div class="contentnews fl">
    <div class="container">
        <div class="row" id="DataNews">
            <div class="col-md-8 news-recruitment" >
                <div class="title-news">
                    Bài viết mới nhất
                </div>
                <div v-for="(item, index) in ListNews">
                <div class="fl " v-if="index===0">
                    <div class="col-md-12 row">
                        <div class="img-news img-news-top1">
                            <a v-bind:href="item.Link">
                                <img v-bind:src="item.Anh">
                            </a>
                        </div>
                        <div class="content-news content-news-top1">

                            <div class="title-news-right">
                                <a  v-bind:href="item.Link">
                                   {{item.TenBaiViet}}
                                </a>
                            </div>
                            @*<div class="content-news-right">
                                {{item.Mota}}
                            </div>*@
                            <div class="time-bar">
                                <i class="fas fa-clock"></i>
                                <font >{{localValidate.convertDate(item.NgayTao)}}</font>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fl " v-if="index!==0">
                    @*<div class="title-news-right">
                        <a v-bind:href="item.Link">
                            {{item.TenBaiViet}}
                        </a>
                    </div>*@
                    <div class="col-md-12 row">
                        <div class="img-news">
                            <a v-bind:href="item.Link">
                                <img  v-bind:src="item.Anh">
                            </a>
                        </div>
                        <div class="content-news">

                            <div class="content-news-right">
                                <div class="title-news-right">
                                    <a v-bind:href="item.Link">
                                        {{item.TenBaiViet}}
                                    </a>
                                </div>
                                @*{{localValidate.SubStringContent(item.Mota)}}*@
                            </div>
                            <div class="time-bar">
                                <i class="fas fa-clock"></i>
                                <font >{{localValidate.convertDate(item.NgayTao)}}</font>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                <div class=" more-news" id="Addnew" v-show="visible">
                    <a href="javascript:void(0)" v-on:click="NextNewsPage">Xem thêm</a>
                </div>

            </div>
            <div class="col-md-4">




                <div class="title-news fl">
                    Bài viết xem nhiều nhất
                </div>
                <div class="fl " >
                    <div class="col-md-12 row news-bar" v-for="(item, index) in ListNewsView">
                        <div class="img-news">
                            <a v-bind:href="item.Link">
                                <img v-bind:src="item.Anh">
                            </a>
                        </div>
                        <div class="content-news">

                            <div class="title-news-right ">
                                <a v-bind:href="item.Link">
                                    {{item.TenBaiViet}}
                                </a>
                            </div>
                            <div class="time-bar fl">
                                <font>{{localValidate.convertDate(item.NgayTao)}}</font>
                            </div>
                              <p>Lượt xem:
                                <font >{{item.LuotXem}}</font>
                                </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Html.Partial("_HotroPartial")
@Html.Partial("_ContactPartial")
