
@{
    Layout = "~/Views/ThemeSsoft/_LayoutSsoft.cshtml";
}
@section scripts{
    <script>
        //$('.tree-recruitment-detail ').on('click','li', function () {
        //    if ($(this).hasClass("background-title")) {
        //        $(this).removeClass('background-title');
        //    }
        //    else {
        //        $(this).addClass('background-title');
        //    }
        //    $(this).find('.tree-recruitment-content').toggle();
        //    $(this).find('.tree-recruitment-title a i').each(function () {
        //        $(this).toggle();
        //    });
        //});

        $('.tree-title').on('click', function () {
            $(this).next('.tree-detail').toggle();
            $(this).find('a i').each(function () {
                $(this).toggle();
            });

        })
        vmbody.GetRecruitmentGroup();
    </script>
}
<div class="banner-page banner-recruitment fl ">
    <div class="container">
        <div class="row">
            <div class="fl">
                    <div class="banner-text-left">
                        @*<h1>
                            <span class="recruitment-title1">Có cơ hội trúng tuyển </span>
                            <br />
                            <span>Các vị trí <span style="color:#f8d56e"> hấp</span> <span style="color:#c0f4ff"> dẫn</span> !</span>
                        </h1>*@

                    </div>
             
            </div>
        </div>
    </div>
</div>
<div class="fl  content-recruitment margin-bot-15">
    <div class="container ">
        <h2>
            Tuyển dụng <br />

        </h2>
        <p class="line-end"></p>
        <div class="col-md-12 fl no-padding">
            <div class="col-md-3 col-sm-4 col-xs-12   tuyen-dung-left">
                <div class="User-use-product fl">
                    <div class="User-use-title  tree-title fl">
                        <a href="javascript:void(0)">
                            <span>Tuyển dụng</span>

                            <i class="fa fa-plus-square" aria-hidden="true" style="display:none"></i>
                            <i class="fa fa-minus-square" aria-hidden="true" ></i>
                        </a>
                    </div>
                    <div class="tree-detail tree-group-recruitment fl">
                        <ul  >
                            <li v-for="(item, index) in listRecruitmentGroup" v-on:click="selectedrecruitment(item.ID,event)"  v-bind:class="['', index===0 ? 'recruitment-active' : '']">
                                <a href="javascript:void(0)" > {{item.TenNhomBaiViet}}</a>
                              </li>
                         </ul>
                      </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 tuyen-dung-right">
                <ul class="fl tree-recruitment-detail">
                   
                    <li v-for="(item, index) in listRecruitment">
                        <a v-bind:href="item.Link">
                            <div class="tree-recruitment-title fl">
                                <div class="fl">
                                    <div class="col-md-6 col-sm-12 ">
                                        <span>{{item.TieuDe}}</span><br />
                                        <span class="recruitment-color-ssoft">{{'Lương: '+item.MucLuong}}</span>
                                    </div>
                                    <div class="col-md-4 col-sm-7 ">
                                        <span>{{item.ThoiGian}}</span><br />
                                        <span class="recruitment-color-ssoft" v-show="!item.ConHan">Hết hạn</span>
                                    </div>
                                    <div class="col-md-2 col-sm-5">
                                        {{item.TinhThanh}}
                                    </div>
                                </div>
                                @*<a href="javascript:void(0)">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    <i class="fa fa-minus-square" aria-hidden="true" style="display:none"></i>
                </a>*@
                            </div>
                            </a>
                            @*<div class="tree-recruitment-content fl">
                <div class="fl">
                     {{'Số lượng:'+ item.SoLuong}}
                </div>
                <div class="fl">
                     <span v-html="item.MoTa"/>
                </div>
                    <div class=" more-news btn-add-recruitment">
                        <a href="javascript:void(0)" >Nộp hồ sơ</a>
                    </div>
            </div>*@
</li>
                    </ul>
            </div>
        </div>
    </div>

    </div>
@Html.Partial("_HotroPartial")
@Html.Partial("_ContactPartial")

