@using banhang24.Hellper;
<style>
    .gara-menu-sections {
        padding: 0 15px;
        position: fixed;
        background: var(--color-main);
        display: flex;
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        z-index: 999;
    }

    .gara-menu-article {
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
    }

    .gara-submenu {
        position: relative;
        cursor: pointer;
    }

    .gara-submenu-list {
        min-width: 200px;
        position: absolute;
        top: 50px;
        background: var(--color-main);
    }

        .gara-sidemenu-list *, .gara-submenu-list * {
            color: white
        }

    .gara-submenu-archor {
        color: white;
        line-height: 18px;
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 50px;
        padding: 15px 10px;
    }

        .gara-submenu-archor i {
            font-size: 18px;
            margin-left: 5px;
        }

        .gara-submenu-archor span {
            line-height: 24px
        }

        .gara-submenu-archor:hover {
            color: white
        }

        .gara-submenu-archor > i {
            transition: all 0.4s ease;
        }

    .gara-submenu:hover .gara-submenu-archor:not(.notspin) > i {
        transform: rotate(180deg)
    }

    .gara-submenu:hover > .gara-submenu-list, .gara-sidemenu:hover > .gara-sidemenu-list {
        display: block !important
    }

    .gara-submenu-list:hover {
        display: block
    }

    .gara-sidemenu {
        position: relative
    }

    .gara-sidemenu-archor {
        padding: 7px 12px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

        .gara-sidemenu-archor:hover {
            background: var(--color-primary)
        }

    .gara-sidemenu-list {
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        right: -200px;
        background: var(--color-main);
    }

    .gara-submenu:hover > a {
        background: var(--color-primary);
    }

    .gara-sidemenu:hover {
        background: var(--color-primary);
    }

    .gara-entrance {
        flex-direction: column
    }

    .settings-menu a.gara-sidemenu-archor {
        justify-content: flex-start;
    }

        .settings-menu a.gara-sidemenu-archor i {
            font-size: 20px;
            margin-right: 5px;
        }

    a.gara-submenu-archor.gara-entrance {
        padding: 5px 15px;
        flex-direction: column;
        text-align: center;
    }

        a.gara-submenu-archor.gara-entrance i {
            margin: 0
        }

    .gara-dropsearch-component-input {
        background: none;
        height: 30px;
        border-bottom: 1px solid white;
        padding: 5px 5px 5px 30px;
        line-height: 24px;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid white;
        margin: 5px;
        width: calc(100% - 10px);
        color: white;
    }

        .gara-dropsearch-component-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /* Firefox */
        }

        .gara-dropsearch-component-input::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /* Firefox */
        }

        .gara-dropsearch-component-input::-ms-input-placeholder {
            color: white;
            opacity: 1; /* Firefox */
        }

    .gara-color-picker {
        padding: 15px;
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

        .gara-color-picker li > a {
            height: 40px;
            width: 40px;
            margin: 5px;
            display: block;
            border: 3px solid #ccc;
            color: #ccc;
            border-radius: 20px;
            background: white;
        }
</style>
<div  class="gara-menu-sections">
    <div style="display:flex; flex-direction:row">
        <a style=" padding:0 30px 0 15px; display:flex;justify-content:center; align-items:center"
           href="/#/DashBoard">
            <img src="~/Content/images/banhang24.png" style="height:30px; object-fit:contain" />
        </a>
        <ul  class="gara-menu-article">
            <li class="gara-submenu">

                <a class="gara-submenu-archor" href="/#/DashBoard">
                    <span>Tổng quan</span>
                </a>

            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor">
                    <span>Danh mục </span>
                    <i class="material-icons">expand_less</i>
                </a>
                <div class="gara-submenu-list" hidden>
                    <ul>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.Danhsachhanghoa">
                                <span>Hàng hóa </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor"  href="/#/@UrlPage.ThietLapGia">
                                <span>Bảng giá</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.PhieuDieuChinh">
                                <span>Điều chỉnh giá vốn </span>
                            </a>
                        </li>

                       


                    </ul>
                </div>
            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor">
                    <span>Quản lý sửa chữa</span>
                    <i class="material-icons">expand_less</i>
                </a>
                <div class="gara-submenu-list" hidden>
                    <ul>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.DanhSachXe">
                                <span>Danh mục xe </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.DanhSachPhieuTiepNhan">
                                <span>Danh sách phiếu tiếp nhận</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.DatHang">
                                <span>Báo giá</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.HoaDon">
                                <span>Hóa đơn </span>
                            </a>
                        </li>



                    </ul>
                </div>
            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor">
                    <span>Quản lý bán hàng </span>
                    <i class="material-icons">expand_less</i>
                </a>
                <div class="gara-submenu-list" hidden>
                    <ul>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.DatHang">
                                <span>Đặt hàng </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu"  >
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.HoaDon">
                                <span>Bán hàng</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu"  >
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.TraHang">
                                <span>Đổi trả hàng</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor">
                    <span>Đối tác </span>
                    <i class="material-icons">expand_less</i>
                </a>
                <div class="gara-submenu-list" hidden>
                    <ul>

                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor"  href="/#/@UrlPage.KhachHang">
                                <span>Khách hàng </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor"  href="/#/@UrlPage.NhaCungCap">
                                <span>Nhà cung cấp</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.BaoHiem">
                                <span>Bảo hiểm</span>
                            </a>
                        </li>

                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.NguoiLienHe">
                                <span>Danh sách người liên hệ </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/Work">
                                <span>Chăm sóc khách hàng</span>
                                <i class="material-icons" style="font-size:18px">chevron_right</i>
                            </a>
                            <div class="gara-sidemenu-list" hidden>
                                <ul>
                                    <li class="gara-sidemenu">
                                        <a class="gara-sidemenu-archor" href="/#/@UrlPage.Congviec">
                                            <span>Công việc - Lịch hẹn</span>
                                        </a>
                                    </li>
                                    <li class="gara-sidemenu">
                                        <a class="gara-sidemenu-archor">
                                            <span>Lịch nhắc bảo hành</span>
                                        </a>
                                    </li>

                                    <li class="gara-sidemenu">
                                        <a class="gara-sidemenu-archor" href="/#/@UrlPage.PhanHoi">
                                            <span>Phản hồi khách hàng</span>
                                        </a>

                                    </li>
                                    <li class="gara-sidemenu">
                                        <a class="gara-sidemenu-archor" href="/#/@UrlPage.DichVuSMS">
                                            <span>Danh mục SMS/EMS </span>
                                        </a>
                                    </li>




                                </ul>
                            </div>
                        </li>


                    </ul>
                </div>
            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor">
                    <span>Quản lý kho </span>
                    <i class="material-icons">expand_less</i>
                </a>
                <div class="gara-submenu-list" hidden>
                    <ul>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.KiemKho">
                                <span>Kiểm kho </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.NhapHang">
                                <span>Nhập hàng</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.XuatHuy">
                                <span>Xuất kho</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.ChuyenHang">
                                <span>Điều chuyển kho </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor" href="/#/@UrlPage.SoQuy2">
                    <span>Tài chính </span>
                </a>

            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor">
                    <span>Báo cáo </span>
                    <i class="material-icons">expand_less</i>
                </a>
                <div class="gara-submenu-list" hidden>
                    <ul>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.R_BanHang">
                                <span>Bán hàng </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.R_BanHang">
                                <span>Sửa chữa</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.R_Kho">
                                <span>Kho hàng</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.R_TaiChinh">
                                <span>Tài chính </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor" >
                    <span>Nhân sự </span>
                    <i class="material-icons">expand_less</i>
                </a>
                <div class="gara-submenu-list" hidden>
                    <ul>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.CD_ChiNhanh">
                                <span>Quản lý chi nhánh</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.NhanVien">
                                <span>Quản lý nhân viên</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.R_TaiChinh">
                                <span>Quản lý chấm công</span>
                                <i class="material-icons" style="font-size:18px">chevron_right</i>
                            </a>
                            <div class="gara-sidemenu-list" hidden>
                                <ul>
                                    <li class="gara-sidemenu" >
                                        <a class="gara-sidemenu-archor" href="/#/@UrlPage.CaLamViec">
                                            <span>Danh mục ca làm việc</span>
                                        </a>
                                    </li>
                                    <li class="gara-sidemenu">
                                        <a class="gara-sidemenu-archor" href="/#/@UrlPage.PhanCongCaLamViec">
                                            <span>Phân công ca làm việc</span>
                                        </a>
                                    </li>
                                    <li class="gara-sidemenu">
                                        <a class="gara-sidemenu-archor" href="/#/@UrlPage.ChamCong2_1">
                                            <span>Chấm công</span>
                                        </a>

                                    </li>
                                    <li class="gara-sidemenu">
                                        <a class="gara-sidemenu-archor" href="/#/@UrlPage.BangLuong">
                                            <span>Bảng lương </span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor" href="/#/@UrlPage.CD_NguoiDung">
                                <span>Quản lý người dùng </span>
                            </a>
                        </li>




                    </ul>
                </div>
            </li>
            <li class="gara-submenu">

                <a class="gara-submenu-archor gara-entrance notspin" style="background:var(--color-special)"
                   href="/#/@UrlPage.BanLamViec">
                    <i class="material-icons">drive_eta</i>
                    <span>Bàn làm việc </span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <ul  class="gara-menu-article">
            <li class="gara-submenu">

                <a class="gara-submenu-archor notspin">
                    <i class="material-icons">location_on</i>
                    <span>Tên chi nhánh</span>
                </a>
                <div class="gara-submenu-list" hidden style="right:0">
                    <div>
                        <i class="material-icons" style="position:absolute; top:12px; left:7px; color:white; font-size:18px">search</i>
                        <input class="gara-dropsearch-component-input" placeholder="tìm kiếm chi nhánh" />
                    </div>

                    <ul style="max-height:150px; overflow:auto">
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor">
                                <span>Hàng hóa </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor">
                                <span>Dịch vụ </span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor">
                                <span>Bảng giá</span>
                            </a>
                        </li>
                        <li class="gara-sidemenu">
                            <a class="gara-sidemenu-archor">
                                <span>Điều chỉnh giá vốn </span>
                            </a>
                        </li>




                    </ul>
                </div>

            </li>
            <li class="gara-submenu">
                <div id="thongbaoload">
                    @Html.Action("_thongbao", new { area = "", Controller = "Shared" })
                </div>
            </li>

            <li class="gara-submenu settings-menu">

                <a class="gara-submenu-archor">
                    <i class="material-icons">settings</i>
                </a>
                <div class="gara-submenu-list" hidden style="right:0; width:400px">
                    <div style="display:flex;flex-direction:row">
                        <ul class="gara-color-picker">
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>
                            <li>
                                <a></a>
                            </li>

                        </ul>
                        <ul style="width:200px">
                            <li class="gara-sidemenu">
                                <a class="gara-sidemenu-archor">
                                    <i class="material-icons">
                                        person
                                    </i>
                                    <span>Tên nhân viên </span>
                                </a>
                            </li>
                            <li class="gara-sidemenu">
                                <a class="gara-sidemenu-archor">
                                    <i class="material-icons">
                                        store
                                    </i>
                                    <span>Cài đặt cửa hàng </span>
                                </a>
                            </li>
                            <li class="gara-sidemenu">
                                <a class="gara-sidemenu-archor">
                                    <i class="material-icons">
                                        redeem
                                    </i>
                                    <span>Cài đặt khuyến mại</span>
                                </a>
                            </li>
                            <li class="gara-sidemenu">
                                <a class="gara-sidemenu-archor">
                                    <i class="material-icons">
                                        spa
                                    </i>
                                    <span>Cài đặt hoa hồng</span>
                                </a>
                            </li>
                            <li class="gara-sidemenu">
                                <a class="gara-sidemenu-archor">
                                    <i class="material-icons">
                                        receipt_long
                                    </i>
                                    <span>Cài đặt chiết khấu </span>
                                </a>
                            </li>
                            <li class="gara-sidemenu">
                                <a class="gara-sidemenu-archor">
                                    <i class="material-icons">
                                        print
                                    </i>
                                    <span>Cài đặt mẫu in </span>
                                </a>
                            </li>
                            <li class="gara-sidemenu">

                                <a class="gara-sidemenu-archor">
                                    <i class="material-icons">
                                        power_settings_new
                                    </i>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>




                        </ul>
                    </div>

                </div>
            </li>
        </ul>
    </div>

</div>
<script>

</script>