<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            <h4 class="modal-title">Có gì mới ở bản cập nhật này?</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid nopadding">
                <div class="col-md-12">
                    <h5 class="modal-title"> Cập nhật phiên bản</h5>
                    <p>

                        Chi tiết phiên bản: 1.0000097
                        <br />
                        Trong bản cập nhật mang đến những tính năng mới cũng như các sửa lỗi
                    </p>
                    <div>
                        <h4>1. Các chức năng mới</h4>
                        <div style="padding-left:15px;">
                            <p>
                                1. Báo cáo bán hàng - Khách hàng: Doanh thu, Số lần khách đến, Ngày giao dịch gần nhất, chi tiết giao dịch
                            </p>
                            <p>
                                2. Báo cáo bán hàng - Nhân viên: thêm điều kiện lọc theo phòng ban.
                            </p>
                            <p>
                                3. Danh mục hàng hóa: bổ sung trường Dịch vụ theo giờ (dùng trong Karaoke), Được tích điểm (lựa chọn tích điểm theo từng hàng hóa).
                            </p>
                            <p>
                                4. Cài đặt tích điểm: Khởi tạo tích điểm cho toàn bộ hàng hóa (check có/không)
                            </p>
                            <p>
                                5. Nhà hàng: tính thời gian tự động của hàng hóa (nếu hàng hóa là Dịch vụ theo giờ)
                            </p>
                            <p>
                                6. Tổng quan: bổ sung thống kê Doanh thu, Số lượng (Gói dịch vụ), Thu công nợ hôm nay
                            </p>
                            <p>
                                7. Chấm công: cho phép xóa toàn bộ công của nhân viên theo ca.
                            </p>
                            <p>
                                8. Import hàng hóa: bổ sung cột Đơn vị quy cách
                            </p>
                        </div>
                    </div>
                    <div>
                        <h5>2. Cải thiện giao diện trên thiết bị di dộng</h5>
                        <p>
                            Cải thiện giao diện bán hàng, trả hàng, nhà hàng, bộ lọc. 
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>