<connectionStrings>
  <add name="BanHang24vnContext" connectionString="metadata=res://*/BanHang24vn.csdl|res://*/BanHang24vn.ssdl|res://*/BanHang24vn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=data2.ssoft.vn;initial catalog=BANHANG24;user id=open24;password=Ssoftvn1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="SsoftvnWebContext" connectionString="data source=data2.ssoft.vn;initial catalog=SSOFTWEB_0981143683;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="0981143683" connectionString="data source=data2.ssoft.vn;initial catalog=SSOFTWEB_0981143683;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="0335559422" connectionString="data source=data2.ssoft.vn;initial catalog=SSOFTWEB_0335559422;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="00981143683" connectionString="data source=data2.ssoft.vn;initial catalog=SSOFTWEB_00981143683;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="90981143683" connectionString="data source=data2.ssoft.vn;initial catalog=SSOFTWEB_90981143683;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
</connectionStrings>