@font-face{font-family:'icomoon';src:url('../fonts/icomoon.eot?opazcb');src:url('../fonts/icomoon.eot?opazcb#iefix') format('embedded-opentype'),
url('../fonts/icomoon.ttf?opazcb') format('truetype'),
url('../fonts/icomoon.woff?opazcb') format('woff'),
url('../fonts/icomoon.svg?opazcb#icomoon') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"], [class*=" icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-bep:before{content:"\e900";}
.icon-dienmay:before{content:"\e901";}
.icon-dotroitreem:before{content:"\e902";}
.icon-mypham:before{content:"\e903";}
.icon-nganhnghekhac:before{content:"\e904";}
.icon-nhathuoc:before{content:"\e905";}
.icon-noithat:before{content:"\e906";}
.icon-salon:before{content:"\e907";}
.icon-sieuthi:before{content:"\e908";}
.icon-spa:before{content:"\e909";}
.icon-thietbicongnghe:before{content:"\e90a";}
.icon-thoitrang:before{content:"\e90b";}
.icon-thucpham:before{content:"\e90c";}
.icon-vanphongpham:before{content:"\e90d";}
.icon-xemayoto:before{content:"\e90e";}