:root {
    --common-main-color: #FF7208;
}

/*.header-top{
    background: linear-gradient(180deg, rgb(36 84 125) 0%, var(--op-main-color) 30%, var(--op-main-color) 100%);
}*/

.header-top, .banner-home, .header-top.active, .menu-main-mobile {
    background-color: var(--common-main-color);
}

#toTop {
    border: 2px solid var(--common-main-color);
    color: var(--common-main-color);
}

#toTop:hover {
    background-color: var(--common-main-color);
    color: white;
}

.ul-children-mobile {
    background: #FFD40C;
}


/*    .ul-children li:hover a, .ul-fun li:hover a, .menu-main li.li-main a:hover {
        color: #fdbc3c !important
    }*/

.banner-home {
    background-image: url(../images/open24/GaraPage/banner-header.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    /*background-size: 100%;*/
}

.banner-wave {
    background-image: url(../../Content/images/open24/GaraPage/banner-wave-orange.png);
    text-align: center;
    padding: 15px;
    background-color: var(--common-main-color);
    height: 200px;
    /*margin: 15vh 0;*/
}

h4 {
    font-weight: normal
}

.banner-light{
    right: 0;
}

.orderBtn {
    width: 200px;
    height: 40px;
    padding: 5px 20px;
    font-size: 19px;
    background: white;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    color: #292929;
}

.gara-icon {
    margin: 0 auto;
}

.display-arrow {
    display: grid;
}

    .display-arrow img {
        margin-top: 9vh;
    }

/*
.content-page-function .card {
    width: 165px;
    float: left;
}
*/

.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right !important;
    color: grey;
    margin-top: -25px;
}

.accordion-opened .accordion-toggle:after {
    content: "\f077";
}

.accordion-group {
    border: 1px solid #D4EBFF
}

.accordion-inner {
    border: none;
    padding: 10px 55px;
}

    .accordion-inner i {
        color: var(--common-main-color);
        padding-top: 2px;
    }

    .accordion-inner p {
        padding-left: 10px;
    }

.accordion-heading .accordion-toggle {
    display: block;
    padding: 15px 15px 5px 15px;
    font-size: 16px;
}

.number-title {
    background: var(--common-main-color);
    border-radius: 50%;
    color: white;
    height: 25px;
    width: 25px;
    padding: 5px 7px 3px 8px;
    margin: -2px 15px 10px 0;
}

.page-price {
    text-align: center;
    padding: 15vh 0px;
}
    .page-price .card-text {
        height: 55vh;
    }

    .page-price .card-text {
        line-height: 30px;
    }

    .page-price title, h2, h3 {
        color: #2680EB;
    }

.page-price-title {
    margin-bottom: 10vh;
}

.box-shadow {
    box-shadow: 0 2.8px 20px rgba(0, 0, 0, 0.034), 0 6.7px 20px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0px 24px 80px 20px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 15px;
}

.RegisterBtn {
    border: 2px solid #A8ACB9;
    width: 80%;
    background: white;
    color: #A8ACB9;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 5vh;
}

    .RegisterBtn:hover {
        background: var(--common-main-color);
        color: white;
        border: 2px solid var(--common-main-color);
    }

    button:focus {
        outline: none;
    }
.btn-focus {
    background: var(--common-main-color) !important;
    color: white !important;
    border: 2px solid var(--common-main-color) !important;
}
.btn-more-info {
    height: 40px;
    padding: 5px 20px;
    font-size: 19px;
    background: white;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    color: #BEBEBE;
}

.form-control {
    font-family: Arial, FontAwesome
}

.form-control:focus {
    border-color: var(--common-main-color);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px var(--common-main-color);
}

.btn-submit {
    background: var(--common-main-color);
}

.click-menu > i {
    color: white;
}

.accordion {
    background-color: #EDEDED;
    border: 1px solid #D4EBFF;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    width: 100%;
}

.accordion-head {
    cursor: pointer;
    background-image: -moz-linear-gradient(white,#ededed);
    background-image: -o-linear-gradient(white,#ededed);
    background-image: -ms-linear-gradient(white,#ededed);
    overflow: hidden;
    padding: 10px 0 5px 10px;
    position: relative;
}

    .accordion-head * {
        cursor: pointer;
    }

    .accordion-head:hover {
        cursor: pointer;
    }

    .accordion-head p {
        float: left;
        color: var(--op-main-color);
        font-size: 16px;
    }

.accordion-body.default {
    display: block;
    background: #FFFFFF;
}

.accordion-body {
    display: none;
    background: #FFFFFF;
    height: auto;
    padding: 15px 15px 15px 40px;
}

.arrow {
    float: right;
    width: 0px;
    height: 0px;
    margin-top: 5px;
    border: 10px solid transparent;
    border-left-color: #62bb46;
}

.arrow-close {
    float: right;
    width: 0px;
    height: 0px;
    margin-top: 5px;
    border: 10px solid transparent;
    border-left-color: #949494;
}

.arrow-open {
    float: right;
    width: 0px;
    height: 0px;
    margin-top: 8px;
    margin-right: 5px;
    border: 10px solid transparent;
    border-top-color: #949494;
}

.fa-caret-right {
    color: var(--common-main-color);
}


/*--------responsive area---------------*/
/*Laptop L, 4K screen*/
@media (min-width: 1200px) {
}

/*Ipad pro*/
@media (min-width: 770px) and (max-width: 1025px) {
    .banner-home {
        height: 400px !important;
        background-size: contain;
    }

        .banner-home .content-banner {
            left: 25px;
        }

    .display-arrow img {
        margin-top: 4vh;
    }

    .banner-wave{
        /*margin-top: 5vh !important;*/
    }

    .page-price {
        text-align: center;
        padding: 5vh 0px;
        width: 80%;
        margin: 0 auto;
    }
        .page-price .card{
            padding-top: 5vh
        }

        .page-price .card-text {
            height: 35vh;
        }

    .page-price-title {
        margin-bottom: 5vh;
    }
}
/*Ipad*/
@media (min-width: 561px) and (max-width: 769px) {
    .banner-home {
        background-size: contain;
        background-position-y: bottom;
    }

        .banner-home .content-banner h1 {
            padding-top: 0 !important;
            line-height: 35px;
            font-size: 25px;
        }

    .page-price .card {
        padding-top: 5vh
    }

    .page-price .card-text {
        height: 45vh;
    }

    .btn-group-home button{
        height: 40px;
    }

    .display-arrow img {
        margin-top: 5vh;
    }
}

/*Iphone 5 6 7 8 X*/
@media(max-width:560px) {
    .banner-home .content-banner h1 {
        text-align: left;
        font-size: 24px;
    }

    .content-banner .btn-group-home {
        margin-top: 0;
    }

    .banner-wave {
        /*margin-top: 5vh;*/
    }

    .display-arrow {
        display: none;
    }

    

    .page-price .card {
        padding-top: 5vh
    }

    .page-price .card-text {
        height: 70vh;
    }

    /*.content-page-function .card {
        width: 165px;
        float: none;
        margin: 0 auto;
    }
*/
    .orderBtn {
        width: 130px;
        height: 28px;
        padding: 0px 10px;
        font-size: 14px;
        background: white;
        border: none;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        line-height: 30px;
        color: #292929;
        font-weight: normal;
    }

}

@media(max-width:375px) {
    .page-function {
        padding: 40px 45px;
    }
}


.header-top, .banner-home, .header-top.active, .menu-main-mobile {
    background: var(--color-theme);
}

.menu-main li.li-main a {
    color: black !important;
}

.op-drop-submenu-ul li > a > div > * {
    color: black ;
}
.btn-ads {
    height: 37px;
    background: white;
    text-align: center;
    padding: 7px 12px;
    font-size: 16px;
    margin-top: 15px;
    font-weight: normal;
    border: none;
    border-radius: 6px;
    font-family: "Roboto";
    width: 175px;
    color: black;
    letter-spacing: 0;
    line-height: 24px;
    transition: all 0.4s ease;
}
.btn-ads.yellow{
    color:black;
}
.op-banner {
    background: var(--color-theme);
    width: 100%;
    margin: 0;
}
    
.op-price-panel {
    font-family: roboto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

    .op-price-panel > button {
        text-transform: uppercase;
        border: 1px solid var(--color-theme);
        border-radius: 25px;
        margin-left: 5px;
        font-weight: normal;
        font-size: 13px;
    }

.banner-wave {
    background-image: url(../../Content/images/open24/IconHomePage/op-banner-background.png);
    text-align: center;
    padding: 15px;
    background-color: var(--common-main-color);
    height: 200px;
    /*margin: 15vh 0;*/
}

.btn-submit {
    background: var(--color-theme);
}

.btn-focus {
    background: var(--color-theme) !important;
    border-color: var(--color-theme) !important
}

.op-price-panel > * {
    margin: 15px 0
}

.op-panel-detail {
    width: 80%;
    min-width: 224px;
    margin: 15px 10%;
}

    .op-panel-detail > div {
        margin: 0 0 5px 0;
        text-align: left;
    }

.op-price-panel > * {
    margin: 5px 0;
}

.op-panel-detail {
    margin: 0;
}

.op-price-excepted {
    opacity: 0.5
}

.op-panel-detail > div:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: #2B9EFB;
}

.op-panel-detail > div.op-price-excepted:before {
    content: '';
    width: 20px;
}

.op-panel-icon {
    height: 60px;
    width: 60px;
    display: flex;
    border-radius: 50px;
    border: 2px solid rgb(104, 104, 104);
    padding: 5px;
    align-items: center;
    justify-content: center;
}

    .op-panel-icon + div {
        font-family: system-ui;
        font-weight: 900;
    }

.op-section-title {
    text-align: center;
    margin: 15px
}

    .op-section-title > font {
        font-size: 32px;
        margin: 100px 0;
    }

.op-description-header {
    display: flex;
    background: none;
    padding: 5px 12px;
    flex-direction: row;
    line-height: 24px;
    border-radius: 3px;
    justify-content: space-between;
    color: black;
    font-weight: normal;
    font-size: 13px;
    font-family: Roboto
}

span.op-description-number {
    height: 24px;
    width: 24px;
    background: var(--color-theme);
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    color: white;
    padding: 1px;
    margin-right: 10px;
    font-size: 13px
}

a.op-description-toggle {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 18px;
}

.op-description-toggle > i {
    transition: all 0.4s ease;
    transform: rotate(-180deg)
}

.op-description-toggle.arrow-up > i {
    transform: rotate(0)
}

.op-description-body {
    padding: 15px;
    display:none;
}

.op-price-noted {
    margin: 15px 0;
    display: inline-block;
    color: black;
    font-family: sans-serif;
    font-size: 11px;
}
.op-description-item {
    padding: 3px 7px;
    display: flex;
}

i.fa.fa-angle-right {
}

.op-description-item > i {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 8px;
    line-height: 24px;
    color: var(--color-theme);
}
.op-description-detail {
    line-height: 24px;
    display: inline-block;
}
.op-description {
    background: #F5FAFE;
    border-radius: 10px;
    border: 1px solid #D4EBFF;
    padding: 10px 3px;
    /*margin-bottom: 30px;*/
}

.op-description-title {
    color: #0078D7;
    font-size: 16px;
}

.op-customer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

    .op-customer-list > li {
        padding: 15px;
    }

        .op-customer-list > li > div {
            border: 1px solid #ccc;
            height: 130px;
            padding: 15px;
            object-fit: contain;
            border-radius: 10px;
        }

            .op-customer-list > li > div > img {
                width: 100%;
                height: 100px;
                object-fit: none;
            }

.op-signin:hover, .op-signin:focus {
    /*color: black;*/
}

.op-gara-heading {
    text-align: left;
    line-height: 48px;
    color: white;
    font-size: 40px;
    font-family: system-ui;
    font-weight: 900;
    margin: 0;
    margin-bottom: 30px;
}
.op-panel-icon > img {
    height: 40px;
}

.op-price-excepted {
    padding-left: 16px;
}

.op-tag-start {
    position: relative
}

    .op-tag-start::after {
        content: "";
        top: 0;
        height: 45px;
        width: 17px;
        background-image: url(../../Content/images/gara/ribbon.png);
        position: absolute;
        right: 15px;
        background-size: 100% 100%;
    }
.op-btn-submit {
    height: 40px;
    line-height: 24px;
    padding: 3px;
    background: var(--color-theme);
    border-radius: 20px;
    padding: 8px 15px;
    color: white !important;
}
button , a{
    cursor:pointer;
}

    .btn-ads:hover {
        letter-spacing: 1.5px;
    }