
body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, Arial, sans-serif;
}

.btn_register {
    text-align: center;
    margin: 10vh 0;
}

.bg-line-text {
    line-height: 50px;
    color: white;
    margin-top: 25px;
    font-family: system-ui;
    font-weight: 900;
}

.icon-social-network {
    position: relative;
    
}

    .icon-social-network img:hover {
        transform: translateY(-3px);
        transition: 0.3s ease;
    }


.bg-icon {
    border-radius: 50%;
    height: 5.5em;
    width: 5.5em;
    padding: 20px;
    margin: 0 auto;
}

    .bg-icon > img {
        width: -webkit-fill-available;
    }

.banner-home {
    background-image: url('../images/open24/IconHomePage/banner-home.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-color: var(--op-main-color);
    width: 100%;
}
.navbar-menu{
    width:unset;
    float:left;
}
.navbar-menu {
     width:unset; 
    float: left;
}
.navbar-login {
    display: none;
}

    .navbar-login span {
        color: #BEBEBE;
    }

.menu-main ul.nav {
    padding-top: 23px;
    padding-left: 9vh;
    /*float: right !important;*/
}

.menu-main li.li-main {
    float: left;
    padding-left: 15px;
    line-height: 30px;
}

.ul-fun{
    width: 50%;
}

    .ul-fun li {
        height: 85px;
    }

    .ul-fun img {
        height: fit-content;
        margin: 10px 25px 0 15px;
    }

    .ul-fun small {
        color: #414141;
    }


.menu-main li.li-main a {
    text-transform: unset;
    font-weight: normal;
    background: 0 0;
    display: block;
    line-height: 24px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 7px;
    color: var(--op-main-color);
}

.menu-main li.undore a {
    border-bottom: 2px solid #ffd40c;
    text-decoration: none !important;
}

.nav-menu {
    text-transform: unset;
    font-weight: normal;
    background: 0 0;
    display: block;
    line-height: 24px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 7px;
    color: white !important;
    font-weight: normal;
}

    .nav-menu.active {
        color: white;
    }

    .nav-menu:hover {
        color: white;
        border-bottom: 2px solid #FFD40C;
        /*font-size: 15px !important;*/
    }
/*    .nav-menu:hover.active {
        color: var(--op-main-color) !important;
    }*/
.header-top {
    height: 80px;
    line-height: 30px;
    padding: 25px 0;
    position: sticky;
    top: 0px;
    z-index: 9;
    width: 100%;
    background-color: var(--op-main-color);
    background-color: var(--color-theme);
    box-shadow: none;
}

.home-logo {
    background: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 5px;
}

.login-inner {
    text-align: right;
    width: fit-content;
}

    .login-inner a {
        text-transform: unset;
        background: 0 0;
        font-size: 13px;
        font-family: font-helveticaNeueMedium,arial,sans-serif;
        padding: 0 15px;
        color: #333;
        font-weight: 600;
        height: 40px;
        /* display: inline-block; */
        padding: 7px;
        line-height: 30px;
    }

        .login-inner a.login-dang-ky {
            border-top: 2px solid #f6ba3e;
            border-bottom: 2px solid var(--op-main-color);
            border-left: 1px solid #9ac515;
            border-right: 1px solid #9ac515;
            border-radius: 30px;
            padding: 8px 20px 8px 20px;
            display: none;
        }

        .login-inner a.login-dang-nhap {
            color: white;
            background: var(--op-main-color);
            border-radius: 5px;
            padding: 7px 12px;
            display: none;
        }

.logo img {
    width: 80%;
    height: 100%;
}

.slogan-box {
    background: var(--op-main-color)
}

    .slogan-box p {
        font-size: 33px;
        text-align: center;
        line-height: 35px;
        padding: 29px 0;
        color: white;
        text-transform: none;
        font-weight: bold;
    }

h2.title {
    font-size: 33px;
    line-height: 45px;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #414141;
    font-family: system-ui;
    font-weight: 900;
    animation: 1s ease 0s hideTitle;
}

.list-ban-le li .fc-icon img {
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 65px;
    /* background: #e4e8e8; */
    border-radius: 4px;
    border-radius: 10px;
    object-fit: scale-down;
}

.fc-text p {
    font-size: 14px;
    margin: 0px;
    line-height: 30px;
    color: #333;
    margin: 15px 0 0 0;
}

.fc-text > span {
    text-align: justify;
    display: inline-block;
}
.list-tree-service
.fc-text > span {
    text-align: center;
    display: inline-block;
}
.trialBtn {
    height: 40px;
    padding: 5px 20px;
    font-size: 19px;
    background: #FFD40C;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    color: #292929;
    transition: 0.3s;
}

.title-helpfull {
    background-color: #FFD40C;
    text-align: center;
    padding: 30px 0px;
    margin: 5vh 0;
    color: #414141;
}
    .title-helpfull p {
        letter-spacing: 1px;

    }

.list-group-item {
    border: none;
    width: 100%;
    display: flex;
}
    .list-group-item i {
        color: #C1CFFC;
        margin-right: 10px;
    }
    .list-group-item > div > p {
        color: #0077D7;
        margin-bottom: 0;
    }
    .list-group-item > div > small {
        color: #414141;

    }
.dashed-right {
    border-right: 1px dashed #ccc;
}

.dashed-bottom {
    border-bottom: 1px dashed #ccc;
}

.list-tree-service ul li {
    width: 33.33333%;
    height: 200px;
    float: left;
    padding: 15px;
}

    .list-tree-service ul li .fc-icon {
        width: 55px;
        height: 55px;
        float: none;
        padding-top: 0;
        display: block;
        width: 70px;
        text-align: center;
        object-fit: none;
        margin-left: calc(50% - 35px);
    }

.fc-icon img {
    width: initial;
    object-fit: none;
    text-align: center;
}

.list-tree-service ul li .fc-text {
    width: calc(100% - 55px);
    float: right;
    padding: 0;
    text-align: center;
    width: 100%;
    padding: 15px 10px;
}

.list-tree-service img {
    height: 50px;
    object-fit: scale-down;
}

.content-page-advantages ul li {
    width: 33.333333%;
    float: left;
    padding: 15px;
    text-align: center;
}

.page-advantages {
    background-image: url('../images/open24/IconHomePage/bg-page-adv.png');
    background-repeat: no-repeat;
    background-position: center;
}


.content-page-advantages img {
    object-fit: scale-down;
    margin-top: 5px;
}

.content-page-advantages .card {
    padding: 10px 0;
}

.content-page-advantages .card-text {

}

.content-page-advantages .fc-text {
    width: 208px;
    text-align: left;
    margin: 0;
    margin-left: calc(50% - 104px);
}

.page-request {
    background-color: #e8eef1;
    padding-bottom: 10vh;
}

.content-page-news {
    background: none;
}
.menu-fun {
    top: 40px;
}

.ul-children {
    width: 200px;
    top: 40px;
    left: -35px;
    background: white;
    box-shadow: 0 3px 15px #888888;
    border-radius: 10px;
}

.menu-fun {
    width: 700px;
    background: white;
    float: left;
    box-shadow: 0 3px 15px #888888;
    border-radius: 10px;
}

.config-nav {
    position: absolute;
    left: unset;
    right: 0px;
    top: 63px;
}


.content-banner {
    padding-top: 15vh;
    text-align: left;
    float: left;
    padding-left: 30vh;
    padding-bottom: 18vh;
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

    .content-banner h1 {
        text-align: left;
        line-height: 48px;
        color: white;
        font-size: 40px;
        font-family: system-ui;
        font-weight: 900;
    }

    .content-banner p {
        color: #ddd;
        line-height: 25px;
    }

.content-banner .btn-group-home > a {
    background: #FFD40C;
    border: none;
    text-transform: none;
    font-weight: 100;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 45px;
}

.content-banner .btn-group-home {
    margin-top: 25px;
    text-align: left;
}

.news-page.news-page-1, .news-page.news-page-2 {
    width: 100%;
    padding: 15px;
}

    .news-page.news-page-1 .h-news-img,
    .news-page.news-page-1 .h-news-text {
        width: 49%;
        display: inline-block;
        height: 250px !important;
        float: left;
    }

.h-news-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.news-page2 {
    width: calc(33% - 15px);
    display: inline-block;
    margin-right: 15px;
    margin: 0 15px 0 0 !important;
    float: left;
}
.h-news-img a {
    width: 100%;
    height: 100%;
    background: #0078D7;
    display: inline-block;
    border-radius: 10px;
}

.h-news-text.h-news-text-page1 {
    padding: 0;
    padding-left: 15px;
    background: none;
}

.news-page2 .h-news-text {
    padding: 15px 30px;
    padding-bottom: 20px;
    height: 132px;
    background: none;
    color: black;
    padding: 0;
    padding-top: 15px;
}

    .news-page2 .h-news-text a {
        color: black;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        width: 100%;
    }

.h-news-text h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: inherit;
    height: unset;
}

.h-news-text-page1 p {
    height: 77px;
    margin-bottom: 0;
}

.footer-open {
    color: white;
    padding: 8vh 0 10vh 0px;
    height: 80vh;
}

.i-after-contact font, .i-after-contact a {
    padding-left: 20px !important;
    color: black;
    line-height: 30px;
}

.support-footer {
    display: inline-block;
    width: 100%;
}

    .support-footer > * {
        display: inline-block;
        width: auto !important;
        float: left;
    }

.support-information p {
    display: inline-block
}

.support-information {
    width: 600px !important;
}

.support-footer > .social-media {
}

.social-media i.fa {
    font-size: 20px;
    padding: 5px;
    color: black;
    margin-right: 10px;
}

    .social-media i.fa.fa-facebook:hover {
        color: #3b5998
    }

    .social-media i.fa.fa-twitter:hover {
        color: #00acee
    }

    .social-media i.fa.fa-youtube-play:hover {
        color: #FF0000
    }

.contact-footer {
    margin-top: 30px;
    border-top: 1px solid #ccc;
}

    .contact-footer .contact-infor {
        margin: 10px 0;
        color: black
    }

.social-media {
    float: right;
    margin: 5px 0;
    text-align: right;
    width: auto;
}

.contact-infor a {
    color: black
}

.header-top.active {
    background: var(--op-main-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.nav_login {
    display: flex;
    float: right;
    color: white;
    padding-top: 12px;
}

.nav_login li {
    padding-left: 5px;
}

.nav_login.active a {
    color: white;
    border: none;
}

    .nav_login.active a:hover, .nav_login a:hover {
        border-bottom: 2px solid #FFD40C;
        padding-bottom: 5px;
    }

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border: 1px none #ffffff;
    border-radius: 31px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #3a3a3a;
    }

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-track:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-track:active {
        background: #ffffff;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}

.main-background {
    position: absolute;
    top: 170px;
}

i.fa.fa-clock-o {
    color: var(--op-main-color);
}

.list-tree-customer li {
    width: calc(25% - 25px);
    max-height: 200px;
    height: auto;
    margin: 15px 10px 16px 10px;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    background: white;
    float: left;
}

    .list-tree-customer li img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      
    }
    img[src*="img-onerror"] 
    { object-fit: scale-down;
    }

    .list-tree-customer li:hover {
        /*transform: translateY(-10px);*/
        transition: 0.3s ease-in-out;
    }


.content-page-service {
    background-image: url('../images/open24/IconHomePage/bg-page-services.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 10vh 0;
}

.page-function .card {
    margin: 15px 0;
    /* border: 2px solid #D4EBFF; */
    border-radius: 15px;
    padding: 20px 10px;
    background-color: #e8eef1;
}

    .page-function .card .btn-default:hover {
        transform: translateY(-3px);
        /*box-shadow: 0 14px 28px rgb(0 0 0 / 20%), 0 10px 10px rgb(0 0 0 / 10%);*/
        transition: 0.5s;
        background-color: #2680eb;
        color: white;
        border: none;
    }

.card-body b {
    font-size: 15px;
}

.content-page-reason{
    margin-bottom: 10vh;
}

.content-page-reason .card-body p {
    word-break: break-word;
}
    .content-page-reason .card {
        padding: 20px 10px;
        border: 1px solid #D4EBFF;
        border-radius: 10px;
        text-align: center;
    }

.btn-submit {
    width: 200px;
    height: 45px;
    padding: 5px 20px;
    color: white;
    background: var(--op-main-color);
    line-height: 30px;
    border-radius: 10px;
    float: right;
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.btn-submit:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.menu-main-mobile {
    top: 75px;
    background: var(--op-main-color);
    right: 0px;
    height: 100%;
    transition: width .2s;
    -webkit-transition: width 0.5s;
    z-index: 100;
}

.form-control {
    font-family: Arial, FontAwesome;
}

#box-info-footer {
    padding-top: 7vh;
}

.speed-animation {
    transition-duration: 0.5s !important;
}

.highlight-text {
    color: #FFD40C;
}

.size-text {
    font-size: 55px;
}

@media (min-width: 1200px) and (max-width: 1700px) {
    .tag {
        margin: 0 0 100px 0;
    }
}


@media (min-width: 1700px) {
    .footer-open {
        height: 1300px;
    }

/*    .list-tree-customer li {
        width: calc(13% - 40px);
        padding: 20px 0 0 110px;
    }

        .list-tree-customer li img {
            width: 45%;
        }

    .list-tree-customer {
        width: 100%;
        float: left;
        margin-bottom: 60px;
        margin: 30px 0;
    }*/

    .content-page-customer {
        background: #EDF5FC;
    }

    .h-list-customer .h-title-customer {
        padding-bottom: 0;
    }

    .h-list-news {
        padding-left: 60px;
        padding-right: 60px;
        padding: 60px 0;
    }

    .h-news-text-page1 a {
        color: #333;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .css-1c33qpt {
        z-index: 1030;
        position: fixed;
        right: 2.5rem;
        bottom: 3rem;
        cursor: pointer;
    }

    .list-tree-service ul li .fc-text p {
        font-weight: bold;
        margin-top: 0px;
        font-size: 15px;
    }
}

@media (min-width: 770px) and (max-width: 1025px) {
    .list-tree-service ul li {
        width: 50%;
        height: 200px;
        float: left;
        padding: 15px;
    }

    .list-tree-customer li {
        width: calc(21% - 19px);
        margin: 29px;
    }

    .main-background {
        width: 45%;
    }

    .intro-description {
        text-align: left;
        width: 450px;
        padding-left: 0;
        font-size: 17px;
        display: inline-block;
    }

    .banner-home {
        background-size: contain;
    }

        .banner-home .content-banner {
            padding-left: 30px;
            padding-bottom: 40px;
        }
        
        .banner-home .content-banner h1 {
            font-size: 35px;
        }

    .footer-open {
        height: 35vh;
        padding: 30px 0;
    }

    .btn-dang-ky-ct {
        font-size: 19px;
        padding: 7px 20px;
        line-height: unset;
    }

        .btn-dang-ky-ct:hover {
            color: white;
            background: #f49c1c;
        }

    

    a.click-menu {
        /* height: 50px; */
        /* padding: 17px; */
        margin-top: 11px;
    }

/*    .navbar-login {
        width: unset !important;
        float: right;
    }*/

    #img_line, #img_people {
        display: none;
    }

    .btn_register {
        margin: 2vh 0;
    }

    .tag {
        width: 90%;
    }

        .tag div {
            margin-top: 0px !important;
        }

    .icon-social-network {
        top: 1vh;
        right: 0px;
    }

    #box-info-footer {
        padding: 0 30px;
    }

    .content-page-service {
        background-position-x: -24vh;
    }

    .menu-main li.li-main {
        padding-left: 0px;
    }

    .page-advantages {
        background-size: 20%;
    }
    .box-info {
        height: 18vh
    }
    
}

@media (min-width: 561px) and (max-width: 769px) {
    .banner-home {
        background-size: contain;
    }

    .banner-home .content-banner {
        float: left !important;
        text-align: left;
        padding: 40px;
    }

        .banner-home .content-banner h1 {
            line-height: 40px;
        }

    .btn_register {
        margin: 2vh 0;
    }

    .tag {
        padding: 30px 40px 30px 40px !important;
    }

    #box-info-footer {
        padding: 30px;
    }

    .list-tree-customer li {
        width: calc(30% - 35px);
        margin: 29px;
    }

    .main-background {
        width: 40%;
        right: 40px;
        top: 25vh;
    }

    .content-page-service{
        background-image: none;
    }

    .navbar-login {
        float: right;
        display: block;
    }

    .footer-open {
        padding-top: 5vh;
    }

    .box-info{
        height: 18vh
    }

    .nav_login {
        display: none;
    }

    .page-advantages {
        background-size: 25%;
    }
    .content-page-reason .card{
        padding: 10px 5px;
    }
    .list-info-footer {
        padding: 2vh 0 0 9vh;
    }
}

@media(max-width:560px) {
    .footer-open {
        background: #0078D7;
        height: unset;
    }

    #box-info-footer {
        padding: 40px 0 0 10px !important;
    }

    .icon-social-network {
        position: relative;
        top: 0;
        right: 0;
        padding: 25px 0px;
    }

    .bg-line-text {
        line-height: 40px;
        color: white;
        font-size: 22px;
        margin-top: 0;
    }

    h2.title {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 0px;
        margin-top: 15px;
    }

    .content-banner .btn-group-home > a {
        padding: 10px 20px;
    }

    .list-tree-service ul li {
        width: 100%;
    }

    .banner-home .content-banner h1 {
        text-align: left;
        line-height: unset;
        padding-top: 0;
        color: white;
        font-size: 23px;
    }

    .news-page.news-page-1 .h-news-img, .news-page.news-page-1 .h-news-text {
        width: 100%;
        display: inline-block;
        height: 250px !important;
        float: left;
    }

    .content-page-advantages ul li {
        width: 100% !important;
    }

    .dashed-bottom, .dashed-right {
        border-bottom: none;
        border-right: none;
    }

    .banner-home .content-banner {
        width: 100%;
        padding: 0px 0px 30px 0px;
    }

    #Component_1_1 {
        margin-top: 0 !important
    }

    .intro-description {
        text-align: left;
        width: unset;
        padding-left: unset;
        font-size: 17px;
        display: inline-block;
    }

    .banner-home {
        background-size: contain;
    }

        .banner-home .content-banner h1 {
            padding-top: 0;
            font-size: 20px;
        }

        .content-banner p {
            line-height: 20px;
            margin-top: 10px;
        }

    .trialBtn {
        height: 30px;
        padding: 0px 10px;
        font-size: 13px;
    }



    .main-background {
        display: none
    }

    .list-tree-customer li {
        width: calc(50% - 20px);
        margin: 15px 10px 16px 10px;
    }

    .news-page2 {
        width: calc(100% - 15px);
        display: inline-block;
        margin-right: 15px;
        margin: 0 15px 0 0 !important;
        float: left;
    }

    .slogan-box {
        height: unset;
        background: var(--op-main-color);
    }

        .slogan-box p {
            font-size: 22px;
            text-align: center;
            line-height: 35px;
            padding: 29px 0;
            color: white;
            text-transform: none;
            font-weight: bold;
        }

    .content-page-service {
        background-image: none;
    }

    .logo {
        width: 80px;
    }

    .navbar-login {
        float: right;
        display: block;
        padding-top: 6px;
        font-size: 12px;
    }

    .nav_login {
        display: none;
    }

    .page-function .card-body a {
        margin: 5px 0;
    }

    .page-advantages {
        background-image: none;
    }

    .page-advantages .card {
        text-align: center !important;
    }

    .title-helpfull h2{
        font-size: 25px;
    }

    .title-helpfull p {
        letter-spacing: 0;
        font-size: 14px;
    }
}

.tag {
    background-color: #FFD40C !important;
    padding: 70px 35px 80px 35px;
    border-radius: 10px;
}

    .tag p {
        line-height: 30px
    }

    .tag div {

    }

@media(max-width: 768px) {
    .introduce {
        background-image: none;
    }
}

@media (min-width: 770px) and (max-width: 1025px) {
    .introduce {
        background-position-x: 40vh;
    }
}

/*-------Animation-------*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes hideTitle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



ul.list-tree-customer li a {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 0;
}
.btn-ads.yellow {
    background: #FFD40C
}
._sear-hotro {
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 20px;
    outline: none;
    color: black;
    padding: 10px 30px 10px 20px;
}
.yellow {
    color: #FFD40C
}

.format-circle ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
}

    .format-circle ul li:after {
        content: "\f111";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #777;
        font-size: 6px;
        position: absolute;
        left: 0;
        top: 2px;
    }

.ht-image img {
    width: 80%;
}

.ht-image {
    width: 100%;
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.btn-op-lg {
    text-align: center;
    margin-top: 15px;
    font-weight: normal;
    border: none;
    font-family: "Roboto";
    width: 200px;
    background: #FF7208;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

    .btn-op-lg:hover {
        color: white
    }

.op-functional {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

    .op-functional > li > * {
        margin: 5px 0;
        font-size: 12px;
        color: black;
    }

    .op-functional > li {
        width: 20%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }


.op-functional-img {
    height: 90px;
    width: 90px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 45px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.op-functional-img {
    height: 90px;
    width: 90px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.op-functional-img-lg {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.op-functional-img > img {
    /*  height: 50px;
            width: 50px;*/
}

.op-functional .btn {
    height: 30px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.op-download-helper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

    .op-download-helper > * {
        margin: 5px
    }

    .op-download-helper > img {
        height: 150px;
        object-fit: scale-down;
    }

.op-banner {
    background: var(--color-theme);
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
}
@media (max-width:1024) {
    .op-drop-submenu-ul li > a > div > * {
        color: white !important;
    }
    .op-functional > li {
        width: 33%;
    }
}
@media (max-width:510px){
    .op-functional > li {
        width: 50%;
      
    }
    .op-banner {
        height: 450px;
      
    }
    .title-helpfull {
      
        padding: 30px;
        
    }
}
.op-banner {
    background: var(--color-theme);
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
}
.op-banner > div {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
    .op-banner > div::before {
       content:none;
    }
    .op-banner > div::after {
        content: none;
    }
    .op-banner > div > div {
        height: 100%;
    }
.op-banner-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}
.op-banner-image {
    display: flex;
    align-items: flex-end;
}
.gara-car-img{
    height:450px;
}
.op-price > div {
    margin-bottom: 15px;
}

.ht-tree-tinh-nang {
    width: 100%;
    float: left;
    margin-top: 15px;
}

    .ht-tree-tinh-nang .ht-tree-left {
        width: 300px;
        float: left;
    }

    .ht-tree-tinh-nang .ht-tree-right {
        width: calc(100% - 300px);
        float: left;
        padding-left: 30px;
    }

    .ht-tree-tinh-nang .ht-tree-left ul li a.ht-a-parent {
        width: 100%;
        position: relative;
        float: left;
        padding: 10px;
        background: #e6e7e8;
        padding-right: 30px;
    }

        .ht-tree-tinh-nang .ht-tree-left ul li a.ht-a-parent .ht-title-parent {
            width: 100%;
            float: left;
            color: #111;
            font-size: 16px;
            font-weight: bold;
        }

        .ht-tree-tinh-nang .ht-tree-left ul li a.ht-a-parent i {
            position: absolute;
            top: 12px;
            right: 10px;
            color: var(--main-color);
            font-size: 18px;
        }

    .ht-tree-tinh-nang .ht-tree-left ul li .tree-child {
        padding-left: 10px;
        width: 100%;
        float: left;
        border-left: 1px dotted #e6e7e8;
        display: none;
    }

.tree-child li a {
    width: 100%;
    float: left;
    font-size: 15px;
    color: #555;
    padding-bottom: 10px;
    padding: 6px;
    position: relative;
    padding-left: 10px;
}

    .tree-child li a i {
        position: absolute;
        top: 9px;
        left: -5px;
    }

.ht-tree-tinh-nang .ht-tree-left ul li {
    width: 100%;
    float: left;
}

.tree-child ul li {
    padding-left: 10px;
}

.ht-tree-right h1 {
    font-size: 28px;
    margin-top: 0px;
}

    .ht-tree-right h1 span {
        margin-right: 10px;
        color: var(--main-color);
        font-weight: bold;
    }

    .ht-tree-right h1 i {
        font-size: 24px;
        color: #5ea400
    }

.ht-tree-tinh-nang .ht-tree-left ul li.li-first {
    margin-bottom: 5px;
}

.op-quytrinh {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.op-quytrinh-items {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    border: 1px solid var(--color-theme-2);
    margin: 3px;
    padding: 17px 15px;
    margin-bottom: 15px;
}
    .op-quytrinh-items img {
        height: 75px;
      
    }

    .op-quytrinh-items div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

        .op-quytrinh-items div span {
            margin-bottom: 5px;
            display: inline-block;
            font-weight: bold;
            border: 1px solid #ccc;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            background: black;
            color: white;
            border-color: none;
        }
        @media(max-width:1024px){
            .op-banner-image {
                display: flex;
                align-items: center;
            }
                .op-banner-image > img {
                    height: 282px;
                }
        }
@media(max-width:500px) {
    .op-banner-image {
        display:none
    }
    .op-quytrinh-items {
        width: 100%;
    }
    }