@media(max-width:1920px) {
    .banner-tinh-nang {
        height: 510px;
    }

    .h-news-img {
        height: 407px;
    }
}

@media(max-width:1700px) {
    .banner-tinh-nang {
        height: 422px;
    }

/*    .banner-home {
        height: 690px;
    }*/
}

@media(max-width:1570px) {
}

@media(max-width:1440px) {
    h2.title {
        font-size: 28px;
        line-height: 38px;
    }

    .banner-home .content-banner h1 {
        padding-top: 30px;
    }

    .h-news-img {
        height: 407px;
    }

    .banner-hop-tac {
        height: 480px;
        background-size: 100% 100%;
    }

    .content-hop-tac .btn-group-prd {
        padding-top: 345px;
    }

    .if-video iframe {
        width: 800px;
        height: 450px;
    }

    .banner-home .content-banner h1 {
        padding-right: 0px;
    }

    .banner-home .content-banner {
        /*float: right;*/
        padding: 60px 30px;
    }

    .btn-group-home {
        margin-right: 22px;
    }
}

@media(max-width:1369px) {
    .services-wrap:after {
        width: 113px;
    }

    ul.social {
        margin: 0px;
    }

    h2.title {
        font-size: 24px;
        line-height: 35px;
    }
    .banner-home .content-banner h1 {
        padding-top: 5px;
    }
    .title-247 {
        line-height: 40px !important;
    }
    .content-page-function.kd-ban-le {
        background-size: auto 90%;
    }

    .content-page-function.kd-dac-thu {
        background-size: auto 90%;
    }

    .content-prd-gara h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .content-banner p {
        font-size: 20px;
    }
  
}

@media(max-width:1280px) {
    .services-wrap:after {
        width: 15px;
    }
}

@media(max-width:1025px) {
    .hotro247-image h2 span {
        font-size: 32px;
    }
    .tree-Weakness-new li {
        padding: 40px 15px;
    }

    .line-sup {
        line-height: inherit;
    }

   /* .navbar-login {
        width: 220px;
    }*/

    .navbar-menu {
        width: calc(100% - 345px);
    }

    .menu-main li {
        padding-left: 26px;
    }

    .content-banner h1 {
        font-size: 30px;
        line-height: 45px;
        margin-top: 30px;
    }

    .content-prd-khac font, .content-prd-vvpham font {
        font-size: 35px;
    }

    .content-prd-noithat h1 {
        font-size: 32px;
        line-height: 45px;
        margin-top: 45px;
    }

    .content-banner p {
        font-size: 16px;
    }

    .content-prd-noithat p {
        margin-bottom: 60px;
    }

    span.nhahang-size {
        font-size: 34px;
    }

    .login-inner a, .menu-main li.li-main a {
        font-size: 12px;
    }

    .line-one {
        line-height: 45px !important;
    }

    .menu-main {
        float: left !important;
    }

    .list-introduces {
        padding: 40px 0px;
    }

    .ct-group-dk {
        padding-bottom: 30px;
    }

    .news-page2 .h-news-img {
        height: 163px;
    }

    .h-news-img {
        height: 333px;
    }

    ul.social {
        margin: 0 auto;
    }

    .container-footer {
        padding: 50px 0;
    }

    .list-tree-service ul li {
        min-height: 170px;
    }

    .list-tree-customer li img {
        height: 140px;
    }

    .list-Weakness {
        padding: 0 60px;
    }

    span.tinh-nang-size {
        font-size: 44px;
    }

    .banner-condition-gift {
        height: 450px;
    }

    .banner-hop-tac {
        height: 430px;
    }

    .content-hop-tac .btn-group-prd {
        padding-top: 305px;
    }

    .btn-gioi-thieu {
        font-size: 18px;
    }

    .img-no {
        top: 425px;
    }

        .banner-home .content-banner h1 {
            line-height: 45px;
            padding-top: 20px;
            font-size: 40px;
        }

        .banner-home .content-banner {
            padding: 20px 0px;
        }

            .banner-home .content-banner h1 span {
                font-size: 30px;
            }

            .banner-home .content-banner p span {
                font-size: 16px;
            }

    .bnt-trial {
        padding: 10px 20px;
        font-size: 14px;
    }

    .btn-group-home {
        margin-right: 0px;
        margin-top: 38px;
    }

    .fiften-days p, .fiften-daysa {
        font-size: 15px;
    }
}

@media(max-width:920px) {
    .navbar-menu {
        display: none !important;
    }

/*    .navbar-login {
        width: calc(100% - 125px) !important
    }*/

    .header-top:after {
        margin-top: -2px;
    }
}

@media(max-width:768px) {
    .tree-Weakness-new li {
        width: 50%;
    }

    .list-ban-le li {
        width: 50%;
    }

    .tree-Weakness-gara {
        width: 100%
    }

    .content-banner h1 {
        font-size: 28px;
        line-height: 40px;
        /*margin-top: 45px;*/
    }

    .content-prd-khac font, .content-prd-vvpham font {
        font-size: 32px;
    }

    .content-banner p {
        font-size: 14px;
    }

    .content-prd-noithat h1 {
        font-size: 30px;
        line-height: 40px;
        margin-top: 45px;
    }

        .banner-home .content-banner h1 {
            line-height: 36px;
            padding-top: 0px;
            font-size: 32px;
        }

    .content-banner {
        text-align: center;
        padding-top: 35px;
    }

    .banner-home .content-banner {
        padding: 0px;
    }
    .banner-home .content-banner p span {
    font-size: 13px;
    padding: 8px 10px;
    }
    .btn-dk-home {
        font-size: 14px;
    }
    .banner-home .content-banner h1 span {
        font-size: 24px;
    }
    .btn-group-home {
        margin-top: 30px;
    }

    .bnt-trial {
        padding: 8px 10px;
        font-size: 12px;
    }

    h2.title {
        font-size: 22px;
        line-height: 30px;
    }
    h2.title-247 {
        font-size: 18px;
        line-height: 30px;
    }
    .title-247 strong {
        font-size: 26px;
    }
    .hotro247-r img{
        width:190px;
    }
    
    .page-function {
        padding: 40px 0px;
    }

    .content-page-function.kd-dac-thu {
        background: no-repeat
    }

    .content-page-function.kd-ban-le {
        background: #f1f5f6
    }

    .content-page-function .container {
        padding: 0 30px;
    }

    .list-introduces {
        padding: 40px 40px;
    }

    .tree-reason-op li div {
        font-size: 13px;
        padding-top: 7px;
    }

    .tree-reason-op li img {
        width: 30px;
        float: left;
    }

   

    .list-tree-customer li img {
        height: 90px;
    }

    .news-page-1, .news-page-2 {
        width: 100%;
        margin-bottom: 15px
    }

    .news-page2 {
        width: 49%;
        float: left
    }

        .news-page2:first-child {
            margin-right: 1%;
        }

        .news-page2:last-child {
            margin-left: 1%;
        }

    .h-news-text h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .h-news {
        margin-bottom: 30px;
    }

    .company-text {
        width: 100%;
    }

    .company-share {
        display: none;
    }

    .footer-company:after {
        margin-top: -58px;
    }

    .text-color-two:after {
        margin-left: 40%;
        display: block;
        width: 18%;
    }

    .h-news-img {
        height: 310px;
    }

    .menu-main-mobile {
        display: block
    }

    .click-menu {
        display: block;
    }

    h3.title {
        font-size: 22px;
    }

    .information-ft-col p span {
        width: auto;
        float: none;
    }

    .news-page2 .h-news-img {
        height: 180px;
    }

    .content-prd-gara {
        padding-top: 70px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner-gara-two {
        background: none;
    }

    .list-Weakness {
        padding: 0 60px;
    }

    .tree-function li {
        width: 50%;
    }

    .banner-gara-function {
        background: none
    }

    .pk-body ul {
        margin: 0px;
    }

    .pk-footer {
        padding: 30px 0;
    }

    .gr-dk-left {
        display: none;
    }

    .gr-dk-right {
        width: 100%;
        padding: 30px 0;
    }

    .function-img {
        display: none;
    }

    .news-page2 .h-news-text {
        padding: 15px 15px;
    }

    .services-wrap h2 {
        color: var(--op-main-color);
        font-size: 18px;
    }

    span.tinh-nang-size {
        font-size: 40px;
    }

    .banner-hop-tac {
        height: 256px;
        background-size: 100% auto;
    }

    .btn-gioi-thieu {
        font-size: 16px;
        padding: 10px 20px;
    }

    .content-hop-tac .btn-group-prd {
        padding-top: 180px;
    }

    .if-video {
        padding: 40px 0;
    }

        .if-video iframe {
            width: 600px;
            height: 338px;
        }

    .steps-procedure1, .steps-procedure2, .steps-procedure3 {
        background-size: auto 100%;
    }

    .steps-procedure {
        width: calc(100% - 30px);
    }

    .img-receive img {
        top: -75px;
    }

    .banner-condition-gift {
        height: 440px;
    }

    .list-tree-function li {
        width: 50%;
    }

    .tree-customer li {
        width: 100%;
    }

    .customer-v-search .search-l, .customer-v-search .search-r {
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
    }

        .customer-v-search .search-r .col-50 {
            padding: 0 0 0 10px;
        }

            .customer-v-search .search-r .col-50:first-child {
                padding: 0 10px 0 0;
            }

    .tree-customer li .img {
        height: 150px
    }

    .banner-prof {
        height: 195px;
    }

    .select-tree {
        max-height: 250px;
    }

    .customer-v-search .search-l i {
        right: 15px;
    }

    .dt-cutomer-l, .dt-cutomer-r {
        width: 100%;
        padding: 0 0 60px 0;
    }

    .banner-news {
        height: 152px;
    }
    .title-247 strong {
        font-size: 22px;
    }
    .title-247 {
        line-height: 28px !important;
    }
    .hotro247-image h2 {
        padding: 55px;
    }
    .hotro247-image {
        height: 180px;
    }
        .hotro247-image h2 span {
            font-size: 24px;
        }
        .hotro247-image h2 .lh2 {
            font-size: 38px;
        }
    .content-page-ho-tro247 {
        background-size: auto 100%;
    }

@media(max-width:736px) {
    h3.title {
        font-size: 20px;
    }
}

@media(max-width:667px) {
    .content-banner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .information-ft-col {
        width: 50%;
    }

        .information-ft-col:last-child {
            padding-top: 15px;
        }

    .news-page2 .h-news-img {
        height: 170px;
    }

    .news-page2 .h-news-text {
        padding: 15px 10px;
    }
}

@media(max-width:568px) {
    .banner-news {
        background: url(/Content/images/mobile/banner-news-mobile.jpg) no-repeat bottom center;
        background-size: 100% 100%;
        height: 250px;
    }

    .page-tree-news li .img {
        width: 110px !important;
        height: 80px !important;
    }

    .page-tree-news li .news-content-title {
        width: calc(100% - 110px) !important
    }

    .title-label {
        font-size: 18px;
        padding-bottom: 5px;
        line-height: 25px;
        margin: 0px;
    }

    .tree-service .tree-li {
        width: 100%;
    }

    .if-video iframe {
        width: 370px;
        height: 208px;
    }

    #notfound .notfound {
        padding: 30px;
        position: relative;
    }

    .list-gift-receive {
        width: 100%;
    }

    .img-receive img {
        display: none;
    }

    .fb-page iframe, .fb_iframe_widget_fluid span {
        width: 100% !important;
    }

    .notfound h2 {
        font-size: 24px;
    }

    .notfound p {
        font-size: 14px;
    }
    .hotro247-l {
        width: 100%;
        float: left;
    }
    .hotro247-r{
        display:none;
    }
    h2.title-247 {
        font-size: 18px;
        line-height: 28px;
        text-transform: none;
    }

    .ct-group-dk {
        text-align: center;
    }
}

@media(max-width:415px) {
    .tree-service .tree-li .fl .text {
        padding-left: 15px;
    }
    .tree-Weakness-new li {
        width: 100%;
    }

    .pk-body ul li {
        padding: 15px;
    }

    span.tinh-nang-size {
        font-size: 32px;
    }

    .content-prd-pkham h1 font, .content-prd-dochoi h1 font, .content-prd-nongsan h1 font {
        font-size: 26px;
    }

    .content-prd {
        width: 100%;
    }

    .border-bot-center:after {
        margin-left: 30%;
    }

    .list-useful {
        width: 100%;
        float: right;
    }

    .banner-tinh-nang {
        height: 330px;
    }

    .mobile-none {
        display: none;
    }

    .content-prd-gara {
        width: 100%
    }

    .Package {
        width: 100%;
        border: 1px solid #ccc;
        margin-bottom: 15px;
    }

    .h-news-img {
        height: 220px;
    }

    .list-tree-service ul li {
        min-height: auto;
        width: 100%;
    }

    .list-tree-function li {
        width: 100%;
        float: left;
        padding: 0px 5px 30px 0px;
    }

    .content-banner p {
        font-size: 14px;
        margin-top: 0px;
    }
    
    .login-inner a.login-dang-ky {
        display: none;
    }

    h2.title {
        font-size: 20px;
        line-height: 30px;
    }

    .list-introduces span {
        font-size: 15px;
    }

    .list-introduces {
        padding: 30px 10px;
    }

    .btn-dang-ky-ct {
        line-height: 50px;
        font-size: 18px;
    }

    .list-tree-customer li {
        width: 44%;
        margin: 3%;
        padding: 10px
    }

    .h-list-news {
        padding-left: 0px;
        padding-right: 0px;
    }

    .news-page2 .h-news-img {
        height: 170px;
    }

    .news-page2 {
        width: 100%;
        float: left;
    }

    .h-news-text-page1 p {
        display: none;
    }

    .news-host {
        top: 80%;
        left: 2%;
    }

    .h-news-text {
        padding: 15px 30px;
    }

    .group-input-contact {
        width: auto;
        padding: 0 30px;
    }

    .image-ft {
        width: 100%;
        float: left
    }

    .information-ft-col {
        width: 100%;
        float: left;
        margin-top: 15px;
    }

    .footer-company:after {
        margin-top: -77px;
    }

    .information-ft {
        width: 100%;
    }

    .information-ft-col label {
        padding-bottom: 0px;
    }

    .information-ft-col p span {
        width: auto;
    }

    .btn-dang-ky-ct {
        line-height: 50px;
        font-size: 14px;
    }

    .content-page-for:before {
        left: 46%
    }

    .content-more:before {
        left: 46%
    }

    .content-page-contact {
        background-size: auto 100%;
    }

    .content-page-support {
        background-size: auto 100%;
    }

    h3.title {
        font-size: 20px;
    }

    .news-page2 .h-news-text {
        padding: 15px 30px
    }

    .bnt-trial {
        padding: 8px 20px;
    }

    .btn-group-home a.video {
        padding-right: 20px;
    }

    ._web {
        display: none;
    }
    ._mobile {
        display: block;
    }
    .btn-group-home {
        margin-top: 25px;
    }

    .bnt-trial {
        font-size: 12px;
    }

    .list-tree-customer li img {
        height: 75px;
    }

    .information-ft-col:last-child {
        padding-top: 0px
    }

    .line-br {
        width: auto;
        float: none
    }

    .list-readson h2.title span {
        color: white;
        font-size: 20px;
    }

    .text-color-two:after {
        margin-left: 34%;
        display: block;
        width: 30%;
        margin-top: 10px;
    }

    .tree-function li {
        width: 100%;
    }

    .banner-gara-function {
        background: none;
    }

    .banner-gara-two {
        background: none;
    }

    .tree-service li, .tree-service2 li {
        width: 100%;
    }

    .gr-dk-right {
        width: 100%;
        padding: 30px 0;
    }

    .title-dang-ky {
        font-size: 22px;
    }

    .list-Weakness {
        padding: 0 30px;
    }

    .tree-Weakness li {
        line-height: 30px;
        padding-bottom: 15px;
    }

    .footer-open {
        background: #1f252f;
        height: auto;
        padding: 30px 0;
    }
    .container-footer .col-xs-12 {
        margin-bottom: 15px;
    }
    .container-footer {
        padding: 0px
    }

    .content-banner {
        text-align: right;
    }

    .content-prd h1 {
        margin-top: 0px;
        font-size: 26px;
    }

    .content-prd p {
        margin-bottom: 40px;
        font-size: 22px;
        display: block;
    }

    .content-prd-spa-mobile h1 span {
        color: var(--op-main-color)
    }

    .banner-prd-spa {
        background: url('../images/open24/BannerNN/op-mobile-spa.jpg') no-repeat top center;
    }

    .content-prd-web {
        display: none;
    }

    .content-prd-mobile {
        display: block;
    }

    .banner-prd-salon {
        background: url('../images/open24/BannerNN/op-mobile-salon.jpg') no-repeat top center;
    }

    .banner-prd-dochoi {
        background: url('../images/open24/BannerNN/op-mobile-do-choi.jpg') no-repeat top center;
    }

    .banner-prd-thoitrang {
        background: url('../images/open24/BannerNN/op-mobile-thoi-trang.jpg') no-repeat top center;
    }

    .content-banner {
        padding-top: 25px;
    }

    .content-prd-mobile-thoi-trang p {
        margin-bottom: 25px;
    }

    .content-prd-mobile-phong-kham p {
        margin-bottom: 25px;
    }

    .content-prd-mobile-vvp p {
        margin-bottom: 25px;
    }

    .content-prd-mobile-vvp h1 font {
        font-size: 32px;
    }

    .banner-prd-nongsan {
        background: url('../images/open24/BannerNN/op-mobile-nong-san.jpg') no-repeat top center;
    }

    .content-prd-mobile-nong-san p, .content-prd-mobile-nha-thuoc p {
        margin-bottom: 25px;
    }

    .content-prd-mobile-nong-san h1 font, .content-prd-mobile-phong-kham h1 font {
        font-size: 34px;
    }

    .content-prd-mobile-phong-kham h1 {
        line-height: 40px !important;
    }

    .banner-prd-nhathuoc {
        background: url('../images/open24/BannerNN/op-mobile-nha-thuoc.jpg') no-repeat top center;
    }

    .banner-prd-sieuthi {
        background: url('../images/open24/BannerNN/op-mobile-sieu-thi.jpg') no-repeat top center;
    }

    .banner-prd-pkham {
        background: url('../images/open24/BannerNN/op-mobile-phong-kham.jpg') no-repeat top center;
    }

    .banner-prd-nhahang {
        background: url('../images/open24/BannerNN/op-mobile-nha-hang.jpg') no-repeat top center;
    }

    .banner-prd-mypham {
        background: url('../images/open24/BannerNN/op-mobile-my-pham.jpg') no-repeat top center;
    }

    .banner-prd-noithat {
        background: url('../images/open24/BannerNN/op-mobile-noi-that.jpg') no-repeat top center;
    }

    .banner-prd-vvpham {
        background: url('../images/open24/BannerNN/op-mobile-van-phong-pham.jpg') no-repeat top center;
    }

    .banner-prd-gara {
        background: url('../images/open24/BannerNN/op-mobile-gara.jpg') no-repeat top center;
    }

    .btn-dang-ky-ct {
        padding: 10px;
    }

    .content-prd-mobile-gara h1 span {
        font-size: 28px;
    }

    .banner-prd-khac {
        background: url('../images/open24/BannerNN/op-mobile-linh-vuc-khac.jpg') no-repeat top center;
    }

    .content-prd-khac {
        text-align: center;
    }

        .content-prd-khac font {
            font-size: 28px;
        }

        .content-prd-khac p {
            margin-bottom: 20px;
        }

    .banner-home .content-banner {
        padding: 0 10px 35px 10px;
        width: 100%;
        float: left;
    }

        .banner-home .content-banner h1 {
            font-size: 30px;
            margin-top: 10px;
            line-height: 34px;
            color: #333;
            margin-bottom: 0px;
            text-shadow: none;
        }
            .banner-home .content-banner h1 strong {
                color: white
            }
            /*.banner-home .content-banner h1 span {
                font-size: 24px;
            }*/
    .btn-group-home {
        margin-top: 50px;
    }

        .btn-group-home a.video i {
            font-size: 60px;
            width: 58px;
            height: 58px;
            line-height: 60px;
            margin-top: 10px;
        }

    .tree-service .tree-li {
        padding: 30px 0;
    }

    .content-prd-mobile-spa h1 span {
        font-size: 38px;
        color: #006b91
    }

    .if-video iframe {
        width: 370px;
        height: 208px;
    }

    .if-video p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .img-receive img {
        display: none;
    }

    .list-gift-receive {
        width: 100%;
    }

    .h1-cach-nhan {
        font-size: 26px;
    }

    .banner-condition-gift {
        height: 435px;
    }

    .btn-tham-gia-ngay {
        font-size: 18px;
        padding: 10px 20px;
    }

        .btn-tham-gia-ngay i {
            font-size: 22px;
        }

    .banner-hop-tac {
        background: url('../images/open24/BannerNN/op-mobile-hop-tac.jpg') no-repeat top center;
        height: 330px;
        background-size: auto 100%;
    }

    .content-hop-tac .btn-group-prd {
        padding-top: 120px;
        text-align: center;
        padding-left: 170px;
    }

    .btn-gioi-thieu {
        padding: 7px 15px;
        font-size: 14px;
    }

    .btn-tham-gia-ngay {
        padding: 15px 30px;
    }


    .list-ban-le li {
        height: 165px;
        padding: 0px 5px;
    }

    .search-r .col-50 {
        width: 100%;
        padding: 0px !important;
        margin-bottom: 10px;
    }

    .tree-customer li .img {
        width: 110px;
        height: auto;
    }

    .tree-customer li .ct-title {
        width: calc(100% - 110px);
    }

    .ct-title h2 {
        font-size: 16px;
    }

    .tree-customer li {
        padding: 15px 5px;
    }

    .ct-title span {
        font-size: 13px;
    }

    .customer-v-search {
        padding: 30px 0 0 0;
    }

    .banner-customer {
        background: url(../images/\khachhang/banner-mobile-khachhang.jpg)no-repeat top center;
        background-size: 100%;
    }

    .banner-prof {
        height: 270px;
    }

    .gr-trial {
        line-height: 30px;
        font-size: 18px;
    }


    .bnt-news1 a {
        padding: 13px 30px;
        font-size: 15px;
    }

    .tree-customer li .img img {
        height: 80px;
    }

    .summary-detailnews {
        padding-top: 0px;
    }

    .title-label {
        font-size: 16px;
        padding-bottom: 0px;
        line-height: 22px;
        margin: 0px;
    }

    .nhahang-size font,
    .content-prd-nongsan h1 font span,
    .content-prd-noithat h1 span,
    .content-prd-spa h1 span,
    .content-prd-spa p span,
    .content-prd-thoitrang h1 font span,
    .content-prd-dochoi p font,
    .content-prd-gara p font,
    .content-prd-ptung h1 span,
    .content-prd-ptung p font {
        width: 100%;
        float: left;
    }

    .content-prd-gara h1 span {
        font-size: 34px;
    }

    .content-prd-nong-san h1 font, .content-prd-phong-kham h1 font {
        font-size: 34px;
    }

    .content-prd-noithat h1 strong,
    .content-prd-noithat p,
    .content-prd-spa p span {
        color: #333 !important;
    }

    .content-prd-spa p, .content-prd-spa p span {
        font-size: 22px !important;
        font-weight: 400;
        color: #333 !important;
    }

    .content-prd-noithat h1 {
        color: var(--op-main-color) !important;
    }

    .content-prd-spa h1 font {
        color: var(--op-main-color) !important;
        font-size: 38px;
    }
    .title-247 strong {
        font-size: 24px;
    }

    h2.title-247 {
        font-size: 18px;
        text-transform: none;
        padding: 15px;
        line-height: 30px !important;
    }
    .ct-group-dk {
        text-align: center;
    }
}


@media(max-width:375px) {
    .tree-service .tree-li .fl .text {
        padding-left: 5px;
    }
    .banner-prof {
        height: 250px;
    }

    .btn-gioi-thieu {
        padding: 7px 15px;
        font-size: 14px;
        margin: 0px !important;
    }

    .content-hop-tac .btn-group-prd {
        padding-left: 130px;
    }

    .news-host {
        top: 70%;
        left: 2%;
    }

    .content-page-for:before {
        left: 45%
    }

    .content-more:before {
        left: 45%
    }

    h3.title {
        font-size: 18px;
        line-height: 26px;
    }

    h2.title {
        font-size: 19px;
    }

    .list-readson h2.title span {
        color: white;
        font-size: 20px;
    }

    .list-introduces {
        padding: 30px 0px;
    }

    .news-page2 .h-news-img {
        height: 170px;
    }

    .h-news-text {
        padding: 15px 20px;
    }

    .bnt-trial {
        padding: 8px 11px;
        font-size: 12px;
        margin-right: 20px;
    }

    .content-banner h1 {
        font-size: 24px;
    }

    .content-prd p {
        font-size: 18px;
    }

   

    .if-video iframe {
        width: 320px;
        height: 180px;
    }

    .btn-group-home {
        margin-right: 0px;
        margin-top: 30px;
    }

    .title-label {
        font-size: 15px;
    }
    .title-247 strong {
        font-size: 22px;
    }

    h2.title-247 {
        font-size: 18px;
        padding: 0px;
    }
    .ct-group-dk {
        padding: 30px 0px;
    }
    .btn-dang-ky-ct {
        font-size: 13px;
    }
    .banner-home .content-banner p span{
        font-size:12px;
    }
    .list-introduces span {
        font-size: 14px;
    }
    .css-1c33qpt{
        bottom: 0.6rem;
    }

    #toTop {
        bottom: 80px;
    }
}


@media(max-width:320px) {
    .banner-home .content-banner {
        padding: 25px 0px;
    }
    .banner-home .content-banner p span {
        font-size: 11px;
    }
    .title-247 strong {
        font-size: 20px;
    }
    .notfound .notfound-404 h1 {
        font-size: 125px;
    }

    #notfound .notfound {
        padding: 15px;
    }

    .notfound h2 {
        font-size: 22px;
    }

    .notfound p {
        font-size: 13px;
    }

    .title-label {
        font-size: 14px;
    }

    .tree-customer li .img {
        width: 100px;
        height: auto;
    }

    .tree-customer li .ct-title {
        width: calc(100% - 100px);
    }

    .fiften-days p, .fiften-daysa {
        font-size: 13px;
    }

    .bnt-news1 a {
        padding: 10px 20px;
        font-size: 13px;
    }

    .h-news-img {
        height: 170px;
    }

    .list-tree-customer li img {
        height: 60px;
    }

    .list-tree-customer li {
        width: 44%;
        margin: 3%;
    }

    .news-page2 .h-news-img {
        height: 140px;
    }

    .h-news-text, .news-page2 .h-news-text {
        padding: 15px 15px;
    }

    .list-introduces {
        padding: 30px 0px;
    }

    .btn-group-home a.video {
        display: none;
    }

    .bnt-trial {
        margin-left: 0px;
    }

    .btn-group-home {
        margin-top: 60px;
    }

    .banner-home .content-banner h1 {
        font-size: 26px;
        line-height: 30px;
    }

    .bnt-trial {
        font-size: 11px;
        margin-right: 10px;
    }

    .list-ban-le li {
        width: 100%;
        height: auto !important;
        padding: 20px 0 !important;
    }
}
