@media(max-width:1920px) {
    .banner {
        background: url(/Content/images/home/banner-home-20190420.jpg) no-repeat top center;
        background-size: 100%;
        height: 830px;
        margin-top: 65px;
        position: relative;
    }

    .h1-title-home {
        margin-top: 215px;
        line-height: 65px !important;
        text-align: right;
        position: absolute;
        right: -212px;
        font-size: 48px !important;
        font-weight: bold;
        font-family: sans-serif;
        color: #fed696 !important;
    }

    .btn-baner-web {
        padding: 15px 30px 15px 30px;
        background: #d1891b !important;
        position: absolute;
        width: 390px;
        border-radius: 60px;
        text-align: center;
        font-size: 22px !important;
        bottom: 75px;
        right: -207px;
        border: 1px solid;
      
    }
    .banner .bnt-use {
        bottom: 240px;
    }
}

@media(max-width:1700px) {
    .banner {
        background: url(/Content/images/home/banner-home-20190420.jpg) no-repeat bottom center;
        background-size: 100%;
        height: 720px;
        margin-top: 50px;
        position: relative;
    }
    .h1-title-home {
        margin-top: 215px;
        line-height: 50px !important;
        text-align: right;
        position: absolute;
        right: -80px;
        font-size: 40px !important;
        font-weight: bold;
        font-family: sans-serif;
        color: #fed696 !important;
    }
    .btn-baner-web {
        padding: 15px 30px 15px 30px;
        background: #d1891b !important;
        position: absolute;
        width: 340px;
        border-radius: 60px;
        text-align: center;
        font-size: 21px !important;
        bottom: 75px;
        right: -82px;
        border: 1px solid;
    }
    .banner .bnt-use {
        bottom: 8px;
    }
    .banner-contract {
        height: 900px;
    }
    .banner-home {
        height: 792px;
    }

    .banner-name {
        padding-top: 50px;
        padding-left: 272px;
    }
    .bnt-contract {
        bottom: 303px;
        right: 350px;
        font-size: 24px;
    }
    .banner-tinhnang-mobile
    {
      height:0px;
    }
    /*.navbar-menu {
        width: calc(100% - 360px);
        float: left;
    }

    .navbar-login {
        width: 230px;
        float: right;
    }

    .menu-main li {
        float: left;
        padding-left: 15px;
        line-height: 65px;
        height: 65px;
    }*/
 
}

@media(max-width:1600px) {
    .banner-name {
        padding-top: 50px;
    }
    .des-tn {
        margin-right: 52px;
    }
     
    .des-tnright {
        margin-left: 52px;
    }
    .feature-right {
        padding-left: 30px;
    }
    .tinhnang-right {
        width: 45%;
    }
    .item-feature {
        margin-top: 50px;
    }
    .imgcontac, .service {
        height: 300px;
    }
    .contract-footer {
        height: 340px;
    }
    .cachthuc {
        padding-top: 69px;
    }
    .bnt-contract {
        bottom: 262px;
        right: 340px;
        font-size: 22px;
    }
    .banner-contract {
        height: 800px;
    }
    .banner-tn, .imgcustomer, .banner-news {
        height: 300px;
    }
    .content-banner {
        padding-left: 60px;
        padding-top: 28px;
    }
    .banner-name {
        padding-top: 55px;
    }
    
    .banner-home {
        height: 766px;
    }

    .weareone {
        height: 346px;
        padding-top: 0px;
    }
    .weareone-text{
        padding-top:72px
    } .imgcustomer-detail h3 {
        padding-top: 35px;
    }

    .banner img {
        width: 100%;
        left: 0px;
    }
    .banner {
        margin-top: 35px;
    }
    .banner-name {
        padding-left: 288px;
    }
    .imgcontac h3 {
        padding-top: 50px;
    }
        .imgcontac p, .imgcontac h3 {
        /*padding-left: 156px;*/
        font-size: 43px;
    }
            .imgcontac h3 font {
                font-size: 40px;
            }
    .btn-baner-web {
        bottom: 188px !important
    }
}

@media(max-width:1570px) {
 
    .feature-right {
        padding-left: 30px;
    }
    .item-feature {
        margin-top: 50px;
    }
    .banner-contract {
        height: 790px;
    }
    .tinhnang-right {
        width: 53%;
    }
    .weareone {
        height: 321px;
    }

    .banner-home {
        height: 712px;
    }

}

@media(max-width:1440px) {
    .h1-title-home {
        margin-top: 175px;
        right: -18px;
        font-size: 38px !important;
        font-weight: bold;
    }

        .filter-header-ho-tro {
        padding-top: 40px;
    }

    .content-banner h1 {
        font-size: 30px;
    }
    .open24-tinh-nang .bnt-use {
        font-size: 18px;
    }
    .dung-thu-tinh-nang {
        top: 145px;
        left: 777px;
    }
    .posrela img {
        right: -10px;
    }
    .imgcontac h3 font, .imgcontac h3  {
        font-size: 34px;
    }
    .imgcontac p span {
        font-size: 35px;
    }
        .service h1 {
        padding-top: 95px;
        padding-left: 80px;
        line-height: 40px;
        font-size: 44px;
    }
    .btn-dung-thu {
        top: 1020px;
    }
    .service .dung-thu {
        padding-left: 315px;
    }


    .des-tn img {
        height: 300px;
    }
    .des-tn {
        margin-right: 45px;
    }

    .des-tnright {
        margin-left: 50px;
    }
    .item-feature {
        margin-top: 50px;
    }
    .feature-right {
        padding-left: 80px;
    }
    .tinhnang-right {
        width: 48%;
    }
    .banner {
        margin-top: 55px;
    }
    .contract-footer {
        height: 301px;
    }
    .cachthuc {
        padding-top: 52px;
    }
    .bnt-contract {
        bottom: 190px;
        right: 282px;
        font-size: 18px;
    }
    .banner-contract {
        height: 620px;
    }
    .content-banner h1 font {
        font-size: 32px;
        line-height: 40px;
    }
    .banner-tn {
        height: 255px;
        padding-top: 23px;
    }
    .banner-name {
        padding-top: 70px;
    }
    .imgcontac, .imgcustomer, .banner-news, .service {
        height: 255px;
    }
        .imgcontac h3 {
            padding-top: 30px;
        }
        .imgcontac p, .imgcontac h3 {
            padding-left: 10px;
        }
    .content-banner {
        padding-left: 40px;
        padding-top: 10px;
    }

   

    .bnt-use {
        font-size: 13px;
    }

    .banner-home {
        height: 560px;
    }

    .weareone {
        height: 292px;
    }

    .weareone-text {
        padding-top: 72px;
    }

    .banner-news h3 {
        padding-top: 35px;
    }



    .imgcustomer h1 {
        padding-top: 27px;
    }

    .success {
        height: 569px;
    }

    .banner-name {
        padding-left: 343px;
    }

    .banner {
        height: 632px;
        margin-top: 23px;
    }

    .banner-home h1 {
        font-size: 22px;
        line-height: 17px;
    }
    .banner-name-tet {
        padding-top: 55px;
    }
        .banner-name-tet .op-tet {
            font-size: 36px;
            padding-bottom: 5px;
        }
    .gallery-slideshow {
        width: 100% !important;
        height: 605px !important;
    }
    ul.gallery-slideshow li img {
        position: absolute;
        width: 100%;
        height: auto;
    }
    .btn-baner-1 {
        top: 500px;
        font-size: 18px !important;
    }
    .btn-baner-2 {
        top: 515px;
        font-size: 18px !important;
    }
    .btn-baner-web {
        bottom: 170px !important;
        right: -14px;
        width: 305px;
        font-size: 18px !important;
    }

    }

@media(max-width:1369px) {
   
    .form-dk-dung-thu-v1 {
        margin-top: 15px;
    }

    .dk-op-b1 h1, .dk-op-b2 h1 {
        margin-bottom: 30px;
    }

    .banner-name-tet h1 span {
        font-size: 20px;
    }

    .banner-name-tet .op-tet {
        font-size: 32px;
        padding-bottom: 0px;
    }

    .banner-name-tet h1 {
        line-height: 15px;
    }

    .banner-ho-tro-phan-mem {
        height: 300px;
    }

    .filter-header-ho-tro {
        padding-top: 35px;
    }

    .gallery-slideshow {
        width: 100% !important;
        height: 558px !important;
    }

    ul.gallery-slideshow li img {
        height: 560px;
    }

    .btn-baner-2 {
        top: 466px;
        font-size: 18px !important;
        right: 125px;
    }

    .btn-baner-1 {
        top: 460px;
        font-size: 18px !important;
        right: 140px;
    }

    .btn-baner-web {
        bottom: 160px !important;
        right: 24px;
        width: 275px;
        font-size: 16px !important;
    }
    .h1-title-home {
        margin-top: 195px !important;
        right: 15px !important;
    }

    .banner {
        margin-top: 25px;
    }
}
@media(max-width:1280px) {

    .banner {
        margin-top: 5px;
        height: 615px;
    }
    .bnt-contract {
        bottom: 195px;
        right: 248px;
    }
    .imgcontac p, .imgcontac h3 {
        padding-left: 44px;
    }
    .posrela img {
        left: -35px;
    }
    .btn-baner-web {
        bottom: 165px !important;
        right: 40px;
        width: 280px;
    }
    .h1-title-home {
        margin-top: 205px !important;
        right: 50px !important;
        font-size: 34px !important;
        font-weight: bold;
    }
 
}


@media(max-width:1025px) {
    .header-top:after {
        margin-top: 0px;
    }
    .h1-title-home {
        margin-top: 130px !important;
        right: 83px !important;
        font-size: 28px !important;
        font-weight: bold;
        line-height: 35px !important;
    }
    ul.gallery-slideshow li img {
        height: auto
    }
    .gallery-slideshow {
        width: 100% !important;
        height: 435px !important;
    }
    .btn-baner-1 {
        top: 360px;
        font-size: 16px !important;
        right: 110px;
    }
    .btn-baner-2 {
        top: 370px;
        font-size: 16px !important;
        right: 95px;
    }
    .filter-header-ho-tro {
        padding-top: 15px;
    }
    .filter-header-ho-tro h3{
        font-size:16px;
    }
        .filter-header-ho-tro h3 span, .filter-header-ho-tro h3  i{
            font-size: 22px;
        }
    .banner-ho-tro-phan-mem {
        height: 230px;
    }
    .filter-header-ho-tro {
        width: 600px;
    }
        .filter-header-ho-tro h1 {
            font-size: 34px;
        }
    .banner-ho-tro-phan-mem {
        background-size: 100% 100%;
    }
    .group-btn-vai-tro .ht-btn-vai-tro {
        margin-left: 24px;
        margin-right: 24px;
    }
    .ht-btn-pm-ht {
        width: 300px;
    }
    .banner-name-tet {
        padding-top: 20px;
        padding-left: 430px;
    }
        .banner-name-tet h1 span {
       font-size:20px;
        }
        .banner-name-tet .op-tet {
            font-size: 28px;
            padding-bottom: 0px;
            line-height: 0px;
        }

    .open24-tinh-nang .bnt-use {
        line-height: 20px;
        font-size: 14px;
    }
    .dung-thu-tinh-nang {
        top: 90px;
        left: 585px;
    }
        .posrela img {
        display: none;
    }
    .dklogin {
        display: none;
    }
    .btn-dung-thu {
        margin-left: 22px;
    }
    .sale-service h3 {
        margin-left: 46px;
    }
    .service h1 {
        padding-top: 75px;
        line-height: 25px;
        padding-left: 105px;
        font-size: 35px;
    }
    .service .dung-thu {
        padding-left: 300px;
    }
    .bnt-contract {
        bottom: 190px;
        right: 200px;
        font-size: 16px;
        padding: 10px 20px;
    }
    .banner {
        margin-top: 50px;
    }
    .w50-left, .w50-right {
        width: 45%;
    }
    .bcc li, .bought-acc ul li {
        width: 21.8%;
    }
    .content-banner h1 font {
        font-size: 26px;
    }
    .imgcontac h3 {
        margin-bottom: 0px;
        padding-top: 32px;
    }
    .imgcontac p, .imgcontac h3 {
        padding-left: 30px;
    }
    .imgcontac p span a {
        font-size: 35px;
    }
    .imgcontac {
        height: 255px;
    }
    .banner-tn {
        height: 160px;
        padding-top:0px;
    }

    .content-banner {
        padding-top: 1px;
        padding-left: 30px;
    }
        .content-banner h1 {
            font-size: 22px;
            padding-bottom: 0px;
            line-height: 20px;
        }

    .bnt-place {
        padding-top: 48px;
    }

    .img-demo img {
        width: 100%;
    }

    .banner-home {
        height: 486px;
    }

    .title-soft {
        left: 151px;
    }

    .banner-home h1 {
        line-height: 42px;
    }

    .bnt-use {
        padding: 7px 9px;
        font-size: 13px;
    }

    .use-trick {
        margin-top: 13px;
    }

    .view-add {
        padding-top: 0px;
    }

    .banner {
        height: 455px;
    }

    .banner-name {
        padding-left:250px;
        padding-top: 33px;
    }
    .banner-contract {
        height: 569px;
    }
    .btn-baner-web {
        bottom: 120px !important;
        right: 85px;
        width: 210px;
        font-size: 13px !important;
    }

    .btn-baner-web {
        padding: 10px 15px;
    }
}



@media(max-width:920px) {
    .btn-baner-web {
        padding: 8px 10px;
        width: 185px;
    }
    .service h1 {
        font-size: 28px;
        padding-left: 83px;
    }

    .service .dung-thu {
        padding-left: 245px;
    }
    .btn-chuyen-nghiep {
        margin-top: 1140px;
    }
    .btn-tieu-chuan {
        margin-top: 570px;
    }
    .sale-service h3 {
        margin-left: 280px;
    }

    .next-sp {
        margin-bottom: 50px;
    }

    .btn-dung-thu {
        left: 240px;
    }
    .titile-footer {
        margin-top: 50px;
    }
    .banner-contract {
        height: 507px;
    }
    .bnt-contract {
        bottom: 170px;
        right: 195px;
        padding: 7px 14px;
    }
    .bnt-contract1 a {
        font-size: 20px;
    }
    .bcc li, .bought-acc ul li {
        width: 28.8%;
    }
    .imgcontac p span a {
        font-size: 25px;
    }
    .imgcontac p, .imgcontac h3 {
        padding-left: 192px;
    }
    .imgcontac h3 {
        padding-top: 19px;
    }
    .imgcontac {
        height: 169px;
    }
    .banner-tn {
        height: 120px;
    }
    .content-banner h1 {
        font-size: 18px;
        line-height: 10px;
        margin-bottom: 0px;
    }
    .content-banner {
        padding-left: 30px;
        padding-top: 6px;
    }
    .open24-tinh-nang .bnt-use {
        line-height: 20px;
        font-size: 11px;
    }
            .content-banner h1 font {
                font-size: 20px;
            }
    .banner-name {
        padding-top: 26px;
        position: absolute;
        padding-left: 238px;
    }

       

    .banner-name p {
        font-size: 12px;
    }

    .use-trick {
        margin-top: 12px;
    }

    .banner h1 {
        font-size: 20px;
        line-height: 26px;
    }



    .inner-service .use2 a {
        padding: 9px 11px;
    }

    .posrela1 .left-banner img {
        width: auto;
    }

    .content-contract .bnt-contract1, .inggt, .step-by img, .dog, .imgdestc {
        display: none;
    }

    .imgipadtc {
        display: block;
    }

    .start-sp {
        width: 35%;
    }

    .next-sp {
        width: 100%;
        margin-left: 0px;
    }

    .next-sp1 {
        margin-top: 20px;
        width: 100%;
        margin-left: 0px;
    }

    .menu-main li {
        padding-left: 20px;
    }

    .use-trick {
        padding-right: 0px;
    }

    .bnt-use {
        font-size: 12px;
    }

    .item-one {
        height: 112px;
    }

    .list-icon-name h3 {
        font-size: 12px;
    }
    .btn-baner-web {
        bottom: 24px !important;
        right: 90px;
        width: 200px;
        font-size: 13px !important;
    }
}

@media(max-width:768px) {
    .h1-title-home {
        margin-top: 95px !important;
        right: 62px !important;
        font-size: 20px !important;
        font-weight: bold;
        line-height: 28px !important;
    }
    .btn-baner-1 {
        top: 265px;
        font-size: 12px !important;
        right: 80px;
    }

    .btn-baner-2 {
        top: 275px;
        font-size: 12px !important;
        right: 75px;
    }
    .gallery-slideshow {
        width: 100% !important;
        height: 325px !important;
    }
    .filter-header-ho-tro h3 span, .filter-header-ho-tro h3 i {
        font-size: 20px;
    }
    .filter-header-ho-tro h1 {
        font-size: 28px;
    }
    .filter-header-ho-tro {
        width: 520px;
    }
    .ht-tree-tinh-nang .ht-tree-left {
        width: 220px;
    }
    .ht-tree-tinh-nang .ht-tree-right {
        width: calc(100% - 220px);
    }
    .banner-ho-tro-phan-mem{
        background-size:100% 100%;
    }
    .group-btn-vai-tro .ht-btn-vai-tro {
        margin-left: 8px;
        margin-right: 8px;
        width: 130px;
    }
    .ht-btn-pm-ht {
        width: 215px;
        height: 150px;
    }
        .ht-btn-pm-ht .img {
            width: 85px;
            float: left;
        }
        .ht-btn-pm-ht .img img {
           width:100%
        }
        .ht-btn-pm-ht .ht-pm-tt {
            width: calc(100% - 85px);
            float: right;
            padding: 5px 15px 15px 5px;
        }
    .banner-name-tet {
        padding-top: 18px;
        padding-left: 320px;
    }
        .banner-name-tet h1 span {
            font-size: 20px;
        }
        .banner-name-tet h1 {
            line-height: 15px !important
        }
        .banner-name-tet p {
           display:none;
        }
        .banner-name-tet .view-add {
            padding-top: 14px;
        }
    .drop-nganh-nghe .dropdown-menu {
        left: -350px;
    }
    .content-news-article {
        width: calc(100% - 285px);
        float: left;
    }
    .dung-thu-tinh-nang {
        left: 435px;
        top: 70px;
    }
    .btn-chuyen-nghiep {
        margin-top: 1063px;
    }
    .icon-tinh-nang-paper span {
        font-size: 36px;
        top: 28px;
    }
    .des-tn .icon-tinh-nang-paper, .des-tnright .icon-tinh-nang-paper {
        top: -8px;
    }
      .btn-tieu-chuan {
        margin-top: 492px;
    }
    .des-tn .icon-tinh-nang-paper {
        left: 40px;
    }
    .btn-tiet-kiem {
        margin-top: -77px;
    }
    .next-sp
    {
        margin-bottom:50px;
    }
    .btn-dung-thu {
        left: 220px;
    }
    
    .sale-service h3 {
        margin-left: 257px;
    }
    .titile-footer {
        margin-top: 0px;
    }
    .banner h1 {
        font-size: 20px;
        line-height: 15px;
    }
    .contacform .form-group {
        width: 100%;
    }
    .banner-contract {
        height: 400px;
    }
    .bnt-contract {
        font-size: 13px;
        padding: 8px 16px;
        bottom: 125px;
        right: 152px;
    }
    .bnt-contract1 a {
        font-size: 15px;
    }
    .contract-footer {
        height: 219px;
         background-size:auto; 
    }
    .cachthuc {
        padding-top: 38px;
        font-size: 22px;
    }
    .contract-footer .bnt-contract1 {
        margin: 32px 0px 80px 0px;
    }
    .contract-footer p {
        margin-bottom: 5px;
        font-size: 12px;
    }
    .banner-news {
        height: 148px;
    }
    .detail-slide, .modal-lgm {
        width: 100%;
    }
    .seach-zoom img {
        height: 23px;
        width: 23px!important;
        padding-top:0px!important;
    }.banner-news h3 {
        padding-top: 20px;
    }
    .connection {
        padding-bottom: 30px;
    }

    .banner {
        height: 340px;
        margin-top: 57px;
    }

    .banner-name {
        padding-top: 6px !important;
        padding-left: 216px !important;
    }

    .business-fields h2 {
        padding-top: 0px;
    }

    .reason {
        padding-top: 10px;
    }

    .list-reason {
        padding-bottom: 10px;
    }

    .news-three .item-news {
        height: auto;
        padding-bottom: 20px;
    }

    .introduce {
        height: 180px;
    }

        .introduce h3 {
            padding-top: 64px;
            padding-left: 25px;
        }

    .img-top-introduce {
        padding-bottom: 30px;
    }

    .step-by, .img-bottom, .right-ssuesss, .w360 {
        display: none;
    }
    .content-contract p {
        padding-bottom: 10px;
    }
    .successfully {
        width: 100%;
    }
    .step-bymobile {
        display: block;
        margin-bottom:20px;
    }
        .step-bymobile .fl{
            padding-bottom:10px;
        }.title-tg {
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 15px;
        } .feature-right {
        padding-left: 0px;
        width: 100%;
    }

    .right0 {
        right: 31px !important;
    }

    .w50-left.text-center img {
        width: 100%;
        padding-top: 20px;
    }

    .inner-service .use2 a {
        padding: 9px 18px;
    }

    .service p {
        padding-left: 20px;
    }

    .imgpadnh {
        display: block;
    }

    .imgcustomer .img-iptc {
        display: block;
    }

    .posrela1 .left-banner img {
        left: 30px;
    }

    .content-reason {
        width: 100%;
        margin-left: 0px;
        height: 60px;
        padding: 30px;
    }

    .mr10 {
        margin: 10px 0px;
    }

    .ml10 {
        margin-left: 0px;
    }

    .sale-service ul {
        padding: 0px 15px;
    }

    .weareone-text {
        font-size: 26px;
        padding-top: 0px;
    }

    .imgcustomer {
        /*background: url('../Content/images/khachhang/khpiad.jpg') no-repeat top center;*/
        height: 157px;
    }

        .imgcustomer h1 {
            padding-top: 38px;
            line-height: 26px;
            font-size: 21px;
            padding-left: 20px;
        }

    .weareone {
        padding-top: 41px;
        /*background: url('../images/Iconngay12.5/ipadd.jpg') no-repeat top center;*/
        height: 232px;
    }

    .menu-news {
        background: #61a8d1;
        height: 175px;
    }

    .service {
        /*background: url('../images/phidv/ipad.jpg') no-repeat top center;*/
        height: 157px;
    }

        .service h1 {
            padding-top: 66px;
            padding-left: 85px;
            font-size: 24px;
            line-height: 5px;
        }
        .service .dung-thu {
            padding-left: 200px;
        }
        .service p i {
            font-size: 14px;
        }

    .inner-service h2 {
        font-size: 27px;
        line-height: 53px;
    }

    .menu-news h3 {
        font-size: 29px;
        padding-top: 45px;
        padding-left: 20px;
    }

    .imgcontac h3 {
        font-size: 16px;
        color: black;
        line-height: 40px;
        width: 304px;
        padding-left: 20px;
        padding-top: 0px;
    }
    .video-left{
        width:100%;
    }
    .video-right {
        width: 100%;
    }
    .contacform .form-group {
        padding: 0px 20px;
    }
    .contacform {
      height:auto;
    }
    .imgcontac p {
        font-size: 13px;
        padding-left: 20px;
    }
    .imgcontac h3 font {
        font-size: 29px;
        font-weight: bold;
    }
        .imgcontac p span {
            font-size: 25px;
        }

    ._2p3a {
        min-width: 100% !important;
    }

    .title-regis {
        padding: 30px 30px 30px 30px;
    }

    .img-regis img {
        width: 100%;
    }

    .bg-fuzzy {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(34,34,34,.3);
        z-index: 10;
        height: 100%;
        display: none;
    }

    .click-menu {
        display: block;
        float: right;
        color: #999;
        font-size: 21px;
        width: 53px;
        text-align: center;
        line-height: 65px;
    }

    .menu-main {
        position: fixed;
        top: 65px;
        background: var(--main-color);
        right: 0px;
        height: 100%;
        transition: width .2s;
        -webkit-transition: width .2s;
        visibility: hidden;
        width: 0px !important;
        z-index: 20;
    }

        .menu-main ul li {
            width: 100%;
            border-bottom: 1px dashed rgba(255,255,255,.35);
            line-height: 47px;
            padding-left: 0px;
        }

            .menu-main ul li:last-child {
                border-bottom: none;
            }

            .menu-main ul li a {
                color: white;
                padding-left:30px;
            }
    .ul-children {
        display: block;
        background: #0aaee0 !important;
        position: unset;
        width:100%;
        float:left;
    }
        .ul-children li.undore a {
            border-bottom:none !important;
            text-decoration: none !important;
        }

     .ul-children li{
         border:none !important;
     }
    .menu-main ul li .fa-caret-down {
        display: block !important;
        float: right;
        margin-top: -30px;
        color: white;
        margin-right: 15px;
        font-size: 16px;
    }
    .visi {
        visibility: visible;
        transition: width .2s;
        -webkit-transition: width .2s;
        width: 50% !important;
    }

    .regis-left {
        float: left;
        width: 50%;
    }

    .regis-right {
        width: 50%;
    }

    .menu-main li {
        padding-left: 11px;
        font-size: 15px;
    }

    .item-icon ul li {
        width: 25%;
    }

    .banner h3 {
        display: none;
    }

    .item-icon ul li {
        padding: 10px;
    }

    .news-right {
        padding-left: 0px;
    }


    .use-trick {
        padding-top: 0px;
    }

    .view-add {
        padding-top: 0px;
    }

        .view-add a {
            font-size: 13px;
        }

    .dog3 {
        display: block;
        right: 41px !important;
        left: auto !important;
    }

    .bnt-place {
        padding-top: 35px;
    }

    .title-feature {
        padding: 30px 0px;
    }

    .item-feature {
        margin-bottom: 25px;
    }

    .feature {
        height: 221px;
    }

        .feature h3 {
            padding-top: 59px;
        }

    .pdingtop85 {
        padding-top: 41px;
    }

    .sale-service .use2 {
        padding: 21px 0px 45px 0px;
    }

    .add-stort {
        padding-top: 0px;
    }

    .item-newsright {
        padding-bottom: 10px;
    }

    .contac-address {
        padding-top: 30px;
    }

    .item-news {
        padding: 4px 0px;
        width: 100%;
    }

    .item-news {
        padding: 8px 0px;
    }

    .content-provision {
        padding-top: 25px;
    }

    .footer {
        padding-top: 35px;
        height: auto;
    }

    .login-inner {
        right: 74px;
    }
    .des-tnright .icon-tinh-nang-paper {
        right: 30px;
    }
    .btn-baner-web {
        bottom: 90px !important;
        right: 55px;
        width: 170px !important;
        font-size: 11px !important;
    }
    .btn-baner-web {
        width: 180px;
    }
    .menu-main li.li-main a{
        color:white;
    }
    .menu-main ul li {
        width: 100%;
        border-bottom: 1px dashed rgba(255,255,255,.35);
        line-height: 47px;
        padding-left: 0px;
    }
    .menu-main-mobile {
        display: block;
    }
    .menu-main-mobile ul li {
        padding-left:0px !important;

    }
        .menu-main-mobile ul li .ul-children-mobile {
            background: #0aaee0 !important;
            padding:0 15px;
        }
}

@media(max-width:750px) {
    .banner {
        height: 325px;
        margin-top: 57px;
    }
    .gallery-slideshow {
        width: 100% !important;
        height: 315px !important;
    }

    .btn-baner-1 {
        top: 250px;
        font-size: 12px !important;
        right: 80px;
    }

    .btn-baner-2 {
        top: 260px;
        font-size: 12px !important;
        right: 55px;
    }
   
    .btn-chuyen-nghiep {
        margin-top: 1012px;
    }
    .btn-tieu-chuan {
        margin-top: 442px;
    }
    .btn-tiet-kiem {
        margin-top: -127px;
    }
    .titile-footer {
        margin-top: 8px;
    }
    .banner-news h3 {
        padding-top: 13px;
        font-size: 33px;
        line-height: 32px;
    }
        .banner-news h3 font {
            font-size: 39px;
        }
    .banner-news {
        height: 139px;
    }
    .contentnews {
        padding: 20px 0 70px 0;
    }
    .banner-name {
        padding-top: 9px !important;
        padding-left: 217px !important;
    }

    .list-icon-img {
        height: 53px;
    }

    .list-icon {
        height: auto;
    }

    #modalContainer_NhomHHDV {
        height: 100%;
    }

        #modalContainer_NhomHHDV .modal-content {
            overflow-y: auto;
            height: 100%;
        }

    .modal-dialog {
        position: relative;
        margin: 0px !important;
        width: 100% !important;
    }

    .font12 input[type=checkbox]:after {
        width: 16px;
        height: 16px;
    }

    .font12 input[type=checkbox]:checked:after {
        font-size: 11px;
        line-height: 14px;
    }
}

@media(max-width:736px) {
    .h1-title-home {
        margin-top: 90px !important;
    }

        .btn-baner-web {
        bottom: 90px !important;
        right: 50px;
        font-size: 10px !important;
    }
    .banner {
        height: 325px;
        margin-top: 57px;
    }
    .sale-service h3 {
        margin-left: 203px;
    }
    .btn-dung-thu {
        left: 167px;
    }
    .service .dung-thu {
        padding-left: 179px;
    }
    .service h1 {
        padding-left: 62px;
    }
    .titile-footer {
        margin-top: 8px;
    }
    .bnt-contract {
        bottom: 131px;
        right: 152px;
    }
    .img-iptcc {
        display: block;
    }

    .dog3 {
        display: none;
    }

    .posrela1 .left-banner img {
        right: 14px !important;
        left: auto;
    }

    .imgipadtc {
        display: none;
    }

    .img-iptc {
        display: block;
    }

    .list-icon-img {
        height: 53px;
    }

    .list-icon {
        height: auto;
    }

    #modalContainer_NhomHHDV .modal-content {
        overflow-y: auto;
    }

    .modal-dialog {
        position: relative;
        margin: 0px !important;
        width: 100% !important;
    }
}
@media (max-width: 667px) {
    .h1-title-home {
    margin-top: 110px !important;
    right: 54px !important;
}
    .banner {
        height: 328px;
        margin-top: 26px;
    }
    .btn-baner-web {
        bottom: 80px !important;
        right: 45px;
        width: 155px !important;
        font-size: 10px !important;
    }
    .banner-name-tet {
        padding-top: 33px;
        padding-left: 270px;
    }
    .gallery-slideshow {
        width: 100% !important;
        height: 287px !important;
    }
    .btn-baner-1 {
        top: 225px;
        font-size: 12px !important;
        right: 80px;
    }
    .btn-baner-2 {
        top: 240px;
        font-size: 12px !important;
        right: 55px;
    }
}
@media(max-width:568px){
    .h1-title-home {
        margin-top: 102px !important;
        right: 47px !important;
        line-height: 22px !important;
        font-size: 16px !important;
    }
    .btn-baner-web {
        bottom: 67px !important;
        right: 40px;
        width: 130px !important;
        font-size: 8px !important;
    }
    .banner {
        height: 285px !important;
        margin-top: 27px !important;
    }
}
@media(max-width:530px) {
    .btn-ho-tro a span
    {
        padding-left:10px;
    }
    .navbar-login {
        width: calc(100% - 125px) !important;
    }

    .login-inner a.login-dang-ky
    {
        display:none;
    }
    .slider-banner-mobile {
        display: block;
        width: 100% !important;
        height: 300px !important;
    }
    .slider-banner-web {
        display: none;
    }
    .btn-baner-2 {
        top: 245px;
        font-size: 12px !important;
        right: 14px;
    }
    .btn-baner-1 {
        top: 180px;
        font-size: 12px !important;
        right: 40px;
    }
    .group-btn-vai-tro .ht-btn-vai-tro {
        width: 120px;
    }
    .filter-header-ho-tro .input-filter i {
        top: 10px;
    }

    .filter-header-ho-tro .input-filter input {
        height: 40px !important;
    }
    .filter-header-ho-tro {
        padding-top: 24px;
    }
    .filter-header-ho-tro {
        width: 380px;
    }
        .filter-header-ho-tro h1 {
            font-size: 22px;
        }
    .dk-tt-left{
        width:100%;

    }
    .dk-group-btn {
        /*margin-bottom: 30px;*/
        margin-top:0px;
    }
    .form-dk-dung-thu-v1 {
        margin-top: 0px;
    }
    .dk-progress {
        margin-top: 10px;
        height: 10px;
        margin-bottom: 0px;
    }
    .dk-tt-right{
        display:none;
    }
   
    .logo-dk-op {
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .dk-op-b1 h1, .dk-op-b2 h1 {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .form-dk-phone, .form-dk-email, .form-dk-tk, .form-dk-mk {
        width: 100%;
        padding: 0px;
    }
    .ht-link {
        font-size: 18px;
    }
        .ht-link a i {
            font-size: 20px;
            color: var(--main-color);
        }
        .ht-link span {
            padding-left: 30px;
        }
    .ht-filter-tree {
        display: block;
    }
    .ht-tree-tinh-nang .ht-tree-left {
        width: 100%;
        z-index: 99999;
        background: white;
        margin-bottom: 15px;
        display: none;
    }
    .ht-tree-tinh-nang .ht-tree-right {
        width: 100%;
        padding-left:0px;
    }
    .btn-ho-tro-dang-ky{
        margin-right:5px;
    }
    .btn-ho-tro-gioi-thieu {
        margin-left: 5px;
    }
    .btn-ho-tro {
        width: 186px;
    }
    .group-btn-vai-tro .ht-btn-vai-tro {
        margin-left: 20px;
        margin-right: 20px;
        width: 150px;
    }
    .group-btn-cau-hoi{
        width:100%;
        float:left
    }
    .ht-btn-pm-ht {
        width: 90%;
        height: 150px;
    }
        .ht-btn-pm-ht .img {
            width: 120px;
        }
        .ht-btn-pm-ht .ht-pm-tt {
            width: calc(100% - 120px);
            float: right;
            padding: 5px 30px 15px 15px;
        }
    .banner-name-tet
    {
        display:none;
    }
    .banner-name{
        display:block;
    }
    .dang-ky-center {
        width: 388px;
    }

    .form-input-dk p {
        font-size: 12px;
    }

    .dk-title-input {
        font-size: 14px !important;
    }

    .drop-nganh-nghe .dropdown-menu {
        left: -338px;
        width: 368px;
    }
    .imgcustomer {
        background: url(../images/\khachhang/banner-mobile-khachhang.jpg)no-repeat top center;
        background-size: 100%;
    }

    .banner-tinhnang {
        background: none !important;
        background-size: 100% 100%;
    }

    .banner-tinhnang-mobile {
        background-size: 100% 100% !important;
        width: 100%;
        height: 100%;
    }

    .titile-footer {
        margin-top: 10px;
    }

    .titile-footer-text {
        margin-top: -90px;
        font-size: 19px;
    }

    .left-supper, .right-supper, .seach-ht, .left-adress, .right-adress {
        width: 100%;
        padding-left: 0px;
    }

    .infor-detail .nav > li > a {
        padding: 5px 7px;
    }

    .video-left img {
        width: 100%;
    }

    .cart-product {
        float: left;
        padding-left: 0px;
    }

    .des-tnright img {
        height: auto;
        width: 100%;
    }

    .w50-left {
        border-bottom: none;
    }

    .tinhnang-left {
        padding: 0px 10px 0px 10px;
    }

    .banner-contract {
        background: url('../images/gioithieu/ht5.jpg') no-repeat center;
        height: 382px;
        background-size: 100%;
    }

    .bnt-contract {
        font-size: 12px;
        bottom: 107px;
        right: 35px;
    }

    .contract-footer {
        background: url('../images/gioithieu/ht6.jpg') no-repeat center;
        background-size: 100%;
        height: 335px;
    }

    .content-detailnews img {
        width: 100% !important;
        height: 100% !important;
    }

    .quantily {
        min-width: 100px;
        width: 100px;
    }

    .open24-tinh-nang .bnt-use {
        line-height: 40px;
    }

    .content-banner {
        padding-left: 30px !important;
        padding-top: 24px;
    }

        .content-banner .bnt-use {
            font-size: 16px;
        }

    .order-bill {
        padding: 20px;
    }

    .bought-right {
        width: 343px;
    }

    .bought-acc ul li, .bcc li {
        width: 100%;
        margin-right: 0px;
        padding: 0px;
    }

    .oder-right, .oder-left, .choose-provin, .infor-inputleft, .menu-right, .total-all {
        width: 100%;
        margin-right: 0px;
        border-right: none;
        padding: 0px;
    }

    .device-img {
        height: 317px;
    }

    .seach-product {
        width: 289px;
    }

    .img-detail-product {
        width: 100%;
        margin: auto;
    }

    .listimg-detail li {
        width: 20%;
    }

    .information-b {
        padding-left: 0px;
    }

    .seach-zoom, .menu-left {
        display: none;
    }

    .bought-add {
        margin-top: 30px;
    }

    .table-reponsive {
        width: 100%;
        position: static;
        overflow: auto;
    }

    .cart-product {
        padding-top: 20px;
    }

    .seach-product i {
        top: 16px;
    }

    .seach-product {
        padding-top: 10px;
    }

    .cart-product span {
        top: 15px;
    }

    .login-left, .login-right {
        width: 100%;
        padding: 0px;
    }

        .phone-ht, .login-right:after {
            display: none;
        }

    .imgcontac p, .imgcontac h3 {
        padding-left: 205px;
    }

    .banner {
        background: url(/Content/images/mobile.jpg) no-repeat bottom center;
    }

    .title-news-right a, .item-news-top .title-news-right a {
        font-size: 13px;
        overflow: hidden;
        line-height: 15px;
        padding-bottom: 8px;
        color: black !important;
    }

    .item-news-top .title-news-right a {
        color: black;
    }

    .title-news-rightmb {
        display: block !important;
    }

    .item-news-top .title-news-right a, .time-news, .content-news-right {
        font-size: 14px !important;
    }

    .img-news, .item-news-top .img-news {
        text-align: center;
        width: 121px;
        height: 87px;
    }

    .item-news-top .title-news-right {
        display: none;
    }

    .title-news-right {
        line-height: 17px;
    }

    .banner-news h3 {
        padding-right: 50px;
    }

    .banner-news {
        background: url(/Content/images/mobile/banner-news-mobile.jpg) no-repeat bottom center;
        background-size: 100%;
        height: 275px;
    }

    .regis-left {
        display: none;
    }

    .col5r, .col5l, #register, .regis-right {
        padding: 0px;
        width: 100%;
        height: 100%;
    }

        .regis-right li {
            width: 33.33%;
        }

        .regis-right .item-one {
            height: 91px;
        }

    .imgtc-mobil {
        display: block;
    }

    .title-reason {
        padding-bottom: 0px;
    }

        .title-reason .title-reason {
            padding-bottom: 10px;
        }

    .feature {
        height: 240px;
    }

    .news-three .item-news {
        padding-bottom: 15px;
    }

    .imgtc-ds, .dklogin, .des-tn {
        display: none;
    }

    .mobile-tn {
        display: block;
    }

    .introduce {
        height: 253px;
    }

        .introduce h3 {
            padding-top: 49px;
            padding-left: 3px;
            font-size: 32px;
        }

    .img-top-introduce img {
        width: 100%;
    }

    .title-introduce {
        padding-top: 37px;
        padding-bottom: 27px;
        font-size: 21px;
        line-height: 34px;
    }

    .img-introduce {
        padding-top: 10px;
    }

    .posrela1 .left-banner img {
        right: 30px !important;
    }

    .banner-name {
        /*padding-top: 30px !important;*/
        padding-left: 43px !important;
    }

    .dog2 {
        display: block;
        left: 41px !important;
    }

    .feature h3 {
        font-size: 31px;
        padding: 6px 0px 0px 15px;
    }

    .w50-left, .w50-right {
        width: 100%;
        margin-left: 0px;
    }

    .item-feature {
        margin: 30px 0px;
        border-bottom: 1px dotted #ccc;
    }

    .imgcontac h3 {
        padding-top: 40px;
        line-height: 26px;
        font-size: 17px;
    }

    .imgcontac {
        background: url('../images/khachhang/hotromb.png')no-repeat top center;
        height: 300px;
    }

    .service h1 {
        padding-top: 40px;
        font-size: 26px;
        line-height: 43px;
    }

    .service p i {
        font-size: 15px;
    }

    .imgcustomer h1 {
        padding-top: 28px;
    }

    .banner {
        height: 340px;
    }


        .banner h1 {
            padding-left: 0px;
            font-size: 16px;
            margin: 0px;
            line-height: 30px;
        }
        .banner h1.h1-title-home {
            text-align: left;
            margin-top: 40px !important;
            font-size: 26px !important;
            padding-left: 25px;
            line-height: 30px !important;
        }

    .banner-name p {
        font-size: 12px;
    }

    .slide-img, .banner-name p {
        /*display: none;*/
    }

    .view-add img {
        width: 25px;
        height: 25px;
    }

    .img-reason {
        margin-top: 20px;
    }

    .sale-service ul li span {
        float: right;
        width: 100%;
    }

    .next-sp, .start-sp {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }

    .sale-service ul li {
        border-bottom: none;
    }

    .content-reason {
        width: auto;
        margin-left: 0px;
        height: 82px;
    }

    .bnt-use {
        font-size: 12px;
        padding: 8px 18px;
    }

    #u_0_0 {
        width: 100% !important;
    }

    .menu-news h3 {
        font-size: 29px;
        padding-top: 30px;
        line-height: 41px;
        font-size: 28px;
        padding-left: 33px;
    }

    .modal-header h2 {
        font-size: 19px;
    }

    .menu-news img {
        right: 17%;
    }

    .menu-news h3 span {
        width: 100%;
        float: left;
    }

    .imgcontac p span, .imgcontac h3 span {
        width: 100%;
        float: left;
    }

        .imgcontac p span font {
            font-size: 18px;
            font-weight: bold;
        }

    .service .imgpadnh {
        right: 27px !important;
    }

    .title-feature {
        padding: 30px 0px 0px;
    }

    .name-reason {
        margin-top: 23px;
    }

    .banner-tn {
        background-size: 100% 100% !important;
        height: 375px !important;
    }

    .footer {
        padding-top: 0px;
    }

    .connection {
        padding-bottom: 120px;
    }

    .title-footer {
        padding-top: 15px;
    }

    .content-banner h1 font {
        font-size: 22px;
    }

    .content-banner h1 {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 0px;
    }

    .news-text {
        padding-left: 0px;
    }

    .name-customer h3 {
        font-size:16px;
    }
    .customer-right {
        padding-left: 140px ;
    }
    .mobile-btn-dk{
        display:block;
    }
    .window-btn-dk{
        display:none;
    }
    .wait-res-news {
        padding-top: 65% !important;
        padding-left: 30% !important;
    }
    .btn-baner-web {
        bottom: 58px !important;
        right: 38px;
        width: 180px !important;
        font-size: 12px !important;
    }
  
}

@media(max-width:415px) {
    .banner {
        height: 340px !important;
        margin-top: 49px !important;
    }
    #tawkchat-container iframe html {
        display: none !important;
    }
    .banner-name-tet {
        display: none;
    }

    .banner-name {
        display: block;
    }
    .content-news-article {
        width: calc(100% - 135px);
    }
    .mobile-tn .icon-tinh-nang-paper {
        left: 20px;
    }
    .des-tnright .icon-tinh-nang-paper {
        right: 20px;
    }
    .sale-service ul li
    {
        padding-left:20px !important;
    }
        .sale-service ul li:before
        {
            left:0px !important;
        }
        .sale-service h3 {
            margin-left: 80px;
            margin-top: -18px !important;
            font-size: 16px !important;
        }
    .bg1 p {
        font-size: 20px;
    }
    .btn-tiet-kiem {
        margin-top: 57px;
    }
    .btn-tieu-chuan {
        margin-top: 647px;
    }
    .btn-chuyen-nghiep {
        margin-top: 1240px;
    }
    .imgcustomer {
        background: url(../images/\khachhang/banner-mobile-khachhang.jpg)no-repeat top center;
        background-size: 100%;
    }
    .banner {
        background: url(/Content/images/home/banner-home-mobile-20190420.jpg) no-repeat bottom center;
        background-size: 100% 95%;
    }
    .banner-name {
        padding-top: 55px !important;
        padding-left: 43px !important;
    }
    .titile-footer {
        margin-top: 10px;
    }
    .titile-footer-text {
        margin-top: -90px;
        font-size: 19px;
    }
    .banner-contract {
        height: 324px;
        background-size:auto;
    }

    .bnt-contract {
        font-size: 12px;
        bottom: 107px;
        right: 35px;
    }

    .contract-footer {
        background-size: auto;
        height: 307px;
    }
    .menu-news h3 {
        padding-left: 41px;
    }

    .feature img {
        right: 10px;
    }

    .menu-news img {
        right: 13.8%;
    }

    .view-add a {
        font-size: 13px;
    }

    .jssora12, .jssora13 {
        display: none !important;
    }

    .uiGrid _51mz {
        width: 100% !important;
    }

    .provision h3 {
        font-size: 33px;
    }

    .customer-left {
        text-align: center;
        margin-bottom: 20px;
        width: 121px;
        height: 87px;
        margin-right: 15px;
    }

    .list-icon-img {
        height: 48px;
    }

    .content-customer {
        padding: 0px 0px 10px 0px;
        height: auto
    }

    .name-customer h3 {
        padding: 0px 0px 5px 0px;
    }

    .item-customer {
        padding-top: 20px;
    }

    .list-icon-img {
        padding-top: 4px;
    }

    .sale-service h3 {
        font-size: 23px;
    }

    .border-right {
        border: 1px solid white;
    }

    .inner-service h2 {
        top: -22px;
        line-height: 48px;
        font-size: 23px;
    }

    .sale-service h3 {
        margin-top: 0px;
    }

    .item-icon {
        padding-top: 10px;
    }

    .sale-service ul {
        padding: 0px 45px;
    }

    .bought-item {
        border-bottom: 1px solid #ccc;
    }

    .bnt-use2, .use2 a {
        padding: 10px 20px;
        font-size: 15px;
    }

    .imgcustomer {
        /*background: url('../images/Iconngay12.5/Iphonee-24.jpg')no-repeat top center;*/
        height: 251px;
    }

    .imgcontac {
        background: url('../images/khachhang/hotromb.png')no-repeat top center;
        height: 300px;
    }
        .imgcontac p, .imgcontac h3 {
            padding-left: 171px;
        }
    .list-customer {
        padding-top: 25px;
    }
    .imgcontac h3 {
        padding-top: 39px;
    }

    .service {
        background: url('../images/mobile/banner-service-mobile.jpg')no-repeat top center;
        height: 251px;
        background-size:100%;
    }
        .service .text-service-mobile {
            display:none;
        }
        .service .text-service-mobile1 {
            display: block;
        }
        .service .text-service-mobile2 {
            display: block;
            font-size: 45px;
        }
        .service h1 {
            padding-left: 45px;
            line-height: 35px;
            padding-top: 25px;
        }
        .service .dung-thu {
            padding-left: 45px;
            padding-top: 15px;
        }
            .service .dung-thu .bnt-use {
                font-size: 12px;
                padding: 6px 13px;
            }
    .menu-news {
        height: 230px;
    }

    .title-news {
    }

    .menu-news h3 {
        font-size: 28px;
    }

    .menu-news {
        background-size: auto;
    }

    .business-fields h2 {
        font-size: 22px;
    }

    .use-trick {
        padding-top: 0px;
        margin-top: 10px;
    }

    .bnt-use {
        font-size: 14px;
        padding: 7px 10px;
    }


    .news-left .nav-tabs li {
        width: 100%;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: none;
        border-bottom: 2px solid #32b7b3;
    }

    .fb-page span iframe, .fb-page span, .fb-page, .fb-comments, .fb-comments span, .fb-comments iframe {
        width: 100% !important;
        position: relative;
    }

    .title-item {
        height: auto;
        line-height: 20px;
        padding-bottom: 8px;
    }

    .footer-infor {
        padding: 10px 0px 0px 0px;
    }

    .title-connect {
        padding-bottom: 9px;
    }

    .regis-left, .banner h3 {
        display: none;
    }

    .bg-fuzzy {
        display: none;
    }

    .visi {
        width: 100% !important;
    }

    .item-icon ul li {
        width: 50%;
    }

    .regis-right {
        width: 100%;
        padding: 15px;
    }

    .content-newsright {
        padding: 30px 10px 0px 10px;
    }

    .weareone-text {
        font-size: 20px;
    }

    .bnt-place {
        padding-top: 25px;
    }

    .weareone {
        height: 232px;
        padding-top: 45px;
    }

    .footer {
        height: auto;
        padding-bottom: 20px;
    }

    .footer-detail-content {
        padding-bottom: 10px;
        float: left;
        width: 100%;
    }

    .news-img {
        text-align: center;
        width: 121px;
        height: 87px;
    }

    .contac-left .form-wrap {
        width: 100%;
    }

    .contac-extend ul {
        padding-left: 0px;
    }

    .fb_iframe_widget_fluid span, .fb_iframe_widget_fluid span iframe, ._2p3a {
        width: 100% !important;
    }

    .title-item-text a {
        font-size: 14px;
    }

    .item-one {
        height: 132px;
    }

    .customer h2 {
        font-size: 20px;
    }

    .view-map a, .send-contact {
        font-size: 19px;
    }

    .imgcontac p span {
        font-size: 13px;
    }

    .contac-left {
        padding-top: 10px;
    }

    .logotrch {
        left: 20px;
    }
    .banner-news{
        height:275px;
    }
    .btn-dung-thu {
        left: 45px;
    }
    .banner .bnt-use {
        bottom: 8px;
    }
    .view-add {
        padding-left: 60px;
        padding-top: 0px;
    }
}

@media (max-width: 375px) {
    .banner h1.h1-title-home {
        text-align: left;
        margin-top: 35px !important;
        font-size: 23px !important;
        padding-left: 25px;
        line-height: 28px !important;
    }
    .btn-baner-web {
        bottom: 50px !important;
        font-size: 11px !important;
        right: 27px !important;
    }
    .filter-header-ho-tro {
        width: 355px;
    }
        .filter-header-ho-tro h3 {
            font-size: 14px;
        }
            .filter-header-ho-tro h3 span, .filter-header-ho-tro h3 i {
                font-size: 18px;
            }
    .slider-banner-mobile {
        width: 100% !important;
        height: 275px !important;
    }
    .btn-baner-2 {
        top: 218px;
        font-size: 10px !important;
        right: 14px;
    }
    .btn-baner-1 {
        top: 160px;
        font-size: 10px !important;
        right: 32px;
    }
    .filter-header-ho-tro {
        padding-top: 12px;
    }
    .dk-op-b1 h1, .dk-op-b2 h1 {
        font-size: 14px;
    }
    .group-btn-vai-tro .ht-btn-vai-tro {
        width: 120px;
    }
    .group-btn-ho-tro {
        width: 100%;
        float: left;
        margin: 0 auto;
    }
    .btn-ho-tro {
        width: 200px;
        margin-bottom: 10px;
        /* margin: 0 auto; */
        margin-left: 70px;
    }
    .banner-name p{
        display:none;
    }
    .banner-name-tet {
        display: none;
    }

    .banner-name {
        display: block;
    }
    .dang-ky-center {
        width: 320px;
    }
    .form-input-dk p{
        font-size:12px;
    }
    .dk-title-input {
        font-size: 14px !important;
    }
    .drop-nganh-nghe .dropdown-menu {
        width: 300px;
        left: -270px;
    }
    .text-top{
        font-size:13px;
    }
    .banner-tn {
        height: 355px !important;
    }
    .loginres {
        padding: 5px 12px;
    }
    .content-banner {
        padding-left: 148px;
    }
    .sale-service h3 {
        margin-left: 62px;
    }
    .btn-dung-thu {
        left: 32px;
    }
    .service h1 {
        padding-left: 30px;
    }

    .service .dung-thu {
        padding-left: 30px;
    }
    .banner-news {
        height: 250px;
    }
    .imgcustomer {
        background: url(../images/\khachhang/banner-mobile-khachhang.jpg)no-repeat top center;
        background-size: 100%;
    }
    .banner .bnt-use {
        bottom: 7px;
        right: 35px;
    }
    .titile-footer {
        margin-top: 10px;
    }
    .titile-footer-text {
        margin-top: -90px;
        font-size: 19px;
    }
    .imgcontac p, .imgcontac h3 {
        padding-left: 140px;
    }
    .banner {
        height: 305px !important;
    }
    .title-footer-open24{
        display:none;
    }
    .title-header-open24 {
        display: inline-block;
    }
    .weareone {
        padding-top: 27px;
    }
    .view-add {
        padding-top: 5px;
        padding-left: 50px;
    }
    .inner-service h2 {
        top: -22px;
        line-height: 40px;
        font-size: 18px;
    }

    .service h1 {
        font-size: 21px;
    }

    .business-fields h2 {
        font-size: 22px;
    }

  

    .item-one {
        height: 134px;
    }

    .open-news .title, .customer h2 {
        padding: 23px;
        font-size: 25px;
    }

    .bnt-use2 {
        padding: 13px 26px;
        font-size: 18px;
    }

    .weareone-text {
        font-size: 19px;
        padding-top: 15px;
    }

    .bnt-place {
        padding-top: 32px;
    }

    .news-title {
        height: 53px;
    }

    .col5r, .col5l {
        width: 100%;
        padding: 0px;
    }

        .col5r label, .col5l label {
            line-height: 30px;
        }

    .use2 a {
        font-size: 17px;
    }

    .banner-name {
       padding-top: 55px !important;
    padding-left: 25px !important;
}
        .banner-name .title-header-open24 {
            font-size: 24px;
            line-height: 30px;
        }






    .view-add a .fa-play-circle {
        font-size: 30px;
        margin-right: 10px;
    }

    .banner h1 span {
        width: 100%;
        float: left;
    }

    .banner h1 {
        line-height: 22px;
    }
    .fiften-days a {
        font-weight: bold;
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .banner h1.h1-title-home {
        text-align: left;
        margin-top: 33px !important;
        font-size: 20px !important;
        padding-left: 22px;
        line-height: 26px !important;
    }
    .btn-baner-web {
        width: 160px !important;
        right: 20px !important;
        bottom: 45px !important;
    }
    .btn-baner-web {
        font-size: 11px !important;
   width:170px !important;
        padding: 6px 8px;
        right: 15px !important;
        bottom: 45px !important;
    }
    .banner {
        height: 270px !important;
        background-size: 100% 95%;
    }
    .slider-banner-mobile {
        width: 100% !important;
        height: 235px !important;
    }
    .btn-baner-1 {
        top: 131px;
        font-size: 9px !important;
        right: 16px;
    }
    .btn-baner-2 {
        top: 185px;
        font-size: 9px !important;
        right: 10px;
    }
    .group-btn-vai-tro .ht-btn-vai-tro {
        width: 105px;
    }
    .ht-btn-vai-tro a .img {
        width: 105px;
    }
    .ht-btn-vai-tro a .img img{
        width: 100%;
    }
    .tinh-nang-ho-tro a .img {
        width: 80px;
    }
    .filter-header-ho-tro {
        width: 290px;
    }
        .filter-header-ho-tro h1 {
            font-size: 23px;
        }


    .dk-op-b1 h1, .dk-op-b2 h1 {
        font-size: 14px;
    }
    .banner-name-tet {
        display: none;
    }

    .banner-name {
        display: block;
    }
    .customer-left {
        width: 100%;
        height: 120px;
        float:left
    }
    .customer-right
    {
        padding-left:0px;
    }
    .content-customer{
        display:none;
    }
    .btn-dung-thu {
        left: -0px;
    }
    .btn-tiet-kiem {
        margin-top: 78px;
    }
    .btn-tieu-chuan {
        margin-top: 668px;
    }
    .btn-chuyen-nghiep {
        margin-top: 1260px;
    }
    .sale-service h3 {
        margin-left: 35px;
    }
    .service h1 {
        padding-left: 10px;
    }

    .service .dung-thu {
        padding-left: 10px;
    }
    .banner-news {
        height: 210px;
    }
    .titile-footer {
        margin-top: 10px;
    }
    .titile-footer-text {
        margin-top: -90px;
        font-size: 17px;
    }
    .weareone-text {
        font-size: 18px;
    }
    .banner h1 {
        line-height: 26px;
        font-size: 20px;
    }
    .banner-name p {
       display:none;
    }
    .banner-tn {
        background-size: 100% 95% !important;
        height: 325px !important;
    }
    .content-banner h1 {
        font-size: 18px;
    }
        .content-banner h1 font {
            font-size: 20px;
        }
    .content-banner .bnt-use {
        font-size: 14px;
    }
    .content-banner {
        padding-left: 22px !important;
        padding-top: 10px;
    }


    .view-add {
        padding-top: 15px;
        padding-left: 20px;
    }
    /*.banner .bnt-use{
        display:none;
    }*/
    .view-add a .fa-play-circle {
        font-size: 44px;
        margin-top: 10px;
        margin-right: 10px;
    }
}
