


body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;

}

*, ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a, a:hover {
    text-decoration: none !important;
}

.navbar-header {
    width: 125px;
    float: left;
}

.navbar-menu {
    width: calc(100% - 400px);
    float: left;
}

/*.navbar-login {
    width: 275px;
    float: right
}*/

.logo {
    width: 120px;
    float: left;
}

    .logo h2 {

    }

/*    .logo img {
        width: 100%;
        height: 40px;
    }*/

.header-top {
    height: 65px;
    line-height: 65px;
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    /*background: white;*/
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
    .header-top:after {
        /*content: '';
        display: block;
        width: 100%;
        height: 3px;
        margin-top: -12px;
        background-image: linear-gradient(to right, #acc679, #acc679 22%, #acc679 36%, #acc679 48%, #17c4fa 63%, #17c4fa 76%, #17c4fa)*/
    }


.menu-main li {
    float: left;
    padding-left: 6px;
    line-height: 35px;
    height: 25px;
}

.menu-main ul.nav {
    padding-top: 10.5px;
    float:right !important;
}
.ul-fun li.undore a {
    border-bottom: 2px solid #FFD40C;
    text-decoration: none !important;
}

.menu-main li.li-main a {
    text-transform: uppercase;
    font-weight: 400;
    background: 0 0;
    display: block;
    line-height: 30px;
    font-size: 13px;
    font-family: font-helveticaNeueMedium,arial,sans-serif;
    padding: 7px;
    color: #333;
    font-weight: bold;
}

.menu-main .active a, .menu-main li.li-main:hover a.a-main {
    border-bottom: 2px solid var(--op-main-color); 
    text-decoration: none !important;
/*    color: var(--op-main-color) !important;
*/}

.menu-main li.li-main a.a-main:hover {
    color: var(--op-main-color);
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.menu-main {
    margin: auto;
}

.ul-children {
    display: none;
    top: 56px;
    position: absolute;
    width: 200px;
    background: white;
    background-color: white;
    box-shadow: 0px 1px 4px 1px #ccc;
}

    .ul-children li {
        width: 100%;
        float: left;
        padding:  7px 15px;
        line-height: 30px;
        height: 50px
    }

        .ul-children li a {
            padding: 0px !important;
            line-height: 30px !important;
            text-transform:inherit !important
        }

        .ul-children li:hover a {
            border-bottom: 2px solid #FFD40C;
            text-decoration: none !important;
            color: var(--op-main-color) !important;
        }

        .ul-children li:last-child {
            padding-bottom: 15px
        }

        .ul-children li.undore a {
            border-bottom: 2px solid #FFD40C;
            text-decoration: none !important;
        }

.login-inner a {
    text-transform: uppercase;
    background: 0 0;
    font-size: 13px;
    font-family: font-helveticaNeueMedium,arial,sans-serif;
    padding: 0 15px;
    color: #333;
    font-weight: 600;
}

.login-inner {
    text-align: right;
}

    .login-inner a.login-dang-nhap {
        color: #999999de;
    }

    .login-inner a.login-dang-ky {
        border-top: 2px solid #f6ba3e;
        border-bottom: 2px solid var(--op-main-color);
        border-left: 1px solid #9ac515;
        border-right: 1px solid #9ac515;
        border-radius: 30px;
        padding: 8px 20px 8px 20px;
    }
/*
.banner-home {
    background-size: auto 100%;
}*/



.btn-group-home a.video i {
    font-size: 70px;
    color: #136a78;
    background: white;
    width: 66px;
    height: 66px;
    border-radius: 40px;
    line-height: 66px;
    position: absolute;
    margin-top: 5px;
}

.btn-group-home a.video {
    padding-right: 40px;
}

.bnt-trial {
    font-size: 17px;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    background: #f49c1c;
    /* border: 2px solid white; */
    margin-left: 60px;
    line-height: 77px;
}

    .bnt-trial:hover {
        color: white;
    }

.btn-group-home {
    margin-top: 70px;
    text-align: center;
}
.content-page-two {
    /*background: #d8e4f2;*/
    position: relative
}
.content-page-ho-tro247 {
    background: url('/Content/images/open24/BannerNN/banner-ho-tro.jpg') no-repeat top center;
    background-size: 100% 100%;
}
.title-247 {
    font-weight: 400 !important;
    color: #333;
    padding-top: 30px;
}
    .title-247 strong {
        font-size: 32px;
        text-transform: uppercase;
        color: white;
    }
.hotro247-l {
    width: 70%;
    float: left;
}
.hotro247-r {
    width: 30%;
    float: left;
}
.list-introduces {
    text-align: center;
    padding: 50px 0px;
    width:100%;
    float:left
}
h2.title {
        font-size: 26px;
        font-family: inherit;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 15px;
        margin-top: 0px;
    }
.title-page-more {
    color: var(--op-main-color);
    font-size: 28px;
}
.list-introduces span {
    font-size: 18px;
}
.no-padding{
    padding:0px;
}
.page-function {
    padding: 25px 0px;
}
h3.title {
    font-size: 24px;
    margin-top: 5px;
}
.list-tree-function {
    padding: 40px 0;
    width: 100%;
    float: left;
}
    .list-tree-function li {
        width: 25%;
        float: left;
        padding: 0px 5px 40px 0px;
    }
        .list-tree-function li .fc-icon {
            width: 65px;
            height: 65px;
            background: #e4e8e8;
            float: left;
            border-radius: 10px;
        }
    .list-tree-function li .fc-text {
        width: calc(100% - 65px);
        float: right;
        padding-left: 15px;
        padding-top: 5px;
    }
  .fc-icon img{
        width:100%
    }
.fc-text p {
    font-size: 16px;
    margin: 0px;
    line-height: 30px;
    color: #333;
}
.content-page-function.kd-dac-thu {
    /*background: url('/Content/images/open24/op-w-ct-kddt.png') no-repeat top center;
    background-size: 100% 100%;*/
}
.content-page-function.kd-ban-le {
    /*background: url('/Content/images/open24/op-w-ct-kdbl.png') #f1f5f6 no-repeat top center;
    background-size: 100% 95%;*/
    /*background:#f1f5f6;*/
}
.page-function h3{
    padding-bottom:15px;
}
/*.list-tree-function:after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    margin-top: -45px;
    background-image: -webkit-linear-gradient(left, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
    background-image: linear-gradient(to right, #f7cf80, #f6ba3e 22%, #e4d51d 36%, #a8dc62 48%, #2dbbe6 63%, #0096c3 76%, #0096c3);
}*/
.content-page-for {
    background: url('/Content/images/open24/bg-ket-noi.jpg')  no-repeat top center;
   
    position: relative
}

.list-tree-service  {
    padding: 50px 0;
    width: 100%;
    float: left;
}

    .list-tree-service ul li {
        width: 33.33333%;
        float: left;
        padding: 30px 20px 30px 20px
    }

        .list-tree-service ul li .fc-icon {
            width: 55px;
            height: 55px;
            float: left;
            padding-top: 10px;
        }

    .list-tree-service ul li .fc-text {
        width: calc(100% - 55px);
        float: right;
        padding-left: 15px;
        padding-top: 5px;
    }
        .list-tree-service ul li .fc-text h4 {
            font-weight: bold;
            margin-top:0px;
            font-size:15px;
        }
.fc-icon img {
    width: 100%
}
.tree-reason-op li {
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
.tree-reason-op li img{
    width:45px;
    
    float:left
}
    .tree-reason-op li div {
        width: calc(100% - 50px);
        float: left;
        padding-left: 15px;
        /*color: white;
    text-align: left;
    font-size: 16px;
    padding-top: 15px;
}
.content-page-support {
    background-image: linear-gradient(to left, #eef3f8, #f5f8fe, #f6f9ff );
    padding-bottom: 30px;
}
.list-readson h2.title {
    color: #039ed8;
    margin: 40px 0px 40px;
}
    .list-readson h2.title font {
        color: #fdbc3c
    }
    .list-readson h2.title span {
        /*color: white;*/
        font-size: 26px;
    }
.btn-dang-ky-ct {
    padding: 15px 30px 15px 30px;
    background: #86987b;
    color: white;
    border-radius: 4px;
    line-height: 90px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white
    /* font-weight: bold; */
    /* margin-top: 30px; */
}
    .btn-dang-ky-ct:hover {
        color: white;
        background: #f49c1c;
    }
.btn-dk-home {
    padding: 15px 30px 15px 30px;
    background: var(--op-main-color);
    color: white;
    border-radius: 4px;
    line-height: 90px;
    font-weight: bold;
    font-size: 20px;
    border:2px solid white
    /* font-weight: bold; */
    /* margin-top: 30px; */
}

    .btn-dk-home:hover {
        color: white;
        background: var(--op-main-color-hover);
    }

.ct-group-dk {
    padding-bottom: 30px;
    color: white;
    padding: 50px 0px;
    text-align:left;
    width:100%;
    float:left
}
.h-list-customer .h-title-customer, .h-list-news .h-title-news {
    text-align: center;
    padding-bottom: 50px;
}
.h-list-customer, .h-list-news {
    padding: 50px 0 0 0;
}

.h-title-customer span {
    font-size: 16px;
}
.btn-more {
    font-size: 18px;
    padding: 10px 50px;
    border-radius: 5px;
}

.btn-more:hover {
    color: white;
    background: var(--op-main-color);
    transform: translateY(-5px);
    transition: 0.3s ease;
}
.text-color-two:after {
    content: '';
    margin-left: 45%;
    display: block;
    width: 100px;
    height: 1px;
    margin-top: 15px;
    background-image: linear-gradient(to right, var(--op-main-color), var(--op-main-color) 22%, var(--op-main-color) 36%, var(--op-main-color) 48%, var(--op-main-color) 63%, var(--op-main-color) 76%, var(--op-main-color));
}

.after-border::after {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    margin-top: 15px;
    background-image: linear-gradient(to right, var(--op-main-color), var(--op-main-color) 22%, var(--op-main-color) 36%, var(--op-main-color) 48%, var(--op-main-color) 63%, var(--op-main-color) 76%, var(--op-main-color));
}
.h-title-customer h2 {
    margin-bottom: 30px;
}
.content-page-contact {
    /*background: url('/Content/images/open24/op-w-ct-lien-he.jpg') no-repeat top center;
    background-size: 100% 100%;*/
    min-height: 700px;
    background: #def0ff;
}
/*.h-title-contact{
    color:white
}*/

.introduce {
    background-image: url(/Content/images/gioithieu/pnggioithieu-18.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    background-position-x: 115vh;
}

.h-title-contact h2 {
    margin-bottom: 30px;
}
    .h-title-contact span {
        font-size: 16px;
    }
    .fl{
        width:100%;float:left
    }
.form-group textarea{
    padding:15px;
}
textarea{
    border-radius:4px;
}
.group-input-contact {
    width: 450px;
    margin: 0 auto;
}
    .group-input-contact input, .group-input-contact select {
        height: 40px;
    }
    .group-input-contact .form-group {
       margin-bottom:20px;
    }
.btn-send-contact {
    height: 40px;
    background: var(--op-color-ssoft);
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    text-transform:uppercase
}
.btn-send-contact img{
    margin-top:-5px;
}

    
    .information-ft-col p a:hover {
        color: var(--op-main-color);
    }
.footer-company {
    background: var(--op-main-color);
}
.container-company{
    padding:20px 0;
}
.company-text, .company-text a{
    color: white;
}
.content-page-news {
    background: #f1f5f6;
}
.news-page{
    float:left;
    padding:0 15px
}
.news-page-1{
    width:55%;
}
.news-page-2 {
    width: 45%;
}
.h-news-img{
    height:430px;
    position:relative
}
    .h-news-img img {
        width: 100%;
        height: 100%;
    }
.h-news-text h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: inherit;
    height: 75px;
}
.h-news-text-page1 {
    background: #eac512
}
.h-news-text-page2 {
    background: #50525b;
    color: white
}
.h-news-text-page3 {
    background: #0797c3;
    color:white
}
    
.h-news-text {
    padding:40px 30px;
}
.news-time {
    line-height: 35px;
}
.h-list-news {
    padding-left: 60px;
    padding-right: 60px;
}
.news-page2 .h-news-img{
    height:200px;
}
.news-page2:first-child{
    margin-bottom:30px;
}
.news-page2 .h-news-text {
    padding: 15px 30px;
    padding-bottom: 20px;
    height: 132px;
}
.h-news {
    width: 100%;
    float: left;
    margin-bottom: 60px;
}
.h-news-text p {
    line-height: 24px;
}
.company-share, .company-text {
    width: 50%;
    float: left;
    margin-bottom: 15px;
}
ul.social li {
    width: auto;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
    ul.social li i {
        color: var(--op-color-ssoft);
        font-size: 20px;
    }
ul.social {
    width: 250px;
    margin: 0 auto;
}
.news-host {
    position: absolute;
    top: 0px;
    padding: 10px 15px;
    background: var(--op-main-color);
    border-radius: 4px;
    color: white;
    /* width: 300px; */
    /* height: 200px; */
    z-index: 15;
    top: 85%;
    left: 5%;
}
.content-more:before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 60px;
    padding-right: 0.5em;
    color: #d8e4f2;
    position: absolute;
    bottom: -49px;
    left: 50%;
}
.content-page-for:before {
    /*content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 50px;
    padding-right: 0.5em;
    color: #1a90d4;
    position: absolute;
    bottom: -41px;
    left: 50%;*/
}
.busines-more {
    color: white;
    position: relative
}
    .busines-more  {
        color: white
    }
.content-page-support {
    background: #eef3f7;
    position:relative;
}
.content-page-service {
    /*background: #eef3f7;*/
}
.content-more {
    position: relative;
}
.h-icon-share ul li {
    padding: 5px 7px;
    /* width: 40px; */
    /* height: 40px; */
    background: white;
    margin: 7px;
    border-radius: 30px;
    float: left;
    margin-top: 0px;
}
    .h-icon-share ul li i {
        font-size: 20px;
        color: var(--op-main-color);
    }
.h-icon-share ul{
    float:right
}
.h-news-text-page1 p {
    height: 77px;
    margin-bottom: 20px;
}
.h-news-text-page1 a {
    color: #333
}
.news-page2 .h-news-text a {
    color: white;
}
.h-icon-share ul li:last-child{
    margin-right:0px;
}

.footer-company:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    margin-top: -60px;
    background-image: -webkit-linear-gradient(left, #f7cf80, #f6ba3e 22%, #e4d51d 36%, #a8dc62 48%, #2dbbe6 63%, #0096c3 76%, #0096c3);
    background-image: linear-gradient(to right, #f7cf80, #f6ba3e 22%, #e4d51d 36%, #a8dc62 48%, #2dbbe6 63%, #0096c3 76%, #0096c3);
}
.h-list-customer .h-title-customer {
    padding-bottom: 40px;
}
#toTop {
    position: fixed;
    bottom: 125px;
    right: 37px;
    width: 36px;
    height: 36px;
    line-height: 32px;
    border: 2px solid var(--op-main-color);
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    display: none;
    background-color: white;
    color: var(--op-main-color);
}

    #toTop:hover {
        background-color: var(--op-main-color);
        color: white
    }

.css-1c33qpt {
    z-index: 1030;
    position: fixed;
    right: 2.5rem;
    bottom: 5rem;
    cursor: pointer;
}

.menu-main-mobile {
    position: fixed;
    top: 65px;
    background: var(--op-main-color);
    right: 0px;
    height: 100%;
    transition: width .2s;
    -webkit-transition: width .2s;
    width: 0px !important;
    z-index: 20;
    display:none;
}
    .menu-main-mobile ul li {
        width: 100%;
        border-bottom: 1px dashed rgba(255,255,255,.35);
        line-height: 47px;
        padding-left: 0px !important;
        position: relative;
    }
    .menu-main-mobile li a {
        color: white;
        padding: 7px;
        font-size: 15px;
        padding-left:15px !important;
    }
.click-menu {
    display: none;
    float: right;
    color: white !important;
    font-size: 21px !important;
    width: 53px !important;
    text-align: center;
    line-height: 65px;
}

.visi {
    visibility: visible;
    display:block;
    transition: width .2s;
    -webkit-transition: width .2s;
    width: 100% !important;
}
.icon-mobile .fa-caret-down {
    float: right;
    margin-right: 15px;
    color: white;
    position: absolute;
    right: 0px;
    top: 15px;
}
.information-ft-col p span, .line-br {
    width: 100%;
    float: left;
}
.banner-prd-gara {
    background: url('/Content/images/open24/BannerNN/op-web-banner-garra.jpg') no-repeat top center;
    background-size: auto 100%;
}
.content-prd h1 {
    line-height: 50px;
    font-size: 38px;
    color: var(--op-main-color);
    text-shadow: none;
    text-transform: uppercase;
}
.content-prd {
    width: 50%;
    float: right;
}
.content-prd h1  strong{
   color:#333
}
.content-prd p{
    color:#333;
    text-shadow:none;
}
    .content-prd p span {
        color: #006b91;
        font-size: 28px;
    }
.border-bot:after {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    margin-top: 15px;
    background-image: -webkit-linear-gradient(left, var(--op-main-color), var(--op-main-color) 22%, var(--op-main-color) 36%, var(--op-main-color) 48%, var(--op-main-color) 63%, var(--op-main-color) 76%, var(--op-main-color));
    background-image: linear-gradient(to right,var(--op-main-color), var(--op-main-color) 22%, var(--op-main-color) 36%, var(--op-main-color) 48%, var(--op-main-color) 63%, var(--op-main-color) 76%, var(--op-main-color));
}
.tree-Weakness li {
    line-height: 24px;
    font-size: 15px;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
}
.tree-Weakness li span{
    font-weight:bold
}
    .tree-Weakness li:before {
        content: "\f061";
        font-family: FontAwesome;
        color: var(--op-main-color);
        font-size: 16px;
        padding-right: 0.5em;
        position: absolute;
        top: 0px;
        left: 0;
    }
.border-bot-center:after {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    margin-left: 43%;
    margin-top: 15px;
    background-image: -webkit-linear-gradient(left, var(--op-main-color), var(--op-main-color) 22%, var(--op-main-color) 36%, var(--op-main-color) 48%, var(--op-main-color) 63%, var(--op-main-color) 76%, var(--op-main-color));
    background-image: linear-gradient(to right, var(--op-main-color), var(--op-main-color) 22%, var(--op-main-color) 36%, var(--op-main-color) 48%, var(--op-main-color) 63%, var(--op-main-color) 76%, var(--op-main-color));
}

.tree-Weakness {
    width: 100%;
    margin-top: 15px;
}
.tree-Weakness-gara {
    width: 50%;
    margin-top: 15px;
}
.banner-gara-two {
    background: url('/Content/images/open24/gara-o-to.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-gara-function {
    background: url('/Content/images/open24/gara-lap.png')  no-repeat top center;
    background-size: auto 100%;
    min-height: 600px;
}
.tree-service .tree-li {
    width: 100%;
    padding: 30px 0;
    float: left;
    text-align:left;
}
.tree-service .tree-li .fl img  {
    width: 70px;
    float: left;
}
    .tree-service .tree-li .fl .text {
        width: calc(100% - 70px);
        float: left;
        padding-left: 30px;
    }
    .tree-service .tree-li .text p {
        text-align: left;
        position: relative;
        padding-left: 20px;
    }
        .tree-service .tree-li .text p::after {
            content: "\f0a3";
            font-family: FontAwesome;
            color: var(--op-main-color);
            font-size: 10px;
            padding-right: 0.5em;
            position: absolute;
            top: 2px;
            left: 0;
        }
    .tree-service .tree-li .img img {
        border-radius: 6px;
        width: 68px;
    }
    .tree-service .tree-li  h4 {
        padding: 12px 0;
        font-size: 16px;
        font-weight: bold;
        height: 55px;
    }
        .tree-service .tree-li h4 .number-title-pr {
            background: var(--op-main-color);
            padding: 5px 10px;
            color: white;
            margin-right: 15px;
        }
.tree-service2 li{
    width:50%;
}
.bot-function:before {
    content: "\f0d8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 60px;
    color: #c8ea9d;
    position: absolute;
    top: -50px;
    left: 50%;
}
.bot-function {
    background: #c8ea9d;
    position: relative
}
    .bot-function .list-introduces {
        padding: 10px 0
    }
/*.page-contact {
    width: calc(100% - 420px);
    float: right;
    margin: auto;
    background: #def0ff;
    border-radius: 15px;
    margin: 30px 0;
}*/

.tree-function li {
    width: 25%;
    float: left;
    padding:15px;
}
.tree-function {
    padding: 15px 40px;
    width: 100%;
    margin-top: 15px;
    float: left;
}
.tree-function li h4{
    font-size: 16px;
    font-weight: bold;
}
.tree-function li .img{
    width:125px;
    margin:0 auto;
}
    .tree-function li .img img {
        height:100%;
        width:auto;
    }
.gr-dk-left, .gr-dk-right {
    width: 50%;
    float: left;
}
.banner-gara-dang-ky {
    background: url('/Content/images/open24/gara-banner-dk.jpg') #f5f8f9 no-repeat top center;
    background-size: 100% 100%;
}

.gr-dk-left img {
    height: 100%; 
     margin-top: 38px; 
}
.title-dang-ky {
    text-align: center;
    padding: 0px 0px 15px 0px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: var(--op-main-color);
}
.gr-dk-right {
    padding-top: 30px;
}
.price-list {
    padding: 60px 0;
    width:100%;
    float:left;
}
.Package {
    width: 33.33333%;
    float: left;
    padding: 30px 0 0;
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 3px;
    border-right: none;
    overflow: hidden;
}
.boder-r {
    border-right: 1px solid #ccc;
}.pk-head {
        text-align: center;
        padding: 15px 0;
    }
.pk-head h4{
    font-size:24px;
}
.pk-head p span{
    font-weight: bold;
    font-size: 18px;
    color: var(--op-main-color);
}
    .pk-head p {
        font-size: 15px;
    }
    .pk-head label {
        font-weight: bold;
        font-size: 15px;
    }
.pk-body ul li {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.pk-body ul li:last-child{
    border-bottom:none;
}
    .pk-body ul li:before {
        content: "\f00c";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: #82b440;
        font-size: 16px;
        padding-right: 0.5em;
        top: -4px;
        left: 0;
    }
.btn-price-dung-thu {
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 16px;
    background: var(--op-main-color);
    color: white;
}
 .pk-body{
    padding:30px 0px 0px;
}
.pk-head {
    padding-top: 0px;
    border-bottom: 1px solid #ccc;
    position:relative
}
.pk-body ul {
    margin: 0 60px;
    min-height: 420px;
    border-bottom: 1px solid #ccc;
}
.pk-footer {
    padding: 47px;
}
.pk-list-li{
    padding-top:15px;
}
.price-list h2{
    margin-bottom:60px;
}
.btn-price-dung-thu:hover{
    color:white;
    background:var(--op-main-color-hover);
}
.bg-blue, .bg-blue :hover{
    background: #82b440;
}
.footer-open {
    color: white;
    padding-top: 80px;
    /* background-image: url(/Content/images/open24/bg-footer.png); */
    background:var(--op-main-color);
    background:var(--color-theme);
    background-image: url(/Content/images/open24/op-bg-transparent.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.Package:hover .btn-price-dung-thu {
    background: #82b440;
}
.Package:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to left, #f7cf80, #cab457 22%, #b3b164 36%, #7da981 48%, #64a68f 63%, #2e9eac 76%, #2e9eac);
    position: absolute;
    top: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.Package:hover {
    box-shadow: 0px 0px 6px 6px #ededed;

}

.footer-open .tag p {
    width: 100%;
    line-height: 30px;
    margin-bottom: 35px;
    display: grid;
}
.padding-left20 {
    padding-left: 35px;
}
.bold {
    font-weight: bold;
}
.footer-open p img {
    width: 28px;
    float:left;
    
}
.footer-open p font {
    float: left;
    line-height: 30px;
    padding-left: 15px;
}
.image-ft img {
    width: 153px;
    height: 50px;
}
.image-ft {
    padding-bottom: 15px;
}
.padding-left20 a{
    color:white;
}
.title-footer {
    font-size: 17px;
    padding-bottom: 20px;
    font-weight: bold;
}
.connection a {
    background: #fff;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 19px;
    text-transform: uppercase;
    padding-bottom: 20px;
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 39px;
    margin-right: 4px;
    background: #1a1a1a;
}
    .connection a:hover {
        background: var(--op-main-color);
    }
.Package:hover .pk-body, .Package:hover .pk-footer {
    background: #f8f8f8;
    z-index:-1;
}
Package:hover  .pk-head:after, .pk-head:before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 45px;
    color: white;
    position: absolute;
    bottom: -36px;
    left: 46%;
    z-index: 10;
}
Package:hover .pk-head:after, .pk-head:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 45px;
    color: #ccc;
    position: absolute;
    bottom: -38px;
    left: 45.99%;
    z-index: 9;
}
.pk-head h4:after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    margin-left: 40%;
    margin-top: 15px;
    background-image: linear-gradient(to right,#f7cf80, #cab457 22%, #b3b164 36%, #7da981 48%, #64a68f 63%, #2e9eac 76%, #2e9eac);
}
.saving {
    height: 40px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #f7cf80, #cab457 22%, #b3b164 36%, #7da981 48%, #64a68f 63%, #2e9eac 76%, #2e9eac);
    position: absolute;
    top: 25px;
    line-height: 45px;
    text-transform: uppercase;
    color: white;
    width: 190px;
    left: -47px;
    overflow: hidden;
    font-size: 13px;
}
.color-size {
    font-size: 33px;
    color: #6d6e71!important;
}
.img-check {
    float: left;
    padding-right: 25px;
}
.itemcheck {
    width: 100%;
    float: left;
    padding: 30px 0px 35px;
}
.banner-gara-service {
    background: #f5f8f9;
}
.tree-service .col-md-12{
    float:left;

}
.banner-useful {
    /*width:100%;
    float:left;*/
    /*margin-bottom:55px;*/
    background: url('/Content/images/open24/bg_31.jpg') no-repeat top center;
    background-size: 100% 100%;
}

.services-wrap {
    display: block;
    width: 100%;
    position: relative;
    background: white;
    border-bottom: 1px solid #d8e4f2;
    padding: 25px 40px 25px 50px;
}
    .services-wrap .icon {
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 15px;
    }
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.services-wrap h2 {
    color: var(--op-main-color);
    font-size: 18px;
    margin-top: 10px;
}
.services-wrap p {
    color: #232931;
    margin-bottom: 0;
}

.list-useful{
    width:55%;
    float:right;
}
.services-wrap .icon i {
    font-size: 22px;
    color: var(--op-main-color);
}
.services-wrap .icon .fa-angle-left {
    display: none
}
.list-function-new {
    padding: 30px 0px 15px 0px;
}
.banner-function {
    background: rgb(216, 228, 242);
}
.list-useful-new .services-wrap {
    padding: 30px 40px 30px 50px;
}

    .list-useful-new .services-wrap p {
        font-size: 16px;
    }
.jumbotron {
    text-align: center;
    background: white;
    margin-top: 30px;
}
.jumbotron-top {
    color: #5cb85c;
}
.jumbotron-body p{
    font-size:16px;

}
.banner-prd-nhathuoc {
    background: url('/Content/images/open24/BannerNN/op-web-banner-nhathuoc.jpg') no-repeat top center;

}
.content-prd-nhathuoc  h1 strong {
    color:#333;
}
span.tinh-nang-size {
    color: var(--op-main-color);
    font-size: 50px;
}
span.nhahang-size {
    font-size: 44px;
}
.line-one {
    line-height: 60px !important;
}
.content-prd-nhathuoc, .content-prd-salon {
    padding-top: 50px;
}
    .content-prd-nhathuoc p {
        margin-top: 0px;
    }
.color-ss {
    color: #f39706 !important;
}
.banner-prd-salon {
    background: url('/Content/images/open24/BannerNN/op-web-banner-salon.jpg') no-repeat top center;
    background-size: auto 100%;
}
.content-prd-spa p, .content-prd-spa p span {
    color: var(--op-main-color) !important;
    font-size: 28px;
    font-weight: bold;
}
.banner-prd-spa {
    background: url('/Content/images/open24/BannerNN/op-web-banner-spa.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-prd-nhahang {
    background: url('/Content/images/open24/BannerNN/op-web-banner-nhahang.jpg') no-repeat top center;
    background-size: auto 100%;
}
.content-prd-gara h1 {
    color: #f39706;
    line-height:60px
}
.content-prd-gara h1 strong {
    color: var(--op-main-color)
}

.content-prd-gara h1 span {
    font-size:50px;
}
.content-prd-pkham h1 font, .content-prd-dochoi h1 font {
    font-size: 44px;
}
.banner-prd-pkham {
    background: url('/Content/images/open24/BannerNN/op-web-banner-phongkham.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-prd-ptung {
    background: url('/Content/images/open24/BannerNN/op-web-banner-phutung.jpg') no-repeat top center;
    background-size: auto 100%;
}
.content-prd-ptung h1{
    color:#333;
}
    .content-prd-ptung h1 strong {
        color: var(--op-main-color);
    }
.banner-prd-sieuthi {
    background: url('/Content/images/open24/BannerNN/op-web-banner-sieuthi.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-prd-dochoi {
    background: url('/Content/images/open24/BannerNN/op-web-banner-dochoi.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-prd-nongsan {
    background: url('/Content/images/open24/BannerNN/op-web-banner-nongsan.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-prd-mypham {
    background: url('/Content/images/open24/BannerNN/op-web-banner-mypham.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-prd-khac {
    background: url('/Content/images/open24/BannerNN/op-web-banner-khac.jpg') no-repeat top center;
    background-size: auto 100%;
}
.content-prd-khac font, .content-prd-vvpham font{
    font-size: 42px;
}
.banner-prd-vvpham {
    background: url('/Content/images/open24/BannerNN/op-web-banner-vanphongpham.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-prd-thoitrang {
    background: url('/Content/images/open24/BannerNN/op-web-banner-thoitrang.jpg') no-repeat top center;
    background-size: auto 100%;
}
.banner-prd-noithat {
    background: url('/Content/images/open24/BannerNN/op-web-banner-noithat.jpg') no-repeat top center;
    background-size: auto 100%;
}
.bn-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.content-prd-noithat h1 {
    font-size: 40px;
    line-height: 60px;
    color: white !important;
}
    .content-prd-noithat h1 strong {
        color: white !important;
    }
.content-prd-noithat p {
    margin-top: 5px;
    margin-bottom: 55px;
    color:var(--op-color-ssoft)
}
.text-me {
    padding-top: 460px;
}
.menu-fun {
    width: 800px;
    position: absolute;
    top: 56px;
    background: white;
    float: left;
    display: none;
    box-shadow: 0px 1px 4px 1px #ccc;
}
.ul-fun {
    display: block;
    width: 250px;
    border-right: 1px solid #cccc;
    float: left;
    min-height: 200px;
}
    .ul-fun li {
        padding: 0 15px;
        height: auto;
        min-height: 40px;
        width: 100%;
        float: left;
    }
        .ul-fun li a {
            text-transform: inherit !important
        }
        .ul-border-none {
            border-right: none;
        }
.menu-fun h5 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 5px;
    color: #0078D7;
}
.ul-fun li:hover a {
    /*TNS 13/01/2021 change color border bottom*/
    /*border-bottom: 2px solid var(--op-main-color);*/
    border-bottom: 2px solid #FFD40C;
    text-decoration: none !important;
    color: var(--op-main-color) !important;
}
.border-right {
    border-right: 1px solid #cccc;
}
.menu-fun .menu-fun-left, .menu-fun .menu-fun-right{
    margin-top:15px;
    margin-bottom:15px;
    padding:0px;
}
.ul-fun li a{
    padding:2px !important;
}
/*.modal-header {
    font-weight: bold;
    height: 47px;
    border: none;
    padding: 12px !important;
    background: var(--op-main-color);
    color: white;
}*/
.adress span {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px;
    background: #bdbec0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 34px;
    width: 115px;
    padding-left: 16px;
    padding-top: 7px;
}
.btn-updata {
    color: white !important;
    background: #32b7b3;
    padding: 13px 42px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
/*.modal-header .close {
    position: absolute;
    width: 50px;
    height: 47px;
    right: 0px;
    top: 2px;
    font-size: 28px;
    color: white;
    outline: none;
    opacity: 1;
}*/
.form-group {
position:relative;
}
.P20{
    padding:20px;
}
.line-sup{
    line-height:45px;
}
.mien-phi-15 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.page-contact .list-introduces {
    padding-bottom: 20px;
}
.content-prd-mobile {
    display: none;
}
.ul-children-mobile li {
    border: none !important;
}
.ul-children-mobile {
    background: #31c2ee;
}
.banner-hop-tac {
    background: url('/Content/images/open24/BannerNN/op-web-banner-hop-tac.jpg') no-repeat top center;
    height: 540px;
    background-size: 100%  100%;
}
.btn-gioi-thieu {
    padding: 15px 30px;
    border-radius: 30px;
    background: red;
    color: white;
    margin-right: 50px;
    font-size: 28px;
}
    .btn-gioi-thieu:hover {
        background: red;
        color: white;
    }
.content-hop-tac .btn-group-prd {
    padding-top: 390px;
    text-align: center;
}
.list-gift p strong {
    margin-left: 30px;
    line-height: 30px;
}
.banner-condition-introduce {
    background: url('/Content/images/open24/op-w-condition.jpg') no-repeat top center;
    height: 600px;
    background-size: auto  100%;
}
.list-gift-receive strong {
    line-height: 40px;
}
.banner-condition-gift {
    position: relative;
    background: #d8e4f2;
    height: 530px;
}
.img-no {
    position: absolute;
    top: 502px;
    width: 100%;
}
.list-gift-receive, .img-receive {
    width: 50%;
    float: left;
    position: relative;
}
    .img-receive img {
        position: absolute;
        top: -208px;
        width:100%;

    }
.btn-tham-gia-ngay {
    padding: 15px 30px 15px 30px;
    background: var(--op-main-color);
    color: white;
    border-radius: 4px;
    line-height: 90px;
    font-weight: bold;
    font-size: 20px;
}
.btn-gr-tham-gia-ngay{
    margin-top:30px;
}
.btn-tham-gia-ngay:hover {
    background: var(--op-main-color);
    color: white;
}
.btn-tham-gia-ngay i{
    font-size:24px;
    margin-right:15px;

}
.content-page-condition {
    background: white;
    padding-top: 50px;
}
.steps-procedure {
    width: calc(33.333% - 30px);
    float: left;
    height: 100px;
   
    margin: 15px;
    display: table;
}
    .steps-procedure p {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        font-size: 16px;
    }
.steps-procedure1 {
    background: url(/Content/images/open24/i-quy-trinh-1.png) no-repeat top center;
    background-size: 100% 100%;
}
.steps-procedure2 {
    background: url(/Content/images/open24/i-quy-trinh-2.png) no-repeat top center;
    background-size: 100% 100%;
}
.steps-procedure3 {
    background: url(/Content/images/open24/i-quy-trinh-3.png) no-repeat top center;
    background-size: 100% 100%;
}
.list-procedure-participation {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.if-video iframe {
    width: 1000px;
    height: 562px;
    margin: 0 auto;
    border: none;
}
.if-video {
    width: 100%;
    float: left;
    text-align: center;
    padding: 60px 0;
    background-image: linear-gradient(to bottom, #c8ea9d, #c8ea9d 50%, #ffff 50%, #ffff );
}


    .if-video p {
        font-size: 20px;
        font-style: italic;
        margin-bottom:30px;
    }
.bnt-home a {
    background: var(--op-main-color);
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 12px;
}

.bnt-home i {
    font-size: 12px;
}

.bnt-home a:hover {
    background: var(--op-main-color);
    color: white;
}

/*.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}

.modal-container {
    width: 500px;
    margin: 40px auto 0;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}*/

.text-right {
    text-align: right;
}

.form-label {
    display: block;
    margin-bottom: 1em;
}

    .form-label > .form-control {
        margin-top: 0.5em;
    }

/*.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }*/
.no-margin-bot{
    margin-bottom:0px !important;
}

.list-ban-le li .fc-text {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 5px;
}
.list-ban-le li .fc-icon img {
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    width: 65px;
    height: 65px;
    /*background: #e4e8e8;*/
    border-radius: 4px;
    border-radius: 10px;
}
.list-ban-le li .fc-icon{
    width:auto;
    height:auto;
}
.list-ban-le li {
    width: 20%;
    float: left;
    padding: 20px 15px;
}
.list-ban-le2 li {
    width: 25%;
}
.list-ban-le {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}
.tree-Weakness-new li {
    width: 25%;
    float: left;
    padding: 40px 30px;
    text-align: center;
}
.banner-hard {
    background: #e5f1f7;
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
.tree-Weakness-new li .img {
    margin-bottom: 40px;
}
.tree-Weakness-new li p strong {
    font-weight: bold;
    line-height: 30px;
    font-size: 15px;
}
.tree-Weakness-new {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.banner-customer {
    /*background: url(/Content/images/khachhang/banner_webopen2.jpg)no-repeat top center;
    background-size:100% 100%;*/
    background-image: url('../images/open24/CustomerPage/banner-cus.png');
    background-size: contain;
    background-position:;
}
.banner-prof {
    height: 310px;
}
.gr-trial {
    color: white;
    line-height: 45px;
    font-size: 30px;
    padding: 50px 0 30px 0;
}
.banner-weareone {
    /*background: url('/Content/images/home/footer.jpg') no-repeat center;*/
    background-image: url(../images/open24/CustomerPage/banner-wave.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-bottom: 15vh;*/
}
.customer-v-search .search-l {
    width: 50%;
    float: left;
    padding-right:15px;
    position:relative;
}

    .customer-v-search .search-l input, .customer-v-search .search-r .select-text {
        border-radius: 20px;
    }

    .customer-v-search .search-l input::placeholder {
        color: black;
    }

.customer-v-search .search-r {
    width: 50%;
    float: left;
    padding-left: 15px;
    position: relative;
}
.customer-v-search {
    padding: 50px 0 50px 0;
}
    .customer-v-search .search-l i {
        font-size: 18px;
        position: absolute;
        top: 8px;
        right: 30px;
        color: #999;
    }
.col-50 {
    width: 50%;
    float: left;
    padding: 0 5px;
    position: relative;
}
.select-text {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    height: 35px;
    line-height: 30px;
    border-radius: 4px;
    background: #f5f5f5;
    /*z-index: 2;*/
}
    .select-text i {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 34px;
        padding-top: 10px;
        padding-left: 10px;
        width: 40px;
        color: #999;
        border-left: 1px solid #ccc;
    }
.p-text {
    width: calc(100% - 40px);
    margin: 2px;
    padding-left: 10px;
    color: black;
}
.txt-nowrap {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.choose-select{
    position:relative;

}
.select-tree {
    border: 1px solid #ccc;
    border-top: 0px;
    padding: 20px 0 10px 0;
    display: none;
    background: white;
    max-height: 310px;
    position: absolute;
    overflow: auto;
     /*z-index: 1;*/ 
    top: 15px;
}
    .select-tree ul li {
        padding: 5px 10px;
        width: 100%;
        float: left;
    }
    .select-tree ul li a {
        width: 100%;
        float: left;
        color:#333;
    }
    .select-tree::-webkit-scrollbar {
        display: none;
    }
    .select-tree ul li:hover, .select-tree ul li:checked {
        background: #ece6ff;
    }
.choose-open .select-tree {
    display: block;
}
.tree-customer {
    width: 100%;
    float: left;
    margin: 40px 0;
}
    .tree-customer li {
        width: 50%;
        float: left;
        padding: 15px;
    }

        .tree-customer li img {
            width: 100%;
            height: 100%;
        }

        .tree-customer li .ct-title {
            /*width: calc(100% - 200px);*/
            float: left;
            padding: 20px 10px;
        }
    .tree-customer .text-compact {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
 .tree-customer li .img img{
    width: 100%;
  height:150px;
  border-radius:4px;
}
.ct-title h2 {
    margin-top: 0px;
    font-size: 20px;
}
.list-customer {
    padding-bottom: 60px;
}
.detail-customer {
    width: 100%;
    float: left;
    padding: 30px 0 60px 0;
}
.dt-cutomer-l {
    width: 70%;
    float: left;
    padding-right: 30px;
}
.dt-cutomer-r {
    width: 30%;
    float: left;
}
.date-timenews {
    color: #999;
    border-bottom: 1px solid #ccc;
    line-height: 36px;
}
.title-detailnews {
    font-size: 18px;
    line-height:25px;
    text-transform: uppercase;
    color: var(--op-main-color);
    font-weight: bold;
    margin-top: 20px;
}
.by-detailnews{
    text-align:right;
}
.summary-detailnews {
    font-weight: bold;
   padding-top:16px;
   padding-bottom:30px;
}
.title-viewnews {
    color: var(--op-main-color);
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    line-height: 36px;
    margin-bottom: 15px;
}
.list-tree-news {
    width:100%;
    float:left
}
.list-tree-news li{
     width:100%;
    float:left;
    padding:10px 5px;
       
}
.list-tree-news li .img{
    width:90px;
    float:left;
    height:75px
}
.img-tol3-new img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.list-tree-news li .new-title{
    width:calc(100% - 90px);
    float:left;
    padding-left:5px;
}
.new-title p{
    margin:0px;
    font-weight:bold;
    color:#333
}
.time-news-more {
    color: #999;
    font-size: 13px;
    padding-top: 3px;
    position: relative
}
    .time-news-more:before {
        content: "\f017";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #999;
        font-size: 15px;
    }
.fiften-days {
    border-radius: 5px;
    padding-bottom: 15px;
    border: 1px solid var(--op-main-color);
    margin: 20px 0px 20px 0px;
}
    .fiften-days p, .fiften-daysa {
        padding-top: 20px;
        font-weight: bold;
        font-size: 18px;
    }
.bnt-news1 a {
    background: #e32626;
    padding: 13px 40px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 17px;
    color: white;
}
.bnt-news1 {
    padding: 12px;
}
.mar-top15 {
 margin-top:15px;
}
.related-news iframe{
    width:100% !important;
}
.content-detailnews img {
    width: 80% !important;
    height: auto !important;
    margin: auto;
}
.banner-news {
    background: url(/Content/images/news/computer.png) no-repeat top center;
    background-size: 100%;
}
.page-tree-news {
    width: 100%;
    float: left;
    margin-bottom:30px;
}
    .page-tree-news li {
        width: 100%;
        float: left;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
    }
.page-tree-news li .img {
    width: 260px;
    height: 160px;
    float: left;
}
.bor-radius{
    border-radius:4px;
}
.page-tree-news li .news-content-title {
    width: calc(100% - 260px);
    padding-left: 15px;
    float: right;
}
.page-tree-news li .img img {
    width: 100%;
    height: 100%;
}
.title-label {
    color: #1d1d1d;
    font-size: 22px;
    padding-bottom: 5px;
    text-align: justify;
    font-weight: bold;
    line-height: 30px;
    margin: 0px;
}
.item-news-one .img {
    width: 350px !important;
    height: 215px !important;
}
.item-news-one .news-content-title {
    width: calc(100% - 350px) !important;
}
.related-news {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.title-related {
    font-size: 20px;
    line-height: 45px;
    text-transform: uppercase;
    color: #666;
}
.related-list p i {
    color: #999
}
.next-more-group-news, .next-more-group-news i {
    color: var(--op-main-color) !important;
    font-size: 16px;
}
.tags-news 
{
    margin-bottom:5px;
}
.tags-news span {
    font-weight: bold;
}
    .tags-news span a {
        color: #337ab7;
    }
.tags-news span a:hover
{
    text-decoration:underline !important
}
.menu-main li.undore a.a-main {
    border-bottom: 2px solid var(--main-color) !important;
    text-decoration: none !important;
}
body {
}

#notfound {
    position: relative;
    height: 90vh;
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align:center;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

.notfound .notfound-404 {
    height: 190px;
}

    .notfound .notfound-404 h1 {
        font-family: montserrat,sans-serif;
        font-size: 146px;
        font-weight: 700;
        margin: 0;
        color: #232323;
    }

        .notfound .notfound-404 h1 > span {
            display: inline-block;
            width: 120px;
            height: 120px;
            background-image: url(/Content/images/open24/emoji.png);
            background-size: cover;
            -webkit-transform: scale(1.4);
            -ms-transform: scale(1.4);
            transform: scale(1.2);
            z-index: -1;
        }

.notfound h2 {
    font-family: montserrat,sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    padding: 0 0 15px;
    /* font-family: font-helveticaNeueBold; */
    color: #333;
}

.notfound p {
    font-family: montserrat,sans-serif;
    color: #787878;
    font-weight: 300;
    line-height: 25px;
    font-size: 16px;
}

.notfound a {
    font-family: montserrat,sans-serif;
    display: inline-block;
    padding: 10px 29px;
    font-weight: 700;
    background-color: #00a0ef;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    -webkit-transition: .2s all;
    transition: .2s all;
    font-size: 20px;
}
._mobile{
    display:none;
}
.wid100{
    width:100%

}
.i-after-adress i, .i-after-contact i {
    float: left;
    line-height: 30px;
    color: var(--op-main-color);
    position: absolute;
    font-size: 13px;
    left: 15px;
}
.i-after-contact font, .i-after-contact a {
    padding-left: 20px !important;
    color:white;
    line-height:30px;
}
.mar-bot-15{
    margin-bottom:15px;
}
.footer-title {
    font-size: 15px;
    margin-bottom: 5px !important;
}
.hotro247-r img{
    width:240px;
}
.hotro247-image {
    background: url(/Content/images/open24/ho-tro.png) no-repeat top center;
    background-size: auto 100%;
    height:240px;
}
.content-page-ho-tro247 .ct-group-dk{
    padding:30px 0px;
}
.hotro247-image h2 {
    text-align: center;
    margin:0px;
    font-weight:bold;
    padding:80px;
}
.hotro247-image h2 span{
    font-size:36px;
}
.hotro247-image h2 .lh2{
    font-size:50px;
}



:root {
    --highlight-font: orangered;
}

.op-header-menu {
    display: flex;
    flex-direction: row;
}

    .op-header-menu > li {
    }

        .op-header-menu > li:hover a::after {
            display: block;
        }

        .op-header-menu > li > a {
            padding: 7px 15px;
            border-bottom: 2px solid transparent;
            position: relative;
            color: white;
        }


            .op-header-menu > li > a::after {
                position: absolute;
                content: '';
                width: 25px;
                height: 3px;
                bottom: -3px;
                background: #FFD40C;
                display: none;
                left: calc(50% - 12px);
            }

        .op-header-menu > li:hover .op-drop-submenu {
            display: block;
        }
.op-drop-submenu {
    position: absolute;
    top: 32px;
    background: white;
    border: none;
    border-radius: 5px;
    display: none;
    width: unset;
    min-width: 320px;
    left: 0;
    box-shadow: 6px 6px 10px rgb(0 0 0 / 15%);
}
.op-drop-submenu-ul {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

    .op-drop-submenu-ul li {
        width: 100%;
        margin: 0
    }

        .op-drop-submenu-ul li > a {
            padding: 15px 7px;
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid transparent
        }

            .op-drop-submenu-ul li > a:hover {
                border-bottom: 2px solid orangered
            }

            .op-drop-submenu-ul li > a > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .op-drop-submenu-ul li > a > img {
                height: 30px;
                width: 30px;
                margin: 5px;
            }

            .op-drop-submenu-ul li > a > div > * {
                line-height: 19px;
                white-space: nowrap;
                width: 250px;
                color: black;
            }

            .op-drop-submenu-ul li > a > div > span {
                font-weight: bold;
            }

.op-signin, .op-trial {
    font-size: 13px;
    padding: 5px;
    line-height: 15px;
    border-radius: 3px;
    background: transparent;
    color: white;
    transition: all 0.4s ease
}

.op-trial {
    background: #414141;
    color: white
}

    .op-trial:hover, .op-trial:focus {
        color: white;
    }

.op-signin:hover, .op-signin:focus {
    color: white;
}

/*.op-signin:hover {
            background: rgba(0,0,0,0.15)
        }
        .op-signin:hover, .op-trial:hover {
            box-shadow: 0 0 6px rgba(0,0,0,0.15)
        }*/
.op-price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.wrap-btn-call-to-action.phone {
    position: fixed;
    right: 0;
    top: 329px;
    z-index: 999;
}
.wrap-btn-call-to-action a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 56px;
    border: 2px solid;
    border-color: #fff;
    border-radius: 100px;
}
    .wrap-btn-call-to-action a .number-phone {
        /*display: none;*/
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-right: 15px;
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    .wrap-btn-call-to-action a:hover {
        width: 200px;
        transition: width .25s cubic-bezier(.4,0,.2,1);
        /*background: #0097c4;*/
        background: var(--color-theme);
        border-radius: 100px;
    }

        .wrap-btn-call-to-action a:hover .number-phone{
            /*display: block;*/
            opacity: 1;
        }

.wrap-btn-call-to-action img {
    background: var(--color-theme);
    width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 50%;
}

.wrap-btn-call-to-action.zalo {
    position: fixed;
    right: 0;
    top: 409px;
    z-index: 999;
}

.flex {
    display: flex
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-end {
    justify-content: flex-end
}

.flex-column {
    flex-direction: column
}

.flex-between {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.flex-evenly {
    justify-content: space-evenly
}

.flex-around {
    justify-content: space-around
}

.flex-center {
    justify-content: center
}

@media (max-width:910px) {
    .gara-banner {
       
        overflow: hidden;
    }
    .op-price{
        flex-wrap:wrap
    }
    .op-header-menu > li > a {
        padding: 7px 4px;
    }
}
@media(max-width:510px){
    .op-header-menu > li > a::after{
        content:none;
    }
    .op-header-menu > li > a {
        width: 100vw;
        display: inline-block;
        font-size: 15px;
        border-bottom: 1px solid #fff;
    }
    .op-menu-mobile {
        display: block;
        color: white;
        font-size: 24px;
        padding: 0 5px;
    }
    ul.op-header-menu {
        position: fixed !important;
        top: 80px;
        left: -100vw;
        width: 100vw;
        background: var(--color-theme);
        flex-direction: column;
        height: calc(100vh - 50px);
        overflow: auto;
        transition: left 0.4s ease;
    }
        ul.op-header-menu.menu-show {
            left: 0;
            display:block;
        }

    .op-drop-submenu {
        position: relative;
        top: 0;
        display: block;
        flex-wrap: wrap;
        width: 100vw;
        min-width: unset;
        background: unset;
        box-shadow: none;
        color: white;
    }
    .op-drop-submenu-ul li > a > div > * {
      
        color: white;
    }

    .op-drop-submenu-ul li {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    
   /* .container {
        width: 979px;
    }*/
}
@media (max-width:510px){
    .op-banner  img {
        display: none;
    }
    .op-drop-submenu-ul li > a > div > * {
        color: white !important;
    }

}