*,ul,li{
    padding:0px;
    margin:0px;
    list-style:none
}
.fl{
    float:left;
    width:100%;
}
.content-addnews {
  
}
.border-bottom .form-new {
    border-bottom: 1px dotted;
}
.form-new {
    width: 100%;
}

    .form-new label {
        width: 150px;
        line-height: 30px;
        float: left;
    }

    .form-new .form-detail {
        width: calc(100% - 150px);
        float: left;
    }

    .form-filter label {
        width: 150px;
        font-size:18px;
        line-height:30px !important;
        float: left;
    }
.form-filter .form-detail {
    width: calc(100% - 150px);
    float: left;
}
.form-addnews {
    margin-bottom: 6px;
    position: relative;
}
    .form-addnews .title-add {
        line-height:30px;
    }

.select-control {
    width: 100%;
}
.btn-file {
    position: relative;
    overflow: hidden;
    background: #54799e;
    color: white;
    line-height: 22px;
    font-size: 15px !important;
    width: 110px;
}
.anh-icon {
    width: 70px;
    height: 60px;
    border: 1px solid #ccc;
    text-align: center;
}
    .anh-icon i {
        margin-top: 20px;
        font-size: 20px;
        width: 20px;
    }
.titie-lhkd {
    padding-bottom: 10px;
}
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        opacity: 0;
        background: none repeat scroll 0 0 transparent;
        cursor: inherit;
        display: block;
    }
.radio-addnews{
    width:100px;
    float:left;
}
.icon-add-new-thead {
    font-size: 16px;
    color: #337ab7;
}
.btn-updata {
    margin-right: 5px;
    z-index: 0;
    display: inline-block;
    background: #5dba00;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 15px;
    white-space: nowrap;
    border: none;
    vertical-align: middle;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}
.btn-green {
    background: #32b7b3;
}
.btn-blue-b {
    background: #295e63;
}
table,.table-reponsive {
    width: 100%;
    overflow:auto;
}
    table tr th {
        padding: 7px;
        background: #d1d2d9;
        position: relative;
    }
.icon-plus {
    position: absolute;
    right: 14px;
    top: 1px;
    background: white;
    width: 33px;
    height: 32px;
    border-left: 1px solid #ccc;
    text-align: center;
    padding-top: 7px;
}
#myModal1 .form-wrap {
    float: right;
    width: 400px;
}
#myModal1 label {
    line-height:30px;
}
.modal-footer{
    border:none;
    margin-bottom:0px;
}
.editnews {
    padding: 15px;
}
.modal-lg {
    margin: 30px auto;
}
.page ul {
    float: left;
    padding-right: 10px;
}
 .page ul li {
    float: left;
}
.page {
    float: left;
    padding: 15px;
}
    .page a {
        border: none;
        border-radius: 2px;
        float: left;
        padding: 3px 9px !important;
        min-width: 18px;
    }
.total-recos {
    float: left;
    line-height: 27px;
}
.page ul li .click {
    color: white;
    background: #5dba00;
    text-decoration: none;
}
.list-groupnews button {
    cursor: pointer;
    float: left;
    width: 25px;
    height: 28px;
    margin: 5px 1px 5px 5px;
    padding: 0;
    border: 0;
    background: 0 0;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    color: #707070;
}
    .list-groupnews button .fa-minus {
        display: none;
    }
.list-groupnews li {
    position: relative;
    margin: 0;
     padding: 0; 
    min-height: 20px;
    line-height: 20px;
}
  .list-groupnews li .group-title, .node-tree {
        min-height: 38px;
        margin: 5px 0;
        padding: 8px 12px;
        background: #F8FAFF;
        border: 1px solid #DAE2EA !important;
        color: #7C9EB2;
        text-decoration: none;
        font-weight: 700;
    }
    .list-groupnews li ul {
        padding-left: 30px;
        display:none;
    }
   .list-groupnews li ul li ul {
       
        display: none;
    }
.edit-delete a {
    margin: 0 3px;
    font-size: 15px;
}
.list-img img{
    margin:5px;
}
.modal-body label {
    float: left;
    width: 20%;
    line-height: 33px;
}
.form-wrap{
    float:left;
    width:80%;
}
.cke_contents{
    height:400px!important;
}
.tr-hide{
    display:none;
}
.block {
    display: table-row!important;
}
.page-link input{
    border-radius:0px;
}
.pagination{
    margin:0px;
}
.recost span {
    float: left;
    width: 90px;
    line-height: 38px;
}
.recost select {
    float: left;
    width: 90px;
}
.page-link input{
    border-left:none;
}
#myTab {
    margin-bottom: 15px;
}
.modal-header {
    background: #2e4761;
}
.modal-header h4{
    color:white!important;
}
.right_col h3 {
    font-size:20px;
}
.namestore{
    float:left;
}
.tr-hide  label{
    float:left;
    padding-right:10px;
    font-weight:400;
}
.deatailstore{
    padding-top:25px!important;
}
.btn-red {
    background: #ff6464;
}
.btn-blue-b {
    background: #295e63;
}
/*.list-group-item.active div {
    background: #2eb1d0;
    color:white;
}
.list-group-item.active, .list-group-item.active:hover{
    background: white;
}*/
.list-kv1 {
    position: absolute;
    top: 34px;
    left: 0px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-top: none;
    display: none;
    background: white;
    z-index: 99;
}
.seach-nhomhang {
    position: relative;
}
    .seach-nhomhang input {
        border: 1px solid #00a79d;
        width: 100%;
        outline: none;
        height: 30px;
        padding-left: 7px;
    }
.list-kv1 ul {
    max-height: 205px;
    overflow: scroll;
    overflow-x: hidden;
}
.list-kv1 li {
    line-height: 27px;
    padding-left: 7px;
}
.seach-nhomhang i {
    position: absolute;
    top: 8px;
    color: #999;
    right: 10px;
}
.resdown .fa-caret-up{
    display:none;
}
.item-statistics {
    width: 25%;
    height: 135px;
    color: #555;
    background-color: #FFF;
    padding: 8px 3px 6px 9px;
    border: 1px dotted;
    border-color: #D8D8D8 !important;
    position: relative;
    float: left;
    border-right: none;
}
.icon-statistics {
    width: 130px;
    float: left;
    height: 100%;
    padding-top: 30px;
    padding-left: 15px;
}
    .icon-statistics i {
        font-size: 50px;
    }
.content-statistics {
    font-size: 13px;
    text-align: left;
    line-height: 21px;
    width: calc(100% - 130px);
    position: relative;
    float: left;
    padding-top: 30px;
}
.number-statistics {
    font-size: 43px;
    margin: 2px 0 4px;
    position: relative;
}
.success-statistics {
    position: absolute;
    right: 0px;
    top: 11px;
    color: #ABBAC3;
    font-size: 13px;
    padding-right: 10px;
    padding-top: 3px;
}
.bor {
    border-right: 1px solid #D8D8D8 !important
}
.name-statistics {
    padding-top: 20px;
    font-size:20px;
}
.badge {
    background-color: transparent;
    border-radius: 0px;
}

#selectedType, #selectedFilter, #selectedCountryName,.right_col #selected {
    width: 135px;
    float: left;
    margin-right: 5px;
}
#selectNam, #selectThang, #selectQuy {
    width: 80px;
    float: left;
    margin-right: 5px;
}
#datetimepicker6, #datetimepicker7 {
    width: 180px;
    float: left;
    margin-right: 5px;
}
.w49l {
    float: left;
    width: 50%;
    padding-right: 10px;
}
.w49r {
    float:left;
    width:50%;
    padding-left:10px;
}
.title-admin {
    width: 45%;
    float: left;
}
.title-adminright {
    width: 55%;
    padding-top: 0.5%;
    float: right;
}
.panel-heading {
    height:54px;
}
.title-adminright {
    padding-top: 0px;
}
.list-menu {
    display: none;
    float: left;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 20px;
}
.close-menu {
    position: absolute;
    right: -31px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #ccc;
    padding-top: 6px;
    display:none;
}
.panel-heading {
    padding: 10px 0px 10px 15px;
}
.tr-filter td{
    position:relative !important;
}
    .tr-filter td input, .tr-filter td select {
        height: 30px;
    }
.leftl-hkd {
    width: 190px;
    height: 90px;
    float: left;
}
.leftl-hkd img{
    width: 100%;
    height: 100%;
}
.right-hkd {
    width: calc(100% - 190px);
   float:right;
   padding-left:15px;
}
.name-lhkd {
    padding: 10px 0px;
    font-weight: bold;
}
.table-detail tr th{
    background:none;
}
.list-bt li {
    float: left;
    width: 109px;
    position: relative;
    height: 101px;
    margin-right: 16px;
    background: #f1f2f2;
    border: 1px solid #ccc;
}
.list-bt{
    margin-top:20px;
} .list-bt li img {
    width: 100%;
    height: 100%;
}
@media(max-width:1366px) {
    .right-ipw {
        width: 100%;
        padding-top: 20px;
    }
}
@media(max-width:1025px) {
    .item-statistics {
        width: 50%;
    }

    .right_col h3 {
        font-size: 15px;
    }

   
}
@media(max-width:768px) {
    .panel-heading {
        height: 120px !important;
    }
}
@media(max-width:415px) {
    .item-statistics {
        width: 100%;
    }
    .right_col h3 {
        font-size: 14px;
    }
    .item-statistics {
        border: 1px solid #D8D8D8;
        margin-bottom:10px;
    }
    .w49r, .w49l{
        width: 100%;
        padding: 0px;
    }
    .title-admin {
        width: 100%;
    }

    .title-adminright {
        width: 100%;
        padding: 30px 0px 10px 0px;
    }
    #table-filter, .pull-right .btn-updata, .btnupdate {
        display: none;
    }
    .number-statistics {
        font-size: 35px;
    }
    .item-statistics {
        height: 120px;
    }
    .icon-statistics {
        padding-top: 26px;
    } .content-statistics {
        padding-top: 21px;
    }
    .close-menu,.list-menu {
        display: block;
    }
    .pagination li:first-child{
        width:100%;
    }
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: #fff !important
}
.form-add input, .form-add textarea{
    width:100%;
    border-radius:0px ;
}
.floatleft {
    float: left;
    width: 100% !important;
}
.dropdown-menu {
    border: medium none;
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#lstNewsGroup {
    max-height: 230px;
    overflow: auto;
}

.selec-person ul li {
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
    line-height: 32px;
    font-size: 12px;
    padding-left: 15px;
}

    .selec-person ul li .text-tree:hover {
        color: #26B99A;
    }
.text-tree i {
    width:10px;
}
.text-tree {
    padding-left:5px;
    width:calc(100% - 10px);
    float: left;
}
.seo-link {
    display: block;
    word-wrap: break-word;
    color: #006621;
    line-height: 16px;
    font-size: 16px;
    margin-top: 10px;
}