<div class="modal fade" id="modalPopuplgDatHang">
    <div class="modal-dialog modal-md  modal-lgmax " role="document">
        <div class="modal-content draggable">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">
                    Chọn hóa đơn đặt hàng
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid nopadding">
                    <div class="col-md-3 col-sm-12 col-xs-12 nopadding">
                        <div class="leftTitle floatleft">Tìm kiếm</div>
                        <aside class="boxLeftCmodal ">
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Hóa đơn, khách hàng, biển số xe" id="txtMaHoaDonDH"
                                               data-bind="value: filterMaHD, valueUpdate: 'afterkeydown'">
                                    </div>
                                </li>
                            </ul>
                        </aside>
                        <div class="leftTitle floatleft">Thời gian</div>
                        <aside class="boxLeftCmodal ">
                            <ul>
                                <li>
                                    <div class="form-group floatleft">
                                        <div class="floatleft form-wrap ">
                                            <input type="text" class="form-control datepicker_mask" placeholder="Từ ngày"
                                                   data-bind="value: filterFromDateDH, valueUpdate: 'afterkeydown',  click: formatFromDate">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group floatleft">
                                        <div class="floatleft form-wrap ">
                                            <input type="text" class="form-control datepicker_mask" placeholder="Đến ngày"
                                                   data-bind="value: filterToDateDH, valueUpdate: 'afterkeydown', click: formatToDate">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </aside>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="table-reponsive">
                            <table>
                                <tr>
                                    <th>Mã báo giá</th>
                                    <th>Thời gian</th>
                                    <th>Khách hàng</th>
                                    <th>Tổng cộng</th>
                                    <th>Trạng thái</th>
                                    <th>&nbsp;</th>
                                </tr>
                                <tbody data-bind="foreach: HoaDonDHs">
                                    <tr>
                                        <td data-bind="text: MaHoaDon"></td>
                                        <td data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm:ss') "></td>
                                        <td data-bind="text: TenDoiTuong"></td>
                                        <td data-bind="text: formatNumber(PhaiThanhToan)"></td>
                                        <td data-bind="text: TrangThaiText"></td>
                                        <td>
                                            <a href="" class="choose-order" data-bind="click: $parent.clickXuLiDonHang"><i class="fa fa-check"></i> Chọn</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="page">
                            @*<div class="pull-right">
                                <a href="javascript:void(0)" data-bind="visible: DH_IsPrev"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="visible: DH_IsPrev"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                <ul class="list-page" data-bind="foreach: DH_ListPage, visible: DH_ListPage().length > 1">
                                    <li data-bind="click: $root.GoToPageDH">
                                        <a href="javascript:void(0)" data-bind="text: $data, css:{'click': $root.currentPageDH() + 1 === $data}"></a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0)" data-bind="visible: DH_IsNext"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="visible: DH_IsNext"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                <div class="total-recos" style="margin-top: 4px;"
                                     data-bind="text: DH_PageView">
                                </div>
                            </div>*@
                            <div class="pull-right">
                                <a href="javascript:void(0)" data-bind="click: $root.StartPageDH, visible: VisibleStartPageDH"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="click: $root.BackPageDH, visible: VisibleStartPageDH "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                <ul data-bind="foreach: PageListDH">
                                    <li>
                                        <a href="javascript: void(0)" data-bind="text: pageNumber, click: $root.GoToPageDH, css: $root.GetClassDH($data)"></a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0)" data-bind="click: $root.GoToNextPageDH, visible: VisibleEndPageDH "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="click: $root.EndPageDH, visible: VisibleEndPageDH "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                <div class="total-recos">
                                    Hiển thị <span data-bind="text: fromitem"></span> - <span data-bind="text: toitem"></span> trên tổng số
                                    <span data-bind="text: TotalRecordDH"></span> hóa đơn.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


"<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tbody>
        <tr>
            <td rowspan="3" style="width: 15%; text-align: center;">
                <span style="font-size:12px;">
                    <span style="font-family:Tahoma;"><img data-bind="attr: {src: InforHDprintf().LogoCuaHang}" style="width:100%" /></span>
                </span>
            </td>
            <td rowspan="3" style="width: 5%; text-align: center;">&nbsp;</td>
            <td style="width: 90%;">
                <span style="font-size:12px;">
                    <span style="font-family:Tahoma;">
                        T&ecirc;n cửa h&agrave;ng:
                        <span data-bind="text: InforHDprintf().TenCuaHang"></span>
                    </span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-size:12px;"><span style="font-family:Tahoma;">Điện thoại: <span data-bind="text: InforHDprintf().DienThoaiChiNhanh"></span></span></span>
            </td>
        </tr>
        <tr><td>Đ/c: <span data-bind="text: InforHDprintf().DiaChiCuaHang"></span></td></tr>
    </tbody>
</table><div style="border-bottom:1px dashed black;">&nbsp;</div><div style="text-align: center;"><span style="font-size:12px;"><span style="font-family:Tahoma;"><strong>HO&Aacute; ĐƠN SỬA CHỮA</strong></span></span></div><div>
    <table style="width:100%;">
        <tbody>
            <tr><td><strong><span style="font-size:12px;"><span style="font-family:Tahoma;">Số chứng từ: <span data-bind="text: InforHDprintf().MaHoaDon"></span></span></span></strong></td><td><strong>Phiếu sửa chữa:</strong> <span data-bind="text: InforHDprintf().MaPhieuTiepNhan"></span></td></tr>
            <tr><td><strong><span style="font-size:12px;"><span style="font-family:Tahoma;">Ng&agrave;y chứng từ: <span data-bind="text: InforHDprintf().NgayLapHoaDon"></span></span></span></strong></td><td><strong>Ng&agrave;y v&agrave;o xưởng:</strong> <span data-bind="text: InforHDprintf().NgayVaoXuong"></span></td></tr>
            <tr><td><strong>NV lập phiếu</strong>: <span data-bind="text: InforHDprintf().NhanVienBanHang"></span></td><td>&nbsp;</td></tr>
        </tbody>
    </table>&nbsp;<table style="width:100%;">
        <thead><tr><th scope="col" style="text-align: left;">1. Th&ocirc;ng tin xe</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th><th scope="col">&nbsp;</th></tr></thead>
        <tbody>
            <tr><td>Biển số:</td><td><span data-bind="text: InforHDprintf().BienSo"></span></td><td>Mẫu xe:</td><td><span data-bind="text: InforHDprintf().TenMauXe"></span></td></tr>
            <tr><td>Số khung:</td><td><span data-bind="text: InforHDprintf().SoKhung"></span></td><td>H&atilde;ng xe:</td><td><span data-bind="text: InforHDprintf().TenHangXe"></span></td></tr>
            <tr><td>Số m&aacute;y:</td><td><span data-bind="text: InforHDprintf().SoMay"></span></td><td>Loại xe:</td><td><span data-bind="text: InforHDprintf().TenLoaiXe"></span></td></tr>
            <tr><td>Hộp số:</td><td><span data-bind="text: InforHDprintf().HopSo"></span></td><td>Năm sx:</td><td><span data-bind="text: InforHDprintf().NamSanXuat"></span></td></tr>
            <tr><td>Dung t&iacute;ch:</td><td><span data-bind="text: InforHDprintf().DungTich"></span></td><td>M&agrave;u sơn:</td><td><span data-bind="text: InforHDprintf().MauSon"></span></td></tr>
            <tr><td>Số km v&agrave;o:</td><td><span data-bind="text: InforHDprintf().SoKmVao"></span></td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </tbody>
    </table><table style="width:100%;">
        <thead><tr><th scope="col" style="text-align: left;">2. Chủ xe</th><th scope="col">&nbsp;</th></tr></thead>
        <tbody>
            <tr><td>T&ecirc;n chủ xe</td><td><span data-bind="text: InforHDprintf().ChuXe"></span></td></tr>
            <tr><td>SĐT:</td><td><span data-bind="text: InforHDprintf().ChuXe_SDT"></span></td></tr>
            <tr><td>Địa chỉ</td><td><span data-bind="text: InforHDprintf().ChuXe_DiaChi"></span></td></tr>
            <tr><td>Email:</td><td><span data-bind="text: InforHDprintf().ChuXe_Email"></span></td></tr>
        </tbody>
    </table>&nbsp;<table style="width:100%;">
        <thead><tr><th scope="col" style="text-align: left;">3. Kh&aacute;ch h&agrave;ng</th><th scope="col">&nbsp;</th></tr></thead>
        <tbody>
            <tr><td>T&ecirc;n kh&aacute;ch h&agrave;ng:</td><td><span data-bind="text: InforHDprintf().MaDoiTuong"></span> - <span data-bind="text: InforHDprintf().TenDoiTuong"></span></td></tr>
            <tr><td>SĐT:</td><td><span data-bind="text: InforHDprintf().DienThoaiKhachHang"></span></td></tr>
            <tr><td>Địa chỉ:</td><td><span data-bind="text: InforHDprintf().DiaChiKhachHang"></span></td></tr>
            <tr><td><strong>Li&ecirc;n hệ</strong></td><td>&nbsp;</td></tr>
            <tr><td>T&ecirc;n người li&ecirc;n hệ</td><td><span data-bind="text: InforHDprintf().TenLienHe"></span></td></tr>
            <tr><td>SĐT:</td><td><span data-bind="text: InforHDprintf().SoDienThoaiLienHe"></span></td></tr>
        </tbody>
    </table> &nbsp;<table style="width:100%;">
        <thead><tr><th scope="col" style="text-align: left;">4. Bảo hiểm</th><th scope="col">&nbsp;</th></tr></thead>
        <tbody>
            <tr><td>T&ecirc;n bảo hiểm:</td><td><span data-bind="text: InforHDprintf().TenBaoHiem"></span></td></tr>
            <tr><td>SĐT:</td><td><span data-bind="text: InforHDprintf().BH_SDT"></span></td></tr>
            <tr><td>Địa chỉ:</td><td><span data-bind="text: InforHDprintf().BH_DiaChi"></span></td></tr>
            <tr><td>Email:</td><td><span data-bind="text: InforHDprintf().BH_Email"></span></td></tr>
            <tr><td><strong>Li&ecirc;n hệ</strong></td><td>&nbsp;</td></tr>
            <tr><td>T&ecirc;n li&ecirc;n hệ:</td><td><span data-bind="text: InforHDprintf().BH_TenLienHe"></span></td></tr>
            <tr><td>SĐT:</td><td><span data-bind="text: InforHDprintf().BH_SDTLienHe"></span></td></tr>
        </tbody>
    </table><br /><strong>5.&nbsp;</strong>
</div><div>
    <table style="width:100%;">
        <thead><tr><th scope="col" style="width: 5%;">STT</th><th scope="col">T&ecirc;n h&agrave;ng</th><th scope="col">SL</th><th scope="col">Đơn gi&aacute;</th><th scope="col">Thanh to&aacute;n</th><th scope="col">Ghi ch&uacute;</th></tr></thead>
        <tbody data-bind="foreach: CTHoaDonPrint().filter(x=> x.LaHangHoa)">
            <tr data-bind="visible: $index()===0">
                <td colspan="6" style="width: 5%;"><strong>Phần vật tư </strong></td>
            </tr>
            <tr data-bind="visible: $index()===0">
                <td style="width: 5%;"><span data-bind="text: SoThuTu"></span></td>
                <td>
                    <span data-bind="text: TenHangHoa"></span>
                </td>
                <td><span data-bind="text: SoLuong"></span></td>
                <td>
                    <span data-bind="text: DonGia"></span>
                </td>
                <td><span data-bind="text: formatNumber(ThanhToan)"></span></td>
                <td>
                    <span data-bind="text: GhiChu"></span>
                </td>
            </tr>
            <tr data-bind="visible: $index() === $root.CTHoaDonPrint().filter(x=> x.LaHangHoa).length - 1">
                <td colspan="4" rowspan="1" style="width: 5%;"><strong>Tổng</strong></td>
                <td>
                    <strong><span data-bind="text: $root.InforHDprintf().TongTienPhuTung"> </span></strong>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody> x.LaHangHoa)">
    </table><table style="width:100%;">
        <tbody data-bind="foreach: CTHoaDonPrint().filter(x=> x.LaHangHoa=== false)">
            <tr data-bind="visible: $index()===0">
                <td colspan="6">
                    <strong>Phần dịch vụ</strong> <strong></strong>
                </td>
            </tr>
            <tr>
                <td><span data-bind="text: SoThuTu"></span></td>
                <td>
                    <span data-bind="text: TenHangHoa"></span>
                </td>
                <td><span data-bind="text: SoLuong"></span></td>
                <td>
                    <span data-bind="text: DonGia"></span>
                </td>
                <td><span data-bind="text: formatNumber(ThanhToan)"></span></td>
                <td><span data-bind="text: GhiChu"></span></td>
            </tr>
            <tr data-bind="visible: $index() === $root.CTHoaDonPrint().filter(x=> x.LaHangHoa=== false).length - 1">
                <td colspan="4" rowspan="1">
                    <strong>Tổng</strong>
                </td>
                <td><strong><span data-bind="text: $root.InforHDprintf().TongTienDichVu"> </span></strong></td>
                <td>&nbsp;</td>
            </tr>
        </tbody> x.LaHangHoa=== false)">
    </table>
</div><p>&nbsp;</p>
<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
        <tr>
            <td style="text-align:right;">
                <span style="font-size:12px;"><span style="font-family:Tahoma;">Tổng cộng:</span></span>
            </td>
            <td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;"><span data-bind="text: InforHDprintf().TongTienHang"></span></span></span></td>
        </tr>
        <tr><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;">Giảm gi&aacute;:</span></span></td><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;"><span data-bind="text: formatNumber(InforHDprintf().TongGiamGia + InforHDprintf().KhuyeMai_GiamGia)"></span></span></span></td></tr>
        <tr><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;">Tổng phải trả:</span></span></td><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;"><strong><span data-bind="text: InforHDprintf().TongCong"></span></strong></span></span></td></tr>
        <tr><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;">Bảo hiểm chi trả:</span></span></td><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;"><span data-bind="text: InforHDprintf().PhaiThanhToanBaoHiem"></span></span></span></td></tr>
        <tr><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;">Kh&aacute;ch cần trả:</span></span></td><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;"><span data-bind="text: InforHDprintf().PhaiThanhToan"></span></span></span></td></tr>
        <tr><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;">Kh&aacute;ch thanh to&aacute;n:</span></span></td><td style="text-align:right;"><span style="font-size:12px;"><span style="font-family:Tahoma;"><span data-bind="text: InforHDprintf().DaThanhToan"></span></span></span></td></tr>
        <tr><td style="text-align:right;"><span style="font-size:12px;">C&ograve;n thiếu:</span></td><td style="text-align:right;"><span style="font-size:12px;"><span data-bind="text: InforHDprintf().TienKhachThieu"></span></span></td>


    </tbody> x.LaHangHoa)">
</table>
<table style="width:100%;">
    <tbody data-bind="foreach: CTHoaDonPrint().filter(x=> x.LaHangHoa=== false)"> 
    <tr data-bind="visible: $index()===0">
    <td colspan="6"><strong>Phần dịch vụ</strong> <strong>{TheoDichVu}</strong></td></tr>
    <tr><td><span data-bind="text: SoThuTu"></span></td><td>
        <span data-bind="text: TenHangHoa"></span></td><td>
        <span data-bind="text: SoLuong"></span></td><td><span data-bind="text: DonGia"></span></td>
        <td><span data-bind="text: formatNumber(ThanhToan)"></span></td><td><span data-bind="text: GhiChu"></span>
              </td></tr>
    <tr><td colspan="4" rowspan="1"><strong>Tổng</strong></td><td><strong>{TongTienDichVu}</strong></td><td>&nbsp;</td></tr>
        </tbody> x.LaHangHoa=== false)"></table>
                                                                    </tr></tbody>
</table><p>Tien thua: <span data-bind="text: InforHDprintf().TienThua"></span></p><p>POS: <span data-bind="text: InforHDprintf().TienATM"></span><br />CK: <span data-bind="text: formatNumber(InforHDprintf().ChuyenKhoan)"></span><br />Mat: <span data-bind="text: InforHDprintf().TienMat"></span><br />The: <span data-bind="text: InforHDprintf().TienTheGiaTri"></span></p><p>…"

