@using LogicalCK
@using System.Web.Configuration;
@{
	Layout = null;
	var imgPath = WebConfigurationManager.AppSettings["LogicalUpload.Directory"];
	var directory = new DirectoryInfo(Path.Combine(Server.MapPath(imgPath), Request["directory"]));
	var extensions = WebConfigurationManager.AppSettings["LogicalUpload.Extensions"];
}
@foreach (var file in directory.GetFilesByExtensions(extensions))
{
	<div class="thumbnail">
		<img src="/RichContent/Thumb/?image=@directory.Name\@file.Name" alt="thumb" title="@directory.Name/@file.Name" />
	</div>
} 