
@{
    ViewBag.Title = "SampleEditor";
}

<h2>SampleEditor</h2>

<div>
	<textarea id="txtBody"></textarea>
</div>

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script>
	//CKEDITOR.replace('txtBody');
	CKEDITOR.replace('txtBody', {
		filebrowserImageUploadUrl: '/RichContent/UploadImage',
		filebrowserBrowseUrl: '/RichContent/FileBrowser',
		filebrowserWindowWidth: 800,
		filebrowserWindowHeight: 600
	});
</script> 