<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="BanHang24vnContext" connectionString="metadata=res://*/BanHang24vn.csdl|res://*/BanHang24vn.ssdl|res://*/BanHang24vn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.124.92.81;initial catalog=BANHANG24;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="SsoftvnContext" connectionString="data source=103.124.92.81;initial catalog=SSOFT_KANGJINDEMO;persist security info=True;user id=sa;password=123asd!@#123;multipleactiveresultsets=True;application name=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="SsoftvnWebContext" connectionString="data source=103.124.92.81;initial catalog=SSOFTWEB_DEMOWEBSSOFT;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="0973474985" connectionString="Data Source=103.124.92.81;Initial Catalog=SSOFT_0973474985;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=123asd!@#123;MultipleActiveResultSets=True;Application Name=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="spa12112018" connectionString="data source=103.124.92.81;initial catalog=SSOFT_SPA12112018;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="NAKENHAIRSALON" connectionString="data source=103.124.92.81;initial catalog=SSOFT_NAKENHAIRSALON;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="vietmecgroup" connectionString="data source=103.124.92.81;initial catalog=SSOFT_VIETMECGROUP;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="winnieacademy" connectionString="data source=103.124.92.81;initial catalog=SSOFT_WINNIEACADEMY;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="sinhanhgroup" connectionString="data source=103.124.92.81;initial catalog=SSOFT_SINHANHGROUP;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="bactrantiensalon" connectionString="data source=103.124.92.81;initial catalog=SSOFT_BACTRANTIENSALON;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="20200904" connectionString="data source=103.124.92.81;initial catalog=SSOFT_20200904;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="nguyenhuudat" connectionString="data source=103.124.92.81;initial catalog=SSOFT_NGUYENHUUDAT;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="taythidanhvien" connectionString="data source=103.124.92.81;initial catalog=SSOFT_TAYTHIDANHVIEN;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="kayauto" connectionString="data source=103.124.92.81;initial catalog=SSOFT_KAYAUTO;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="garahungphat" connectionString="data source=103.124.92.81;initial catalog=SSOFT_GARAHUNGPHAT;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="THEFIRSTBEAUTYCENTER" connectionString="data source=103.124.92.81;initial catalog=SSOFT_THEFIRSTBEAUTYCENTER;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
  <add name="kangjindemo" connectionString="data source=103.124.92.81;initial catalog=SSOFT_KANGJINDEMO;persist security info=True;user id=sa;password=123asd!@#123;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
</connectionStrings>