<html>
    <head>
        <link href="~/Content/style.css" rel="stylesheet" />
        <title>Open24.vn - Hết hạn sử dụng phần mềm</title>
    </head>
<body>
  <div class="expire-top">
      <div class="img-expire">
            <img src="~/Content/images/expire/iocn-ex2.png" />
        </div>
  </div>
    <div class="expire-bottom">
      
    </div>
</body>
</html>
