
@{
    ViewBag.Title = "Open24.vn - Tổng quan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="progressBar" class="tiny-green"><div></div></div>
<style>
   
</style>
<div id="MainLayout">
    
</div>
