@{
    Layout = null;
}



<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="~/Content/Framework/Jquery/jquery/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link href="~/Content/images/open24.vn.png" type="image/gif" rel="icon">*@
    <script>
        if (location.hostname.indexOf("open24.vn") > 0 || location.hostname === "localhost") {
            document.head.insertAdjacentHTML('beforeEnd', '<link href="Content/images/open24.vn.png" type="image/gif" rel="icon">');
            document.head.insertAdjacentHTML('beforeEnd', '<title>Open24 - Đăng nhập</title>');
        }
        else {
            document.head.insertAdjacentHTML('beforeEnd', '<title>Đăng nhập</title>');
        }
    </script>
</head>
<body>
    <img class="wave" id="backgroundWave" src="~/Content/Login/img/wave_revert.png"  style="background: var(--color-theme)">
    <input hidden id="NganhNgheKinhDoanh" value="@ViewBag.IDNganhNgheKinhDoanh" />
    <div class="container">
        <div class="img">
            <img src="~/Content/Login/img/beauty-cover.png" id="coverNganhNghe">
    
        </div>
        <div class="login-content" style="flex-direction:column; justify-content:space-evenly">
            <div style="display: flex; flex-direction: column;" id="loginLogo">
                <img  src="~/Content/Login/img/logo-open24.svg" style="height:70px" alt="logo open24"/>
                <span>Quản lý những gì bạn muốn</span>
            </div>
            <div class="form">
                <h3 class="title">@ViewBag.TenCuaHang</h3>
                <div class="notilogin" id="txtLoginError"></div>
                <div id="loginArea" style="position:relative" class="info-area">
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Tài khoản</h5>
                            <input type="text" class="input" id="txtUser">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5>Mật khẩu</h5>
                            <input type="password" class="input" id="txtPassWord">
                        </div>
                    </div>
                    <div style="margin:15px 0; line-height:24px; display:flex; justify-content:space-between">
                        <label>
                            <input type="checkbox" id="remember_me" />
                            Ghi nhớ đăng nhập?
                        </label>
                        @*<a href="javascript:void(0)" id="btnQuenMatKhau" >Quên mật khẩu?</a>*@
                    </div>

                    <button id="btnDangNhap" class="btn btn-min250" style="background: var(--color-theme)">Đăng nhập</button>
                    <div class="ring load-dang-nhap" id="loadding-ring" >
                        <div class="ring-dang-nhap"> </div>
                    </div>
                </div>
                <div id="ForgotPassword" style="position:relative;" class="info-area" hidden>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Tài khoản</h5>
                            <input type="text" class="input" id="txtTaiKhoan">
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-at"></i>
                        </div>
                        <div class="div">
                            <h5>Email</h5>
                            <input type="text" class="input" id="txtEmail">
                        </div>
                    </div>

                    <button id="btnResetPassword" class="btn btn-min250" style="background: var(--color-theme);margin-bottom: 15px;">Lấy mật khẩu</button>
                    <button id="btnBack" class="btn btn-min250" style="background: var(--color-theme)">Quay lại</button>
                </div>
                <div id="LoadSetUp" class="info-area" hidden>
                    <div class=" load-set-up">
                        <i class="fa fa-cog fa-spin fa-3x fa-fw setup1" style=" "></i><br />
                        <i class="fa fa-cog fa-spin fa-3x fa-fw setup2"></i><br />
                        <i class="fa fa-cog fa-spin fa-3x fa-fw setup3" style=" "></i><br />

                    </div>
                    <div class="title-thong-bao">
                        <p>Quý khách vui lòng chờ trong giây lát</p>
                        <p>Hệ thống đang khởi tạo dữ liệu cho lần đăng nhập đầu tiên</p>
                    </div>
                </div>
                <div id="Loadsucces" class="info-area" hidden>
                    <div class=" load-set-up ">
                        <div class="load-succes">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>

                    </div>
                    <div class="title-thong-bao title-succes">
                        <p>Khởi tạo dữ liệu thành công!</p>

                    </div>
                </div>
               
            </div>
            <div id="loginInfo" style="flex-direction:column">
                <div style="line-height:2rem"> Tổng đài hỗ trợ: 0247 303 9333 - 0936 363 069</div>
                <div style="font-size: 12px; font-style: italic;">&copy; 2018-
                <script>document.write(new Date().getFullYear());</script> SSOFT VIET NAM, JSC.</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Content/Login/js/main.js"></script>

    <script>
        $(document).ready(function () {
            if (location.hostname.indexOf("open24.vn") > 0 || location.hostname === "localhost") {
                document.getElementById('loginLogo').style.display = "flex";
                document.getElementById('loginInfo').style.display = "flex";
            }
            else {
                document.getElementById('loginLogo').style.display = "none";
                document.getElementById('loginInfo').style.display = "none";
            }
            var nganhnghe = $("#NganhNgheKinhDoanh").val();
            switch (nganhnghe) {

                case "beauty":
                    document.documentElement.style.setProperty("--color-theme", "#A74AE6");
                    $("#coverNganhNghe").attr('src', "/Content/Login/img/beauty-cover.png")
                    break;

                case "gara":
                    document.documentElement.style.setProperty("--color-theme", "#FF7209");
                    $("#coverNganhNghe").attr('src', "/Content/Login/img/gara_car.png")
                    break;
                case "sale":
                    document.documentElement.style.setProperty("--color-theme", "#2C83EC");
                    $("#coverNganhNghe").attr('src', "/Content/Login/img/sale-cover.png")
                    break;
            }
            localStorage.removeItem('IdDonVi');
        });

        var _ipaddress = "";
        $.getJSON('https://jsonip.com/?callback=?', function (data) {
            _ipaddress = data.ip;
        });
        var isLogin = false;
        $(document).keyup(function (e) {
            if (e.which == 13) {
                if (isLogin === false) {
                    isLogin = true;
                    Login();
                }
            }
        });
        $('#btnDangNhap').on('click', function () {
            Login();
        });

        $('#btnQuenMatKhau').on('click', function () {
            $('#txtLoginError').text("Vui lòng nhập email để lấy lại mật khẩu!");
            $('#loginArea').toggle();
            $('#ForgotPassword').toggle();
        });

        $('#btnBack').on('click', function () {
            $('#loginArea').toggle();
            $('#ForgotPassword').toggle();
            $('#txtLoginError').text("");
        });

        function Login() {
            $.getJSON("/api/DanhMuc/NS_NhanVienAPI/CheckCreateDatabase", function (result) {
                if (result === true) {
                    $('#btnDangNhap').addClass("active");
                }
                else {
                    $('#loginArea').toggle();
                    $('#LoadSetUp').toggle();
                }

                var model = {
                    UserName: $('#txtUser').val(),
                    Password: $('#txtPassWord').val(),
                    Remember: $('#remember_me').is(":checked"),
                    Ipaddress: _ipaddress
                };
                $.ajax({
                    data: model,
                    url: "/Home/LoginNews",
                    type: 'POST',
                    dataType: 'json',
                    timeout: 1000 * 60 * 20,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (data) {

                        if (data.res === true) {
                            if (result !== true) {
                                $('#loginArea').hide();
                                $('#LoadSetUp').hide();
                                $('#Loadsucces').toggle();
                                setTimeout(function () { window.location.href = "/#/DashBoard"; }, 300);
                            }
                            else {
                                window.location.href = "/#/DashBoard";
                            }
                        }
                        else {
                            if (result === true) {
                                $('#btnDangNhap').removeClass("active");
                            }
                            else {
                                $('#loginArea').show();
                                $('#LoadSetUp').hide();
                            }
                            $('#txtLoginError').text(data.mess);
                        }
                        isLogin = false;
                    },
                    error: function (data, textStatus, errorThrown) {
                        if (textStatus == "timeout") {
                            console.log("Got timeout");
                        }
                        $('#btnDangNhap').removeClass("active");
                        isLogin = false;
                    }
                });

            }).fail(function () {
                alert("Đã xảy ra lỗi");
                $('#btnDangNhap').removeClass("active");
                isLogin = false;
            });
        }
        
    </script>
</body>
</html>
