@{
    Layout = null;
}
@using banhang24.Hellper
<!DOCTYPE html>

<html>
<head>
    <style>
        .checkin-page-wrap {
            padding: 0;
            flex-grow: 1;
            display: flex;
            width: 100%;
        }

        .boxes{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
        }
        .flex-col-md-4{
            width: 33.333%;
        }
        .checkin-page-wrap {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="checkin-page-wrap">
        <div class="boxes">
            <div id="box-nhanvien" class="flex-col-md-4">
                Nhân viên
            </div>
            <div id="box-hoadon" class="flex-col-md-4">
                Đang phục vụ
            </div>
            <div id="box-checkin" class="flex-col-md-4">
                Đang chờ
            </div>
        </div>
    </div>
</body>
</html>
