@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Open24.vn - Mật khẩu mới</title>

    <link rel="stylesheet" href="@Html.WriteRenderFile(Styles.Url("~/Content/CssFramework"))" />
    <link rel="stylesheet" href="@Html.WriteRenderFile(Styles.Url("~/Content/Open24Css"))" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
</head>
<html>
<body>
    <div id="wrapper">
        <div class="text-center" style="color:white">
            <h3 class="text-center pabot20">@TempData["Message"]</h3>
            <div class="floatleft padingtop">
                <button class="login" onclick="location.href = '@TempData["locationhref"]'">Đồng ý</button>
            </div>
        </div>
    </div>
</body>
</html>