@using banhang24.Hellper;
@using System.Web.Optimization
@{
    ViewBag.Title = "Open24.vn - Thông tin tài khoản";
    Layout = null;
}
<div class="profile-content">
    <h3 class="profile-title">Thông tin tài khoản người dùng</h3>
    <div class="container-fluid">
        <div class=" col-md-3 col-lg-2 col-xs-12">
            <div class="floatleft" data-bind="foreach: ThongTinNguoiDung" style=" position: relative; padding-top: 100%; ">
                <img style="width: 100%; border-radius: 50%; position: absolute; top: 0; right: 0; height: 100%; object-fit: cover;" data-bind="attr: {src: Open24FileManager.hostUrl + Avatar}" />
            </div>
            <div class="floatleft" data-bind="foreach: ThongTinNguoiDung">
                <h4 data-bind="text: TenNhanVien"></h4>
                <div class="form-group">
                    <label class="css-form-label"> Ngày sinh</label>
                    <div class="css-form-detail">
                        <span data-bind="text: moment(NgaySinh).format('DD/MM/YYYY')!='Invalid date'? moment(NgaySinh).format('DD/MM/YYYY'):''"> Ngày sinh</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="css-form-label">Địa chỉ</label>
                    <div class="css-form-detail">
                        <span data-bind="text: DiaChi"> </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="css-form-label">Số điện thoại</label>
                    <div class="css-form-detail">
                        <span data-bind="text: DienThoai"> Điện thoại</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="css-form-label"> Email</label>
                    <div class="css-form-detail">
                        <span data-bind="text: Email"> Email</span>
                    </div>
                </div>
                <button type="button" class="btn btn-main addHHH btn-main no-magrin pull-left" data-bind="click: $root.editThongTinNguoiDung" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus" aria-hidden="true"></i>  Sửa thông tin
                    </button>
            </div>
        </div>
        <div class=" col-md-9 col-lg-10 col-xs-12">
            <div class="floatleft">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#thongtinnaptien" role="tab" aria-controls="home" aria-selected="true">Thông tin nạp tiền</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#thongtinchuyentien" role="tab" aria-controls="profile" aria-selected="false">Thông tin chuyển tiền</a>
                    </li>
                </ul>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane active  in" style="position:relative" id="thongtinnaptien" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="op-object-detail-function">
                            <button type="button" class="btn btn-main addHHH btn-main no-magrin pull-right" data-bind="click:showpopupnaptien" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus" aria-hidden="true"></i>  Nạp tiền
                            </button>
                        </div>
                        <div class="table-reponsive">
                            <table class=" table-hover" id="myTable">
                                <thead>
                                    <tr>
                                        <th> Tên khách hàng</th>
                                        <th> Số tiền</th>
                                        <th> Ghi chú</th>
                                        <th> Ngày nạp</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: ListNapTien">
                                    <tr>
                                        <td data-bind="text: TenKhachHang"></td>
                                        <td data-bind="text: formatNumber(SoTien)"></td>
                                        <td data-bind="text: GhiChu"></td>
                                        <td data-bind="text: moment(NgayTao).format('DD/MM/YYYY hh:mm')!='Invalid date'? moment(NgayTao).format('DD/MM/YYYY hh:mm'):''"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="page">
                            <div class="flex flex-end">
                                <a href="javascript:void(0)" data-bind="click: $root.StartPage1, visible: VisibleStartPage1"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="click: $root.BackPage1, visible: VisibleStartPage1"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                <ul data-bind="foreach: PageList_Display1">
                                    <li>
                                        <a href="javascript:void(0)" data-bind="text: pageNumber, click: $root.GoToPageHD1, css: $root.GetClassHD1($data)"></a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0)" data-bind="click: $root.GoToNextPage1, visible: VisibleEndPage1"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="click: $root.EndPage1, visible: VisibleEndPage1"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                <div class="total-recos">
                                    Hiển thị <span data-bind="text: fromitem1"></span> - <span data-bind="text: toitem1"></span> trên tổng số
                                    <span data-bind="text: TotalRecord1"></span> giao dịch
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " style="position:relative" id="thongtinchuyentien" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="op-object-detail-function">
                            <button type="button" class="btn btn-main addHHH btn-main no-magrin pull-right" data-bind="click: showPopupChuyenTien" data-toggle="modal">
                                <i class="fa fa-plus" aria-hidden="true"></i>  Chuyển tiền
                            </button>
                        </div>
                        <div class="table-reponsive">
                            <table class=" table-hover" id="myTable">
                                <thead>
                                    <tr>
                                        <th> Người chuyển</th>
                                        <th> Người nhận</th>
                                        <th> Số tiền</th>
                                        <th> Loại giao dịch</th>
                                        <th> Ghi chú</th>
                                        <th> Thời gian</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: ListChuyenNhanTien">
                                    <tr>
                                        <td data-bind="text: NguoiChuyenTien"></td>
                                        <td data-bind="text: NguoiNhanTien"></td>
                                        <td data-bind="text: formatNumber(SoTien)"></td>
                                        <td data-bind="text: $root.IDNguoiDungCheck() === ID_NguoiNhanTien ? 'Nhận tiền' : 'Chuyển tiền'"></td>
                                        <td data-bind="text: GhiChu"></td>
                                        <td data-bind="text: moment(ThoiGian).format('DD/MM/YYYY hh:mm')!='Invalid date'? moment(ThoiGian).format('DD/MM/YYYY hh:mm'):''"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="page">
                            <div class="flex flex-end">
                                <a href="javascript:void(0)" data-bind="click: $root.StartPage, visible: VisibleStartPage"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="click: $root.BackPage, visible: VisibleStartPage "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                <ul data-bind="foreach: PageList_Display">
                                    <li>
                                        <a href="javascript:void(0)" data-bind="text: pageNumber, click: $root.GoToPageHD, css: $root.GetClassHD($data)"></a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0)" data-bind="click: $root.GoToNextPage, visible: VisibleEndPage "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" data-bind="click: $root.EndPage, visible: VisibleEndPage "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                <div class="total-recos">
                                    Hiển thị <span data-bind="text: fromitem"></span> - <span data-bind="text: toitem"></span> trên tổng số
                                    <span data-bind="text: TotalRecord"></span> giao dịch
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row  pull-right">
                <div style="width:350px;padding: 15px;background: #e6e6e6;margin: 15px 0;float: right;">
                    <div class="form-group" data-bind="visible: LaAdmin() === true">
                        <label class="css-form-label" style="width:200px">Tổng số tiền:</label> <div class="css-form-detail" style="font-weight: bold; text-align:right" data-bind="text: formatNumber(TongTienNap())">1.200.000 đ</div>
                    </div>
                    <div class="form-group">
                        <label class="css-form-label" style="width:200px">Tổng số tiền nhận:</label>
                        <div class="css-form-detail" style="font-weight: bold; text-align:right" data-bind="text: formatNumber(TongTienNhan())">800.000 đ</div>
                    </div>
                    <div class="form-group">
                        <label class="css-form-label" style="width:200px">Tổng số tiền chuyển:</label>
                        <div class="css-form-detail" style="font-weight: bold; text-align:right" data-bind="text: formatNumber(TongTienChuyen())">200.000 đ</div>
                    </div>
                    <div class="form-group">
                        <label class="css-form-label" style="width:200px">Tổng số dùng gửi tin:</label>
                        <div class="css-form-detail" style="font-weight: bold; text-align:right" data-bind="text: formatNumber(TongTienDungGuiTien())">200.000 đ</div>
                    </div>
                    <div class="form-group">
                        <label class="css-form-label" style="width:200px">Tổng số tiền còn lại:</label>
                        <div class="css-form-detail" style="font-weight: bold; text-align:right" data-bind="text: formatNumber(TongTienConLai())">1.800.000 đ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade op-js-modal" id="modalPopup_chuyentien">
    <div class="modal-dialog draggable">
        <div class="modal-content  ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <button class="close close-modal" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Tạo phiếu chuyển tiền</h4>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="col-sm-12 row nopadding-right">
                        <div class="form-group floatleft">
                            <label>Người gửi</label>
                            <div class="form-news" data-bind="text: TenTaiKhoanLogin()">
                                Lê Tĩnh
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Người nhận <span style="color:red">(*)</span></label>
                            <div class="form-news">
                                <select id="dllNguoiNhan" name="dllNguoiNhan" class="form-control" data-bind="options: ListNguoiDungNotLogin ? ListNguoiDungNotLogin : [],
                                                optionsText: 'TaiKhoan',
                                                optionsValue: 'ID', optionsCaption: '--Chọn người nhận--',
                                                value: newChuyenTien() ? newChuyenTien().ID_NguoiNhanTien : null "></select>
                            </div>
                        </div>
                        <div class="form-group floatleft" data-bind="with: newChuyenTien">
                            <label>Số tiền <span style="color:red">(*)</span></label>
                            <div class="form-news">
                                <input id="txtSoTienNhapChuyen" class="form-control" data-bind="value: SoTien" onkeyup="return formatNumberObj(this)" onkeypress="return keyPress(event)">
                            </div>
                        </div>
                        <div class="form-group floatleft" data-bind="with: newChuyenTien">
                            <label>Ghi chú</label>
                            <div class="form-news">
                                <textarea rows="2" data-bind="value: GhiChu"></textarea>
                            </div>
                        </div>
                        <div class="form-group floatleft" data-bind="with: newChuyenTien">
                            <label>Số dư hiện tại</label>
                            <label data-bind="text: formatNumber($root.TongTienConLai())"></label>
                        </div>
                    </div>
                    <div class="col-md-12 row magin-top-15 margin-botton-15  nopadding-right">
                        <button type="button" class="btn btn-cancel close-modal pull-right " data-dismiss="modal"><i class="fa fa-ban"></i>Bỏ qua</button>
                        <button type="button" class="btn btn-main pull-right" id="btnLuuChuyenTien" data-bind="click: addChuyenTien"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade op-js-modal" id="modalPopup_naptien">
    <div class="modal-dialog draggable">
        <div class="modal-content  ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <button class="close close-modal" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Tạo phiếu nạp tiền</h4>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="col-sm-12 row nopadding-right" style="margin-top:15px">
                        <div class="form-group floatleft" style="align-items:flex-start">
                            <label>Người nạp</label>
                            <div class="form-news" data-bind="text: TenTaiKhoanLogin()">
                                Lê Tĩnh
                            </div>
                        </div>
                        <div class="form-group floatleft" style="align-items:flex-start"
                             data-bind="with: newNapTien">
                            <label>Số tiền <span style="color:red">(*)</span></label>
                            <div class="form-news">
                                <input id="txtSoTienNap" class="form-control" data-bind="value: SoTien" onkeyup="return formatNumberObj(this)" onkeypress="return keyPress(event)">
                            </div>
                        </div>
                        <div class="form-group floatleft" style="align-items:flex-start"
                             data-bind="with: newNapTien">
                            <label>Ghi chú</label>
                            <div class="form-news">
                                <textarea rows="2" data-bind="value: GhiChu"></textarea>
                            </div>
                        </div>
                        <div class="form-group floatleft" style="align-items:flex-start">
                            <label>Số dư hiện tại</label>
                            <label data-bind="text: formatNumber($root.TongTienConLai())"></label>
                        </div>
                    </div>
                    <div class="col-md-12 row magin-top-15 margin-botton-15  nopadding-right">
                        <button type="button" class="btn btn-cancel close-modal pull-right " data-dismiss="modal"><i class="fa fa-ban"></i>Bỏ qua</button>
                        <button type="button" class="btn btn-main pull-right" id="btnLuuChuyenTien" data-bind="click: addNapTien"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.profile-tabs-header').on('click', 'li', function () {
        var data = $(this).data('id');
        $('.profile-tabs-header li').each(function () {
            if (data === $(this).data('id')) {
                $('#' + $(this).data('id')).show();
                $(this).find('label').removeClass('p-l-not-active');
            }
            else {
                $('#' + $(this).data('id')).hide();
                if (!$(this).find('label').hasClass('p-l-not-active')) {
                    $(this).find('label').addClass('p-l-not-active');
                }
            }
        });
    });
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed === 8 || keypressed === 127) {
                return;
            }
            return false;
        }
    }
</script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/Thietlap/ProfileND.js"></script>
