@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/abc")
}
<script src="~/Content/CkEditor/ckeditor.js"></script>
<div class="right_col" role="main">
    <div class="addnews fl">
        <h3>Thêm mới tuyển dụng</h3>
        <div class="content-addnews fl">
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Tiêu đề</label></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-bind="value: dbkoTitleRecruit"/>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Thể loại</label></div>
                <div class="col-md-9">
                    <select class="form-control" id="selCategoryRecruit" data-bind="options:GroupCateRecruit, optionsText: 'Name', optionsValue: 'ID'"></select>
                    <a href="#" class="icon-plus" data-toggle="modal" data-bind="click: popupInsertCateTypeRecruit">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a> 
                </div>
                <a href="#" class="icon-plus" data-toggle="modal" data-target="#myModal1">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Ảnh tuyển dụng</label></div>
                <div class="col-md-9">
                    <span class="btn  btn-file form-control">
                        Chọn ảnh <input type="file" name="file" id="file" data-bind="value: dbkoImageRecruit" class="inputfile" data-multiple-caption="{count} files selected" multiple="">
                    </span>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Mức lương</label></div>
                <div class="col-md-9">
                   <input type="text" class="form-control" data-bind="value: dbkoSalaryRecruit"/>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Địa chỉ</label></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-bind="value: dbkoAddressRecruit"/>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Kinh nghiệm</label></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-bind="value: dbkoExperienceRecruit"/>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Vị trí</label></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-bind="value: dbkoPositionRecruit"/>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Trình độ</label></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-bind="value: dbkoDegreeRecruit"/>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Lĩnh vự tuyển dụng</label></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-bind="value: dbkoTradesRecruit"/>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Thời gian tuyển dụng</label></div>
                <div class="col-md-9">
                    <input type="text" class="form-control datetimepicker" data-bind="value: dbkoExpirationDateRecruit"/>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Số lượng tuyển dụng</label></div>
                <div class="col-md-9">
                    <input type="text" class="form-control" data-bind="value: dbkoNumberOfRecruitsRecruit" />
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Mô tả</label></div>
                <div class="col-md-9">
                    <textarea class="form-control" rows="4" data-bind="value: dbkoSummaryRecruit"></textarea>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Content</label></div>
                <div class="col-md-9">
                    <textarea class="ckeditor" id="txtContentRecruit" ></textarea>
                </div>
            </div>

            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Gới tính</label></div>
                <div class="col-md-9">
                    <div class="radio-addnews">
                        <input type="radio" data-bind="checked: dbkoGenderRecruit, checkedValue: true"/> Nam
                    </div>
                    <div class="radio-addnews">
                        <input type="radio" data-bind="checked: dbkoGenderRecruit, checkedValue: false"/> Nữ
                    </div>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>Trạng thái</label></div>
                <div class="col-md-9">
                    <div class="radio-addnews">
                        <input type="radio" id="rdoStatus" data-bind="checked: dbkoStatusRecruit, checkedValue: true" /> Hiện thị
                    </div>
                    <div class="radio-addnews">
                        <input type="radio" id="rdoStatus1" data-bind="checked: dbkoStatusRecruit, checkedValue:false" /> Ẩn
                    </div>
                </div>
            </div>
            <div class="fl form-addnews">
                <div class="col-md-3 title-add"><label>&nbsp;</label></div>
                <div class="col-md-9">
                    <div class="pull-right">
                        <button class="btn-updata btn-blue-b"><i class="fa fa-ban"></i> Hủy</button>
                        <button class="btn-updata btn-green" data-bind="click: insertArticleRecruit"><i class="fa fa-floppy-o"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$(function () {
    //    $('.datetimepicker').datetimepicker();
    //});
</script>
<div class="modal fade" id="myModal1"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Sửa bài viết</h4>
            </div>
            <div class="modal-body">
                <div class="form-group floatleft">
                    <label class="form-label control-label ">Loại</label>
                    <div class="form-wrap">
                        <select class="form-control" id="selCateTypeRecruit" data-bind="options:GroupCateTypeRecruit, optionsText: 'Name', optionsValue: 'Position'"></select>
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label class="form-label control-label ">Thêm mới thể loại</label>
                    <div class="form-wrap">
                        <input type="text" class="form-control " data-bind="value: valCategoryTypeNameRecruit">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-updata btn-blue-b"><i class="fa fa-ban"></i> Hủy</button>
                <button class="btn-updata btn-green" data-bind="click: insertCateTypeRecruit"><i class="fa fa-floppy-o"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>