@model Model_banhang24vn.CustomView.UserRoleView
@{
    ViewBag.Title = "GroupPost";
    Layout = "~/Areas/AdminPage/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/bundles/Knockout")
    <script src="~/Assets/js/Admin/PostGroup.js"></script>
    <script src="~/Assets/js/Admin/TreeView/bootstrap-treeview.min.js"></script>
}
<div class="right_col">
    <h3>Danh sách nhóm bài viết</h3>
    <div class="panel panel-default" style=" height: 100%;">
        <div class="panel-heading" style="height: 60px;">
            <div class="pull-left">
                @if (Model.RoleInsert)
                {
                    <button class="btn-updata btn-green" data-bind="click: AddNewPostGroup"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Thêm mới nhóm</button>
                }
            </div>
            <div class="pull-right">

            </div>
        </div> 
        <div class="panel-body">
            <div id="tree"></div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color: black;"></h4>
            </div>
            <div class="modal-body">
                <div class="content-addnews fl">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <div class="content-addnews fl">

                            <div class="fl form-addnews">
                                @Html.Partial("PopupAlert")
                            </div>
                            <div class="fl form-addnews">
                                <div class="col-md-3 title-add"><Span>Tên nhóm</Span><span class="red">(*)</span></div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control"  data-bind="value: koPostName" />
                                </div>

                            </div>

                            <div class="fl form-addnews">
                                <div class="col-md-3 title-add"><Span>Nhóm cha</Span></div>
                                <div class="col-md-9">
                                    <select class="form-control" id="SelectParentId" data-bind="options:ListCbbGroupPost, optionsText: 'Name', optionsValue: 'ID'"></select>
                                </div>
                            </div>

                            <div class="fl form-addnews">
                                <div class="col-md-3 title-add"><Span>Mô tả</Span></div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="4" data-bind="value: koDescription"></textarea>
                                </div>
                            </div>

                            <div class="fl form-addnews">
                                <div class="col-md-3 title-add"><Span>Trạng thái</Span></div>
                                <div class="col-md-9">
                                    <form id='form-id'>
                                        <input id='watch-me' name='star' type='radio' data-bind="checked: koStatus, checkedValue: true" /> Hoạt động
                                        <input id='see-me' name='star' type='radio' data-bind="checked: koStatus, checkedValue: false" /> Không hoạt động
                                    </form>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="fl form-addnews">
                    <div class="col-md-3 title-add"><label>&nbsp;</label></div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            <button class="btn-updata btn-green" data-bind="click:SaveUpdatepost"><i class="fa fa-floppy-o"></i> Lưu</button>
                            <button type="button" class="btn-updata btn-blue-b" data-dismiss="modal"><i class="fa fa-ban"></i> Đóng</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>