<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title" id="myModalLabel">
            Thêm phòng/bàn
        </h4>
    </div>
    <div class="modal-body floatleft chinhanh-modal">
        <div class="form-group floatleft" data-bind="with: newViTri">
            <label class="form-label control-label req ng-binding">Tên phòng/bàn<span class="red">(*)</span></label>
            <div class="form-news">
                <input type="text" id="txtTenViTri" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" data-bind="value:TenViTri" required="">
                <p class="notyfi-none"></p>
            </div>
        </div>

        <div class="form-group floatleft">
            <label class="form-label control-label req ng-binding"> Nhóm<span class="red">(*)</span></label>
            <div class="form-news">
                <select id="ddlNhomVT" name="ddlNhomVT" class="form-control" data-bind=" options: NhomKhuVucs ? NhomKhuVucs : [],
                            optionsText: 'TenKhuVuc',
                            optionsValue: 'ID', optionsCaption: '---- Lựa Chọn ----',
                            value: newViTri ? newViTri().ID_KhuVuc : null "></select>
                <p class="notyfi-none-nhom"></p>
                <a  class="iptBtn op-js-themmoinhomhang" data-bind="click: themmoicapnhatkhuvuc" title="Thêm nhóm"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="form-group floatleft" data-bind="with: newViTri">
            <label class="form-label control-label ng-binding" style="width:130px">Ghi chú</label>
            <div class="form-news">
                <textarea rows="2" class=" ng-pristine ng-untouched ng-valid ng-empty" data-bind="value: GhiChu"> 
                   </textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <button type="button" class="btn-updata btn-green" id="luuViTri" data-bind="click: addViTri"> <img src="/Content/images/icon/Iconthemmoi-14.png"> Lưu</button>
            <button type="button" class="btn-updata btn-pink" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>

        </div>
    </div>
</div>
