
:root {
    --color-main: #0097c4;
}

body {
    font-size: 1rem;
}

._op24-lich-hen-otinform .op-lh-img {
    width: 150px;
    height: 105px;
    float: left;
    border-radius: 4px;
}

    ._op24-lich-hen-otinform .op-lh-img img {
        width: 100%;
    }

._op24-lich-hen-otinform .op-lh-detail {
    width: calc(100% - 150px);
    padding-left: 30px;
    float: left
}

._op24-lich-hen-otinform .op-lich-hen-head {
    width: 100%;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

._op24-lich-hen-otinform .op-lich-hen-content {
    width: 100%;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

._op24-lich-hen-otinform .op-lh-w70 {
    width: 65%;
    float: left;
    padding-right: 40px;
}

._op24-lich-hen-otinform .op-lh-w30 {
    width: 35%;
    float: left;
    padding-left: 15px;
}

._op24-lich-hen-otinform .frm-input-lh {
    width: 100%;
    float: left;
}

    ._op24-lich-hen-otinform .frm-input-lh label {
        width: 160px;
        float: left;
        line-height: 30px;
    }

    ._op24-lich-hen-otinform .frm-input-lh .form-ip-1, .frm-input-lh .form-ip-2 {
        width: calc(100% - 160px);
        float: left;
    }

._op24-lich-hen-otinform .form-ip-2 input {
    width: calc(100% - 200px);
    float: left;
    margin-left: 100px;
}

._op24-lich-hen-otinform .form-ip-2 select {
    width: 100px;
    float: left;
}

._op24-lich-hen-otinform .form-control {
    height: 31px;
}

._op24-lich-hen-otinform .lh-nhom {
    padding: 7px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

._op24-lich-hen-otinform .op-time-lh-head a {
    width: 25%;
    height: 50px;
    float: left;
    text-align: center;
    background: #ededee;
    color: black;
    padding-top: 6px;
    line-height: 15px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

    ._op24-lich-hen-otinform .op-time-lh-head a:last-child {
        border-right: 1px solid #ccc;
    }

    ._op24-lich-hen-otinform .op-time-lh-head a i {
        font-size: 16px;
        color: #ccc;
    }

._op24-lich-hen-otinform .op-time-lh-content, .op-time-lh-head {
    width: 100%;
    float: left;
}

    ._op24-lich-hen-otinform .op-time-lh-content .op-time-morning, .op-time-lh-content .op-time-afternoon, .op-time-lh-content .op-time-night {
        width: 100%;
        height: 100%;
        float: left;
    }

._op24-lich-hen-otinform .op-time-lh-left {
    width: 100px;
    float: left;
    text-align: center;
    height: 100%;
    margin-bottom: 10px;
}

._op24-lich-hen-otinform .op-time-lh-right {
    width: calc(100% - 100px);
    float: left
}

._op24-lich-hen-otinform .op-time-lh-content {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

._op24-lich-hen-otinform .op-time-lh-left button {
    width: 70px;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
}

._op24-lich-hen-otinform .op-time-select {
    width: 58px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin: 5px;
    height: 46px;
    padding-top: 5px;
}

    ._op24-lich-hen-otinform .op-time-select a {
        color: #ccc;
        line-height: 15px;
    }

        .op-time-select a label {
            font-size: 18px;
        }

._op24-lich-hen-otinform .no-padding {
    padding: 0px;
}

._op24-lich-hen-otinform .ac a {
    color: white !important;
}

._op24-lich-hen-otinform .ac {
    color: white !important;
    background: #0097c4 !important;
}

._op24-lich-hen-otinform .fl {
    width: 100%;
    float: left;
}

._op24-lich-hen-otinform ul {
    list-style-type: none;
    padding: 0px;
}

._op24-lich-hen-otinform a {
    text-decoration: none !important;
}

._op24-lich-hen-otinform .staff-perform a i {
    width: 30px;
    height: 30px;
    font-size: 18px;
    background: #71949d;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    color: black
}

._op24-lich-hen-otinform .tree-staff-perform li {
    WIDTH: auto;
    float: left;
    margin: 5px 5px 5px 0px;
    padding: 7px 30px 7px 7px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 4px;
}

    ._op24-lich-hen-otinform .tree-staff-perform li .staff-p-img {
        color: black;
    }

        ._op24-lich-hen-otinform .tree-staff-perform li .staff-p-img span {
            font-size: 1rem;
        }

        ._op24-lich-hen-otinform .tree-staff-perform li .staff-p-img i {
            color: #bac7dd;
            font-size: 18px;
            margin-right: 3px;
        }

    ._op24-lich-hen-otinform .tree-staff-perform li .fa-times {
        color: red;
        font-size: 14px;
        position: absolute;
        right: 5px;
        top: 3px;
    }

._op24-lich-hen-otinform .tree-staff-perform {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}

._op24-lich-hen-otinform .form-ip-1 textarea {
    width: 100%;
    border-radius: 4px;
}

._op24-lich-hen-otinform .tree-conpany, .tree-select-staff, .tree-conpany ul, .tree-select-staff ul {
    width: 100%;
    float: left;
}

    ._op24-lich-hen-otinform .tree-conpany ul, .tree-select-staff ul {
        width: 100%;
        max-height: 600px;
        float: left;
        overflow-y: auto;
    }

        ._op24-lich-hen-otinform .tree-conpany ul li .tree-number {
            width: 30px;
            float: left;
        }

            ._op24-lich-hen-otinform .tree-conpany ul li .tree-number span {
                /* width: 20px; */
                background: #58595b;
                color: white;
                padding: 5px;
                line-height: 30px;
            }

        ._op24-lich-hen-otinform .tree-conpany ul li, .tree-select-staff ul li {
            position: relative;
            width: 99%;
            float: left;
            padding-bottom: 10px;
            padding-top: 5px;
            border-bottom: 1px solid #ccc;
        }

            ._op24-lich-hen-otinform .tree-conpany ul li .tree-detail {
                width: calc(100% - 30px);
                float: left;
                padding-right: 15px;
            }

                ._op24-lich-hen-otinform .tree-conpany ul li .tree-detail p, .tree-select-staff ul li .tree-detail p {
                    margin: 0px;
                    line-height: 20px;
                    font-size: 1rem;
                }

                ._op24-lich-hen-otinform .tree-conpany ul li .tree-detail i, .tree-select-staff ul li .tree-detail i {
                    color: #0097c4;
                }

                /*._op24-lich-hen-otinform .tree-conpany ul li .tree-detail input[type=checkbox], .tree-select-staff ul li .tree-detail input[type=checkbox] {
                    position: absolute;
                    top: 10px;
                    right: 0px
                }*/

/*._op24-lich-hen-otinform ul li .tree-detail input[type=checkbox]:after {
    content: none !important
}*/

/*._op24-lich-hen-otinform ul li .tree-detail input[type=checkbox]:checked:after {
    content: none !important
}*/

/*._op24-lich-hen-otinform ul li .tree-detail input[type=checkbox]:before {
    content: "\f096";
    font-family: FontAwesome;
    background: white;
    font-size: 18px;
    color: #777;
}

._op24-lich-hen-otinform ul li .tree-detail input[type=checkbox]:checked:before {
    content: "\f046";
    font-family: FontAwesome;
    background: white;
    font-size: 18px;
    color: #0097c4;
}*/

._op24-lich-hen-otinform .tree-title-name {
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #0097c4;
}

._op24-lich-hen-otinform .op-lh-w70 h5, .op-lh-w30 h5 {
    font-weight: bold;
    padding-bottom: 10px;
}

._op24-lich-hen-otinform .gui-lich-hen {
    float: right;
    padding: 7px 15px 7px 15px;
    background: #0097c4;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

    ._op24-lich-hen-otinform .gui-lich-hen:hover {
        color: white;
    }

._op24-lich-hen-otinform .op-lich-hen-footer {
    width: 100%;
    margin-bottom: 30px;
    float: left;
}

._op24-lich-hen-otinform .tree-select-staff ul li .tree-detail {
    width: calc(100% - 45px);
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

._op24-lich-hen-otinform .tree-select-staff ul li .tree-image {
    width: 45px;
    height: 45px;
    float: left;
    border-radius: 4px;
    background: #bac7dd;
}

    ._op24-lich-hen-otinform .tree-select-staff ul li .tree-image i {
        color: white;
        font-size: 28px;
        /* margin: 0px auto; */
        padding-top: 8px;
        padding-left: 8px;
    }

._op24-lich-hen-otinform .tree-title {
    font-size: 1rem !important;
    font-weight: bold;
}

._op24-lich-hen-otinform .save-select-staff {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    height: 35px;
    line-height: 30px;
    background: #71949d;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

._op24-lich-hen-otinform .op-lh-detail p img {
    margin-right: 5px;
}

._op24-lich-hen-otinform .choose-person {
    width: 100%;
    float: left;
    border-radius: 4px;
    border: 1px solid #ccc;
    overflow: auto;
}

._op24-lich-hen-otinform .li-input-span {
    color: #333;
    line-height: 30px;
    text-align: left;
    width: auto !important;
    float: left;
    padding: 0px 7px;
    margin: 1px 0 1px 1px;
    background: #e9eaf2
}

    ._op24-lich-hen-otinform .li-input-span i {
        color: red;
    }

._op24-lich-hen-otinform .outselect {
    float: left;
    width: 100%;
    position: relative;
}

._op24-lich-hen-otinform .seach-nhomhang {
    position: relative;
}

    ._op24-lich-hen-otinform .seach-nhomhang input {
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        outline: none;
        height: 30px;
        padding-left: 15px;
    }

    ._op24-lich-hen-otinform .seach-nhomhang i {
        position: absolute;
        top: 8px;
        color: #999;
        line-height: 15px;
        right: 5px;
    }

._op24-lich-hen-otinform .selec-person {
    margin: 0px;
    border-top: 0px;
    border-radius: 0px;
    z-index: 99999;
    width: 100%;
}

    ._op24-lich-hen-otinform .selec-person ul {
        max-height: 230px;
        overflow: auto;
    }

        ._op24-lich-hen-otinform .selec-person ul li {
            cursor: pointer;
            width: 100%;
            text-align: left;
            padding-left: 10px;
            position: relative;
            line-height: 32px;
            font-size: 1rem;
            border-bottom: 1px dotted #d5d5d5;
        }

    ._op24-lich-hen-otinform .selec-person .fa-check {
        padding-right: 10px;
        color: #32b7b3;
        position: absolute;
        right: 0px;
        line-height: 30px;
        display: none;
        top: 0px;
    }

._op24-lich-hen-otinform .form-ip-so-luong label {
    width: 100px;
    float: left
}

._op24-lich-hen-otinform .form-ip-so-luong input {
    width: calc(100% - 100px);
    float: left
}

._op24-lich-hen-otinform .form-ip-so-luong {
    padding-left: 200px;
    float: left
}

/*._op24-lich-hen-otinform .check-theo-nhom[type=checkbox]:checked:after {
    content: "\f046";
    font-family: FontAwesome;
    background: white;
    font-size: 18px;
    color: #0097c4;
}*/

._op24-lich-hen-otinform .check-theo-nhom[type=checkbox]:after {
    content: "\f096";
    font-family: FontAwesome;
    background: white;
    font-size: 18px;
    color: black;
}

._op24-lich-hen-otinform .check-theo-nhom {
    margin-right: 5px !important;
}

._op24-lich-hen-otinform .time-hour {
    width: 100px;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

._op24-lich-hen-otinform .time-date {
    width: calc(100% - 200px);
    float: left;
    margin-left: 100px;
}

    ._op24-lich-hen-otinform .time-date input {
        float: right;
        width: calc(100% - 107px);
    }

    ._op24-lich-hen-otinform .time-date div {
        width: 110px;
        height: 31px;
        border-radius: 4px;
        float: left;
        background: #0097c4;
        color: white;
        position: absolute;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }

._op24-lich-hen-otinform .form-calender {
    border-radius: 4px;
    margin-top: 15px;
}

._op24-lich-hen-otinform .calender-hour {
    width: 50%;
    float: left;
    width: 50%;
    float: left;
    background: #e6f5fa;
    border-radius: 4px;
}

._op24-lich-hen-otinform .calender-date {
    width: 50%;
    float: left;
}

._op24-lich-hen-otinform .calender-hour ul li {
    width: 65px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    line-height: 30px;
    float: left;
    margin: 5px;
}

    ._op24-lich-hen-otinform .calender-hour ul li.active {
        background: #0097c4;
    }

        ._op24-lich-hen-otinform .calender-hour ul li.active a {
            font-weight: bold;
            color: white !important;
        }

._op24-lich-hen-otinform .calender-hour ul {
    width: 100%;
    float: left;
    height: auto;
    overflow: auto
}

._op24-lich-hen-otinform ._opwid100 {
    width: 100% !important;
    float: left;
}

._op24-lich-hen-otinform .fa-info-circle {
    right: -25px;
}
.resize-vertical {
    resize: vertical;
}

@media(max-width:1700px){
    ._op24-lich-hen-otinform .content-optin-lh {
        padding-left: 160px !important;
        padding-right: 160px !important;
    }
}
@media(max-width:1440px) {
    ._op24-lich-hen-otinform .content-optin-lh {
        padding-left: 110px !important;
        padding-right: 110px !important;
    }
}
@media (max-width: 1366px) {
    ._op24-lich-hen-otinform .content-optin-lh {
        padding-left: 160px !important;
        padding-right: 160px !important;
    }
}
@media (max-width: 1024px) {
    ._op24-lich-hen-otinform .content-optin-lh {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    ._op24-lich-hen-otinform .calender-hour ul li {
        width: 60px;
    }
    ._op24-lich-hen-otinform .time-date div {
        width: 90px;
    }
    ._op24-lich-hen-otinform .time-date input {
        width: calc(100% - 85px);
    }
    ._op24-lich-hen-otinform .form-ip-so-luong label {
        width: 90px;
    }
    ._op24-lich-hen-otinform .form-ip-so-luong input {
        width: calc(100% - 90px);
    }
}
@media (max-width: 768px) {
    ._op24-lich-hen-otinform .op-lh-w70 {
        width: 100%;
        padding-right: 0px;
    }
    ._op24-lich-hen-otinform .op-lh-w30 {
        width: 100%;
    }
    ._op24-lich-hen-otinform .calender-hour ul li {
        width: 58px;
    }
}