root {
	--color-theme: #2C83EC;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, Arial, sans-serif;
	overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

.form{
	width: 360px;
	display:flex;
	flex-direction:column;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content h3 {
	margin: 15px 0 50px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 1.4rem;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color:var(--color-theme);
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -10px;
	font-size: 15px;
	z-index:2;
}

.notilogin {
	color: var(--color-theme);
	width: 100%;
	height: 18px;
	margin-bottom: 20px;
}

.load-set-up {
	z-index: 9999999;
	position: relative;
	border-radius: 50%;
	width: 180px;
	height: 200px;
	font-size: 18px;
	color: var(--color-theme);
	border-radius: 50%;
	line-height: 130px;
	margin: auto;
}
.title-thong-bao {
	text-align: center;
	font-size: 18px;
	color: var(--color-theme);
}

.load-succes {
	height: 180px;
	width: 180px;
	border: 8px solid var(--color-theme);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100px;
}

@keyframes moving {
	0% {
		left: -75px;
	}

	100% {
		left: 120%;
	}
}

@keyframes animateCircle {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
.setup1 {
	margin-top: 12px;
	position: absolute;
	font-size: 80px !important;
	right: 5px;
	top: 5px;
}

.setup2 {
	font-size: 80px !important;
	position: absolute;
	top: 110px;
	right: 10px;
}

.setup3 {
	position: absolute;
	font-size: 120px !important;
	top: 40px;
	left: -30px;
}

.input-div.focus > .i > i{
	color: var(--color-theme);
}

.input-div > div > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: Arial, Helvetica, Arial, sans-serif;
	z-index: 1;
}
.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

	a:hover {
		color: var(--color-theme);
	}
.btn {
	display: block;
	border-radius: 25px;
	outline: none;
	border: none;
	font-size: 1.2rem;
	color: #fff;
	font-family: Arial, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
	margin: auto;
	position: relative;
	overflow: hidden;
	min-height: 40px;
}
.btn-50p{
	min-width: 40%;
}

.btn-min250 {
	min-width: 250px;
	
}
	/*.btn::before {
		content: '';
		border-radius: 1000px;
		min-width: calc(250px + 2px);
		min-height: calc(40px + 2px);
		border: 1px solid var(--color-theme);
		box-shadow: 0 0 15px var(--color-theme);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: all .3s ease-in-out 0s;
	}*/
/*.btn:hover {
	color: #313133;
	transform: translateY(-6px);
}*/

/*button:hover::before {
	opacity: 1;
}*/
.info-area{
	min-height:270px;
}
	.btn-min250:after {
		background: #fff;
		content: "";
		height: 65px;
		left: -75px;
		opacity: .4;
		position: absolute;
		top: -12px;
		transform: rotate(20deg);
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
		width: 50px;
		z-index: 10;
	}



	/*.btn:hover:after {
		left: 120%;
		transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
	}*/

	.btn-min250.active::after {
		animation: moving 1.5s linear infinite;
	}

.btn-dangnhap.active {
	pointer-events: none;
}


	@media screen and (max-width: 1050px) {
		.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	.form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
