
        <div class="popup-Notification" hidden>
            <div class="notification-content">
                <div class="pop-body">
                    <p class="op-titile-notification"><img class="op-img-notification" src="/Content/images/iconlist/open24-notification.png"><span>Open24 thông báo</span></p>
                    <button type="button" class="close closepop" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="pop-wrap">
                        <div class="pop-header">

                        </div>
                        <div class="pop-content">
                            <p> <i class="fa fa-check-circle"></i>Cảm ơn <span id="dm_message" style="    color: #00c8b7;font-weight: bold;"></span> đã đặt mua sản phẩm Open24!</p>
                            <p> <i class="fa fa-check-circle"></i>Đội ngũ Open24 sẽ liên hệ lại bạn ngay trong giờ làm việc</p>
                            @*<p><i class="fa fa-check-circle"></i> Tạo đơn hàng ngay trong khi chat - Đồng bộ luôn về OPen24</p>*@
                        </div>
                        <div class="pop-note">
                            <span>Hoặc liên hệ tổng đài tư vấn miễn cước <strong> 0247 303 9333</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.popup-Notification').on('click', '.closepop', function () {
                $('.popup-Notification').hide();
            });
            $(".notification-content").mouseup(function () {
                return false
            });
            $(document).mouseup(function () {
                $(".popup-Notification").hide();
            });

        </script>
