
<div class="weareone fl">
    <div class="container">
        <div class="weareone-text fl">
            Chúng tôi luôn đồng hành cùng bạn
            <br />
            Thành công của bạn chính là mong muốn của chúng tôi
        </div>
        <div class=" bnt-place fl">
            <a href="#" class="trial" data-toggle="modal" data-target=".bs-example-modal-lg">Dùng thử miễn phí ngay !</a>
        </div>
    </div>
</div>
