<style>
    .li-input-span {
        float: left;
    }
    .btn-addnew-price button{
        float:left;
    }
</style>
<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">Thêm bảng giá</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid nopadding">
            <div class="form-group floatleft">
                    <label class="css-form-label">Tên bảng giá</label>
                <div class="css-form-detail">
                    <input class="form-control" id="txtTenBangGia" type="text" name="txtTenBangGia" data-bind="value: newGiaBan().TenGiaBan" autocomplete="off" placeholder="Nhập tên bảng giá">
                </div>
            </div>
            <div class="form-group floatleft" style="border-bottom:1px solid #ccc "></div>
            <div class="form-group floatleft">
                <div class="col-md-12 nopadding">
                    <label class="  control-label  ">Thời gian áp dụng</label>
                </div>
            </div>
            <div class="form-group floatleft">
                    <label class="css-form-label">Áp dụng từ ngày</label>
                    <div class="css-form-detail" style="display:flex; justify-content:space-between">
                        <div class="form-group">
                            <input type="text" id="txtTuNgay" name="txtTuNgay" class="form-control datetimepicker4" data-bind="datepicker: newGiaBan().TuNgay">
                            <img class="img-position" src="/Content/images/icon/ngaysinh.png">
                        </div>
                        <label  style="width:auto;line-height: 24px;display: inline-block;height: 30px;padding: 3px;">Đến</label>
                        <div class="form-group">
                            <input type="text" id="txtDenNgay" name="txtDenNgay" class="form-control datetimepicker4" data-bind="datepicker: newGiaBan().DenNgay">
                            <img class="img-position" src="/Content/images/icon/ngaysinh.png">
                        </div>
                    </div>
            </div>
            <div class="form-group floatleft">
                    <label class="css-form-label">Ngày trong tuần</label>
                <div class="css-form-detail">
                    <div class="outselect outselectDV">
                        <div class="choose-person floatleft " data-toggle="dropdown" id="choose_Ngay">
                            <ul data-bind="foreach: MangNhomNgayTrongTuan">
                                <li class="li-input-span">
                                    <span data-bind="text: TenNgay">
                                    </span>
                                    <span data-bind="click: $parent.CloseNgay">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </li>
                            </ul>
                            <input type="text" id="dllNgayTrongTuan" readonly="readonly" class="dropdown" placeholder="--- Tất cả ---" />
                        </div>
                        <div class="selec-person dropdown-menu floatleft" id="selec-all-Ngay">
                            <ul>
                                <li data-bind="click: $root.ChooseAllNgayTT">
                                    <span>--- Tất cả ---</span>
                                </li>
                            </ul>
                            <ul data-bind="foreach: NgayTrongTuans ">
                                <li data-bind="attr:{id: TenNgay}, click: $parent.selectedNgay">
                                    <span data-bind="text: TenNgay"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group floatleft" style="border-bottom:1px solid #ccc "></div>
            <div class="form-group floatleft">
                <div class="col-md-12 nopadding">
                    <label class="  control-label  ">Điều kiện áp dụng</label>
                </div>
            </div>
            <div class="form-group floatleft">
                    <label class="css-form-label">Nghiệp vụ áp dụng</label>
                <div class="css-form-detail">
                    <div class="outselect outselectDV">
                        <div class="choose-person floatleft " data-toggle="dropdown" id="choose_NghiepVu">
                            <ul data-bind="foreach: MangNghiepVuAD">
                                <li class="li-input-span">
                                    <span data-bind="text: TenNghiepVu">
                                    </span>
                                    <span data-bind="click: $parent.CloseNghiepVu">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </li>
                            </ul>
                            <input type="text" id="dllNghiepVu" readonly="readonly" class="dropdown" placeholder="--- Tất cả ---" />
                        </div>
                        <div class="selec-person dropdown-menu floatleft" id="selec-all-NV">
                            <ul>
                                <li data-bind="click: $root.ChooseAllNghiepVu">
                                    <span>--- Tất cả ---</span>
                                </li>
                            </ul>
                            <ul data-bind="foreach: NghiepVuADs ">
                                <li data-bind="attr:{id: value}, click: $parent.selectedNghiepVu">
                                    <span data-bind="text: TenNghiepVu"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group floatleft">
                    <label class="css-form-label">Chi nhánh</label>
                <div class="css-form-detail">
                    <div class="outselect outselectDV">
                        <div class="choose-person floatleft " data-toggle="dropdown" id="choose_TenDonVi">
                            <ul data-bind="foreach: MangNhomDV">
                                <li class="li-input-span">
                                    <span data-bind="text: TenDonVi">
                                    </span>
                                    <span data-bind="click: $parent.CloseDV">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </li>
                            </ul>
                            <input type="text" id="dllChiNhanh" readonly="readonly" class="dropdown" placeholder="--- Tất cả ---" />
                        </div>
                        <div class="selec-person dropdown-menu floatleft" id="selec-all-DV">
                            <ul>
                                <li data-bind="click: $root.ChooseAllDV">
                                    <span>--- Tất cả ---</span>
                                </li>
                            </ul>
                            <ul data-bind="foreach: ChiNhanhs ">
                                <li data-bind="attr:{id: ID}, click: $parent.selectedCN">
                                    <span data-bind="text: TenDonVi"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group floatleft">
                    <label class="css-form-label">Nhóm khách hàng</label>
                <div class="css-form-detail">
                    <div class="outselect outselectNKH">
                        <div class="choose-person floatleft " id="choose-NhomKhachHang" data-toggle="dropdown">
                            <ul data-bind="foreach: MangNhomNKH">
                                <li class="li-input-span">
                                    <span data-bind="text: TenNhomDoiTuong">
                                    </span>&nbsp;
                                    <span data-bind="click: $parent.CloseNKH">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </li>
                            </ul>
                            <input type="text" id="dllNhomKH" readonly="readonly" class="dropdown " placeholder="--- Tất cả ---" />
                        </div>
                        <div class="selec-person dropdown-menu floatleft" id="selec-all-NKH">
                            <ul>
                                <li data-bind="click: $root.ChooseAllKH">
                                    <span>--- Tất cả ---</span>
                                </li>
                            </ul>
                            <ul data-bind="foreach: NhomDoiTuongs">
                                <li data-bind="attr:{id: ID}, click: $parent.selectedNKH">
                                    <span data-bind="text: TenNhomDoiTuong">
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group floatleft">
                    <label class="css-form-label">Nhân viên bán</label>
                <div class="css-form-detail">
                    <div class="outselect outselectNB">
                        <div class="choose-person floatleft " id="choose-NguoiBan" data-toggle="dropdown">
                            <ul data-bind="foreach: MangNhomNB">
                                <li class="li-input-span">
                                    <span data-bind="text: TenNhanVien">
                                    </span>&nbsp;
                                    <span data-bind="click: $parent.CloseNB">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </li>
                            </ul>
                            <input type="text" id="dllNguoiBan" readonly="readonly" class="dropdown " placeholder="--- Tất cả ---" />
                        </div>
                        <div class="selec-person dropdown-menu floatleft" id="selec-all-NB">
                            <ul>
                                <li data-bind="click: $root.ChooseAllNV">
                                    <span>--- Tất cả ---</span>
                                </li>
                            </ul>
                            <ul data-bind="foreach: NguoiDungs">
                                <li data-bind="attr:{id: ID}, click: $parent.selectedNB">
                                    <span data-bind="text: TenNhanVien">
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group floatleft" data-bind="with: newGiaBan">
                <label class="css-form-label">&nbsp;</label>
                <div class="css-form-detail">
                        <label>
                            <input type="checkbox" data-bind="checked: ApDung, checkedValue: true">
                            <span>Áp dụng</span>
                        </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <div class="container-fluid">
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
            <button type="button" class="btn btn-delete deletebanggia" id="btnGiaBan" data-dismiss="modal" data-bind="click: modalDeleteGiaBan"><i class="fa fa-trash"></i> Xóa</button>
            <!-- ko if: _ThemMoiGiaBan() ==true -->
            <button type="button" class="btn btn-save addGiaBan" style="display:none" id="btnLuuGiaBan" data-bind="click: addGiaBan "><i class="fa fa-save"></i> Lưu</button>
            <!-- /ko-->
            <!-- ko if: _ThemMoiGiaBan() ==false -->
            <button type="button" class="btn btn-save editGiaBan" style="display:none" id="btnLuuGiaBan" data-bind="click: editGiaBan"><i class="fa fa-save"></i> Lưu</button>
            <!-- /ko-->
        </div>
    </div>
</div>
