
<div class="modal-content  ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title themhanghoa">Thêm hàng hóa</h4>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs updateHHTab nav-product-addnew">
            <li class="active "><a data-toggle="tab" href="#DetailProduct">Thông tin chung</a></li>
            <li><a data-toggle="tab" href="#Quantitative"> Định lượng</a></li>
        </ul>
        <div class="tab-content">
            <div id="DetailProduct" class="tab-pane  in active">
                <div class="col-md-12 nopadding">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 col-md-5 product-tab-left">
                            <div class="form-group col-md-12 nopadding">
                                <label class="col-sx-12 col-sm-12 col-lg-5 control-label  nopadding">Mã hàng hóa</label>
                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                    <input class="form-control" type="text" name="txtMaHangHoa" placeholder="Mã hàng tự động">
                                </div>
                                <span class="commodity-note">
                                    <i class="fa fa-info-circle"></i>
                                    <span href="javascript:void(0)" class="materiall">Mã hàng hóa là thông tin duy nhất</span>
                                </span>
                            </div>
                            <div class="form-group col-md-12 nopadding">
                                <label class="col-sx-12 col-sm-12 col-lg-5 control-label  nopadding">Mã hàng hóa</label>
                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                    <input class="form-control" type="text" name="txtMaHangHoa">
                                </div>
                                <span class="commodity-note">
                                    <i class="fa fa-info-circle"></i>
                                    <span href="javascript:void(0)" class="materiall">Mã hàng hóa là thông tin duy nhất</span>
                                </span>
                            </div>
                            <div class="form-group col-md-12 nopadding">
                                <label class="col-sx-12 col-sm-12 col-lg-5 control-label  nopadding">Tên hàng hóa</label>
                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                    <input class="form-control" type="text" name="txtMaHangHoa">
                                </div>

                            </div>
                            <div class="form-group col-md-12 nopadding">
                                <label class="col-sx-12 col-sm-12 col-lg-5 control-label  nopadding">Nhóm hàng hóa</label>
                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                    <div class="input-group">

                                        <div class="outselect">
                                            <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                                <div class="form-control" id="choose_TenNHHAddHH" style="cursor:pointer">---Chọn nhóm---</div>
                                            </div>
                                            <div class="selec-person dropdown-menu floatleft ">
                                                <div class="seach-nhomhang">
                                                    <input type="text" class="seach-nhomhang">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                                <ul id="lstNhomHangAddHH" class="group-parent">
                                                    <li class="p-left10">
                                                        <a href="javascript:void(0)">---Chọn nhóm---</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                        <div class="input-group-btn">
                                            <button class="btn btn-default op-js-themmoi" id="btnThemMoiNhom" href="javascript:void(0)">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="form-group col-md-12 nopadding">
                                <label class="col-sx-12 col-sm-12 col-lg-5 control-label  nopadding">Giá bán</label>
                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                    <input class="form-control" type="text" name="txtMaHangHoa">
                                </div>

                            </div>
                            <div class="form-group col-md-12 nopadding">
                                <label class="col-sx-12 col-sm-12 col-lg-5 control-label  nopadding">Giá vốn</label>
                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                    <input class="form-control" type="text" name="txtMaHangHoa">
                                </div>

                            </div>
                            <div class="form-group col-md-12 nopadding">
                                <label class="col-sx-12 col-sm-12 col-lg-5 control-label  nopadding">Tồn kho</label>
                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                    <input class="form-control" type="text" name="txtMaHangHoa">
                                </div>
                                <span class="commodity-note">
                                    <i class="fa fa-info-circle"></i>
                                    <span href="javascript:void(0)" class="materiall">Mã hàng hóa là thông tin duy nhất</span>
                                </span>
                            </div>
                            <div class="form-group col-md-12 nopadding">
                                <label class="col-sx-12 col-sm-12 col-lg-5 control-label  nopadding">Ghi chú</label>
                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                    <textarea type="text" rows="3" />
                                </div>

                            </div>
                            <div class="form-group col-md-12 nopadding">
                                <div class=" floatleft">
                                    <div class="img-commodity">
                                        <div class="img-customer">
                                            <img id="blahHH" alt="" />

                                            <a href="javascript:void(0)">
                                                <i class="fa fa-close red"></i>
                                            </a>

                                        </div>
                                        <div class="choose-img floatleft">
                                            <span class="btn  btn-file form-control">
                                                Chọn ảnh <input type='file' multiple id="imageUpHHForm" name="files[]" accept=".png,.jpg,.jpeg,.gif" />
                                                <output id="list"></output>
                                            </span>
                                        </div>

                                    </div>
                                    <ul class="img-list-c">
                                        <li>
                                            <div class="img-item">
                                                <img class="thumb" />
                                            </div>
                                            <a>
                                                <i class="fa fa-close red"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <div class="img-item">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img-item">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="img-item">
                                            </div>
                                        </li>

                                    </ul>
                                    <div class="col-md-7 nopadding">
                                        <span><input type="checkbox" value="checked" /> Được bán trực tiếp</span>
                                    </div>
                                    <div class="col-md-5 nopadding">
                                        <span><input type="checkbox" value="checked" /> Quản lý theo lô</span>
                                    </div>
                                    <p id="errorAnh" class="errorAnhHH" style="color:red"></p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-7 product-tab-right">
                            <div class="col-sx-12 col-sm-12">
                                <div class="panel panel-primary floatleft product-addnew-panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Theo dõi thuộc tính(Màu sắc, Kích thước...)
                                        </h3>
                                    </div>
                                    <div class="panel-collapse ">

                                        <div class="panel-body">
                                            <div class="table-reponsive">

                                                <table class="product-addnew-table ">
                                                    <thead>
                                                        <tr>
                                                            <td>Thuộc tính</td>
                                                            <td>&nbsp;</td>
                                                            <td>Giá trị</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="attribute-select">

                                                                <div class="floatleft">
                                                                    <div class="input-group">
                                                                        <select name="ddlThuocTinh" class="form-control ddlThuocTinh">
                                                                            <option>Thuộc tính 123</option>
                                                                        </select>
                                                                        <div class="input-group-btn">
                                                                            <button class="btn btn-default addthuoctinh">
                                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                                            </button>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="input-group-btn">
                                                                    <button type="button" class="btn btn-default" aria-label="Cập nhật">
                                                                        <span class="fa fa-pencil-square-o"></span>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                            <td> <input type="text" class="form-control"> </td>
                                                            <td><a href="javascript:void(0)" title="Xóa đơn vị" class="delete-attribute"><i class="fa fa-times"></i></a></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-main themdonviclick1" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Thêm thuộc tính</button>
                                                </div>
                                            </div>
                                        </div>


                                        <div id="results"></div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-sx-12 col-sm-12">

                                <div class="panel panel-primary floatleft product-addnew-panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Đơn vị tính
                                        </h3>

                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body panel-donvicoban">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-md-6 ">
                                                        <div class="form-group col-md-12 ">
                                                            <label class="col-sx-12 col-sm-12 col-lg-12 control-label ">Đơn vị cơ bản</label>
                                                            <div class="col-sx-12 col-sm-12 col-lg-11 nopadding">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                            <span class="commodity-note col-sx-12 col-sm-12 col-lg-1">
                                                                <i class="fa fa-info-circle"></i>
                                                                <span href="javascript:void(0)" class="materiall">Mã hàng hóa là thông tin duy nhất</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="form-group col-md-12 ">
                                                            <label class="col-sx-12 col-sm-12 col-lg-12 control-label  nopadding">Số lượng quy cách</label>
                                                            <div class="col-sx-12 col-sm-12 col-lg-11 nopadding">
                                                                <input class="form-control" type="text">
                                                            </div>
                                                            <span class="commodity-note col-sx-12 col-sm-12 col-lg-1">
                                                                <i class="fa fa-info-circle"></i>
                                                                <span href="javascript:void(0)" class="materiall">Mã hàng hóa là thông tin duy nhất</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="table-res">
                                                <table class="table table-hover no-boder table-donvitinh">
                                                    <thead>
                                                        <tr>
                                                            <th>Tên đơn vị</th>
                                                            <th>Giá trị quy đổi</th>
                                                            <th>Giá bán</th>
                                                            <th>Mã hàng hóa</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="DonViTinhChiTiets">
                                                            <td>
                                                                <input type="text" class="form-control Ten_DVT" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control TyLeQuyDoi_DVT" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control GiaBan_DVT" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control MaHangHoa_DVT" />
                                                            </td>
                                                            <td><a title="Xóa đơn vị" class="icon-del"><i class="fa fa-times"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-sm-12 padingtop">
                                                <button id="btnDonVi" class="btn btn-main themdonviclick" type="button">Thêm đơn vị</button>
                                            </div>

                                            <div id="results"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sx-12 col-sm-12">

                                <div class="panel panel-primary product-addnew-panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Tồn tối thiểu, tối đa</h3>
                                    </div>
                                    <div class="panel-body panel-tontoithieu">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="floatleft">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-sx-12 col-sm-12 col-lg-5 nopadding ">Tồn tối thiểu</label>
                                                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                                                    <input type="text" class="form-control fvy1" />
                                                                </div>
                                                                <span class="commodity-note">
                                                                    <i class="fa fa-info-circle"></i>
                                                                    <span href="javascript:void(0)" class="materiall">Tồn ít nhất là tồn tối thiểu của 1 sản phầm (Hệ thống sẽ dựa vào thông tin này để cảnh báo tồn kho tối thiểu)</span>
                                                                </span>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" data-bind="with : newHangHoa">
                                                            <div class="form-group">
                                                                <label class="col-sx-12 col-sm-12 col-lg-5 nopadding ">Tồn tối đa</label>
                                                                <div class="col-sx-12 col-sm-12 col-lg-7 nopadding">
                                                                    <input type="text" class="form-control" />
                                                                </div>
                                                                <span class="commodity-note">
                                                                    <i class="fa fa-info-circle"></i>
                                                                    <span href="javascript:void(0)" class="materiall">Tồn nhiều nhất là tồn tối đa cả 1 sản phẩm (Hệ thống sẽ dựa vào thông tin này để cảnh báo khi hàng hóa vượt mức tồn cho phép)</span>
                                                                </span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Quantitative" class="tab-pane fade in">
                <div class="table-res table-dinhluong">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng thành phần</th>
                                <th>Số lượng</th>
                                <th>Số lượng quy cách</th>
                                <th>Giá vốn</th>
                                <th>Thành tiền</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Nhập" class="form-control" />
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>HH000008</td>
                                <td>Kem dưỡng da</td>
                                <td><input type="text" id="txtSoluong" class="form-control" /></td>
                                <td> 0</td>
                                <td> 0</td>
                                <td class="clThanhTien"> 100,000</td>

                                <td width="10%">
                                    <a href="javascript:void(0)">

                                        <i class="fa fa-times icon-delete" ></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-main" id="btnLuuHangHoa">
                        <img src="~/Content/images/icon/Iconthemmoi-14.png" />&nbsp; Lưu
                    </button>
                    <button type="button" class="btn btn-main" id="btnThemVaLuu">
                        <img src="~/Content/images/icon/Iconthemmoi-14.png" />&nbsp; Lưu & Thêm hàng hóa cùng loại
                    </button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                </div>
            </div>
        </div>

    </div>
<script>
    $('.panel-heading').on('click', function () {
        $(this).next("div").slideToggle();
        $(this).find("i").toggle();
    });
</script>