<style>

   
</style>
<div class="modal fade" id="modalChonNhanVien">
    <div class=" modal-dialog draggable modal-sm" style="width:425px;">
        <div class="modal-content " >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    Chọn Nhân viên
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid nopadding">
                    <div class="seach-nhomhang col-md-12 nopadding" id="el_NVien">
                        <input type="text" class="seach-nhomhang" placeholder="Tìm kiếm nhân viên" id="txtSearchNV_CK"
                               data-bind="value:searchNVien_ChietKhau, valueUpdate:'afterkeydown'" >
                        <i class="fa fa-search" style="position:absolute; top:7px;left:7px;"></i>
                    </div>
                    <div class="col-md-12 nopadding">
                        <div style="margin:15px 0; display:flex; justify-content:space-between;border-bottom:1px solid #ccc">
                            <label style="padding:3px 7px ;">
                                <input style="position:relative" type="checkbox" onclick="CheckAll_NhanVien(this)"> Tất cả
                            </label>
                            <a class="btn" onclick="RemoveAllCheck_NhanVien()">
                                <span class="red">Xóa chọn tất cả</span>  
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 nopadding    content-tree-user" data-bind="foreach: ListNhanVienCK_Filter" id="divNhanVien_CK" style="max-height:350px">
                        <!--ko if: $index() < $root.totalNhanVienDiv2()-->
                            <div class="col-md-12 nopadding list-img-user" >
                                    <label style="display:flex; align-items:center; padding:7px" class="floatleft">
                                        <input style="position:relative" type="checkbox" data-bind="attr:{id: ID}" />
                                        <span class="img-user">
                                            <img data-bind="attr:{src: URLAnh === '' || URLAnh === undefined  ? GioiTinh === true ? '/Content/images/icon/gioi-tinh-nam.png' : '/Content/images/icon/gioi-tinh-nu.png' : Open24FileManager.hostUrl + URLAnh}" />
                                            @*<img src="~/Content/images/icon/gioi-tinh-nu.png" data-bind="visible: GioiTinh == false" />*@
                                        </span>
                                        <span class="detail-user-discount">
                                            <span style="font-weight:normal">
                                                Mã NV: <span data-bind="text: MaNhanVien"></span>
                                            </span>
                                            <br />
                                            <span >
                                                <b data-bind="text: TenNhanVien"></b>
                                            </span>
                                            <br />
                                            <span style="font-weight:normal">SDT :<span data-bind="text: SoDienThoai"></span> </span>
                                        </span>
                                    </label>
                            </div>
                        <!--/ko-->
                        <!--ko if: $index() >= $root.totalNhanVienDiv2()-->
                            <div class="col-md-12 nopadding list-img-user">
                                <div class="col-md-12 nopadding list-img-user">
                                    <label style="display:flex; align-items:center; padding:7px" class="floatleft">
                                        <input style="position:relative" type="checkbox" data-bind="attr:{id: ID}" />
                                        <span class="img-user">
                                            @*<img src="~/Content/images/icon/gioi-tinh-nam.png" data-bind="visible: GioiTinh" />
        <img src="~/Content/images/icon/gioi-tinh-nu.png" data-bind="visible: GioiTinh == false" />*@
                                            <img data-bind="attr:{src: URLAnh === '' || URLAnh === undefined  ? GioiTinh === true ? '/Content/images/icon/gioi-tinh-nam.png' : '/Content/images/icon/gioi-tinh-nu.png' : Open24FileManager.hostUrl + URLAnh}" />
                                        </span>
                                        <span class="detail-user-discount">
                                            <span style="font-weight:normal">
                                                Mã NV: <span data-bind="text: MaNhanVien"></span>
                                            </span>
                                            <br />
                                            <span>
                                                <b data-bind="text: TenNhanVien"></b>
                                            </span>
                                            <br />
                                            <span style="font-weight:normal">SDT :<span data-bind="text: SoDienThoai"></span> </span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        <!--/ko-->
                    </div>
                </div>
               
            </div>
            <div class="modal-footer">
                <div class="container-fluid " >
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>Bỏ qua</button>
                    <button type="button" class="btn btn-save" data-bind="click: $root.AddNhanVien_HangHoa">
                        <i class="fa fa-save"></i>Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
