
<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title" id="myModalLabel">
            Sửa lô hàng
        </h4>
    </div>
    <div class="modal-body ">
        
                <div class="form-group floatleft" data-bind="with: newLoHang">
                    <label class="form-label control-label req ng-binding">Mã lô hàng</label>
                    <div class="form-wrap"><input type="text" id="txtMaLoHang" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" required="" placeholder="Mã tự động" data-bind="value: MaLoHang"></div>
                </div>
                <div class="form-group floatleft" data-bind="with: newLoHang">
                    <label class="form-label control-label req ng-binding">Ngày sản xuất</label>
                    <div class="form-wrap">
                        <input type='text' id="txtNgaySanXuat" class="form-control datetimepicker4" placeholder="Thời gian được lấy tự động"
                               data-bind="datepicker: NgaySanXuat" />
                        <img src="~/Content/images/icon/ngaysinh.png" />
                    </div>
                </div>
                <div class="form-group floatleft" data-bind="with: newLoHang">
                    <label class="form-label control-label req ng-binding">Ngày hết hạn</label>
                    <div class="form-wrap">
                        <input type='text' id="txtNgayHetHan" class="form-control datetimepicker4" placeholder="Thời gian được lấy tự động"
                               data-bind="datepicker: NgayHetHan" />
                        <img src="~/Content/images/icon/ngaysinh.png" />
                    </div>
                </div>
                <div class="form-group floatleft" data-bind="with: newLoHang">
                    <p class="floatleft">
                        <label><input type="checkbox" value="checked" data-bind="checked: TrangThai, checkedValue: true" /> Cho sử dụng</label>
                    </p>
                </div>
                <div class="form-group floatleft">
                    <label class="form-label control-label req ng-binding">&nbsp;</label>
                    <div class="footer-right pull-right">

                    </div>
                </div>
           
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
            <button type="button" class="btn btn-save" data-bind="click: $root.editLoHang"> <i class="fa fa-save"></i> Lưu</button>

        </div>
    </div>
</div>

<script>
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }
    //$(function () {
    //    //$('.datetimepicker4').datetimepicker({
    //    //    format: 'DD/MM/YYYY HH:mm',
    //    //});
    //    $('#modalPopuplg_SoQuy').on('show.bs.modal', function (e) {
    //        //$('.datetimepicker4').datetimepicker({
    //        //    format: 'DD/MM/YYYY HH:mm',
    //        //});
    //        $('[data-datetimepicker]').datetimepicker({
    //            format: 'd/m/Y H:i',
    //            timepicker: true
    //        });
    //        //$('#txtNgayLapHoaDon').val("");
    //    });
    //});
</script>
