<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title" id="tenphieu">Chuyển hàng</h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="col-xs-12 col-md-4">
                <div class="detail-content floatleft">
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Mã phiếu:</label>
                        <div class="css-form-detail" data-bind="text: MaHoaDon"></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Từ chi nhánh:</label>
                        <div class="css-form-detail" data-bind="text: TenDonViChuyen"></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Ngày chuyển:</label>
                        <div class="css-form-detail" data-bind="text: NgayLapHoaDon"></div>
                    </div>
                    <div class="form-group floatleft " data-bind="with :newHoaDon">
                        <label class="css-form-label ">Người tạo:</label>
                        <div class="css-form-detail" data-bind="text :NguoiTaoHD"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="detail-content">
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Trạng thái:</label>
                        <div class="css-form-detail" data-bind="text : YeuCau"></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Tới chi nhánh:</label>
                        <div class="css-form-detail" data-bind="text: TenDonViNhan"></div>
                    </div>
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label "> Ngày nhận:</label>
                        <div class="css-form-detail" data-bind="text: NgaySua"></div>
                    </div>
                    <div class="form-group floatleft " data-bind="with :newHoaDon">
                        <label class="css-form-label ">Người nhận:</label>
                        <div class="css-form-detail" data-bind="text: NguoiTao"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4" data-bind="with :newHoaDon">
                <div class="detail-content">
                    <div class="form-group floatleft border-end">
                        <label class="css-form-label ">Ghi chú:</label>
                        <div class="css-form-detail" data-bind="text: DienGiai"></div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="table-reponsive">
                <div class="table-res">
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng</th>
                                <th>Số lượng chuyển</th>
                                <th>Số lượng nhận</th>
                                <th>Giá chuyển/nhận</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.BH_HoaDonChiTiets">
                            <tr>
                                <td>
                                    <span data-bind="text: MaHangHoa"></span>
                                </td>
                                <td>
                                    <span data-bind="text: TenHangHoa"></span>
                                    <span data-bind="foreach: HangHoa_ThuocTinh">
                                        <span data-bind="text:'-' + GiaTri" style="color:chocolate"></span>
                                    </span>
                                    <span style="color: #8abb0f" data-bind="visible: TenDonViTinh">
                                        (<span data-bind="text: TenDonViTinh"></span>)
                                    </span><br />
                                    <span data-bind="visible: MaLoHang">
                                        <span data-bind="text: '(Lô: '+ MaLoHang +')'" style="color:palevioletred"></span>
                                    </span>
                                </td>
                                <td data-bind="text: formatNumber(SoLuong)"></td>
                                <td data-bind="text: (YeuCau == '1' || YeuCau == '2')? 0 : formatNumber(GiamGia), style: { color: (SoLuong > GiamGia) && GiamGia !==0 ? 'red' : 'black' }"></td>
                                <td class="text-right" data-bind="text: formatNumber(DonGia)"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--ko if: $root.TotalRecordCTNH() > 10-->
                    <div class="page">
                        <div class="flex flex-end">
                            <a href="#" data-bind="click: $root.StartPageCTNH, visible: $root.VisibleStartPageCTNH"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                            <a href="#" data-bind="click: $root.BackPageCTNH, visible: $root.VisibleStartPageCTNH "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                            <ul data-bind="foreach: $root.PageListCTNH">
                                <li>
                                    <a href="javascript:void(0)" data-bind="text: pageNumberCTN, click: $root.GoToPageCTNH, css: $root.GetClassCTNH($data)"></a>
                                </li>
                            </ul>
                            <a href="#" data-bind="click: $root.GoToNextPageCTNH, visible: $root.VisibleEndPageCTNH "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <a href="#" data-bind="click: $root.EndPageCTNH, visible: $root.VisibleEndPageCTNH "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                            <div class="total-recos">Hiển thị <span data-bind="text: $root.fromitemCTNH"></span> - <span data-bind="text: $root.toitemCTNH"></span> trên tổng số <span data-bind="text: $root.TotalRecordCTNH()"></span> mã hàng.</div>
                        </div>
                    </div>
                    <!--/ko-->
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-main" data-bind="click: linkphieu">
            <i class="fa fa-share"></i> Mở phiếu
        </button>
    </div>
</div>
