<div class="modal-content  loadmavach">
    <div class="modal-header">
        <button class="close close-print1" type="button" data-dismiss="modal">×</button>
        <h4 class="modal-title">Chọn loại giấy in mã</h4>
    </div>
    <div class="modal-body modal-body-print">
        <div class="container-fluid row">
            <div class="col-md-8 col-xs-12">
                <div class="form-group attribute-select">

                    <select class="form-control" id="ddlGiaBan1" data-bind="options: GiaBans, optionsValue: 'ID',
                                    value: selectedGiaBan, optionsCaption: 'Bảng giá chung', optionsText: function (item) { return item.TenGiaBan }"></select>
                </div>
                <div class="form-group attribute-select price-public">
                    <input class="form-control" type="text" value="Bảng giá chung">
                    <div class="select-commodity">
                        <ul>
                            <li><span>Giá kèm VNĐ</span><i class="fa fa-check"></i></li>
                            <li><span>Giá không kèm VNĐ</span> <i class="fa fa-check"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="floatleft attention-b">
                    Lưu ý: Trong trường hợp Mã vạch được in không đọc được, vui lòng sử dụng Mẫu giấy lớn hơn hoặc rút ngắn mã hàng.
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="titile-print bold">Chỉnh mẫu in</div>
                <div class="floatleft">
                    <div class="floatleft"><label style="width:unset" class="khongingiacheck1"><input type="checkbox">  Không in giá</label></div>
                    <div class="floatleft"><label style="width:unset" class="khonginmahangcheck1"><input type="checkbox">  Không in mã hàng</label></div>
                    <div class="floatleft"><label style="width:unset" class="khongintenhangcheck1"><input type="checkbox">  Không in tên hàng</label></div>
                    <div class="floatleft"><label style="width:unset" class="khongintencuahang1"><input type="checkbox">  Không in tên CH</label></div>
                </div>
            </div>
        </div>


        <div class="container-fluid ">
            <div class="page-print floatleft print-page-custom">
                <ul>
                    <li>
                       

                        <div class="print-img">
                            <img src="~/Content/icon/in-3-cuon-104-22.jpg" alt="Mẫu in" />
                        </div>
                        <div class="print-title">
                            Mẫu giấy cuộn 3 nhãn (Khổ giấy in nhãn 104x22mm/4.2x0.9 Inch)
                        </div>
                        <div class="print-link">
                            <button class=" btn btn-main  clickxemma" data-bind="click: PrintBarcodeChoose1">
                                <i class="fa fa-barcode"></i> Xem bản in
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="print-img">
                            <img src="~/Content/icon/in-3-cuon-104-22.jpg" alt="Mẫu in" />
                        </div>
                        <div class="print-title">
                            Mẫu giấy cuộn 3 nhãn (Khổ giấy in nhãn 104x22mm/4.2x0.9 Inch)
                        </div>
                        <div class="print-link">
                            <a href="javascript:void(0)" class="btn-print clickxemma" data-bind="click: PrintBarcodeChoose1">
                                <i class="fa fa-barcode"></i> Xem bản in
                            </a>
                        </div>

                    </li>
                    <li>
                        <div class="print-img">
                            <img src="~/Content/icon/mau-2-nhan-72-22.jpg" alt="Mẫu in" />
                        </div>
                        <div class="print-title">
                            Mẫu giấy cuộn 2 nhãn (Khổ giấy in nhãn 72x22mm)
                        </div>
                        <div class="print-link">
                            <a href="javascript:void(0)" class="btn-print" data-bind="click: PrintBarcodeChoose2">
                                <i class="fa fa-barcode"></i> Xem bản in
                            </a>
                        </div>

                    </li>
                    <li>
                        <div class="print-img">
                            <img src="~/Content/icon/mau-65-nhan-a4.jpg" alt="Mẫu in" />
                        </div>
                        <div class="print-title">
                            Mẫu giấy 65 nhãn (Khổ giấy in nhãn A4 - Tomy 145)
                        </div>
                        <div class="print-link">
                            <a href="javascript:void(0)" class="btn-print" data-bind="click: PrintBarcodeChoose4">
                                <i class="fa fa-barcode"></i> Xem bản in
                            </a>

                        </div>

                    </li>
                    <li>
                        <div class="print-img">
                            <img src="~/Content/icon/mau-custom.jpg" alt="Mẫu in" />
                        </div>
                        <div class="print-title">
                            <div class="list-select-print ">
                                <div class="select-mau-in">
                                    <select class="form-control" id="dllMauInMaVach" data-bind="options: $root.ListMauInMaVach, optionsValue: 'Key',
                                    optionsText: 'Value', value: $root.selectedMauInMaVach"></select>
                                </div>
                                <div class="select-kieu-in">
                                    <select class="form-control" id="dllLoaiIn" data-bind="options: $root.LoaiInMaVach, optionsValue: 'value',
                                    optionsText: 'TenLoai', value: $root.selectedLoaIn"></select>
                                </div>
                            </div>
                        </div>
                        <div class="print-link">
                            <a href="javascript:void(0)" class="btn-print" data-bind="click: $root.InTheoMauInThaoTac">
                                <i class="fa fa-barcode"></i> Xem bản in
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
</div>
