<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">Trả hàng</h4>
    </div>
    <div class="modal-body">
        <div class="floatleft">
            <div class="col-xs-12 col-md-4">
                <div class="detail-content floatleft">
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Mã trả hàng:</label>
                        <div class="css-form-detail" data-bind="text: MaHoaDon">MN001</div>
                    </div>
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Thời gian:</label>
                        <div class="css-form-detail" data-bind="text: NgayLapHoaDon">12/01/2017</div>
                    </div>
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Khách hàng:</label>
                        <div class="css-form-detail">
                            <div>
                                <span data-bind="text: TenDoiTuong">
                                </span>
                                (<span class="blue"
                                       data-bind="text: MaDoiTuong, click: function(){ $root.gotoPage (2, MaDoiTuong() ) }"></span>)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="detail-content">
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label ">Trạng thái:</label>
                        <div class="css-form-detail" data-bind="text :ChoThanhToan == null? 'Đã hủy' : (ChoThanhToan == true? 'Phiếu tạm' :'Hoàn thành')">Đã hoàn thành</div>
                    </div>
                    <div class="form-group floatleft" data-bind="with :newHoaDon">
                        <label class="css-form-label "> Chi nhánh:</label>
                        <div class="css-form-detail" data-bind="text: TenDonVi">Chi nhánh trung tâm</div>
                    </div>
                    <div class="form-group floatleft " data-bind="with :newHoaDon">
                        <label class="css-form-label ">Người nhận trả:</label>
                        <div class="css-form-detail" data-bind="text: TenNhanVien"></div>
                    </div>
                    <div class="form-group floatleft " data-bind="with :newHoaDon">
                        <label class="css-form-label ">Mã phiếu chi:</label>
                        <div class="css-form-detail" data-bind="text: MaPhieuChi"></div>
                    </div>
                    <div class="form-group floatleft " data-bind="with :newHoaDon">
                        <label class="css-form-label ">Người tạo:</label>
                        <div class="css-form-detail" data-bind="text: NguoiTaoHD"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4" data-bind="with :newHoaDon">
                <div class="detail-content">
                    <div class="form-group floatleft border-end">
                        <label class="css-form-label ">Ghi chú:</label>
                        <div class="css-form-detail" data-bind="text: DienGiai"></div>
                    </div>
                </div>
            </div>
            <div class="table-reponsive">
                <div class="table-res">
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng</th>
                                <th>Số lượng</th>
                                <th>Giá bán</th>
                                <th class="text-right">Giá nhập lại</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.BH_HoaDonChiTiets">
                            <tr>
                                <td>
                                    <a data-bind="text: MaHangHoa, click: function(){ $root.gotoPage (0, MaHangHoa ) }">
                                    </a>
                                </td>
                                <td>
                                    <span data-bind="text: TenHangHoa"></span>
                                    <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                    <span style="color: #8abb0f" data-bind="visible: TenDonViTinh">
                                        (<span data-bind="text: TenDonViTinh"></span>)
                                    </span><br />
                                    <span data-bind="visible: MaLoHang">
                                        <span data-bind="text: '(Lô: '+ MaLoHang +')'" style="color:palevioletred"></span>
                                    </span>
                                </td>
                                <td data-bind="text: SoLuong">3</td>
                                <td data-bind="text: formatNumber3Digit(DonGia)">333</td>
                                <td class="text-right" data-bind="text: formatNumber3Digit(ThanhTien)">33</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--ko if: $root.TotalRecordCTNH() > 10-->
                    <div class="page">
                        <div class="flex flex-end">
                            <a href="#" data-bind="click: $root.StartPageCTNH, visible: $root.VisibleStartPageCTNH"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                            <a href="#" data-bind="click: $root.BackPageCTNH, visible: $root.VisibleStartPageCTNH "><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                            <ul data-bind="foreach: $root.PageListCTNH">
                                <li>
                                    <a href="javascript:void(0)" data-bind="text: pageNumberCTN, click: $root.GoToPageCTNH, css: $root.GetClassCTNH($data)"></a>
                                </li>
                            </ul>
                            <a href="#" data-bind="click: $root.GoToNextPageCTNH, visible: $root.VisibleEndPageCTNH "><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <a href="#" data-bind="click: $root.EndPageCTNH, visible: $root.VisibleEndPageCTNH "><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                            <div class="total-recos">Hiển thị <span data-bind="text: $root.fromitemCTNH"></span> - <span data-bind="text: $root.toitemCTNH"></span> trên tổng số <span data-bind="text: $root.TotalRecordCTNH()"></span> mã hàng.</div>
                        </div>
                    </div>
                    <!--/ko-->
                </div>
            </div>
            <div class="col-md-12">
                <div class="ma10">
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tổng số lượng :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" id="tongsltrahang">
                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct" data-bind="with: newHoaDon">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tổng tiền hàng trả:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: TongTienHang">
                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct" data-bind="with: newHoaDon">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Giảm giá phiếu trả:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right" data-bind="text: TongGiamGia"></div>
                    </div>
                    <div class="floatleft sum-prduct" data-bind="with: newHoaDon">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Phí trả hàng :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: PhaiThanhToan">
                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct" data-bind="visible: newHoaDon().TongTienHDTra() > 0 ">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tổng tiền hóa đơn trả:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: newHoaDon().TongTienHDTra">
                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct" data-bind="with: newHoaDon">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tổng tiền hóa đơn đổi hàng:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="">
                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct" data-bind="with: newHoaDon">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Cần trả khách:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right" data-bind="text: PhaiThanhToan"></div>
                    </div>
                    <div class="floatleft sum-prduct" data-bind="with: newHoaDon">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Đã trả khách:
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: KhachDaTra">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="group-btn pull-right">
                    <a class="btn btn-main" data-bind="click: linkphieu">
                        <i class="fa fa-share"></i> Mở phiếu
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
