<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title" id="txtEditNhomHangHoa">Sửa nhóm hàng hóa</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group floatleft" data-bind="with: newNhomHangHoa">
                    <input type="hidden" id="txtIDNhom" name="txtIDNhom" data-bind="value: ID" class="form-control" />
                    <label>Tên nhóm</label>
                    <div class="form-news">
                        <input type="text" id="txtTenNhom" name="txtTenNhom" data-bind="value: TenNhomHangHoa" class="form-control" />
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label>Nhóm cha</label>
                    <div class="form-news">
                        <div class="outselect">
                            <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                <div class="form-control" id="choose_TenNHHSua" style="cursor:pointer">Chọn nhóm</div>
                            </div>
                            <div class="selec-person dropdown-menu floatleft ">
                                <div class="seach-nhomhang">
                                    <input type="text" class="seach-nhomhang" data-bind="value: filterNHH, valueUpdate: 'afterkeydown'">
                                    <i class="fa fa-search"></i>
                                </div>
                                <ul id="lstNhomHangSua" class="group-parent">
                                    <li data-bind="click : clickFistChonSua" class="p-left10">
                                        <a href="javascript:void(0)">---Chọn nhóm---</a>
                                    </li>
                                    <li data-bind="foreach : arrFilterNhomHHSua">
                                        <div class="group-p1" data-bind="click : $root.selectedNHomHHSua">
                                            <a  data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                            <span data-bind="attr:{id: 'spanCheckNhomSua_'+ ID}" class="pull-right"></span>
                                        </div>
                                        <ul class="floatleft" data-bind="foreach: Childs">
                                            <li>
                                                <div class="group-p2" data-bind="click : $root.selectedNHomHHSua">
                                                    <a href="javascript:void(0)" data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                    <span data-bind="attr:{id: 'spanCheckNhomSua_'+ ID}" class="pull-right"></span>
                                                </div>
                                                <ul class="floatleft" data-bind="foreach: Child2s">
                                                    <li>
                                                        <div class="group-p3" data-bind="click : $root.selectedNHomHHSua">
                                                            <a  data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                            <span data-bind="attr:{id: 'spanCheckNhomSua_'+ ID}" class="pull-right"></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*value: newNhomHangHoa().ID_Parent*@
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
            <!--ko if: $root.role_DeleteProduct()-->
            <button type="button" class="btn btn-delete" data-bind="click: modalDeleteNHH">
                <i class="fa fa-trash"></i> Xóa
            </button>
            <!--/ko-->
            <button type="button" class="btn btn-save" data-bind="click: $root.addNhomHangHoa">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </div>
</div>
