<div class="modal-dialog fc-draggable modal-md">
    <div class="modal-content ">
        <div class="modal-header">
            <button class="close close-modal" type="button" data-dismiss="modal">×</button>
            <h4 class="modal-title">Thêm nhóm hàng</h4>
        </div>
        <div class="modal-body">

            <div class="form-group" data-bind="with: newNhomHangHoa">
                <input type="hidden" id="txtIDNhom" name="txtIDNhom" data-bind="value: ID" class="form-control" />
                <label class="">Tên nhóm<span class="red">(*)</span></label>
                <div class="form-news">
                  
                        <input type="text" id="txtTenNhom2" name="txtTenNhom" data-bind="value: TenNhomHangHoa" class="form-control" />
                    
                </div>
            </div>
            <div class="form-group">
                <label class="">Nhóm cha</label>
                <div class="form-news">
                    
                        <div class="outselect">
                            <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                                <div class="form-control" id="choose_TenNHHLHH" style="cursor:pointer">---Chọn nhóm---</div>
                            </div>
                            <div class="selec-person dropdown-menu floatleft ">
                                <div class="seach-nhomhang">
                                    <input type="text" class="seach-nhomhang" id="txtSearchNHH" data-bind="event: {keyup: $root.SearchNhomHangHoaAdd}">
                                    <i class="fa fa-search"></i>
                                </div>
                                <ul id="lstNhomHangLHH" class="group-parent">
                                    <li data-bind="click : clickFistChon" class="p-left10">
                                        <a href="javascript:void(0)">---Chọn nhóm---</a>
                                    </li>
                                    <li data-bind="foreach : NhomHH_Add">
                                        <div class="group-p1" data-bind="click : $root.selectedNHomHHByLaHH">
                                            <a  data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                            <span data-bind="attr:{id: 'spanCheckNhom_'+ ID}" class="pull-right"></span>
                                        </div>
                                        <ul class="floatleft" data-bind="foreach: Childs">
                                            <li>
                                                <div class="group-p2" data-bind="click : $root.selectedNHomHHByLaHH">
                                                    <a href="javascript:void(0)" data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                    <span data-bind="attr:{id: 'spanCheckNhom_'+ ID}" class="pull-right"></span>
                                                </div>
                                                <ul class="floatleft" data-bind="foreach: Child2s">
                                                    <li>
                                                        <div class="group-p3" data-bind="click : $root.selectedNHomHHByLaHH">
                                                            <a  data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                            <span data-bind="attr:{id: 'spanCheckNhom_'+ ID}" class="pull-right"></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <button type="button" class="btn btn-cancel close-modal" data-dismiss="modal"><i class="fa fa-ban"></i>Bỏ qua</button>
                <button type="button" class="btn btn-main" id="btnLuuNhomHangHoa" data-bind="click: $root.addNhomHangHoaByLaNHomHH"><i class="fa fa-save"></i> Lưu</button>
                
            </div>
        </div>
    </div>
</div>