<div class="modal-dialog draggable ">
    <div class="modal-content ">
        <div class="modal-header">
            <button class="close close-modal" type="button" data-dismiss="modal"><i class="material-icons">close</i></button>
            <h4 class="modal-title">Thêm nhóm hàng</h4>
        </div>
        <div class="modal-body">
            <div class="form-group" data-bind="with: newNhomHangHoa">
                <input type="hidden" id="txtIDNhom" name="txtIDNhom" data-bind="value: ID" class="form-control" />
                <label class="op-form-lable">Tên nhóm<span class="red">(*)</span></label>
                <div class="css-form-detail">
                    <input type="text" id="txtTenNhom1" name="txtTenNhom" data-bind="value: TenNhomHangHoa" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="op-form-lable">Nhóm cha</label>
                <div class="css-form-detail">
                    <div class="outselect">
                        <div class="  floatleft " data-toggle="dropdown" aria-expanded="false">
                            <div class="form-control floatleft" id="choose_TenNHH" style="cursor:pointer">---Chọn nhóm---</div>
                        </div>
                        <div class="selec-person dropdown-menu floatleft ">
                            <div class="seach-nhomhang">
                                <input type="text" class="seach-nhomhang" id="txtSearchNHHAddNew" data-bind="event: {keyup: $root.SearchNhomHangHoaWhenAddNew}" style="display:inline-block ">
                                <i class="fa fa-search" style="display:inline-block; margin-left:10px"></i>
                            </div>
                            <ul id="lstNhomHang" class="group-parent">
                                <li data-bind="click : clickFistChon" class="p-left10">
                                    <a href="javascript:void(0)">---Chọn nhóm---</a>
                                </li>
                                <li data-bind="foreach : NhomHH_Add">
                                    <div class="group-p1" data-bind="click : $root.selectedNHomHH">
                                        <a  data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                        <span data-bind="attr:{id: 'spanCheckNhom_'+ ID}" class="pull-right"></span>
                                    </div>
                                    <ul class="floatleft" data-bind="foreach: Childs">
                                        <li>
                                            <div class="group-p2" data-bind="click : $root.selectedNHomHH">
                                                <a href="javascript:void(0)" data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                <span data-bind="attr:{id: 'spanCheckNhom_'+ ID}" class="pull-right"></span>
                                            </div>
                                            <ul class="floatleft" data-bind="foreach: Child2s">
                                                <li>
                                                    <div class="group-p3" data-bind="click : $root.selectedNHomHH">
                                                        <a  data-bind="text: TenNhomHangHoa, attr:{id: ID}"></a>
                                                        <span data-bind="attr:{id: 'spanCheckNhom_'+ ID}" class="pull-right"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*value: newNhomHangHoa().ID_Parent*@
            </div>
            <div class="form-group" data-bind="with: newNhomHangHoa">
                <label class="op-form-lable">&nbsp;</label>
                <div class="css-form-detail">
                    <label class="floatleft"><input type="checkbox" value="checked" data-bind="checked: LaNhomHangHoa, checkedValue: true, event:{change: $root.loadLaiNhomCha}" /> Là nhóm hàng hóa</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <button type="button" class="btn btn-cancel"><i class="fa fa-ban"></i>Bỏ qua</button>
                <button type="button" class="btn btn-save" id="btnLuuNhomHangHoa" data-bind="click: $root.addNhomHangHoa"><i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>