<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

        <h4 class="modal-title">Thêm bảng giá</h4>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs updateHHTab">
            <li class="active"><a data-toggle="tab" href="#thongtin">Thông tin</a></li>
            <li><a data-toggle="tab" href="#phamviapdung">Phạm vi áp dụng</a></li>
        </ul>
        <div class="tab-content">
            <div id="thongtin" class="tab-pane in active" style="margin-top: 20px;">
                <div class="floatleft">
                    <div class="form-group floatleft">
                        <div class="col-md-4">
                            <label>Tên bảng giá <span style="color:red">(*)</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <div class="row">
                                <input type="text" id="txtTenBangGia" name="txtTenBangGia" class="form-control" data-bind="value: newGiaBan().TenGiaBan" placeholder="Nhập tên bảng giá" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <div class="col-md-4">
                            <label>Hiệu lực từ ngày <span style="color:red">(*)</span></label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" id="txtTuNgay" name="txtTuNgay" class="form-control datetimepicker4" data-bind="datepicker: newGiaBan().TuNgay" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="label-come">Đến</label>
                                </div>
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" id="txtDenNgay" name="txtDenNgay" class="form-control datetimepicker4" data-bind="datepicker: newGiaBan().DenNgay" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <div class="col-md-4">
                            <div class="row">
                                <label class="col-sm-3">Trạng thái</label>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row status">
                                <label>
                                    <input type="radio" name="rdTrangThai" data-bind="checked: newGiaBan().ApDung, checkedValue: true" />
                                    Áp dụng
                                </label>
                                <label>
                                    <input type="radio" name="rdTrangThai" data-bind="checked: newGiaBan().ApDung, checkedValue: false" />
                                    Chưa áp dụng
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="phamviapdung" class="tab-pane fade in" style="margin-top: 20px;">
                <div class="form-group floatleft">
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <label>
                                <input type="radio" id="chinhanhfalse" name="rdChiNhanh" data-bind="checked: newGiaBan().TatCaDonVi, checkedValue: true" />  Toàn hệ thống
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group floatleft">
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <label>
                                <input type="radio" id="chinhanhtrue" name="rdChiNhanh" data-bind="checked: newGiaBan().TatCaDonVi, checkedValue: false" />   Chi nhánh
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="outselect outselectDV">
                            <div class="choose-person floatleft " data-toggle="dropdown" id="choose_TenDonVi">
                                <ul data-bind="foreach: MangNhomDV">
                                    <li class="li-input-span">
                                        <span data-bind="text: TenDonVi">
                                        </span>
                                        <span data-bind="click: $parent.CloseDV">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </li>
                                </ul>
                                <input type="text" id="dllChiNhanh" readonly="readonly" class="dropdown" placeholder="Chọn chi nhánh áp dụng..." />
                            </div>
                            <div class="selec-person dropdown-menu floatleft" id="selec-all-DV">
                                <ul data-bind="foreach: ChiNhanhs ">
                                    <li data-bind="attr:{id: ID}, click: $parent.selectedCN">
                                        <span data-bind="text: TenDonVi"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group floatleft">
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <label>
                                <input type="radio" id="nguoibanfalse" name="rdNguoiBan" data-bind="checked: newGiaBan().TatCaNhanVien, checkedValue: true" />  Toàn bộ người bán
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group floatleft">
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <label>
                                <input type="radio" id="nguoibantrue" name="rdNguoiBan" data-bind="checked: newGiaBan().TatCaNhanVien, checkedValue: false" />   Người bán
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="outselect outselectNB">
                            <div class="choose-person floatleft " id="choose-NguoiBan" data-toggle="dropdown">
                                <ul data-bind="foreach: MangNhomNB">
                                    <li class="li-input-span">
                                        <span data-bind="text: TenNhanVien">
                                        </span>&nbsp;
                                        <span data-bind="click: $parent.CloseNB">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </li>
                                </ul>
                                <input type="text" id="dllNguoiBan" readonly="readonly" class="dropdown " placeholder="Chọn người bán áp dụng..." />
                            </div>
                            <div class="selec-person dropdown-menu floatleft" id="selec-all-NB">
                                <ul data-bind="foreach: NguoiDungs">
                                    <li data-bind="attr:{id: ID}, click: $parent.selectedNB">
                                        <span data-bind="text: TenNhanVien">
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="form-group floatleft">
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <label>
                                <input type="radio" id="khachhangfalse" name="rdKhachHang" data-bind="checked: newGiaBan().TatCaDoiTuong, checkedValue: true" />  Toàn bộ khách hàng
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group floatleft">
                    <div class="col-sm-12 col-md-4">
                        <div class="row">
                            <label>
                                <input type="radio" id="khachhangtrue" name="rdKhachHang" data-bind="checked: newGiaBan().TatCaDoiTuong, checkedValue: false" />  Nhóm khách hàng
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="outselect outselectNKH">
                            <div class="choose-person floatleft " id="choose-NhomKhachHang" data-toggle="dropdown">
                                <ul data-bind="foreach: MangNhomNKH">
                                    <li class="li-input-span">
                                        <span data-bind="text: TenNhomDoiTuong">
                                        </span>&nbsp;
                                        <span data-bind="click: $parent.CloseNKH">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </li>
                                </ul>
                                <input type="text" id="dllNhomKH" readonly="readonly" class="dropdown " placeholder="Chọn nhóm khách hàng áp dụng..." />
                            </div>
                            <div class="selec-person dropdown-menu floatleft" id="selec-all-NKH">
                                <ul data-bind="foreach: NhomDoiTuongs">
                                    <li data-bind="attr:{id: ID}, click: $parent.selectedNKH">
                                        <span data-bind="text: TenNhomDoiTuong">
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
            <button type="button" class="btn btn-delete deletebanggia" style="display:none" id="btnGiaBan" data-dismiss="modal" data-bind="click: modalDeleteGiaBan"><i class="fa fa-trash"></i> Xóa</button>
            <!-- ko if: _ThemMoiGiaBan() ==true -->
            <button type="button" class="btn btn-save addGiaBan" style="display:none" id="btnLuuGiaBan" data-bind="click: addGiaBan "><i class="fa fa-save"></i> Lưu</button>
            <!-- /ko-->
            <!-- ko if: _ThemMoiGiaBan() ==false -->
            <button type="button" class="btn btn-save editGiaBan" style="display:none" id="btnLuuGiaBan" data-bind="click: editGiaBan"><i class="fa fa-save"></i> Lưu</button>
            <!-- /ko-->
        </div>
    </div>
</div>
<style>
    #phamviapdung .outselect .choose-person li {
        float: left;
    }
    #phamviapdung .selec-person .fa-check {
        top: 0px;
    }
    .open1 > .dropdown-menu {
        display: none!important;
    }
</style>
<script>
    $(document).ready(function () {
        var lc_CTQuyen = JSON.parse(localStorage.getItem('lc_CTQuyen'));
        if ($.inArray('ThietLapGia_Xoa', lc_CTQuyen) > -1) {
            $('.deletebanggia').css('display', 'block');
        }
    })
    $(function () {
        //$('#txtTuNgay').datetimepicker({
        //    showTodayButton: true,
        //    locale: 'vi'
        //});
        //$('#txtDenNgay').datetimepicker({
        //    showTodayButton: true,
        //    locale: 'vi',
        //    useCurrent: false
        //});
        $("#txtTuNgay").on("dp.change", function (e) {
            $('#txtDenNgay').data("DateTimePicker").minDate(e.date);
        });
        $("#txtDenNgay").on("dp.change", function (e) {
            $('#txtTuNgay').data("DateTimePicker").maxDate(e.date);
        });
    });
    $(document).ready(function () {
        $("#txtTuNgay").focusout(function () {
            document.getElementById("txtDenNgay").value = document.getElementById("txtTuNgay").value;
        });
    });
    $(document).on('click', '#chinhanhtrue', function () {
        //$("#dllChiNhanh").prop("disabled", false);
        $('.outselectDV').removeClass('open1');
    });
    $(document).on('click', '#nguoibantrue', function () {
        //$("#dllNguoiBan").prop("disabled", false);
        $('.outselectNB').removeClass('open1');
    });
    $(document).on('click', '#khachhangtrue', function () {
        //$("#dllNhomKH").prop("disabled", false);
        $('.outselectNKH').removeClass('open1');
    });
    $(document).on('click', '#chinhanhfalse', function () {
        //$("#dllChiNhanh").prop("disabled", true);
        $('.outselectDV').addClass('open1');
    });
    $(document).on('click', '#nguoibanfalse', function () {
        //$("#dllNguoiBan").prop("disabled", true);
        $('.outselectNB').addClass('open1');
    });
    $(document).on('click', '#khachhangfalse', function () {
        //$("#dllNhomKH").prop("disabled", true);
        $('.outselectNKH').addClass('open1');
    });
</script>
