
<style>
    #vmNewProduct .btn-upload-image {
        width: 100px;
        max-width: 100%;
        position: relative;
        margin: 3px 15px;
        overflow: hidden;
        border: 1px solid #ccc;
        color: #000;
        line-height: 22px !important;
        font-size: 1rem !important;
    }

        #vmNewProduct .btn-upload-image input {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            text-align: right;
            opacity: 0;
            background: none repeat scroll 0 0 transparent;
            cursor: inherit;
            display: block;
        }

    #vmNewProduct table thead tr th {
        text-align: center;
    }
</style>
<div class="modal fade" id="vmNewProduct">
    <div class="modal-dialog draggable modal-md">
        <div class="modal-content  ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <h5 class="modal-title">
                    {{isNew?'Thêm mới ':'Cập nhật '}} {{sLoaiHang}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

            </div>
            <div class="modal-body modal-body-scroll" style="padding:15px;">
                <ul class="nav nav-tabs mb-3 gara-detail-tab" id="gara-detail-tab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#inforProduct" role="tab" aria-controls="pills-profile" aria-selected="false">
                            Thông tin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#thanhphan" role="tab" aria-controls="pills-contact" aria-selected="false">
                            Thành phần
                        </a>
                    </li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="inforProduct" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="flex flex-column gara-detail-sections">
                            <label class="control-label">Thông tin xe</label>
                            <div class="row padding-10">
                                <div class="col-lg-12">
                                    <div class="form-group floatleft">
                                        <label class="control-label">Mã hàng hóa</label>
                                        <div class="form-news">
                                            <input class="form-control" type="text"
                                                   autocomplete="off"
                                                   placeholder="Mã tự động"
                                                   v-model="newProduct.MaHangHoa" />
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <label class="control-label">Tên hàng hóa</label>
                                        <div class="form-news">
                                            <input class="form-control" type="text"
                                                   autocomplete="off"
                                                   v-model="newProduct.TenHangHoa" />
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <label class="control-label">Nhóm</label>
                                        <div class="form-news">
                                            <div id="vmNewProduct_treeNhomHang">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <label class="control-label">Giá bán</label>
                                        <div class="form-news">
                                            <input class="form-control" type="text"
                                                   autocomplete="off"
                                                   v-model="newProduct.GiaBan" />
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <label class="control-label">Giá vốn</label>
                                        <div class="form-news">
                                            <input class="form-control" type="text"
                                                   autocomplete="off"
                                                   v-model="newProduct.GiaVon" />
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <label class="control-label">Tồn kho</label>
                                        <div class="form-news">
                                            <input class="form-control" type="text"
                                                   autocomplete="off"
                                                   v-model="newProduct.GiaVon" />
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <label class="control-label">Vị trí kho</label>
                                        <div class="form-news">
                                            <input class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <label class="control-label">Bảo hành</label>
                                        <div class="form-news">
                                            <input class="form-control" type="text"
                                                   autocomplete="off"
                                                   v-model="newProduct.GiaVon" />
                                        </div>
                                    </div>
                                    <div class="form-group floatleft">
                                        <label class="control-label">Số km bảo hành</label>
                                        <div class="form-news">
                                            <input class="form-control" type="text"
                                                   autocomplete="off"
                                                   v-model="newProduct.GiaVon" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-column gara-detail-sections">
                            <div class="flex flex-row floatleft" style="border-bottom: 1px solid #ccc; width: 100%; padding: 5px 0 5px 10px;">
                                <label class="control-label ">
                                    <input type="checkbox" 
                                           style="position:relative">
                                    Quản lý đơn vị tính
                                </label>
                            </div>
                            <div class="row padding-10">

                                <div class="col-lg-12 col-xs-12">
                                    <div class="form-group floatleft">
                                        <label class="control-label">Đơn vị cơ bản <span class="red"> (*) </span> </label>
                                        <div class="form-news">
                                            <input class="form-control" type="text"
                                                   autocomplete="off"
                                                   v-model="newProduct.GiaVon" />
                                        </div>

                                    </div>
                                    <div class="form-group floatleft">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>Tên đơn vị </td>
                                                    <td>Giá trị quy đổi </td>
                                                    <td>Giá bán</td>
                                                    <td>Mã hàng hóa</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input class="form-control" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="flex flex-column gara-detail-sections">
                            <div class="flex flex-row floatleft" style="border-bottom: 1px solid #ccc; width: 100%; padding: 5px 0 5px 10px;">
                                <label class="control-label ">
                                    <input type="checkbox"
                                           style="position:relative">
                                    Quản lý thuộc tính
                                </label>
                            </div>
                            <div class="row padding-10">
                                <div class="col-lg-12">
                                    <div class="form-group floatleft">
                                        <label class="control-label">Số km vào</label>
                                        <div class="form-news">
                                            <input type="text" class="form-control text-right" autocomplete="off" onclick="this.select()"
                                                   />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 highlight-note-box">
                                    <table>
                                        <thead>
                                            <tr>
                                                <td>Tên thuộc tính </td>
                                                <td>Đơn vị tính </td>
                                                <td>Giá vốn</td>
                                                <td>Giá bán</td>
                                                <td>Tồn kho</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input class="form-control" />
                                                </td>
                                                <td>
                                                    <input class="form-control" />
                                                </td>
                                                <td>
                                                    <input class="form-control" />
                                                </td>
                                                <td>
                                                    <input class="form-control" />
                                                </td>
                                                <td>
                                                    <input class="form-control" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane " id="thanhphan" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div style="    padding: 15px 0;">
                            <table class="table-res">
                                <thead>
                                    <tr>
                                        <th>Mã hàng hóa</th>
                                        <th>Tên hàng hóa</th>
                                        <th>Số lượng quy cách</th>
                                        <th>Số lượng</th>
                                        <th>Giá vốn</th>
                                        <th>Thành tiền</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody style="max-height:250px">
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td>52,000</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">
                    <i class="fa fa-ban"></i>Hủy
                </button>
                <button type="button" class="btn btn-save" 
                        v-if="role.Insert">
                    <i class="fa fa-save"></i>
                    Lưu
                </button>
                <button type="button" class="btn btn-save"
                        v-if="$root.isLoading">
                    <i class="fa fa-save"></i>
                    Đang lưu
                </button>

            </div>

        </div>

        <script>
            $('.infor-popup a').click(function () {
                $(this).siblings().toggle();
            })
            $.datetimepicker.setLocale('vi');
        </script>
    </div>



</div>
<script src="~/Scripts/DanhMuc/SanPham/_vmNewProduct.js"></script>

