@using (Html.BeginForm("Upload", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div id="myModalinport" class="modal fade" >
        <div id="modalContainer_NhomHHDV" class="modal-dialog draggable modal-dialoghh ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                    <h4 class="modal-title">Nhập hàng hóa từ File dữ liệu</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 printinport">
                            <div class="floatleft">
                                <div class="title-inport floatleft">Xử lý dữ liệu (Tải về File mẫu: <span class="blue" data-bind="click: DownloadFileTeamplateXLS"> Excel 2003</span>  hoặc<span class="blue" data-bind="click: DownloadFileTeamplateXLSX"> bản cao hơn</span>):</div>
                            </div>

                            <div class="warning-content floatleft">
                                <h5 class="title-alert"><i class="fa fa-warning"></i> Lưu ý</h5>
                                <p>Hệ thống cho phép nhập dữ liệu từ file Excel 2003 hoặc bản cao hơn .</p>
                                <p>Mã hàng hóa không chứa kí tự đặc biệt ( #, $, *, /, -, _,...) và không trùng lặp.</p>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer pull-right">
                        <div class="k-button floatleft">
                            <span class="btn btn-green btn-file form-control">
                                Chọn file dữ liệu <input type="file" name="file" id="file" class="inputfile" data-bind="event:{ change: SelectedFileImport }"
                                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            </span>
                        </div>
                      
                    </div>
                    <div class="floatleft ">
                        <div class="list-file">
                            <ul>
                                <li class="filterFileSelect">
                                    <span data-bind="text: fileNameExcel"></span>
                                    <div class="delete-file" data-bind="click: refreshFileSelect">
                                        <img src="/Content/images/icon/Iconthemmoi-17.png">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer pull-right file-all btnImportExcel">
                            <span class="btn btn-green btn-file form-control">
                                <input type="submit" value="Thực hiện" class="btn btn-green" />
                            </span>
                         
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}
