

:root {
    --main-color: #0097c4;
    --main-color-hover: #0487ad;
    --color-button: #777;
    --color-button-hover: #999;
    --color-filter-left: #d1d2d9;
    --color-button-thanh-toan: #f75e5c;
    --button-thanh-toan-hover: #f78483;
    --main-color-font: White;
    --table-color: #c7dfe6;
    --hover-loadding: #c7dfe6;
    --load-progress: #b2c70f;
    --color-ban-hang: #ff4d71;
    --btn-dang-ky-hover: #c42020;
    --color-tiet-kiem: #f2aa0a;
    --color-tieu-chuan: #c42020;
    --color-chuyen-nghiep: #27aae2;
    --color-menu-footer: #77787b;
    --color-ssoft: #ff7f00;
    --color-ssoft-hover: #de750d;
    --color-chi-tiet: #787676;
    --color-btn-ssoft: #363638;
    --color-btn-ssoft-hover: #0d0d10;
    --color-title: #e7e8e9;
}
.footer {
    background: var(--color-btn-ssoft);
    /*height: 496px;*/
    position: relative;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
}

.footer-bottom {
    line-height: 25px;
    background: #999;
    color: #fff;
    text-align: center;
}
.layout-ho-tro h2{
    font-weight:bold;
    text-align:center;
    color:black;
}
.footer p {
    line-height: 16px;
    margin-bottom: 0px;
}
.footer-head {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid black;
}
.menu-main {
    width: 700px;
    margin: auto;
}


    .menu-main .active a, .menu-main li:hover a {
        border-bottom: 2px solid var(--main-color);
        text-decoration: none !important;
        color: var(--main-color) !important;
    }
.click-menu
{
    display:none;
}
.menu-main li {
    float: left;
    padding-left: 30px;
    line-height: 65px;
}

        .menu-main li a {
            padding: 7px;
            color: black;
            font-size: 15px;
        }

.login-inner {
    position: absolute;
    right: 20px;
    top: 1px;
}

.loginres {
    background: var(--main-color);
    margin-left: 13px;
}

.login:hover {
    background: var(--main-color-hover);
    color: white;
}

.login {
    height: 20px;
    border-radius: 20px;
    background: var(--main-color);
    color: white;
    padding: 5px 17px;
}
.icon-footer img{
   width:90px;
   height:90px;
}
.footer-menu {
    float:right;
    padding-left:30px;
    width: calc(100% - 90px);
   
}
    .footer-menu .active a, .menu-main li:hover a {
        border-bottom: 2px solid var(--main-color);
        text-decoration: none !important;
        color: var(--main-color) !important;
    }

    .footer-menu li {
        float: right;
        padding-left: 30px;
        line-height: 80px;
    }

        .footer-menu li a {
            padding: 7px;
            color: var(--color-menu-footer);
            font-size: 16px;
            font-weight: bold;
        }
.footer-content p {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: var(--color-menu-footer);
}
.footer-span-title {
    color: var(--color-ssoft);
    font-weight:bold;
    font-size:14px;
}
.footer-content
{
    padding:0px;
    padding-top:30px;
}
.connection a {
    background: black;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 19px;
    width: 40px;
    height: 40px;
    float: left;
    line-height: 39px;
    margin-right: 4px;
}
    .connection a:hover {
        background: var(--main-color);
    }
.banner {
    background: url('/Images/Theme/Ssoft/banner/banner-home.jpg') no-repeat bottom center;
    height: 700px;
    margin-top: 15px;
    background-size: 100%;
    position: relative;
}
.banner-page {
    height: 300px;
    margin-top: 15px;
    background-size: 100%;
    position: relative;
}
.banner-name, .banner-name-page {
    padding-left: 600px;
    margin-top: 70px;
}
.banner-name-page h1{
    color:white;
}
.list-san-pham:hover {
    box-shadow: 0px 0px 4px 4px #e5e2e2;
}
.header-page-title1 {
    font-weight: bold;
}
.header-page-title2 {
    font-size: 30px;
    font-weight: bold;
}
.header-page-title3 {
    font-size: 30px;
}
.banner-product {
    background: url('/Images/Theme/Ssoft/banner/banner-hop-tac.jpg') no-repeat bottom center;
}
.header-title-software, .header-title-software2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.btn-dung-thu {
    padding: 10px;
    font-size: 20px;
    background: #ff3838;
    color: white;
    font-weight: bold;
    line-height: 60px;
    border-radius:4px;
}
    .btn-dung-thu:hover {
        background: #ac1010;
        color: white;
    }
.home-detail .row h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.list-san-pham .img-reason {
    height: 250px;
    width: 80%;
    margin-left: calc(10%);
    background-size: 100% !important;
}
.name-reason {
    font-size: 22px;
    margin-top: 15px;
    color: black;
}
    .name-reason .ten-san-pham{
        color:var(--main-color);
    }
.list-san-pham {
    padding: 0px 30px 30px 30px;
}
.danh-gia-sp i {
    padding: 5px;
    color: var(--color-ssoft);
    font-size:16px;
}
.danh-gia-sp i:first-child{
    padding-left:0px;
}
.chi-tiet-san-pham {
    font-size: 14px;
    color: #2f2e2e;
    /*color: var(--color-chi-tiet);*/
}

.link-chi-tiet a {
    padding-left: 10px;
    text-decoration: underline !important;
}
.link-chi-tiet i {
    font-size:18px;
    color: var(--color-ssoft);
}
.line-end {
    width: 130px;
    height: 1px;
    background: #999;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
}
    .line-end::after {
        border: 1px solid #ff9900;
        background: #e6e7e9;
    }
    .line-end::after {
        content: "";
        height: 9px;
        width: 9px;
        border-radius: 5px;
        position: absolute;
        border: 1px solid #999;
        top: -4px;
        left: 46%;
        background: white;
    }
    /*.line-end i {
        color: var(--main-color);
        width: 300px;
        font-size:0px;
    }*/
.list-san-pham .img-we{
    height:50px;

}
.name-we {
    text-align: center;
    color: black;
    font-weight: bold;
}
.content-customer-we {
    background: #e6e7e8;
    padding: 15px;
}
.menu-active-page a{
    border-bottom: 2px solid var(--main-color);
}
.btn-home-tin-tuc li {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 15px;
}
.btn-home-tin-tuc {
    padding-left: 490px;
    border: none;
}
        .btn-home-tin-tuc li.active a, .btn-home-tin-tuc li.active a:focus, .btn-home-tin-tuc li:hover a {
            background: var(--main-color);
            color: white;
            border: 1px solid var(--main-color);
            border-radius: 3px;
            margin-right:0px;
        }
.btn-home-tin-tuc li a{
    font-weight:bold;
}
.item-news {
    padding-top: 30px;
    margin-bottom: 30px;
    height:170px;
}
.img-news {
    width: 200px;
    height: 145px;
    float: left;
    position: relative;
}
    .img-news img {
        width: 100%;
        height: 100%;
        border: 1px solid #cccc;
        border-radius:4px;
    }
.content-news {
    float: right;
    width: calc(100% - 200px);
    padding-left: 15px;
    color: var(--color-chi-tiet);
}
.title-news-right {
    font-size: 18px;
    color: #ff9900;
    text-align: justify;
    font-weight: bold;
}
    .title-news-right a {
        color: black;
    }
.content-news-right {
    color: black;
}
.content-news-right a {
    color: black;
    font-weight:bold;
}

.content-news-right a {
    font-size: 16px;
    text-align: justify;
    font-weight: bold;
}
/*.news-home .title-news-right {
    height: 50px;
}*/
.news-home .img-news {
    width: 140px;
    height: 110px;
}
.news-home .item-news {
    margin-bottom: 0px;
    margin-top:0px;
}
.news-home .content-news {
    width: calc(100% - 140px);
}
.time-news {
    color: #c0bcbc;
    font-size: 16px;
}
    .time-news i {
        padding-right: 4px;
    }
    .time-news:before {
        font-family: FontAwesome;
        font-size: 20px;
        content: "\f017";
        color: #f8772a;
    }
.detail-news {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a0c6d7;
    top: 0px;
    opacity: 0.9;
    display: none;
}
.img-news:hover .detail-news {
    display: block;
}
.detail-news a {
    line-height: 51px;
    text-align: center;
    background: white;
    border-radius: 27px;
    color: #fa850c;
    width: 45px;
    height: 45px;
    float: left;
    margin-left: 55px;
    margin-top: 35px;
}
    .detail-news a i {
        font-size: 18px;
    }
.more-news {
    width:100%;
    float:left;
    text-align: center;
    padding: 20px 0px 40px 0px;
}
    .more-news a {
        padding: 10px 40px;
        border: 1px solid var(--main-color);
        border-radius: 4px;
        font-size: 19px;
        background: white;
        color: var(--main-color);
    }
        .more-news a:hover {
            background: var(--main-color);
            color: white;
            border: 1px solid var(--main-color);
        }
.btn-add-contact{
    text-align:right;
}
    .btn-add-contact a {
        padding: 10px 20px;
        font-size: 14px;
    }
.recruitment {
    background: #e6e7e8
}
.tuyen-dung-chi-tiet ul
{
    padding:15px 15px 15px 15px;
}
    .tuyen-dung-chi-tiet ul li a {
        color: black;
        font-size: 16px;
        margin-left: 15px;
    }
    .tuyen-dung-chi-tiet ul li {
        line-height: 30px;
    }
        .tuyen-dung-chi-tiet ul li:before {
            font-family: FontAwesome;
            font-size: 8px;
            content: "\f111";
            color: white;
        }
.recruitment .btn-home-tin-tuc li{
    background:white;
}
.gui-lien-he .form-group input, .gui-lien-he .form-group textarea {
    max-width: 100%
}
.gui-lien-he .form-group i {
    position: absolute;
    width: 50px;
    margin-left: 15px;
    color: #ccc;
    font-size: 18px;
    top:10px;
}
.gui-lien-he  .user-send i {
    top: 10px;
}
.gui-lien-he .phone i {
    top: 107px;
}
.gui-lien-he  .e-mail i {
    top: 58px;
}
.gui-lien-he .form-group input{
    padding-left:40px;
}
.contact-page-title1 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color:white;
}
.contact-page-title2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold
}
.banner-home-contact {
    background: url('/Images/Theme/Ssoft/banner/banner-ho-tro.jpg') no-repeat bottom center;
    height: 300px;
    background-size: 100%;
    position: relative;
}
.banner-contact-page {
    padding-top:65px;
}
 .lien-he247 {
    position: absolute;
    right: 100px;
    top: 40px;
    height: 250px;
}
    .lien-he247 h2 {
        line-height: 50px;
        padding-top: 58px;
        padding-right: 60px;
        color: white;
        font-size: 38px;
        text-align: center;
        font-weight: bold;
    }
    .lien-he247 img {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 250px;
    }
.lh2{
    font-size:65px;
}
.banner-contact-page .btn-dung-thu{
    background:var(--main-color);
    border-radius:4px;
}
    .banner-contact-page .btn-dung-thu:hover {
        background: var(--main-color-hover);
    }
.btn-oder {
    width:100%;
    padding-top:15px;
}
    .btn-oder a:hover {
        color: white;
    }
.a-dat-mua {
    width: 50%;
    float: left;
    padding: 6px;
    background: var(--main-color);
    color: white;
    height: 40px;
}
.a-dung-thu {
    width: 48%;
    float: left;
    padding: 6px;
    margin-left: 5px;
    color: white;
    height: 40px;
    background: var(--color-ssoft);
}
.banner-news {
    background: url('/Images/Theme/Ssoft/banner/banner-tin-tuc.jpg') no-repeat bottom center;
}
.img-news-top1 {
    width: 350px;
    height: 230px;
}
.content-news-top1 {
    width: calc(100% - 360px);
}
.news-recruitment .fl {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccc;
}
    .news-recruitment .fl .title-news-right a{
        color:black;
    }
    /*.news-recruitment .fl .title-news-right  {
        margin-bottom:15px;
    }*/
.title-news {
    font-size: 22px;
    color: black;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    margin-top: 15px;
}
.news-bar .img-news {
    width: 100px;
    height: 80px;
}
.news-bar .content-news {
    width: calc(100% - 110px);
}
.news-bar .title-news-right {
    font-size: 13px;
    text-transform: inherit;
}
.news-bar .title-news-right a {
    color:black;
}
.time-bar {
    font-size: 14px;
}
    .time-bar:before {
        font-family: FontAwesome;
        color: #ccc;
        content: "\f017";
        font-size: 16px;
    }
.news-bar .title-news-right {
    margin-bottom: 5px;
}
.banner-contact {
    background: url('/Images/Theme/Ssoft/banner/banner-lien-he.jpg') no-repeat bottom center;
}
.banner-text-left h1 {
    font-weight: bold;
    line-height: 50px;
    font-size: 40px;
}
.banner-text-left{
    padding-top:30px;
}
.contact-title1 {
    color: #fcdca4;
    font-size: 60px;
}
.contact-title2 {
    color: white;
}
.contact-title3 {
    font-weight: 400;
}
.send-contact {
    width:100%;
    background: var(--color-btn-ssoft);
    float: left;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height:40px;
    color: white;
    border-radius: 4px;
    margin-top: 5px;
    max-width: 288px;
}
    .send-contact:hover {
        color: white;
        background: var(--color-btn-ssoft-hover);
    }
.content-contact{
    padding-top:30px;
}
.company-adress{
    padding-top:30px;
}
    .company-adress .contac-address {
        font-size: 16px;
        margin-bottom:15px;
        color: var(--color-chi-tiet);
    }
        .company-adress .contac-address i {
            font-size: 24px;
            color: red;
        }
.contac-left{
    padding-top:30px;
}
.contac-extend ul li{
    line-height:30px;
}
    .contac-extend ul li a {
        font-size: 16px;
        color: var(--color-chi-tiet);
    }
    .contac-extend ul li a i{
        font-size: 20px;
    }
    .contac-extend ul li a:hover {
        color:var(--main-color);
    }
.contac-extend .fa-skype, .contac-extend .fa-envelope {
    color: var(--main-color);
}
.contac-extend .fa-phone-square {
    color: var(--color-ssoft);
}
.fa-star{
    color:var(--color-ssoft);
}
.banner-product-detail .banner-text-left {
    color: black;
}
.product-detail-title1 {
    color: #b44685;
}
.product-detail-title2 {
    color: #432b7e;
}
.img-pr {
    position: absolute;
}
.detail-pr {
   padding-left: 100px;
}
    .detail-pr .detail-pr-group {
        margin: 10px 0 0px;
    }
.footer-menu ul li:hover a{
    color:white;
}
.function-detail-pr {
    font-size: 16px;
    color: black;
    padding: 15px 0px 15px 0px;
}
    .function-detail-pr .row {
        padding-top: 15px;
        min-height:100px;
    }
.title-pr {
    font-weight: bold;
}
.detail-pr ul li {
    line-height: 30px;
    padding-left: 15px;
}
    .detail-pr ul li i {
        position: absolute;
        font-size: 8px;
        left: 110px;
        color: var(--color-ssoft);
        margin-top: 10px;
    }
.number-title-pr {
    padding: 10px 10px 0px 10px;
    background: var(--main-color);
    color: white;
    font-size: 18px;
    margin-right: 15px;
}
.pr-btn-dung-thu {
    background: #ff3838;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 290px;
    height: 45px;
    float: left;
    margin: 15px;
}
.pr-btn-dat-mua {
    background: var(--main-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 290px;
    height: 45px;
    float: left;
    margin: 15px;
}
    .pr-btn-dat-mua:hover {
        background: var(--main-color-hover);
    }
.pr-btn-dung-thu:hover {
    background: #d70606;
}
.pr-order-header {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.User-use-title {
    background: var(--color-title);
    padding: 15px;
}
    .User-use-title span {
        color: black;
        font-size: 17px;
    }
    .User-use-title i {
        float: right;
        font-size: 18px;
        color: var(--color-ssoft);
    }
.banner-text-right {
    padding-left: 700px;
}
.product-gara {
    color: #2fb3a6;
}
.banner-recruitment {
    background: url('/Images/Theme/Ssoft/banner/banner-tuyen-dung.jpg') no-repeat bottom center;
}
.recruitment-title1 {
    font-weight: 100;
}
.banner-recruitment .banner-text-left {
    color: white;
    margin-left: -60px;
    padding-top: 10px;
}
.content-recruitment
{
    padding-top:30px;
}
.content-recruitment h2 {
    text-align:center;
}
.tree-group-recruitment ul li:before {
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f0da";
    color: var(--color-ssoft);
}
.tree-group-recruitment ul li a {
    color: black;
    font-size: 14px;
    padding-left: 15px;
}
    .tree-group-recruitment ul li a:hover {
        color: #428bca;
        text-decoration: underline !important;
    }


.tree-group-recruitment ul li {
    line-height: 30px;
    padding-left: 10px;
}
.tree-recruitment-content {
    display: none;
    padding: 15px 15px 15px 30px;
    color: var(--color-chi-tiet);
}
    .tree-recruitment-content .fl {
        margin-bottom: 15px;
    }
.tree-recruitment-title .fl {
    padding-right: 20px;
    color:black;
    font-size: 16px;
}
.tree-recruitment-title {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}
.tree-recruitment-detail li {
    border-top: 1px solid #ccc;
    width: 100%;
    position: relative;
    float: left;
}
.tree-recruitment-detail li:last-child{
    border-bottom:1px solid #ccc;
}
.tree-recruitment-title a {
    position: absolute;
    top: 20px;
    right: 18px;
    font-size: 18px;
    color: var(--color-ssoft);
}
.recruitment-color-ssoft {
    color: var(--color-ssoft);
    font-size: 14px;
}
.background-title {
   background: var(--color-title);
}
.btn-add-recruitment a{
    font-size:14px;
    padding:6px 30px;
}
.btn-add-recruitment {
    padding: 20px 0px 15px 0px;
}
.banner-customer {
    background: url('../../../Images/Theme/Ssoft/banner/banner-khach-hang.jpg')  no-repeat bottom center;
}
.customer-search-adress .tree-title {
    border: 1px solid #ccc;
    padding: 6px;
    background: white;
}
.customer-search-adress .tree-title i {
 color:var(--color-chi-tiet);
}
    .customer-search-adress .tree-title span {
        font-size: 14px;
         font-weight: 400; 
    }
.customer-search-adress .tree-detail ul li {
    line-height: 30px;
    padding-left: 15px;
    font-size: 14px;
}
.customer-search-adress .tree-detail {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: none;
    position: absolute;
    background: white;
    top: 35px;
    z-index: 999;
    width: 89% !important;
}
.customer-search-adress .tree-detail ul li a {
  
   color:var(--color-chi-tiet);
       
}
    .customer-search-adress .tree-detail ul li:hover a {
        color: var(--color-ssoft);
    }
.customer-page{
    padding-top:60px;
}
.customer-search-input i {
    position: absolute;
    font-size:18px;
    top: 8px;
    left: 30px;
    color:var(--color-chi-tiet)
}
.customer-search-input input {
    padding-left: 40px;
}
.list-customer .title-news-right a{
    color: var(--main-color);
}
.contentnews, .home-san-pham {
    margin-top: 30px;
}
.mobi-banner-contact-page {
    height: 340px;
}
    .mobi-banner-contact-page h2 {
        padding: 110px 0px 0px 15px;
    }
.mobi-banner-contact-page .btn-dung-thu {
    background: var(--main-color);
    border-radius: 4px;
}
.banner-product, .banner-customer, .banner-contact, .banner-recruitment, .banner-news, .banner-product-detail {
    background-size: 100% 100% !important;
}
.modal-header{
    background:var(--main-color);
    color:white;
}
    .modal-header i, .modal-header span {
        color: white;
    }
.btn-main-color {
    background: var(--main-color);
    color: white;
    font-weight:bold;
}
    .btn-main-color:hover, .btn-main-color:focus {
        background: var(--main-color-hover);
        color: white;
    }
.btn-main-color i {
   margin-right:10px;
   font-size:18px;
}
.time-bar font {
    padding-left: 5px;
}
.title-detailnews {
    font-size: 22px;
    color: black;
    font-weight: bold;
}
.summary-detailnews {
    font-weight: bold;
    padding: 10px 0;
}
.user-detailnews {
    margin: 10px 10px;
    font-size: 16px;
    float: right;
    font-weight: bold;
    color: black;
}
.customer-contact{
    position:relative;
}
.mar-r {
    width: 230px !important;
    max-width: 230px !important;
}
.logotrch {
    left: 100px;
}
.news-bar{
    margin-bottom:15px;
}
.content-detailnews img{
    width:100% !important;
}
.logotrch img {
    width: 60px;
}
.thumbnail {
    height: 190px;
    overflow: hidden;
}
    .thumbnail .image {
        height: 120px;
        overflow: hidden;
    }
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view-first img {
    transition: all .2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0,0,0,.5);
    transition: all .4s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all .2s linear;
}
.view-first .tools {
    transform: translateY(-100px);
    opacity: 0;
    transition: all .2s ease-in-out;
}
.view .tools a {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4px;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
}
    .thumbnail .caption a {
        color: #333;
    }
.tree-customer {
    padding-top: 15px;
}
    .tree-customer .customer-product {
        padding-bottom: 15px;
    }
.view-first:hover img {
    transform: scale(1.1)
}

.view-first:hover .mask {
    opacity: 1
}

.view-first:hover .tools,
.view-first:hover p {
    opacity: 1;
    transform: translateY(0px)
}

.view-first:hover p {
    transition-delay: 0.1s
}
.list-tinh-thanh-sl {
    max-height: 230px;
    overflow: auto
}
.list-san-pham-sl {
    max-height: 230px;
    overflow: auto
}
.chi-tiet-sp {
    text-align:center;
    color: white;
    margin-top: 15px;
    padding: 10px;
    background: var(--color-ssoft);
}
.chi-tiet-sp i {
   margin-right:5px;
   color:white;
}
.chi-tiet-sp:hover {
    background: var(--color-ssoft-hover);
    color: white;
}
.customer-row-list{
    height:120px;
}
.recruitment-active a{
    color:var(--color-ssoft) !important
}
.list-contact-company {
    padding: 15px 15px 15px 15px;
}
.banner-introduce {
    background: url('../../../Images/Theme/Ssoft/banner/banner-gioi-thieu.png') no-repeat bottom center;
}
.introduce-descriptions {
    margin-top: 20px;
}
    .introduce-descriptions h1 {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 15px;
    }
        .introduce-descriptions h1 span, .introduce-descriptions p span {
            color: var(--main-color)
        }
.indes-title{
    margin-top:30px;
}
.introduce-vision {
    background: url('../../../Images/Theme/Ssoft/banner/banner-tam-nhin-su-menh.png') no-repeat bottom center;
    color: white;
    margin-top: 50px;
}
    .introduce-vision .space-br {
        margin-right: calc(75%);
        margin-bottom:30px;
        height: 1px;
        background: var(--main-color)

    }
.introduce-product {
    margin-top: 50px;
    margin-bottom: 50px;
}
.introduce-product h4{
    font-weight:bold;
    margin-bottom:30px;
}
    .introduce-product .list-san-pham .img-reason
    {
     margin-left: 0px;
    }
.recruitment-detail {
    margin-top: 40px;
    margin-bottom: 30px;
}
.recruitment-file{
    padding:10px;
    background:var(--color-ssoft);
    color:white;
}
.recruitment-file:hover {
    background: var(--color-ssoft-hover);
    color: white;
}
.recruitment-send {
    width:100%;
    background: var(--main-color);
    color: white;
}
.recruitment-send:hover {
    background: var(--main-color-hover);
    color: white;
}
.recruitment-contact h4{
    text-align:center;
    font-weight:bold;
}
.introduce-vision .lst-int-vis{
    padding:15px;
}
.rede-title {
    font-size:20px;
}
.rede-title span{
    font-size:18px;
    color:var(--color-ssoft)
}
.req-de-content{
    border-bottom:1px solid #cccc;
}
.title-req-link{
    padding:15px 15px 15px 0px;
}
.recruitment-relate .tree-recruitment-title{
    border-bottom:1px solid #cccc;
}
.req-left {
    padding-left:0px;
}
.recruitment-relate h4{
    font-size:20px;
    font-weight:bold;
}
.rede-descriptions{
    margin-top:30px;
}
.form-checkbox input{
    width:20px;

}
.form-checkbox span{
    width:calc(100% - 20px);
}
.file-name {
    color: #b6adad;
    margin: 10px 0px 0px 0px;
}
.tab-quy-trinh-sua-oto {
    border-bottom: none !important;
}
    .tab-quy-trinh-sua-oto li {
        padding-left: 0px !important;
        margin-left: calc(35%);
    }
.tab-quy-trinh-sua-oto li a {

    font-weight: bold;
    border: 1px solid #8dd6e2 !important;
}
        .tab-quy-trinh-sua-oto li.active > a,
        .tab-quy-trinh-sua-oto li.active > a:focus {
            background-color: #8dd6e2 !important;
            font-weight: bold;
            color: black;
        }
.list-quy-trinh-sua-chua li p {
    text-align: center;
    font-size: 13px;
}
.list-quy-trinh-sua-chua li {
    position: relative;
    width: 190px;
    margin: 15px;
    float: left;
    height: 160px;
}
    .list-quy-trinh-sua-chua li .quy-trunh-gara-img {
        margin: auto;
        width: 140px;
        height: 125px;
    }
    .list-quy-trinh-sua-chua li .quy-trunh-gara-img  img{
       width:100%
    }
    .list-quy-trinh-sua-chua li i {
        position: absolute;
        top: 50px;
        font-size: 22px;
        right: 0px;
    }
.detail-pr-procedure {
    margin-top: 15px;
}
.detail-pr-procedure .tab-pane.active {
    border: 2px solid #8dd6e2;
}
.list-quy-trinh-sua-chua li .fa-long-arrow-down {
    display: none;
}
.ul-bxslider  {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
    .ul-bxslider li {
        width: calc(25% - 20px);
        float: left;
        padding: 10px;
        border: 1px solid#ccc;
        margin: 15px 10px 16px 10px;
        border-radius: 8px;
    }
        .ul-bxslider li img {
            height: 180px;
            width: 100%;
            border-radius: 4px;
        }
.ul-tree-customer li {
    width:25% ;
    padding:10px;
    float:left;
}
.ul-tree-customer li img{
    width: 100%;
    height:100%;
}
    .ul-tree-customer li .thumbnail {
        height: 250px;
        padding: 0px;
        border: none;
    }
    .ul-tree-customer li .thumbnail .image {
        height: 170px;
    }
    .ul-tree-customer li .thumbnail .caption p {
        margin: 0;
        letter-spacing: 1px;
        color: #252525;
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        width: 100%;
        font-weight: bold;
    }