@media(max-width:1600px) {
    .banner {
        height: 700px;
    }
}
@media(max-width:1444px) {
    .banner {
        height: 675px;
    }
    .banner-contact-page {
        padding-top: 70px;
    }
    .lien-he247 {
        top: 42px;
    }
    .logotrch {
        left: 50px;
    }
}
@media(max-width:1366px) {
    .banner-product {
        background-size: 100% 100%;
    }
    .banner {
        height: 630px;
    }
    .banner-contact-page {
        padding-top: 80px;
    }
    .lien-he247 img {
        height: 230px;
    }
    .lien-he247 {
        right: 70px;
        top: 55px;
    }
        .lien-he247 h2 {
            padding-top: 45px;
            padding-right: 58px;
            font-size: 34px;
        }
    .lh2 {
        font-size: 50px;
    }
}

@media(max-width:1280px) {
    .banner {
        height: 480px;
    }
    .banner-name {
        padding-left: 501px;
        margin-top: 30px;
    }
    .btn-home-tin-tuc {
        padding-left: 385px;
    }
    .a-dung-thu, .a-dat-mua{
        width:100%;
        margin:0px;
    }
    .a-dung-thu{
        margin-top:15px;
    }
    .banner-contact-page {
        padding-top: 115px;
    }
    .contact-page-title1 {
        font-size: 26px;
    }
    .contact-page-title2 {
        font-size: 18px;
    }
    .lien-he247 {
        right: 55px;
        top: 120px;
        height: 185px;
    }
        .lien-he247 img {
            height: 170px;
        }
        .lien-he247 h2 {
            line-height: 42px;
            padding-top: 25px;
            padding-right: 40px;
            font-size: 26px;
        }
    .lh2 {
        font-size: 44px;
    }
    .banner-name, .banner-name-page {
        padding-left: 500px;
        margin-top:30px;
    }
    .banner-recruitment .banner-text-left{
        margin-left:0px;
    }
    .banner-recruitment .banner-text-left h1{
        margin-left: 0px;
        font-size:36px;
    }
    .banner-page {
        height: 260px;
    }
    .banner-text-left, .banner-text-right {
        padding-top: 0px;
    }
    .banner-text-right {
        padding-left: 550px;
    }
    .banner-home{
        height:598px;
    }
}
@media(max-width:1024px) {
    .banner-product {
        height: 230px;
    }
    .footer-menu{
        display:none;
    }
    .logotrch {
        left: 20px;
    }
    .ul-tree-customer li .thumbnail {
        height: 200px;
    }
        .ul-tree-customer li .thumbnail .image {
            height: 145px;
        }
        .ul-tree-customer li .thumbnail .caption p{
            font-size:14px;
        }
}
@media(max-width:920px) {
   .a-dat-mua {
        width: 50%;
    }

    .a-dung-thu {
        width: 48%;
        margin-top: 0px;
        margin-left: 5px;
    }
}

@media(max-width:768px) {
    .ul-tree-customer li .thumbnail {
        height: 230px;
    }

        .ul-tree-customer li .thumbnail .image {
            height: 170px;
        }
    .ul-tree-customer li {
        width: 50%;
        padding: 40px;
        float: left;
    }
    .ul-tree-customer li .thumbnail .caption p  {
            white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }
    .banner-text-left {
        padding-left: 15px;
        padding-top:0px;
    }
    .banner-product {
        height: 230px;
    }
    .banner {
        height: 360px;
    }
    .banner-name {
        padding-left: 380px;
        margin-top: 30px;
    }
    .header-title-software, .header-title-software2 {
        font-size: 34px;
    }
    .btn-dung-thu {
        font-size: 18px;
        line-height: 40px;
    }
    .btn-home-tin-tuc {
        padding-left: 272px;
    }
    .footer-ket-noi{
        padding-left:0px;
    }
    .menu-main {
        position: fixed;
        top: 65px;
        background: var(--main-color);
        right: 0px;
        height: 100%;
        transition: width .2s;
        -webkit-transition: width .2s;
        width: 0px !important;
        z-index: 20;
    }
     .menu-main li a{
         color:white;
     }
    .click-menu {
        display: block;
        float: right;
        color: #999;
        font-size: 21px;
        width: 53px;
        text-align: center;
        line-height: 65px;
    }
    .bg-fuzzy {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(34,34,34,.3);
        z-index: 10;
        height: 100%;
        display: none;
    }
    .menu-main ul li {
        width: 100%;
        border-bottom: 1px dashed rgba(255,255,255,.35);
        line-height: 47px;
        /* padding-left: 30px; */
    }
    .visi {
        visibility: visible;
        transition: width .2s;
        -webkit-transition: width .2s;
        width: 50% !important;
    }
    .hotline{
        padding:0px;
    }
    .contact-page-title1 {
        font-size: 18px;
    }
    .contact-page-title2 {
        font-size: 14px;
    }
    .btn-dung-thu {
        font-size: 14px;
    }
    .lien-he247 h2 {
        line-height: 30px;
        padding-top: 15px;
        padding-right: 35px;
        font-size: 18px;
    }
    .lien-he247 img {
        height: 130px;
    }
    .lien-he247 {
        top: 165px;
    }
    .lh2 {
        font-size: 30px;
    }
    .lien-he247 {
        top: 165px;
    }
    .banner-contact-page {
        padding-top: 145px;
    }
    .banner-text-left h1 {
        line-height: 40px;
        font-size: 32px;
    }
    .contact-title1 {
        font-size: 50px;
    }
    .customer-search-adress{
        padding-top:15px;
    }
        .customer-search-adress .tree-detail {
            top: 57px;
            width: 91% !important;
        }
    .banner-name, .banner-name-page {
        padding-left: 350px;
        margin-top: 50px;
    }
    
    .banner-name-page h1 {
        font-size:28px;
    }
    .header-page-title2, .header-page-title3 {
        font-size: 22px;
        font-weight: bold;
    }
    .banner-product-detail, .banner-customer, .banner-news, .banner-contact, .banner-recruitment {
        background-size: 100% 100% !important;
        height: 200px;
    }

        .banner-recruitment .banner-text-left h1 {
            font-size: 30px;
        }
    .logotrch {
       
        left: 30px;
    }
}

@media(max-width:736px){
    .banner {
        height: 340px;
    }
    .banner-name {
        margin-top: 0px;
    }
  
   
   
}

@media(max-width:667px) {
    .banner {
        height: 312px;
    }
    .banner-name, .banner-name-page {
        padding-left: 315px;
        margin-top: 30px;
    }
    .banner-product,.banner-product-detail, .banner-customer, .banner-news, .banner-contact, .banner-recruitment {
        height: 180px;
    }
}

@media(max-width:530px) {
    .content-detailnews img {
        width: 100% !important;
        height: auto !important;
    }
    .ul-tree-customer li {
        width: 100%;
        padding: 30px;
        float: left;
    }
        .ul-tree-customer li .thumbnail {
            height: 230px;
        }
            .ul-tree-customer li .thumbnail .image {
                height: 175px;
            }
            .ul-tree-customer li .thumbnail .caption p {
                white-space: nowrap;
                overflow: hidden;
                display: block;
                text-overflow: ellipsis;
            }
    .banner-home-contact {
        background: url(/Images/Theme/Ssoft/banner/mobile/mobile-contact.jpg) no-repeat bottom center;
        height: 340px; 
    }
    .news-home .title-news-right, .item-news {
        min-height: 120px;
    }

    .item-news {
        border-bottom: 1px solid #cccc;
    margin-top:15px;
        }
    .img-news {
        width: 120px;
        height: 90px;
    }
    .img-news-top1{
        height:155px;
    }
    .content-news {
        width: calc(100% - 120px);
    }
    .news-home .img-news {
        width: 110px;
        height: 80px;
    }
    .news-home .content-news {
        width: calc(100% - 110px);
    }
    .title-news-right {
        height: auto;
    }
    .img-pr {
        display: none;
    }
    .detail-pr {
        padding-left:15px;
    }
        .detail-pr ul li i {
            left: 25px;
        }
    .form-group .form-wrap {
        width: 100%;
    }
    .form-group label
    {
        width:100%;
        
    }
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    .modal-dialog {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid var(--main-color);
        border-radius: 0;
        box-shadow: none;
    }

  

    .modal-body {
        position: absolute;
        top: 55px;
        bottom: 90px;
        width: 100%;
        font-weight: 300;
        overflow: auto;
    }

    .modal-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 90px;
        padding: 10px;
        background: #f1f3f5;
    }
    .footer-menu {
        display: none;
    }
    .footer-content .col-md-3{
        padding-left:0px;
        padding-bottom:15px;
    }
    .banner-page, .banner-home-contact {
        height: 340px;
    }
    .banner-contact {
        background: url('/Images/Theme/Ssoft/banner/mobile/mobile-ho-tro.jpg') no-repeat bottom center;
    }
    .banner-text-left h1 {
        line-height: 30px;
        font-size: 22px;
    }
    .contact-title1 {
        font-size: 44px;
    }
    .banner-text-left {
        padding: 15px 0px 0px 15px;
    }
    .lien-he247 {
        top: 30px;
        right: 15px;
    }
    .view-add{
        margin-left:15px;
    }
    .mobi-banner-contact-page{
        display:block;
    }
    .banner-contact-page {
        display: none;
    }
    .contact-page-title1 {
        font-size: 20px;
    }
    .logotrch {
        left: 15px;
    }
    .banner-news {
        background: url('/Images/Theme/Ssoft/banner/mobile/mb-tin-tuc.jpg') no-repeat bottom center;
        background-size: 100% 100%;
    }
    .content-news-top1 {
        width: 100%;
        padding: 0px;
        margin-top: 15px;
    }
    .layout-ho-tro {
        margin-top: 30px;
    }
    .img-news-top1{
        width:100%;
        float:left;
    }
    .gui-lien-he{
        margin-right:0px;
    }
    .banner-recruitment {
        background: url('/Images/Theme/Ssoft/banner/mobile/mb-tuyen-dung.jpg') no-repeat bottom center;
        background-size:100% 100%;
    }
        .banner-recruitment .banner-text-left {
            display: none;
        }
    .tuyen-dung-right, .tuyen-dung-left {
        padding: 0px;
        margin-bottom: 15px;
    }
    .banner-customer {
        background: url('/Images/Theme/Ssoft/banner/mobile/mb-khach-hang.jpg')  no-repeat bottom center;
        background-size: 100% 100% !important;
    }
    .banner-product {
        background: url('/Images/Theme/Ssoft/banner/mobile/mb-san-pham.jpg')  no-repeat bottom center;
        background-size: 100% 100%;
    }
    .banner-name, .banner-name-page
    {
        padding-left:15px;
        margin-top:15px;
    }
    .header-page-title2 {
        font-size: 20px;
    }
    .header-page-title3 {
        font-size: 20px;
    }
    .banner-name-page h1 {
        font-size: 26px;
    }
    .banner-product .banner-name-page {
        margin-top:30px;
    }
    .list-san-pham{
        padding:0px;
        margin-top:30px;
    }
    .btn-oder {
        padding-right: 0px;
        margin-right: 0px;
    }
    .mobile-banner-product-detail{
        display:block;
        background-size:100% 100% !important;
    }
    .banner-product-detail {
        display: none
    }
    .product-detail-title1, .product-detail-title2, .product-gara {
        font-size: 34px;
    }
    .pr-order-header {
        display: grid;
    }
    .banner {
        background: url('/Images/Theme/Ssoft/banner/mobile/mb-banner-home.jpg') no-repeat bottom center;
        background-size: 100% 100%;
    }
    .header-title-software, .header-title-software2 {
        font-size: 28px;
    }
    .banner-name, .banner-name-page {
        padding-left: 160px;
        margin-top: 0px;
    }
    .btn-geoup-dung-thu{
        margin:0px;
    }
    .banner-name  h1{
        line-height:30px;
    }
    .btn-home-tin-tuc {
        padding-left: 105px;
    }
    .banner {
        height: 340px;
    }
    .banner-home {
        height: 375px;
    }
    .banner-product .banner-name-page {
        padding-left: 15px;
    }
        .banner-product .banner-name-page h1 {
            font-size: 24px;
        }
    .banner-name-page  span,.banner-name span {
        color: black;
    }
    .thumbnail {
        height: 220px;
    }
        .thumbnail .image {
            height: 150px;
        }
    .news-recruitment .fl {
        min-height: 100px;
        border-bottom: 1px solid #cccc;
    }
    .customer-row-list {
        height: auto;
        min-height: 100px;
        border-bottom: 1px solid #ccc;
    }
    .btn-dang-ky {
        margin-right: calc(35%);
    }
    .introduce-vision .lst-int-vis {
        padding: 0px;
        margin: 30px 15px 30px 15px;
    }
    .banner-introduce {
        background: url('../../../Images/Theme/Ssoft/banner/mobile/gioi-thieu.jpg') no-repeat bottom center;
        background-size: 100% 100%;
    }
    .list-san-pham .img-reason {
        width: 100%;
        margin-left: 0px;
    }
    .list-quy-trinh-sua-chua li {
        width: 140px;
        margin: 10px;
        height: 150px;
    }
        .list-quy-trinh-sua-chua li .quy-trunh-gara-img {
            width: 100px;
            height: 90px;
        }
        .list-quy-trinh-sua-chua li i {
            top: 27px;
            font-size: 16px;
            right: -5px;
        }
    .tab-quy-trinh-sua-oto li {
        margin-left: calc(15%);
    }
}

@media(max-width:375px) {
 
    .logotrch {
        left: 30px;
    }
    .banner, .banner-page, .banner-home-contact {
        height: 330px;
    }
    .btn-home-tin-tuc {
        padding-left: 87px;
    }
    .header-title-software, .header-title-software2 {
        font-size: 24px;
    }
    .banner-name h1 {
        line-height: 22px;
    }
    .list-quy-trinh-sua-chua li {
        width: 125px;
    }
    .tab-quy-trinh-sua-oto li {
        margin-left: calc(12%);
    }
    .banner-home {
        height: 370px;
    }
}
@media(max-width:320px) {
    .ul-tree-customer li
    {
        padding:10px;
    }
    .news-home .img-news, .img-news {
        width: 100%;
        height: 170px;
        float: left;
    }
    .item-news {
        border-bottom: none;
    }
    .news-home .content-news {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
        padding-left: 0px;
    }
    .content-news {
        padding-left: 0px;
        width: 100%;
        float: left;
    }
    .news-recruitment .fl
    {
        border-bottom:none
    }
    .banner-name-page h1 {
        font-size: 22px;
    }
    .header-page-title3 {
        font-size: 17px;
    }
    .header-page-title2 {
        font-size: 17px;
    }

    .banner-product .banner-name-page {
        margin-top: 15px;
    }
    .banner-contact {
        background-size:100% 100%;
    }
    .banner,.banner-page {
        height: 300px;
    }
    .banner-text-left h1 {
        font-size: 18px;
    }
    .contact-title1 {
        font-size: 40px;
    }
    .lien-he247 {
        top: 25px;
        right: 5px;
    }
    .btn-home-tin-tuc {
        padding-left: 60px;
    }
    .banner-name, .banner-name-page {
        padding-left: 120px;
    }
    .header-title-software, .header-title-software2 {
        font-size: 22px;
    }
    .btn-dung-thu {
        font-size: 12px;
    }
    .thumbnail {
        height: 190px;
    }

        .thumbnail .image {
            height: 120px;
        }
    .list-san-pham .img-reason {
        width: 100%;
        margin-left: 0px;
    }
    .customer-row-list{
        border-bottom:none;
    }
    .list-quy-trinh-sua-chua li {
        width: 100%;
        margin: 0px;
        padding: 15px;
        height: 180px;
    }
        .list-quy-trinh-sua-chua li .fa-long-arrow-right {
           display:none;
        }
        .list-quy-trinh-sua-chua li i {
            top: 160px;
            font-size: 20px;
            right: 130px;
        }
        .list-quy-trinh-sua-chua li .fa-long-arrow-down {
            display: block;
        }
        .list-quy-trinh-sua-chua li .quy-trunh-gara-img {
            width: 140px;
            height: 105px;
        }
    .tab-quy-trinh-sua-oto li {
        margin-left: calc(3%);
    }
}
