<style>
    ._body-nap-tien {
        max-height: initial
    }
    ._nap-tien-chi-tiet {
        border-radius: 2px;
        background: #e0e0e0;
        width: 100%;
        float: left;
    }
        ._nap-tien-chi-tiet h5 {
            font-weight: bold;
            margin: 15px 0;
        }
    ._nt-du {
        text-align: right;
        font-weight: bold
    }
        ._nt-du image {
            margin-left: 10px;
            color: black;
        }
    .tree-staff-perform li {
        WIDTH: auto;
        float: left;
        margin: 5px 5px 5px 0px;
        padding: 7px 30px 7px 7px;
        border: 1px solid #ccc;
        position: relative;
        border-radius: 4px;
    }
        .tree-staff-perform li .staff-p-img {
            color: black;
        }
            .tree-staff-perform li .staff-p-img span {
                font-size: 12px;
            }
            .tree-staff-perform li .staff-p-img i {
                color: #bac7dd;
                font-size: 18px;
                margin-right: 3px;
            }
        .tree-staff-perform li .fa-times {
            color: red;
            font-size: 14px;
            position: absolute;
            right: 5px;
            top: 3px;
        }
    .tree-staff-perform {
        width: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    .list-img-user .img-user {
        width: 55px;
        height: 50px;
        position: unset;
        border-radius: 5px;
        background: none;
        object-fit: cover;
        border: 1px dashed #ccc;
        margin: 0 5px;
    }
    .list-img-user .detail-user-discount {
        padding-left: 0;
        min-height: 0;
    }
    .list-img-user .img-user {
        width: 55px;
        height: 50px;
        position: unset;
        border-radius: 5px;
        background: none;
        object-fit: cover;
        border: 1px dashed #ccc;
        margin: 0 5px;
    }
    .list-img-user .form-group:hover {
        background-color: #d6f1f0;
    }
    ._popup-nv-ban-hang .detail-user-discount p {
        padding: 0px !important;
        margin: 0px;
        line-height: 17px;
        color: black
    }
    ._popup-nv-ban-hang h5 {
        font-size: 13px;
        font-weight: bold;
        border-bottom: 1px solid var(--color-main);
        height: 25px;
    }
    ._popup-nv-ban-hang .input-search-filter {
        padding-bottom: 15px;
    }
        ._popup-nv-ban-hang .input-search-filter input {
            width: calc(100% - 36px);
        }
        ._popup-nv-ban-hang .input-search-filter button {
            margin-right: 0px;
        }
            ._popup-nv-ban-hang .input-search-filter button i {
                right: 10px;
            }
    ._popup-nv-ban-hang .title-user {
        font-weight: bold;
    }
    ._popup-nv-ban-hang .list-img-user {
        max-height: 235px;
        overflow: auto;
    }
    ._popup-nv-ban-hang {
        position: absolute;
        background: white;
        z-index: 999;
        padding: 15px;
        padding-top: 5px;
        border: 1px solid var(--color-main);
        width: 290px !important;
    }
    ._ck-phan-tram {
        width: 70px;
        float: left;
        position: relative;
    }
        ._ck-phan-tram input {
            padding-right: 24px;
            text-align: right;
        }
        ._ck-phan-tram span {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 24px;
            padding-left: 5px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            font-weight: bold;
            height: 30px;
            font-size: 14px;
        }
    ._ck-thanh-tien {
        width: calc(100% - 80px);
        float: right
    }
    .table-lich-su {
        margin-top: 15px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px !important;
    }
    .filter-lich-su .filter-date {
        width: 200px;
        float: right;
    }
    .filter-lich-su {
        position: relative;
        margin-bottom: 10px;
    }
        .filter-lich-su label {
            font-size: 14px;
        }
        .filter-lich-su .add-icon-date:after {
            top: 3px;
        }
    .grid-lich-su {
        max-height: 250px;
        overflow: auto;
    }
    .popup-date-ranger {
        z-index: 9999999 !important;
        left: 520px !important;
    }
        .popup-date-ranger.opensright:before {
            display: none
        }
    #divKH ul {
        top: 30px;
        position: absolute;
        max-height: 300px;
        background: white;
        overflow: scroll;
        border: 1px solid #ccc;
        width: inherit;
        z-index: 999999;
    }
    #divKH li {
        border-bottom: 1px dotted #ccc;
        width: 100%;
    }
        #divKH li a span {
            font: bold
        }
</style>
<div class="modal fade" id="vmThemMoiTheNap">
    <div class="modal-dialog draggable modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    Nạp tài khoản
                </h4>
            </div>
            <div class="modal-body _body-nap-tien">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group floatleft">
                        <label>Mã hóa đơn</label>
                        <div class="form-news">
                            <input type="text" class="form-control"
                                   placeholder="Mã hóa đơn tự động" v-model="newHoaDon.MaHoaDon">
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label class="form-label control-label">Khách hàng</label>
                        <div class=" form-news input-group">
                            <customers :text-search="cusChosing.TenDoiTuong"
                                       :loai-doi-tuong="1"
                                       :disable-search="formType === 1"
                                       :showbutton="formType === 0"
                                       :id-chi-nhanh="VHeader.IdDonVi"
                                       v-on:show-modal-customer="showModalCustomer"
                                       v-on:change-customer-parent="ChangeCustomer">
                            </customers>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group floatleft">
                        <label>Ngày nạp</label>
                        <div class="form-news add-icon-date">
                            <my-date-time :date-chose="newHoaDon.NgayLapHoaDon"
                                          :role-change-date="role.ChangeNgayNapThe"
                                          v-on:change-date="ChangeNgayLapPhieu">
                            </my-date-time>
                        </div>
                    </div>
                    <div class="form-group floatleft">
                        <label>Số dư tài khoản</label>
                        <div class="form-news _nt-du">
                            <span style="font-size:14px;">{{formatNumber(inforTheGiaTri.SoDuTheGiaTri)}}</span>
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopadding _nap-tien-chi-tiet">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h5>Thông tin giá trị nạp</h5>
                        <div class="form-group floatleft">
                            <label>Mức nạp</label>
                            <div class="form-news">
                                <input type="text" class="form-control text-right"
                                       onclick="this.select()"
                                       autocomplete="off"
                                       onkeypress="keypressNumber_limitNumber(event, this)"
                                       v-model="newHoaDon.TongChiPhi"
                                       v-on:keyup="EditMucNap" />
                            </div>
                        </div>
                        <div class="form-group floatleft" style="display:none">
                            <label>Khuyến mãi</label>
                            <div class="form-news">
                                <div class="_ck-phan-tram">
                                    <input type="text" class="form-control text-right"
                                           onclick="this.select()"
                                           autocomplete="off"
                                           onkeypress="keypressNumber_limitNumber(event, this)"
                                           v-model="newHoaDon.PTKhuyenMai"
                                           v-on:keyup="EditKhuyenMai_Ptram"><span>%</span>
                                </div>
                                <div class="_ck-thanh-tien">
                                    <input type="text" class="form-control text-right"
                                           onclick="this.select()"
                                           autocomplete="off"
                                           onkeypress="keypressNumber_limitNumber(event, this)"
                                           v-model="newHoaDon.TongChietKhau"
                                           v-on:keyup="EditKhuyenMai_VND">
                                </div>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Tổng tiền nạp</label>
                            <div class="form-news">
                                <span style="float:right;">
                                    {{formatNumber(newHoaDon.TongTienHang)}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Số dư sau nạp:</label>
                            <div class="form-news" style="text-align:right">
                                <span>  {{formatNumber(inforTheGiaTri.SoDuTheSauNap)}}</span>
                            </div>
                        </div>
                        <div class="form-group floatleft" style="align-items:flex-start">
                            <label>Ghi chú</label>
                            <div class="form-news">
                                <textarea type="text" rows="2" v-model="newHoaDon.DienGiai"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h5>Thông tin thanh toán</h5>
                        <div class="form-group floatleft">
                            <label>Thành tiền</label>
                            <div class="form-news">
                                <span style="float:right;">{{newHoaDon.TongChiPhi}}</span>
                            </div>
                        </div>
                        <div class="form-group floatleft" style="display:none">
                            <label>Chiết khấu</label>
                            <div class="form-news">
                                <div class="_ck-phan-tram">
                                    <input type="text" class="form-control text-right"
                                           onclick="this.select()"
                                           autocomplete="off"
                                           onkeypress="keypressNumber_limitNumber(event, this)"
                                           v-model="newHoaDon.PTChietKhau"
                                           v-on:keyup="EditGiamGia_Ptram"><span>%</span>
                                </div>
                                <div class="_ck-thanh-tien">
                                    <input type="text" class="form-control text-right"
                                           onclick="this.select()"
                                           autocomplete="off"
                                           onkeypress="keypressNumber_limitNumber(event, this)"
                                           v-model="newHoaDon.TongGiamGia"
                                           v-on:keyup="EditGiamGia_VND">
                                </div>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label>Phải thanh toán</label>
                            <div class="form-news">
                                <span style="float:right;">{{formatNumber(newHoaDon.PhaiThanhToan)}}</span>
                            </div>
                        </div>
                        <div class="form-group floatleft" style="display:flex">
                            <div style="width:130px">
                                <label v-on:click="showModalThanhToan">Tiền khách đưa(F9)</label>
                                <div style="position:absolute; bottom:-10px">
                                    <small>
                                        {{newHoaDon.TenLoaiTien}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-news">
                                <input type="text"
                                       class="form-control text-right"
                                       onclick="this.select()"
                                       autocomplete="off"
                                       onkeypress="keypressNumber_limitNumber(event, this)"
                                       v-model="newHoaDon.DaThanhToan"
                                       v-on:keyup="EditTienKhachDua">
                            </div>
                            <p></p>
                        </div>
                        <div class="form-group floatleft">
                            <label>{{newHoaDon.TienThua > 0?'Tiền trả lại khách':'Tiền khách thiếu'}} </label>
                            <div class="form-news">
                                <input type="text" readonly class="form-control text-right" autocomplete="off"
                                       v-bind:value="formatNumber(Math.abs(newHoaDon.TienThua))">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopadding table-lich-su floatleft" v-if="isShowList">
                    <div class="floatleft filter-lich-su">
                        <label>Lịch sử nạp tiền</label>
                        <div class="filter-date add-icon-date" style="display:none">
                            <input type="text" id="datetimeTimKiemLichSu" class="form-control">
                        </div>
                    </div>
                    <div class="grid-lich-su table-res table-reponsive table-HH">
                        <table class=" table-hover op-table">
                            <thead class="thead-boder">
                                <tr>
                                    <th>Mã hóa đơn</th>
                                    <th>Ngày nạp</th>
                                    <th>Mức nạp</th>
                                    <th>Khuyến mãi</th>
                                    <th>Tổng tiền nạp</th>
                                    <th>Số dư sau nạp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in LichSuNapTien.Data">
                                    <td><a href="javascript:void(0)">{{item.MaHoaDon}}</a></td>
                                    <td class="text-center">{{ moment(item.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}</td>
                                    <td class="text-right">{{formatNumber(item.MucNap)}}</td>
                                    <td class="text-right">{{formatNumber(item.KhuyenMai)}}</td>
                                    <td class="text-right">{{formatNumber(item.TongTienNap)}}</td>
                                    <td class="text-right">{{formatNumber(item.SoDuSauNap)}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="page">
                                <div class="flex flex-end">
                                    <a href="javascript:void(0)"
                                       v-on:click="StartPage"
                                       v-if="true">
                                        <i class="fa fa-step-backward" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript:void(0)"
                                       v-on:click="BackPage"
                                       v-if="true">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                    <ul>
                                        <li v-for="(item, index) in PageList_Display">
                                            <a href="javascript:void(0)"
                                               v-on:click="GoToPage">
                                                {{item.pageNumber}}
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="javascript:void(0)"
                                       v-on:click="GoToNextPage"
                                       v-if="true">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript:void(0)"
                                       v-on:click="EndPage"
                                       v-if="true">
                                        <i class="fa fa-step-forward" aria-hidden="true"></i>
                                    </a>
                                    <div class="total-recos">
                                        Hiển thị <span>{{LichSuNapTien.FromItem}}</span> -
                                        <span>{{LichSuNapTien.ToItem}}</span> trên tổng số
                                        <span>{{LichSuNapTien.TotalRow}}</span> bản ghi
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">
                    <i class="fa fa-ban"></i>Đóng
                </button>
                <button type="button" class="btn btn-main" v-on:click="showLSNapTien">
                    <i class="fa fa-history" aria-hidden="true"></i>   Lịch sử nạp tiền
                </button>
                <button type="button" class="btn btn-save" v-on:click="SaveTheNap(true)">
                    <i class="fa fa-print" aria-hidden="true"></i>Lưu và in
                </button>
                <button type="button" class="btn btn-save" v-on:click="SaveTheNap(false)">
                    <i class="fa fa-save" aria-hidden="true"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Gara/HoaDon/_NapTheGiaTri.js"></script>
<script>
    $(function () {
        $('#datetimeTimKiemLichSu').daterangepicker({
            drops: "up",
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Áp dụng",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            },
            position: 'popup-date-ranger'
        });
    });
</script>
