<style>
    .function-keys label {
        margin-right: 5px;
        padding-right: 5px;
        float: left;
        width: 50px;
        color: var(--color-primary);
        height: 25px;
    }
</style>

<div class=" function-keys export-keys" style="display: none;">
    <div class="title-keys floatleft">
        Phím tắt
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            F3
        </label>
        <div class="content-key">
            Tìm hàng hóa
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            F6
        </label>
        <div class="content-key">
            Thay đổi chế độ nhập số lượng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            F10
        </label>
        <div class="content-key">
            Hoàn thành
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            Home
        </label>
        <div class="content-key">
            Thay đổi số lượng sản phẩm
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            <i class="fa fa-angle-down"></i>
        </label>
        <div class="content-key">
            Giảm số lượng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            <i class="fa fa-angle-up"></i>
        </label>
        <div class="content-key">
            Tăng số lượng
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            Enter
        </label>
        <div class="content-key">
            Di chuyển xuống ô số lượng của sản phẩm tiếp theo
        </div>
    </div>
    <div class="form-group floatleft">
        <label class="form-label  control-label req ng-binding checkhanghoaxoa">
            Shift
        </label>
        <div class="content-key">
            Di chuyển lên ô số lượng của sản phẩm phía trên
        </div>
    </div>
</div>

