
<div class="modal-content ">
    <div class="modal-header">
        <h4 class="modal-title" id="header-confirm-delete">Xác nhận xóa?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">close</i>
        </button>
    </div>
    <div class="modal-body">
        <p id="confirmMessage" class="content-delete"></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancel" id="confirmCancel" data-dismiss="modal"><i class="fa fa-ban" tabindex="2"></i> Bỏ qua</button>
        <button type="button" class="btn btn-main" id="confirmOkDelete" data-dismiss="modal" tabindex="1"><i class="fa fa-check"></i> Đồng ý</button>

    </div>

</div>


