<style>
    .dsgiaban tr {
        height: 27px;
        background-color: #f9f9f9;
    }

        .dsgiaban tr th {
            padding-left: 9px;
        }

    
</style>
<div class="modal-content ">
    <div class="modal-header">
        <button class="close close-modal" type="button" data-dismiss="modal">
            <i class="material-icons">close</i>
        </button>
        <h4 class="modal-title">Cài đặt giá</h4>
    </div>
    <div class="modal-body">
        <div class="tab-content">
            <table class='table'>
                <thead class="dsgiaban">
                    <tr>
                        <th>
                            Bảng giá
                        </th>
                        <th class="text-right">
                            Giá bán
                        </th>
                    </tr>
                </thead>
                
                <tbody data-bind="foreach: BangGiaBans">
                    <tr>
                        <td>
                            <span  data-bind="text: TenGiaBan"></span>
                        </td>
                        <td class="text-right">
                            <input class="width-150 input-simple text-right inputgiaban" type="text" 
                                   data-bind="value: GiaBan !== null ? formatNumber(GiaBan) : GiaBan, event:{keyup: $parent.FillGiaBan}, attr:{id: 'gb_' + ID_GiaBan + '_' + ID_DonViQuiDoi}" 
                                   onkeypress="return keyPress(event)" onkeyup="return formatNumberObj(this)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <button type="button" data-dismiss="modal" class="btn btn-cancel"><i class="fa fa-ban"></i>Bỏ qua</button>
            <button type="button" class="btn btn-save" id="btnLuuGiaBan" data-bind="click: LuuTamGiaBanOfTungBangGia">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </div>
</div>
<script>
    function keyPress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }
    $('input[type=text]').click(function () {
        $(this).select();
    });
</script>
