<div class="install-notifi xuathuy" style="width:300px">
    <div class="row">
        <div class="form-group floatleft" id="divSetTonKho" style="justify-content:space-between">
            <label class="form-label  control-label req checkhanghoaxoa">
               Ẩn hàng hóa đã hết tồn kho 
            </label>
            <div class="show-table">
                <input autocomplete="off" type="checkbox" class="choose-mauin" value="1"
                       data-bind="checked: parseInt(ConTonKho()) === 1, event: {change: $root.ChangeCheckTonKho}"
                      >
            </div>
        </div>
        <div class="form-group floatleft" style="justify-content:space-between">
            <label class="form-label  control-label checkhanghoaxoa" style="width:auto!important">
                In hóa đơn khi nhấn thanh toán
            </label>
            <div class="show-table" id="divSetPrintPay">
                <span class="main-show main-hide" @*data-bind="click: Setting_PrintPay"*@>
                    <span class="turnon">Bật</span>
                    <span class="turnoff">Tắt</span>
                </span>
            </div>
        </div>
        <div class="form-group floatleft" style="justify-content:space-between">
            <label class="form-label  control-label req checkhanghoaxoa">
                Số liên khi in
            </label>
            <div class="show-table">
                <input autocomplete="off" type="text" class="form-control choose-mauin" id="txtNumberOfPrint"
                       data-bind="value: numbersPrintHD"
                       onkeypress="return keypressNumber_limitNumber(event, this)" style="width: 60px; text-align: center">
            </div>
        </div>
    </div>

</div>

