
<div class="modal fade" id="TiepNhanXe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog moda-sm">
        <div class="modal-content draggable ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <h5 class="modal-title">Tiếp nhận xe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:15px;">
                <ul class="nav nav-pills mb-3 gara-detail-tab" id="gara-detail-tab" role="tablist">

                    <li class="nav-item active">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#TiepNhanXeThongTin" role="tab" aria-controls="pills-profile" aria-selected="false">
                            Thông tin chi tiết
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#TiepNhanXeTinhTrang" role="tab" aria-controls="pills-contact" aria-selected="false">
                            Tình trạng xe
                        </a>
                    </li>

                </ul>
                <div class="tab-content ">

                    <div class="tab-pane active" id="TiepNhanXeThongTin" role="tabpanel" aria-labelledby="pills-profile-tab">

                        <div class="" style="    padding: 15px 0;">

                            <div class="gara-detail-sections">
                                <div class="row container-fluid ">
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Mã tiếp nhận</label>
                                            <input disabled class="form-control MaTiepNhan" type="text" id="MaTiepNhan" placeholder="Nhập thông tin" />
                                            <div class="infor-popup">
                                                <a>
                                                    <i class="material-icons">infor</i>
                                                </a>
                                                <div>
                                                    Thông tin được nhập tự động
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Ngày tiếp nhận</label>
                                            <input type="datetime-local" class="form-control" placeholder="Nhập thông tin" value="01/01/2020" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Cố vấn dịch vụ</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>NV tiếp nhận</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gara-detail-sections">
                                <label>Thông tin xe</label>
                                <div class="row container-fluid ">
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Biển số</label>
                                            <div class="gara-detail-input" style="position:relative">
                                                <div class="gara-absolute-button">
                                                    <a class="gara-button-icon"><i class="material-icons">add</i></a>
                                                </div>
                                                <input class="form-control gara-search-HH   " placeholder="Biển số" />
                                                <div class="gara-search-dropbox drop-search">

                                                    <ul>
                                                        <li>

                                                            <div>
                                                                <span style="color:var(--main-color)">{{MaHangHoa}}</span>

                                                            </div>
                                                            <div>
                                                                <span style="color:red; font-weight:bold">{{TenHangHoa}}</span>

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Loại xe</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Số khung</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Số máy</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="gara-detail-sections">
                                <label>Thông tin Khách hàng</label>
                                <div class="row container-fluid ">
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Khách hàng</label>
                                            <div class="gara-detail-input" style="position:relative">
                                                <div class="gara-absolute-button">
                                                    <a class="gara-button-icon"><i class="material-icons">add</i></a>
                                                </div>
                                                <input class="form-control gara-search-HH   " placeholder="Khách hàng" />
                                                <div class="gara-search-dropbox drop-search">

                                                    <ul>
                                                        <li>

                                                            <div>
                                                                <span style="color:var(--main-color)">{{MaHangHoa}}</span>

                                                            </div>
                                                            <div>
                                                                <span style="color:red; font-weight:bold">{{TenHangHoa}}</span>

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Điện thoại</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Địa chỉ</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Người liên hệ</label>
                                            <div class="gara-detail-input" style="position:relative">
                                                <div class="gara-absolute-button">
                                                    <a class="gara-button-icon"><i class="material-icons">add</i></a>
                                                </div>
                                                <input class="form-control gara-search-HH   " placeholder="Người liên hệ" />
                                                <div class="gara-search-dropbox drop-search">

                                                    <ul>
                                                        <li>

                                                            <div>
                                                                <span style="color:var(--main-color)">{{MaHangHoa}}</span>

                                                            </div>
                                                            <div>
                                                                <span style="color:red; font-weight:bold">{{TenHangHoa}}</span>

                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Điện thoại</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="gara-detail-sections">
                                <label>Thông tin tiếp nhận</label>
                                <div class="row container-fluid ">
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Số máy km vào</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="gara-detail-information">
                                            <label>Ngày ra dự kiến</label>
                                            <input type="text" class="form-control" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12 highlight-note-box">
                                        <div class="gara-detail-information">
                                            <label>Ghi chú</label>
                                            <textarea rows="3" type="text" placeholder="Nhập thông tin" />
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="tab-pane " id="TiepNhanXeTinhTrang" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="" style="    padding: 15px 0;">
                            <div class="gara-detail-status">
                                <ul class="gara-header-status">
                                    <li>STT</li>
                                    <li>Tên hạng mục</li>
                                    <li>Tình trạng</li>
                                    <li> Phương án sửa chữa</li>
                                    <li>Chức năng</li>
                                </ul>
                                <ul>
                                    @*foreach*@
                                    <li>
                                        <ul class="gara-body-status">
                                            <li>1</li>
                                            <li>29/10/2020</li>
                                            <li>BG000000001</li>
                                            <li>Đã duyệt</li>
                                            <li class=" gara-detail-functions">

                                                <a title="Xóa"><i class="material-icons">close</i></a>
                                            </li>
                                        </ul>

                                    </li>

                                </ul>
                                <ul>
                                    @*form input*@

                                    <li>
                                        <ul class="gara-body-status">
                                            <li>1</li>
                                            <li><input class="form-control" placeholder="Nội dung" /></li>
                                            <li><input class="form-control" placeholder="Số lượng" /></li>
                                            <li><input class="form-control" placeholder="Tên hạng mục" /></li>
                                            <li class=" gara-detail-functions">

                                                <a title="Xóa"><i class="material-icons">close</i></a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>

                            </div>

                        </div>
                        <h5> Vật dụng, giấy tờ kèm theo</h5>
                        <div class="" style="    padding: 15px 0;">
                            <div class="gara-detail-status">
                                <ul class="gara-header-status">
                                    <li>STT</li>
                                    <li>Nội dung</li>
                                    <li>Số lượng</li>
                                    <li>Ảnh</li>
                                    <li>Chức năng</li>
                                </ul>
                                <ul>
                                    <li>
                                        <ul class="gara-body-status">
                                            <li>1</li>
                                            <li>29/10/2020</li>
                                            <li>BG000000001</li>
                                            <li>Đã duyệt</li>
                                            <li class=" gara-detail-functions">

                                                <a title="Xóa"><i class="material-icons">close</i></a>
                                            </li>
                                        </ul>

                                    </li>
                                    <li>
                                        <ul class="gara-body-status">
                                            <li>1</li>
                                            <li><input class="form-control" placeholder="Tên hạng mục" /></li>
                                            <li><input class="form-control" placeholder="Tên hạng mục" /></li>
                                            <li><input class="form-control" placeholder="Tên hạng mục" /></li>
                                            <li class=" gara-detail-functions">

                                                <a title="Xóa"><i class="material-icons">close</i></a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fa fa-times"></i>Hủy</button>
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        Lưu
                    </button>
                </div>

            </div>
        </div>
        <script>
            $('.infor-popup a').click(function () {
                $(this).siblings().toggle();
            })
        </script>
    </div>

</div>