<div class="modal fade in" id="vmErr">
    <div class="modal-dialog draggable modal-md">
        <div class="modal-content ">
            <div class="modal-header">
                <button class="close close-modal" type="button" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </button>
                <h4 class="modal-title">Bảng báo lỗi</h4>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <table class='table'>
                        <thead >
                            <tr>
                                <th class="text-center">
                                   Tiêu đề
                                </th>
                                <th class="text-center">
                                    Nội dung
                                </th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr v-for="(item, index) in ListErr">
                                <td>
                                   {{item.TieuDe}}
                                </td>
                                <td v-html="item.NoiDung">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <button type="button" data-dismiss="modal" class="btn btn-cancel"><i class="fa fa-ban"></i>Đóng</button>
                    <button type="button" class="btn btn-save" v-on:click="Agree">
                        <i class="fa fa-save"></i> Đồng ý bỏ qua lỗi và tiếp tục
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var vmErr = new Vue({
        el: '#vmErr',
        created: function () {

        },
        data: {
            saveOK: false,
            ListErr:[],
            ObjSave: {},
        },
        methods: {
            showModal: function (objData = {}) {
                let self = this;
                self.saveOK = false;
                self.ObjSave = objData;
                $('#vmErr').modal('show');
            },
            Agree: function () {
                let self = this;
                self.saveOK = true;
                $('#vmErr').modal('hide');
            },
        }
    })
</script>
