.slidetoggle {
    background: #ccc;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 15px;
    overflow: visible;
}


.slidetoggle-indicator {
    background: red;
    position: absolute;
    height: 100%;
    width: unset;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 15px;
}
.slidetoggle a {
    padding: 3px 5px;
    line-height: initial;
    z-index: 2;
    font-size: small;
    min-width: 24px;
    text-align: center;
}