@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
}

.op24-loading-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    background: rgba(0,0,0,0.2);
}

.op24-loading-box {
    pointer-events: none;
    height: auto;
    min-width:125px;
    width: max-content;
    margin: auto;
    text-align: center;
    background: white;
    margin-top: calc(50vh - 135px);
    border-radius: 5px;
    padding: 20px;
}

.op24-loading-box-spiner {
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 30px;
    border: 2px solid #1374ad;
    margin-top: 10px;
    border-top: 1px solid white;
    animation: spin 1s linear infinite;
}

.op24-loading-box-text {
    margin-top: 10px;
}