@media(max-width:1366px) {
    .text-slider {
        position: absolute;
        left: 616px;
        top: 21px;
        z-index: 99;
    }
    .bx-controls-direction .bx-prev {
        left: 82px;
    }
    .bx-controls-direction .bx-next {
        right: 82px;
    }
    .title-product {
        position: absolute;
        left: 777px;
        top: 154px;
        color: #ff9900;
    }
}
