

body {
    font-size: 14px;
    font-weight: 400;
}
.header-top {
    height: 65px;
    line-height: 65px;
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logotrch {
    position: absolute;
    left: 50px;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.fl {
    float: left;
    width: 100% !important;
}
a, a:hover {
    text-decoration: none !important;
}
img {
    vertical-align: middle;
}
.no-padding-left {
    padding-left: 0px;
}
.no-padding {
    padding: 0px;
}
.no-magirn{
    margin:0px !important;
}
.margin-bot-15{
  margin-bottom:15px;  
}
.margin-bot-50 {
    margin-bottom: 50px;
}
.form-group label{
    width:130px;
    float:left;
}
.form-group .form-wrap {
    width: calc(100% - 130px);
    float: left;
}
.red{
    color:red;
}
input, select, textarea {
    width: 100%;
    max-width: 100%;
}
.modal-footer {
    padding: 0px 20px 20px;
    margin-top:inherit;
}
.news-left input, .news-left textarea {
    max-width: 288px;
}
.form-input-icon{
    position:relative;
}
.form-input-icon i {
   position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
}
.form-input-icon input{
    padding-left:30px;
}
.bn-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
