.main-drop.op-menu-function {
    width: 230px;
    display: none;
    background: var(--color-main);
    color: white;
    padding: 5px;
}
    .main-drop.op-menu-function li a {
        text-decoration: none;
        display: flex;
        color: white;
        line-height: 24px;
        padding: 3px;
        align-items: center;
        width: 100%;
    }
    .main-drop.op-menu-function .material-icons {
        font-size: 18px;
        line-height: 18px;
        padding: 3px;
        width: 24px;
        display: inline-block;
    }
a.op-speedrun:hover {
    background: var(--color-primary) !important;
    border-radius: 25px;
}
a[href='/$/kitchen'], a[href='/$/nhahang'], a[href='/$/banle'] {
    background: var(--color-special) !important;
    margin: -5px;
}
.op-menu-list > li > a > i {
    color: white;
    font-size: 20px;
    width: 30px;
    text-align: center;
    display: inline-block;
}
    .op-menu-list > li > a > i:last-child {
        display: none
    }
.op-menu-list > li > a {
    line-height: 24px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 45px;
    transition: all 0.4s ease;
}
    .op-menu-list > li > a[href='/#/BanLamViec'] > i:first-child {
        display: inline-block;
        margin-right: 0;
    }
.op-menu-list > li > ul > li > a > i {
    display: inline-block;
    width: 24px;
    margin-right: 5px;
    text-align: center;
}
.op-menu-list > li > ul > li > a {
    color: white;
    width: inherit;
    display: flex;
    padding: 3px;
    line-height: 24px;
    align-items: center;
    justify-content: flex-start;
}
    .op-menu-list > li > ul > li > a:hover {
        background: rgba(0,0,0,0.15);
    }
.op-menu-list > li > ul > li {
    padding: 0;
    background: none;
}
.op-menu-list > li > ul {
    position: absolute;
    flex-direction: column;
    z-index: 1;
    top: 0;
    display: none;
    opacity: 0;
    width: 250px;
    background: var(--color-main);
    padding: 3px;
    transition: all 0.4s ease;
    transition-delay: 0.5s
}
.op-menu-list > li > ul > li:hover > a {
    background: rgba(0,0,0,0.15);
}
.op-menu-list > li a > font {
    display: none;
    color: white
}
.op-menu-list > li {
    position: relative;
    height: unset;
    width: inherit;
    padding:0 5px;
}
    .op-menu-list > li:hover > a {
        background: rgba(0,0,0,0.25);
        border-radius: 5px;
    }
    .op-menu-list > li:hover > ul {
        display: flex
    }
    .op-menu-list > li:hover > ul {
        left: 100%;
        display: flex;
        opacity: 1;
    }
.op-menu-list > ul {
    position: absolute;
    display: flex;
    left: 100%;
    flex-direction: column;
}
.op-menu-list {
    z-index: 2;
    display: flex;
    width: inherit;
    flex-direction: column;
    max-height: calc(100vh - 50px);
}
/*=======================================*/
.BanlamViecIcon > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 120px;
}
.BanlamViecIcon image {
    margin-right: 5px;
    transition: all 0.4s ease;
}
.BanlamViecIcon {
    width: unset
}
.btn-menu.BanlamViecIcon.hoverable:hover img {
    transform: rotate(180deg);
    transition: all 1s ease;
}
.close-fillter {
    position: absolute;
    display: inline-block;
    bottom: 16px;
}
.col-left .boxLeft .choose-date .dropdown-menu {
    left: calc(25vw);
    top: calc(25vh);
    width: 50vw;
    height: 50vh;
    position: fixed;
    padding: 15px;
    border-radius: 10px;
    background: var(--color-primary);
    padding: 15px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    border: none;
}
.col-left .op-filter .op-filter-body {
    margin-bottom: 0px;
    position: relative;
    clear: both;
    height: calc(100% - 30px);
    overflow: auto;
    padding: 7px 0;
}
.col-left .op-filter {
    position: relative;
    vertical-align: top;
    width: inherit;
    float: left;
    margin-top: 0;
    padding-bottom: 36px;
    height: inherit;
}
.col-left .op-filter {
    position: relative;
    vertical-align: top;
    width: inherit;
    float: left;
    margin-top: 0;
    padding-bottom: 36px;
    display:flex; 
    flex-direction:column
}
.col-left .op-filter-title img {
    margin-right: 5px;
    width: 20px;
    object-fit: none;
}
.col-left .op-filter-title {
    font-size: 13px;
    font-weight: bold;
    padding: 7px 2px 8px 10px;
    margin: 0px;
    color: black;
    background: rgba(0,0,0,0.096);
    border: none;
    border-bottom: none;
    border-radius: 0;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.giaodichparent ul li:first-child, .giaodichparent ul li:nth-child(4), .giaodichparent ul li:nth-child(7) {
    border-bottom: none;
}
.hover-round:hover > .ul1 {
    display: block !important
}
.hoverable > .op-speedrun {
    transition: all 0.4s ease;
}
.hoverable:hover > .op-speedrun {
    border-radius: 25px;
}
.menu-drop-3 .menu-drop3 .menu-drop-ul-style-color li a {
    width: 35px;
    height: 35px;
    float: left;
    border-radius: 0;
    border: 1px solid #fff;
}
.oldUIpropertive {
    width: 250px;
    display: inline-block;
    height: 42px;
    padding: 9px;
}
.op-avatar-holder {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--color-primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.op-collapsed > a > i:last-child {
    transform: rotate(0deg) !important;
}
.op-filter-toggle {
    display: inline-block
}
.op-filter-footer {
    display: inline-block;
}
.op-filter-add {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 24px;
    padding: 5px 12px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}
.op-filter-footer {
    float: left;
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 0 -3px 6px rgb(0 0 0 / 15%);
    z-index: 2;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.op-filter-toggle {
    margin: 0 0 0 5px;
    width: 40px;
    height: 30px;
}
.op-header-title {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    margin: 0;
    top: 6px;
    z-index: 160;
}
    .op-header-title.op-baocao-title:hover h2 {
        background: rgba(0,0,0,0.15);
    }
.op-baocao-title .title {
    padding: 3px 7px;
    border-radius: 5px;
    transition: all 0.4s ease;
    cursor: pointer;
}
.op-logo-link {
    display: none;
    color: white;
    padding: 0 15px;
    font-size: 18px;
    /*border-left: 1px solid;*/
    margin: 3px 15px;
    height: 100%;
    line-height: 20px;
    cursor: pointer;
}
    .op-logo-link:hover, .op-logo-link:focus {
        color: white
    }
.op-menu {
    position: fixed;
    height: 100vh;
    width: 50px;
    position: fixed;
    height: 100vh;
    width: 50px;
    background: var(--color-main);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
}
.op-menu-logo img {
    width: 30px
}
.op-menu-logo {
    display: flex;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
/*#logoBeta {
    display: inline-block;
}
*/
#logoClassic {
    display: none;
}
.op-menu.expanded .op-logo-link {
    display: inline-block;
}
.op-menu.expanded .op-menu-list > li a > font {
    display: inline-block;
    padding-left: 10px
}
.op-menu.expanded .op-menu-list:not(.not-expanded) {
    overflow-y: auto;
    overflow-x: hidden;
}
.op-menu.expanded .op-menu-logo {
    justify-content: left
}
.op-menu.expanded .op-menu-list > li > a > i:last-child {
    display: block;
    right: 15px;
    position: absolute;
    transition: all 0.4s ease;
    transform: rotate(-180deg);
}
.op-menu.expanded .op-menu-list > li > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.op-menu.expanded .op-menu-list > li > ul > li > a {
    color: white;
    ;
}
.op-menu.expanded .op-menu-list > li > ul > li > a {
    padding-left: 30px;
}
.op-menu.expanded .op-menu-list > li > ul {
    position: relative;
    top: unset;
    left: unset;
    display: flex;
    opacity: 1;
    left: -5px;
    background: none;
}
    .op-menu.expanded .op-menu-list > li > .not-expanded {
        position: absolute !important;
        left: 100% !important;
        background: #222831 !important;
        display: none;
    }
    .op-menu.expanded .op-menu-list > li > ul:not(.not-expanded) {
        position: relative;
        top: unset;
        left: unset;
        display: flex;
    }
.op-menu.expanded .op-menu-list > li.op-collapsed > ul {
    display: none !important;
}
.op-menu.expanded .op-menu-list > li:hover > .not-expanded {
    display: flex;
}
.op-menu.expanded {
    width: 250px;
}
.op-palette li a {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid #ccc;
}
.op-palette li {
    width: 50px !important;
    height: 50px;
    padding: 5px !important;
}
.op-palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.op-speedrun + div {
    color: black
}
.op-speedrun {
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-align: center;
}
.op-speedrun-icon {
    font-size: 26px !important;
    display: block !important;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    padding: 5px 7px;
    text-align: center;
    margin: 0px;
    line-height: 30px;
}
.op-speedrun:hover, .op-speedrun:focus {
    background: rgba(0,0,0,0.15)
}
.op-submenu-1:hover .op-submenu-2 {
    display: block;
}
.op-submenu-2 {
    position: absolute;
    right: 100%;
    width: 200px;
    top: 0;
    background: var(--color-main);
    box-shadow: 3px 3px 6px rgb(0 0 0 / 15%);
}
.search-fillter .fa-search:before {
    content: \'\\f0b0\';
    font-family: \'FontAwesome\';
}
.search-fillter {
    float: left;
    font-size: 18px;
    width: 30px;
    padding: 3px;
    line-height: 24px !important;
    text-align: center;
    padding: 3px;
    display: block;
    position: relative;
    margin: 0 0 0 5px;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.ul1 > li:hover > ul {
    display: block !important;
    position: absolute;
    left: 100%;
    top: 0;
}
#op-popup-thongbao, .col-left {
    position: fixed;
    width: 350px;
    height: calc(100vh - 41px);
    top: 40px;
    border-radius: 0;
    border: none;
    z-index: 99;
    background: white;
    padding-top: 15px;
    right: -350px;
    transition: right 0.4s ease;
    overflow-y: hidden;
    display:block;
}
    #op-popup-thongbao.showed, .col-left.showed {
        right: 0;
        
    }
.chinhanh > li > a {
    color: black;
    position: relative;
}
/*========================filter=========================*/
button.op-filter-add {
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    height: 34px;
    background: none;
    padding: 5px 12px;
}
.op-baocao-type {
    padding: 5px;
    position: absolute;
    top: -15px;
    height: calc(100vh - 40px );
    background: var(--color-primary);
    z-index: 101;
    left: -250px;
    color: white;
    transition: left 0.4s ease;
}
    .op-baocao-type.showed {
        left: -15px
    }
    .op-baocao-type > ul > li {
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        line-height: 24px;
    }
        .op-baocao-type > ul > li > label {
            width: 100%;
            margin: 0;
        }
    .op-baocao-type li i {
        width: 20px;
        text-align: center;
        margin-right: 7px;
    }
    .op-baocao-type li:hover a {
        background: rgba(0,0,0,0.15);
    }
    .op-baocao-type a {
        color: white;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        display: inline-block;
        padding: 5px;
    }
    .op-baocao-type input[type='radio'] {
        display: none;
    }
    .op-baocao-type a:after {
        content: none;
    }
    .op-baocao-type a.box-tab {
        background: rgba(0,0,0,0.15);
    }
    .op-baocao-type ul {
        padding-left: 0 !important;
        width: 225px;
    }
    .op-baocao-type .type-chiet-khau:before, .op-baocao-type .type-chiet-khau:after {
        content: none;
    }
    .op-baocao-type input[type="checkbox"]::before {
        color: white;
        background: var(--color-primary);
    }
/*================mainlayout*/
#MainLayout.expanded {
    padding-left: 250px;
}
div#MainLayout.expanded + div.renewal {
    padding-left: 270px;
}
.op-header-title h2 {
    display: flex;
    margin: 0 !important;
    line-height: 24px;
    padding: 3px 0;
    font-size: 18px;
    font-weight: normal;
    color: black;
}
.gara-tab > div {
    width: 100%;
    max-width: calc(100vw - 50px);
}
.op-object-detail{
    transition: var(--trans);
    width: calc(100vw - 87px) !important;
    border: none;
}
#MainLayout.expanded .op-object-detail{
    transition: var(--trans);
    width: calc(100vw - 287px) !important;
    border: none;
}
.op-baocao-classic {
    display: none
}
@media(max-width:1024px){
    .op-menu {
        position: fixed;
        height: 100vh;
        width: 50px;
        position: fixed;
        height: 100vh;
        width: 50px;
        background: var(--color-main);
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
    }
   
        .op-menu.expanded {
            left: 0;
        }
    .col-right {
        width: 100%;
        padding-left: 0;
    }
    .op-menu-list {
        flex-direction: column;
    }
    #op-menu > div {
        flex-direction: column;
        background: var(--color-main);
        display: flex;
        min-width: 230px;
        padding: 5px;
        height: 100vh;
        overflow: auto;
        /*padding-top: 50px;*/
    }
    .op-menu-list {
        WIDTH: 100%;
    }
        .op-menu-list > li a > font {
            display: inline-block;
        }
    .op-menu-list > li > ul {
        position: relative;
        width: 230px;
    }
    .op-menu-list > li > ul {
        background: none;
    }
    .op-menu-list > li {
        height: unset;
    }
    .op-menu-list {
        max-height: calc(100vh - 50px);
    }
        .op-menu-list > li > a {
            position: relative;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 3px 15px 3px 5px;
            color: white;
            margin-bottom: 5px;
            border-radius: 4px;
        }
        .op-menu-list > li:hover > a {
            background: initial;
        }

        #MainLayout {
            width: 100vw !important;
            HEIGHT: 100VH;
            padding-top: 40px;
            padding-left: 0;
        }
        #MainLayout.expanded {
            padding-left: 0;
        }
    /*.op-menu-logo img{
        display:none;
    }*/
    .op-menu.expanded .op-menu-toggle-mobile{
        color:white;
    }
    .op-menu-toggle-mobile {
        color: black;
        line-height: 24px;
        padding: 3px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 5px;
        left: 16px;
    }
    .op-header-title {
        margin-left: 44px;
        padding: 0;
    }
    #Gara_Tongquan .op-header-title {
        margin-top: 2px;
    }
    #MainLayout.expanded .op-header-title {
        z-index: 0 !important;
    }

    .op-header-title .title--user-manage {
        color: #333;
        font-size: 14px;
    }

    .op-header-title h2 {
        font-size: 16px;
    }
    .op-header-title label {
        font-weight: normal;
    }
}
.op-thongbao-item p {
    margin-bottom: 0;
}
.op-thongbao-item {
    position: relative;
    display: flex;
    padding: 10px 5px;
    margin: 5px;
}
.op-thongbao-image {
    min-width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 5px;
    padding: 10px;
}
.op-thongbao li {
    border: none !important;
    display: flex;
    padding: 0;
    margin: 5px;
}
    .op-thongbao li.op-thongbao-more {
        position: sticky;
        bottom: 0;
    }
.op-thongbao {
    HEIGHT: calc(100% - 50px);
    overflow: auto;
}
.op-thongbao-dadoc.op-thongbao-item:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--color-main);
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    border-radius: 5px;
}
@media (max-width:1366px) {
}
@media (max-width:1288px) {
}
@media (max-width:1024px) {
    .op-header > div > div {
        margin-bottom: 5px;
        width: auto;
    }
    div#op-menu.expanded .op-logo-link {
        color: white;
    }
    div#op-menu:not(.expanded) .op-logo-link {
        color: black;
    }
    .op-search {
        max-width: 400px;
        position: relative;
        background: white;
        cursor: pointer;
        min-width: 250px;
        width:250px
    }
}
@media (max-width:740px){
    .table-frame {
        max-height: calc(100vh - 300px);
    }
    .op-header > div > div {
        width: 100%;
    }
    .op-search {
        max-width: 100%;
        min-width: calc(100% - 40px);
        width: calc(100% - 40px);
    }
}
@media (max-width:510px) {
    .op-container {
        padding: 10px !important;
    }
    .gara-tab > div {
        width: 100%;
        max-width: 100%;
    }
        .gara-tab > div.active {
            width: 100vw;
        }
}