/*header*/
#op24-nav .menu-horizontal{
    background:var(--color-main)
}
div#op-menu > div {
    position: relative;
    display: flex;
    flex-direction: row;
}


.op-menu-logo img {
    height: 40px;
    padding: 5px 15px;
}

.op-logo-link{
    display:none;
}
#logoClassic {
    display: inline-block;
    padding: 0 15px;
}

#logoBeta {
    display: none;
}

.op-menu-list {
    display: flex;
}

    .op-menu-list > li {
        height: 40px;
    }

        .op-menu-list > li > a {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 7px;
            color: white;
            padding-right: 15px;
            padding-left: 10px;
        }

            .op-menu-list > li > a[href='/$/banle'], .op-menu-list > li > a[href='/$/banle'], .op-menu-list > li > a[href='/$/banle'] {
                background: var(--color-special) !important;
            }
        .op-menu-list > li > ul {
            padding: 3px;
        }

        .op-menu-list > li > a > i:first-child {
            display: none;
        }

        .op-menu-list > li > a > i:last-child {
            position: absolute;
            right: 4px;
        }

        .op-menu-list > li:hover > a {
            background: rgba(0,0,0,.35);
        }

        .op-menu-list > li:hover > ul {
            display: flex;
            flex-direction: column;
        }

        .op-menu-list > li > ul {
            display: none;
            position: absolute;
            width: 200px;
            background: var(--color-main);
            color: white;
        }

            .op-menu-list > li > ul > li:hover > a {
                background: rgba(0,0,0,0.15);
            }

            .op-menu-list > li > ul a {
                color: white;
                display: flex;
                width: 100%;
                padding: 3px 7px;
                line-height: 24px;
                align-items: center;
            }

            .op-menu-list > li > ul > a > i {
                width: 20px;
            }

            .op-menu-list > li > ul > li > a > i {
                width: 20px;
                text-align: center;
                margin-right: 5px;
            }
div#op-menu {
    display: flex;
    flex-direction: row;
}

.container-fluid.nopadding.menu-horizontal {
}

div#op24-nav {
    background: var(--main-color);
}

    /*========================================*/
.chinhanh > li > a{
    color:white;
    position:relative;


}
.op-menu-function a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    padding: 3px;
}

.op-submenu-2 {
    position: absolute;
    right: 100%;
    width: 200px;
    top: 0;
    background: var(--color-main);
    box-shadow: 3px 3px 6px rgb(0 0 0 / 15%);
}
.op-submenu-1:hover .op-submenu-2 {
    display: block;
}

.op-palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.op-palette li {
    height: 50px;
    width: 50px;
    padding: 5px;
}


.op-palette li a {
    height: 100%;
    width: 100%;
    border: 1px solid white;
}
/*popupthongbao*/
ul.main-drop.op-menu-function {
    width: 230px;
    display: none;
    background: var(--color-main);
    color: white;
    padding: 5px;
}

    ul.main-drop.op-menu-function li a {
        display: flex;
        color: white;
        line-height: 24px;
        padding: 3px;
        align-items: center;
        width: 100%;
    }

        ul.main-drop.op-menu-function li a img {
            width: 20px;
            padding: 2px;
            margin-right: 5px;
        }
        ul.main-drop.op-menu-function .material-icons {
            font-size: 18px;
            line-height: 24px;
            padding: 3px;
            width: 24px;
            display: inline-block;
        }

#op-popup-thongbao {
    position: fixed;
    top: 40px;
    right: 0;
    width: 400px;
    height: calc(100vh - 40px);
    background: white;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 15%);
    display: none;
}
#op-popup-thongbao.showed{
    display:block
}
/*Mainlayout*/
#MainLayout{
    padding-left:0;
}
.col-right {
    width: calc(100% - 230px );
    display: inline-block;
    padding-left: 10px;
    position: sticky;
    top: 60px;
    right: 0;
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}

/*========================filter=========================*/
.op-filter-add {
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    height: 34px;
    background: none;
    padding: 5px 12px;
}
.op-filter-toggle{
    display:none
}
.op-filter-footer {
    display: none;
    padding: 10px 5px;
}
.op-baocao-title{
    display:none
}

.op-baocao-classic {
    display: inline-block
}
.op-baocao-type{
    display:none
}
/*===============================RESPONSIVE=========================*/

@media(max-width:1024px) {
    .op-search {
        max-width: 350px;
        position: relative;
        background: white;
        cursor: pointer;
       
    }
    #op-popup-thongbao {
    
        max-width: 100vw;
    }
    .op-menu {
        position: fixed;
        left: -300px;
        position: fixed;
        height: 100vh;
        width: 230px;
        position: fixed;
        z-index: 99;
        background: var(--color-main);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
        transition:all 0.4s ease;
    }

    .op-menu-logo {
        position: fixed;
        width: auto;
        left: 0;
        top: 0;
        height: 40px;
        padding: 5px;
    }

    .op-menu.expanded {
        left: 0;
    }

    .col-right {
        width: 100%;
        padding-left: 0;
    }

    .op-menu-list {
        flex-direction: column;
    }

    #op-menu > div {
        flex-direction: column;
        background: var(--color-main);
        display: flex;
        min-width: 230px;
        padding: 5px;
        height: 100vh;
        overflow: auto;
        padding-top: 50px;
    }


    .op-menu-list {
        WIDTH: 100%;
    }

        .op-menu-list > li a > font {
            display: inline-block;
        }

        .op-menu-list > li > ul {
            position: relative;
            width: 230px;
        }

        .op-menu-list > li > ul {
            background: none;
        }

        .op-menu-list > li {
            height: unset;
        }

    .op-menu-list {
        max-height: calc(100vh - 50px);
    }

        .op-menu-list > li > a {
            position: relative;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 3px 15px 3px 5px;
            color: white;
            margin-bottom: 5px;
            border-radius: 4px;
        }

    #MainLayout {
        width: 100vw !important;
        HEIGHT: 100VH;
        padding-top: 40px;
        padding-left: 0;
    }

        #MainLayout.expanded {
            padding-left: 0;
            ;
        }

    .op-menu-logo img {
        display: none;
    }

    .op-menu.expanded .op-menu-toggle-mobile {
        color: white;
    }

    .op-menu-toggle-mobile {
        color: white;
        line-height: 24px;
        padding: 3px;
        display: flex;
        align-items: center;
    }
    .op-menu-list > li > a > i:first-child {
        display: inline-block;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-align: center;
        margin-right: 5px;
    }
    .op-menu-list > li > ul a {
        color: white;
        display: flex;
        width: 100%;
        padding: 3px 7px;
        line-height: 24px;
        align-items: center;
        padding-left: 15px;
    }
    .op-header .op-search {
        width: calc(100% - 30px);
        position: relative;
        background: white;
        cursor: pointer;
    }
    .op-filter-toggle {
        display: block;
        width: 40px;
        height: 30px;
        margin-left: 5px;
        background: var(--color-main);
        color: white;
    }
}

.op-thongbao-item p {
    margin-bottom: 0;
}

.op-thongbao-item {
    position: relative;
    display: flex;
    padding: 10px 5px;
    margin: 5px;
}

.op-thongbao-image {
    min-width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 5px;
    padding: 10px;
}

.op-thongbao li {
    border: none !important;
    display: flex;
    padding: 0;
    margin: 5px;
}

    .op-thongbao li.op-thongbao-more {
        position: sticky;
        bottom: 0;
    }

.op-thongbao {
    HEIGHT: calc(100% - 50px);
    overflow: auto;
}

.op-thongbao-dadoc.op-thongbao-item:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--color-main);
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    border-radius: 5px;
}
.op-menu-list > li > a[href='/#/DashBoard'] > i:first-child {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}