@media(max-width:768px){

}
@media(max-width:1024px) {
    #Gara.op-mb-tab-2 .gara-header-sections .gara-col-right {
        display: flex;
        width: 100%;
    }
    #Gara.op-mb-tab-2 .gara-header-sections .gara-col-left {
        display: none;
    }
}
@media(max-width:768px) {

}
@media(max-width:768px) {
}
@media(max-width:768px) {
}