@media  (max-width:520px){
    .form-group {
        flex-wrap: wrap;
    }

    .page > div {
        flex-wrap: wrap;
    }

    .page {
        flex-wrap: wrap;
    }

    .form-group label, .form-group > * {
        width: 100% !important;
    }
    .op-object-detail-right {
        width: 100%;
        padding-left: 15px;
        display: inline-block;
        vertical-align: top;
    }

    .op-object-detail-left .form-group {
        width: 100% !important;
        display: inline-block;
        margin: 0;
    }
}