
@media (max-width:768px) {
   
    .daterangepicker {
        position: fixed;
        left: 0 !important;
        top: 0vh !important;
        width: 100vw;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 3px 3px 10px gray;
        max-height: 98vh;
        overflow: auto;
    }
    .drp-calendar.left, .drp-calendar.right {
        margin:auto
    }
    .op-object-detail {
        position: sticky;
        left: 0;
    }

    .op-object-detail-right .op-table-summary {
        position: sticky;
        left: 0;
        width: 100%;
        float: left;
    }

    .op-table-summary > div {
        width: 100%;
    }

    .op-object-detail .nav-tabs {
        background: var(--color-table);
        padding: 4px 4px 0 4px;
    }

        .op-object-detail .nav-tabs > li.active > a, .op-object-detail.nav-tabs > li.active > a:focus,
        .op-object-detail .nav-tabs > li.active > a:hover {
            background: white;
            border: none;
        }

    .op-object-detail-function {
        align-items: center;
        flex-wrap: wrap;
    }

        .op-object-detail-function > * {
            margin: 3px;
        }

    .op-object-detail-right.btn-function {
        padding: 0px;
        margin: 5px 0;
        width: 100%;
        overflow: auto;
    }

    .op-object-detail {
        min-width: 700px !important;
    }

    .op-object-detail-left .form-group {
        width: 100% !important;
        display: inline-block;
        margin: 1%;
        flex-wrap: wrap;
        display: flex;
        border-bottom: none;
    }

    .op-object-detail-right {
        width: 100%;
        padding-left: 15px;
        display: inline-block;
        vertical-align: top;
    }

   

    .op-object-detail {
        flex-wrap: wrap;
        display: flex;
    }

        .op-object-detail > div {
            width: 100% !important;
            overflow: auto;
        }

    .gara-section-title > * {
        margin-bottom: 5px;
    }

    .gara-section {
        margin: 0;
    }

    .choose-commodity, #divThaoTac {
        width: 100%;
        color: #888;
        margin-bottom: 0;
        font-size: 11px;
        float: left;
        min-height: 30px;
        height: unset;
        margin: 0;
        /* display: flex !important; */
    }

    .op-header > div > div {
        margin-bottom: 5px;
        width: 100%;
    }

        .op-header > div > div.flex {
            margin-top: 5px;
        }

    .product-view-detail {
        width: calc(100% );
        float: left;
    }

    .op-object-detail-left .op-object-detail-left label {
        width:130px;
        
    }
    .op-object-detail-left .css-form-detail {
        width:calc(100% - 130px);
        line-height: 24px;
    }

    .op-object-detail-left .name-product {
        float: left;
        line-height: 18px !important;
        padding: 0;
        height: 24px;
        width: calc(100% - 110px) !important;
    }

    .img-commodity, .modal-content .fa-info-circle {
        display: inline-block;
    }

    .img-list-c {
        float: left;
        width: calc(100% - 130px);
        height: 210px;
        overflow: auto;
        margin-top: 0 !important;
    }

    .box-tab:after {
        top: 2px
    }

    .close-fillter {
        display: block;
    }

    body {
        background: white;
        overflow: auto;
        font-size: 1rem;
        width: 100vw;
        position: relative;
        height: inherit;
        overflow: hidden;
    }

    #MainLayout {
        width: 100vw !important;
        padding-top: 40px;
        height: inherit;
    }

    .detail-panel {
        overflow: scroll;
        overflow-x: hidden;
        background-color: white;
        position: fixed;
        top: 182px !important;
        z-index: 999999999;
        left: 0;
        width: calc(100vw) !important;
        height: calc(100vh - 250px) !important;
        display: none;
    }



    .col-left .op-filter {
        width: 100%;
        /* margin: -5px; */
    }

    .col-right {
        width: 100%;
        display: inline-block;
        padding: 0;
        position: relative;
        top: 0;
        right: 0;
        height: calc(100vh - 80px);
        
    }

    .search-fillter {
        float: left;
        font-size: 20px;
        padding: 0;
        display: inline;
        text-align: center;
        width: auto;
        color: var(--color-primary);
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        vertical-align: bottom;
        padding: 5px;
    }

    .gara-tongquan-summary {
        flex-direction: column !important
    }

    .gara-tongquan-chart .gara-dropdown-picker {
        right: 0;
        left: initial;
    }

        .gara-tongquan-chart .gara-dropdown-picker:before {
            right: 15px;
        }
}
