
@media (max-width: 1440px) {
    .height60 {
        height: 100%;
        position: relative;
        height: calc(100vh - 50px);
    }

    .menu-restaurant .logo-24 {
        width: 119px;
    }

    .menu-restaurant .menu-main {
        margin-left: 15px !important;
    }

    .logo-24 {
        display: block;
        width: auto;
        cursor: pointer;
        margin-right: 30px;
    }
}
