/*====================================================================================================*/
/*thuộc tính mặc định dành cho màn hình từ 13inch/ chế độ laptop/ viewport (!= Pixel Size) >= 1366 */
/*các thuộc tính ở file này có giá trị chung và được sử dụng lại với mỗi form. file này được đặt dưới cùng và không chứa giá trị thuộc tính màu*/
/*tham khảo cỡ màn hình tại https://screensiz.es/*/
/*====================================================================================================*/


@import url("op.res.1600.css");
@import url("op.res.1366.css");
@import url("op.res.1024.css");
@import url("op.res.768.css");
@import url("op.mobile.css");







/* start of tablet styles vertical */
@media(max-width:991px ) and (min-width:480px) {
    .op-giaodich-right {
        border-left: none;
    }
    .op-giaodich-header {
        display: flex;
        padding: 0 15px;
        align-items: center;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .op-giaodich-right {
        display: none;
    }

    .op-giaodich-right, .op-giaodich-left {
        width: calc(100vw - 30px);
        height: calc(100vh - 100px);
        padding: 15px 0;
        justify-content: space-between;
       
        align-items: flex-start;
        border: none;
    }
    .op-navigation-mobile {
        position: fixed;
        display: flex !important;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100vw;
        box-shadow: -3px -3px 10px rgb(0 0 0 / 15%);
        justify-content: space-evenly;
    }

        .op-navigation-mobile a {
            margin: 10px;
            font-size: 1.2rem;
        }    
}

@media(max-width:991px ) {
    .nav-stacked.not-visible-scrollbar > li {
        border: none;
    }

    ul.nav.nav-stacked.nav-pills.not-visible-scrollbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        border-bottom: none;
        padding: 5px;
        background: #F9F9F9;
        border-radius: 5px;
        padding: 5px;
        margin: 5px 0;
        height: 40px;
        overflow: auto
    }

        ul.nav.nav-stacked.nav-pills.not-visible-scrollbar > li > a {
            white-space: nowrap
        }

        ul.nav.nav-stacked.nav-pills.not-visible-scrollbar > .active > a {
            border-radius: 5px !important;
            line-height: 24px;
            padding: 3px;
            box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
            background: var(--color-primary) !important;
            color: white;
            padding: 3px 12px;
            margin-right: 5px;
        }
}







