body {
}
p{
    margin:0}
.commission-product, .commission-bill, .commission-quantity {
    width: calc(32% - 3px);
    margin: 0;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    /*border: 1px solid #808080;*/
}

.total {
    width: 100%;
    margin: 5px 0 0 0;
    height: 30px;
}

.commission-staff {
    padding: 0 0 12px 12px;
    height: auto;
}

.commission-bill, .commission-product {
    /*border-left: 1px solid var(--color-table);*/
    border-right: 1px solid var(--color-table);
}

.commission {
    /*border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;*/
}

.infor-staff {
    /*border-bottom: 1px solid var(--color-filter-left);*/
    display: inline-block;
    width: calc(100% - 130px);
}

.total {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    /*border-bottom: 1px solid var(--color-filter-left);*/
    height: 50px;
    /*padding: 15px 0;*/
}

    .total h4 {
        vertical-align: middle;
        text-align: center;
    }

.commission {
    /*border-bottom: 1px solid var(--color-filter-left);*/
    border-top: 1px solid var(--color-table);
}

    .commission h4 {
        margin-bottom: 0
    }

.infor-staff div small,
.infor-staff div h5 {
    /*border-bottom: 1px solid var(--color-filter-left);*/
}

.commission > div > small {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.commission > div > h4 {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
}

.total h4 {
    font-weight: bold !important;
    margin-top: 0
}

.total h4, .total p {
    margin-bottom: 0;
}

.total p {
    font-size: 1rem;
}

.input-search-filter input {
    width: calc(100% - 45px);
    max-width: 360px;
}

.commission-staff i {
    font-size: 1.2rem;
    color: var(--color-primary)
}

.infor-staff > div > small, .infor-staff > div > h5 {
    padding-left: 10px;
}

.commission-staff > div:nth-child(1) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    background: white;
    padding: 15px;
    border: 2px solid var(--color-table);
    ;
}

.hover-commission:hover {
    border: 2px solid var(--color-primary) !important;
}

}

.total h4 {
    color: var(--color-main)
}

.infor-staff h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0
}

.total h4 {
    color: var(--color-main)
}

#changviewbtn div i, #changviewbtn div p {
    display: inline-block;
}

.seleted-page {
    width: 75px !important;
}

.commission svg {
    display: none;
}

@media(max-width:425px) {
    .commission-staff {
        padding: 0 0 15px 0;
    }

    .commission-product, .commission-bill, .commission-quantity {
        width: calc(32% - 3px);
        margin: 0;
        height: 50px;
        display: inline-block;
        text-align: center;
        padding: 5px;
        /*border: 1px solid #808080;*/
    }

    .commission svg {
        margin-left: calc(50% - 15px);
        display: none;
    }
    .infor-staff> div  >font{
        display:none !important;

    }
    .infor-staff > div > i {
       width:20px;
    }
}

.panel-body th {
    max-width: 140px;
    width: 140px;
    ;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.panel-body table {
    min-width: 680px;
}

.panel {
}

.panel-body {
    overflow-x: scroll;
    text-align: center;
}

    .panel-body th {
        text-align: center
    }

font {
    display: inline-block;
}

.panel-heading h4 {
    display: inline-block;
    margin-top: 0
}

.panel-body table {
    width: 700px;
    margin-left: calc(50% - 350px)
}

.panel-body {
    width: 100%
}
