.print-drafts, .ketchen, .title-ketchen, #lblHoaDon li.active, .notifi-order, .panel-heading, .modal-header, .navtop, .name-title-table, #divStaff, .bill-bxslide ul li.using, .date-chang1 #datetime {
    background-color: #9B0C12 !important;
}
.op-filter-title, .op-filter-title, .tabs-main .active a {
    background-color: #e72c33
}
.op-filter-body, .filter-left-report .op-filter-body {
    border-color: #e72c33
}
.menu-main li:hover {
    background: #84090E !important;
}
.fillter, .menu-main li ul li {
    background: #84090E !important;
}
.bg-whitee, .header-top ul li:hover {
    background: #84090E;
}
.header-top ul li ul {
    background: #84090E;
}
.fillter a:hover, .menu-horizontal-inner ul li ul li:hover {
    background: #9B0C12 !important;
}
.panel-primary {
    border-color: #9B0C12 !important;
}
.highcharts-series rect {
    fill: #9B0C12 !important;
}
#lblHoaDon li.active a, .plus_not, .boxLeft .showhideicon {
    color: white !important;
}
.bnt-Cashier {
    background-color: #32B7B3 !important
}
.notifi-general li:hover .notifi-right, .notifi-general li:hover .notifi-right a {
    color: white !important;
}
.form-control:focus {
    border-color: #9B0C12;
}
