.bg-whitee, .print-drafts, .ketchen, .title-ketchen, #lblHoaDon li.active, .notifi-order, .panel-heading, .modal-header, .navtop, .name-title-table, #divStaff, .bill-bxslide ul li.using, .date-chang1 #datetime {
    background-color: #FF3924 !important;
}
.op-filter-title, .op-filter-title, .tabs-main .active a {
    background-color: #e16d61
}
.op-filter-body, .filter-left-report .op-filter-body {
    border-color: #e16d61
}
.bg-whitee, .menu-main li:hover {
    background: #C92C1C !important;
}
 .menu-main li ul li, .header-top ul li:hover, .fillter, .header-top ul li ul {
    background: #C92C1C;
}
    .fillter a:hover, .menu-horizontal-inner ul li ul li:hover {
        background: #FF3924 !important;
    }
.panel-primary {
    border-color: #FF3924 !important;
}
.highcharts-series rect {
    fill: #FF3924 !important;
}
#lblHoaDon li.active a, .plus_not, .boxLeft .showhideicon {
    color: white !important;
}
.bnt-Cashier {
    background-color: #32B7B3 !important
}
.form-control:focus {
    border-color: #FF3924;
}
