.print-drafts, .ketchen, .title-ketchen, #lblHoaDon li.active, .notifi-order, .panel-heading, .modal-header, .navtop, .name-title-table, #divStaff, .bill-bxslide ul li.using, .date-chang1 #datetime {
    background-color: #19AE40 !important;
}
.op-filter-title, .op-filter-title, .tabs-main .active a {
    background-color: #72ed92
}
.op-filter-body, .filter-left-report .op-filter-body {
    border-color: #72ed92
}
.bg-whitee, .menu-main li:hover {
    background: #118D31 !important;
}
 .header-top ul li:hover, .fillter, .header-top ul li ul {
    background: #118D31;
}
    .fillter a:hover, .menu-horizontal-inner ul li ul li:hover {
        background: #19AE40 !important;
    }
.panel-primary {
    border-color: #19AE40 !important;
}
.highcharts-series rect {
    fill: #19AE40 !important;
}
#lblHoaDon li.active a, .plus_not, .boxLeft .showhideicon {
    color: white !important;
}
.form-control:focus {
    border-color: #19AE40;
}
