.print-drafts, .ketchen, .title-ketchen, #lblHoaDon li.active, .notifi-order, .panel-heading, .modal-header, .navtop, .name-title-table, #divStaff, .bill-bxslide ul li.using, .date-chang1 #datetime {
    background-color: #195FAA !important;
}
.op-filter-title, .op-filter-title, .tabs-main .active a {
    background-color: #5fa5ef
}
.op-filter-body, .filter-left-report .op-filter-body {
    border-color: #5fa5ef
}
.bg-whitee, .menu-main li:hover {
    background: #114A68 !important;
}
 .menu-main li ul li, .header-top ul li:hover, .fillter, .header-top ul li ul {
    background: #114A68;
}
    .fillter a:hover, .menu-horizontal-inner ul li ul li:hover {
        background: #195FAA !important;
    }
.panel-primary {
    border-color: #195FAA !important;
}
.highcharts-series rect {
    fill: #195FAA !important;
}
.plus_not, .boxLeft .showhideicon {
    color: white;
}
#lblHoaDon li.active a, .notifi-general li:hover .notifi-right, .notifi-general li:hover .notifi-right a {
    color: white !important;
}
.form-control:focus {
    border-color: #195FAA;
}
