#CTHDView > ul > li, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td, .grocery .bill-listmenu, .slide-goods1 .bill-listmenu li {
    border-color: #657685;
}
@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
body, .callprice, #showseach, #modalPopuplgDelete .modal-body, .seach-nhomhang, .function-keys, #thietlapmauin, .modal-content, .modal-content td, .table-reponsive tbody tr:hover td, input[type=checkbox]:before, .checked-thong-bao input[type=checkbox]:before, .divSearchVue, .inner-w30, .inner-w3 td, .height-fix, .li-show, .li-show input, .grocery-newss .bill-listchoose li:hover, .grocery .bill-listchoose ul li:nth-child(odd), .grocery-newss li:hover .list-price input, .grocery-newss li:hover .list-totle-price input, .grocery-newss li:hover .munber-bill, .grocery-newss li:hover .note-out input, .grocery-newss
.bill-listchoose li:hover, .grocery-newss .bill-listchoose li:hover .price-fist, .grocery-newss .bill-listchoose ul li:nth-child(odd):hover, .grocery-newss .bill-listchoose li:hover .price-fist, .grocery-newss .bill-listchoose ul li:nth-child(odd):hover .note-out input, .li-show:hover, .grocery-newss .bill-listchoose li:hover, .price-fist, .table-trahang table, #lblHoaDon li.active, #searchandadd input, .slide-goods, .main-slide a, .main-slideright span, .grocery .bill-listmenu li, .up-slide i, .name-title-table, #lblHoaDon li a, .bill-header input, #divTraHang td, .li-show:hover .ghichu input[type=text]::-webkit-input-placeholder, .li-return:hover .ghichu input[type=text]::-webkit-input-placeholder, .ghichu input[type=text]:focus::-webkit-input-placeholder, .grocery .bill-listchoose ul li:nth-child(odd) .munber-bill, .selec-person ul li, .grocery .bill-listchoose ul li:nth-child(odd), .grocery .bill-listchoose ul li:nth-child(odd) .note-out input, .tien-goi-y ul li, .grocery .bill-listchoose ul li:nth-child(odd) .price-fist.newprice, .grocery-newss .bill-listchoose ul li:nth-child(odd):hover, .hoadon-number input, .hoadon-number button, .hoverenabled, #txtSearchKH, .price-pay-end, #txtNote, .grocery .price-pay-end, .title-fitter, .fitter, .list-group-item, #txtSearchNhomHH, .gj-checkbox-bootstrap span, #dtNgayApDungGoiDV, #dtNgayHetHanGoiDV, .modal-body, .table-res th, .table-reponsive1 th, .table-reponsive table tr th, #modalPopuplg_KH input, #modalPopuplg_KH textarea, #modalPopuplg_KH select, #partialCalendar input, .text-right .arrow-left, .text-right .arrow-left input, .call-quy-cach, #setPrint, .bg-info, .proDropdown .dropdown-menu li a, .information-payment, #phieuthu_ChietKhauNhanVien input, #phieuthu_ChietKhauNhanVien select, #partial_product_group input, #partial_product_group select, .ghichu input[type=text], #txtPhiTraHang, .tab-news-modal .nav-tabs li.active a, .table-discount-user table tr:nth-child(2n) td input, .i-con-ban-hang a, .pay-fix, #showseach_TH, .text-blu, .dropbox, .callprice, .arrow-left {
    background: #293742 !important;
    color: #fff !important;
    transition: background-color .4s ease;
}
button, a, div {
    transition: background-color .4s ease-in;
}
input::-webkit-input-placeholder {
    color: #708191 !important;
}
input:hover, input:focus {
    transition: border-bottom-color .4s ease-in;
}
to {
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
    transform: scale3d(1,1,1);
}
.bill-bxslide-news ul li.using {
    background-color: var(--color-main);
    border-radius: 25px !important;
}
.name-title-table.floatleft::after {
    height: 40px;
    content: none;
    width: 20px;
    position: absolute;
    right: -20px;
    background: none;
}
#lblHoaDon {
    position: relative;
    border-bottom: none !important;
    margin-bottom: 0;
    height: 40px;
    background: none;
}
    #lblHoaDon li.active a {
        color:var(--color-primary) !important;
    }
.bill-bxslide-news ul li.using {
   
    height: 40px !important;
   
}
.add-tab-ban-le {
    border: 0px !important;
    background: none !important;
}
    .btn:hover, .btn:focus, .btn.focus {
    background-color: #6a8195 !important;
    color: var(--color-main) !important;
}
.ghichu input[type=text]::-webkit-input-placeholder {
    color: transparent !important;
}
.ghichu input[type=text]:focus {
    color: gray;
    outline: none;
}
#showseach_TH li a, .select-user li a {

    color:#fff !important;
}
.grocery .bill-bxslide-news ul li {
    background-color: transparent;
    border: 1px solid var(--color-main);
    color: #FFF !important;
    transition: background-color .4s ease;
}
.grocery .price-pay-end {
    border-bottom: none !important;
}
.i-con-ban-hang div a, .user-choose i, .seach-bill i, .table-discount-user table tr:nth-child() td input {
    background-color: transparent;
    color: #fff !important;
}
    .i-con-ban-hang div a:focus {
        animation: bounceIn;
        animation-duration: .5s;
        animation-iteration-count: 1;
        background-color: #6a8195 !important;
        transition: background-color .4s ease-in;
    }
    .i-con-ban-hang div a:hover {
        background-color: #6a8195 !important;
        transition: background-color .4s ease-in;
    }
.li-show {
    border: 1px solid transparent !important;
    box-shadow: none;
    margin-left: -2px;
    margin-top: -2px;
}
    .li-show:hover {
        border: 1px solid var(--color-main);
        border-color: var(--color-main) !important;
        box-shadow: none;
        margin-left: -2px;
        margin-top: -2px;
    }
/*.modal-body .nav-tabs > li.active > a {
    border-bottom: 1px solid #293742 !important;
    background: none;
}*/
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
#HangHoaView {
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2), 0 4px 20px 0 rgba(255,255,255,0.09);
    transition: bottom .4s ease-in;
}
#divListHD label, .bill-plus, .blue, #showseach_Kh a, .user-choose a, #divKhachLe a, .quy-cach-edit-left, .btn-customer-fucntion button i, .selec-person.dropdown-menu li a {
    color: #fff !important;
}
/*#divListHDul > li.using label {
    background: var(--color-main) !important;
    transition: background-color .4s ease;
}*/
#txtSearchHH :focus, #searchandadd input:focus,  #txtSearchHH:focus, #txtSearchHH:focus, #searchandadd input:focus, #txtSearchDoiTra:focus, .form-control:focus {
    -webkit-box-shadow: none !important;
    border: 1px solid var(--color-main) !important;
    box-shadow: none !important;
}
 #txtSearchHH, #txtSearchHH, #searchandadd input, #txtSearchDoiTra, .btn-customer-fucntion button, .table-discount-user table tr:nth-child(2n+1) td input, .table-discount-user table tr:nth-child(2n) td input {
    background: #30404d !important;
    border: none !important;
}
    .hoverenabled:hover, #showseach li:hover, .divSearchVue li:hover, .btn-customer-fucntion button :hover, .selec-person li:hover, .tien-goi-y > ul > li, .modal-body .nav > li > a:hover, .page, .table-res th, .table-reponsive1 th, .table-reponsive table tr th, .list-img-user .form-group:hover, .background-detailNV, #showseach_TH li:hover {
        background: #6a8195 !important;
    }
#lblHoaDon li.active a, #thanhtoan i, #thanhtoan font, .tien-goi-y ul li a, .modal-body .nav > li > a, #showseach_TH li a {
    color: #FFF !important;
}
.information-payment{
    border-radius:5px;
    border:1px solid #fff
}

#divListHDul li.using label {
    margin-top: 5px;
    font-weight: bold;
    color: rgba(0,0,0,0.9);
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #293742 !important;
}
.name-bill-cn, .bill-control-right a, .bill-control-right a :hover {
    color: white !important;
}
ul.group-parent li div {
    background: #293742;
}
.tab-news-modal .nav-tabs li a {
    margin: 0px !important;
    font-weight: bold;
    padding: 15px 15px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.modal-body .nav > li > a {
    padding: 10px 10px;
    color: rgba(255,255,255,0.5) !important;
}