:root {
    --efffect-bg: background-color 0.3s cubic-bezier(0.4,0.0,0.2,1), color 0.3s cubic-bezier(0.4,0.0,0.2,1), left 0.3s cubic-bezier(0.4,0.0,0.2,1), margin 0.3s cubic-bezier(0.4,0.0,0.2,1);
}
body {
    display: block;
}
.hello-admin {
    width: 100% !important;
}
#waitLoading {
    display: block;
    width: 130px;
    height: 100px;
    position: absolute;
    top: 22%;
    left: 51%;
    text-align: center;
    padding: 2px;
    z-index: 999;
}
.load-full-loading {
    position: fixed;
    top: 47px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.happy-wait-loading {
    border: 1px solid #ccc;
    z-index: 10002;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    background: #32b7b3;
}
.load-full-loading #waitLoading {
    top: 0;
    left: 47%;
    z-index: 30007;
}
.tiny-green div {
    font-family: arial;
    font-size: 3px;
    color: white;
    text-align: right;
    text-shadow: 0 0 2px #000;
    text-indent: 9999px;
    overflow: hidden;
    background-image: -webkit-gradient(linear,71% 25%,71% 69%,color-stop(0, var(--load-progress)),color-stop(0.47, var(--load-progress)),color-stop(0.48, var(--load-progress)),color-stop(1, var(--load-progress)));
    background-image: -webkit-linear-gradient(-90deg,var(--load-progress) 0%,var(--load-progress) 47%,var(--load-progress) 48%,var(--load-progress) 100%);
    background-image: -moz-linear-gradient(71% 25% -180deg,var(--load-progress) 0%,var(--load-progress) 47%,var(--load-progress) 48%,var(--load-progress) 100%);
    background-image: linear-gradient(-180deg,var(--load-progress) 0%,var(--load-progress) 47%,var(--load-progress) 48%,var(--load-progress) 100%);
    -moz-border-radius: 10px;   
    -webkit-border-radius: 10px;   
    border-radius: 10px;
}
.dropdown-backdrop {
    position: static;
}
.overviewbyday {
    position: inherit;
    display: block;
    width: inherit;
    top: 10px;
}
.dash-sum {
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 280px
}
.calendar {
    border-radius: 5px;
}
.dash-gr-text-ct {
    max-width: 230px;
    min-width: 230px;
}
.dash-gr-sum-last {
    margin-bottom: 0;
    padding-bottom: 0
}
.dropdown-backdrop {
    position: static;
}
.khach-hang-dashboard {
    padding-left: 30px;
}
.calendar-wrapper {
    width: 100%;
}
.calendar-grid .calendar-date-holder {
    width: 100%;
}
.calendar-container {
    border-radius: 5px;
    padding: 5px;
    height: 280px;
    margin-bottom: 10px;
}
.left {
    float: left;
    padding-top: 3px;
}
    .left span {
        line-height: 18px;
        margin-right: 5px;
    }
#mobile-navigation {
    height: 40px;
    width: 100%;
    margin: 0
}
    #mobile-navigation li {
        background: var(--color-primary);
        padding: 13px 5px 5px 5px;
        width: 25%;
        height: 65px;
        text-align: center;
        margin-left: 0;
        color: white;
    }
#floatmenu {
    position: fixed;
    height: 45px;
    bottom: 0;
    background-color: var(--color-main);
    border: 1px solid #c4c4c4;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    color: black;
    margin-bottom: 0;
    width: 100vw;
    font-size: 1rem;
    left: 0
}
#bonus-menu {
    position: fixed;
    height: 0;
    bottom: 45px;
    background-color: white;
    border: 1px solid #c4c4c4;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 10px 10px 0 0;
    color: black;
    margin-bottom: 0;
    width: 100vw;
    font-size: 1rem;
    z-index: 99;
}
#background {
    height: 160vh;
    width: 100%;
    position: absolute;
    bottom: -75vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    z-index: 0;
}
#scrollbar {
    position: absolute;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    width: 70px;
    padding: 0 5px 0 5px;
    left: 0;
    margin-left: calc(12.5% - 35px)
}
.quick-btn:focus, .quick-btn:focus:active {
    outline: none;
}
html {
    scroll-behavior: smooth;
}
.quick-btn {
    align-items: center;
    transition: background-color 0.3s cubic-bezier(0.4,0.0,0.2,1), color 0.3s cubic-bezier(0.4,0.0,0.2,1);
    height: 100px !important;
    margin: 7px;
    width: 100px;
    text-align: center;
    background-color: #ccc;
    border-radius: 15px;
}
#floatmenu small {
    display: block
}
#mobile-navigation i {
    display: none !important
}
#mobile-support {
    display: none;
}
.dash-panel {
    background: white;
    height: 80px;
    padding: 22px 20px;
    transition: height 0.6s cubic-bezier(0.4,0.0,0.2,1);
}
.dash-sumary-objs {
    position: relative;
    background: #FFFFFF;
    height: 80px;
}
.sum-img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    display: inline-block;
}
    .sum-img img {
        width: 35px;
        height: 35px;
        fill: red
    }
.sum-txt {
    display: inline-block;
}
.sum-func {
    margin-top: 7px;
    display: inline-block;
    font-size: large;
}
.dash-panel font {
    display: block;
}
.dash-panel:nth-child(2) font {
    display: inline-block;
}
.dash-panel label {
    font-size: 16px;
    line-height: 14px;
}
.sum-func i {
    display: inline-block
}
.sum-func font {
    display: inline-block;
    font-size: 28px;
    line-height: 20px;
}
.dashboard-body {
    background: #F5F6FA;
    color: #686868;
    width: calc(100%)
}
body {
    background-color: white;
}
.nav-pills > li .active > a {
    border-bottom: 3px solid var(--color-main);
    background-color: white;
}
.nav .nav-pills li {
    border-bottom: 3px solid none;
}
#chart1,
#chart2,
#chart3,
#chart4 {
    width: 100%;
}
.dash-color-yelow {
    color: #5DDD9D;
}
.dash-color-red {
    color: #999EFF
}
.dash-color-blue {
    color: #0097C4
}
.border-fade {
    border: 1px solid var(--color-main) !important;
}
.expand-toggle {
    position: absolute;
    top: 60px;
    left: calc(50% - 10px);
    opacity: .69;
}
dash-pane-left {
    border-bottom: 3px solid var(--color-main) !important
}
#daily-notify {
    height: auto;
    overflow: scroll;
    margin-top: 15px;
}
    #daily-notify li:nth-child(n+5) {
        display: none;
        transition: display 0.4s ease;
    }
#daily-expandsion {
    text-align: center;
    font-size: 14px;
}
.eventbox li {
    display: inline-block;
    height: 120px;
    width: calc(33% - 12px);
    border: 1px dashed #f2f2f2;
    font-size: 1rem;
    margin: 5px;
    text-align: center;
    vertical-align: top;
    padding: 15px;
    border-radius: 3px;
    transition: border-color .8s cubic-bezier(0.4,0.0,0.2,1), background .4s cubic-bezier(0.4,0.0,0.2,1);
}
.navigator > li.active {
    font-weight: bold;
}
.slider {
    height: 3px;
    width: 100%;
    display: inline-block;
}
#slidebar {
    width: 100px;
    border-radius: 3px;
    margin-left: calc(50% - 135px);
    height: 6px;
    background: var(--color-primary);
    transition: margin-left .4s cubic-bezier(0.4,0.0,0.2,1), background .4s cubic-bezier(0.4,0.0,0.2,1);
    box-shadow: 0 4px 7px rgba(0,0,0,0.1);
}
.navigator li {
    cursor: pointer;
    font-size: 1rem;
    font-weight: inherit;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 7px 10px 3px 10px;
    transition: font-size .4s cubic-bezier(0.4,0.0,0.2,1), font-weight .4s cubic-bezier(0.4,0.0,0.2,1);
    color: black;
}
    .navigator li a {
        color: black
    }
.navigator {
    padding: 10px 0 0 0;
    text-align: center;
    display: inline-block;
    align-items: center;
    margin-left: calc(50% - 160px);
}
.eventbox li i {
    font-size: 30px;
    padding: 10px;
}
.eventbox {
    padding: 5px;
}
    .eventbox li:hover {
        background: #f2f2f2;
        background: rgba(0,0,0,0.05);
        border-color: var(--color-primary)
    }
.dasb-birtday-now {
    margin-bottom: 15px;
    padding-bottom: 15px;
    background: white;
}
#daily-notify .img-ind {
    display: inline-block;
    width: 80px;
    height: 80px;
    float: left;
    padding: 15px;
}
#daily-notify li {
    height: 85px;
    margin: 0 15px 15px;
    width: calc(100% - 30px);
    display: inline-block;
    border-bottom: 1px solid var(--color-secondary );
}
#daily-notify .img-ind i {
    text-align: center;
    height: 50px;
    width: 50px;
    color: var(--color-primary);
    font-size: 36px;
}
#daily-notify .diary {
    padding: 10px;
    width: calc(100% - 80px)
}
.diary .money {
    color: var(--color-primary);
    font-weight: bold;
    margin: 0;
}
.dairy p {
    margin-bottom: 0
}
.tab2active {
    margin-left: calc(50% + 15px) !important;
}
.dash-gr-tang-giam {
    width: calc(100% - 540px);
    float: right;
    font-size: 14px;
    color: black;
    margin-top: 10px;
    line-height: 30px;
    text-align: right;
}
    .dash-gr-tang-giam p .p-span-text {
        max-width: calc(100% - 75px);
        float: left;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
.overview-heading, #scroll3, #scroll4, #scroll1 > div > div, #scroll1 > div > table > div {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03)
}
@media(max-withd:1150px) {
    #scroll1 > div {
        width: 100%
    }
}
@media(max-width:1024px) {
    .dasb-header {
        padding: 0
    }
    .dashboard-body > div {
        padding: 10px
    }
}
@media (min-width: 1024px) {
    .overviewbyday {
        margin-top: 15px;
        padding: 15px;
    }
    .dash-sum {
        height: 280px;
        padding: 0 15px;
    }
    .calendar {
        left: 15px;
        height: 100%;
    }
}
@media only screen and (max-width:768px) {
    .dashboard-body {
        background: white;
        box-shadow: -3px 3px 6px rgba(00,0,0,0.2)
    }
    body {
        background-color: var(--color-main);
    }
    ::-webkit-scrollbar {
        width: 1px
    }
    .logo {
        display: none !important
    }
}
@media (max-width:768px) {
    ::-webkit-scrollbar{
        width:4px;
    }
    html {
        overflow-x: hidden;
    }
    .dash-gr-text-ct div.gr-text-right {
        width: calc(100% - 50px);
        padding-top: 4px;
        padding-left: 15px;
        font-size: 15px;
        float: left;
        text-align: left;
    }
    .dash-gr-tt-ct {
        text-align: left;
    }
    #scroll1 {
        width: calc(100vw - 10px);
        margin-left: 0;
        padding-left: 10px;
    }
    #scroll2 {
        padding: 0;
        width: calc(100vw - 10px);
        margin-left: 0;
        padding-left: 10px;
    }
    .left-box {
        padding: 0
    }
    #scroll2 > .container-fluid {
        padding: 0
    }
    .dashboard-body {
        background: #F5F6FA;
        color: #686868;
        height: calc(100vh - 50px) !important;
        overflow-x: hidden;
    }
    #toTop {
        border: 1px solid white;
    }
    html {
        overflow-x: hidden
    }
    .hello-admin {
        margin: 10px;
    }
    #scroll1 > div:nth-child(2) {
        padding: 0 5px;
        margin-bottom: 5px
    }
    #scroll1 > div {
        padding: 0 ;
        margin-bottom: 5px;
    }
    .hrmtab {
        display: block;
        height: 50px;
        width: 500px;
        background: none;
        color: #686868;
        position: inherit !important;
        margin: 0;
        top: 15px;
        left: 100px;
        z-index: unset;
        font-weight: bold;
    }
    .dash-gr-sum-last {
        padding-bottom: 15px
    }
    .dashboard-body > div {
        padding: 0
    }
    #scroll1 {
        padding-right: 0
    }
    #floatmenu {
        height: 65px;
    }
    #mobile-navigation i {
        display: inline-block !important;
        font-size: 25px
    }
    #floatmenu small {
        display: block;
    }
    .dayreport {
        text-align: center;
        font-size: 18px;
    }
    #mobile-support {
        display: block
    }
    .nhat-ky-hoat-dong {
        margin-bottom: 50px;
    }
}
@media (max-width:425px) {
    .dash-panel {
        margin-bottom: 10px !important
    }
    #floatmenu {
        height: 45px;
    }
    #mobile-navigation i {
        display: block !important;
        font-size: inherit;
    }
    .quick-btn {
        height: 50px !important;
        margin: 5px;
        width: 50px;
        text-align: center;
        background-color: #ccc;
        border-radius: 15px;
    }
    #floatmenu {
        height: 45px;
    }
        #floatmenu small {
            display: none
        }
}
.dash-gr-tt-ct {
    width: 150px;
    font-size: 14px;
    float: left;
    color: black;
    margin-right: 15px;
    margin-top: 0px;
    line-height: 30px;
    position: relative;
}
.dash-gr-tang-giam {
    width: calc(100% - 560px);
    float: right;
    font-size: 14px;
    color: black;
    margin-top: 10px;
    line-height: 30px;
    text-align: right;
}
.dashboard-body {
    padding-top: 15px;
    height: calc(100vh - 55px);
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 15px;
}
@media screen and (max-height: 450px) {
    .dashboard-body {
        padding-top: 15px;
        height: calc(100vh ) !important;
        overflow: scroll;
        overflow-x: hidden;
        border-radius: 15px;
    }
}
