
body {
    font-size: 13px;
    overflow: hidden;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Materialicons.woff2')format('woff2');
}

a {
    cursor: pointer
}
/*fundamental*/
.gara-icon-button {
    width: 30px;
    display: inline-block;
    height: 30px;
    padding: 3px;
    transition: all 0.4s ease;
    background: none;
}

    .gara-icon-button > i {
        font-size: 24px;
        color: #686868;
    }

    .gara-icon-button:hover {
        background: #ccc;
        border-radius: 15px;
    }

        .gara-icon-button:hover > i {
            color: var(--main-color)
        }

.gara-link-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
    transition: all 0.4s ease;
    background: none;
    color: #686868;
}

    .gara-link-button:hover {
        background: #ccc;
        border-radius: 15px;
    }

.gara-infor-line {
    border-bottom: 1px solid #ccc;
    position: relative;
    margin: 5px 15px 0 15px;
}

.gara-logo {
    padding: 0 7px;
    text-align: center;
}

    .gara-logo > img {
        height: 32px;
    }

.gara-search-component {
    position: relative;
}

.gara-search-icon {
    top: 0;
    left: 0;
    position: absolute;
    color: #686868;
    padding: 5px;
    font-size: 20px;
    left: 0px;
    height: 30px;
    width: 30px;
}

.icon-18 {
    font-size: 18px;
}

.icon-24 {
    font-size: 24px;
}

.icon-32 {
    font-size: 32px;
}

.gara-search-box {
    font-size: 14px;
    border-radius: 5px !important;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    border: 1px solid rgb(234,234,234);
    transition: width 0.4s cubic-bezier(.4,0,.2,1);
    padding-left: 40px;
}

    .gara-search-box:focus {
        border-color: var(--main-color)
    }

.gara-label {
    line-height: 20px;
    padding: 5px 0;
    font-weight: bold;
    height: 30px;
    background: none;
    color: black;
}

.label-colon::after {
    content: ":";
    position: absolute;
    right: 0;
}

.label-short {
    width: 100px;
}

.label-medium {
    width: 125px;
}

.label-long {
    width: 150px;
}

.gara-tab {
    width: 115px;
    height: 40px;
    color: black;
    padding: 4px 4px 4px 8px;
    margin-right: 5px;
    background: none;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.font-bold {
    font-weight: bold
}
.gara-flex-box{
    display:flex;
    align-items:center;
    flex-direction:row;
    
}
.gara-flex-box.right{
    justify-content:flex-end;
}
.gara-flex-box.left{
    justify-content:center;
}
.gara-exc-button {
    font-size: 16px;
    background: var(--main-color);
    padding: 15px;
    color: white;
    line-height: 24px;
    height: 54px;
    display: flex;
    margin-right: 5px;
    border: none;
}
.gara-flex-box.collumn{
    flex-direction:column;
    justify-content:flex-start;
}
/*======================================================*/
/*global style. default screen size :1600px*/
.gara-header-sections {
    height: 50px;
}

    .gara-header-sections > div {
        padding: 10px;
    }

.gara-col-left {
    width: calc(100% - 400px);
}

.gara-col-right {
    width: 400px;
    box-shadow: -4px 0 7px rgba(0,0,0,0.15);
}

.gara-list-drop {
    position: absolute;
    padding: 7px;
    background: white;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
    border: 1px solid var(--main-color);
    padding-bottom: 15px;
    z-index: 999;
}

.gara-search-dropbox {
    background: white;
    width: 100%;
    z-index: 10000;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
    top: 35px;
}

#searchHH {
    font-size: 14px;
    border-radius: 5px !important;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    border: 1px solid rgb(234,234,234);
    transition: width 0.4s cubic-bezier(.4,0,.2,1);
    height: 40px !important;
    padding-left: 40px;
    padding-right: 30px;
    margin-top: -5px;
    transition: all 0.4s ease;
    margin-bottom: -5px;
}

.gara-bill-navigation {
    width: 500px;
    margin-left: 25px;
    display: flex;
}

    .gara-bill-navigation > a {
        width: 30px;
        height: 30px;
        padding: 3px;
        text-align: center;
        transition: all 0.4s ease;
    }

    .gara-bill-navigation .gara-bill-label {
        height: 38px;
        margin-bottom: -8px;
        z-index: 99;
    }

        .gara-bill-navigation .gara-bill-label > ul {
            display: flex;
        }

    .gara-bill-navigation i {
        color: #686868;
    }

.gara-col-right {
    box-shadow: -4px 0 7px rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-between;
    background: white;
    padding-right: 0;
}

.gara-chinhanh-picker {
    display: flex;
    background: white;
    border-radius: 0;
    transition: all 0.4s ease;
    align-items: center;
}

.gara-functions {
    position: relative;
    z-index: 99;
    text-align: right;
    width: 240px;
}

.gara-chinhanh {
    width: calc(100% - 240px);
}

.gara-functions > .popup-detail {
    position: absolute;
    min-height: 100px;
    width: 398px;
    padding: 15px;
    background: white;
    border: 1px solid var(--main-color);
    top: 36px;
    right: 0;
    z-index: 999;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.35);
    right: 0;
    transition: all 0.4s ease;
}

.popup-detail:before {
    content: "";
    position: absolute;
    top: -6px;
    right: 102px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--main-color);
    transition: all 0.4s ease;
}

.popup-detail:after {
    content: "";
    position: absolute;
    top: -5px;
    right: 55px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    transition: all 0.4s ease;
}

.popup-detail.arrow-3 {
    WIDTH: 313PX;
}

.popup-detail.arrow-1:before, .popup-detail.arrow-1:after {
    right: 170px;
}

.popup-detail.arrow-2:before, .popup-detail.arrow-2:after {
    right: 80px;
}

.popup-detail.arrow-3:before, .popup-detail.arrow-3:after {
    right: 10px;
}

.popup-detail.arrow-4:before, .popup-detail.arrow-4:after {
    right: 45px;
}

.gara-help {
    display: none
}

.gara-help-button > div > label {
    width: 50px;
    padding-right: 15px;
}

.gara-help-settings > a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    line-height: 18px;
    margin-left: -10px;
}

.gara-help > a > i {
    width: 30px;
    text-align: center;
}

.gara-help-printer > div {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5px;
    height: 30px;
}

.input-noline {
    border: none;
    background: none;
    text-align: center;
    height: 30px;
}

    .input-noline:focus {
        border-bottom: 1px solid var(--main-color)
    }
