

#menu-mobile a .active {
    background: #4CAF50;
    color: white;
}

#menu-mobile a i {
    display: block;
}

#menu-mobile a small {
    display: block;
    font-size: 65%;
}

#menu-mobile a {
    
    position: relative;
    display: inline;
    float: left;
    padding: 7px 17px;
    color: white;
    background: var(--main-color);
    font-size: 20px;
    text-align: center;
}

    #menu-mobile a:hover, #menu-mobile a:focus, #menu-mobile a.actived {
        background: var(--color-main);
        color: white;
    }


#menu-mobile {
    display: none;
}

#menu-mobile {
    overflow: hidden;
    background: var(--color-primary);
    bottom: 0;
    width: 100vw;
    position: fixed;
}

@media (max-width: 1369px) {
    .w300 {
        width: 400px;
        height: calc(100vh - 50px);
        overflow-x: visible;
    }
}

@media (max-width:900px) {
    .btn-group-list-phieu {
        position: relative;
        width: 100% !important;
        padding: 15px !important;
    }

    .w560 {
        display: block;
        width: 100vw;
    }

    .w300 {
        display: none;
        width: 100vw
    }

    #menu-mobile {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }
    #menu-mobile>a{width:33%}
}

/*@media (max-width:768px) {
    

    .w560{
        display:block;
    }
    .w300 {
        display: none;
    }
    .frames-content {
        display: inline-block;
        position: absolute !important;
        bottom: 0;
        width: 430px;
        padding-bottom: 0;
        background: #fff;
        bottom: 0;
        top: unset;
        left: 7px;
        right: 0;
    }

    .excel-file {
        text-align: center;
        padding-top: 40px;
        
        top: 0;
    }

    .w300 {
        display: none;
    }

    .detail-warehouse {
        padding: 5px
    }

    .table-scroll-new {
        height: calc(100vh - 150px)
    }

    .replus div, .replus input {
        font-size: 1rem;
        float: left;
        width: calc(100% - 110px) !important;
        line-height: 30px;
    }

    .right-content-infor select, .right-content-infor textarea {
        width: calc(100% - 110px) !important;
    }

    .right-content-infor {
        padding-top: 0;
        padding: 0 10px;
    }

    #makiemkho,
    .replus > #datetimepicker {
        width: calc(100% - 135px)
    }

    
    #menu-mobile a:nth-child(2n+1) {
        width: 30% !important;
    }

    #gopay {
        width: 40% !important;
    }

    #popup-print {
        display: none
    }

    .btn-group-toolbar {
        width: auto !important;
    }

    .click-link {
        display: none !important
    }

    .replus > textarea, .replus > div {
        width: calc(100% - 110px) !important;
    }

    .frames-content {
        width: 100% !important
    }

    #colorTHN,
    .infor-btn {
        display: none !important
    }

    .confirm-warning-sign {
        margin-left: calc(50% - 15px);
        text-align: center;
        font-size: 50px;
        opacity: 0.5;
        color: red;
        display: inline-block
    }

    .glyphicon-warning-sign {
        font-size: 30px;
    }

    #execute {
        width: 25%;
        background: #808080;
    }

    #btnaddHDCHHT > p {
        display: none
    }

    #btnaddHDCHHT,
    #btnaddHDCHNH,
    #btnaddHDCHTL {
        display: inline-block;
        width: 30%;
    }

    #btnaddHDHT > p {
        display: none;
    }

    .btn-control {
        width: 95% !important;
        display: inline-block;
    }

    .infor-btn {
        display: none;
    }

    #menu-mobile {
        display: block !important;
    }

    



    .import-fast .bnt-barcode {
        top: 15px
    }

    .frames-content .table-reponsive {
        padding: 0 !important
    }

    .bill-control {
        width: 100%;
    }

        .bill-control > div {
            padding: 0
        }

    .title-nhap-xuat {
        padding: 0;
        display: none
    }

    .install-notifi {
        left: 300px !important
    }

    .import-fast bnt-barcode {
        margin-top: 15px;
    }

    

    .w560, .w300 {
        width: 100% !important;
        padding: 0;
        height: calc(100vh - 100px);
        padding: 15px 7px;
        border-radius: 15px 15px 0 0;
    }

    .frames-content {
        position: relative;
        width: 100%;
        padding: 0 0;
    }

    .btn-group-list-phieu {
        position: relative;
        width: 100% !important;
        padding: 15px !important;
    }

    .group-sum-total {
        padding: 0 20px !important;*/
        /*padding-bottom:50px;*/
    /*}

    .right-content-infor-nhap-hang,
    .right-content-infor-nhap-hang, .right-content-infor-tra-hang {
        height: auto !important;
        overflow: auto;
        padding: 5px;
    }

    .detail-infor.group-sum-total.group-sum-total-nhap-hang.col-md-12.floatleft {
        padding: 0 !important;
        margin: 0;
    }

    

    .import-fast .fa-barcode {
        font-size: 30px;
    }

    .import-fast {
        display: inline-block;
        margin: 5px;
    }

    .frames-content .bill-control {
        width: 100%;
    }

    .warehouse-fast-input {
        display: inline;
        background-color: white;
        position: relative;
        width: auto;
        float: left;
        text-align: center;
        margin-top: 5px;
    }

    .form-group label {
        font-size: 1rem;
        width: 110px !important;
    }
}*/

@media screen and (max-height: 450px) {
    .height60 {
        height: 100%;
        position: relative;
        height: 100vh;
    }

    #menu-mobile {
        overflow: hidden;
        background: #333;
        bottom: 0;
        width: 100vw;
        position: fixed;
        position: absolute;
        /* height: 0; */
        top: unset;
        bottom: 29px;
    }
}

@media(max-width:425px) {
    .replus div:not(.choose-person), .replus input:not(#txtAuto) {
        font-size: 1rem;
        float: left;
        width: calc(100% - 110px) !important;
        line-height: 30px;
    }

    .main-tab-warehouse {
        width: 100%;
    }

    .minimisize {
        width: 100% !important;
    }

        .minimisize input#txtHangHoaauto {
            padding-right: 30px;
        }

    input#txtHangHoaauto {
        height: 30px;
        border-radius: 5px;
    }

    .install-notifi.xuathuy {
        left: 0 !important;
        width: 400px
    }

    .export-keys {
        left: 0 !important
    }

    .btn-control {
        width: 100% !important;
        display: inline-block;
    }

    .infor-btn {
        display: none;
    }

    #menu-mobile a:nth-child(2n+1) {
        width: 110px !important;
    }

    #execute {
        width: calc(100% - 300px) !important;
        background: #808080;
    }

    .scroll-table.table-scroll.table-frame {
        height: calc(100vh - 126px);
        max-height: unset;
    }
}

@media (max-width:320px) {
    #execute {
        width: calc(100% - 225px) !important;
    }

    #menu-mobile a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 20px;
        width: 75px
    }
}

.table-frame {
    overflow: auto;
    max-height: calc(100vh - 250px);
    width: calc(100%);
    height: inherit;
}
    .table-frame > table > thead > tr > th {
        border-left: none;
    }
.input-simple:not(.input-note) {
  
    text-align: right;
}
.input-simple.width-75, .input-simple.width-125 {
    border-bottom: none;
}

    .input-simple.width-75:focus, .input-simple.width-125:focus {
        border-bottom: 1px solid var(--color-primary)
    }

.table-res tr td, .table-reponsive tr td {
    border-bottom: 1px dotted #e6e6e6;
}
.table-reponsive tr td:first-child {
    text-align: left;
    padding-left: 14px;
}
}
.import-function > i.material-icons {
    font-size: 18px;
}
.bill-control.btn-group {
    display: flex;
    justify-content: space-between;
}
    .bill-control.btn-group button {
        padding: 5px 7px;
        color: white;
        font-weight: normal;
        font-size: 16px;
        width: 32%;
        line-height: 24px;
        height: 50px;
    }
    @media(max-width:1024px){
        .op-gdct-danhsachhang, .op-gdct-thongtinphieu {
            width: 100% !important
        }
    }
@media(max-width:1024px) {

    .op-gdct-mobile-show {
        display: flex !important;
    }
    .op-gdct-thongtinphieu {
        display: none;
        width: 100vw;
        height: calc(100vh - 100px);
        overflow: auto;
        padding: 0 calc(50% - 200px);
    }
    .op-gdct-danhsachhang {
        display: none;
        width: 100vw;
        height: calc(100vh - 100px)
    }
        .op-gdct-danhsachhang .table-frame {
            overflow: auto;
            max-height: unset;
            width: calc(100%);
            height: calc(100vh - 150px);
        }
    #menu-mobile{
        display:block !important;
    }
    .op-gdct-danhsachhang .table-frame td:nth-child(2):not(.colspaned), .op-gdct-danhsachhang .table-frame th:nth-child(2):not(.colspaned) {
        position: static;
        background: inherit;
        z-index: 101;
       /* box-shadow:3px 3px 6px rgba(0,0,0,0.15)*/
    }

    .table-reponsive tr td:first-child {
        min-width: 42px;
    }
}
.op-dropdown {
    position: relative;
}
.js-ngaynhaplo {
    padding: 3px;
}