
:root {
    --color-main: #0097c4;
    --color-primary: #0aaddd;
    --color-secondary: #0aaddd;
    --color-special: #ff4d71;
}
    .open24-nav {
    background: #1374ad; /*fallback color if variable can not be found*/
    background: var(--color-main);
    margin: 0;
    height: 48px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
    border: none;
}

    .open24-nav > .open24-nav-container {
        opacity: 1;
        transition: opacity 0.5s ease 0s;
        height: inherit; /*50px*/
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.open24-nav-list {
    height: inherit; /*50px*/
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    font-size: 1rem;
    color: white;
}

    .open24-nav-list > .open24-nav-submenu {
        padding: 12px 12px;
        line-height: 14px;
        height: 48px;
        color: white;
        display: flex;
        position: relative;
        justify-content: center;
        align-content: center;
        font-size: inherit;
    }

        .open24-nav-list > .open24-nav-submenu > font {
            color: inherit;
            font-size: inherit;
        }

        .open24-nav-list > .open24-nav-submenu > i:first-child {
            display: none;
        }

        .open24-nav-list > .open24-nav-submenu > i:last-child {
            padding-top: 10px;
            position: absolute;
            top: 8px;
            right: 4px;
        }

    .open24-nav-list > .open24-nav-sublist {
        position: absolute;
        background: var(--color-main);
        width: 235px;
        z-index: 2;
    }

        .open24-nav-list > .open24-nav-sublist > a {
            display: block;
            padding: 7px 15px;
            font-size: 14px;
            color: white;
        }
        .open24-nav-list > .open24-nav-sublist > a:hover {
          background:var(--main-color-secoundary);
        }
            .open24-nav-list > .open24-nav-sublist > a > i {
                margin-right: 7px;
            }
            .open24-nav-list > .open24-nav-sublist > a > font {
               color:inherit;
               font-size:inherit;
            }

.open24-nav-list > .open24-nav-submenu > .bnt-Cashier.btn-gara {
    position: relative;
    width: 30px;
    display: inline-block;
    height: 30px;
}

/*============= right side ===============*/
.open24-nav-settings {
    height: inherit; /*50px*/
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
    .open24-nav-settings > li{

    }
    .open24-nav-settings > li > a {
    }
        .open24-nav-settings > li >.open24-nav-setting-drop {
        }
    /*responsible*/
   

@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}


 @media (max-width: 640px) {
    }