
:root {
    --color-main: #0097c4;
    --color-primary: #0aaddd;
    --color-special: #ff4d71;
    --color-font-default: #000000;
    --font-color: #686868;
    --table-header-color: #e9eaf2;
    --table-footer-color: #e9eaf2;
    --border-default: 1px solid #ccc;
    --color-button: #777;
    --color-button-hover: #575353;
    --color-filter-left: #d1d2d9;
    --color-button-thanh-toan: #f75e5c;
    --button-thanh-toan-hover: #f78483;
    --color-main-font: White;
    --color-table: #d1d2d9;
    --hover-loadding: #c7dfe6;
    --load-progress: #b2c70f;
    --table-footer: #e9eaf2;
    --color-title-edit: #e9eaf2;
    --color-img: hue-rotate(194deg);
    --color-add: #eb4a24;
    --color-sao-chep: #89b1bb;
    --color-sao-chep-hover: #75a6b2;
}
body {
    height: 100%;
    position: relative;
    color: #888;
    font-size: 1rem;
    background: var(--color-main) !important;
}
.content-login {
  
    float: left;
}
#wrapper {
    padding: 13% 0 0 0px;
    height: 100%;

}

#wrapper {
    width: 350px;
    margin: auto;
   
    position: relative;
}
.close-admin {
    height: 18px;
    width: 18px;
    background: #ccc;
    text-align: center;
    border-radius: 20px;
    padding-top: 3px;
    line-height: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
    .close-admin i {
        color: white;
        font-size: 1rem;
    }.img-admin {
        text-align: center;
        padding-top: 20px;
    }
.img-admin img{
   width:auto;
}
.icon-admin img{
    height:auto;
    width:auto;
}.icon-admin:before {
    content: "";
    width: 15px;
    height: 15px;
    border-left: 6px solid white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    margin-top: 1px;
    left: 2px;
}
.divlogin {
    text-align: center;
    padding: 0;
    margin-top: 10px;
    margin-left: 35px;
    width: 300px;
    height: 40px;
    text-align: center;
}.remember {
    float: left;
    padding-top: 7px;
    color: white;
    line-height: 23px;
}
.login {
    border: 1px solid white;
    background: var(--color-main);
    color: white;
    padding: 9px 35px;
    border-radius: 5px;
    font-size: 15px;
}
.forgetpass a {
    color: white !important;
}
.forgetpass {
    padding-top:12px;
    color:white;
}#wrappermiddle {
    float: left;
    height: auto;
}

#wrapperbottom {
    background: url(../images/wrapper_bottom.png) no-repeat;
    height: 22px;
}

#wrapper h2 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Myriad Pro;
    text-transform: uppercase;
    position: absolute;
    text-shadow: #fff 2px 2px 2px;
}
.notilogin {
    color: #ffed00;
    float: left;
    padding-left: 50px;
    padding-top: 14px;
    width: 100%;
}
.manage {
    color: white;
    font-size: 11px;
}#username_input {
    margin-left: 35px;
    position: relative;
    width: 300px;
    float: left;
    padding-bottom: 20px;
    margin-top: 9px;
}
.notify-username {
    float: left;
    line-height: 40px;
  
}#username_inputleft {
    float: left;
    background: url(../images/input_left.png) no-repeat;
    width: 12px;
    height: 50px;
}
.toogle-admin {
    float: right;
    width: 44px;
    height: 15px;
    background: #cacaca;
    border-radius: 15px;
    position: relative;
}
.toogle-admin:before {
    content: "";
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 15px;
    position: absolute;
    margin-top: 1px;
    left: 2px;
}
.remember div {
    float: left;
    margin-right: 7px;
}

.url {
    padding-left: 47px;
    width: 300px;
    height: 36px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px white;
}
.icon-admin {
    position: absolute;
    top: 0px;
    height: 36px;
    padding-top: 7px;
    width: 40px;
    border-right: 1px solid #015869;
    padding-left: 10px;
}#url_user {
    position: absolute;
    display: block;
    margin-top: -28px;
    float: left;
    padding-right: 10px;
}

#password_input {
    margin-left: 35px;
    position: relative;
    width: 300px;
   
    float:left;
}



#url_password {
    display: block;
    position: absolute;
    margin-top: -32px;
    float: left;
    margin-left: 4px;
}

#submit {
    float: left;
    position: relative;
    padding: 0;
    margin-top: 20px;
    margin-left: 35px;
    width: 300px;
    height: 40px;
    border: 0;
}
.load-succes i {
    font-size: 56px;
    padding-top: calc(35%);
}
.load-succes {
    height: 180px;
    width: 180px;
    border: 8px solid white;
    border-radius: 50%;
    display: inline-block;
}
.title-succes{
    font-size:26px !important;
}
.remember input {
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid white;
}
    /*.remember input[type=checkbox]:checked:after {
        top: 7px;
        color: #59595b;
    }
    .remember input[type=checkbox]:checked:after {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }*/
.sus-pass {
    color: white;
}.forgotpass {
    color: white;
}
@media(max-width:414px) {
    body {
        background-size: inherit;
    }
    #wrapper {
         width:auto; 
        margin: auto;
        position: relative;
    }
}

.ring {
    z-index: 9999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 10px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 130px;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 10px white;
    box-shadow: 0 0 32px rgba(0,0,0,.5);
}
.load-dang-nhap:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-top: 5px solid #b6b642;
    border-right: 5px solid #b6b642;
    border-radius: 50%;
    animation: animateCircle 1.5s linear infinite;
}
.load-set-up  p {
    text-align:center;
}
.setup1 {
    margin-top: 12px;
    position: absolute;
    font-size: 80px;
    right: 5px;
    top: 5px;
}

.setup2 {
    font-size: 80px;
    position: absolute;
    top: 110px;
    right: 10px;
}

.setup3 {
    position: absolute;
    font-size: 120px;
    top: 40px;
    left: -30px;
}
.load-set-up {
    z-index: 9999999;
    position: absolute;
    top: 46%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 180px;
    /*background: transparent;*/
    /*border: 10px solid white;*/
    font-size: 18px;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 130px;
    /*font-family: sans-serif;*/
    /*box-shadow: 0 0 32px rgba(0,0,0,.5);*/
}
.title-thong-bao {
    z-index: 9999999;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}
.ring span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 1.5s linear infinite;
}

/*.load-dang-nhap span:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: yellow;
    top: -6px;
    right: -8px;
}*/

@keyframes animateCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}