@media only screen and (max-width:1150px) {
    .logo-24 {
        display: none !important
    }
}
@media only screen and (max-width:1150px) {
    .width200 {
        display: block !important;
        /*transition: all 0.5s cubic-bezier(.4,0,.2,1) !important*/
    }
    .menu-main li ul {
        position: relative;
        left: 0;
        background: var(--color-main);
        width: 100%;
        z-index: 99999;
        top: 0;
        transition: display 0.4s cubic-bezier(.4,0,.2,1);
    }
        .menu-main li ul li ul {
            left: 0;
            top: 0;
            display: none
        }
    .menu-main > li, .menu-chicken > .bnt-Cashier > .bnt-Cashier {
        width: 100%
    }
        .menu-main > li > a > i:nth-child(1) {
            display: inline-block
        }
    .click-menu {
        display: inline-block;
        font-size: 18px;
        padding: 13px;
        position: fixed;
        top: 0;
        height: 50px
    }
    .over-hidden {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 50px)
    }
    .bnt-Cashier {
        background: var(--color-special);
        height: 30px;
        float: left
    }
    .menu-chicken font {
        display: inline-block !important
    }
    font.iconn-design {
        padding-left: 0 !important
    }
    .iconn-design {
        display: inline-block;
        width: auto;
        padding: 10px 10px 0 15px
    }
    .menu-main li a font {
        display: inline-block
    }
    .menu-horizontal-inner {
        top: 50px;
        height: 100%;
        left: -230px;
        width: 200px;
        position: fixed;
        z-index: 100;
        background: #ccc;
        background-size: 400% 400%;
        transition: var(--trans);
        transition: all 0.4s ease
    }
    .menu-horizontal-inner {
        display: block;
        transition: left 0.4s cubic-bezier(.4,0,.2,1) !important
    }
    .menu-main {
        margin: 0 0 0 !important
    }
    .menu-horizontal-inner {
        padding-left: 0
    }
    .main-menu-mobile {
        display: none
    }
    .click-menu {
        color: #686868
    }
    .op-filter {
        margin-top: 15px
    }
    #MainLayout {
        width: 100% !important;
        padding:0;
        padding-top:50px;
        transition: padding-left 0.25s linear;
    }
    .header-button-right font {
        display: none
    }
    .logo-24 {
        display: none !important
    }
    .logo {
        display: none !important
    }
    .logo-24 {
        display: none;
        width: auto;
        padding: 9px 20px 9px 20px
    }
        .logo-24 img:nth-child(1) {
            display: block !important
        }
        .logo-24 img:nth-child(2) {
            display: none !important
        }
}
@media only screen and (max-width:992px) and (min-width:769px) {
    .logo-24 {
        position: fixed;
        z-index: 9;
        top: 0;
        left: calc(50% - 70px);
        display: block !important
    }
    .header-button {
        width: auto
    }
    .header-button-right font {
        display: none
    }
    
    .logo-24 {
        position: fixed;
        z-index: 9;
        top: 0;
        left: calc(50% - 70px);
        display: block !important
    }
    .op-object-detail{
        width: calc(100vw - 50px) !important;
        overflow: auto
    }
    .op-header {
        width: 100%
    }
    .logo-24 {
        display: block;
        width: auto;
        padding: 9px 30px 9px 70px
    }
        .logo-24 img:nth-child(1) {
            display: none !important
        }
        .logo-24 img:nth-child(2) {
            display: block !important
        }
    .menu-horizontal-inner {
        display: block !important;
        transition: left 0.4s cubic-bezier(.4,0,.2,1) !important
    }
}
@media only screen and (max-width:768px) and (min-width:500px) {
    .chamsockhachhang > span {
        display: none
    }
    .profile-left {
        width: 300px;
        margin: auto;
        margin-left: calc(50vw - 175px)
    }
    .profile-r-tab {
        width: 100%;
        float: right
    }
    .tab-content.establish-right {
        width: 100% !important;
        margin-top: 50px
    }
    ul.nav.nav-tabs.establish-left {
        width: 100%
    }
    .establish-left li {
        border: 1px solid #ccc;
        width: auto;
        margin-bottom: 10px;
        border-radius: 3px;
        position: relative
    }
    #txtSearchHH, #txtBangGiaFilter, .input-search-filter .form-control, #txtMaNhanVien1 {
        width: 300px;
        right: 400px
    }
    .op-header .title {
        border: none;
        transition: left 0.4s cubic-bezier(.4,0,.2,1);
        position: relative;
        top: unset;
        left: unset;
        z-index: -1;
        font-size: 18px;
        margin-top: 0;
        display: inline-block
    }
    
    .op-header .btn-add-new font {
        display: inline-block
    }
    .dashboard-body {
        background: #fff;
        box-shadow: -3px 3px 6px rgba(0,0,0,.2)
    }
    .op-object-detail{
        width: calc(100vw - 50px) !important;
        overflow: auto
    }
    .logo {
        display: none
    }
    .header-button {
        margin-top: 0;
        width: auto
    }
    .menu-horizontal-inner {
        display: block;
        transition: left 0.4s cubic-bezier(.4,0,.2,1) !important
    }
}
@media only screen and (max-width:500px) {
    #_txtTenDonVi {
        text-overflow: ellipsis;
        max-width: 75px;
        margin-right: 6px;
        font-size: 14px
    }
    .profile-left {
        width: 300px;
        margin: auto;
        margin-left: calc(50vw - 175px)
    }
    .profile-r-name {
        width: 100%;
        float: left
    }
    .profile-r-tab {
        width: 100%;
        float: right
    }
    .notifi-general {
        background: inherit;
        width: 390px;
        width: 100vw !important;
        right: 0 !important;
        left: 0 !important;
        top: 60px;
        border: 1px solid #ccc;
        display: none;
        z-index: 99999;
        position: fixed !important
    }
    .tab-content.establish-right {
        width: 100% !important;
        margin-top: 50px
    }
    ul.nav.nav-tabs.establish-left {
        width: 100%
    }
    .establish-left li {
        border: 1px solid #ccc;
        width: auto;
        margin-bottom: 10px;
        border-radius: 3px;
        position: relative
    }
    .menu-main li ul {
        position: inherit;
        background: var(--color-main);
        width: 100%;
        z-index: 99999;
        left: 0;
        top: 0
    }
    .iconn-design {
        padding: 10px 10px 0 15px;
        display: inline-block;
        width: auto
    }
    .menu-chicken font {
        display: inline-block
    }
    .menu-horizontal-inner {
        display: block;
        transition: left 0.4s cubic-bezier(.4,0,.2,1) !important;
        left: -270px
    }
    .btn-function {
        width: 100% !important;
        white-space: normal
    }
    .op-filter {
        position: absolute;
        top: 0;
        padding: 15px;
        border: 5px solid #ccc;
        margin-top: 0
    }
    .btn-updata {
        width: auto
    }
    .op-table-summary {
        margin-bottom: 20px !important
    }
    .op-object-detail{
        width: calc(100vw - 10px) !important
    }
        .op-object-detail.tab-content {
            width: 100%
        }
    .op-object-detail-left, .op-object-detail-right {
        display: block;
        width: 100%;
        margin: 5px 0;
        padding: 0
    }
    .menu-horizontal-inner {
        width: 250px;
        top: 50px;
        box-shadow: 5px 2px 5px rgba(0,0,0,.35);
    }
    .menu-main li a font {
        display: inline-block
    }
    #SelecttedPage {
        min-width: 75px
    }
    .op-container {
        width: 100% !important;
        padding-left: 7px !important;
        padding-right: 7px !important
    }
    .choose-commodity, #divThaoTac {
        height: unset;
        padding: 0
    }
    .op-header .header-title {
        padding-top: 0 !important;
        height: 0;
        height: 30px;
        position: unset;
        width: 100%;
        display: block !important
    }
    .op-header .btn-add-new font {
        display: inline-block
    }
    .dashboard-body {
        padding-top: 0
    }
    .logo-24 {
        display: none !important
    }
    #txtSearchHH, #txtBangGiaFilter, .input-search-filter .form-control, #txtMaNhanVien1 {
        width: 84px
    }
        #txtSearchHH:focus, #txtBangGiaFilter:focus, .input-search-filter .form-control:focus, #txtMaNhanVien1 {
            width: calc(100vw - 80px)
        }
    .input-search-filter {
        position: relative;
        width: 100%
    }
    .dash-gr-tang-giam {
        width: 100% !important;
        float: right;
        font-size: 14px;
        color: #000;
        margin-top: 10px;
        line-height: 30px;
        text-align: right
    }
    .op-object-detail{
        width: calc(100vw - 10px) !important;
        overflow: auto
    }
    .input-search-filter {
        position: relative;
        right: 0;
        width: 100%
    }
}
.chinhanh li {
    border: none
}
.dot-falling {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    box-shadow: 9999px 0 0 0 #fff;
    -webkit-animation: dot-falling 1s infinite linear;
    animation: dot-falling 1s infinite linear;
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}
    .dot-falling::before, .dot-falling::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0
    }
    .dot-falling::before {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #fff;
        color: #fff;
        -webkit-animation: dot-falling-before 1s infinite linear;
        animation: dot-falling-before 1s infinite linear;
        -webkit-animation-delay: 0s;
        animation-delay: 0s
    }
    .dot-falling::after {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #fff;
        color: #fff;
        -webkit-animation: dot-falling-after 1s infinite linear;
        animation: dot-falling-after 1s infinite linear;
        -webkit-animation-delay: .2s;
        animation-delay: .2s
    }
@-webkit-keyframes dot-falling {
    0% {
        box-shadow: 9999px -15px 0 0 rgba(152,128,255,0)
    }
    25%,50%,75% {
        box-shadow: 9999px 0 0 0 #fff
    }
    100% {
        box-shadow: 9999px 15px 0 0 rgba(152,128,255,0)
    }
}
@keyframes dot-falling {
    0% {
        box-shadow: 9999px -15px 0 0 rgba(152,128,255,0)
    }
    25%,50%,75% {
        box-shadow: 9999px 0 0 0 #fff
    }
    100% {
        box-shadow: 9999px 15px 0 0 rgba(152,128,255,0)
    }
}
@-webkit-keyframes dot-falling-before {
    0% {
        box-shadow: 9984px -15px 0 0 rgba(152,128,255,0)
    }
    25%,50%,75% {
        box-shadow: 9984px 0 0 0 #fff
    }
    100% {
        box-shadow: 9984px 15px 0 0 rgba(152,128,255,0)
    }
}
@keyframes dot-falling-before {
    0% {
        box-shadow: 9984px -15px 0 0 rgba(152,128,255,0)
    }
    25%,50%,75% {
        box-shadow: 9984px 0 0 0 #fff
    }
    100% {
        box-shadow: 9984px 15px 0 0 rgba(152,128,255,0)
    }
}
@-webkit-keyframes dot-falling-after {
    0% {
        box-shadow: 10014px -15px 0 0 rgba(152,128,255,0)
    }
    25%,50%,75% {
        box-shadow: 10014px 0 0 0 #fff
    }
    100% {
        box-shadow: 10014px 15px 0 0 rgba(152,128,255,0)
    }
}
@keyframes dot-falling-after {
    0% {
        box-shadow: 10014px -15px 0 0 rgba(152,128,255,0)
    }
    25%,50%,75% {
        box-shadow: 10014px 0 0 0 #fff
    }
    100% {
        box-shadow: 10014px 15px 0 0 rgba(152,128,255,0)
    }
}
.loader {
    border: 5px solid var(--color-primary);
    border-radius: 50%;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    top: 15px;
    right: 15px;
    z-index: 999;
    animation: spin 1s cubic-bezier(.4,0,.2,1)infinite;
    position: absolute;
    width: 150px;
    height: 150px
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}
.scale-in-center {
    display: inline-block;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(.25,.46,.45,.94) both;
    animation: scale-in-center 0.5s cubic-bezier(.25,.46,.45,.94) both
}
