.mr-header{
    width:100%;
    float:left;
    padding:15px;
}
.mr-content {
    width: 100%;
    float: left;
    padding: 0px 15px 15px 15px;
}
.op-marketing {
    width: 100%;
    float: left;
    padding-bottom:15px;
}
.mr-header-l{
    width:220px ;
    float:left;
}
.mr-header-r{
    width:calc(100% - 220px);
    float:left;
    padding-left:15px;
}
.mr-header-l .nav-marketing li {
    width: 100%;
    float: left;
    padding: 5px;
}
.mr-header-l .nav-marketing li a {
  border: 1px solid #ccc;
}
.mr-header-l .nav-marketing li.active a {
 color:white;
 background:var(--color-main) !important
}
.mr-header-l .nav-marketing li:hover a {
 color:white;
 background:var(--color-main) !important
}
.mr-header-l .pull-left.title {
    text-align: center;
    width: 100%;
}
.mr-option-bor {
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0px 5px 0px;
    padding: 15px;
    width: 100%;
}
.mr-optin-title{
    margin-bottom:15px;
}
.mr-optin-title .title {
    margin: 0px;
}
.mr-optin-title {
    width: 100%;
    font-size: 14px;
}
.mr-optin-5 .title {
    margin: 0px;
    font-size: 14px;
}
.mr-optin-5 
{
    margin-top:5px;
    margin-bottom:5px;
}
    .mr-optin-5 .mr-option-bor-5 {
        float: left;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 15px;
        width: calc(50% - 5px);
        position: relative;
    }
        .mr-optin-5 .mr-option-bor-5:first-child {
            width: 440px;
        }
    .mr-optin-5 .mr-option-bor-5:last-child {
      width: calc(100% - 445px);
    }
    .mr-optin-5 .mr-option-bor-5:last-child {
        margin-left: 5px;
    }
.mr-option-char {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.mr-ct-optinform {
    width: calc(100% - 415px);
    float: left;
    padding-right: 15px;
}
.mr-ct-view {
    width: 400px;
    float: left;
    position:relative
}
.mr-optin-table{
    width:100%;
    margin-top:15px;
    margin-bottom:15px;
    float:left;
    overflow:auto
}
    .mr-optin-table table tbody tr td {
        border-top:none;
        border-bottom: 1px solid #ccc;
    }
.fa-toggle-on {
    font-size: 22px;
    color: var(--color-main);
}
.fa-toggle-off {
    font-size: 22px;
    color: #ccc;
}
.fa-times{
    color:red
}
.td-event i{
    margin-right:5px;
}
.mr-ct-view .icon-view-full {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ccc;
}
.highcharts-credits{
    display:none
}
.drop-date-ranger {
    right: 5px;
    top: 9px;
    width: 100%;
    float: right
}
    .drop-date-ranger input {
        width: 160px;
        float: right;
        border: none;
        outline: none;
        box-shadow: none;
        color: #337ab7;
        padding: 0px;
        text-align: right;
        padding-right: 8px;
    }
    .drop-date-ranger i {
        width: 10px;
        /* position: absolute; */
        /* right: 27px; */
        /* top: 21px; */
        margin-top: 5px;
        float: right;
        font-size: 16px;
        color: #337ab7;
    }
.drop-date-ranger input:focus, .drop-date-ranger input:active {
    outline: none !important;
    box-shadow: none;
}
.mr-optin-title .title{
    font-size:14px;
}
.tab-b1-head-title {
    float: left;
    color: var(--color-main);
    width: calc(100% - 200px);
    font-weight: bold;
    font-size: 14px;
}
.tab-b1-head-select{
    float:right;
    width:200px;
}
.tab-add-optinform-l {
    width: calc(100% - 430px);
    float: left;
    margin-right: 30px;
    line-height: 30px;
}
.tab-add-optinform-r {
    width: 400px;
    float: left;
    line-height: 30px;
}
.tab-Steps {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid var(--color-main)
}
.table-2n table tbody tr:nth-child(2n) {
    background: #e6f5fa !important;
    border:none !important;
    font-size:12px !important;
}
.table-2n table tbody tr td {
    border: none !important;
    font-size: 1rem !important;
}
.footer-optionform{
    margin-top:15px;
    margin-bottom:50px;
}
.img-choose {
    width: 125px;
    border: 1px solid #ccc;
    height: 95px;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
    .img-choose i {
        font-size: 34px;
        color: #ccc;
    }
.magin-top-30{
    margin-top:30px;
}
.tab-b2-form label{
    font-weight:bold;
    width:100%
}
.tab-b2-form p {
    color: #929497;
    margin-bottom: 5px;
}
.tab-b2-form input, .tab-b2-form textarea{
    width:100%;
}
.tab-b2-form {
    width:100%;
    float:left;
    margin-bottom:15px;
}
    .tab-b2-form textarea::-webkit-input-placeholder {
        color: #ccc;
    }
.b2-view-s1, .b2-view-s2 {
    width: 100%;
    height: 113px;
    background: white;
    box-shadow: 0px 0px 20px 3px #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    position:relative
}
    .b2-view-s1 label {
        color: #ff6363;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        padding: 10px;
        padding-left: 22px;
        padding-top: 15px;
    }
    .b2-view-s1 span, .b2-view-s2 span {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px;
        padding-left: 22px;
    }
.b2-view-s2 label {
    color: var(--color-main);
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    padding-left: 22px;
    padding-top: 15px;
}
    .b2-view-s2 .optin-close-popup, .b2-view-s1 .optin-close-popup {
        position: absolute;
        top: 15px;
        right: 21px;
    }
    .b2-view-s2 .optin-close-popup i, .b2-view-s1 .optin-close-popup i{
       color:#ccc;
       font-size:22px;
    }
.ma-nhung{
    width:100%;
    height:250px;
    border:1px solid #ccc;
    border-radius:4px;
    position:relative;
    padding:10px;
    padding-bottom:30px;
}
.tab-Steps {
    padding-left: 15px;
    padding-right: 15px;
}
.tab-Steps3 {
    padding-left: 20px;
    padding-right: 20px;
}
.check-hieu-luc:after {
    content: "\f204";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #ccc;
    font-size: 22px;
}
.check-hieu-luc:checked:after {
    content: "\f205";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: var(--color-main);
    font-size: 22px;
}
.check-hieu-luc {
    width: 0px !important;
    position: absolute;
    top: -8px;
    right: 30px;
}
.height-100 {
    height: 100%;
    margin: 0px !important;
}
.check-hieu-luc-option {
    width: 0px !important;
}
    .check-hieu-luc-option:checked:after {
        content: "\f205";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: var(--color-main);
        font-size: 20px;
        margin-left: -10px ;
    }
    .check-hieu-luc-option:after {
        content: "\f204";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: #ccc;
        font-size: 20px;
        margin-left: -10px;
    }
.vew-screen-full{
    background:white
}
.mr-header-l .nav-marketing li a {
    text-align: left;
    border: none;
    background: #e6e7e8
}
.mr-header-l .nav-marketing li.active a {
    background: white !important;
    color: var(--color-main) !important;
    border: 1px solid var(--color-main);
    border-right: 5px solid var(--color-main);
}
.mr-header-l .nav-marketing li {
    padding-right: 0px;
    margin-left: 0px;
}
.mr-header-r {
    padding-left: 0px;
}
/*#_table-b1 .form-check-left input[type=checkbox] {
    position: absolute;
    left: 36px;
    top: 15px;
}*/
/*#_table-b1 tbody tr:nth-child(2n) td input[type=checkbox]:after, #_table-b1 tbody tr:nth-child(2n) td textarea {
    background: #e6f5fa !important
}*/
.view-full-scren {
    position: absolute;
    top: -15px;
    right: -20px;
}
    .view-full-scren i {
        font-size: 18px;
        color: #ccc
    }
._table-paramaster {
    margin-top: 20px;
}
.tab-b2-form .b2-date:last-child {
    width: calc(50% -5px);
    float: left;
    padding-left: 5px;
}
.b2-date {
    width: 50%;
    padding-left: 0px;
}
    .b2-date .form-group label {
        font-weight: 400;
        color: #929497;
        width: 80px !important;
    }
    .b2-date .form-group .form-news {
        font-weight: 400;
        color: #929497;
        width: calc(100% - 80px) !important;
    }
._btn-dl {
    position: absolute;
    bottom: 15px;
    right: 15px
}
._tab-ttt {
    background: #eeebdf;
    padding: 10px;
}
.b3-select-nv ._label {
    width: 100px;
    float: left;
}
._action-nv {
    width: 160px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
    ._action-nv .choose-person {
        background: white;
        padding-left: 10px;
        padding-right: 10px;
    }
.b3-select-nv ._select-user {
    width: 260px;
    float: left;
}
    .b3-select-nv ._select-user p i {
        margin-right: 10px;
    }
._thong-tin-them {
    color: #929497;
}
._text-ma-nhung {
    color: #929497;
}
._tex-goi-y {
    resize: vertical;
}
#view-optin, #view-optin1 {
    background: white;
    height: auto
}
.tab-ot-lien-he-l {
    width: calc(100% - 600px);
}
.tab-ot-lien-he-r {
    width: 565px;
}
.lich-hen-otinform {
    width: 530px;
    overflow: auto;
}
.view-full-optin-lh {
    height: 100%;
    width: 1050px;
    margin: 0px auto;
}
.scroll-view{
    overflow:auto
}
.lich-hen-otinform .content-optin-lh {
    width: 1000px;
    margin: 0px auto;
}
.view-full-optin-lh .op-lich-hen-content {
    padding-top:0px;
}
.xungho-enable select{
    display:none;
}
.xungho-enable input {
    margin-left: 200px !important;
}
._btn-chooose-img {
    margin-top: -25px;
    padding: 5px;
    margin-left: 135px;
    background: #46cce1;
    border-radius: 4px;
}
._list-paramester {
    width: 100%;
    float: left;
    padding-right: 20px;
}
._cobobox .selec-person {
    width: 100%;
    max-height: 250px;
    overflow: auto
}
._cobobox .choose-person {
    padding-left: 5px;
    padding-right: 5px;
    min-height: 30px;
}
.note-optin i {
    position: absolute;
    right: -18px;
}
.note-title {
    padding: 5px;
    border: 1px solid var(--color-main);
    border-radius: 4px;
    position: absolute;
    width: 200px;
    right: -20px;
    background: white;
    z-index: 999;
    top: 30px;
    display: none
}
    .note-title:before {
        content: "\f0d8";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: var(--color-main);
        font-size: 24px;
        position: absolute;
        right: 3px;
        top: -21px;
    }
.radio-button-leff form input:last-child {
    padding-left: 30px;
}
._table-paramaster-view {
    margin-top: 20px;
}
.detail-img
{
    width:210px;
    float:left;
    margin-top:15px;
}
.detail-profile {
    width: calc(100% - 210px);
    float: left;
    margin-top: 15px;
}
.detail-img .images-optin {
    width: 100px;
    height: 100px;
    border: 1px dotted #ccc;
    margin: 0px auto;
    margin-top: 60px;
}
.list-tab-detail-optin .form-group{
    border-bottom:1px solid #ccc;
}
.list-tab-detail-optin .form-group label {
    font-weight:400;
}
.tr-active {
    border-left: 1px solid var(--color-main) !important;
}
    .tr-active td {
        background: #efecdf;
        border-top: 1px solid var(--color-main) !important;
    }
/*.op-tr-hide .op-td {
    border-bottom: 1px solid var(--color-main) !important;
    border-top: 0px !important;
    font-size: 1rem !important;
}*/
.op-tr-hide {
    background: white;
    display: none;
    border-left: 1px solid var(--color-main);
}
.op-tr-hide:hover td {
    background: white !important;
}
.thead-boder tr th{
    border-bottom:none !important;
    padding:9px !important;
}
.thead-boder tr th:last-child{
    padding-right:0px;
}
.tab-width-optin  .nav-tabs li a {
    padding: 10px 10px;
}
.form-xu-ly-lich-hen .form-group{
    border-bottom:1px solid #ccc;
}
.form-xu-ly-lich-hen h4 {
    margin-top: 0px;
    color: var(--color-main);
    font-weight: bold;
    font-size: 16px;
}
.form-xu-ly-lich-hen .form-group .chi-tiet-lh {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-main);
    margin-bottom: 0px;
}
.form-xu-ly-lich-hen .col-md-6 {
    padding-left: 20px;
    padding-right: 20px;
}
.form-xu-ly-lich-hen h4 a i{
    margin-left: 5px;
    font-size: 15px;
}
.form-chi-tiet-cv .uu-tien-cao {
    width: 45px;
    border-radius: 4px;
    background: #ff6b77;
    height: 20px;
    margin-right: 5px
}
.form-chi-tiet-cv .uu-tien-tb {
    width: 45px;
    border-radius: 4px;
    background: #28a745;
    height: 20px;
    margin-right:5px
}
.form-chi-tiet-cv .uu-tien-thap {
    width: 45px;
    border-radius: 4px;
    background: #ecb202;
    height: 20px;
    margin-right: 5px
}
.form-chi-tiet-cv h4 {
    margin-top: -5px;
    padding-left: 15px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-main);
}
.waring-phone {
    padding-left: 15px;
    color: red;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 20px;
}
.filter-muc-do a div{
    float:left
}
.filter-muc-do a span {
    float: left;
    padding-left: 10px;
    color: #333;
    line-height: 25px;
}
.filter-muc-do a.active span {
    color: var(--color-main);
    font-weight:bold
}
.filter-muc-do a.active div {
    box-shadow: 2px 2px 2px 0px #464646
}
.filter-muc-do li {
    margin-bottom: 5px;
}
.filter-muc-do li:last-child {
    margin-bottom: 0px;
}
.add-new-muc-do li {
    width: 86px;
    float: left;
    text-align: center;
}
.add-new-muc-do li  a{
    color: #333;
    line-height: 25px;
}
    .add-new-muc-do li a div {
        margin: auto;
    }
.add-new-muc-do a.active span {
    color: var(--color-main);
    font-weight: bold;
    font-size: 14px;
}
.add-new-muc-do a.active div {
    box-shadow: 2px 2px 2px 0px var(--color-primary)
}
.a-upload-file {
    color: white;
    background: var(--color-main);
    padding: 7px 15px 7px 10px;
}
    .a-upload-file i {
        margin-right: 5px;
    }
    .a-upload-file:hover {
        color: white !important;
        background: var(--color-main) !important;
    }
.tab-list-kq-cv li a img {
    width: 40px;
}
.form-2input input[type=number]{
    width:100px;
    float:left;
}
.form-2input select {
    width: calc(100% - 120px);
    float: left;
  margin-left:20px;
}
.nn-thong-tin-lap-lai {
    border: 1px solid var(--color-main);
    padding: 20px;
    border-radius: 4px;
    margin-top: 5px;
}
    .nn-thong-tin-lap-lai:before {
        content: "\f0de";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: var(--color-main);
        position: absolute;
        top: -19px;
        font-size: 30px;
        left:53px;
    }
    .nn-thong-tin-lap-lai:after {
        content: "\f0de";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: white;
        position: absolute;
        top: -15px;
        font-size: 26px;
        left: 54px;
    }
.form-ket-thuc .menuRadio {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}
.form-input-text span {
    position: absolute;
    top: 0px;
    right: 15px;
    color: #999;
}
.form-input-text input {
    padding-right: 40px;
}
.calender-option-tuan ul li {
    width: auto;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    margin-right: 5px;
}
    .calender-option-tuan ul li.active {
        color: #ffffff;
        font-weight: bold;
        border: none;
        background: var(--color-main);
        border-radius: 15px;
    }
.option-chu-ky .form-group {
    margin-top: 10px;
    margin-bottom:10px;
}
.check-gui-mail{
    width:0px;
    padding-left:10px;
}
.check-gui-mail:after {
    content: none !important;
}
.check-gui-mail:checked:after {
    content: none !important;
}
    .check-gui-mail:before {
        content: "\f204";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #ccc;
        font-size: 22px;
        margin-left: 10px;
        line-height: 18px;
    }
    .check-gui-mail:checked:before {
        content: "\f205";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: var(--color-main);
        font-size: 22px;
        margin-left: 10px;
        line-height: 18px;
    }
.form-xu-ly-lich-hen .form-group .checkbox-modal {
    position: absolute;
    right: 0px;
    top: 0px;
}
.fc-view {
    min-width: 750px;
}
@media(max-width:1700px) {
    .tab-width-optin {
        width: 1300px;
    }
}
@media(max-width:1369px){
}
@media (max-width: 1025px) {
}
@media (max-width:425px){
    .header-filter{
        margin:5px 0 0 0
    }
    #gridCalendar > div > div {
        padding: 0 !important
    }
    #divPage{
        overflow:hidden;
    }
    /*.txtCongViecThemMoi {
        position: fixed;
        bottom: 10px;
        right: 10px;
        height: 50px;
        width: 120px;
        border-radius: 25px;
        z-index: 999;
        border: 3px solid white;
    }*/
    .txtCongViecThemMoi font{
        display:inline-block;
    }
    .title, h2 {
        font-size: 18px;
    }
    /*.fc-slats table tbody tr td:nth-child(1) {
        position: sticky;
        left: 0
    }*/
    .btnExport {
        display: none;
    }
    .fc-agendaDay-view {
        min-width: 95vw !important;
    }
    /*.input-search-filter {
        width: calc(100% - 180px);
    }*/
    }
@media(max-width:768px){
    .op-filter .op-filter-body{
        height:85vh;
    }
    .event-hover {
        display: none;
    }
    .btn.today{
        padding:4px 7px !important;
    }
    hmtl{
        overflow-x:hidden
    }
}
.fc-widget-header {
    max-height: 550px;
}
    .fc-widget-header > table:not(.calendar) {
        width: 100%;
        display: table;
        overflow: scroll;
    }
    .fc-widget-header > table > thead {
        position: relative;
        z-index: 999;
        top: 0;
        display: table-row-group;
    }
        .fc-widget-header > table > thead > tr {
            position: sticky;
            display: table-row;
        }
            .fc-widget-header > table > thead > tr > th {
                display: table-cell;
                position: sticky !important;
                top: 0;
                z-index: 9;
            }
.fc-scroller:not(.fc-day-grid-container) {
    min-height: 50vh;
    max-height: 500px;
}