body {
}
.op-tr-hide:hover td, .op-tr-hide:hover {
    background: white !important;
}

.op-tr-hide {
    background: white;
    display: none;
    border-left: 1px solid var(--color-main);
}
    .op-tr-hide .op-td {
        border-bottom: 1px solid var(--color-main) !important;
        border-left: 1px solid var(--color-main) !important;
        border-right: 1px solid var(--color-main) !important;
        border-top: 0px !important;
        font-size: 1rem !important;
    }

.op-form-ca-lam-viec {
    width: 100%;
    float: left;
    border-bottom: 1px solid #cccc;
}

    .op-form-ca-lam-viec label {
        width: 270px;
        float: left;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 30px;
    }

    .op-form-ca-lam-viec span {
        line-height: 30px !important;
        margin: 0 15px;
    }

    .op-form-ca-lam-viec font {
        color: var(--color-main);
        padding-left: 15px;
    }

    .op-form-ca-lam-viec .op-group-content .ca-den{
        order: 1;
    }
    .op-form-ca-lam-viec .op-group-content {
        width: calc(100% - 270px);
        display: flex;
        flex-wrap: wrap;
    }

.tr-chi-tiet-ca h5 {
    font-weight: bold;
    margin-top: 0px;
    padding: 10px;
    background: #d6f1f0;
}

.op-form-group label {
    width: 130px;
    float: left;
    font-weight: 400
}

.op-form-group {
    width: 100%;
    float: left;
    border-bottom: 1px solid #cccc
}

    .op-form-group .op-group-content {
        width: calc(100% - 130px);
        float: left;
    }

.form-thiet-lap-gio .tlg-title {
    width: 300px !important;
    float: left;
}

.form-thiet-lap-gio .tlg-content {
    width: calc(100% - 300px);
    float: left;
}
 .form-group{
    width:100%;
    float:left;
}
.modal-tab-1000 {
    width: 1000px
}
.ttc-right .ttc-right-label{
    width:200px !important; 
    float:left;
}
.ttc-right .ttc-right-content {
    width: calc(100% - 200px) !important;
    float: left;
}
.ttc-right-content .form-group label {
    width:30px !important;
    float: left;
}
.ttc-right-content .form-group .form-news {
    width: calc(100% - 30px) !important;
    float: left;
}
.tlg-content .form-group label {
    width: 60px !important;
    float: left;
}
.tlg-content .form-group .form-news {
    width: calc(100% - 60px ) !important;
    float: left;
}
.tr-active  {
    border-left: 1px solid var(--color-main) !important;
}
    .tr-active td {
        background: #efecdf;
        border-top: 1px solid var(--color-main) !important;
    }
.tr-chi-tiet-ca-left .op-form-ca-lam-viec label {
    width: 190px;
}
.tr-chi-tiet-ca-left .op-form-ca-lam-viec .op-group-content {
    width: calc(100% - 190px);
}
.form-width-80 label{
    width:80px;
    font-weight:400;

}
.form-width-80 .form-news {
    width: calc(100% - 80px);
}
.op-table tr th, .op-table tr td {
    font-size: 1rem !important;
}
.ctc-width {
    width:36%;
}
.ctc-width-ghi-chu {
    width: 28%;
}
.filter-option {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px
}

    .filter-option i {
        position: absolute;
        top: 1px;
        right: 1px;
        padding-top: 9px;
        width: 32px;
        padding-left: 10px;
        height: 28px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #d6eef7;
        color: #58595b;
    }

.menuRadio-news {
    padding-left: 15px;
}

.table-border tr th {
    padding: 7px !important;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.or-tr {
    background: #efecdf !important;
}

.bl-tr {
    background: #c6e9f4 !important;
}

.table-border-detail tr th {
    border: 1px solid white !important;
    padding: 5px !important;
}

.bo-loc-ca {
    width: 340px;
    float: right;
    position: absolute;
    top: 10px;
    right: 0px;
}

.form-loc {
    width: 170px;
    float: left;
}

    .form-loc label {
        width: 50px;
        float: left;
        line-height: 30px;
    }

    .form-loc select {
        width: 100px;
        float: left
    }
.table-scroll{
    width:100%;
    overflow:auto;
}

.form-group-check-news {
    position: relative;
}

    /*.form-group-check-news input[type=checkbox] {
        margin-right: 5px;
    }*/

        /*.form-group-check-news input[type=checkbox]:after {
            border: 1px solid #808285;
        }*/

        /*.form-group-check-news input[type=checkbox]:checked:after {
            border: 1px solid var(--color-main);
        }*/
/* thêm mới phân ca */
.tab-chi-tiet-ca {
    width: 100%;
    float: left;
    position: relative;
}

.ctc-30 {
    width: 260px;
    float: left;
}
.ctc-10 {
    width: 124px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.ctc-40 {
    width: calc(50% - 65px);
    float: left;
    padding-bottom: 10px;
}
.ctc-12 {
    width: 100%;
    padding-left: 0px;
    float: left;
    padding-bottom: 10px;
}
.model-phan-ca {
    width: 1024px;
}
.ctc-70 {
    width: calc(100% - 260px);
    padding-left: 0px;
    float: left;
    padding-left: 15px;
    padding-bottom: 10px;
}

.tr-check input[type="checkbox"] {
    font-size: 0px;
    margin-left: 4px;
    width: 0px;
}
    .tr-check input[type="checkbox"]:after {
        left: 14px;
    }
    .tr-check input[type="checkbox"]:checked:after {
        left: 14px;
    }
.table-select{
    margin-bottom:15px;
}
.table-view .seach-lot i {
    position: absolute;
    top: 8px;
    font-size: 14px;
    left: 8px;
    color: #928f8f;
}
.table-view .seach-lot input {
    padding-left: 30px;
}
.table-view .seach-lot  {
    width:300px;
}
 .fa-times {
    color: red
}
.sp-ca {
    padding: 5px 25px 5px 5px;
    background: #b2dfed;
    position: relative;
    margin: 1px;
    float: left;
}
    .sp-ca i{
        position: absolute;
        right: 5px;
        top: 2px;
    }
.table-select tr td .list-ca {
    max-width: 140px;
}
.table-select tr th,.table-view tr th{
    padding:6px !important;
}
.modalthemmoiphanca .modal-body {
   max-height : 640px;
    overflow: auto;
}
.ctc-ca-thang .bo-loc-ca {
    float: left;
    position: inherit;
    margin-bottom: 8px;
}
.list-ca-co-dinh {
    width: 100%;
    float: left;
    margin-bottom: 8px;
    /*border-bottom: 1px solid #cccc;*/
}
.list-ca-co-dinh label{
    width:100px;
    float:left;
}
.list-ca-co-dinh .form-list-ca{
    width:calc(100% - 100px);
    float:left;
}
.modal-remove .modal-header {
    background:white;
}
    .modal-remove .modal-body .close {
        color: black;
    }
    .modal-remove .modal-body {
        text-align:center;
    }
        .modal-remove .modal-body h4 {
            color: #ff6464;
            font-weight: bold
        }
        .modal-remove .modal-body p {
            font-weight:bold
        }
.modal-remove .modal-button {
    margin: 30px 15px 15px 15px;
}
.menuCheckboxnews ul li  input[type="checkbox"] {
   margin-right:4px;
}
.droup-ca {
    background: white;
    float: left;
    position: inherit;
    width: 120px;
    top: 48px;
    max-height: 110px;
    overflow: auto;
    border: 1px solid #ccc;
    z-index: 2;
}


    .droup-ca li  a {
      color:black
    }
    .droup-ca .group-p1 {
      text-align:left
    }
    .droup-ca li:hover  {
        background: #b2dfed !important
    }
    .droup-ca li:hover a {
        background: #b2dfed !important
    }
.table-select tr th {
    min-width:180px;
}
._tb-nhan-vien tbody tr:nth-child(2n) {
    background: #efecdf !important;
}
.tab-news-modal .nav-tabs li a {
    padding: 10px 15px;
    font-size: 1rem;
}

.modal-edit-calamviec{
    width:940px;
}
._editca-l{
    width:46%;
    float:left;
}
._editca-r {
    width: 54%;
    float: left;
    padding-left:30px;
}
.table-border tr th i {
    padding-left: 5px;
}
.title-inport a {
    float: none !important
}
.error-import {
    color: red;
    padding-top: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align:center;
    width: 100%;
    float: left;
}
.open .dropdown-list{
    display:block;
}
.form-news input[type=text]{
    width:100%;
    float:left;

}
.modal-body .outselect ul li{
    float:left;
}
.selec-person {
    min-width:177px;
    width:100%;
}
.list-page {
    padding-right: 0px !important;
}
.a-disable, .a-disable :hover{
    color: #bdbdbd !important;
}
.tree-chiet-khau li a {
    position: relative;
    width: 100%;
    color: black;
    float: left;
}

.tree-chiet-khau-new li a {
    position: relative;
    width: calc(100% - 10px);
    color: black;
    float: right;
}

.tree-chiet-khau li .icon-tree-li {
    position: absolute;
    top: 7px;
    left: 0px;
    color: var(--color-main);
}

.tree-chiet-khau li .treename {
    padding-left: 10px;
}
.tree-chiet-khau-new li .treename {
    padding-left: 0px !important;
}
.tree-chiet-khau ul {
    padding-left: 10px;
}

/*._td-check-box input[type=checkbox]:after {
    left: 9px;
}*/

/*._td-check-box input[type=checkbox]:checked:after {
    left: 9px;
}*/

#treeviewHoaHong, #_nhanvienchietkhau .popup-chiet-khau {
    max-height: 250px;
    overflow: auto;
}

/*.add-icon-date:after {
    right: 20px;
    top: 13px;
}*/

.header-dv {
    margin-bottom: 10px;
}

._form-ck-label .form-group label {
    width: 100px;
}

._form-ck-label .form-group .form-news {
    width: calc(100% - 100px);
}

._form-ck-label ul .li-input-span {
    width: auto;
    float: left;
}

.search-img-user button {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 36px;
    float: right;
    height: 30px;
    background: var(--color-button);
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: white;
}

.search-img-user {
    margin-bottom: 12px;
}

.list-select-nv {
    max-height: 200px;
    overflow: auto;
}
.treename {
    line-height: 30px;
    width: 100%;
    float: left;
    color: black;
}

    .treename a {
        padding-left: 10px;
        color: black;
    }

.treename.acpb{
    color:var(--color-main);
}
.ul-cai-dat-hoa-hong-r li p, .ul-nhan-vien-ap-dung li p {
    margin: 0pc;
    font-weight: bold;
    padding-right: 15px;
}
.chi-tiet-phieu-r h5, .chi-tiet-phieu-l h5 {
    color: var(--color-main);
    font-weight: bold;
}
.chi-tiet-phieu-r{
    width:65%;
    padding-left:30px;
    float:left;
}
.chi-tiet-phieu-l {
    width: 35%;
    float: left;
    padding-left:15px;
}
.td-chi-tiet-ca-row, .td-chi-tiet-ca-row:hover, .table-hover tbody tr:hover td.td-chi-tiet-ca-row {
    background: #efecdf !important;
    font-weight: bold;
}
.td-icon-edit a i {
    font-size: 16px;
    margin-right: 5px;
}
.td-icon-edit {
    text-align: right;
    width: 50px;
}
.check-fa-toggle:before {
    content: "\f204";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 24px;
   
}
.check-fa-toggle:checked:before {
    content: "\f205";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 24px;
    color: var(--color-main);
}
.check-fa-toggle:after{
    content:none;
    display:none !important;
}
.check-fa-toggle {
    width: 0px;
    margin: 0px !important;
    line-height: 15px !important;
    margin-right: 31px !important;
}
.popup-cham-cong {
    width: 450px;
    position: absolute;
    top: 46px;
    padding: 10px;
    border: 1px solid var(--color-main) !important;
    background: white;
    z-index: 2;
    left: 8%;
    border-radius: 5px;
}
.popup-cham-cong label{
        width: 110px;
}
.popup-cham-cong .form-news{
        width: calc(100% - 110px);
}
._input-number {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 6px;
    outline: none;
    padding-right: 30px;
    text-align: right
}
.popup-cc-form {
    width: 50%;
    padding: 10px;
    float: left;
}
.span-note-input {
    position: absolute;
    right: 0px;
    color: #999;
    top: -3px;
    font-size: 1rem;
}
.popup-cham-cong.callprice::before {
    right: 170px;
}
.popup-cham-cong.callprice::after {
    right: 172px;
}
.select-number {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
}
.form-news input[type=number] {
    width: 100%;
    float: left;
}
.p-title-chi-tiet-cong {
    font-size: 14px;
    color: var(--color-main);
    margin-top: 15px;
}
.tr-hide-chi-tiet-cong{
    padding:0px 15px 15px 15px;
}
.height400{
    max-height:400px;
    overflow:auto
}
.tab-detail-bang-luong{
    padding:15px;
}
.table-grid-detail{
    margin-bottom:15px;
}
.height450{
    max-height:450px; overflow:auto
}
.ft-select-trang-thai ul li input{
    width:0px !important;

}
.ft-select-trang-thai ul li {
    padding-left:18px;
}
.col-pop-100 .col-pop-50{
    width:50%;
    float:left;
}
.col-pop-100 .col-pop-50:first-child{
    padding-right:10px;
}
    .col-pop-100 .col-pop-50:last-child {
        padding-left: 10px;
    }