.showchilds, .hidechilds, .pointer{
    cursor:pointer;
}
.list-permission.list-permission1 > h5{
    cursor:pointer
}
.op-object-detail{
    transition: var(--trans);
    width: 100% !important;
    border: none;
}
.list-permission.sort input {
    display: none;
}

    .list-permission.sort input + span {
        display: none;
    }

    .list-permission.sort input + span {
        display: none;
    }

    .list-permission.sort input:checked + span {
        display: inline-block;
    }

.list-permission.sort + a > i {
    display: none
}

.tab-progress  a {
    height: 30px;
    padding: 7px;
    vertical-align: super;
}

.user-status {
    font-style: italic;
    position: relative;
    display: inline-block;
    color: #686868;
}

.paging a {
    display: inline-block
}

.paging {
    width: 100%;
    height: 30px;
    padding: 7px;
    text-align: center;
    background: rgba(0,0,0,0.05);
}

.showallprop {
    max-height: unset !important;
    overflow: visible !important;
    overflow-x: hidden;
}

.col3.opened {
    float: right;
}

.active-chinhanh {
    background: var(--color-secondary ) !important;
    /* border-color: white; */
    /* color: white; */
}

.floatleft .listparent {
    display: block;
}

.permission-left {
    border: none;
    border-radius: 5px;
    height: inherit;
    background: #D9EAF2;
}

.permission-choose {
    max-height: unset;
    overflow: scroll;
    overflow-x: hidden;
}

.main-role-view {
    max-height: calc(100vh - 172px);
}

.seach-permission i {
    position: absolute;
    top: 6px;
    font-size: 15px;
    left: 10px;
    color: #8a8787;
}

.seach-permission input {
    padding-left: 30px;
}

.select-brand select {
    width: calc(100% - 70px);
    
    background: none;
    margin: 0;
}

ul.brand-list {
    position: absolute;
    z-index: 2;
    background: white;
    top: 30px;
    right: 5px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 120px;
}

.select-brand {
    padding: 5px;
    position: relative;
   
    border-radius: 3px;
    border-bottom: 1px dashed #ccc;
}

    .select-brand:nth-child(2n+1) {
        background: rgba(0,0,0,0.05)
    }

.user-content-left {
    width: 250px;
    display: inline-block;
    float: left;
    height: inherit;
    /*box-shadow: 3px 3px 6px rgba(0,0,0,0.15);*/
    z-index: 1;
}

.user-content-left, .user-content-right {
    position: relative;
}

    

    .user-content-right h5 {
        height: 22px;
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0 0;
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        padding: 3px 0;
    }

   

    .user-content-right span:not(.notcheck)::before {
        content: 'check';
        font-family: material icons;
        font-size: 18px;
        vertical-align: sub;
        color: var(--color-primary);
        margin-right: 5px;
        font-weight: bold;
    }

#close_all {
    position: absolute;
    top: -10px;
    right: -12px;
    z-index: 99999;
    background: none;
    color: red;
    background: white;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    height: 30px;
    width: 30px;
    box-shadow: -3px 3px 3px rgba(0,0,0,0.2);
    border: none;
    outline: none;
    opacity: 0.5
}

.select-brand:hover {
    background: rgba(0,0,0,0.05)
}

.main-role-view::-webkit-scrollbar {
    width: 3px;
}

.main-role-view::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1)
}

.user-content-right {
    width: calc(100% - 250px);
    display: inline-block;
    float: left;
    height: inherit;
    background: none;
    padding: 0 10px;
    z-index: 2;
    overflow: visible;
}
.user-content-row {
    position: relative;
    padding: 7px 7px 0 7px;
    min-height: 20px;
    width: 250px;
    border-bottom: 1px solid #ccc;
}

    .user-content-row:nth-child(1) {
        border-bottom: none
    }
.avatar-user {
    height: 150px;
    width: 175px;
    object-fit: scale-down;
    display: inline-block;
    border: 1px dashed #ccc;
    border-radius: 5px;
}

.avatar-button-user {
    position: absolute;
    display:none;
    top: 7px;
    right: 0;
    opacity: 0.5;
}

#dummy-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.col-right {
    width: calc(100% - 230px);
    display: inline-block;
    padding: 0 0 0 15px;
    position: sticky;
    top: 0;
    float: right;
}

.user-detail {
    position: relative;
    top: 0;
    z-index: 99;
    left: 0;
    padding: 0 10px;
    width: 100%;
    background: white;
}

.header-name {
    text-align: center;
    font-weight: 600;
    font-size:15px;
}

.tab-switch {
    height: 30px;
}

.switch-link {
    text-align: center;
    height: 30px;
    padding: 7px 10px;
    width: 49%;
    /* margin: 0 5px; */
    background: none;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    display: inline-block;
    cursor: pointer
}

    .switch-link.active {
        background: #D3D3DB;
    }
#add_role, #add_user {
    position: absolute;
    right: 1px;
    top: 2px;
    height: 26px;
    padding: 2px;
    width: 28px;
    text-align: center;
    color: var(--color-primary);
    background: white;
    border: none !important;
}
.input-border-bottom {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
    box-shadow: none;
    padding-left: 30px;
}

#statelist {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    float: right;
}

#statelist {
    position: relative;
    width: 145px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px 0;
    float: right;
}

    #statelist li {
        padding: 5px 0 5px 10px;
        height: 25px;
    }

        #statelist li:hover {
            background: rgba(0,0,0,0.05)
        }

.input-border-bottom:focus {
    box-shadow: none
}

.user-placement, .role-placement {
    position: relative;
    padding: 5px 7px;
    height: 30px;
    border-radius: 3px;
    cursor:pointer
}

    .user-placement:hover .user-edit, .role-placement:hover .role-edit {
        display: inline-block
    }

    .user-placement:hover, .role-placement:hover {
        background: rgba(0,0,0,0.1)
    }

.user-list-left >li:hover >a{
    display:inline-block;
    cursor:pointer;
}
.user-dot {
    pointer-events: none;
    position: absolute;
    height: 7px;
    width: 7px;
    display: inline-block;
    border-radius: 50%;
    top: 13px;
    left: 7px;
    background: green;
}

#currentstate {
    float: right;
    width: auto;
    padding: 4px 10px 5px 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    line-height: 18px;
    color: black;
}

#statelist {
    position: absolute;
    width: 170px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px 0;
    float: right;
    background: white;
    right: 0;
    z-index: 2;
}

    #statelist label {
        width: 100%;
        cursor: pointer;
    }

#currentstate.droped::after {
    content: 'keyboard_arrow_up';
    font-family: material icons;
    font-size: 14px;
    float: right;
}

#currentstate::after {
    content: 'keyboard_arrow_down';
    font-family: material icons;
    font-size: 14px;
    float: right;
}

.content-holder .group-btn a {
    padding: 3px 7px;
    margin: 3px;
    background: #ff6464;
    border-radius: 3px;
    color: white;
}

.user-name {
    color: black;
    padding: 3px 0 0 14px;
    color: #686868;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
}

.user-edit, .role-edit {
    display: none;
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 14px;
    padding: 5px;
    height: 24px;
}

#user-content {
    display: none
}

.user-detail > div {
    height: calc(100vh - 85px);
}

.content-holder {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
}

.brand-list-right {
    position: absolute;
    top: 330px;
    left: -230px;
    z-index: 2;
    background: white;
    height: calc(100vh - 420px);
}

.col-left, .col-right {
    height: 100%;
}

.control-label.permission-title-left {
    height: 24px;
    padding: 3px 0;
    line-height: 18px !important;
    text-align: left;
    float: left;
}

.role-holder {
}

role-replacement {
}

.sts-label, .brand-label {
    display: inline-block;
    height: 30px;
    padding: 7px 0;
}

.select-sts {
    width: calc(100% - 70px);
    display: inline-block;
    float: right;
}

.md-16 {
    font-size: 16px
}

.user-holder, .role-holder {
    position: relative
}

#wait {
    display: none;
}

.setup-cheack.cl:after {
    content: "\2713 ";
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #32b7b3 !important;
    position: absolute;
    top: -1px;
    right: 0px;
    width: 13px;
    height: 13px;
}

.list-kv ul li {
    padding: 1px 8px;
    position: relative;
    /* border-bottom: 1px solid #ccc; */
}

.list-kv ul {
    margin-bottom: 0px;
}

.permission-title-left {
    float: left;
    width: 150px;
    margin-bottom: 0px;
    text-align: left !important;
    white-space: initial;
    height: 31px;
    cursor: pointer;
}

.permission-title-right {
    float: left;
    width: 60px !important;
    margin-bottom: 0px;
    line-height: 30px !important;
    text-align: right !important;
    padding-right: 15px;
}

.choose-kv {
    position: relative;
    border: 1px solid #bcbec0;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    padding-left: 20px;
}

.inport-kv {
    height: 100%;
}

.khup {
    position: absolute;
    right: 0;
    border-left: 1px solid #ccc;
    height: 29px;
    width: 35px;
    text-align: center;
    cursor: pointer;
    padding-top: 0;
}

.list-kv {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    border: 1px solid #00a69c;
    border-top: none;
    max-height: 180px;
    overflow: scroll;
    overflow-x: hidden;
    display: none;
    background: #fff;
    z-index: 99;
}

    .list-kv ul li {
        height: auto;
    }

.fl {
    float: left;
    width: 100% !important;
}

.role-right {
    padding-left: 4%;
}

.active-permission {
    color: #32b7b3;
}

.toggleprogress {
    color: #686868;
}

    .toggleprogress.active {
        color: var(--color-primary);
    }

.outselect > option {
    padding: 1px;
}

.check-permission {
    line-height: 30px;
}

.modal-xs {
    width: 460px;
}

.checked-righteousness {
    float: left;
}

/*.active-chinhanh {
        background-color: #d3f1f0;
    }*/
.col3 h3 {
    position: relative;
}

    .col3 h3 i {
        position: absolute;
        right: 3px;
        display: unset;
        top: 3px;
    }

.permission-left .col3 h3 {
    font-size: 14px;
    color: black;
    margin: 0;
    background: none;
    line-height: 32px;
    padding-left: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.chinhanh-vaitro {
    width: 100%;
}

    .chinhanh-vaitro li {
        width: 100%;
        float: left;
    }

.col3 {
    width: 33%;
    float: left;
    width: 33.33%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding: 10px 0 0 10px;
}

    .col3 h3 {
        font-size: 14px;
        color: black;
        margin: 0;
        background: #D3D3DB;
        line-height: 32px;
        padding-left: 10px;
        border-radius: 4px;
        font-weight: bold;
    }

.permission-choose .col3 ul {
    padding-left: 7px !important;
}

.permission-choose .col3 ul {
    padding-left: 0;
}

f
.permission-choose {
    max-height: calc(100vh - 150px);
    overflow: overlay;
}

/*.col-md-12 .list-permission input[type=checkbox]:checked:after {
    content: "\f046";
    font-family: FontAwesome;
    font-size: 18px;
    color: var(--color-main);
}*/

/*.col-md-12 .list-permission input[type=checkbox]:after {
    content: "\f096";
    font-family: FontAwesome;
    font-size: 18px;
    background: white;
    color: var(--color-main);
}*/

.col-md-12 .list-permission {
    padding-bottom: 10px;
}

.select-brand.chosen {
    background: rgba(0,0,0,0.15)
}


.user-list-left::-webkit-scrollbar {
    width: 3px;
}

.user-list-left::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.15)
}
.user-holder >i,.role-holder > i {
    position: absolute;
    top: 4px;
    color: #686868;
}
#lstNhanVien li div a {
    color: black !important;
    display: inline;
}
/*.col3 input[type=checkbox].maincheck::after {
    left: 10px !important;
  
}*/
/*.maincheck.squarevt:before {
    content: "";
    height: 8px;
    width: 8px;
    background: var(--color-main);
    position: absolute;
    top: 3px;
    z-index: 99;
    left: 3px;
}*/
@media (max-width:768px){
    .col-left {
        display: block;
        float: left;
        width: calc(100vw - 15px);
    }
    .col-right {
        display: block;
        float: right;
        width: calc(100vw - 15px);
    }
    .col3{
        width:100%;
        padding:10px 0
    }
    .user-detail {
        position: relative;
        top: 0;
        z-index: 99;
        left: 0;
        padding: 0 10px;
        width: 100%;
        background: white;
    }
    .user-content-left {
        width: 100vw;
        display: inline-block;
        float: left;
        height: auto;
        /* box-shadow: 3px 3px 6px rgba(0,0,0,0.15); */
        z-index: 1;
        margin: auto;
    }
    .user-content-right {
        width: 100%;
        display: inline-block;
        float: left;
        height: inherit;
        background: none;
        padding: 7px 15px;
        z-index: 2;
        overflow: visible;
    }
}
/*.add-permission {
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 150px);
    width: 300px;
}

    .add-permission input {
        float: left;
        height: 24px !important;
        width: 100%;
        padding: 7px;
        text-align: center;
    }
.tab-progress  {
    height: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
}
    .tab-progress  a {
        display: inline-block;
        height: 30px;
        padding: 7px;
        vertical-align: super;
        
        width:125px;
        text-align:center
    }
    .tab-progress  a.active{
        color:white
    }
    .tab-progress::before {
        content: '';
        height: 30px;
        width: 125px;
        background: var(--color-main);
        position: absolute;
        left: 7px;
        border-radius: 5px;
        z-index: -1;
        transition:left 0.4s ease
    }
    .tab-progress.tenvaitro::before {
        left: 7px
    }
    .tab-progress.chonvaitro::before{left:135px}
    .tab-progress.tomtat::before {
        left: 260px
    }
.add-permission.summary {
    position: relative;
    height: auto;
    width: 100%;
    left: 0;
}
.add-permission.summary {
    position: relative;
    height: auto;
    width: 100%;
    left: 0;
}
.add-permission .title-permision {
    text-align: center;
    font-size: 16px
}
.add-permission.summary .title-permision {
    display: inline-block;
    font-size: 1rem;
    float: left;
    height: 30px;
    padding: 12px 0 0 0;
}
.add-permission.summary input {
    display: inline-block;
    font-size: 1rem;
    width: 300px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ccc;
    pointer-events: none;
    margin-left: 15px;
    text-align: left;
    padding: 3px;
    padding-bottom: 0;
}
    .add-permission.summary button{
        display:none
    }
    .col3 h3 i.summary{
        display:none !important
    }*/
a.toggleprogress {
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
    margin: 5px;
    height: 20px;
    padding: 3px;
}
.RoleList {
    height: calc(100vh - 250px);
    overflow: auto;
}
.RoleList li{
    cursor:pointer;
    padding:7px;
    padding-left:12px;
    height:30px;
    border-bottom:1px solid #e6e6e6;

}
.RoleList li:hover{
    background:#ccc

}
.userByRole {
    display:none;
    position: absolute;
    top: 0;
    right: -164px;
    width: 150px;
    background: white;
    box-shadow: 3px 3px 6px #ccc;
    padding: 7px;
    max-height: calc(100vh - 250px);
    overflow:auto
}
    .userByRole ul li {
        padding: 5px;
        border-bottom: 1px solid #e6e6e6;
    }

    .op-role-left{
        width:300px
    }
.op-role-right {
    width:calc(100% - 300px)
}
.op-role-lvl-1 h3 {
    background: var(--color-table);
    font-size: 16px;
    padding: 3px 7px;
    margin: 0;
}
.flex.flex-column.op-role-lvl-2 {
    width: 275px;
    min-width: calc(50% - 10px);
    margin: 3px;
    border-radius: 4px;
    background: white;
}

ul {
}

.op-main-role.op-role-lvl-1 ul {
    flex-wrap: wrap;
}
.op-main-role.op-role-lvl-1 {
    border: 1px solid #ccc;
    margin: 5px;
}
.op-main-role h3 > button > i {
    font-size: 18px;
    font-weight: bold;
}
li.flex.flex-column.op-role-lvl-2 h4 button {
    height: inherit;
    display: flex;
    align-items: center;
    width: 30px;
    padding: 1px !important;
}

ul.op-role-lvl-3 > li {
    width: 100%;
    /* margin-bottom: 3px; */
    padding: 3px;
}

.op-role-list.loadgetallquyen {
    height: calc(100vh - 150px);
    overflow: auto;
  
}
h3:not(.expanded) +ul{
    display:none

}

h3.expanded + ul {
    display: flex;
    border: 1px solid #ccc;
}
h3> button> i {
  transition:all 0.4s ease;
}
h3.expanded > button > i {
    transform:rotate(180deg)

}
button.btn:focus {
    outline: none;
}
/*input[type="checkbox"]::before {
    position: absolute;
    top: 5px;
    left: 5px;
    background: white;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: none;
    color: var(--color-primary);
    z-index: 1;
    top: -2px;
    left: -1px;
    font-size: 18px;
    font-family: "FontAwesome";
    content: "\f096";
    text-align: left;
    font-weight: normal;
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 2px;
    line-height: 18px;
    padding: 1px 2px;
}*/
ul.op-role-lvl-3 {
    height: calc(100% - 36px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap !important;
}
input[type='checkbox'].op-checkbox-square:before {
    content: '';
    height: 16px;
    width: 16px;
    border: 1px solid var(--color-primary);
    position: relative;
    top: 0;
    left: 0;
    background: white;
}

input[type='checkbox'].op-checkbox-square:after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--color-primary);
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 2;
    border-radius: 2px;
}
.op-role-lvl-3 {
    width: 100%;
}
.op-role-lvl-2 > ul {
    flex-direction: column;
}
.op-role-lvl-1 > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.op-role-lvl-2 > h3 {
    background: rgba(0,0,0,.10);
}
.op-role-lvl-1 > h3 {
    background: rgba(0,0,0,.15);
}
.op-role-lvl-1 {
    margin-bottom: 15px;
}
.op-role-list {
    max-height: calc(100vh - 150px);
    overflow: auto;
}
ul#quanlynguoidungTab a {
    /* height: 40px; */
    line-height: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px !important;
    font-weight: bold;
}
/*===================================================*/

@media (min-width:1024px) {
    .flex.flex-column.op-role-lvl-2 {
        min-width: calc(33% - 6px);
        width: calc(33% - 6px);
    }
}
@media (min-width:1400px) {
    .flex.flex-column.op-role-lvl-2 {
        min-width: calc(33% - 6px);
        width: calc(33% - 6px);
    }
}

@media (min-width:1600px) {
    .flex.flex-column.op-role-lvl-2 {
        min-width: calc(33% - 10px);
        width: calc(33% - 10px);
    }
}

@media (max-width: 425px)
{
    #dummy-content {
        display: none;
    }
}

