@media screen and (min-width: 1440px) {
    .op-object-detail{
        width:100%;
    }
    .op-object-detail {
        width: calc(100% - 250px);
    }
}
/* On screens that are tablet wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .tabs-main li{
        padding:5px 10px;
    } 
    .op-filter {
        width: 100%
    } #myTab1 > li > a,
    #myTab2 > li > a {
        font-size: 14px;
        padding: 5px 7px;
        font-weight: bold;
    } .btn-edit {
        top: 58px !important;
    } .outselect {
        left: 0
    } .clickInSQ:nth-child(3) {
        display: none
    }
    .op-object-detail {
        width: 700px;
    }
    .fa fa-plus-circle{
        font-size:18px;
        padding-right:5px;
    }
    .tabs-main {
        margin-top: 5px;
    }
}
/* On screens that are mobile wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 425px) {
    .tabs-main li {
        padding: 5px 5px;
    }
    .outselect {
        left: 0
    }
    .op-object-detail {
        width:410px;
    }
    .btn-updata{
        width:100px;
    }
}
.tienmat > a, .ngan > a , .tong > a{
    padding:5px 8px;
    height:100%;
}

.soquy_modal > div:nth-child(1) > ul > li {
    max-width: 33%;
}
.tabs-main li .active {
    background-color: var(--color-op-filter-title);
}
#myTab1 > li > a, #myTab2 > li > a {
    font-size: 1rem;
    padding: 5px 7px;
    font-weight: bold;
    background: transparent
}
.modal-body li.active {
    border: 1px solid #fff;
    border-bottom: 2px solid var(--color-primary);
    border-radius: 5px 5px 0 0;
    border-bottom: none !important;
}
#myTab1 > li > a, #myTab2 > li.active > a {
    font-size: 1rem;
    padding: 5px 7px;
    font-weight: bold;
    background: white;
    width: 100%;
    height: 25px;
}
.soquy_modal li {
    height: 26px;
    margin-bottom: -1px;
}
.seach-supplier {
    position:relative;
}
.seach-supplier a
{
    position: absolute;
    right: 1px;
    top: 1px;
}

textarea:focus {
    outline: none;
}