@media print {
    body {
        margin: 0px;
        font-weight: bold;
    }

    #printSection, #printSection * {
        display: block !important;
        -webkit-print-color-adjust: exact;
        printer-colors: exact;
        color-adjust: exact;
    }

    @page {
        size: auto;
        margin: 0mm;
    }
    .row-page {
        width: 100%;
        float: left;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    .row-page table:first-child{
        margin:0px auto;
    }
}
