
@media print {
    body {
        margin: 0px;
        font-weight: bold;
    }

    #printSection, #printSection * {
        display: block !important;
        -webkit-print-color-adjust: exact;
        printer-colors: exact;
        color-adjust: exact;
    }

    @page {
        size: auto;
        margin: 0mm;
        margin-top: 1mm;
        margin-left: 0.5mm;
    }


    .page-break {
        page-break-after: always;
        display: block;
        page-break-before: always;
    }
    .row-page {
        width:100%;
        float: left;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    .x-print {
        width: 408px;
        float: left;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
     .x-print:last-child{
         height:auto;
     }
    .x-print-65 {
        width: 680px;
        float: left;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    .x-print-12 {
        width: 408px;
        float: left;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    .x-print-2 {
        width: 272px;
        float: left;
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    .x-print-page {
        width: 136px;
        float: left;
        padding: 0px;
    }

    .table-print tbody tr td {
        margin: 0px;
        font-size: 8px;
        font-weight: bold;
        font-family: sans-serif;
        text-align: center;
        line-height: 8px;
    }
     .table-print tbody tr td p{
         margin:0px;
     }
    .table-print {
        margin: 0px;
        text-align: center;
        font-size: 8px;
        font-weight: bold;
        width: 136px;
        line-height: 8px;
        padding: 0px;
    }

        .table-print tbody tr td img {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top:1px;
            margin-bottom:1px;
        }
}
