
@media(max-width:1025px) {
    .img-product {
        width: 200px;
        height: 200px;
    }

    product-view-detail {
    }

    .direct {
        padding-top: 01px;
    }

    .text-right {
        text-align: left;
    }

    .notify-banhang .fa-times {
        padding-top: 3px;
    }
}

@media (max-width: 992px) {
    .direct {
        padding-top: 1px;
    }
}


    @media (max-width:425xp) {
        .group-btn > a {
            width: 250px;
            margin-right: 100%;
        }

        .title-report, .btn-bue > font {
            display: inline-block !important;
        }
    }
