:root {
    --color-main: #0097c4;
    --color-primary: #0aaddd;
    --color-special: #ff4d71;
    --color-font-default: #000000;
    --font-color: #686868;
    --table-header-color: #e9eaf2;
    --table-footer-color: #e9eaf2;
    --border-default:1px solid #ccc;
    --color-button: #777;
    --color-button-hover: #575353;
    --color-filter-left: #d1d2d9;
    --color-button-thanh-toan: #f75e5c;
    --button-thanh-toan-hover: #f78483;
    --color-main-font: White;
    --color-table: #d1d2d9;
    --hover-loadding: #c7dfe6;
    --load-progress: #b2c70f;
    --table-footer: #e9eaf2;
    --color-title-edit: #e9eaf2;
    --color-img: hue-rotate(194deg);
    --color-add: #eb4a24;
    --color-sao-chep: #89b1bb;
    --color-sao-chep-hover: #75a6b2;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Materialicons.woff2')format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased
}


.bg-1 {
    background: #1374ad !important
}

.bg-2 {
    background: #0aaddd !important
}

.bg-3 {
    background: #57BB49 !important
}

.bg-4 {
    background: #EE1B22 !important
}

.bg-5 {
    background: #ff6600 !important
}

.bg-6 {
    background: #ec5885 !important
}

.bg-7 {
    background: #674dff !important
}

.bg-8 {
    background: #c68039 !important
}

.bg-9 {
    background: linear-gradient(60deg, #2580B3 0%, #CBBACC 100%) !important
}

.bg-10 {
    background: linear-gradient(60deg, rgba(252,93,174,1) 0%, rgba(253,155,120,1) 100%) !important
}

.bg-11 {
    background: linear-gradient(60deg, #000851 0%, #1CB5E0 100%) !important
}

.bg-12 {
    background: #000000 !important
}

.bg-13 {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%) !important
}

.bg-14 {
    background: linear-gradient(60deg, #fee140 0%, #fa709a 100%) !important
}

.bg-15 {
    background: linear-gradient( 60deg,#870000 0%, #190A05 100%) !important;
}

.bg-16 {
    background: #666666 !important
}