<div class="modal-content ">
    <div class="modal-header">
        <button class="close close-modal" type="button" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="hdChuyenNhom"></h4>
    </div>
    <div class="modal-body">

        <label class="control-label" id="lblChuyenNhom"> </label>
        <div class="form-news" id="divSearchNhomDT" style="position:relative">


            <input type="text" data-toggle="dropdown" class="form-control ui-autocomplete-input" id="txtSearchNhomDT"
                   v-model="query_NhomDT" v-on:keyup="submit" onfocusout="HideLostFocust()" placeholder="Tìm kiếm nhóm" onclick="this.select()">
            <div class="dropdown-menu floatleft" id="showseach_NhomDT" hidden>
                <ul class="floatleft">
                    <li class="floatleft" v-for="item of searchResult" v-on:click="click(item)">
                        <a>
                            {{ item.TenNhomDoiTuong }}
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div class="modal-footer">
       
            <button type="button" class="btn btn-main" data-bind="click: MoveDoiTuong_toGroup ">
                <i class="fa fa-save"></i>
                Xong
            </button>
            <button type="button" data-dismiss="modal" class="btn btn-cancel"><i class="fa fa-ban"></i> Bỏ qua</button>
       
    </div>
</div>
