<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title" id="titleTypeWork">
            Thêm mới loại công việc
        </h4>
    </div>
    <div class="modal-body">
        <div class="form-group floatleft" data-bind="with: newLoaiCongViec">
            <label>Tên công việc (<span style="color:red">*</span>)</label>
            <div class="form-news">
                <input class="form-control" type="text" data-bind="value: TenLoaiTuVanLichHen" autofocus />
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-cancel" id="btnDeleteTyepWork"
                data-bind="click: DeleteLoaiCongViec, visible: !IsAddTypeWork()">
            <i class="fa fa-trash"></i> Xóa
        </button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>Bỏ qua</button>
        <button type="button" class="btn btn-save" data-bind="click: addLoaiCongViec">
            <i class="fa fa-save"></i> Lưu
        </button>
    </div>
</div>
