    <div class="modal-content  ui-draggable ui-draggable-handle">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>

            <h4 class="modal-title">
                Thêm nguồn khách
            </h4>
        </div>
        <div class="modal-body ">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group floatleft">
                        <label >Tên nguồn khách<span style="color:red">(*)</span></label>
                        <div class="form-news">
                            <input type="text" class="form-control" data-bind="value: newNguonKhach().TenNguonKhach" autofocus>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
                <button type="button" class="btn btn-main" data-bind="click: InsertNguonKhach">
                    <i class="fa fa-save"></i> Lưu
                </button>
            </div>
        </div>
    </div>
