<div class="modal-content ">
    <div class="modal-header">
        <button class="close close-modal" type="button" data-dismiss="modal">×</button>
        <h4 class="modal-title">Trạng thái khách</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label >Tên trạng thái<span class="red">(*)</span></label>
            <div class="form-news">
                <input id="txtTrangThaiKH" type="text" data-bind="value: newObjTrangThaiKH().TenTrangThai" class="form-control" autofocus />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <button type="button" class="btn btn-cancel close-modal" data-dismiss="modal"><i class="fa fa-ban"></i>Bỏ qua</button>
            <button type="button" class="btn btn-cancel close-modal" data-bind="click: DeleteTrangThai">
                <i class="fa fa-trash"></i>Xóa
            </button> <button type="button" class="btn btn-main" data-bind="click: SaveTrangThai">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </div>
</div>
