
<div class="modal-content op-modal-conttent">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <!--ko if: $root.Modal_HoaDons().LoaiHoaDon === 2-->
        <h4 class="modal-title">Hóa đơn bảo hành</h4>
        <!--/ko-->
        <!--ko if: $root.Modal_HoaDons().LoaiHoaDon !== 2-->
        <h4 class="modal-title">Hóa đơn</h4>
        <!--/ko-->
    </div>
    <div class="modal-body">
        <div class="floatleft" data-bind="foreach: $root.Modal_HoaDons">
            <div class="col-xs-12 col-md-6 col-lg-6">

                <div class="form-group floatleft">
                    <label class="css-form-label ">Mã hóa đơn:</label>
                    <div class="css-form-detail" data-bind="text: MaHoaDon"></div>
                </div>
                <div class="form-group floatleft">
                    <label class="css-form-label ">Thời gian:</label>
                    <div class="css-form-detail" data-bind="text: moment(NgayLapHoaDon).format('DD/MM/YYYY HH:mm:ss')"></div>
                </div>
                <div class="form-group floatleft">
                    <label class="css-form-label ">Khách hàng:</label>
                    <div class="css-form-detail" data-bind="text: TenDoiTuong"></div>
                </div>
                <div class="form-group floatleft ">
                    <label class="css-form-label ">Bảng giá:</label>
                    <div class="css-form-detail" data-bind="text: TenBangGia"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="form-group floatleft">
                    <label class="css-form-label ">Trạng thái:</label>
                    <div class="css-form-detail" data-bind="text :TrangThaiText"></div>
                </div>
                <div class="form-group floatleft">
                    <label class="css-form-label "> Chi nhánh:</label>
                    <div class="css-form-detail" data-bind="text: TenDonVi"></div>
                </div>
                <div class="form-group floatleft ">
                    <label class="css-form-label ">Người bán:</label>
                    <div class="css-form-detail" data-bind="text: TenNhanVien"></div>

                </div>
                <div class="form-group floatleft ">
                    <label class="css-form-label ">Người tạo:</label>
                    <div class="css-form-detail" data-bind="text: NguoiTaoHD"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="form-group floatleft border-end">
                    <label class="css-form-label ">Ghi chú:</label>
                    <div class="css-form-detail" data-bind="text: DienGiai"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="table-res">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã hàng hóa</th>
                                <th>Tên hàng</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Giảm giá</th>
                                <th class="text-right">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $data.BH_HoaDon_ChiTiet">
                            <tr>
                                <td>
                                    <span data-bind="text: MaHangHoa"></span>
                                </td>
                                <td>
                                    <span data-bind="text: TenHangHoa"></span>
                                    <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                                    <span style="color: #8abb0f" data-bind="visible: TenDonViTinh">
                                        (<span data-bind="text: TenDonViTinh"></span>)
                                    </span><br />
                                    <span data-bind="visible: MaLoHang">
                                        <span data-bind="text: '(Lô: '+ MaLoHang +')'" style="color:palevioletred"></span>
                                    </span>
                                </td>
                                <td data-bind="text: SoLuong">3</td>
                                <td data-bind="text: formatNumber3Digit(DonGia)">333</td>
                                <td data-bind="text: formatNumber3Digit(GiamGia)">33</td>
                                <td class="text-right" data-bind="text: formatNumber3Digit(ThanhTien,2)">33</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="ma10">
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tổng số lượng :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber3Digit($root.TongSLHang())">
                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tổng tiền hàng :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber3Digit(TongTienHang,2)">

                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct" data-bind="visible: TongTienThue > 0">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tổng tiền thuế :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber3Digit(TongTienThue,2)">

                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Giảm giá hóa đơn :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber3Digit(TongGiamGia,2)">

                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right"
                             data-bind="text: $root.LoaiHoaDon_MoPhieu() == 6?'Cần trả khách :':' Khách cần trả :'">
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber3Digit(PhaiThanhToan,2)">
                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right"
                             data-bind="text: $root.LoaiHoaDon_MoPhieu() == 6?'Đã trả khách :':'Khách đã trả :'">
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber3Digit(KhachDaTra,2)">

                            </div>
                        </div>
                    </div>
                    <div class="floatleft sum-prduct">
                        <div class="col-xs-9 col-sm-9  col-lg-10 text-right">
                            Tiền đổi điểm :
                        </div>
                        <div class="col-xs-3 col-sm-3 col-lg-2 text-right">
                            <div class="row" data-bind="text: formatNumber3Digit(TienDoiDiem,2)">

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    <div class="modal-footer">
            <button class="btn btn-main" data-bind="click: $root.ClickMoPhieu">
                <i class="fa fa-share"></i> Mở phiếu
            </button>

    </div>
</div>

