@using banhang24.Hellper;
@using System.Web.Optimization
@using banhang24.AppCache
@{
    Layout = null;
    ViewBag.Title = "Open24.vn - Gói dịch vụ";
}

<div class="op-container" id="vmDanhSachHoaHongGioiThieu">
    <div class="container-fluid nopadding">
        <div class="col-left">
            <div class=" op-filter">
                <section class="op-filter-body">
                    <article class="boxLeft ">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="far fa-code-branch"></i>  Chi nhánh
                        </h3>
                        <aside class="op-filter-container">
                            <filter-chinhanh v-bind:listchinhanh="listData.ChiNhanh" v-on:callfunctionloaddata="ResetCurrentPage_andLoadData"></filter-chinhanh>
                        </aside>
                    </article>

                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fal fa-calendar-alt"></i>       Thời gian
                        </h3>
                        <aside class="op-filter-container">
                            <filter-datetime radioname="rdThoiGian" v-bind:typetime="filter.TypeTime"
                                             v-on:callfunction="onCallThoiGian"
                                             v-bind:selectvalue="5"></filter-datetime>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="far fa-users-class"></i>
                            Loại đối tượng
                        </h3>
                        <filter-checkbox v-bind:listitem="listData.LoaiDoiTuong" v-on:callfunctionloaddata="ResetCurrentPage_andLoadData"></filter-checkbox>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <i class="fal fa-toggle-on"></i>
                            Trạng thái
                        </h3>
                        <filter-checkbox v-bind:listitem="listData.TrangThai" v-on:callfunctionloaddata="ResetCurrentPage_andLoadData"></filter-checkbox>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="op-header">
                <div class="op-header-title">
                    <h2 class="pull-left title">Hoa hồng khách giới thiệu</h2>
                </div>
                <div class="flex flex-between">
                    <div class=" header-button">
                        <div class="btn-group" title="Thêm mới">
                            <div type="button" class="btn btn-main  dropdown-toggle add-new btn-main"
                                 v-on:click="showModalThemMoi">
                                <i class="fa fa-plus"></i><font>Thêm mới</font>
                            </div>
                        </div>
                        <div class="btn-group ">
                            <button type="button" class="btn btn-main dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-file-excel-o"></i> Xuất file
                            </button>
                        </div>
                        <div class="dropdown open ">
                            <button type="button" class="btn btn-main" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showCollumnFilter(this)">
                                <i class="fa fa-angle-double-down"></i>
                            </button>
                            <div class=" dropdown-list" style="display:none; right:0" id="myList">
                                <ul>
                                    <li v-for="item in ListHeader">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="checkbox" v-model="item.colShow" />
                                                <span></span>
                                                {{item.colText}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="op-search">
                            <input type="text" class="form-control" placeholder="Mã hóa đơn, người giới thiệu"
                                   autocomplete="off"
                                   v-model="filter.TextSearch"
                                   v-on:keyup.13="GetList_PhieuTrichHoaHong" />
                            <button type="button" class=" op-search-button"
                                    v-on:click="GetList_PhieuTrichHoaHong">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc">
                            <i class="material-icons">sort</i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="content-table" style="top: 48px;position: sticky;">
                <div class="table-frame">
                    <table class="table" id="tb">
                        <thead class="thead-boder">
                            <tr>
                                <th v-for="item in ListHeader.filter(p=>p.colShow === true)">
                                    {{item.colText}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(item, index) in HoaDon.data">
                                <tr class="prev-tr-hide">
                                    <td v-if="CheckColShow('colMaHoaDon')"
                                        v-on:click="RowSelected(item)">
                                        <a href="javascript:void(0)">{{item.MaHoaDon}}</a>
                                    </td>
                                    <td class="text-center" v-if="CheckColShow('colNgayLapHoaDon')"
                                        v-on:click="RowSelected(item)">
                                        {{moment(item.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}
                                    </td>
                                    <td v-if="CheckColShow('colLoaiDoiTuong')" v-on:click="RowSelected(item)">
                                        {{item.SLoaiDoiTuong}}
                                    </td>
                                    <td v-if="CheckColShow('colMaDoiTuong')" v-on:click="RowSelected(item)">
                                        <a href="javascript:void(0)">
                                            {{item.MaNguoiGioiThieu}}
                                        </a>
                                    </td>
                                    <td v-if="CheckColShow('colTenDoiTuong')" v-on:click="RowSelected(item)">
                                        {{item.TenNguoiGioiThieu}}
                                    </td>
                                    <td class="text-right" v-if="CheckColShow('colTongGiaTri')" v-on:click="RowSelected(item)">
                                        {{formatNumber3Digit(item.TongTienHang)}}
                                    </td>
                                    <td v-if="CheckColShow('colDienGiai')" v-on:click="RowSelected(item)">
                                        {{item.DienGiai}}
                                    </td>
                                    <td v-if="CheckColShow('colTrangThai')" v-on:click="RowSelected(item)">
                                        {{item.STrangThai}}
                                    </td>
                                    <td v-if="CheckColShow('colNguoiTao')" v-on:click="RowSelected(item)">
                                        {{item.NguoiTao}}
                                    </td>
                                    <td v-if="CheckColShow('colTenChiNhanh')" v-on:click="RowSelected(item)">
                                        {{item.TenDonVi}}
                                    </td>
                                </tr>
                                <tr class="op-js-tr-hide">
                                    <td colspan="18">
                                        <div class="op-object-detail ">
                                            <ul class="nav nav-tabs">
                                                <li class="active" onclick="LoadGetHeight()"><a data-toggle="tab" v-bind:href="'infor_'+ item.ID">Thông tin</a></li>
                                                <li onclick="LoadGetHeight()"><a data-toggle="tab" v-bind:href="'nky_'+ item.ID">Nhật ký thanh toán</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active">
                                                    <div class="op-object-detail ">
                                                        <div class="col-md-12 nopadding">
                                                            <div class="op-object-detail-left min-45 ">
                                                                <div class="form-group floatleft">
                                                                    <label class="css-form-label"> Chi nhánh:</label>
                                                                    <div class="css-form-detail">
                                                                        <span>  {{item.TenDonVi}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft ">
                                                                    <label class="css-form-label">Người tạo:</label>
                                                                    <div class="css-form-detail">
                                                                        <span>  {{item.NguoiTao}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label class="css-form-label">Mã hóa đơn:</label>
                                                                    <div class="css-form-detail">
                                                                        <span>  {{item.MaHoaDon}}</span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group floatleft">
                                                                    <label class="css-form-label">Người giới thiệu:</label>
                                                                    <div class="css-form-detail">
                                                                        <span>  {{item.TenNguoiGioiThieu}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft ">
                                                                    <label class="css-form-label">Ngày lập phiếu:</label>
                                                                    <div class="css-form-detail">
                                                                        <date-time :date-chose="moment(item.NgayLapHoaDon).format('YYYY-MM-DD HH:mm')"
                                                                                   v-on:change-date="Update_ChangeDate">
                                                                        </date-time>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group floatleft">
                                                                    <label class="css-form-label">Trạng thái:</label>
                                                                    <div class="css-form-detail">
                                                                        <span> {{item.STrangThai}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft border-end">
                                                                    <label class="css-form-label">Ghi chú:</label>
                                                                    <div class="css-form-detail">
                                                                        <textarea rows="2"
                                                                                  v-model="item.DienGiai"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="op-object-detail-right">
                                                                <div class="table-res loadcthd">
                                                                    <table class=" table table-filter table-detal" id="tblCT">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    Mã hóa đơn
                                                                                </th>
                                                                                <th class="text-center">
                                                                                    Ngày lập
                                                                                </th>
                                                                                <th>
                                                                                    Mã khách hàng
                                                                                </th>
                                                                                <th>
                                                                                    Tên khách hàng
                                                                                </th>
                                                                                <th>
                                                                                    Giá trị HĐ
                                                                                </th>
                                                                                <th>
                                                                                    Giá trị tính
                                                                                </th>
                                                                                <th>
                                                                                    % trích
                                                                                </th>
                                                                                <th>
                                                                                    Tiền hoa hồng
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr v-for="(ct, index2) in HoaDonChiTiet">
                                                                                <td>
                                                                                    <a>{{ct.MaHoaDon}}</a>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{moment(ct.NgayLapHoaDon).format('DD/MM/YYYY HH:mm')}}
                                                                                </td>
                                                                                <td>
                                                                                    {{ct.MaDoiTuong}}
                                                                                </td>
                                                                                <td>
                                                                                    {{ct.TenDoiTuong}}
                                                                                </td>
                                                                                <td>
                                                                                    {{formatNumber3Digit(ct.TongThanhToan)}}
                                                                                </td>
                                                                                <td>
                                                                                    {{formatNumber3Digit(ct.DaTrich)}}
                                                                                </td>
                                                                                <td>
                                                                                    {{formatNumber3Digit(ct.PTChietKhau)}}
                                                                                </td>
                                                                                <td>
                                                                                    {{formatNumber3Digit(ct.TienChietKhau)}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="op-table-summary">
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 footer-total-detail pull-right">
                                                                        <div class="floatleft sum-prduct">
                                                                            <div class="col-xs-5 col-sm-5  col-lg-7 text-right">
                                                                                Tổng giá trị :
                                                                            </div>
                                                                            <div class="col-xs-7 col-sm-7 col-lg-5 text-right">
                                                                                <div class="row">
                                                                                    {{formatNumber3Digit(item.TongTienHang)}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-end">
                                                                    <button href="javascript:void(0)" class="btn btn-main">
                                                                        <i class="fa fa-share"></i> Sửa đổi
                                                                    </button>
                                                                    <button href="javascript:void(0)" class="btn btn-main">
                                                                        <i class="fa fa-save"></i> Lưu
                                                                    </button>
                                                                    <button href="javascript:void(0)" class="btn btn-main">
                                                                        <i class="fa fa-file-excel-o"></i> Xuất file
                                                                    </button>
                                                                    <button href="javascript:void(0)" class="btn btn-main">
                                                                        <i class="fa fa-cut"></i> Sao chép
                                                                    </button>
                                                                    <button href="javascript:void(0)" class="btn btn-cancel">
                                                                        <i class="fa fa-close"></i> Hủy bỏ
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane">
                                                    <div class="table-res">
                                                        <table class='table'>
                                                            <tr>
                                                                <th>Mã phiếu</th>
                                                                <th>Thời gian</th>
                                                                <th>Người tạo</th>
                                                                <th>Phương thức</th>
                                                                <th>Trạng thái</th>
                                                                <th>Tiền thu</th>
                                                            </tr>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                        <tfoot v-if="HoaDon.data.length > 0">
                            <tr class="border-bottom bold">
                                <td v-bind:colspan="ListHeader.filter(p=>p.index < 5 && p.colShow).length">
                                    Tổng cộng
                                </td>
                                <td class="text-right">
                                    {{formatNumber3Digit(HoaDon.SumTongTienHang)}}
                                </td>
                                <td v-bind:colspan="ListHeader.filter(p=>p.index > 5 && p.colShow).length">
                                </td>
                            </tr>
                        </tfoot>
                        <tfoot class="Report_Empty"
                               v-if="HoaDon.data.length == 0">
                            <tr class="text-center">
                                <td colspan="25">
                                    <i>Không có dữ liệu</i>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <page-list v-bind:pagesize="HoaDon.PageSize"
                           v-bind:listpage="HoaDon.ListPage" v-bind:currentpage="HoaDon.CurrentPage" v-bind:pageview="HoaDon.PageView"
                           v-bind:numberofpage="HoaDon.NumberOfPage"
                           v-on:pageselected="PageChange"></page-list>
            </div>
        </div>

    </div>
</div>

<div class="modal " id="modalPopuplgDelete">
    <div class="modal-dialog draggable">
        @Html.Action("_modalDelete", new { area = "", Controller = "GiaoDich" })
    </div>
</div>

<script src="@Html.WriteRenderFile(Scripts.Url("~/bundles/HoaHongGioiThieu"))" type="text/javascript"></script>
@Html.Partial("~/Views/Gara/KhachHang/_vmThemMoiLienHe.cshtml")
@Html.Partial("~/Views/Gara/HoaDon/_vmHoaHongKhachGioiThieu.cshtml");


