<a href="javascript:void(0)">
    <div style="padding:5px; display:flex;flex-direction:column">
        <div>
            <span class="tit-seach" data-bind="text: TenHangHoa, style: {'font-style':'bold'}"></span>
            <span data-bind="visible: TenDonViTinh">
                (<i data-bind="text: TenDonViTinh">
                </i>)
            </span>
        </div>
        <div>
            <span data-bind="text: MaHangHoa" class="seach-hh"></span> &nbsp; &nbsp;
            <span>
                Giá: <span data-bind="text: formatNumber(GiaBan)"></span>
            </span>
        </div>
    </div>
</a>
