
<a class="list-search ko-searchListHanghoa">
    
    <div class="flex flex-row" style="flex-wrap:nowrap">
        <div style="border: 1px dotted #ccc;padding: 5px;width: 50px;height: 50px; margin-right:5px;">

            <img style="width: 40px; height:40px; " data-bind="attr:{src: SrcImage === null || SrcImage === '' ? '/Content/images/photo.png' : Open24FileManager.hostUrl + SrcImage }">
        </div>
        <div class="flex flex-column">
            <small style="display:flex">
                Mã hàng:
                <font data-bind="text: MaHangHoa"></font>

            </small>
            <div class="flex flex-row">

                <span>
                    Tên hàng:
                    <b style="color:var(--color-primary)" data-bind="text: commonStatisJs.SubStringContent(TenHangHoa,30)"></b>
                </span>

                <span data-bind="text: ThuocTinh_GiaTri" style="color:#ff6a00"></span>
                <span data-bind="visible: TenDonViTinh" style="color:#0091ff">
                    (<span data-bind="text: TenDonViTinh"></span>)
                </span>
            </div>
            <div class="flex flex-row flex-between">

                <span style="margin-right:5px">
                    <span> Giá vốn:</span>
                    <b style="color:green" data-bind="text: ($root.HangHoa_XemGiaVon() === 'HangHoa_XemGiaVon' || $root.HangHoa_XemGiaVon())? formatNumber3Digit(GiaVon,0) : 0"></b>
                </span>
                <span style="margin-right:5px">
                    <span>Tồn: </span>
                    <b style="color:red" data-bind="text: formatNumber(TonKho)"></b>
                </span>


            </div>
            <div class="flex flex-row" data-bind="visible: MaLoHang" style="color: #f12b0b">
                <span style="margin-right:5px">
                    <span>LSX:  </span>
                    <span class="bold" data-bind="text: MaLoHang"></span>
                </span>
                <span style="margin-right:5px" data-bind="visible: NgaySanXuat">
                    <span>NSX: </span>
                    <span style="color:green" data-bind="text: moment(NgaySanXuat).format('DD/MM/YYYY')!='Invalid date'? moment(NgaySanXuat).format('DD/MM/YYYY'):''"></span> - </i>
                </span>
                <span style="margin-right:5px" data-bind="visible: NgayHetHan">
                    <span>HSD: </span>
                    <span style="color:red" data-bind="text: moment(NgayHetHan).format('DD/MM/YYYY')!='Invalid date'? moment(NgayHetHan).format('DD/MM/YYYY'):''"></span>
                </span>

            </div>

            <div class="flex flex-row"></div>
        </div>
    </div>
    
</a>