
<a>
    <span class="tit-seach" data-bind="text: TenHangHoa, style: {'font-style':'bold'}"></span>
    <i><span data-bind="text: TenDonViTinh" class="boldItalic"></span></i><br />
    <span data-bind="text: MaHangHoa" class="seach-hh"></span>
    Giá vốn:<span data-bind="text: GiaVon"></span>
</a>