
<a>
    <b><span data-bind="text: TenHangHoa"></span></b>
    <span data-bind="visible: TenDonViTinh">
        (<span data-bind="text: TenDonViTinh"></span>)
    </span><br />
    <span data-bind="text: MaHangHoa"></span>
    Giá vốn:<span data-bind="text: GiaVon"></span>
    Tồn: <span data-bind="text: TonCuoiKy"></span>
</a>