
<a>
    <div style="padding:5px; display:flex;flex-direction:column">
        <div>
            <span class="bold" data-bind="text: NguoiNopTien"></span>
        </div>

        <div>
            MKH: <span data-bind="text: MaNguoiNop"></span>
        </div>

        <div>  SDT: <span data-bind="text: SoDienThoai"></span></div>
    </div>
</a>