<link href="~/Content/datlichhen.css" rel="stylesheet" />
<link href="~/Content/dcalendar.picker.css" rel="stylesheet" />
<style>
    .calendar-grid .calendar-date-holder {
        width: 100% !important;
    }
    .calender-date .calendar-wrapper {
        width: 100% !important;
    }
    ._chinhanhlabel {
        position: relative;
    }
    .op-lich-hen-content{
        padding-top:0PX;
    }
    .tree-conpany ul, .tree-select-staff ul{
        overflow:hidden
    }
    .calender-hour ul li {
        width: 55px;
    }
    .time-date div {
        width: 100px;
    }
    .time-date input {
        padding-left: 115px;
    }
</style>
<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">Thêm mới công việc</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row">
                <div class="floatleft">
                    <div class="content-optin-lh">
                        <div class="op-lich-hen-content">
                            <div class="op-lh-w70 ">
                                <h5>Quý khách vui lòng điền thông tin</h5>
                                <div class="form-group frm-input-lh  _khachhang">
                                    <label>
                                        Họ tên quý khách<span style="color:red"> (*)</span>
                                    </label>
                                    <div class="form-ip-2">
                                        <div style="width:100px;float:left">
                                            <select class="form-control _xungho">
                                                <option value="1">
                                                    Anh
                                                </option>
                                            </select>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                    <span class="note-optin _span-khachhang" hidden>
                                        <i class="fa fa-info-circle"></i>
                                        <span href="javascript:void(0)" class="note-title"></span>
                                    </span>
                                </div>
                                <div class="form-group frm-input-lh _theonhom">
                                    <label>
                                        <input type="checkbox" class="check-theo-nhom" checked /> Bạn đi theo nhóm
                                    </label>
                                    <div class="form-ip-1 form-ip-so-luong">
                                        <label> Số lượng</label>
                                        <input class="form-control" type="text">
                                    </div>
                                    <span class="note-optin _span-theo-nhom" hidden>
                                        <i class="fa fa-info-circle"></i>
                                        <span href="javascript:void(0)" class="note-title"></span>
                                    </span>
                                </div>
                                <div class="form-group frm-input-lh _dienthoai">
                                    <label>
                                        Điện thoại<span style="color:red"> (*)</span>
                                    </label>
                                    <div class="form-ip-1">
                                        <input class="form-control" type="text">
                                    </div>
                                    <span class="note-optin _span-phone" hidden>
                                        <i class="fa fa-info-circle"></i>
                                        <span href="javascript:void(0)" class="note-title"></span>
                                    </span>
                                </div>
                                <div class="form-group frm-input-lh _email">
                                    <label>
                                        Email<span style="color:red"> (*)</span>
                                    </label>
                                    <div class="form-ip-1">
                                        <input class="form-control" type="text">
                                    </div>
                                    <span class="note-optin _span-email" hidden>
                                        <i class="fa fa-info-circle"></i>
                                        <span href="javascript:void(0)" class="note-title"></span>
                                    </span>
                                </div>
                                <div class="form-group frm-input-lh _dichvuyc">
                                    <label>
                                        Dịch vụ yêu cầu<span style="color:red"> (*)</span>
                                    </label>
                                    <div class="form-ip-1">
                                        <div class="outselect ">
                                            <div class="choose-person  dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <ul>
                                                    <li class="li-input-span">
                                                        <span>2712 Nhóm VIP</span>&nbsp;
                                                        <a href="javacscript:void(0)">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </li>
                                                    <li class="li-input-span">
                                                        <span>Nhóm khách 01</span>&nbsp;
                                                        <a href="javacscript:void(0)">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <input type="text" class="dropdown form-control" placeholder="Chọn nhóm" style="display:none">
                                            </div>
                                            <div class="selec-person dropdown-menu " aria-labelledby="dropdownMenuLink">
                                                <div class="seach-nhomhang">
                                                    <input type="text" class="seach-nhomhang">
                                                    <i class="fa fa-search"></i>
                                                </div>
                                                <ul>
                                                    <li>Nhóm khách 01<i class="fa fa-check check-after-li" style="display:block"></i></li>
                                                    <li>2712 Nhóm VIP<i class="fa fa-check check-after-li" style="display:block"></i></li>
                                                    <li>Nhóm siêu VIP</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="note-optin _span-dich-vu-yc" hidden>
                                        <i class="fa fa-info-circle"></i>
                                        <span href="javascript:void(0)" class="note-title"></span>
                                    </span>
                                </div>
                                <div class="_thoigian">
                                    <div class="form-group  frm-input-lh ">
                                        <label class="_thoigianlabel">
                                            Thời gian <span style="color:red"> (*)</span>
                                        </label>
                                        <div class="form-ip-1 form-ip-thoi-gian">
                                            <input type="text" class="form-control time-hour text-center">
                                            <div class="time-date">
                                                <div> Chủ nhật</div>
                                                <input class="form-control datetime-lich-hen" type="text">
                                            </div>
                                        </div>
                                        <span class="note-optin _span-thoi-gian" >
                                            <i class="fa fa-info-circle"></i>
                                            <span href="javascript:void(0)" class="note-title"></span>
                                        </span>
                                    </div>
                                    <div class="form-group fl form-calender _calender_time" >
                                        <div class="calender-hour">
                                            <ul>
                                                <li class="calender-ul-li active"><a href="javascript:void(0)">08:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">08:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">09:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">09:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">10:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">10:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">11:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">11:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">12:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">12:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">13:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">13:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">14:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">14:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">15:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">15:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">16:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">16:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">17:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">17:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">18:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">18:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">19:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">19:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">20:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">20:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">21:00</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">21:30</a></li>
                                                <li class="calender-ul-li"><a href="javascript:void(0)">22:00</a></li>
                                            </ul>
                                        </div>
                                        <div class="calender-date">
                                            <table class="calendar calendar-datein"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group fl staff-perform _nhanvien">
                                    <label class="_nhanvienlabel" style="    width: auto !important;">
                                        Chọn nhân viên thực hiện<span style="color:red"> (*)</span>
                                    </label>
                                    <a href="javascript:void(0)" class="sl_nhanvien" style="margin-left:5px;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i></a>
                                    <span class="note-optin _span-nhan-vien" hidden>
                                        <i class="fa fa-info-circle"></i>
                                        <span href="javascript:void(0)" class="note-title"></span>
                                    </span>
                                </div>
                                <div class="form-group fl _nhanvien">
                                    <ul class="tree-staff-perform">
                                        <li>
                                            <a href="javascript:void(0)" class="staff-p-img">
                                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                                <span>Nguyễn thị Yến Linh</span>
                                            </a>
                                            <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="staff-p-img">
                                                <i class="fa fa-user-circle" aria-hidden="true"></i><span>Nguyễn thị Yến Linh</span>
                                            </a>
                                            <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group frm-input-lh  _ghichu">
                                    <label>
                                        Ghi chú<span style="color:red"> (*)</span>
                                    </label>
                                    <div class="form-ip-1">
                                        <textarea></textarea>
                                    </div>
                                    <span class="note-optin _span-ghi-chu" hidden>
                                        <i class="fa fa-info-circle"></i>
                                        <span href="javascript:void(0)" class="note-title"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="op-lh-w30 ">
                                <div class="tree-conpany">
                                    <h5 class="_chinhanhlabel">
                                        Quý khách vui lòng chọn chi nhánh <span style="color:red"> (*)</span>
                                        <span class="note-optin _span-chi-nhanh" style="position: absolute; top: -5px; font-weight:200;line-height: 30px;" hidden>
                                            <i class="fa fa-info-circle"></i>
                                            <span href="javascript:void(0)" class="note-title"></span>
                                        </span>
                                    </h5>
                                    <ul>
                                        <li>
                                            <div class="tree-number">
                                                <span>1</span>
                                            </div>
                                            <div class="tree-detail">
                                                <p class="tree-title-name"> Moon Trần</p>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tree-number">
                                                <span>2</span>
                                            </div>
                                            <div class="tree-detail">
                                                <p class="tree-title-name"> Moon Trần</p>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tree-number">
                                                <span>3</span>
                                            </div>
                                            <div class="tree-detail">
                                                <p class="tree-title-name"> Moon Trần</p>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tree-number">
                                                <span>4</span>
                                            </div>
                                            <div class="tree-detail">
                                                <p class="tree-title-name"> Moon Trần</p>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tree-number">
                                                <span>5</span>
                                            </div>
                                            <div class="tree-detail">
                                                <p class="tree-title-name"> Moon Trần</p>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tree-number">
                                                <span>6</span>
                                            </div>
                                            <div class="tree-detail">
                                                <p class="tree-title-name"> Moon Trần</p>
                                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hoàng Đạo Thúy Thanh Xuân Hà Nội</p>
                                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tree-select-staff" hidden>
                                    <h5>Quý khách vui lòng chọn nhân viên thực hiện</h5>
                                    <ul>
                                        <li>
                                            <div class="tree-image">
                                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="tree-detail">
                                                <p class="tree-title"><span class="tree-title-name">Mã nv: NV0001</span> | <span>Nguyễn thị Yến Linh</span></p>
                                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tree-image">
                                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="tree-detail">
                                                <p class="tree-title"><span class="tree-title-name">Mã nv: NV0001</span> | <span>Nguyễn thị Yến Linh</span></p>
                                                <p><i class="fa fa-phone" aria-hidden="true"></i> 0987114258</p>
                                                <input type="checkbox">
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="fl">
                                        <a href="javascript:void(0)" id="sl_save_select_staff">
                                            <div class="save-select-staff">
                                                <i class="fa fa-check" aria-hidden="true"></i> Xong
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="op-lich-hen-footer">
                            <button type="button" class="btn btn-save"> <i class="fa fa-save"></i> Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/Datetime/jquery.ui.datepicker-vi-VN.js"></script>
<script src="~/Content/js/dcalendar.picker.js"></script>
<script>
    $(function () {
        //var time = new Date();
        $.datetimepicker.setLocale('vi');
        $('.datetime-lich-hen').datetimepicker({
            timepicker: false,
            mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
            format: 'd/m/Y',
            //value: moment(time).format('DD/MM/YYYY')
        });
        $('.calendar-datein').dcalendar().on('dateselected', function (e) { console.log(e.date); });
        $('.time-hour').mask('99:99').on("change", function (e) {
        });
    });
    $('._theonhom label .check-theo-nhom').change(function () {
        if ($(this).is(':checked')) {
            $(this).closest('label').next('.form-ip-so-luong').show();
        }
        else {
            $(this).closest('label').next('.form-ip-so-luong').hide();
        }
    });
    $('#sl_save_select_staff').on('click', function () {
        $('.tree-conpany').show();
        $('.tree-select-staff').hide();
    });
    $('.lh-nhom').on('click', function () {
        $('.number-group').toggle();
    })
    $('.op-time-lh-left').on('click', 'button', function () {
        $('.op-time-lh-left button').each(function () {
            $(this).removeClass('ac');
        });
        $(this).addClass('ac');
    })
    $('.op-time-lh-head').on('click', 'a', function () {
        $('.op-time-lh-head a').each(function () {
            $(this).removeClass('ac');
        });
        $(this).addClass('ac');
    })
    $('.op-time-lh-right').on('click', '.op-time-select', function () {
        var clas = $(this).hasClass('ac');
        $('.op-time-lh-right .op-time-select').each(function () {
            $(this).removeClass('ac');
        })
        if (!clas)
        { $(this).addClass('ac'); }
    })
    $('.form-calender').on('click', '.calender-hour ul li', function () {
        $('.calender-ul-li').removeClass('active')
        $(this).closest('li').addClass('active')
    })
    $(" .note-optin").on('mouseenter', ' i', function () {
        $('.note-title').hide();
        if ($(this).next('.note-title').text() !== '' && $(this).next('.note-title').text() !== undefined && $(this).next('.note-title').text() !== null) {
            $(this).next('.note-title').show();
        }
    });
    $(".note-optin").on('mouseleave', function () {
        $('.note-title').hide();
    });
    $('.sl_nhanvien').on('click', function () {
        $('.tree-conpany').toggle();
        $('.tree-select-staff').toggle();
    });
</script>