
<div class="modal-content  ui-draggable">
    <div class="modal-header ui-draggable-handle">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">
        Chi tiết công việc
        </h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12  nopadding">
            <div class=" col-md-12  tab-news-modal  form-chi-tiet-cv">
                <div class="row">
                    <h4>Khám da và tư vấn liệu trình</h4>
                    <div class="col-md-6 col-xs-12">
                       
                        <div class="form-group floatleft">
                            <label>Mức độ ưu tiên</label>
                            <div class="form-news">
                                Nguyễn Văn A
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Phân loại</label>
                            <div class="form-news">
                                <div class="uu-tien-cao"></div>
                                <div class="uu-tien-tb" hidden></div>
                                <div class="uu-tien-thap" hidden></div>
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Thời gian</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft ">
                            <label>Số ngày thực hiện</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Nội dung</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Nhắc nhở</label>
                            <div class="form-news">
                            </div>

                        </div>
                       
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group floatleft">
                            <label>Khách hàng</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Liên hệ</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Nhân viên phụ trách</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Người phối hợp</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Trạng thái</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Tệp đính kèm</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Ghi chú</label>
                            <div class="form-news">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 nopadding">
                <div class="modal-footer nopadding">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>

                </div>
            </div>
        </div>


    </div>

</div>
