
    <div class="table-res mr-optin-table " id="html_OptinFormKhachHang" style="overflow:hidden">
        <div class="_list-paramester">
            <div class="form-group floatleft" id="AnhDaiDien">
                <label>Ảnh đại diện <span style="color:red" >(*)</span></label>
                <div class="form-news">
                    <div class="img-choose" style="width: 125px;">
                        <img src="~/Content/images/photo.png" id="blah" alt="Ảnh đại diện" />
                    </div>
                    <span class="btn  btn-file form-control" style="width:125px;">
                        Chọn ảnh <input type='file' id="imageUploadForm" name="files[]" accept=".png,.jpg,.jpeg,.gif" onchange="readURL(this);" />
                    </span>
                  
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="TenKhachHang">
                <label>Tên khách hàng <span style="color:red">(*)</span></label>
                <div class="form-news">
                    <input class="form-control" type="text">
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="GioiTinh">
                <label> Giới tính <span style="color:red">(*)</span></label>
                <div class="form-news radio-button-leff">
                    <form name="gendersForm">
                        <input type="radio" name="gender" value="M" checked /> Nam
                        <input type="radio" name="gender" value="F" /> Nữ
                    </form>
                   
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="NgaySinh">
                <label>Ngày sinh <span style="color:red">(*)</span></label>
                <div class="form-news">
                    <input class="form-control" type="text">
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="SoDienThoai">
                <label>Số điện thoại <span style="color:red">(*)</span></label>
                <div class="form-news">
                    <input class="form-control" type="text">
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="Email">
                <label>Email <span style="color:red">(*)</span></label>
                <div class="form-news">
                    <input class="form-control" type="text">
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="DiaChi">
                <label>Địa chỉ <span style="color:red">(*)</span></label>
                <div class="form-news">
                    <textarea rows="1"></textarea>
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="TinhThanh">
                <label>Tỉnh thành <span style="color:red">(*)</span></label>
                <div class="form-news _cobobox">
                    <div class="outselect ">
                        <input type="text" class="form-control ui-autocomplete-input" placeholder="Chọn tỉnh thành" data-bind="jqAuto:{source:TinhThanhs,value: ID_KhuVuc, inputProp:'TenTinhThanh', valueProp:'ID',
                                                         labelProp:'TenTinhThanh',filter: $root.filterProvince}" autocomplete="off" id="text_TinhThanh">
                    </div>
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="QuanHuyen">
                <label>Quận huyện <span style="color:red">(*)</span></label>
                <div class="form-news _cobobox">
                    <div class="outselect ">
                        <input type="text" class="form-control ui-autocomplete-input" placeholder="Chọn quận huyện" data-bind="jqAuto:{source:QuanHuyens,value: ID_ViTri, inputProp:'TenQuanHuyen', valueProp:'ID',
                                                         labelProp:'TenQuanHuyen',filter: $root.filterProvinceQH}" autocomplete="off" id="text_QuanHuyen">
                    </div>
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="MaSoThue">
                <label>Mã số thuế <span style="color:red">(*)</span></label>
                <div class="form-news">
                    <input class="form-control" type="text">
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="KhachLe">
                <label>Khách lẻ <span style="color:red">(*)</span></label>
                <div class="form-news radio-button-leff">
                    <form name="gendersForm1">
                        <input type="radio" name="gender1" value="M" checked /> Cá nhân
                        <input type="radio" name="gender1" value="F" /> Công ty
                    </form>

                   
                </div>
                <span class="note-optin" hidden>
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title"></span>
                </span>
            </div>
            <div class="form-group floatleft" id="NguoiGioiThieu">
                <label>Người giới thiệu <span style="color:red">(*)</span></label>
                <div class="form-news">
                    <input class="form-control" type="text">
                </div>
                <span class="note-optin" id="tolTipGoiY">
                    <i class="fa fa-info-circle"></i>
                    <span href="javascript:void(0)" class="note-title" data-bind="text: GoiY()"></span>
                </span>
            </div>
        </div>
        <div class="col-md-12 row magin-top-15">
            <button type="button" class="btn btn-main pull-left no-magrin" style="border-radius: 4px;" data-bind="text: ButtonNameOF() == '' || ButtonNameOF() == null? 'Đăng ký': ButtonNameOF()">
            </button>
        </div>
    </div>

<script>
    $("._list-paramester .form-group .note-optin").on('mouseenter', ' i', function () {
        $('.note-title').hide();
        if ($(this).next('.note-title').text() !== '' && $(this).next('.note-title').text() !== undefined && $(this).next('.note-title').text() !== null) {
            $(this).next('.note-title').show();
        }
    });
    $("._list-paramester .form-group").on('mouseleave', ' .note-optin', function () {
        $('.note-title').hide();
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(130)
                    .height(95);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
<script src="~/Scripts/SDK/sdkcustomer.js"></script>