<link href="~/Content/datlichhen.css" rel="stylesheet" />
<link href="~/Content/dcalendar.picker.css" rel="stylesheet" />
<style>
    ._nhac-nho-partial .form-group label{
        width:60px !important;
        float:left;
    }
    ._nhac-nho-partial .form-group .form-news {
        width: calc(100% - 60px) !important;
        float: left;
    }
    #option_thang  label {
        width: 100px !important;
        float: left;
    }
    #option_thang  .form-news {
        width: calc(100% - 120px) !important;
        float: right;
    }
</style>
<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title"> Nhắc nhở</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12 _nhac-nho-partial">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group floatleft">
                        <label>Giờ</label>
                        <div class="form-news">
                            <input type="text" class="form-control text-center time-hour" >
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group floatleft">
                        <label>Ngày</label>
                        <div class="form-news add-icon-date">
                            <input type="text" class="form-control datetime">
                        </div>
                    </div>
                </div>
                  <div class="col-md-12">
                       
                        <label style="width:100% !important">Lặp lại<input type="checkbox" class="check-gui-mail check-lap-lai" checked></label>
                      <div class="col-md-12 nn-thong-tin-lap-lai">
                          <div class="form-group floatleft">
                              <label>Chu kỳ</label>
                              <div class="form-news form-2input">
                                  <input type="number" class="form-control "  >
                                 <select class="form-control" id="select_chuky">
                                     <option value="1">Ngày</option>
                                     <option value="2" >Tuần</option>
                                     <option value="3" >Tháng</option>
                                     <option value="4">Năm</option>
                                 </select>
                                  <div class="floatleft option-chu-ky ">
                                      <div class="form-group floatleft " id="option_thang" hidden>
                                         <label>Chọn ngày</label>
                                          <div class="form-news">
                                              <input type="text" class="form-control ">
                                              </div>
                                          </div>
                                      <div class="form-group floatleft calender-option-tuan " id="option_tuan" hidden>
                                          <ul>
                                              <li class="active">T2</li>
                                              <li>T3</li>
                                              <li>T4</li>
                                              <li>T5</li>
                                              <li>T6</li>
                                              <li>T7</li>
                                              <li>CN</li>
                                              </ul>
                                      </div>
                                      </div>
                              </div>
                          </div>
                          <div class="form-group floatleft">
                              <label>Kết thúc</label>
                              <div class="form-news ">
                                  <div class="form-ket-thuc">
                                      <div class="menuRadio">
                                          <ul>
                                              <li class="form-group floatleft">
                                                  <label style="width:100% !important"><input type="radio" name="radioketthuc" value="0"> Không bao giờ</label>
                                              </li>
                                              <li class="form-group floatleft" >
                                                  <label><input type="radio" name="radioketthuc"  value="1"> Ngày</label>
                                                  <div class="form-news add-icon-date">
                                                      <input type="text" class="form-control datetime">
                                                  </div>
                                              </li>
                                              <li  class="form-group floatleft">
                                                  <label><input type="radio" name="radioketthuc" value="2"> Sau</label>
                                                  <div class="form-news form-input-text">
                                                      <input type="text" class="form-control">
                                                      <span >Lần</span>
                                                  </div>
                                              </li>
                                          </ul>
                                      </div>
                                      </div>
                              </div>
                          </div>
                      </div>
                      <label style="width:100% !important">Gửi mail thông báo <input type="checkbox" class="check-gui-mail" ></label>
                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="modal-footer nopadding">
                <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                <button type="button" class="btn btn-main"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/dcalendar.picker.js"></script>
<script src="~/Content/js/Datetime/jquery.ui.datepicker-vi-VN.js"></script>
<script>
    $('.time-hour').mask('99:99').on("change", function (e) {
    });
    $('.check-lap-lai').on('change', function () {
        $('.nn-thong-tin-lap-lai').toggle();
    })
    $.datetimepicker.setLocale('vi');
    $('.datetime').datetimepicker({
        timepicker: false,
        mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
        format: 'd/m/Y',
        //value: moment(time).format('DD/MM/YYYY')
    });
    $('.nn-thong-tin-lap-lai').on('click', '.calender-option-tuan ul li ', function () {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active')
        }
        else {
            $(this).addClass('active')
        }
    });
    $('#select_chuky').on('change', function () {
        if ($(this).val() === '2') {
            $('#option_thang').hide();
            $('#option_tuan').show();
        }
        else if ($(this).val() === '3') {
            $('#option_thang').show();
            $('#option_tuan').hide();
        }
        else {
            $('#option_thang').hide();
            $('#option_tuan').hide();
        }
    })
    </script>