<style>
    ._op24-view-message-succes1 label {
        color: #0097c4;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        padding: 10px;
        padding-left: 22px;
        padding-top: 10px;
    }

    ._op24-view-message-succes label {
        color: #ff6363;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        padding: 10px;
        padding-left: 22px;
        padding-top: 10px;
    }

    ._op24-view-message-succes span, ._op24-view-message-succes1 span {
        font-size: 13px;
        font-weight: bold;
        padding: 10px;
        padding-left: 22px;
    }

    ._op24-view-message-succes .optin-close-popup, ._op24-view-message-succes1 .optin-close-popup {
        position: absolute;
        top: 15px;
        right: 21px;
    }

        ._op24-view-message-succes .optin-close-popup i, ._op24-view-message-succes1 .optin-close-popup i {
            color: #ccc;
            font-size: 22px;
        }

    #myModalThongBaoThanhCong .modal-dialog, #myModalThongBaoHieuLuc .modal-dialog draggable {
        top: 50%;
        left: 42%;
        margin: -100px 0 0 -150px;
        width: 550px;
    }
    </style>
          
<!-- Modal -->
<div class="modal fade" id="myModalThongBaoThanhCong" tabindex="-1"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog draggable modal-dialog-centered" role="document">
        <div class="modal-content">
         
            <div class="modal-body">
                <div class=" _op24-view-message-succes  ">
                    <label>Đăng ký thành công</label>
                    <span>(Nội dung thông báo)</span>
                    <a href="javascript:void(0)" class="optin-close-popup"data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalThongBaoHieuLuc" tabindex="-1"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog draggable modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class=" _op24-view-message-succes1">
                    <label>Thôn báo</label>
                    <span>(Nội dung hiệu lực)</span>
                    <a href="javascript:void(0)" class="optin-close-popup" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>