<style>
    #modal_QuestionUpdateEvent input[type=radio]{
        float:left!important;
    }
</style>
<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title" >
            Chỉnh sửa sự kiện lặp định kỳ
        </h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 col-xs-12 padding-topbottom7" id="thisEvent">
            <div class="col-sm-12 col-xs-12">
                <label>
                    <input type="radio" value="1" data-bind="checked: TypeUpdate" name="calendar-rdo">&nbsp;Chỉ sự kiện này
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 padding-topbottom7" id="thisEventandNext">
            <div class="col-sm-12 col-xs-12">
                <label style="width:auto!important">
                    <input type="radio" value="2" data-bind="checked: TypeUpdate" name="calendar-rdo2">&nbsp;Sự kiện này và các sự kiện sau
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 padding-topbottom7" id="allEvent">
            <div class="col-sm-12 col-xs-12">
                <label>
                    <input type="radio" value="3" data-bind="checked: TypeUpdate" name="calendar-rdo2">&nbsp; Tất cả các sự kiện
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 padding-topbottom7">
            <div class="col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-2" style="float:right; width:auto!important">
                <button type="button" class="btn btn-main" id="btnQuestion_OK"><i class="fa fa-floppy-o"></i>&nbsp;OK</button>
                <button type="button" class="btn btn-cancel" id="btnQuestion_Cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Cancel</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>

