@using Model
@using banhang24.Hellper
<style>
    .fade-scale {
        transform: scale(0);
        opacity: 0;
        -webkit-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
    }

        .fade-scale.in {
            opacity: 1;
            transform: scale(1);
        }

    #doitac .radio-button-leff label {
        width: 130px !important;
    }

        #doitac .radio-button-leff label a {
            color: #333 !important;
        }

    #nhanvienphoihop .li-input-span {
        float: left;
    }

    .daterangepicker.ltr {
        z-index: 9999;
    }

    .btn-work-add {
        position: absolute;
        right: 31px;
    }

        .btn-work-add a {
            border-top-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
        }

    .selec-person-150 {
        width: 150% !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/partial.css" />

    

    <div class="modal-content  draggable nopadding myModal1" id="myModal1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Tùy chọn </h4>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Lặp lại trong </label>
                <div class="col-10">
                    <input class=" form-control" type="number" value="1" id="repeat-number">
                    <select id="repeatbytime" class=" form-control">
                        <option value="1">Ngày</option>
                        <option value="2">Tuần</option>
                        <option value="3">Tháng</option>
                        <option value="4">Năm</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" id="weeklyon">
                <div class="col-10">
                    <label for="example-number-input" class="col-2 col-form-label">Hàng tuần vào</label>
                    <div class="weekDays-selector">
                        <input type="checkbox" id="weekday-mon" class="weekday" />
                        <label for="weekday-mon">2</label>
                        <input type="checkbox" id="weekday-tue" class="weekday" />
                        <label for="weekday-tue">3</label>
                        <input type="checkbox" id="weekday-wed" class="weekday" />
                        <label for="weekday-wed">4</label>
                        <input type="checkbox" id="weekday-thu" class="weekday" />
                        <label for="weekday-thu">5</label>
                        <input type="checkbox" id="weekday-fri" class="weekday" />
                        <label for="weekday-fri">6</label>
                        <input type="checkbox" id="weekday-sat" class="weekday" />
                        <label for="weekday-sat">7</label>
                        <input type="checkbox" id="weekday-sun" class="weekday" />
                        <label for="weekday-sun">CN</label>
                    </div>

                </div>
            </div>
            <div class="form-group row" id="monthly">
                <div class="col-10">
                    <label for="example-number-input" class="no-break-line col-2 col-form-label"> Hàng tháng vào </label>
                    <div class="col-10 no-break-line">
                        <select class="form-control" id="optionbymonth">
                            <option value="1">Vào ngày này hàng tháng </option>
                            <option value="2"> Vào thứ hai đầu tháng </option>
                        </select>
                        <span> </span>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="example-number-input" class="col-2 col-form-label">Kết thúc  </label>
                <br />
                <form id="optionform">
                    <div class="col-10 floatleft" style="margin-left:15px;">
                        <table>

                            <tr>
                                <td style="width:50px;">
                                    <input id="end-option1" name="radio-stacked" type="radio" class="custom-control-input" value="1">
                                    <span class="col-2 col-form-label">Không bao giờ</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:50px;">
                                    <input id="end-option2" name="radio-stacked" type="radio" class="custom-control-input" value="2">
                                    <span class="col-2 col-form-label"> Vào ngày </span>
                                </td>
                                <td>
                                    <input class="form-control " type="date" id="repeat-after-date">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:50px;">
                                    <input id="end-option3" name="radio-stacked" type="radio" class="custom-control-input" value="3">
                                    <span class="col-2"> Sau khi </span>
                                </td>
                                <td>
                                    <input class="form-control" type="number" value="1" id="repeat-after-time">
                                    <span class="col-2"> lần </span>
                                </td>
                            </tr>
                        </table>

                    </div>
                </form>
            </div>




        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-green" id="savemodaloption">                            Save</button>
            <button type="button" class="btn btn-gray" id="closemodaloption" data-dismiss="#myModal1">  Close</button>
            <span></span>

        </div>
    </div>



