<div class="modal-content ">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">Thêm mới khách hàng</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group floatleft">
                            <label class="form-label control-label">Mã khách hàng</label>
                            <div class="form-wrap">
                                <input type="text" class="form-control"
                                       placeholder="Mã mặc định">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label">Tên khách hàng <span style="color:red">(*)</span></label>
                            <div class="form-wrap">
                                <input type="text" class="form-control" autofocus="" required=""
                                       data-bind="value: Add_DoiTuongOF().TenDoiTuong">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label req ng-binding">Ngày sinh</label>
                            <div class="form-wrap">
                                <div class="choose-date-yaer">
                                    <div class="outselect add-customer">
                                        <input class="form-control text-right" id="datetime_NgaySinh" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group floatleft">
                            <label class="form-label control-label">Điện thoại</label>
                            <div class="form-wrap">
                                <input type="text" class="form-control" data-bind="value: Add_DoiTuongOF().SoDienThoai"
                                       maxlength="13">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label req ng-binding font400">Email</label>
                            <div class="form-wrap">
                                <input type="text" class="form-control" required="" maxlength="40" data-bind="value: Add_DoiTuongOF().Email">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label req ng-binding font400">Địa chỉ</label>
                            <div class="form-wrap">
                                <input type="text" class="form-control " required="" data-bind="value: Add_DoiTuongOF().DiaChi">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label req ng-binding font400">Tỉnh thành</label>
                            <div class="form-wrap">
                                <div class="outselect ">
                                    <input type="text" class="form-control ui-autocomplete-input" placeholder="Chọn tỉnh thành" data-bind="jqAuto:{source:TinhThanhs,value: ID_KhuVuc, inputProp:'TenTinhThanh', valueProp:'ID',
                                                         labelProp:'TenTinhThanh',filter: $root.filterProvince}" autocomplete="off" id="text_TinhThanh">
                                </div>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label req ng-binding font400">Quận huyện</label>
                            <div class="form-wrap">
                                <div class="outselect ">
                                    <input type="text" class="form-control ui-autocomplete-input" placeholder="Chọn quận huyện" data-bind="jqAuto:{source:QuanHuyens,value: ID_ViTri, inputProp:'TenQuanHuyen', valueProp:'ID',
                                                         labelProp:'TenQuanHuyen',filter: $root.filterProvinceQH}" autocomplete="off" id="text_QuanHuyen">
                                </div>
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label req ng-binding font400">Mã số thuế</label>
                            <div class="form-wrap">
                                <input type="text" class="form-control" required="" maxlength="13" data-bind="value: Add_DoiTuongOF().MaSoThue">
                            </div>
                        </div>
                        <div class="form-group floatleft">
                            <label class="form-label control-label font400">Ghi chú</label>
                            <div class="form-wrap"><textarea rows="1" class=" ng-pristine ng-untouched ng-valid ng-empty" data-bind="value: Add_DoiTuongOF().GhiChu">        </textarea></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class=" floatleft">
                            <div class="img-commodity ">
                                <div class="img-customer border-noscroll">
                                    <!--  ko if: HaveImage_Select() == false -->
                                    <a >
                                        <img src="~/Content/images/photo.png" />
                                    </a>
                                    <!-- /ko -->
                                    <ul data-bind="foreach: FilesSelect ">
                                        <!-- ko if: $index() == 0-->
                                        <li>
                                            <div class="img-customer">
                                                <img alt="" data-bind="attr: {src: URLAnh }" />
                                            </div>
                                            <a data-bind="click: $root.DeleteImg">
                                                <i class="fa fa-close red"></i>
                                            </a>
                                        </li>
                                        <!--/ko-->
                                    </ul>
                                </div>
                                <div class="choose-img floatleft">
                                    <span class="btn  btn-file form-control">
                                        Chọn ảnh
                                        @* <input type='file' id="imageUploadForm" name="files[]" accept=".png,.jpg,.jpeg,.gif" onchange="readURL(this);" />*@
                                        <input type="file" name="file" id="file" class="inputfile" multiple="" data-bind="event:{change: $root.fileSelect}" accept=".png,.jpg,.jpeg,.gif">
                                    </span>
                                    <p id="errorAnh" class="errorAnhHH" style="color:red"></p>
                                </div>
                            </div>
                            <ul class="img-list-c list-cus">
                                <!-- ko foreach: FilesSelect-->
                                <!-- ko if: $index() != 0-->
                                <li>
                                    <div class="img-item">
                                        <img alt="" data-bind="attr: {src: URLAnh }" />
                                    </div>
                                    <a data-bind="click: $root.DeleteImg">
                                        <i class="fa fa-close red"></i>
                                    </a>
                                </li>
                                <!--/ko-->
                                <!--/ko-->
                                <!-- ko if: HaveImage_Select() == false -->
                                <li>
                                    <div class="img-item">
                                    </div>
                                </li>
                                <li>
                                    <div class="img-item">
                                    </div>
                                </li>
                                <li>
                                    <div class="img-item">
                                    </div>
                                </li>
                                <li>
                                    <div class="img-item">
                                    </div>
                                </li>
                                <!--/ko-->
                            </ul>
                            <div class="deatal-custummer floatleft">
                                <div class="form-group floatleft">
                                    <label class="form-label control-label">Khách hàng là</label>
                                    <div class="form-news ">
                                        <div class="cheack-conpany col-md-12 col-sm-12 col-xs-12">
                                            <span class="c-personal">
                                                <input value="1" type="radio" name="company" data-bind="checked: add_LaCaNhan" /> Cá nhân
                                            </span>
                                            <span class="check-company">
                                                <input value="0" type="radio" name="company" data-bind="checked: add_LaCaNhan" /> Công ty
                                            </span>
                                        </div>
                                        <div class="check-personal col-md-12 col-sm-12 col-xs-12">
                                            <input value="1" type="radio" name="rdgioitinh" data-bind="checked: add_GioiTinh" /> Nam
                                            <input value="0" type="radio" name="rdgioitinh" data-bind="checked: add_GioiTinh" /> Nữ
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group floatleft">
                                <label class="form-label control-label">Nguồn khách</label>
                                <div class="input-group form-news">
                                    <div class="outselect add-customer">
                                        <div class="choose-person" data-toggle="dropdown" aria-expanded="false" id="choose_NguonKhach">
                                            <ul data-bind="foreach: NguonKhachChosed">
                                                <li class="li-input-span">
                                                    <span data-bind="text:TenNguonKhach">
                                                    </span>&nbsp;
                                                    <span data-bind="click: $parent.CloseNguonKhach">
                                                        <i class="fa fa-times"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                            <input type="text" class="dropdown form-control" placeholder="Chọn nguồn">
                                        </div>
                                       
                                        <div class="selec-person dropdown-menu floatleft" id="ddlNguonKhach">
                                            <ul data-bind="foreach: NguonKhachs">
                                                <li data-bind="text: TenNguonKhach, attr:{id: ID}, event:{click: $parent.ChoseNguonKhach}">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group floatleft">
                                <label class="form-label control-label">Người giới thiệu</label>
                                <div class="form-news ">
                                    <input type="text" class="form-control" placeholder="Chọn người giới thiệu">
                                </div>
                            </div>
                            <div class="form-group floatleft">
                                <label class="form-label control-label req ng-binding">Nhóm khách</label>
                                <div class="input-group form-news">
                                    <div class="outselect add-customer">
                                        <div @*class="choose-person"*@ data-toggle="dropdown" aria-expanded="false" id="choose_NhomDT">
                                            <ul data-bind="foreach: NhomDoiTuongChosed">
                                                <li class="li-input-span">
                                                    <span data-bind="html:TenNhomDoiTuong">
                                                    </span>&nbsp;
                                                    <span data-bind="click: $parent.CloseNhomDT">
                                                        <i class="fa fa-times"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                            <input type="text" class="dropdown form-control" style="width: 288px !important;" placeholder="Chọn nhóm">
                                        </div>
                                        <div class="selec-person dropdown-menu floatleft" id="ddlNhomDT">
                                            <ul data-bind="foreach: NhomDoiTuongDB">
                                                <li data-bind="text: TenNhomDoiTuong, attr:{id: ID}, event:{click: $parent.selectManyNhomDT}">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group floatleft" id="hidechecktrangthaikh">
                                <label class="form-label control-label">Trạng thái khách hàng</label>
                                <div class="input-group form-news">
                                    <select class="form-control border-radius" id="SL_TrangThaiKH">
                                        <option value="">-- Trạng thái khách hàng --</option>
                                        <!--ko foreach: TrangThaiKhachHang -->
                                        <option data-bind="value:ID,text:Name"></option>
                                        <!--/ko-->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group floatleft">
                                <label class="form-label control-label">Người tạo</label>
                                <div class="form-news">
                                    <input type="text" class="form-control" placeholder="Chọn người quản lý" disabled id="modalKH_txtNnguoiTao"
                                           data-bind="value: NguoiTao">
                                </div>
                            </div>
                            <div class="form-group floatleft">
                                <div class="flex flex-end">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i> Bỏ qua</button>
                                        <button type="button" class="btn btn-save" data-bind="click: $root.addKhachHang" id="btnLuuDoiTuong"> <i class="fa fa-save"></i> Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function chekPhone(e) {
        var keyCode = window.event.keyCode || e.which;
        var arrAscii = [32, 40, 41, 43, 45]; // space,(,),+, -,
        if (keyCode < 48 || keyCode > 57) {
            // 8: tab; 127: delete
            if (keyCode == 8 || keyCode == 127 || arrAscii.indexOf(keyCode) > -1) {
                return;
            }
            return false;
        }
    }
    function keypressNumber(e) {
        var keyCode = window.event.keyCode || e.which;
        if (keyCode < 48 || keyCode > 57) {
            // 8: tab; 127: delete
            if (keyCode == 8 || keyCode == 127) {
                return;
            }
            return false;
        }
    }
    $(document).on('click', '.c-personal', function () {
        $(".check-personal").show();
        $(".cheack-conpany").removeClass("tgg")
    });
    $(document).on('click', '.check-company', function () {
        $(".check-personal").hide();
        $(".cheack-conpany").addClass("tgg")
    })
    var loginUser = '@Session["user"]';
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(165)
                    .height(120);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<style>
    .li-input-span-chose1 {
        color: #333;
        line-height: 30px;
        text-align: left;
        padding: 0px 7px;
        margin: 1px 0 1px 1px;
        background: #ccffff;
        width: 100%;
    }
</style>
