<style>
    .table-thiet-lap-lam-viec {
        width: 450px;
        margin: 0px auto;
    }
    .table-thiet-lap-lam-viec thead tr td {
       font-weight:bold
    }
    #modalThietLapGioLamViec .modal-lg {
        width: 550px;
        margin: 0px auto;
        margin-top: 50px;
    }
    /*.table-thiet-lap-lam-viec td input[type=checkbox]{
        width:0px;
    }
    .table-thiet-lap-lam-viec td input[type=checkbox]:after {
     left:30px;
    }*/
        /*.table-thiet-lap-lam-viec td input[type=checkbox]:checked:after {
            left: 30px;
        }*/
    .table-thoi-gian{
        padding-bottom:30px;
        border-bottom:1px solid black;
    }
    .table-thiet-lap-lam-viec td input[type=text] {
        background: var(--color-main) !important;
        border: none !important;
        color: white !important;
        font-weight: bold;
        font-size: 13px;
    }
        .table-thiet-lap-lam-viec td input[type=text][disabled] {
            background: #ccc !important;
        }
    #modalThietLapGioLamViec .modal-body {
        max-height: 600px;
        overflow: auto;
    }
    </style>
<div class="modal fade in" id="modalThietLapGioLamViec">
    <div class="modal-dialog draggable modal-lg ">
        <div class="modal-content  ui-draggable">
            <div class="modal-header ui-draggable-handle">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                <h4 class="modal-title">
                    Thiết lập giờ làm việc
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="floatleft table-thoi-gian">
                        <table class="table-thiet-lap-lam-viec">
                            <thead>
                                <tr>
                                    <td>Ngày</td>
                                    <td style="    width: 80px;" >Làm việc</td>
                                    <td style="    width: 120px;" class="text-center">Thời gian bắt đầu</td>
                                    <td style="    width: 120px;"class="text-center">Ngày kết thúc</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Thứ hai</td>
                                    <td><input type="checkbox" class="check-su-dung" checked></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                </tr>
                                <tr>
                                    <td>Thứ ba</td>
                                    <td><input type="checkbox" class="check-su-dung" checked></td>
                                    <td class=" form-check-left"><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                    <td class=" form-check-left"><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                </tr>
                                <tr>
                                    <td>Thứ tư</td>
                                    <td><input type="checkbox" class="check-su-dung" checked></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                </tr>
                                <tr>
                                    <td>Thứ năm</td>
                                    <td><input type="checkbox" class="check-su-dung" checked></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                </tr>
                                <tr>
                                    <td>Thứ sáu</td>
                                    <td><input type="checkbox" class="check-su-dung" checked></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                </tr>
                                <tr>
                                    <td>Thứ bảy</td>
                                    <td><input type="checkbox" class="check-su-dung" checked></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00"></td>
                                </tr>
                                <tr>
                                    <td>Chủ nhật</td>
                                    <td><input type="checkbox" class="check-su-dung"></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00" disabled></td>
                                    <td><input type="text" class="form-control td-time-hour text-center" value="00:00" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                        <div class="floatleft thoi-gian-ngay-le margin-botton-15">
                            <div class="form-group floatleft">
                                <label>Ngày nghỉ lễ</label>
                                </div>
                            <div class="form-group floatleft">
                                <div class="outselect">
                                    <div class=" choose-person floatleft " data-toggle="dropdown" aria-expanded="false">
                                        <ul >
                                            <li class="li-input-span">
                                                <span >01/01/2019</span>
                                                <span >
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" class="dropdown datetime-ngay-le" style="opacity: 0;">
                                    </div>
                                    <div class="selec-person dropdown-menu" hidden="">
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="floatleft margin-botton-15">
                            <div class="col-md-12 nopadding">
                                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                                    <button type="button" class="btn btn-save">
                                        <i class="fa fa-save" aria-hidden="true"></i>&nbsp; Lưu
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.datetime-ngay-le').datetimepicker({
            timepicker: false,
            mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
            format: 'd/m/Y',
            //value: moment(time).format('DD/MM/YYYY')
        });
        $('.table-thiet-lap-lam-viec').on('change', 'tbody tr td .check-su-dung', function () {
            $(this).closest('td').closest('tr').find('td').each(function () {
                if ($(this).find('input').hasClass('td-time-hour')) {
                    if ($(this).find('input').is(':disabled')) {
                        $(this).find('input').prop("disabled", false);
                    }
                    else {
                        $(this).find('input').prop("disabled", true);
                    }
                }
            });
        })
    });
    </script>