
<div class="modal-content  ui-draggable">
    <div class="modal-header ui-draggable-handle">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">
           Xử lý lịch hẹn
        </h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12  nopadding">
            <div class=" col-md-12 nopadding  tab-news-modal  form-xu-ly-lich-hen">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h4>Thông tin khách hàng đăng ký <a href="javascript:void(0)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h4>
                        <div class="form-group floatleft">
                            <label>Tên khách hàng</label>
                            <div class="form-news">
                                Nguyễn Văn A
                                </div>

                            </div>
                        <div class="form-group floatleft">
                            <label>Số điện thoại</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Email</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft not-border">
                            <p class="chi-tiet-lh">Chi tiết lịch hẹn</p>
                        </div>
                        <div class="form-group floatleft ">
                            <label>Số lượng đi nhóm</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Chi nhánh</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Dịch vụ</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Thời gian</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Nhân viên yêu cầu</label>
                            <div class="form-news">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>Thông tin khách hàng trên hệ thống</h4>
                        <div class="form-group floatleft">
                            <label>Mã khách hàng</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Tên khách hàng</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Giới tính</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Số điện thoại</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Email</label>
                            <div class="form-news">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Địa chỉ</label>
                            <div class="form-news">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 nopadding">
                <div class="modal-footer nopadding">
                    <button type="button" class="btn btn-main">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Thêm mới khách hàng
                    </button>
                    <button type="button" class="btn btn-main"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                     Cập nhật khách hàng
                    </button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>
                   
                </div>
            </div>
        </div>


    </div>

</div>