
<div class="modal-content  ui-draggable">
    <div class="modal-header ui-draggable-handle">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
        <h4 class="modal-title">
            Xử lý thông tin khách hàng đăng ký
        </h4>
    </div>
    <div class="modal-body">
        <div class="col-md-12  nopadding">
            <div class=" col-md-12 nopadding  tab-news-modal  form-xu-ly-lich-hen">
                <div class="row">
                    <p class="waring-phone">Số điện thoại đăng ký đã tồn tại trên hệ thống!</p>
                    <div class="col-md-6 col-xs-12 form-xu-ly-lich-hen-dk">
                        <div class="form-group floatleft not-border">
                        <h4>Thông tin khách hàng đăng ký </h4>
                            <input type="checkbox" class="checkbox-modal check-all" checked>
                            </div>
                        <div class="form-group floatleft" style="margin-top: 40px!important;">
                            <label>Tên khách hàng</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().TenDoiTuong">
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>
                        <div class="form-group floatleft">
                            <label>Số điện thoại</label>
                            <div class="form-news"  data-bind="text: DoiTuongXuLy().SoDienThoai">
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>
                        <div class="form-group floatleft">
                            <label>Giới tính</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().GioiTinh">
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>
                        <div class="form-group floatleft">
                            <label>Ngày sinh</label>
                            <div class="form-news" data-bind="text: moment(DoiTuongXuLy().NgaySinh).format('DD/MM/YYYY')!='Invalid date'? moment(DoiTuongXuLy().NgaySinh).format('DD/MM/YYYY'):''">
                               
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>

                        <div class="form-group floatleft">
                            <label>Email</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().Email">
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>
                       
                        <div class="form-group floatleft ">
                            <label>Địa chỉ</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().DiaChi">
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>
                        <div class="form-group floatleft">
                            <label>Mã số thuế</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().MaSoThue">
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>
                        <div class="form-group floatleft">
                            <label>Khách hàng lẻ</label>
                            <div class="form-news"  data-bind="text: DoiTuongXuLy().LaCaNhan">
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>
                        <div class="form-group floatleft">
                            <label>Người giới thiệu</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().NguoiGioiThieu">
                            </div>
                            <input type="checkbox" class="checkbox-modal" checked>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h4>Thông tin khách hàng trên hệ thống</h4>
                        <div class="form-group floatleft">
                            <label>Mã khách hàng</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().MaKhachHang">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Tên khách hàng</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().TenKhachHang">
                            </div>

                        </div>

                        <div class="form-group floatleft">
                            <label>Số điện thoại</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().DienThoaiKhachHang">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Giới tính</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().GioiTinhKhachHang == 1? 'Nam': 'Nữ'">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Ngày sinh</label>
                            <div class="form-news" data-bind="text: moment(DoiTuongXuLy().NgaySinhKhachHang).format('DD/MM/YYYY')!='Invalid date'? moment(DoiTuongXuLy().NgaySinhKhachHang).format('DD/MM/YYYY'):''">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Email</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().EmailKhachHang">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Địa chỉ</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().DiaChiKhachHang">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Mã số thuế</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().MaSoThueKhachHang">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Khách hàng lẻ</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().LaCaNhanKhachHang == true? 'Cá nhân': 'Công ty'">
                            </div>

                        </div>
                        <div class="form-group floatleft">
                            <label>Người giới thiệu</label>
                            <div class="form-news" data-bind="text: DoiTuongXuLy().NguoiGioiThieuKhachHang">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 nopadding">
                <div class="modal-footer nopadding">
                    <button type="button" class="btn btn-main"  data-bind="click: Update_KhachHangSDT" data-toggle="modal">
                        <i class="fa fa-plus" aria-hidden="true" ></i>
                        Thêm mới khách hàng
                    </button>
                    <button type="button" class="btn btn-main"  data-bind="click: Update_KhachHangSDT" data-toggle="modal">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Cập nhật khách hàng
                    </button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Bỏ qua</button>

                </div>
            </div>
        </div>


    </div>

</div>
<script>
    $('.form-xu-ly-lich-hen-dk').on('change', '.check-all', function () {
        var check = $(this).is(':checked');
        $('.form-xu-ly-lich-hen-dk .form-group').each(function () {
            $(this).find('.checkbox-modal').prop('checked', check )
        });
    })
    </script>