<link href="~/Content/Marketing.css" rel="stylesheet" />
<style>
    ._td-thoi-gian span {
        width: 55px;
        float: left;
    }
    ._td-thoi-gian select {
        width: calc(100% - 60px);
        float: right;
    }
    ._tr-thiet-lap-thoi-gian{
        display:none;
    }
</style>
<div class="col-md-12 add-option-kh">
    <div class="col-md-12 nopadding">
        <h2 class="pull-left title">
            Marketing/Optin Form/Thêm mới Optin Form lịch hẹn
        </h2>
    </div>
    <div class="col-md-12 nopadding magin-top-15">
        <div class="row">
            <div class="col-md-6 ">
                <div class="form-group floatleft">
                    <label>Tên biểu mẫu <span style="color:red">(*)</span></label>
                    <div class="form-news">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label>Nội dung</label>
                    <div class="form-news">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label>Ghi chú </label>
                    <div class="form-news">
                        <textarea rows="4"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 magin-top-15">
        <div class="row">
            <div class="mr-header-l">
                <ul class="nav nav-pills nav-marketing ">
                    <li class="active"><a data-toggle="tab" class="text-center" href="#tab_b1"><label>Bước 1:</label><br /> Các thông tin cần lấy</a></li>
                    <li><a data-toggle="tab" href="#tab_b2" class="text-center"><label>Bước 2:</label><br /> Thiết lập</a></li>
                    <li><a data-toggle="tab" href="#tab_b3" class="text-center"><label>Bước 3:</label><br />Mã nhúng</a></li>
                </ul>
            </div>
            <div class="mr-header-r">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_b1">
                        <div class="col-md-12 ">
                            <div class="row tab-Steps">
                                <div class="tab-add-optinform-l tab-ot-lien-he-l">
                                    <div class="floatleft">
                                        <span class="tab-b1-head-title">Chọn trường thông tin >></span>
                                        <select class="form-control tab-b1-head-select">
                                            <option>
                                                -- Chọn form --
                                            </option>
                                        </select>
                                    </div>
                                    <div class="floatleft _table-paramaster">
                                        <div class="table-res table-2n margin-bot-15">
                                            <table id="_table-b1">
                                                <thead class="thead-boder">
                                                    <tr>
                                                        <th style="width:50px;">
                                                            #
                                                        </th>
                                                        <th>
                                                            Trường thông tin
                                                        </th>
                                                        <th class="text-center" style="    width: 85px;">
                                                            Sử dụng
                                                        </th>
                                                        <th class="text-center" style="    width: 100px;">
                                                            Bắt buộc nhập
                                                        </th>
                                                        <th>
                                                            Hiển thị gợi ý
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Chọn chi nhánh</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox"  class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc"checked>
                                                        </td>
                                                        <td>
                                                            <textarea rows="1" class="_tex-goi-y"> </textarea>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Xưng hô</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Khách hàng</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td><textarea rows="1" class="_tex-goi-y"> </textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Bạn đi theo nhóm</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td><textarea rows="1" class="_tex-goi-y"> </textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Số điện thoại</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td><textarea rows="1" class="_tex-goi-y"> </textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Email</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td><textarea rows="1" class="_tex-goi-y"> </textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Dịch vụ yêu cầu</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td><textarea rows="1" class="_tex-goi-y"> </textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td class="_td-thoi-gian"><span>Thời gian</span><select class="form-control" id="select_thiet_lap_thoi_gian">
                                                            <option value="1">Nhập thời gian</option>
                                                             <option value="2">Chọn khung thời gian</option>
                                                              </select></td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td><textarea rows="1" class="_tex-goi-y"> </textarea></td>
                                                    </tr>
                                                    <tr  >
                                                        <td></td>
                                                        <td><a href="javascript:void(0)" data-toggle="modal" data-target="#modalThietLapGioLamViec" >Thiết lập ngày giờ làm việc</a></td>
                                                        <td class=" form-check-left" >
                                                           <span class="_tr-thiet-lap-thoi-gian"> Quãng giờ</span>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="text"  class="form-control td-time-hour text-center _tr-thiet-lap-thoi-gian" style="    font-size: 14px;" value="00:30">
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>Mã nhân viên thực hiện</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td><textarea rows="1" class="_tex-goi-y"> </textarea></td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>Ghi chú</td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" checked>
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" checked>
                                                        </td>
                                                        <td><textarea rows="1" class="_tex-goi-y"> </textarea></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-add-optinform-r tab-ot-lien-he-r">
                                    <div class="floatleft b1-view">
                                        <span class="tab-b1-head-title">Xem trước >></span>
                                        <div id="view-optin">
                                            <div class="mr-option-bor _table-paramaster-view vew-screen-full">
                                                <div class="col-md-12 row mr-optin-title">
                                                    <a href="javascript:void(0)" class="view-full-scren"><i class="fa fa-arrows-alt icon-view-full" aria-hidden="true"></i></a>
                                                </div>
                                                @Html.Partial("_MaNhungTableLichHenPartial")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab_b2">
                        <div class="col-md-12 ">
                            <div class="row tab-Steps">
                                <div class="col-md-6">
                                    <div class="floatleft">
                                        <span class="tab-b1-head-title">Chọn trường thông tin >></span>
                                    </div>
                                    <div class="floatleft  magin-top-15">
                                        <div class="tab-b2-form">
                                            <label>(1) Sau khi khách hàng đăng ký thành công</label>
                                            <p>Nội dung thông báo sau khi khách hàng đăng ký thành công</p>
                                            <textarea rows="3" placeholder="Nhập nội dung thông báo..."></textarea>
                                        </div>
                                        <div class="tab-b2-form">
                                            <p>Điều hướng sang một trang cụ thể sau khi khách hàng đăng ký thành công</p>
                                            <input type="text" class="form-control" placeholder="Nhập đường dẫn trang điều hướng...">
                                        </div>
                                        <div class="tab-b2-form">
                                            <label>(2) Cài đặt thời gian biểu mẫu có hiệu lực <input type="checkbox" class="check-hieu-luc" checked></label>
                                            <p>Áp dụng cho những biểu mẫu giới hạn thời gian đăng ký. VÍ dụ: Biểu mẫu đăng ký nhận khuyến mãi...</p>
                                            <div class=" b2-date ">
                                                <div class="form-group">
                                                    <label>Từ ngày</label>
                                                    <div class="form-news add-icon-date">
                                                        <input class="form-control text-right" id="datetime_TuNgay" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" b2-date ">
                                                <div class="form-group">
                                                    <label style="text-align:right !important;    padding-right: 10px;">Đến ngày</label>
                                                    <div class="form-news add-icon-date">
                                                        <input class="form-control text-right" id="datetime_DenNgay" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-b2-form">
                                            <p>Hiển thị nội dung thông báo khi khách hàng click vào link biểu mẫu đã hết hiệu lực</p>
                                            <textarea rows="2" class="_thong-bao-hieu-luc" placeholder="Nhập nội dung thông báo..."></textarea>
                                        </div>
                                        <div class="tab-b2-form">
                                            <label>(3) Thay đổi tên nút đăng ký</label>
                                            <p>Nhập tên nút đăng ký</p>
                                            <input type="text" class="form-control" placeholder="Đăng ký...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floatleft">
                                        <span class="tab-b1-head-title">Xem trước >></span>
                                    </div>
                                    <div class="floatleft  magin-top-15">
                                        <div class="tab-b2-form">
                                            <label>(1) Sau khi khách hàng đăng ký thành công</label>
                                            <p>Nội dung thông báo sau khi khách hàng đăng ký thành công</p>
                                            <div class="b2-view-s1">
                                                <label>Đăng ký thành công</label>
                                                <span>(Nội dung thông báo)</span>
                                                <a href="javascript:void(0)" class="optin-close-popup"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-b2-form">
                                            <label>(2) Biểu mẫu hết hiệu lực</label>
                                            <p>Thông báo khi khách hàng click vào link biểu mẫu hết hiệu lực</p>
                                            <div class="b2-view-s2">
                                                <label>Thông báo</label>
                                                <span>(Nội dung thông báo)</span>
                                                <a href="javascript:void(0)" class="optin-close-popup"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-b2-form">
                                            <label>(3) Nút đăng ký</label>
                                            <button type="button" class="btn btn-main pull-left no-magrin" style="border-radius: 4px;margin-top:10px  !important">
                                                Đăng ký
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab_b3">
                        <div class="col-md-12 ">
                            <div class="row tab-Steps tab-Steps3 ">
                                <div class="tab-add-optinform-l tab-ot-lien-he-l">
                                    <div class="floatleft">
                                        <span class="tab-b1-head-title">Mã code Javascript >></span>
                                    </div>
                                    <div class="floatleft _table-paramaster">
                                        <div class="ma-nhung">
                                            <p class="_text-ma-nhung">Mã nhúng, Mã nhúng</p>
                                            <button type="button" class="btn btn-main pull-right _btn-dl" style="    border-radius: 4px;">
                                                Copy
                                            </button>
                                        </div>
                                    </div>
                                 
                                </div>
                                <div class="tab-add-optinform-r tab-ot-lien-he-r">
                                    <div class="floatleft ">
                                        <span class="tab-b1-head-title">Xem trước >></span>
                                        <div id="view-optin1">
                                            <div class="mr-option-bor _table-paramaster-view vew-screen-full">
                                                <div class="col-md-12 row mr-optin-title">
                                                    <a href="javascript:void(0)" class="view-full-scren"><i class="fa fa-arrows-alt icon-view-full" aria-hidden="true"></i></a>
                                                </div>
                                                @Html.Partial("_MaNhungTableLichHenPartial")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floatleft footer-optionform">
        <button type="button" class="btn btn-save">
            <i class="fa fa-save"></i>&nbsp;
            <span class="btnLuuHangHoa">Lưu</span>
        </button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal" onclick="back()"><i class="fa fa-ban"></i>Hủy bỏ</button>
    </div>
</div>
@Html.Partial("_ThietLapGioLamViecPartial")
<script>
    function back() {
        location.href = '/#/optinForm'
    }
    $(function () {
        $('#select_thiet_lap_thoi_gian').on('change', function () {
            if ($(this).val() === '1' || $(this).val() === 1) {
                $('._tr-thiet-lap-thoi-gian').hide();
                $('._calender_time').hide();
            }
            else {
                $('._tr-thiet-lap-thoi-gian').show();
                $('._calender_time').show();
            }
        });
        $('.sl_nhanvien').on('click', function () {
            $('.tree-conpany').toggle();
            $('.tree-select-staff').toggle();
        });
        $('.td-time-hour').mask('99:99').on("change", function (e) {
        });
        $.datetimepicker.setLocale('vi');
        $('#datetime_TuNgay').datetimepicker({
            timepicker: false,
            mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
            format: 'd/m/Y',
            //value: moment(time).format('DD/MM/YYYY')
        });
        $('#datetime_DenNgay').datetimepicker({
            timepicker: false,
            mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
            format: 'd/m/Y',
            //value: moment(time).format('DD/MM/YYYY')
        });
    });
    var check = true;
    $('#_table-b1 tbody tr td .check-su-dung').on('change', function () {
        var index = $(this).closest('td').closest('tr').index();
        if (index === 0) {
            debugger
            $('.tree-conpany').toggle();
            if (check === true) {
                $('.tree-select-staff').toggle();
                $('.save-select-staff').toggle();
                $('.staff-perform').find('a').toggle();
            }
            if ($('.tree-conpany').css('display') === 'none' && $('.tree-select-staff').css('display') === 'none') {
                $('.op-lh-w70').addClass('_opwid100');
            }
            else {
                $('.op-lh-w70').removeClass('_opwid100');
            }
        }
        else if (index === 1) {
            if ($("._xungho").closest('.form-ip-2').hasClass('xungho-enable')) 
                {
                $("._xungho").closest('.form-ip-2').removeClass('xungho-enable');
                }
                else{
                $("._xungho").closest('.form-ip-2').addClass('xungho-enable');
                }
        }
        else if (index === 2) {
            $('._khachhang').toggle();
        }
        else if (index === 3) {
            $('._theonhom').toggle();
        }
        else if (index === 4) {
            $('._dienthoai').toggle();
        }
        else if (index === 5) {
            $('._email').toggle();
        }
        else if (index === 6) {
            $('._dichvuyc').toggle();
        }
        else if (index === 7) {
            $('._thoigian').toggle();
        }
        else if (index === 9) {
            $('._nhanvien').toggle();
            if ($($('._nhanvien')[0]).css('display') !== 'none')
            {
                check = true;
            }
            else {
                check = false;
            }
            if ($('.tree-conpany').css('display') === 'none' && $('.tree-select-staff').css('display') === 'none') {
                $('.op-lh-w70').addClass('_opwid100');
            }
            else {
                $('.op-lh-w70').removeClass('_opwid100');
            }
        }
        else if (index === 10) {
            $('._ghichu').toggle();
        }
    });
    $('#_table-b1 tbody ').on('change', 'tr td ._tex-goi-y', function () {
        var index = $(this).closest('td').closest('tr').index();
        var text = $(this).val();
        if (index === 0) {
            $('._span-chi-nhanh').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('._span-chi-nhanh').hide();
            }
            else {
                $('._span-chi-nhanh').show();
            }
        }
        else if (index === 2) {
            $('._span-khachhang').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('._span-khachhang').hide();
            }
            else {
                $('._span-khachhang').show();
            }
        }
        else if (index === 3) {
            $('._span-theo-nhom').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('._span-theo-nhom').hide();
            }
            else {
                $('._span-theo-nhom').show();
            }
        }
        else if (index === 4) {
            $('._span-phone').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('._span-phone').hide();
            }
            else {
                $('._span-phone').show();
            }
        }
        else if (index === 5) {
            $('._span-email').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('._span-email').hide();
            }
            else {
                $('._span-email').show();
            }
        }
        else if (index === 6) {
            $('._span-dich-vu-yc').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('.__span-dich-vu-yc').hide();
            }
            else {
                $('._span-dich-vu-yc').show();
            }
        }
        else if (index === 7) {
            $('._span-thoi-gian').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('._span-thoi-gian').hide();
            }
            else {
                $('._span-thoi-gian').show();
            }
        }
        else if (index === 9) {
            $('._span-nhan-vien').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('._span-nhan-vien').hide();
            }
            else {
                $('._span-nhan-vien').show();
            }
        }
        else if (index === 10) {
            $('._span-ghi-chu').find('.note-title').html(text);
            if (text === null
                || text === ''
                || text === undefined) {
                $('._span-ghi-chu').hide();
            }
            else {
                $('._span-ghi-chu').show();
            }
        }
    });
    $('#_table-b1 tbody tr td .check-bat-buoc').on('change', function () {
        var index = $(this).closest('td').closest('tr').index();
        if (index === 0) {
            $('._chinhanhlabel').find('span').toggle();
        }
        else if (index === 1) {
        }
        else if (index === 2) {
            $('._khachhang').find('label').find('span').toggle();
        }
        else if (index === 3) {
            if ($(this).is(':checked')) {
                $('._theonhom').find('.check-theo-nhom').prop('checked', true);
                $('._theonhom').find('.form-ip-so-luong').show();
            }
            else {
                $('._theonhom').find('.check-theo-nhom').prop('checked', false);
                $('._theonhom').find('.form-ip-so-luong').hide();
            }
        }
        else if (index === 4) {
            $('._dienthoai').find('label').find('span').toggle();
        }
        else if (index === 5) {
            $('._email').find('label').find('span').toggle();
        }
        else if (index === 6) {
            $('._dichvuyc').find('label').find('span').toggle();
        }
        else if (index === 7) {
            $('._thoigianlabel').find('span').toggle();
        }
        else if (index === 9) {
            $('._nhanvienlabel').find('span').toggle();
        }
        else if (index === 10) {
            $('._ghichu').find('label').find('span').toggle();
        }
    });
    $('#_table-b1 tbody tr td ._tex-goi-y').on('change', function () {
        var index = $(this).closest('td').closest('tr').index();
        var text = $(this).val();
        $('.b1-view ._table-paramaster-view .mr-optin-table ._list-paramester .form-group').each(function (i) {
            if (i === index) {
                $(this).find('.note-optin').find('.note-title').html(text);
                if (text === null
                    || text === ''
                    || text === undefined) {
                    $(this).find('.note-optin').hide();
                }
                else if ($(this).css('display') !== 'none') {
                    $(this).find('.note-optin').show();
                }
            }
        })
    });
    $('.check-hieu-luc').on('change', function () {
        if (!$(this).is(':checked')) {
            $('#datetime_TuNgay').prop("readonly", true);
            $('#datetime_DenNgay').prop("readonly", true);
            $('._thong-bao-hieu-luc').prop("readonly", true);
        }
        else {
            $('#datetime_TuNgay').prop("readonly", false);
            $('#datetime_DenNgay').prop("readonly", false); $('._thong-bao-hieu-luc').prop("readonly", false);
        }
    })
    var elem = document.getElementById("view-optin");
    var elem1 = document.getElementById("view-optin1");
    $('#view-optin .view-full-scren').on('click', function () {
        $('.view-full-scren').hide();
        $('#view-optin').find('.vew-screen-full').addClass('height-100');
        $('#view-optin').find('.vew-screen-full').addClass('scroll-view');
        $('#view-optin').find('.vew-screen-full').find('.lich-hen-otinform').addClass('view-full-optin-lh');
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
        }
    })
    $('#view-optin1 .view-full-scren').on('click', function () {
        $('.view-full-scren').hide();
        $('#view-optin1').find('.vew-screen-full').addClass('height-100');
        $('#view-optin1').find('.vew-screen-full').addClass('scroll-view');
        $('#view-optin1').find('.vew-screen-full').find('.lich-hen-otinform').addClass('view-full-optin-lh');
        if (elem1.requestFullscreen) {
            elem1.requestFullscreen();
        } else if (elem1.mozRequestFullScreen) { /* Firefox */
            elem1.mozRequestFullScreen();
        } else if (elem1.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem1.webkitRequestFullscreen();
        } else if (elem1.msRequestFullscreen) { /* IE/Edge */
            elem1.msRequestFullscreen();
        }
    })
    if (document.addEventListener) {
        document.addEventListener('webkitfullscreenchange', exitHandler, false);
        document.addEventListener('mozfullscreenchange', exitHandler, false);
        document.addEventListener('fullscreenchange', exitHandler, false);
        document.addEventListener('MSFullscreenChange', exitHandler, false);
    }
    function exitHandler() {
        if (!document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
            $('.view-full-scren').show();
            $('#view-optin').find('.vew-screen-full').removeClass('height-100');
            $('#view-optin1').find('.vew-screen-full').removeClass('height-100');
            $('#view-optin').find('.vew-screen-full').removeClass('scroll-view');
            $('#view-optin1').find('.vew-screen-full').removeClass('scroll-view');
            $('#view-optin').find('.vew-screen-full').find('.lich-hen-otinform').removeClass('view-full-optin-lh');
            $('#view-optin1').find('.vew-screen-full').find('.lich-hen-otinform').removeClass('view-full-optin-lh');
        }
    }
    $('.selec-person ul').on('click', 'li', function () {
        var text = $(this).find('span').text();
        $(this).closest('ul').closest('.selec-person').prev('.choose-person').find('span').text(text);
    });
</script>
