@using System.Web.Optimization;
<link href="~/Content/Marketing.css" rel="stylesheet" />
<style>
</style>
<div class="col-md-12 add-option-kh">
    <div class="col-md-12 nopadding">
        <h2 class="pull-left title">
            Marketing/Optin Form/Thêm mới Optin Form
        </h2>
    </div>
    <div class="col-md-12 nopadding magin-top-15">
        <div class="row">
            <div class="col-md-6 ">
                <div class="form-group floatleft">
                    <label>Tên biểu mẫu <span style="color:red">(*)</span></label>
                    <div class="form-news">
                        <input type="text" class="form-control" id="text_TenOF" data-bind="value: TenOF" />
                    </div>
                </div>
                <div class="form-group floatleft">
                    <label>Nội dung</label>
                    <div class="form-news">
                        <input type="text" class="form-control" id="text_NoiDungOF" data-bind="value: NoiDungOF"  />
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group">
                    <label>Ghi chú</label>
                    <div class="form-news">
                        <textarea rows="4" id="text_GhiChuOF" data-bind="value: GhiChuOF" ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 magin-top-15">
        <div class="row">
            <div class="mr-header-l">
                <ul class="nav nav-pills nav-marketing ">
                    <li class="active"><a data-toggle="tab" class="text-center" href="#tab_b1"><label>Bước 1:</label><br /> Các thông tin cần lấy</a></li>
                    <li><a data-toggle="tab" href="#tab_b2" class="text-center"><label>Bước 2:</label><br /> Thiết lập</a></li>
                    <li><a data-toggle="tab" href="#tab_b3" class="text-center"><label>Bước 3:</label><br />Mã nhúng</a></li>
                </ul>
            </div>
            <div class="mr-header-r">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_b1">
                        <div class="col-md-12 ">
                            <div class="row tab-Steps">
                                <div class="tab-add-optinform-l">
                                    <div class="floatleft">
                                        <span class="tab-b1-head-title">Chọn trường thông tin >></span>
                                        <select class="form-control tab-b1-head-select" id="OptinForm_filter">
                                            <option value="">-- Chọn form --</option>
                                            <!--ko foreach: DM_OptinForm -->
                                            <option data-bind="value:ID,text:TenOptinForm"></option>
                                            <!--/ko-->
                                        </select>
                                      
                                    </div>
                                    <div class="floatleft _table-paramaster">
                                        <div class="table-res table-2n margin-bot-15">
                                            <table id="_table-b1">
                                                <thead class="thead-boder">
                                                    <tr>
                                                        <th style="width:50px;">
                                                            STT
                                                        </th>
                                                        <th>
                                                            Trường thông tin
                                                        </th>
                                                        <th class="text-center" style="    width: 85px;">
                                                            Sử dụng
                                                        </th>
                                                        <th class="text-center" style="    width: 100px;">
                                                            Bắt buộc nhập
                                                        </th>
                                                        <th>
                                                            Hiển thị gợi ý
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach: OF_TruongThongTin">
                                                    <tr>
                                                        <td data-bind="text: STT"></td>
                                                        <td data-bind="text: TenTruongThongTin"></td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-su-dung" data-bind="checked: checkSuDung, event: { change: $parent.valueSD_changed }">
                                                        </td>
                                                        <td class=" form-check-left">
                                                            <input type="checkbox" class="check-bat-buoc" data-bind="checked: checkBatBuoc, event: { change: $parent.valueBB_changed }">
                                                        </td>
                                                        <td>
                                                            <textarea rows="1" class="_tex-goi-y" data-bind="value: GoiY" ></textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-add-optinform-r">
                                    <div class="floatleft b1-view">
                                        <span class="tab-b1-head-title">Xem trước >></span>
                                        <div id="view-optin">
                                            <div class="mr-option-bor _table-paramaster-view vew-screen-full">
                                                <div class="col-md-12 row mr-optin-title">
                                                    <a href="javascript:void(0)" class="view-full-scren"><i class="fa fa-arrows-alt icon-view-full" aria-hidden="true"></i></a>
                                                </div>
                                                @Html.Partial("_MaNhungTableKhacHangPartial")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab_b2">
                        <div class="col-md-12 ">
                            <div class="row tab-Steps">
                                <div class="col-md-6">
                                    <div class="floatleft">
                                        <span class="tab-b1-head-title">Chọn trường thông tin >></span>
                                    </div>
                                    <div class="floatleft  magin-top-15">
                                        <div class="tab-b2-form">
                                            <label>(1) Sau khi khách hàng đăng ký thành công</label>
                                            <p>Nội dung thông báo sau khi khách hàng đăng ký thành công</p>
                                            <textarea rows="3" id="text_ThongBaoThangCongOF" data-bind="value: ThongBaoThanhCongOF"  placeholder="Nhập nội dung thông báo..."></textarea>
                                        </div>
                                        <div class="tab-b2-form">
                                            <p>Điều hướng sang một trang cụ thể sau khi khách hàng đăng ký thành công</p>
                                            <input type="text" class="form-control"id="text_WebDieuHuongOF" data-bind="value: WebDieuHuongOF"  placeholder="Nhập đường dẫn trang điều hướng...">
                                        </div>
                                        <div class="tab-b2-form">
                                            <label>(2) Cài đặt thời gian biểu mẫu có hiệu lực <input type="checkbox" class="check-hieu-luc" data-bind="checked: TrangThaiThoiGianOF"></label>
                                            <p>Áp dụng cho những biểu mẫu giới hạn thời gian đăng ký. VÍ dụ: Biểu mẫu đăng ký nhận khuyến mãi...</p>
                                            <div class=" b2-date ">
                                                <div class="form-group">
                                                    <label>Từ ngày</label>
                                                    <div class="form-news add-icon-date">
                                                        <input class="form-control text-right" id="datetime_TuNgay" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" b2-date ">
                                                <div class="form-group">
                                                    <label style="text-align:right !important;    padding-right: 10px;">Đến ngày</label>
                                                    <div class="form-news add-icon-date">
                                                        <input class="form-control text-right" id="datetime_DenNgay" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-b2-form">
                                            <p>Hiển thị nội dung thông báo khi khách hàng click vào link biểu mẫu đã hết hiệu lực</p>
                                            <textarea rows="2" class="_thong-bao-hieu-luc" id="text_ThongBaoHieuLucOF" data-bind="value: ThongBaoHieuLucOF"  placeholder="Nhập nội dung thông báo..."></textarea>
                                        </div>
                                        <div class="tab-b2-form">
                                            <label>(3) Thay đổi tên nút đăng ký</label>
                                            <p>Nhập tên nút đăng ký</p>
                                            <input type="text" class="form-control" id="text_ButtonNameOF" data-bind="value: ButtonNameOF"  placeholder="Đăng ký...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floatleft">
                                        <span class="tab-b1-head-title">Xem trước >></span>
                                    </div>
                                    <div class="floatleft  magin-top-15">
                                        <div class="tab-b2-form">
                                            <label>(1) Sau khi khách hàng đăng ký thành công</label>
                                            <p>Nội dung thông báo sau khi khách hàng đăng ký thành công</p>
                                            <div class="b2-view-s1">
                                                <label>Đăng ký thành công</label>
                                                <span data-bind="text: ThongBaoThanhCongOF() === '' || ThongBaoThanhCongOF() === null ? '(Nội dung thông báo)': ThongBaoThanhCongOF()"></span>
                                                <a href="javascript:void(0)" class="optin-close-popup"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-b2-form">
                                            <label>(2) Biểu mẫu hết hiệu lực</label>
                                            <p>Thông báo khi khách hàng click vào link biểu mẫu hết hiệu lực</p>
                                            <div class="b2-view-s2">
                                                <label>Thông báo</label>
                                                <span data-bind="text: ThongBaoHieuLucOF() === '' || ThongBaoHieuLucOF() === null? '(Nội dung thông báo)':ThongBaoHieuLucOF()"></span>
                                                <a href="javascript:void(0)" class="optin-close-popup"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-b2-form">
                                            <label>(3) Nút đăng ký</label>
                                            <button type="button" class="btn btn-main pull-left no-magrin" style="border-radius: 4px;margin-top:10px  !important" 
                                                    data-bind="text: ButtonNameOF() == '' || ButtonNameOF() === null ? 'Đăng ký': ButtonNameOF()">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab_b3">
                        <div class="col-md-12 ">
                            <div class="row tab-Steps tab-Steps3 ">
                                <div class="tab-add-optinform-l">
                                    <div class="floatleft">
                                        <span class="tab-b1-head-title">Mã code Javascript >></span>
                                    </div>
                                    <div class="floatleft _table-paramaster" >
                                        <div class="ma-nhung" id="text_code">
                                            <p class="_text-ma-nhung" id="text_MaNhungOF" data-bind="text: MaNhungOF"></p>
                                            <button type="button" class="btn btn-main pull-right _btn-dl" id="copy_Code" style=" border-radius: 4px;" onclick="copy_Code('#text_MaNhungOF')" data-bind="visible: ID_OptinForm() != null">
                                                Copy
                                            </button>
                                        </div>
                                    </div>
                                    <div class="floatleft magin-top-15">
                                        <span class="tab-b1-head-title">Thông tin thêm <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="floatleft _table-paramaster _tab-ttt">
                                        <div class="_thong-tin-them">
                                            <p>
                                                Cài đặt địa chỉ trang đặt optinform để xác định nguồn nhân viên phụ trách:
                                                <br />
                                                Thực hiện thêm hậu tố ? utm_user= <span style="color:red;font-weight:bold">ID_Nguoi_gioi_thieu</span> vào địa chỉ trang đặt optin form
                                                <br />
                                                Ví dụ
                                                <br />
                                                Nhân viên có ID là NV0001, khi đó hậu tố cần thêm vào địa chỉ trang đặt optin form là <span style="color:black;font-weight:bold">?utm_user=NV001</span>
                                            </p>
                                            <p>
                                                Xác định hậu tố:
                                            </p>
                                            <div class="b3-select-nv">
                                                <div class="_label">Người giới thiệu</div>
                                                <div class="_action-nv">
                                                    <div class="outselect ">
                                                        <div class=" choose-person floatleft " data-toggle="dropdown" aria-expanded="true">
                                                            <span>Nhân viên</span>
                                                        </div>
                                                        <div class="selec-person dropdown-menu">
                                                            <ul>
                                                                <li>
                                                                    <span>Nhân viên</span>
                                                                    <i class="fa fa-check check-after-li"></i>
                                                                </li>
                                                                <li>
                                                                    <span>Khách hàng</span>
                                                                    <i class="fa fa-check check-after-li"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="_select-user">
                                                    <select class="form-control">
                                                        <option>- Chọn nhân viên -</option>
                                                    </select>
                                                    <p><i class="fa fa-arrow-right" aria-hidden="true"></i><span>Hậu tố cần thêm: </span><span style="color:black;float:right;font-weight:bold">?utm_user=NV0001</span> </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-add-optinform-r">
                                    <div class="floatleft b3-view">
                                        <span class="tab-b1-head-title">Xem trước >></span>
                                        <div id="view-optin1">
                                            <div class="mr-option-bor _table-paramaster-view vew-screen-full">
                                                <div class="col-md-12 row mr-optin-title">
                                                    <a href="javascript:void(0)" class="view-full-scren"><i class="fa fa-arrows-alt icon-view-full" aria-hidden="true"></i></a>
                                                </div>
                                                @Html.Partial("_MaNhungTableKhacHangPartial")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floatleft footer-optionform">
        <button type="button" class="btn btn-cancel" data-dismiss="modal" onclick="back()"><i class="fa fa-ban"></i>Hủy bỏ</button>
        <button type="button" class="btn btn-save" id="add_HoanThanh" data-bind="click: Add_OptinForm">
            <i class="fa fa-save"></i>
            <span class="btnLuuHangHoa">Lưu</span>
        </button>
    </div>
</div>
<script>
    function back() {
        location.href = '/#/optinForm' 
    }
    $(function () {
        var time = new Date();
        $.datetimepicker.setLocale('vi');
        //$('#datetime_TuNgay').datetimepicker({
        //    timepicker: false,
        //    mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
        //    format: 'd/m/Y',
        //    value: moment(time).format('DD/MM/YYYY')
        //});
        //$('#datetime_DenNgay').datetimepicker({
        //    timepicker: false,
        //    mask: true, // '9999/19/39 29:59' - digit is the maximum possible for a cell
        //    format: 'd/m/Y',
        //    //value: moment(time).format('DD/MM/YYYY')
        //});
    });
    function copy_Code(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
    $('#_table-b1 tbody ').on('change','tr td .check-su-dung', function () {
        var index = $(this).closest('td').closest('tr').index();
        $('.b1-view ._table-paramaster-view .mr-optin-table ._list-paramester .form-group').each(function (i) {
            if (i === index) {
                $(this).toggle();
            }
        })
        $('.b3-view ._table-paramaster-view .mr-optin-table ._list-paramester .form-group').each(function (i) {
            if (i === index) {
                $(this).toggle();
            }
        })
    });
    $('#_table-b1 tbody ').on('change','tr td .check-bat-buoc', function () {
        var index = $(this).closest('td').closest('tr').index();
        $('.b1-view ._table-paramaster-view .mr-optin-table ._list-paramester .form-group').each(function (i) {
            if (i === index) {
                $(this).find('label').find('span').toggle();
            }
        })
        $('.b3-view ._table-paramaster-view .mr-optin-table ._list-paramester .form-group').each(function (i) {
            if (i === index) {
                $(this).find('label').find('span').toggle();
            }
        })
    });
    $('#_table-b1 tbody ').on('change','tr td ._tex-goi-y', function () {
        var index = $(this).closest('td').closest('tr').index();
        var text = $(this).val();
        $('.b1-view ._table-paramaster-view .mr-optin-table ._list-paramester .form-group').each(function (i) {
            if (i === index) {
                $(this).find('.note-optin').find('.note-title').html(text);
                if (text === null
                    || text === ''
                    || text === undefined) {
                    $(this).find('.note-optin').hide();
                }
                else if ($(this).css('display')!=='none') {
                    $(this).find('.note-optin').show();
                }
            }
        })
        $('.b3-view ._table-paramaster-view .mr-optin-table ._list-paramester .form-group').each(function (i) {
            if (i === index) {
                $(this).find('.note-optin').find('.note-title').html(text);
                if (text === null
                    || text === ''
                    || text === undefined) {
                    $(this).find('.note-optin').hide();
                }
                else if ($(this).css('display') !== 'none') {
                    $(this).find('.note-optin').show();
                }
            }
        })
    });
    $('.check-hieu-luc').on('change', function () {
        if (!$(this).is(':checked')) {
            $('#datetime_TuNgay').prop("readonly", true);
            $('#datetime_DenNgay').prop("readonly", true);
            $('._thong-bao-hieu-luc').prop("readonly", true);
            $('#datetime_TuNgay').attr('disabled', 'false');
            $('#datetime_DenNgay').attr('disabled', 'false');
        }
        else {
            $('#datetime_TuNgay').prop("readonly", false);
            $('#datetime_DenNgay').prop("readonly", false);
            $('._thong-bao-hieu-luc').prop("readonly", false);
            $('#datetime_TuNgay').removeAttr('disabled');
            $('#datetime_DenNgay').removeAttr('disabled');
        }
    })
    var elem = document.getElementById("view-optin");
    var elem1 = document.getElementById("view-optin1");
    $('#view-optin .view-full-scren').on('click', function () {
        $('.view-full-scren').hide();
        $('#view-optin').find('.vew-screen-full').addClass('height-100');
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
        }
    })
    $('#view-optin1 .view-full-scren').on('click', function () {
        $('.view-full-scren').hide();
        $('#view-optin1').find('.vew-screen-full').addClass('height-100');
        if (elem1.requestFullscreen) {
            elem1.requestFullscreen();
        } else if (elem1.mozRequestFullScreen) { /* Firefox */
            elem1.mozRequestFullScreen();
        } else if (elem1.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem1.webkitRequestFullscreen();
        } else if (elem1.msRequestFullscreen) { /* IE/Edge */
            elem1.msRequestFullscreen();
        }
    })
    if (document.addEventListener) {
        document.addEventListener('webkitfullscreenchange', exitHandler, false);
        document.addEventListener('mozfullscreenchange', exitHandler, false);
        document.addEventListener('fullscreenchange', exitHandler, false);
        document.addEventListener('MSFullscreenChange', exitHandler, false);
    }
    function exitHandler() {
        if (!document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
            $('.view-full-scren').show();
            $('#view-optin').find('.vew-screen-full').removeClass('height-100');
            $('#view-optin1').find('.vew-screen-full').removeClass('height-100');
        }
    }
    $('.selec-person ul').on('click', 'li', function () {
        var text = $(this).find('span').text();
        $(this).closest('ul').closest('.selec-person').prev('.choose-person').find('span').text(text);
    });
</script>
@Scripts.Render("~/bundles/OptinFormKhachHang")
