
<style>
    #wrap {
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>
<style>
</style>
<link href="~/Content/calendar1/Calendar.css" rel="stylesheet" />
<div id='wrap'>
    <div class="calendar-month">
        <div class="cl-title">
            <ul class="cl-tt-ul">
                <li>
                    Thứ 2
                </li>
                <li>
                    Thứ 3
                </li>
                <li>
                    Thứ 4
                </li>
                <li>
                    Thứ 5
                </li>
                <li>
                    Thứ 6
                </li>
                <li>
                    Thứ 7
                </li>
                <li>
                    Chủ nhật
                </li>
            </ul>
        </div>
        <div class="cl-content-schedule">
            <ul class="cl-ct-ul">
                <li class="cl-ct-li">
                    <div class="fc-bg">
                        <table >
                            <tbody>
                                <tr>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">30</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">31</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">1</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number ac-now">2</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">3</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">4</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">5</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="fc-content-skeleton">
                    <table class='table'>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="fc-event-container">
                                  <a href="javascript:void(0)">
                                    <div class="fc-content"> 
                                      <span class="fc-title">All Day Event</span>
                                    </div>
                                      <div class="fc-resizer fc-end-resizer"></div>
                                  </a>
                                </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody></table></div>
                </li>
                <li class="cl-ct-li">
                    <div class="fc-bg">
                        <table >
                            <tbody>
                                <tr>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">6</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">7</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">8</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number ">9</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">10</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">11</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">12</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="fc-content-skeleton">
                        <table class='table'>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="fc-event-container">
                                        <a href="javascript:void(0)">
                                            <div class="fc-content cl-success">
                                                <span class="fc-title">All Day Event</span>
                                            </div>
                                            <div class="fc-resizer fc-end-resizer"></div>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="fc-event-container" colspan="2">
                                        <a href="javascript:void(0)" ondblclick="showpopupchitiet($(this))">
                                            <div class="fc-content cl-info">
                                                <span class="fc-title">All Day Event</span>
                                            </div>
                                            
                                        </a>
                                        <div class="fc-resizer-popup">
                                            <h5><span>Đi khách</span>
                                                <a href="javascript:void(0)" class="close-remove"><i class="fa fa-times" aria-hidden="true"></i></a></h5>
                                           <div class="floatleft margin-bot-15">
                                            <div class="col-md-6">
                                                <div class="form-group floatleft">
                                                    <label>Mức độ ưu tiên
                                                        </label>
                                                    <div class="form-news">
                                                        </div>
                                                 </div>
                                                <div class="form-group floatleft">
                                                    <label>
                                                      Thời gian
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                                <div class="form-group floatleft">
                                                    <label>
                                                       Số ngày thực hiện
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                                <div class="form-group floatleft">
                                                    <label>
                                                       Nội dung
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                                <div class="form-group floatleft">
                                                    <label>
                                                       Nhắc nhở
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                                </div>
                                            <div class="col-md-6">
                                                <div class="form-group floatleft">
                                                    <label>
                                                      Liên hệ
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                                <div class="form-group floatleft">
                                                    <label>
                                                       Người phụ trách
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                                <div class="form-group floatleft">
                                                    <label>
                                                       Người phối hợp
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                                <div class="form-group floatleft">
                                                    <label>
                                                       Trạng thái
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                                <div class="form-group floatleft">
                                                    <label>
                                                        Ghi chú
                                                    </label>
                                                    <div class="form-news">
                                                    </div>
                                                </div>
                                            </div>
                                               </div>
                                            <div class="col-md-12 nopadding fc-group-btn-pop">
                                                <div class="col-md-6">
                                                    <a href="javascript:void(0)">Chi tiết lịch hẹn </a>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                                <a href="javascript:void(0)" class="pull-right i-remove-red"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="pull-right "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                               
                                                </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>

                                    <td></td>

                                    <td></td>
                                    <td class="fc-event-container">
                                        <a href="javascript:void(0)">
                                            <div class="fc-content cl-primary">
                                                <span class="fc-title">Cưới</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="fc-event-container " colspan="2">
                                       <a href="javascript:void(0)" ondblclick="showmorework($(this))">+3 công việc</a>
                                        <div class="fc-work-more ">
                                            <ul >
                                                <li>
                                                    <a href="javascript:void(0)" ondblclick="showpopupchitiet($(this))">
                                                        <div class="fc-content cl-info">
                                                            <span class="fc-title">All Day Event</span>
                                                        </div>

                                                    </a>
                                                    <div class="fc-resizer-popup">
                                                        <h5>
                                                            <span>Đi khách</span>
                                                            <a href="javascript:void(0)" class="close-remove"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </h5>
                                                        <div class="floatleft margin-bot-15">
                                                            <div class="col-md-6">
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Mức độ ưu tiên
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Thời gian
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Số ngày thực hiện
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Nội dung
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Nhắc nhở
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Liên hệ
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Người phụ trách
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Người phối hợp
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Trạng thái
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Ghi chú
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 nopadding fc-group-btn-pop">
                                                            <div class="col-md-6">
                                                                <a href="javascript:void(0)">Chi tiết lịch hẹn </a>
                                                            </div>
                                                            <div class="col-md-6">
                                                            </div>
                                                            <a href="javascript:void(0)" class="pull-right i-remove-red"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" class="pull-right "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" ondblclick="showpopupchitiet($(this))">
                                                        <div class="fc-content cl-info">
                                                            <span class="fc-title">All Day Event</span>
                                                        </div>

                                                    </a>
                                                    <div class="fc-resizer-popup">
                                                        <h5>
                                                            <span>Đi khách</span>
                                                            <a href="javascript:void(0)" class="close-remove"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </h5>
                                                        <div class="floatleft margin-bot-15">
                                                            <div class="col-md-6">
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Mức độ ưu tiên
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Thời gian
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Số ngày thực hiện
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Nội dung
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Nhắc nhở
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Liên hệ
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Người phụ trách
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Người phối hợp
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Trạng thái
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Ghi chú
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 nopadding fc-group-btn-pop">
                                                            <div class="col-md-6">
                                                                <a href="javascript:void(0)">Chi tiết lịch hẹn </a>
                                                            </div>
                                                            <div class="col-md-6">
                                                            </div>
                                                            <a href="javascript:void(0)" class="pull-right i-remove-red"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" class="pull-right "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" ondblclick="showpopupchitiet($(this))">
                                                        <div class="fc-content cl-info">
                                                            <span class="fc-title">All Day Event</span>
                                                        </div>

                                                    </a>
                                                    <div class="fc-resizer-popup">
                                                        <h5>
                                                            <span>Đi khách</span>
                                                            <a href="javascript:void(0)" class="close-remove"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </h5>
                                                        <div class="floatleft margin-bot-15">
                                                            <div class="col-md-6">
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Mức độ ưu tiên
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Thời gian
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Số ngày thực hiện
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Nội dung
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Nhắc nhở
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Liên hệ
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Người phụ trách
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Người phối hợp
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Trạng thái
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group floatleft">
                                                                    <label>
                                                                        Ghi chú
                                                                    </label>
                                                                    <div class="form-news">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 nopadding fc-group-btn-pop">
                                                            <div class="col-md-6">
                                                                <a href="javascript:void(0)">Chi tiết lịch hẹn </a>
                                                            </div>
                                                            <div class="col-md-6">
                                                            </div>
                                                            <a href="javascript:void(0)" class="pull-right i-remove-red"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                            <a href="javascript:void(0)" class="pull-right "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                                                        </div>
                                                    </div>
                                                </li>
</ul>
                                            </div>
</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="cl-ct-li">
                    <div class="fc-bg">
                        <table >
                            <tbody>
                                <tr>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">13</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">14</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">15</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number ">16</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">17</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">18</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">19</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="fc-content-skeleton">
                        <table class='table'>
                            <tbody>
                             
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="cl-ct-li">
                    <div class="fc-bg">
                        <table >
                            <tbody>
                                <tr>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">20</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">21</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">22</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number ">23</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">24</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">25</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">26</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="fc-content-skeleton">
                        <table class='table'>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="cl-ct-li">
                    <div class="fc-bg">
                        <table >
                            <tbody>
                                <tr>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">27</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">28</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">29</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number ">30</div></td>
                                    <td class="fc-day " valign="top"><div class="fc-day-number">31</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">1</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">2</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="fc-content-skeleton">
                        <table class='table'>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="cl-ct-li">
                    <div class="fc-bg">
                        <table >
                            <tbody>
                                <tr>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">3</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">4</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">5</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number ">6</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">7</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">8</div></td>
                                    <td class="fc-day fc-not-month" valign="top"><div class="fc-day-number">9</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="fc-content-skeleton">
                        <table class='table'>
                            <tbody>
                           
                            </tbody>
                        </table>
                    </div>
                </li>
               
            </ul>
        </div>

    </div>

</div>
<script src="~/Content/calendar1/Calendar.js"></script>
<script>
    function showpopupchitiet($this) {

        $('.fc-resizer-popup').hide();
        $this.next('.fc-resizer-popup').show();
        $(".fc-resizer-popup").mouseup(function () {
            return false
        });
        $(document).mouseup(function () {
            $('.fc-resizer-popup').hide();
        });
        $('.fc-resizer-popup h5').on('click', 'a', function () {
            $('.fc-resizer-popup').hide();
        })
    }
    function showmorework($this) {
        $('.fc-resizer-popup').hide();
        $('.fc-work-more').hide();
        $this.next('.fc-work-more').show();
        $(".fc-work-more").mouseup(function () {
            return false
        });
        $(document).mouseup(function () {
            $('.fc-work-more').hide();
        });
    }
    </script>