@using banhang24.Hellper;
@using Model;
<style>
    #modalNhacNho .modal-dialog draggable {
        width: 500px !important;
    }
    .modal-lg .modal-body {
        max-height: 600px;
        overflow: auto;
    }
    #modalChiTietLichHen .modal-lg {
        width: 1000px;
        overflow:auto
    }
</style>
<link href="~/Content/Marketing.css" rel="stylesheet" />
<div class="container op-container">
    <div class="row">
        <div class="col-md-12 report-view nopadding">
            <div class=" op-filter filter-left-report">
                <section class="op-filter-body">
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/chinhanh-black.png"> Chi nhánh
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="outselect outselectDV">
                                    <div class="choose-person floatleft " data-toggle="dropdown">
                                        <ul>
                                            <li class="li-input-span">
                                                <span>
                                                    Chi nhánh 1
                                                </span>
                                                <span>
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" readonly="readonly" class="dropdown" placeholder="Chọn công việc" />
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft">
                                        <ul>
                                            <li>
                                                <span> Chi nhánh 1</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="~/Content/images/icon/thoigian.png" />       Thời gian
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuCheckbox">
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="radiotime" value="0" checked />
                                    </div>
                                    <div class="conten-choose">
                                        <div class=" choose-date ">
                                            <div data-toggle="dropdown" aria-expanded="true">
                                                <input type="text" class="dropdown form-control choose-date-show" placeholder="Toàn thời gian" id="txtNgayTao">
                                            </div>
                                            <div class="dropdown-menu choseNgayTao">
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo ngày và tuần</h3>
                                                    <ul>
                                                        <li value="1"><a href="javascript:void(0);">Hôm nay</a></li>
                                                        <li value="2"><a href="javascript:void(0);">Hôm qua</a></li>
                                                        <li value="3"><a href="javascript:void(0);">Tuần này</a></li>
                                                        <li value="4"><a href="javascript:void(0);">Tuần trước</a></li>
                                                        <li value="5"><a href="javascript:void(0);">7 ngày qua</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4 col-sm-4">
                                                    <h3>Theo tháng và quý</h3>
                                                    <ul>
                                                        <li value="6"><a href="javascript:void(0);">Tháng này</a></li>
                                                        <li value="7"><a href="javascript:void(0);">Tháng trước</a></li>
                                                        <li value="10"><a href="javascript:void(0);">Quý này</a></li>
                                                        <li value="11"><a href="javascript:void(0);">Quý trước</a></li>
                                                    </ul>
                                                </div><div class="col-md-4 col-sm-4">
                                                    <h3>Theo năm</h3>
                                                    <ul>
                                                        <li value="12"><a href="javascript:void(0);">Năm này</a></li>
                                                        <li value="13"><a href="javascript:void(0);">Năm trước</a></li>
                                                        <li value="0"><a href="javascript:void(0);">Toàn thời gian</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group floatleft">
                                    <div class="radio-menu">
                                        <input type="radio" name="radiotime" value="1" />
                                    </div>
                                    <div class="conten-choose">
                                        <div class="floatleft form-wrap ">
                                            <input type='text' class="form-control daterange newDateTime" placeholder="23/12/2017" name="daterange" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/trangthai (1).png">     Trạng thái lịch hẹn
                        </h3>
                        <aside class="op-filter-container">
                            <div class="menuCheckbox">
                                <ul>
                                    <li>
                                        <label><input type="checkbox"> Đã xử lý</label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox"> Hủy bỏ</label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox">Chưa xử lý</label>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/loaithuchi.png">  OptionForm
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="outselect outselectDV">
                                    <div class="choose-person floatleft " data-toggle="dropdown">
                                        <ul>
                                            <li class="li-input-span">
                                                <span>
                                                    Tuấn
                                                </span>
                                                <span>
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" readonly="readonly" class="dropdown" placeholder="-- Chọn nhân viên --" />
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft" style="overflow:hidden">
                                        <ul>
                                            <li>
                                                <span>Tuấn</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/loaithuchi.png"> Dịch vụ yêu cầu
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="outselect outselectDV">
                                    <div class="choose-person floatleft " data-toggle="dropdown">
                                        <ul>
                                            <li class="li-input-span">
                                                <span>
                                                    Tuấn
                                                </span>
                                                <span>
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" readonly="readonly" class="dropdown" placeholder="-- Chọn nhân viên --" />
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft" style="overflow:hidden">
                                        <ul>
                                            <li>
                                                <span>Tuấn</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                    <article class="boxLeft">
                        <h3 class="op-filter-title" onclick="toggleSubFilter(this)">
                            <img src="/Content/images/icon/nhanvien.png"> Nhân viên thực hiện
                        </h3>
                        <aside class="op-filter-container">
                            <div class="outselect">
                                <div class="outselect outselectDV">
                                    <div class="choose-person floatleft " data-toggle="dropdown">
                                        <ul>
                                            <li class="li-input-span">
                                                <span>
                                                    Tuấn
                                                </span>
                                                <span>
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </li>
                                        </ul>
                                        <input type="text" readonly="readonly" class="dropdown" placeholder="-- Chọn nhân viên --" />
                                    </div>
                                    <div class="selec-person dropdown-menu floatleft" style="overflow:hidden">
                                        <ul>
                                            <li>
                                                <span>Tuấn</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                </section>
                <div class="op-filter-footer">
                    <button type="button" class="btn btn-link" style="color:red" onclick="closeFilter()">Hủy</button>
                    <button type="button" class="btn btn-link" onclick="collapseSubFilter(this)">
                        <span>Thu gọn</span>
                    </button>
                    <button type="button" class="btn btn-link" style="display:none" onclick="expandSubFilter(this)">
                        <span>Mở rộng</span>
                    </button>
                    <button type="button" class="btn btn-main kv2Btn" onclick="closeFilter()">Hoàn tất</button>
                </div>
            </div>
            <div class="content-table possible-table-tab">
                <div class="op-header">
                    <div class="col-md-12 col-sm-12 col-sx-12 nopadding" >
                       <h2 class="pull-left title">Đối tác / lịch hẹn</h2>
                    </div>
                    <div class="flex flex-between"></div>
                    <div class="header-filter">
                        <div class="btn-header-filter btnMenu col-md-7 nopadding pull-left">
                            <button type="button" class="btn btn-main addHHH btn-main no-magrin "
                                    data-target="#modalThemMoiCongViec" data-toggle="modal">
                                <i class="fa fa-plus" aria-hidden="true"></i>     <font>Thêm mới</font>
                            </button>
                            <button class="btn btn-main btn-group btnImport ">
                                <i class="fa fa-download"></i> @banhang24.Resources.ResourceTexts.ImportFile
                            </button>
                            <button class="btn btn-main btn-group btnExport" name="btnExport">
                                <i class="fa fa-file-excel-o"></i> Xuất file
                            </button>
                            <div class="btn-dropdown" id="selected-column">
                                <button type="button" class="btn btn-main  dropdown-toggle" onclick="showCollumnFilter(this)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-angle-double-down"></i>
                                </button>
                                <div class="dropdown-list" style="display: none;">
                                    <ul>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbmahang" checked="checked" value="loaicongviec"><span></span>Loại công việc</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbmahang" checked="checked" value="khachhang"><span></span>Khách hàng</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox cbtenhang" id="cbtenhang" checked="checked" value="tenlienhelai"><span></span>Tên liên hệ</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbloaihang" checked="checked" value="chiasecvvoi"><span></span>Nhân viên</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbgiaban" checked="checked" value="noidungcv"><span></span>Nội dung</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox cbtenhang" id="cbtenhang" checked="checked" value="thoigiantu"><span></span>Thời gian từ</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbnhomhang" checked="checked" value="thoigianden"><span></span>Thời gian đến</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbgiavon" checked="checked" value="nhactruoc1"><span></span>Nhắc trước</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbtonkho" checked="checked" value="timelienhelai"><span></span>Thời gian liên hệ lại</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbtrangthai" checked="checked" value="nhactruoc2"><span></span>Nhắc trước liên hệ lại</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="checkbox" id="cbtrangthai1" checked="checked" value="trangthai"><span></span>Trạng thái</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="op-search">
                                <button type="button" class=" op-search-button">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input type="text" class="form-control" placeholder="Tên khách hàng, số điện thoại">
                            </div>
                            <button class="btn btn-main op-filter-toggle" onclick="showFilter()" title="Hiển thị bộ lọc">
                                <i class="material-icons">sort</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-reponsive bangchung ">
                    <div class="table-reponsive table-HH banghh" >
                        <table class=" table-hover op-table">
                            <thead class="thead-boder">
                                <tr>
                                    <th class="text-center">Tên khách hàng</th>
                                    <th class="text-center">Tên form</th>
                                    <th class="text-center">Xưng hô</th>
                                    <th class="text-center">Số lượng người</th>
                                    <th class="text-center">Số điện thoại</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Chi nhánh</th>
                                    <th class="text-center">Dịch vụ yêu cầu</th>
                                    <th class="text-center">Thời gian sử dụng</th>
                                    <th class="text-center">Nhân viên thực hiện</th>
                                    <th class="text-center">Ngày đăng ký</th>
                                    <th class="text-center">Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="op-tr-show">
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                    <td class="text-center">PH00001</td>
                                </tr>
                                <tr class="op-tr-hide" hidden>
                                    <td colspan="12" class="op-td ">
                                        <div class="op-object-detail">
                                            
                                                <ul class="nav nav-tabs">
                                                    <li class="active" value="1"><a data-toggle="tab" href="#lhthongtin">Thông tin</a></li>
                                                    <li value="2"><a data-toggle="tab" href="#lhcongviec">Công việc</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="lhthongtin">
                                                        <div class="col-md-12 nopadding">
                                                            <div class="col-md-12 nopadding list-tab-detail-optin magin-top-30">
                                                                <div class="col-md-6">
                                                                    <div class="form-group floatleft">
                                                                        <label>Khách hàng</label>
                                                                        <div class="form-news">
                                                                            Nguyễn văn A
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label>Xưng hô</label>
                                                                        <div class="form-news">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label>Số điện thoại</label>
                                                                        <div class="form-news">
                                                                            <span hidden>0981143683</span>
                                                                            <a href="javascript:void(0)" style="color:red !important" data-target="#modalXuLyLichHen" data-toggle="modal"><span>0981143683</span></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label>Email</label>
                                                                        <div class="form-news">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label>Chi nhánh</label>
                                                                        <div class="form-news">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label>Dịch vụ yêu cầu</label>
                                                                        <div class="form-news">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group floatleft">
                                                                        <label>Thời gian sử dụng</label>
                                                                        <div class="form-news">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label>Nhân viên thực hiện</label>
                                                                        <div class="form-news">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label>Thời gian đăng ký</label>
                                                                        <div class="form-news">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft">
                                                                        <label>Trạng thái</label>
                                                                        <div class="form-news">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group floatleft not-border">
                                                                        <label>Ghi chú</label>
                                                                        <div class="form-news">
                                                                            <textarea rows="4"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12  magin-top-15">
                                                            <div class="group-btn floatleft text-right">
                                                                <a href="javascript:void(0)" class="btn btn-main ">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i> Thên công việc
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn btn-cancel ">
                                                                    <i class="fa fa-trash"></i> Xóa
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane " id="lhcongviec">
                                                        <div class="col-md-12 nopadding">
                                                            <div class="col-md-12 nopadding  magin-top-15">
                                                                <table class=" table-hover op-table">
                                                                    <thead class="thead-boder">
                                                                        <tr>
                                                                            <th class="text-center">STT</th>
                                                                            <th class="text-center">Tên công việc</th>
                                                                            <th class="text-center">Loại công việc</th>
                                                                            <th class="text-center">Mức độ ưu tiên</th>
                                                                            <th class="text-center">Trạng thái</th>
                                                                            <th class="text-center">Thời gian</th>
                                                                            <th class="text-center">Nhân viên phụ trách</th>
                                                                            <th class="text-center">Người phối hợp</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="text-center">1</td>
                                                                            <td class="text-center"><a href="javascript:void(0) " data-target="#modalChiTietCongViec" data-toggle="modal">PH00001</a></td>
                                                                            <td class="text-center">PH00001</td>
                                                                            <td class="text-center">PH00001</td>
                                                                            <td class="text-center">PH00001</td>
                                                                            <td class="text-center">PH00001</td>
                                                                            <td class="text-center">PH00001</td>
                                                                            <td class="text-center">PH00001</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12  magin-top-15">
                                                            <div class="group-btn floatleft text-right">
                                                                <a href="javascript:void(0)" class="btn btn-main ">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i> Thêm công việc
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn btn-main " data-toggle="modal" data-target="#modalChiTietLichHen">
                                                                    <i class="fa fa-check-square"></i> Sửa đổi
                                                                </a>
                                                                <a href="javascript:void(0)" class="btn btn-cancel ">
                                                                    <i class="fa fa-trash"></i> Xóa
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="page">
                            <div class="flex flex-row">
                                <label>Số bản ghi:</label>
                                <select class="form-control seleted-page">
                                    <option value="10">10</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                                <div class="flex flex-end">
                                    <a href="javascript:void(0)"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" class="click">1</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">2</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">3</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">4</a>
                                        </li>
                                    </ul>
                                    <a href="javascript:void(0)"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                    <div class="total-recos">Hiển thị <span>1</span> - <span>10</span> trên tổng số <span>32</span> </div>
                                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="modalXuLyLichHen">
    <div class="modal-dialog draggable modal-lg ">
        @Html.Partial("_XuLyLichHenPartial")
    </div>
</div>
<div class="modal fade in" id="modalChiTietCongViec">
    <div class="modal-dialog draggable modal-lg ">
        @Html.Partial("_ChiTietCongViecPartial")
    </div>
</div>
<div class="modal fade in" id="modalChiTietLichHen">
    <div class="modal-dialog draggable modal-lg ">
        @Html.Partial("_ChiTietLichHenPartial")
    </div>
</div>
<script> 
    $('.op-table').on('click', ".op-tr-show", function () {
        var css = $(this).next(".op-tr-hide").css('display');
        $(".op-tr-hide").hide();
        $(".op-tr-show").removeClass('tr-active');
        setTop = 35 + parseInt($(this).height() * ($(this).index() / 2));
        if (css === 'none') {
            $(this).addClass('tr-active');
            $(this).next(".op-tr-hide").toggle();
            heightold = parseInt($(this).height());
            heigth = $(this).next().height() + heightold;
            $('.line-right').height(heigth).css("margin-top", setTop + "px");
            $(this).closest('tbody').closest('table').closest('.table-reponsive').removeClass('tablescroll');
        }
        else {
            $('.line-right').height(0).css("margin-top", "0px");
            $(this).closest('tbody').closest('table').closest('.table-reponsive').addClass('tablescroll');
        }
    });
    $(function () {
        $('.newDateTime').daterangepicker({
            locale: {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Tạo báo cáo",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            }
        });
    });
    </script>
