
@using System.Web.Optimization;
<link href="~/Content/Marketing.css" rel="stylesheet" />
<style>
    .highcharts-button-symbol,.highcharts-button-box {
        display: none;
    }
    #view-full1 .vew-screen-full, #view-full .vew-screen-full {
        border: none;
        margin: 0px;
        padding: 0px;
    }
    .view-full-scren{
        display:none;
    }
    .height-100{
        padding:15px !important;
    }
    ._ghichu-bieu-do {
        position: absolute;
        bottom: 46px;
        left: 44px;
        font-weight: bold;
        font-size: 13px;
    }
</style>
    <div class=" col-md-12 row op-marketing">
        <div class="mr-header">
                <div class="mr-header-l">
                    <h2 class="pull-left title" style="margin-top: 6px;">
                        Quản lý OptinForm
                    </h2>
                    </div>
                <div class="mr-header-r">
                    <button type="button" class="btn btn-main addHHH btn-main no-magrin" data-bind="click: Create_OptinForm" aria-haspopup="true">
                        <i class="fa fa-plus" aria-hidden="true"></i>     <font>Thêm mới</font>
                    </button>
                </div>
            </div>
        <div class="mr-content">
            <div class="mr-header-l">
                <ul class="nav nav-pills nav-marketing ">
                    <li class="active"><a data-toggle="tab" class="text-center"  href="#tab_khachhang">Khách hàng</a></li>
                    <li><a data-toggle="tab"  href="#tab_lichhen" class="text-center">Lịch hẹn</a></li>
                    
                </ul>
            </div>
            <div class="mr-header-r">
               <div class="tab-content">
                   <div class="tab-pane active" id="tab_khachhang">
                       <div class="mr-ct-optinform ">
                           <div class="mr-option-bor">
                               <div class="col-md-12 row mr-optin-title">
                                   <h2 class="pull-left title ">
                                       Danh mục OptinForm > Khách hàng
                                   </h2>
                               </div>
                               <div class="table-res mr-optin-table">
                                   <table class='table'>
                                       <thead class="thead-boder">
                                           <tr>
                                               <th class="text-left"> Tên OptinForm</th>
                                               <th class="text-left"> Người tạo</th>
                                               <th class="text-center"> Ngày tạo</th>
                                               <th class="text-left"> Nội dung</th>
                                               <th class="text-right"> Số lượt truy cập
                                                   <a class="Trinhpv-hovver" style="cursor: pointer" data-bind="text: OF_SoLuotTruyCap() ===0?'':' (' +formatNumber(OF_SoLuotTruyCap()) + ')' "></a>
                                               </th>
                                               <th class="text-right"> Số lượt đăng ký
                                                   <a style="cursor: pointer;    pointer-events: auto !important;"  href="#" data-bind="text: OF_SoLuotDangKy() ===0?'':' (' +formatNumber(OF_SoLuotDangKy()) + ')', click: $root.show_DanhSachDoiTuongDangKy"></a>
                                               </th>
                                               <th class="text-center"> Bật/Tắt</th>
                                               <th class="text-left"> Ghi chú</th>
                                               <th style="width:40px"></th>
                                           </tr>
                                       </thead>
                                       <tbody data-bind="foreach: DM_OptinForm">
                                           <tr >
                                               <td class="bhmact cls1 text-left Trinhpv-hovver">
                                                   <a style="cursor: pointer" data-bind="text: TenOptinForm, click: $parent.selectedRownt_OptinForm">
                                                   </a>
                                               </td>
                                               <td class="text-left" data-bind="text: NguoiTao"></td>
                                               <td class="text-center">
                                                   <span data-bind="text: moment(NgayTao).format('DD/MM/YYYY')!='Invalid date'? moment(NgayTao).format('DD/MM/YYYY'):''"></span>
                                               </td>
                                               <td class="text-left" data-bind="text: NoiDung"></td>
                                               <td class="text-right" data-bind="text: SoLuotTruyCap"></td>
                                               <td class="bhmact cls1 text-right Trinhpv-hovver">
                                                   <a style="cursor: pointer" data-bind="text: SoLuotDangKy, click: $parent.show_DanhSachDoiTuongDangKyIndex">
                                                   </a>
                                               </td>
                                               <td class="text-center">
                                                   <input type="checkbox" class="check-hieu-luc-option" data-bind="checked: TrangThai,event: { change: $parent.edit_TrangThaiOF}"> </td>
                                               <td class="text-left" data-bind="text: GhiChu"></td>
                                               <td class="td-event">
                                                   <a  href="javascript:void(0)" title="Sao chép mã code" data-toggle="modal" data-bind="click: $parent.Copy_MaNhung"><i class="fa fa-clone" aria-hidden="true"></i></a>
                                                   <a href="javascript:void(0)"><i class="fa fa-pencil-square-o" aria-hidden="true"  data-bind="click: $parent.edit_OptinForm"></i></a>
                                                   <a href="javascript:void(0)" ><i class="fa fa-times" aria-hidden="true" data-bind="click: $parent.modalDelete"></i></a>
                                               </td>
                                           </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                           <div class=" col-md-12 margin-page">
                                <div class="page">
                                   <div class="flex flex-end">
                                       <a href="javascript:void(0)" data-bind="click: $root.StartPage" id="StartPage"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                                       <a href="javascript:void(0)" data-bind="click: $root.BackPage" id="BackPage"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                                       <ul data-bind="foreach: SumNumberPageReport">
                                           <li data-bind="click: $parent.gotoNextPage">
                                               <a href="javascript:void(0)" data-bind="text: SoTrang,css: $root.GetClass($data)"></a>
                                           </li>
                                       </ul>
                                       <a href="javascript:void(0)" data-bind="click: $root.NextPage" id="NextPage"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                       <a href="javascript:void(0)" data-bind="click: $root.EndPage" id="EndPage"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                                       <div class="total-recos">
                                           Hiển thị <span data-bind="text: RowsStart"></span> - <span data-bind="text: RowsEnd"></span> trên tổng số
                                           <span data-bind="text: SumRowsOF"></span>
                                           <span data-bind="text: LoaiBaoCao"></span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-12 nopadding mr-optin-5">
                               <div class="mr-option-bor-5">
                                   
                                   <div class=" mr-optin-title mr-optin-title-dropdate">
                                       <h2 class="pull-left title ">
                                           Biểu đồ > 
                                           <span data-bind="text: NameBieuDo"></span>
                                       </h2>
                                   </div>
                                   <div class="drop-date-ranger">
                                       <i class="fa fa-angle-down" aria-hidden="true"></i>
                                       <input type="text" class="form-control   newDateTime" name="daterange" autocomplete="off">
                                   </div>
                                   <div class="table-res mr-optin-table">
                                             <div id="lineChartKhachHang" style="max-width:400px;  height: 330px; margin: 0 auto"></div>
                                       <label class="_ghichu-bieu-do">Ghi chú:</label>
                                  
                                   </div>
                               </div>
                               <div class="mr-option-bor-5">
                                   <div class="col-md-12 row mr-optin-title">
                                       <h2 class="pull-left title ">
                                           Trang đặt OptinForm > 
                                           <span data-bind="text: NameBieuDo"></span>
                                       </h2>
                                   </div>
                                   <div class="table-res mr-optin-table">
                                       <table class='table'>
                                           <thead class="thead-boder">
                                               <tr>
                                                   <th>
                                                       Link trang đặt OptinForm
                                                   </th>
                                                   <th style="    width: 50px;">
                                                       Số lượt đăng ký
                                                   </th>
                                               </tr>
                                           </thead>
                                           <tbody data-bind="foreach: DM_LinkKhachHangDangKy">
                                               <tr>
                                                   <td class="text-left"><a href="javascript:void(0)" target="_blank" data-bind="text: Link"></a></td>
                                                   <td class="text-center" data-bind="text: SoLuotDangKy"></td>
                                               </tr>
                                           </tbody>
                                       </table>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="mr-ct-view">
                           <a href="javascript:void(0)" class="a-view-full"><i class="fa fa-arrows-alt icon-view-full" aria-hidden="true"></i></a>
                           <div class="mr-option-bor">
                               <div class="col-md-12 row mr-optin-title">
                                   <h2 class="pull-left title ">
                                       Xem trước > Đăng ký khách hàng
                                   </h2>

                               </div>
                               <div class="table-res mr-optin-table">
                                   <div id="view-full">
                                       <div class="mr-option-bor _table-paramaster-view vew-screen-full" style="    margin-top: -15px !important;">

                                           @Html.Partial("_MaNhungTableKhacHangPartial")
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="tab-pane " id="tab_lichhen">
                       <div class="mr-ct-optinform ">
                           <div class="mr-option-bor">
                               <div class="col-md-12 row mr-optin-title">
                                   <h2 class="pull-left title ">
                                       Danh mục OptinForm > Lịch hẹn
                                   </h2>
                               </div>
                               <div class="table-res mr-optin-table">
                                   <table class='table'>
                                       <thead class="thead-boder">
                                           <tr>
                                               <th>
                                                   Tên optinform

                                               </th>
                                               <th>
                                                   Người tạo

                                               </th>
                                               <th>
                                                   Ngày tạo

                                               </th>
                                               <th>
                                                   Nội dung

                                               </th>
                                               <th>
                                                   Số lượng đăng ký

                                               </th>
                                               <th class="text-center">
                                                   Bật/ Tắt

                                               </th>
                                               <th>
                                                   Ghi chú

                                               </th>
                                               <th style="width:40px">

                                               </th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr>
                                               <td> HH00001</td>
                                               <td>HH00001</td>
                                               <td>HH00001</td>
                                               <td>HH00001</td>
                                               <td>HH00001</td>
                                               <td class="text-center">
                                                   <input type="checkbox" class="check-hieu-luc-option"> </td>
                                               <td>HH00001</td>
                                               <td class="td-event">
                                                   <a href="javascript:void(0)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                   <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>HH00001</td>
                                               <td>HH00001</td>
                                               <td>HH00001</td>
                                               <td>HH00001</td>
                                               <td>HH00001</td>
                                               <td class="text-center">
                                                   <input type="checkbox" class="check-hieu-luc-option"> </td>
                                               <td>HH00001</td>
                                               <td class="td-event">
                                                   <a href="javascript:void(0)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                   <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                               </td>
                                           </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                           <div class="col-md-12 nopadding mr-optin-5">
                               <div class="mr-option-bor-5">
                                  
                                   <div class=" mr-optin-title mr-optin-title-dropdate">
                                       <h2 class="pull-left title ">
                                           Biểu đồ > Lịch hẹn sử dụng dịch vụ
                                       </h2>
                                   </div>
                                   <div class="drop-date-ranger">
                                       <i class="fa fa-angle-down" aria-hidden="true"></i>
                                       <input type="text" class="form-control   newDateTimeLichHen" name="daterange" autocomplete="off">
                                   </div>
                                   <div class="table-res mr-optin-table">
                                       <div id="lineChartLichHen"  style="width:400px;  height: 330px;margin: 0 auto"></div>
                                       <label class="_ghichu-bieu-do">Ghi chú:</label>
                                   </div>
                               </div>
                               <div class="mr-option-bor-5">
                                   <div class="col-md-12 row mr-optin-title">
                                       <h2 class="pull-left title ">
                                           Trang đặt OptinForm > Lịch hẹn sử dụng dịch vụ
                                       </h2>
                                   </div>
                                   <div class="table-res mr-optin-table">
                                       <table class='table'>
                                           <thead class="thead-boder">
                                               <tr>
                                                   <th>
                                                       Link trang đặt OptinForm
                                                   </th>
                                                   <th style="    width: 50px;">
                                                       Số lượt đăng ký

                                                   </th>

                                               </tr>
                                           </thead>
                                           <tbody>
                                               <tr>
                                                   <td><a href="javascript:void(0)" target="_blank"> https://open24.vn/page</a></td>
                                                   <td> 10</td>


                                               </tr>
                                               <tr>
                                                   <td><a href="javascript:void(0)" target="_blank">  https://open24.vn/page</a></td>
                                                   <td>11</td>


                                               </tr>
                                           </tbody>
                                       </table>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="mr-ct-view">
                           <a href="javascript:void(0)" class="a-view-full"><i class="fa fa-arrows-alt icon-view-full" aria-hidden="true"></i></a>
                           <div class="mr-option-bor">
                               <div class="col-md-12 row mr-optin-title">
                                   <h2 class="pull-left title ">
                                       Xem trước > Lịch hẹn sử dụng dịch vụ
                                   </h2>
                                
                               </div>
                               <div class="table-res mr-optin-table">
                                   <div id="view-full1">
                                       <div class="mr-option-bor _table-paramaster-view vew-screen-full" style="    margin-top: -15px !important;">

                                           @Html.Partial("_MaNhungTableKhacHangPartial")
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   </div>
            </div>
            </div>
    </div><script type="text/javascript" src="~/Content/js/moment.js"></script>
<div class="modal fade" id="modalpopup_deleteHD">
    <div id="modalContainer_delete" class="modal-sm">
        <div class="modal-content ">
            <div class="modal-body">
                <div class="title-delete">
                    <span id="header-confirm-delete">Xóa OptinForm</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                </div>
                Bạn có chắc chắn muốn xóa bỏ OptinForm: <span style="font-weight:bold" data-bind="text: deleteTenOF()"></span> ?
                <div class="modal-footer">
                    <button type="button" class="btn btn-main" data-bind="click: Delete_TrangThaiOF"><i class="fa fa-check"></i> Đồng ý</button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal"><i class="fa fa-ban" tabindex="2"></i> Bỏ qua</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modalpopup_manhung">
    <div  class="modal-sm">
        <div class="modal-content ">
            <div class="modal-body">
                <h5 style="    font-weight: bold; color: var(--color-main);    margin-top: 0px;">Mã code Javascript</h5>
               <div class="col-md-12 nopadding" style="margin-bottom:15px">
                   <div class="ma-nhung" style="color: #777;">43543</div>
                   </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-main"><i class="fa fa-clone" aria-hidden="true"></i> Sao chép</button>
                </div>
            </div>

        </div>
    </div>
</div>




<script>
    $(function () {

        $('.newDateTime').daterangepicker({
            "showDropdowns": true,
            "showWeekNumbers": true,
            "showISOWeekNumbers": true,
            "timePicker24Hour": true,
            "startDate": moment().subtract(6, 'days'),
            "endDate": moment(),
            "maxSpan": {
                "days": 7
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '7 ngày': [moment().subtract(6, 'days'), moment()]
            },
            "locale": {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Áp dụng",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Chọn ngày",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            },
            "alwaysShowCalendars": true,
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            });
        $('.newDateTimeLichHen').daterangepicker({
            "showDropdowns": true,
            "showWeekNumbers": true,
            "showISOWeekNumbers": true,
            "timePicker24Hour": true,
            "maxSpan": {
                "days": 7
            },
            ranges: {
                'Hôm nay': [moment(), moment()],
                'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '7 ngày': [moment().subtract(6, 'days'), moment()]
            },
            "locale": {
                "format": 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Áp dụng",
                "cancelLabel": "Hủy",
                "fromLabel": "Từ",
                "toLabel": "Đến",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "CN",
                    "T2",
                    "T3",
                    "T4",
                    "T5",
                    "T6",
                    "T7"
                ],
                "monthNames": [
                    "Tháng 1",
                    "Tháng 2",
                    "Tháng 3",
                    "Tháng 4",
                    "Tháng 5",
                    "Tháng 6",
                    "Tháng 7",
                    "Tháng 8",
                    "Tháng 9",
                    "Tháng 10",
                    "Tháng 11",
                    "Tháng 12"
                ],
                "firstDay": 1
            },
            "alwaysShowCalendars": true,
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });
    });
    //Highcharts.chart('lineChartKhachHang', {
    //    chart: {
    //        type: 'line'
    //    },
    //    title: {
    //        text: ''
    //    },
    //    xAxis: {
    //        categories: ['01/01', '01/01', '01/01', '01/01', '01/01', '01/01', '01/01']
    //    },
    //    tooltip: {
    //        headerFormat: '<b>Ngày: {point.x}</b><br />',
    //        pointFormat: 'Số lượt đăng ký: {point.y}'
    //    },
    //    series: [{
    //        name: 'Số lượt đăng ký',
    //        data: [10,11,15,16,18,22,15]
    //    }]
    //});
    Highcharts.chart('lineChartLichHen', {
        chart: {
            type: 'line'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['01/01', '01/01', '01/01', '01/01', '01/01', '01/01', '01/01']
        },
        tooltip: {
            headerFormat: '<b>Ngày: {point.x}</b><br />',
            pointFormat: 'Số lượt đăng ký: {point.y}'
        },
        series: [{
            name: 'Số lượt đăng ký',
            data: [10, 11, 15, 16, 18, 22, 15]
        }]
    });
    function addnew() {
        if($('#tab_khachhang').hasClass('active')){
            location.href = "/#/AddOptinFormKH";
        }
        else{
            location.href = "/#/AddOptinFormLH";
        }
    };
    var elem = document.getElementById("view-full");
    var elem1 = document.getElementById("view-full1");
    $('#tab_khachhang .a-view-full').on('click', function () {
        $('.a-view-full').hide();
        $('#view-full').find('.vew-screen-full').addClass('height-100');
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
        }

    })
    $('#tab_lichhen .a-view-full').on('click', function () {
        $('.a-view-full').hide();
        $('#view-full1').find('.vew-screen-full').addClass('height-100');
        if (elem1.requestFullscreen) {
            elem1.requestFullscreen();
        } else if (elem1.mozRequestFullScreen) { /* Firefox */
            elem1.mozRequestFullScreen();
        } else if (elem1.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem1.webkitRequestFullscreen();
        } else if (elem1.msRequestFullscreen) { /* IE/Edge */
            elem1.msRequestFullscreen();
        }

    })
    if (document.addEventListener) {
        document.addEventListener('webkitfullscreenchange', exitHandler, false);
        document.addEventListener('mozfullscreenchange', exitHandler, false);
        document.addEventListener('fullscreenchange', exitHandler, false);
        document.addEventListener('MSFullscreenChange', exitHandler, false);
    }
    function exitHandler() {
        if (!document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
            $('.a-view-full').show();
            $('#view-full').find('.vew-screen-full').removeClass('height-100');
            $('#view-full1').find('.vew-screen-full').removeClass('height-100');
        }
    }
    </script>
@Scripts.Render("~/bundles/OptinFormKhachHang")

