
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liên hệ & hỗ trợ khách hàng";
}

@section scripts {
    <script src="~/Scripts/Post/Contact.js"></script>
}
<div class="container-fluid op-banner">
    <div class="container ">
        <div style="display:flex;align-items:center">
            <div style="display: flex; flex-direction: column; min-width: 295px;" data-aos="fade-right">
                <div class="op-gara-heading">
                    <span>
                        Hỗ trợ 24/7
                    </span>
                    <small style="white-space:nowrap">
                        Hotline: 024 730 39 333
                    </small>
                </div>
                <button class="btn-ads" data-bs-toggle="modal" data-bs-target="#modalTuVan">Đăng ký dùng thử</button>
                @*<button class="btn-ads" style="background: #FFD40C" data-toggle="modal" data-target="#modalTuVan">Đặt mua</button>*@
            </div>
            <div style="display:flex; align-items:flex-end">
                <img src="~/Content/images/open24/op-lienhe-bg.png" class="gara-car-img" alt="gara xe" />
            </div>
        </div>
    </div>
</div>

<div class="container flex flex-column p-3">
    <div class="op-section-title">
        <font>
            Tư vấn, hỗ trợ 24/7
        </font>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 col-xs-12">
                <label class="form-label">Họ và tên<span class="red">(*)</span></label>
                <div class="form-wrap"><input type="text" class="form-control " id="fullname_lh" data-bind="value: fullname_lh" placeholder="Nhập tên của bạn vào đây"></div>
            </div>
            <div class="col-md-12 col-xs-12">
                <label class="form-label">Email<span class="red">(*)</span></label>
                <div class="form-wrap"><input type="text" class="form-control " id="email_lh" data-bind="value: email_lh" placeholder="Nhập địa chỉ Email của bạn"></div>
            </div>
            <div class="col-md-12 col-xs-12">
                <label class="form-label">Số điện thoại<span class="red">(*)</span></label>
                <div class="form-wrap"><input type="text" class="form-control " id="phone_lh" data-bind="value: phone_lh" placeholder="Nhập số điện thoại của bạn"></div>
            </div>
            <div class="col-md-12 col-xs-12">
                <label class="form-label">Địa chỉ</label>
                <div class="form-wrap"><input type="text" class="form-control " data-bind="value: address_lh" placeholder="Nhập địa chỉ của bạn"></div>
            </div>
            <div class="col-md-12 col-xs-12">
                <label class="form-label">Ghi chú</label>
                <div class="form-wrap"><textarea rows="4" class="fl border-radius " data-bind="value: note_lh"></textarea></div>
            </div>
            <div class="col-md-12 col-xs-12">

                <button class="btn-ads yellow" data-bind="click: guilienhe">Gửi liên hệ</button>
            </div>
        </div>
        <div class="col-md-6">
            <div style="height:120px">
                <label style="font-weight:bold">VP Hà Nội</label>

                <div class="fl">Địa chỉ: Tầng 7, Tòa nhà Handiresco, Số 31 Lê Văn Lương, Thanh Xuân, Hà Nội.</div>
                <div class="fl">Điện thoại:  024 730 39333.</div>
                <div class="fl">Email: hotro@open24.vn</div>
            </div>
            <div>
                <button href="#showHN" class="btn btn-primary viewmapHN">
                    <i class="fa fa-location-arrow"></i>
                    <span>Xem bản đồ Map</span>
                </button>
                <div class="img-map fl" hidden id="showHN" name="showHN">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.715075830332!2d105.80524039291562!3d21.004055440108818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4b58d55aa5%3A0x59e06227fb2373ae!2zQ8O0bmcgdHkgQ1AgQ8O0bmcgTmdow6rMoyBQaMOizIBuIE3DqsyAbSBTU09GVCBWTg!5e0!3m2!1svi!2s!4v1510740630170" width="100%" height="490" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container">
    <div style="display:flex; flex-direction:row; margin:30px 0; padding-top:15px; border-top:1px solid #ccc">
        <div class="col-md-6 col-xs-12" style="display:flex; flex-direction:column; justify-content:flex-start">
            <div style="height:120px">
                <label>VP Hà Nội</label>

                <div class="fl">Địa chỉ: Tầng 7, Tòa nhà Handiresco, Số 31 Lê Văn Lương, Thanh Xuân, Hà Nội.</div>
                <div class="fl">Điện thoại:  024 730 39333.</div>
                <div class="fl">Email: hotro@open24.vn</div>
            </div>
            <div>
                <button href="#showHN" class="btn btn-primary viewmapHN">
                    <i class="fa fa-location-arrow"></i>
                    <span>Xem bản đồ Map</span>
                </button>
                <div class="img-map fl" hidden id="showHN" name="showHN">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.715075830332!2d105.80524039291562!3d21.004055440108818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4b58d55aa5%3A0x59e06227fb2373ae!2zQ8O0bmcgdHkgQ1AgQ8O0bmcgTmdow6rMoyBQaMOizIBuIE3DqsyAbSBTU09GVCBWTg!5e0!3m2!1svi!2s!4v1510740630170" width="100%" height="490" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>-->

        @*<div class="col-md-6 col-xs-12" style="display:flex; flex-direction:column; justify-content:flex-start">
            <div style="height:120px">
                <label>VP Hồ Chí Minh</label>
                <div class="fl">Địa chỉ:Lầu 1, Số 24 Tân Canh, Phường 1, Quận Tân Bình, TP. HCM</div>
                <div class="fl">Điện thoại: 028 730 39333.</div>
                <div class="fl">Email: hotro@open24.vn</div>
            </div>
            <div>
                <button href="#showHCM" class="btn btn-primary viewmapHCM">
                    <i class="fa fa-location-arrow"></i>
                    <span>Xem bản đồ Map</span>
                </button>
                <div class="img-map fl" hidden id="showHCM" name="showHN">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5216732825647!2d106.67020482888393!3d10.771299421916392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ede81a577b1%3A0xf83c6552a3debb82!2zODcgVHLhuqduIFRoaeG7h24gQ2jDoW5oLCBQaMaw4budbmcgMTIsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1510741049570" width="100%" height="490" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>*@
    <!--</div>
</div>-->

