@{
    Layout = null;
}
@using Open24.Areas.AdminPage.Hellper
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Đăng ký thành công </title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="Tạo tài khoản open24" />
    <meta name="keywords" content="dang ky dung thu, dang ky phan mem open24" />
    <meta property="fb:app_id" content="1992802757652987">
    <meta property="fb:admins" content="100004299791963">
    <meta name="google-site-verification" content="v6RuYkg_FmCaJ_nwerIbMvecaDoo_dhNLAzGeqDlrL8" />
    <link rel="icon" href="~/Content/images/open24.vn.png" type="image/gif">
    <script type='text/javascript' src='//c.trazk.com/c.js?_key=1588205822' async='async'></script>
    <script src="~/Assets/js/Client/open24/localValidateFunction.js"></script>
    @Styles.Render("~/bundles/LayoutClient")
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MNPGJD5');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNPGJD5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @using Model_banhang24vn.Common
    <style>
        .wait-res {
            display: none;
            position: absolute;
            z-index: 999;
            font-size: 20px;
            font-weight: bold;
            padding-top: 25%;
            padding-left: 43%;
        }
    </style>
    <div class="container">
        <div class="col-md-12 form-dk-dung-thu-v1">
            <div class="row">
                <div class=" fl">
                    <div class="progress dk-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        </div>
                    </div>

                    <a href="https://open24.vn" class="logo-dk-op">
                        <img src="/Content/images/logoOpen.png" alt="open24.vn">
                    </a>
                    <div class="dk-op-tc">

                        <div class="dk-tt-left">

                            <h1>Chúc mừng bạn đã đăng ký thành công!  </h1>
                            <div class="dk-form-optin dk-form-tc">
                                <label>Tên cửa hàng</label>
                                <div class="form-group fl">
                                    <span id="_op_companyname"></span>
                                </div>
                            </div>
                            <div class="dk-form-optin dk-form-tc">
                                <label>Tên đăng nhập </label>
                                <div class="form-group fl">
                                    <span id="_op_username"></span>

                                </div>
                            </div>
                            <div class="dk-form-optin dk-form-tc">
                                <label>Địa chỉ truy cập gian hàng của bạn</label>
                                <div class="form-group fl">
                                    <span> https://<span id="_op_code"></span>.open24.vn</span>
                                </div>
                            </div>
                        </div>
                        <div class="dk-tt-right">
                            <div class="dk-img">
                                <img src="~/Content/images/dangky/i-dang-ky-thanh-cong.png" />
                            </div>

                        </div>
                        <div class="col-md-12 nopadding fl dk-group-btn">
                            <div class="col-md-6 col-sm-6 col-xs-12 nopadding dk-group-btn-b1">
                                <a target="_blank" id="_op_link" class="pull-left btn-dk-succes">Bắt đầu kinh doanh</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/staticjs")
    @Scripts.RenderFormat(@"<script async src=""{0}"" ></script>", "~/bundles/layoutFontend")
    <script>
            $(document).ready(function () {
                $('#_op_code').text(localStorage.getItem("reg_code"));
                $('#_op_username').text(localStorage.getItem("reg_username"));
                $('#_op_companyname').text(localStorage.getItem("reg_companyname"));
                $('#_op_link').attr('href', "https://" + localStorage.getItem("reg_code") + ".open24.vn");
            })
    </script>
</body>
</html>
