@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = " Điều khoản sử dụng phần mềm open24";
}
@section FormDangky{
    @Html.Action("_cuahangdangky", new { area = "", controller = "home" })
}
<style>
    .icon-home {
        display: none;
    }
    .menu {
        box-shadow: 2px 4px 7px #ccc;
    }
</style>
<div class="provision fl">
    <div class="container">
        <div class="title-news">
            <h3>Điều khoản sử dụng</h3>
        </div>
    </div>
</div>
<div class="content-provision fl">
    <div class="container">
       <p>
           Chào mừng bạn đến với website www.open24.vn của Công ty cổ phần công nghệ phần mềm Ssoft Việt Nam. Để sử dụng website này, bạn vui lòng đọc kỹ điều khoản sử dụng và chính sách bảo mật một cách cẩn thận. Khi bạn sử dụng trang web này, chúng tôi xem như bạn đã chấp nhận những giới hạn do những thỏa thuận và điều kiện này đưa ra. Ssoft Việt Nam có thể xem xét lại những thỏa thuận và điều kiện này bất cứ lúc nào bằng việc cập nhật trang này.<br />
       </p>
        <p><span>Điều 1. Khái niệm</span><br />
        - Open24: là thương hiệu thuộc sở hữu của Công ty công nghệ phần mềm Ssoft Việt Nam và website www.open24.vn là cổng thông tin của thương hiệu Open24.<br />
        - Website: Trang thông tin điện tử truy cập địa chỉ www.open24.vn<br />
        - Phần mềm: Phần mềm quản lý bán hàng chuyên nghiệp Open24<br />
        - Sở Hữu Trí Tuệ: là những sáng chế, cải tiến, thiết kế, quy trình, công thức, phương pháp, cơ sở dữ liệu, thông tin, bản vẽ, mã, chương, thiết kế mạch tích hợp bán dẫn, thương hiệu, nhãn hiệu (dù đã đăng ký hay chưa đăng ký,  tên thương mại và (thiết kế) bao bì thương phẩm.<br />
        - Sở Hữu Trí Tuệ: là những sáng chế, cải tiến, thiết kế, quy trình, công thức, phương pháp, cơ sở dữ liệu, thông tin, bản vẽ, mã, chương, thiết kế mạch tích hợp bán dẫn, thương hiệu, nhãn hiệu (dù đã đăng ký hay chưa đăng ký,  tên thương mại và (thiết kế) bao bì thương phẩm.
        </p>
        <p>
            <span>Điều 2. Phạm vi áp dụng</span><br />
            Điều khoản sử dụng này áp dụng cho dịch vụ phần mềm quản lý bán hàng Open24 phiên bản chính thức chạy trên máy chủ của OPEN24 dưới tên miền chính thức www.open24.vn  và ứng dụng Open24.
        </p>
        <p>
            <span>Điều 3. Bảo mật thông tin</span><br />
            Tại Open24, chúng tôi coi việc bảo vệ thông tin cá nhân của bạn là ưu tiên hàng đầu.<br />
            1.	Chúng tôi hiểu hoàn toàn rằng thông tin cá nhân của bạn là thuộc về bạn, vì vậy chúng tôi nỗ lực hết sức lưu trữ bảo mật và xử lý cẩn thận thông tin mà bạn cung cấp khi truy cập website, sử dụng ứng dụng Open24 và mua hàng.<br />
            2.	 Chúng tôi chỉ sử dụng thông tin cho các mục đích đã dự định và không cung cấp thông tin cho các bên thứ ba mà không có sự đồng ý của bạn trừ trường hợp pháp luật có quy định khác.<br />
            3.	Chúng tôi cam kết bảo mật các thông tin bạn cung cấp Bạn phải có trách nhiệm lưu giữ thông tin truy cập website và cửa hàng để tránh trường hợp tài khoản bị đánh cắp hoặc bị lạm dụng với mục đích không an toàn với bạn và Open24.<br />
            4.	Open24 không chịu trách nhiệm đối với sự xâm nhập trái phép của bên thứ ba vào cửa hàng của bạn do sự bất cẩn của bạn. <br />
        </p>
        <p> 
            <span>Điều 4. Quy định với khách hàng </span><br />
            1.	Bất cứ khi nào bạn truy cập sử dụng website này và bất kì dịch vụ nào dưới đây đồng nghĩa với việc đã chấp nhận và đồng ý tuân theo các điều khoản sử dụng này. <br />
            2.	Để đáp ứng nhu cầu sử dụng của bạn, chúng tôi không ngừng hoàn thiện và phát triển website. Vì vậy, các điều khoản tại thỏa thuận này có thể được cập nhật, chỉnh sửa bất cứ lúc nào mà không có nghĩa vụ phải thông báo cho người sử dụng. Những quy định sử dụng mới sẽ được đăng trên website và sẽ có hiệu lực ngay lập tức. Chúng tôi sẽ hiểu là đã có sự chấp thuận và tuân thủ của người sử dụng khi người sử dụng truy cập website.<br />
            3.	Nghiêm cấm sử dụng bất kỳ phần nào của trang web này với mục đích thương mại hoặc nhân danh bất kì bên thứ ba nào nếu không được chúng tôi cho phép. <br />
            4.	Bạn đăng ký tài khoản với thông tin chính xác về bản thân để sử dụng ứng dụng bán hàng và hỗ trợ từ chúng tôi. Bạn phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên website. <br />
            5.	Chỉ sử dụng ứng dụng cho những hoạt động kinh doanh hợp pháp được pháp luật Việt Nam cho phép, phù hợp với thuần phong mỹ tục, các quy tắc đạo đức và đảm bảo an ninh quốc gia.<br />
            6.	Open24 có quyền sử dụng thông tin của bạn để lại với mục đích chăm sóc khách hàng<br />
            7.	Trong trường hợp một hoặc một số điều khoản Quy chế này xung đột với các quy định của pháp luật hiện hành, điều khoản đó sẽ được chỉnh sửa cho phù hợp, phần còn lại của điều khoản sử dụng và chính sách bảo mật vẫn giữ nguyên giá trị.
        </p>
        <p>
            <span>Điều 5. Giới hạn trách nhiệm</span><br />
            Open24 không có trách nhiệm pháp lý nào đối với những thiệt hại trực tiếp hay gián tiếp nào khi bạn cố tình vi phạm hay sơ suất tai nạn phát sinh liên quan đến việc truy cập trái phép trên máy chủ, website, ứng dụng Open24, trang thiết bị và dữ liệu của bạn cũng như không chịu trách nhiệm về lợi nhuận, thiệt hại phát sinh khi bạn sử dụng website.<br />
        </p>
        <p>
            <span>Điều 6. Đảm bảo cung cấp dịch vụ</span><br />
            Website này được sử dụng dựa trên những dịch vụ đường truyền Internet chúng tôi không đảm bảo rằng website hoặc các dịch vụ sẽ luôn sẵn sàng, có thể sử dụng, không bị gián đoạn, đúng thời gian, không có lỗi. Tuy nhiên Ssoft Việt Nam cam kết nỗ lực khắc phục sự gián đoạn. Đưa ra sự điều chỉnh, sửa chữa và thay thế trong khả năng có thể khắc phục lỗi và phục hồi hệ thống để mang đến bạn một ứng dụng tốt nhất.<br />
        </p>
        <p>
            <span>Điều 7. Hướng dẫn sử dụng </span><br />
            1.	Khi truy cập vào website của chúng tôi, bạn phải đảm bảo mình có đầy đủ năng lực hành vi dân sự để thực hiện giao dịch hoặc tra cứu hướng dẫn sử dụng và tự chịu trách nhiệm với những hành vi của mình.<br />
            2.	Bạn có thể truy cập và tra cứu hướng dẫn tại website của chúng tôi. Chúng tôi sẽ không cung cấp cho bạn bất kỳ hướng dẫn sử dụng nào dưới dạng văn bản in ấn. Bạn chắc chắn đăng ký với tài khoản và thông tin xác thực về bản thân, chúng tôi sẽ gửi tài liệu hướng dẫn kèm với email xác nhận tài khoản.<br />
        </p>
        <p>
            <span>Điều 8. Chính sách thanh toán</span><br />
            Bạn có thể tham khảo các phương thức thanh toán sau đây và lựa chọn áp dụng phương thức phù hợp<br />
            -	Thanh toán tiền mặt: thực hiện giao dịch với nhân viên phụ trách của Open24 hoặc trực tiếp tại địa chỉ chính thức của Open24.<br />
            -	Thanh toán qua hình thức chuyển khoản: Bạn thực hiện thanh toán qua tài khoản ngân hàng chính thức tại website Open24.<br />
            Vì sự đảm bảo an toàn cho tất cả người dùng trên website, nghiêm cấm tất cả các hình thức lôi kéo, mời chào làm việc hoặc thanh toán ngoài hệ thống Open24. 
        </p>
        <p>
            <span>Điều 9. Ứng dụng OPEN24</span><br />
            1.	Bạn đã tải về ứng dụng Open24 bạn có trách nhiệm về ứng dụng Open24. Bạn phải hiểu và chấp nhận rằng chúng tôi có quyền sử dụng API hệ thống sau để truy cập dữ liệu trên điện thoại của bạn nhằm mục đích ghi dữ liệu của ứng dụng Open24 lên thẻ nhớ, truy cập vào internet từ thiết bị của bạn. Tất cả những truy cập trên chúng tôi chỉ thực hiện khi có sự đồng ý của bạn.<br />
            2.	Bạn hiểu và chấp nhận rằng bạn phải có trách nhiệm bảo quản thiết bị và các thiết bị có cài đặt ứng dụng Open24 trong tầm kiểm soát và an toàn. Open24 không chịu trách nhiệm khi dữ liệu của bạn bị đánh cắp hoặc lợi dụng do cố tình hoặc do bất cẩn, tai nạn của bạn.<br />
            3.	Bạn phải tuân thủ các điều khoản từ thiết bị của bạn về dịch vụ và các điều khoản của Apple App Store và Google Play về dịch vụ, bao gồm cả các quy tắc sử dụng.<br />
        </p>
        <p>
            <span>Điều 10. Quyền sở hữu trí tuệ</span><br />
            1.	Website www.open24.vn  và ứng dụng Open24 thuộc bản quyền của Công ty Cổ phần công nghệ phần mềm Ssoft Việt Nam được bảo vệ bởi Luật sở hữu trí tuệ. <br />
            2.	Việc sử dụng quyền và sở hữu của chúng tôi cần phải được chúng tôi cho phép trước bằng văn bản. Ngoài việc cấp phép bằng văn bản, chúng tôi không cấp phép dưới bất kỳ hình thức nào.Do đó, bạn có quyền được sử dụng website này và các tài nguyên của website này không nhằm mục đích thương mại. Chúng tôi cho phép bạn xem, tải về nội dung cho mục đích phi thương mại, không được chỉnh sửa nội dung website khi không có sự cho phép trước bằng văn bản của Ssoft Việt Nam.<br />
        </p>
        <p>
            <span>Điều 11. Mục đích và phạm vi thu thập</span><br />
            1.	Mục tiêu của chúng tôi là đưa đến cho bạn việc sử dụng dễ dàng, tiện lợi. Vậy nên, khi sử dụng website chúng tôi cần bạn cung cấp những thông tin sau: email, điện thoại, địa chỉ, họ tên bạn. Đây là các thông tin mà Open24 cần để chúng tôi liên hệ xác nhận khi bạn đăng ký dịch vụ trên website nhằm đảm bảo quyền lợi cho bạn.<br />
            2.	Bạn sẽ tự chịu trách nhiệm về bảo mật và lưu giữ tài khoản, hoạt động dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình. Ngoài ra, người dùng có trách nhiệm thông báo kịp thời cho chúng tôi về những hành vi trái phép, lạm dụng vi phạm bảo mật lưu giữ tên đăng kí và mật khẩu của bên thứ ba để chúng tôi có biện pháp giải quyết phù hợp.<br />
            3.	Bạn hiểu rằng, Open24 sử dụng thông tin của bạn để:<br />
            -	Cung cấp các dịch vụ phần mềm tới bạn.<br />
            -	Gửi email và các chương trình khuyến mại mà công ty đang kinh doanh.<br />
            -	Liên lạc và giải quyết những lỗi cần khắc phục.<br />
            -	Không sử dụng thông tin các nhân của bạn ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch của Open24<br />
        </p>
        <p>
            <span>Điều 12. Thông tin liên lạc</span><br />
            <strong>Công ty cổ phần công nghệ phần mềm Ssoft Việt Nam</strong><br />
            <strong>Trụ sở:</strong> Tầng 6 tòa nhà Việt Á, số 9 phố Duy Tân- P. Dịch Vọng Hậu - Q. Cầu Giấy_ TP Hà Nội<br />
            <strong>Vp Hà Nội:</strong> Tầng  3 Tòa nhà Nam Anh, Số 68 ngõ 116 Nhân Hòa, Q. Thanh Xuân, Tp Hà Nội<br />
            <strong>Vp Hồ Chí Minh:</strong> Lầu 1, 87 Trần Thiện Chánh, Phường 12, quận 10, Tp HCM<br />
            <strong>Email:</strong> ssoft@ssoft.vn<br />
            <strong>Hotline: 1900 6914 - 0247 303 9333 </strong><br />
            Chúng tôi khuyến khích bạn khi có những vấn đề liên quan hãy liên hệ với chúng tôi để được hỗ trợ. Bạn tin rằng chúng tôi cung cấp thông tin của bạn cho bên thứ ba mà không được sự đồng ý thì bạn có quyền kiếu nại đến chúng tôi theo địa chỉ trên. Công ty sẽ nghĩa vụ giải quyết các vấn đề liên quan đến việc bảo mật thông tin khách hàng khi xem xét bằng chúng người dùng cung cấp là có cơ sở.
        </p>
        <p>
            <span>Điều 13. Giải quyết khiếu nại, tranh chấp</span><br />
            1.	Ssoft Việt Nam tôn trọng và nghiêm túc thực hiện các quy định của pháp luật về giải quyết các tranh chấp, khiếu nại và pháp luật hiện hành của Nước Cộng hoà Xã hội Chủ nghĩa Việt Nam.<br />
            2.	Chúng tôi sẽ căn cứ từng trường hợp cụ thể để có phương án giải quyết cho phù hợp. Khi thực hiện quyền khiếu nại,  người khiếu nại có nghĩa vụ cung cấp các giấy tờ, bằng chứng, căn cứ có liên quan đến việc khiếu nại và phải chịu trách nhiệm về nội dung khiếu nại, giấy tờ, bằng chứng, căn cứ do mình cung cấp theo quy định pháp luật.<br />
            3.	Chúng tôi chỉ hỗ trợ, giải quyết khiếu nại, tố cáo của bạn trong trường hợp bạn đã ghi đầy đủ, trung thực và chính xác thông tin khi đăng ký tài khoản sử dụng website Open24.<br />
            4.	Khi có khiếu nại, tranh chấp phát sinh chúng tôi ưu tiên sử dụng biện pháp thỏa thuận giữa các bên, nếu như thông qua thỏa thuận mà hai bên vẫn không giải quyết được vấn đề thì một trong hai bên có quyền nhờ đến cơ quan pháp luật có thẩm quyền can thiệp nhằm đảm bảo quyền và lợi ích hợp pháp của mình.
        </p>
    </div>
</div>
