@*--------------------------------------------------Layout for ActionView in HomeController TNS 15012021-------------------------------------------------*@
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section FormDangky{
        @Html.Action("_cuahangdangky", new { area = "", controller = "home" })
    }*@

<style>
    :root {
        --color-theme: #2B9EFB;
    }
    .op-bg-introduce {
        background-image: url(/Content/images/gioithieu/pnggioithieu-18.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: bottom;
        background-size:100%
    }
</style>
<div class="container-fluid op-banner" style="height:unset">
    <div class="container " style="height:unset">
        <div class="op-banner-content" data-aos="fade-right">
            <h1 class="op-gara-heading">
                <span style="margin-bottom:30px">     Giới thiệu Open24</span>
              
            </h1>


            

        </div>
        <div class="op-banner-image">
            <img src="~/Content/images/gioithieu/pnggioithieu-18.png" alt="" />
        </div>
    </div>
</div>
<div class="container" style="margin-bottom:30px">
            <div class="op-section-title">
                <h3 >
                    Open24 - Phần mềm quản lý bán hàng<br />
                    thông minh được ưa chuộng nhất
                </h3>
            </div>
            <div class="flex">
                <div class="col-xs-12 col-lg-6 ">

                    <div class="text-center fl img-top-introduce">
                        <img style="width:100%" alt="phần mềm bán hàng" src="~/Content/images/gioithieu/pnggioithieu-22.png" />
                    </div>

                </div>
                <div class="col-xs-12 col-lg-6">

                    <div class="fl text-justify">
                        Phầm mềm quản lý bán hàng Open24 luôn cố gắng mang đến giải pháp mềm tiện lợi, thông minh
                        và hiệu quả ngay khi sử dụng. Đặc biệt Open24 luôn lắng nghe, thay đổi, nâng cấp để phù hợp với mọi nhu cầu
                        quản lý và tốc độ phát triển trên thị trường. Nhằm tăng sức cạnh tranh và gia tăng lợi nhuận cho bạn.<br />
                        Với kinh nghiệm phát triển phần mềm từ tháng 3 năm 2009 đến nay, chúng tôi đã đi sâu vào thị trường
                        và hiểu rõ những khó khăn-vất vả của các chủ cửa hàng kinh doanh. Đội ngũ Open24 luôn tâm huyết tạo ra phần mềm
                        quản lý tốt nhất, hiệu quả nhất và đặc biệt tiết kiệm nhất dành cho bạn.
                    </div>

                </div>

            </div>
          
       
</div>
<div class="container flex flex-column" style="margin-bottom:30px">
    <div class="op-section-title">
        <h3 > Lợi ích khi bạn dùng Open24</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <div class="img-introduce fl text-center">
                <img alt="phần mềm bán hàng" src="~/Content/images/gioithieu/pnggioithieu-21.png" />
            </div>
            <div class="title-introduce2 text-center fl">
                <h4>Quản lý công việc nhẹ nhàng.</h4>
            </div>
            <div class="fl text-justify">
                Luôn luôn kiểm soát công việc một cách chính xác
                mọi lúc mọi nơi. Việc mở rộng hoạt động kinh doanh
                trở nên đơn giản và nhanh chóng.
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="img-introduce fl text-center">
                <img src="~/Content/images/gioithieu/pnggioithieu-19.png" />
            </div>
            <div class="title-introduce2 text-center fl">
                <h4>Chăm sóc khách hàng chu đáo.</h4>
            </div>
            <div class="fl text-justify">
                Đem lại sự hài lòng cho khách hàng của bạn bằng những tính năng chăm sóc khách hàng
                thông minh.Giúp bạn gắn kết khách hàng bền chặt.
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="img-introduce2 fl text-center">
                <img src="~/Content/images/gioithieu/pnggioithieu-20.png" />
            </div>
            <div class="title-introduce2 text-center fl">
                <h4>Nhân viên tận tâm,gắn kết.</h4>
            </div>
            <div class="fl text-justify">
                Công việc bán hàng, báo cáo, tính hoa hồng nhân viên trờ nên nhẹ nhàng nhanh chóng. Giúp nhân viên làm việc
                năng suất, hiệu quả cao.
            </div>
        </div>
    </div>

</div>