@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hợp tác cùng open24";
}
@section scripts {

    <script>

        var contract = function () {
            var self = this;
            self.SaveContract = function () {
               
                if (validate()) {
                    var model = {
                        StoreOpen: $('#storeOpen').val(),
                        Name: $('#nameUser').val(),
                        Phone: $('#phoneUser').val(),
                    }
                    $.ajax({
                        url: "/Open24Api/ApiStoreRegistration/SaveContract",
                        type: 'POST',
                        dataType: 'json',
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        data: model,
                        success: function (result) {
                            if (result.res === true) {
                                $('#myModal').modal('hide');
                                $('#myModalSuccess').modal('show');
                            } else {
                                $('.error-message').text(result.mess);
                            }
                        },
                        error: function (result) {
                            console.log(result);
                        }
                    });
                }
            }
            function validate()
            {
                if (localValidate.CheckNull($('#storeOpen').val())) {
                    $('.error-message').text("Vui lòng nhập tên cửa hàng Open24 của bạn");
                    $('#storeOpen').css('border', '2px solid red');
                    return false;
                }
                else {
                    $('#storeOpen').css('border', '1px solid #ccc');
                    $('.error-message').text('');
                }
                if (localValidate.CheckNull($('#nameUser').val())) {
                    $('.error-message').text("Vui lòng nhập tên người được giới thiệu");
                    $('#nameUser').css('border', '2px solid red');
                    return false;
                } else {
                    $('.error-message').text('');
                    $('#nameUser').css('border', '1px solid #ccc');
                }
                if (localValidate.CheckNull($('#phoneUser').val())) {
                    $('.error-message').text("Vui lòng nhập SĐT người được giới thiệu");
                    $('#phoneUser').css('border', '2px solid red');
                    return false;
                } else {
                    $('.error-message').text('');
                    $('#phoneUser').css('border', '1px solid #ccc');
                }
                if (!localValidate.CheckPhoneNumber($('#phoneUser').val())) {
                    $('.error-message').text("Số điện thoại không đúng định dạng.");
                    $('#phoneUser').css('border', '2px solid red');
                    return false;
                } else {
                    $('.error-message').text('');
                    $('#phoneUser').css('border', '1px solid #ccc');
                }
                return true;
            }
            $('#storeOpen').blur(function () {
                if (localValidate.CheckNull($('#storeOpen').val())) {
                    $('.error-message').text("Vui lòng nhập tên cửa hàng Open24 của bạn");
                    $('#storeOpen').css('border', '2px solid red');
                    return false;
                }
                else {
                    $('#storeOpen').css('border', '1px solid #ccc');
                    $('.error-message').text('');
                }
            });
            $('#nameUser').blur(function () {
                if (localValidate.CheckNull($('#nameUser').val())) {
                    $('.error-message').text("Vui lòng nhập tên người được giới thiệu");
                    $('#nameUser').css('border', '2px solid red');
                    return false;
                } else {
                    $('.error-message').text('');
                    $('#nameUser').css('border', '1px solid #ccc');
                }
            });
            $('#phoneUser').blur(function () {
                if (localValidate.CheckNull($('#phoneUser').val())) {
                    $('.error-message').text("Vui lòng nhập SĐT người được giới thiệu");
                    $('#phoneUser').css('border', '2px solid red');
                    return false;
                } else {
                    $('.error-message').text('');
                    $('#phoneUser').css('border', '1px solid #ccc');
                }
                if (!localValidate.CheckPhoneNumber($('#phoneUser').val())) {
                    $('.error-message').text("Số điện thoại không đúng định dạng.");
                    $('#phoneUser').css('border', '2px solid red');
                    return false;
                } else {
                    $('.error-message').text('');
                    $('#phoneUser').css('border', '1px solid #ccc');
                }
            });
        };
        ko.applyBindings(new contract());

        </script>
}
<style>
    .weareone{
        display:none;
    }
    .error-message {
        color: red;
    }
</style>
<div class="banner-contract">
    <a href="" data-toggle="modal" data-target="#myModal" class="bnt-contract">Giới thiệu ngay, quà liền tay</a>
</div>
<div class="content-contract">
    <div class="container">
        <p>
            Open24 là phần mềm quản lý bán hàng hiệu quả chuyên nghiệp và phù hợp với  nhiều mô hình quản lý. Với nhiều tính năng vượt trội chắc chắn kiến bạn ưng ý và muốn giới thiệu rộng rãi đến bạn bè để quản lý đơn giản hơn giống như bạn. Hiểu được tâm lý đó, Open24 chân thành cảm ơn bạn và muốn dành món quà tặng đặc biệt cho bạn.
        </p>
        <p>
            Tham gia chương trình <span>" Giới Thiệu Khách Mới- Quà Tặng Phới Phới"</span> để nhận những món quà tặng <span>" SIÊU CHẤT"</span><br />
            Chỉ cần giới thiệu khách mới là bạn đã có ngay 500.000đ/khách. Thể lệ tham gia vô cùng đơn giản, bạn chỉ cần giới thiệu còn lại để Open24 lo.	
        </p>
        <p>
            Cùng Open24 xây dựng hệ sinh thái phần mềm bán hàng chuyên nghiệp đến toàn bộ hệ thống các nhà kinh doanh/ bán hàng trên toàn quốc.	
        </p>
        <div class="fl text-center bnt-contract1">
            <a href="" data-toggle="modal" data-target="#myModal">Giới thiệu ngay, quà liền tay</a>
        </div>
        <div class=" fl text-center inggt">
            <img src="~/Content/images/gioithieu/hoptac.jpg" />
        </div>
        <div class="fl text-center step-by">
            <div class="bnt-contract1">
                <a href="" data-toggle="modal" data-target="#myModal">Giới thiệu ngay, quà liền tay</a>
            </div>
            <img src="~/Content/images/gioithieu/hoptac2.jpg" />
        </div>
        <div class="step-bymobile fl">
            <div class="title-tg">
                Thể lệ tham gia
            </div>
            <p>
                - Chương trình áp dụng với “mọi” khách hàng
                đang dùng phần mềm Open 24.<br />
                - Bạn chỉ việc giới thiệu, Open24 sẽ chịu trách nhiệm
                đào tạo, tư vấn và hỗ trợ khách mới.<br />
                - Cứ giới thiệu khách mới kí hợp đồng là bạn có
                500k tiền mặt/chuyển khoản từ Open24.
            </p>
            <div class="title-tg">
                Điều kiện tham gia
            </div>
              <div class="fl">
                 - Khách mới : là khách được giới thiệu, khách hàng
                  chưa tồn tại tài khoản trên hệ thống Open24.
                  Khách chưa từng sử dụng phần mềm Open24. 	
              </div>  
            <div class="fl">
               - Khách giới thiệu: là khách đã ký hợp đồng Open24
                trước đó và giới thiệu khách mới đến hệ thống
                Open24	
            </div>
            <div class="fl">
               - Tiền thưởng: chỉ trên khách hàng mới không hưởng
                trên hợp đồng gia tăng chi nhánh, hợp đồng gia tặng
                năm sử dụng, hoặc hợp đồng tiếp theo của khách đó.	
            </div>
            <div class="fl">
                -Tiền thưởng sẽ:  trao tiền mặt/chuyển khoản dành
                cho thông tin khách hàng giới thiệu ký kết hợp
                đồng với Open24.
            </div>
            <div class="fl">
               - Khách mới kí hợp: đồng phải có giá trị tối thiểu
                01 năm & gói Open24 chuyên sâu 199k
            </div>
            <div class="fl">
                -Trong trường hợp: khách hàng được giới thiệu
                bị trùng với khách hàng trước đó. Open24 sẽ tính
                khách hàng trong lần đầu tiên tiếp nhận về hệ thống.	
            </div>
        </div>
    </div>
</div>
<div class="contract-footer fl">
    <div class="container">
        <div class="cachthuc">
            Cách thức nhận quà
        </div>
        <p class="bold">- Cách 1: Open24 sẽ chuyển khoản/tiền mặt hoặc trực tiếp cho khách hàng cũ giới thiệu khách hàng mới.</p>
        <p class="bold">- Cách 2: Trả qua thẻ điện thoại</p>
        <div class="bnt-contract1">
            <a href="" data-toggle="modal" data-target="#myModal">Giới thiệu ngay, quà liền tay</a>
        </div>
    </div>
</div>
<div class="modal fade in" id="myModal" aria-hidden="false" >
    <div  class=" modal-dialog modal-sm ">
        <div class="modal-content fl ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalLabel">Giới thiệu khách hàng</h2>
            </div>
            <div class="modal-body modalGT">
                    <div class="form-group fl">
                        <label class="label-title">Tên cửa hàng Open24 của bạn</label>
                        <input type="text" placeholder="cuahangbanle.Open24.vn" id="storeOpen" class="form-control">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="form-group fl">
                        <label class="label-title">Tên người được giới thiệu</label>
                        <input type="text" id="nameUser" class="form-control">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group fl">
                        <label class="label-title">Số điện thoại người được giới thiệu</label>
                        <input type="text" id="phoneUser" class="form-control">
                        <i class="fa fa-mobile"></i>
                    </div>

                <div class="form-group fl">
                    <span class="error-message"></span>
                    </div>
                    <div class=" fl pull-right">
                        <a href="javascript:void(0)" data-bind="click:SaveContract" class="bnt-gt"><i class="fa fa-chevron-down"></i>Giới thiệu ngay</a>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="myModalSuccess" aria-hidden="false">
    <div class=" modal-dialog modal-xs ">
        <div class="modal-content fl ">
            <div class="modal-body modalGT">
               <div class="fl text-center congratu">
                   Chúc mừng bạn đã giới thiệu thành công.<br />
                   Open24 sẽ liên hệ lại với bạn ngay !
               </div>
                <div class="fl text-center">
                    <img src="~/Content/images/gioithieu/ht7.jpg" />
                </div>
                <div class="fl text-center bnt-home">
                    <a href="/" >
                        <i class="fa fa-chevron-left"></i>  Trở về trang chủ
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>