@*--------------------------------------------------Layout for ActionView in HomeController TNS 15012021-------------------------------------------------*@
@{
    ViewBag.Title = "Hỗ trợ phần mềm open24";

}

<div class="container-fluid op-banner">
    <div class="container" style="height: 100%; justify-content: center;">

        <div style="display:flex; flex-direction:column; align-items:center; justify-content:space-between; width:100%">
            <div></div>
            <div style="width: 80%; text-align: center; color:white;">
                <h3 style="font-size:32px; color:white">
                    Trung tâm hỗ trợ sử dụng Open24
                </h3>
                <div style="position:relative; width:100%; margin:15px 0">
                    <input class="_sear-hotro" type="text" placeholder="Nhập thông tin bạn muốn tìm kiếm..." value="@ViewBag.SearchString" />
                    <i style="position: absolute; top: 10px; right: 15px; font-size: 19px;" class="fa fa-search"></i>
                </div>
                <div>
                    Liên hệ ngay
                    <span style="color: #FFD40C"><i class="fa fa-phone"></i>     0247 303 9333</span> để được hỗ trợ trực tiếp
                </div>
            </div>
            <div>
                <img src="~/Content/images/huongdansudung/help.png" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="display:flex; justify-content:space-evenly; margin:30px">
        <a data-toggle="modal" data-target="#modalTuVan" class="btn-op-lg">
            <img src="~/Content/images/hotroopen24/i-dang-ky.png" style="height:40px;" />
            <span>Đăng ký</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="/gioi-thieu" class="btn-op-lg" style=" background: #3EA7D5">
            <img src="~/Content/images/hotroopen24/i-gioi-thieu.png" style="height:40px;" />
            <span>Giới thiệu</span>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>

<div class="container">
    <div class="op-section-title">
        <font>Vai trò sử dụng</font>
    </div>
    <ul class="container-fluid op-functional">
        <li>
            <div class="op-functional-img-lg">
                <img src="~/Content/images/huongdansudung/thungan.png" />
            </div>
            <span>Thu ngân</span>
            <a class="btn" href="/huong-dan-su-dung/5/0/nhom-tinh-nang-nganh-nghe-thu-ngan">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img-lg">
                <img src="~/Content/images/huongdansudung/ketoan.png" />
            </div>
            <span>Kế toán</span>
            <a class="btn" href="/huong-dan-su-dung/6/0/nhom-tinh-nang-nganh-nghe-ke-toan">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img-lg">
                <img src="~/Content/images/huongdansudung/marketing.png" />
            </div>
            <span>Marketing</span>
            <a class="btn" href="/huong-dan-su-dung/10/0/nhom-tinh-nang-nganh-nghe-marketing">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img-lg">
                <img src="~/Content/images/huongdansudung/chamsockhachhang.png" />
            </div>
            <span>Chăm sóc khách hàng</span>
            <a class="btn" href="/huong-dan-su-dung/8/0/nhom-tinh-nang-nganh-nghe-cham-soc-khach-hang">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img-lg">
                <img src="~/Content/images/huongdansudung/omnichannel-merchandising.png" />
            </div>
            <span>Quản lý</span>
            <a class="btn" href="/huong-dan-su-dung/9/0/nhom-tinh-nang-nganh-nghe-quan-ly">Xem thêm</a>
        </li>

    </ul>
</div>

<div class="container">
    <div class="op-section-title">
        <font>Tính năng Open24</font>
    </div>
    <ul class="container-fluid op-functional">
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/hanghoa.png" />
            </div>
            <span>Hàng hóa</span>
            <a class="btn" href="/huong-dan-su-dung/0/30/danh-muc-tinh-nang-hang-hoa">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/khachhang.png" />
            </div>
            <span>Khách hàng, Nhà cung cấp</span>
            <a class="btn" href="/huong-dan-su-dung/0/32/danh-muc-tinh-nang-khach-hang-nha-cung-cap">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/banhang.png" />
            </div>
            <span>Bán hàng</span>
            <a class="btn" href="/huong-dan-su-dung/0/47/danh-muc-tinh-nang-ban-hang">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/doitrahang.png" />
            </div>
            <span>Đổi trả hàng</span>
            <a class="btn" href="/huong-dan-su-dung/0/49/danh-muc-tinh-nang-doi-tra-hang-ban">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/nhaphang.png" />
            </div>
            <span>Nhập hàng</span>
            <a class="btn" href="/huong-dan-su-dung/0/50/danh-muc-tinh-nang-nhap-hang">Xem thêm</a>
        </li>

        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/trahangnhap.png" />
            </div>
            <span>Trả hàng nhập</span>
            <a class="btn" href="/huong-dan-su-dung/0/51/danh-muc-tinh-nang-tra-hang-nhap">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/xuatkho.png" />
            </div>
            <span>Xuất kho</span>
            <a class="btn" href="/huong-dan-su-dung/0/53/danh-muc-tinh-nang-xuat-kho">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/dieuchuyen.png" />
            </div>
            <span>Điều chuyển</span>
            <a class="btn" href="/huong-dan-su-dung/0/52/danh-muc-tinh-nang-dieu-chuyen">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/thuchi.png" />
            </div>
            <span>Thu chi</span>
            <a class="btn" href="/huong-dan-su-dung/0/33/danh-muc-tinh-nang-thu-chi">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/baocao.png" />
            </div>
            <span>Báo cáo</span>
            <a class="btn" href="/huong-dan-su-dung/0/34/danh-muc-tinh-nang-bao-cao">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/khuyenmai.png" />
            </div>
            <span>Khuyến mãi</span>
            <a class="btn" href="/huong-dan-su-dung/0/10030/danh-muc-tinh-nang-khuyen-mai">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/nhanvien.png" />
            </div>
            <span>Nhân viên</span>
            <a class="btn" href="/huong-dan-su-dung/0/35/danh-muc-tinh-nang-nhan-vien">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/nguoidung.png" />
            </div>
            <span>Người dùng</span>
            <a class="btn" href="/huong-dan-su-dung/0/70/danh-muc-tinh-nang-nguoi-dung">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/phanquyen.png" />
            </div>
            <span>Phân quyền</span>
            <a class="btn" href="/huong-dan-su-dung/0/10031/danh-muc-tinh-nang-phan-quyen">Xem thêm</a>
        </li>
        <li>
            <div class="op-functional-img">
                <img src="~/Content/images/huongdansudung/hethong.png" />
            </div>
            <span>Cài đặt hệ thống</span>
            <a class="btn" href="/huong-dan-su-dung/0/37/danh-muc-tinh-nang-cai-dat-he-thong">Xem thêm</a>
        </li>

    </ul>

</div>






<div class="container">

    <div class="op-section-title">
        <font>Các câu hỏi thường gặp</font>
    </div>

    <div data-bind="foreach:listCauHoileft">
        <div class="op-description mb-3">
            <div class="op-description-header" onclick="ToggleNext(this)">
                <div class="op-description-title">

                    <div data-bind="text:CauHoi"></div>
                </div>
                <a class="op-description-toggle"><i class="fa fa-angle-up"></i></a>
            </div>
            <div class="op-description-body">
                <div class="op-description-item">

                    <span class="op-description-detail">
                        <span data-bind="html:CauTraLoi">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="fl more-news" id="Addnew">
        <a href="#" data-bind="click:nextpage">Xem thêm</a>
    </div>



</div>
<div class="container">
    <div class="op-section-title">
        <font>Phần mềm hỗ trợ</font>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="op-download-helper">
                <img src="~/Content/images/huongdansudung/teamvier.png" />
                <b>Teamviewer</b>
                <span>Hỗ trợ máy tính từ xa</span>
                <a target="_blank" href="https://www.teamviewer.com/vi/"><i class="fa fa-cloud-download"></i>Tải xuống</a>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="op-download-helper">
                <img src="~/Content/images/huongdansudung/ultra.png" />
                <b>
                    Ultraviewer
                </b>
                <span>Hỗ trợ máy tính từ xa</span>
                <a target="_blank" href="https://ultraviewer.net/vi/"><i class="fa fa-cloud-download"></i>Tải xuống</a>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="op-download-helper">
                <img src="~/Content/images/huongdansudung/driver.png" />
                <b>Driver</b>
                <span>Máy in</span>
                <a target="_blank" href="https://xprinter.vn/download-driver-may-in-driver-pos-printer/"><i class="fa fa-cloud-download"></i>Tải xuống</a>
            </div>
        </div>

    </div>
</div>
<div style="background:#F5FAFE; margin-top:30px">

    @Html.Partial("~/Views/Open24/_RequestPartial.cshtml")
</div>

<div style="background-image: url(../../Content/images/huongdansudung/banner-bg.png);outline: none;background-size: 100%;display: flex;">

    <div class="container" style="display:flex; flex-direction:row; align-items:center; justify-content:space-between">
        <div style="float:left">
            <h4 style="font-size:30px; color:white; line-height:34px;">
                Chúng tôi luôn<span class="yellow"> đồng hành cùng bạn</span>
                <br />
                <span class="yellow">  Thành công của bạn</span> chính là
                <br />
                mong muốn của chúng tôi
            </h4>
            <button class="btn-ads" data-toggle="modal" data-target="#modalTuVan">
                Đăng ký dùng thử
            </button>
        </div>
        <div style="float:right">
            <img src="~/Content/images/huongdansudung/customer247.png" />
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            var hotrophanmem = function () {
                var self = this;
                //===============================
                // Khai báo chung
                //===============================
                self.listnhomnganh = ko.observableArray();
                self.listResult = ko.observableArray();
                self.listCauHoileft = ko.observableArray();
                self.listCauHoiright = ko.observableArray();
                self.page = ko.observable(1);
                //self.groupNhom = ko.observable(id);
                //self.groupNhomtinhnang = ko.observable(nhomId);
                self.tentitle = ko.observable();
                self.video = ko.observable();
                self.noidung = ko.observable();

                function loadHoTro() {
                    $.ajax({
                        url: '/Open24Api/ApiHoTro/GetViewHoTro',
                        type: 'GET',
                        async: true,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (result) {
                            if (result.res === true) {

                                self.listnhomnganh(result.DataSoure.NhomNganh);
                                self.listResult(result.DataSoure.TinhNang);
                            }
                            else {
                                alert(result.mess);
                            }

                        },
                        error: function (result) {
                            alert(result);
                        }
                    });

                }

                function loadCauHoi() {
                    $.ajax({
                        url: '/Open24Api/ApiHoTro/GetViewCauHoi?page=' + self.page(),
                        type: 'GET',
                        async: true,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (result) {
                            if (result.res === true) {
                                var length = result.DataSoure.length;
                                if (length <= 0) {
                                    $('#Addnew').hide();
                                }
                                //var max = length / 2;
                                var itemleft = self.listCauHoileft();
                                itemleft.push.apply(itemleft, result.DataSoure);
                                //var itemright = self.listCauHoiright();
                                //itemright.push.apply(itemright, result.DataSoure.slice(0, max))
                                self.listCauHoileft(itemleft);
                                //self.listCauHoiright(result.DataSoure.slice(max, length));
                            }
                            else {
                                alert(result.mess);
                            }

                        },
                        error: function (result) {
                            alert(result);
                        }
                    });

                }

                self.nextpage = function () {
                    self.page(self.page() + 1);
                    loadCauHoi();
                }
                loadCauHoi();
                loadHoTro();

                return self;
            };
            var viewmodel = new hotrophanmem();
            console.log(viewmodel);
            ko.applyBindings(viewmodel);
            $("._sear-hotro").on('keyup', function (e) {
                if (e.keyCode == 13) {
                    window.location.href = "/ho-tro-tim-kiem?search=" + $(this).val();
                }
            });
            $('.group-btn-cau-hoi ').on('click', 'li a', function () {
                var css = $(this).next('.ht-cau-tra-loi').css('display');
                $('.fa-plus').show();
                $('.fa-minus').hide();
                $('.ht-cau-tra-loi').hide();
                $('.ht-a-tt').removeClass('ht-tl-active');
                if (css === 'none') {
                    $(this).find('i').each(function () {
                        $(this).toggle();
                    })
                    $(this).next('.ht-cau-tra-loi').toggle();
                    $(this).find('p').addClass('ht-tl-active')
                }
            });
        })
        
    </script>
}