@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Phần mềm quản lý kinh doanh và bán hàng toàn diện Open24";
}
@using Model_banhang24vn.Common

@section scripts {
<script src="~/Content/js/jsslide.js"></script>
@*<script src="~/Assets/css/Slide/jquery-gallery.js"></script>*@
<script src="~/Assets/js/Client/Home.js"></script>
}
@section FormDangky{
    @Html.Action("_cuahangdangky", new { area = "", controller = "home" })
}
@*<link href="~/Assets/css/Slide/jquery-gallery.css" rel="stylesheet" />*@
@*<div class="banner fl">
    <div class="container posrela1">
        <div class="row">
            <div class="fl">
                <div class="banner-name ">
                    <h1><span class="title-header-open24" hidden> Open24</span>  <span>Phần mềm quản lý kinh doanh toàn diện</span> <span class="title-footer-open24"> Open24</span> </h1>
                    <p>
                        Phù hợp với nhiều loại hình kinh doanh.<br /> Không cần cài đặt, sử dụng
                        mọi lúc, mọi nơi trên mọi thiết bị.<br /> Hiệu quả tức thì sau khi sử dụng !
                    </p>
                    <div class="view-add fl">
                        <a href="javascript: void(0)" onclick="changeVideo()">

                            <i class="fa fa-play-circle element"></i>
                        </a>


                        <a href="/dung-thu-mien-phi" class="bnt-use">Dùng thử miễn phí ngay !</a>
                    </div>
                    <div class="use-trick fl">
                    </div>
                </div>
                <div class="banner-name-tet ">
                    <h1 class="op-tet"> Open24</h1="op-tet">
                    <h1> <span>Phần mềm quản lý kinh doanh</span> <span style="color:#d53d3a">toàn diện</span>  </h1>
                    <p>
                        Phù hợp với nhiều loại hình kinh doanh.<br /> Không cần cài đặt, sử dụng
                        mọi lúc, mọi nơi trên mọi thiết bị.<br /> Hiệu quả tức thì sau khi sử dụng !
                    </p>
                    <div class="view-add fl">
                        <a href="javascript: void(0)" onclick="changeVideo()">

                            <i class="fa fa-play-circle element" style="color:#dd8dc0"></i>
                        </a>


                        <a href="/dung-thu-mien-phi" class="bnt-use" >Dùng thử miễn phí ngay !</a>
                    </div>
                    <div class="use-trick fl">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="banner fl">
    <div class="container posrela1">
        <div class="row">
            <div class="fl">
                <div class=" banner-name-home">
                    <h1 class="h1-title-home"> <span>Phần mềm quản lý</span><br /> <font>kinh doanh và bán hàng toàn diện</font></h1>
                    <div class="btn-possion">
                    <a href="/dung-thu-mien-phi" class="bnt-use btn-baner-web element">Dùng thử miễn phí 15 ngày</a>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
                @*<div class="sliders">
                        <ul class="gallery-slideshow slider-banner-web">

                            <li>
                                <img src="~/Content/images/home/baner-home-2.jpg" />
                                <a href="/dung-thu-mien-phi" class="bnt-use btn-baner-2 element">Dùng thử miễn phí ngay !</a>
                            </li>
                            <li  style="display:none">

                                <img src="~/Content/images/home/baner-home-1.jpg" />
                                <a href="/dung-thu-mien-phi" class="bnt-use btn-baner-1 element">Dùng thử miễn phí ngay !</a>
                            </li>



                        </ul>
                    <ul class="gallery-slideshow slider-banner-mobile">

                        <li>
                            <img src="~/Content/images/home/banner-mobile-1.jpg" />
                            <a href="/dung-thu-mien-phi" class="bnt-use btn-baner-1 element">Dùng thử miễn phí ngay !</a>
                        </li>
                        <li>
                            <img src="~/Content/images/home/banner-mobile-2.jpg" />
                            <a href="/dung-thu-mien-phi" class="bnt-use btn-baner-2 element">Dùng thử miễn phí ngay !</a>

                        </li>


                    </ul>
                        </div>*@
                <div class="reason fl">
                    <div class="container">
                        <div class="row">
                            <div class="title-reason">
                                <h2>Lợi ích khi bạn dùng Open24</h2>
                            </div>
                            <div class="col-md-4">
                                <div class="list-reason">
                                    <div class="img-reason" style="  background: url(../Content/images/home/Untitled-1-02.png)no-repeat center;">
                                    </div>
                                    <h3 class="name-reason">
                                        Quản lý công việc nhẹ nhàng
                                    </h3>
                                    <p class="text-left">
                                        Luôn luôn kiểm soát công việc một cách chính xác mọi lúc mọi nơi. Việc mở rộng hoạt động kinh doanh trở nên đơn giản và nhanh chóng.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="list-reason">
                                    <div class="img-reason" style="  background: url(../Content/images/home/Untitled-1-01.png)no-repeat center;">
                                    </div>
                                    <h3 class="name-reason">
                                        Chăm sóc khách hàng chu đáo
                                    </h3>
                                    <p class="text-left">
                                        Đem lại sự hài lòng cho khách hàng của bạn bằng những tính năng chăm sóc khách hàng thông minh. Giúp bạn gắn kết khách hàng bền chặt.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="list-reason">
                                    <div class="img-reason" style="  background: url(../Content/images/home/Untitled-1-03.png)no-repeat center;">
                                    </div>
                                    <h3 class="name-reason">
                                        Nhân viên tận tâm, gắn kết
                                    </h3>
                                    <p class="text-left">
                                        Công việc bán hàng, báo cáo nhanh chóng. Giúp nhân viên làm việc năng suất hiệu quả cao.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="use2 fl">
                            <a href="/dung-thu-mien-phi" class="bnt-use" @*data-toggle="modal" data-target="#modalPopup_CHDK"*@>Dùng thử miễn phí ngay !</a>
                        </div>
                    </div>
                </div>
                <div class="business-fields">
                    <div class="container">
                        <h2>Bạn đang kinh doanh lĩnh vực nào</h2>
                        <div class="row">
                            <div class="item-icon fl">
                                <ul>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleSieuThi">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/sieuthi.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/sieuthi.png" alt="Siêu thị mini">
                                                </div>
                                                <h3 class="item-name">Siêu thị mini</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleThoiTrangPK">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/thoitrang.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/thoitrang.png" alt="Thời trang & Phụ kiện">

                                                </div>
                                                <h3 class="item-name">Thời trang & Phụ kiện</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleGiaDungDienMay">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/dienmay.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/dienmay.png" alt="Gia dụng & Điện máy">

                                                </div>
                                                <h3 class="item-name">Gia dụng & Điện máy</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleMyPham">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/mypham.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/mypham.png" alt="Mỹ phẩm">

                                                </div>
                                                <h3 class="item-name">Mỹ phẩm</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleThietBiCongNghe">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/thietbicongnghe.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/thietbicongnghe.png" alt="Thiết bị công nghệ">

                                                </div>
                                                <h3 class="item-name">Thiết bị công nghệ</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleNoiThat">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/noithat.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/noithat.png" alt="Nội thất">

                                                </div>
                                                <h3 class="item-name">Nội thất</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleNhaThuoc">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/nhathuoc.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/nhathuoc.png" alt="Nhà thuốc">

                                                </div>
                                                <h3 class="item-name">Nhà thuốc</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleNongSanTP">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/thucpham.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/thucpham.png" alt="Nông sản, thực phẩm">

                                                </div>
                                                <h3 class="item-name">Nông sản, thực phẩm</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleSalonGym">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/salon.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/salon.png" alt="Salon tóc, Phòng Gym">

                                                </div>

                                                <h3 class="item-name">Salon tóc, Phòng Gym</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleDoChoiTreEm">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/dotroitreem.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/dotroitreem.png" alt="Đồ chơi trẻ em">

                                                </div>
                                                <h3 class="item-name">Đồ chơi trẻ em</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleSpaTMV">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/spa.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/spa.png" alt="Spa, Thẩm mĩ viện">

                                                </div>
                                                <h3 class="item-name">Spa, Thẩm mĩ viện</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleVanPhongPham">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/vanphongpham.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/vanphongpham.png" alt="Văn phòng phẩm & Quà">

                                                </div>
                                                <h3 class="item-name">Văn phòng phẩm & Quà</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleNhaHangCafe">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/bep.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/bep.png" alt="Nhà hàng">
                                                </div>
                                                <h3 class="item-name">Nhà hàng</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/@MaNganhNgheKinhDoanh.TitleOtoXeMay">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/xemayoto.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/xemayoto.png" alt="Ô tô, xe máy, xe đạp điện">

                                                </div>
                                                <h3 class="item-name">Ô tô, xe máy, xe đạp điện</h3>
                                            </div>
                                        </a>
                                    </li>
                                    <li>

                                        <a href="/@MaNganhNgheKinhDoanh.TitleOther">
                                            <div class="item-one">
                                                <div class="item-img" style="  background: url(../Content/images/Iconnganhnghe/nganhnghekhac.png)no-repeat center;">
                                                    <img src="~/Content/images/Iconnganhnghe/nganhnghekhac.png" alt="Lĩnh vực khác">

                                                </div>
                                                <h3 class="item-name">Lĩnh vực khác</h3>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="use2 fl">
                            <a href="/dung-thu-mien-phi" class="bnt-use" @*data-toggle="modal" data-target="#modalPopup_CHDK"*@>Dùng thử miễn phí ngay !</a>
                        </div>
                    </div>
                </div>
                <div class="customer">
                    <div class="container">
                        <div class="row">
                            <h2>Khách hàng đang sử dụng Open24</h2>
                            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:990px;height:150px;visibility:hidden;">
                                <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                                </div>
                                <div data-u="slides" class="img34" style="cursor:default;position:relative;top:0px;left:0px;width:990px;height:150px;overflow:hidden;" data-bind="foreach:customerSlider">
                                    <div class="mar20" style="position:relative">
                                        <a data-bind="attr:{href: Url, title: Name, id:Id}">
                                            <img data-u="image" data-bind="attr:{src: Images, alt: Name}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="use2 fl pdingtop30">
                                <a href="/khach-hang" class="xemthem">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-news fl">
                    <div class="container">
                        <div class="row">
                            <div class="title">Tin tức</div>
                            <div class="news-three fl">
                                <!--ko foreach: listNewsHome -->
                                <div class="col-md-4">
                                    <div class="item-news" style="border:none">
                                        @*<div class="fl"></div>*@
                                        <div class="news-conten">
                                            <a data-bind="attr: { href: Url, title: Title },style: { 'background-image':'url(' + Image + ')', 'background-size': '100% 100%' }" class="news-img" style="height:120px">
                                                <img style="display:none" src="~/content/images/m5.png" data-bind="attr:{src: Image ,alt:Title}" alt="ảnh trang chủ" hidden>
                                            </a>


                                            <div class="news-text" @*data-bind="text: Summary"*@>
                                                <a data-bind="attr: { href: Url, title: Title}, text: SubStringContent(Title)@*, click: $parent.clickNews*@"></a>
                                                @*<p><a href="" class="col-red">Xem thêm...</a></p>*@
                                            </div>
                                            <div class="time-news">
                                                <i class="fa fa-clock-o"></i>
                                                <span data-bind="text:ConvertDate(CreateDate)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ko-->
                            </div>
                        </div>
                        <div class="fl more-news">
                            <a href="javascript: void(0)" data-bind="click:nextNews">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog" style="padding-top: 5%;">
                        <iframe id="myVideo" width="100%" height="450px" src="" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                @*<div class="element"></div>*@
