@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Khách hàng sử dụng phần mềm Open24";
}

@section scripts{
    <script type="text/javascript">
    $(".kv1").click(function () {
        $(this).next(".list-kv").toggle();
        $(".list-kv").mouseup(function () {
            return false
        });
        $(".kv1").mouseup(function () {
            return false
        });
        $(document).mouseup(function () {
            $(".list-kv").hide();
        });
    });
    $(".kv2").click(function () {
        $(this).next(".list-kv").toggle();
        $(".list-kv").mouseup(function () {
            return false
        });
        $(".kv2").mouseup(function () {
            return false
        });
        $(document).mouseup(function () {
            $(".list-kv").hide();
        });
    })
</script>
    <script src="~/Assets/js/Client/Customer.js" type="text/javascript"></script>
}
@section FormDangky{
    @Html.Action("_cuahangdangky", new { area = "", controller = "home" })
}
<div class="imgcustomer fl ">
    <div class="container posrela">
        <h1>
        </h1>
    </div> 
</div>

<div class="list-customer fl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
            </div>
            <div class="col-md-6">
                <div class="seach-customer">
                    <input type="text" data-bind="value:search,event: { keyup: SearchCustomer }" class="form-control" placeholder="Tìm kiếm" />
                    <img src="~/Content/images/khachhang/khsech.png" alt="seach" >
                </div>

            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="row">
                        <div class="choose-kv mr10">
                            <div class="inport-kv fl kv1">
                                <span data-bind="text:ShowAdress"></span>
                                <span class="khup">
                                    <img src="~/Content/images/khachhang/khup.png" alt="up" >
                                </span>
                            </div>
                            <div class="list-kv fl">
                                <ul data-bind="foreach: ListAdress">
                                        <li data-bind="value:ID,text:TEN,click: $parent.selectAdress">
                                            Ba Đình
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="choose-kv ml10">
                            <div class="inport-kv fl kv2">
                                <span data-bind="text:Showbusiness"></span>
                                <span class="khup">
                                    <img src="~/Content/images/khachhang/khup.png" alt="up" >
                                </span>
                            </div>
                            <div class="list-kv fl">
                                <ul data-bind="foreach: ListBusiness">
                                        <li data-bind="value:ID,text:TEN,click: $parent.selectbusiness">
                                        </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6" data-bind="foreach: leftCustomer">
                        <div class="item-customer fl">
                           
                            <div class="customer-left">
                                <a data-bind="attr:{href: Url, title: Name, id:Id, src: Images}">
                                    <img data-bind="attr:{src: Images,alt:Name}" >
                                </a>
                            </div>
                            <div class="customer-right">
                                <div class="name-customer">
                                    <h3>
                                        <a data-bind="attr: { href: Url, title: Name, id:Id }, text: Name">
                                        </a>
                                    </h3>
                                </div>
                                <div class="content-customer fl" data-bind="text:Adress">
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-6" data-bind="foreach: rightCustomer">
                        <div class="item-customer fl">
                          
                            <div class="customer-left">
                                <a data-bind="attr:{href: Url, title: Name, id:Id, src: Images}">
                                    <img  data-bind="attr:{src: Images,alt:Name}" >
                                </a>
                            </div>
                            <div class="customer-right">
                              
                                    
                                <div class="name-customer">
                                    <h3>
                                        <a data-bind="attr: { href: Url, title: Name, id:Id }, text: Name">
                                        </a>
                                    </h3>
                                </div>
                                <div class="content-customer fl" data-bind="text:Adress">  </div>
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="fl more-news" id="Addnew">
        <a href="#" data-bind="click: nextPage">Xem thêm</a>
    </div>
</div>

