@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Nhà Hàng";
}
@section FormDangky{
    @Html.Action("_cuahangdangky", new { area = "", controller = "home" })
}
<style>
    body {
        position: relative;
    }
</style>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="70">
    <div class="banner-tn banner-khac">
        <div class="container">
            <div class="content-banner">
                <h1>
                    Phần mềm quản lý <br />
                    <font>& bán hàng Open24</font>
                </h1>
                <div class="fl">
                    <a href="/dung-thu-mien-phi" class="bnt-use" @*data-toggle="modal" data-target="#modalPopup_CHDK"*@>Dùng thử miễn phí ngay !</a>
                </div>
            </div>
        </div>
    </div>
    <div class="fl feature-content">
        <div class="container">
            <div class="title-feature">Các tính năng của Open24 giúp bạn quản lý toàn bộ quy trình bán hàng</div>
            <nav class="w360" id="myScrollspy" style="top: 80px;position: sticky;">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#quanlyhanghoainmavach"><img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>1</span>Quản lý hàng hóa, in mã vạch</a></li>
                    <li><a href="#quanlydondathangbanhang"><img src="~/Content/images/tinhnang/khungvuong-14.png" /><span>2</span> Quản lý đơn đặt hàng và bán hàng</a></li>
                    <li><a href="#quanlychamsockhachhang"><img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>3</span>Quản lý và chăm sóc khách hàng</a></li>
                    <li><a href="#quanlychuongtrinhkhuyenmai"><img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>4</span>Quản lý khuyến mãi, tích điểm</a></li>
                    <li><a href="#quanlymuahang"><img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>5</span>Quản lý mua hàng NCC</a></li>
                    <li><a href="#quanlytonkho"><img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>6</span>Quản lý tồn kho, định lượng</a></li>
                    <li><a href="#quanlytinhluong"><img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>7</span>Quản lý tính lương và bán hàng</a></li>
                    <li><a href="#quanlyquy"><img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>8</span>Quản lý quỹ-công nợ</a></li>
                    <li><a href="#baocaokinhdoanh"><img src="~/Content/images/tinhnang/khungvuong-14.png" /><span class="ten1">9</span> Báo cáo kinh doanh</a></li>
                </ul>
            </nav>
            <div class="feature-right">
                <div id="quanlyhanghoainmavach" class="fl item-feature">
                    <div class="w50-left text-center des-tn">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-04.png" />
                    </div>
                    <div class="w50-right">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>1</span>
                        </span>
                        <div class="title-fa1">Quản lý hàng hóa in mã vạch</div>
                        <div class="fl bold">
                            Với Open24, bạn khỏi lo về việc phải nhớ  hay nhầm lẫn: mã hàng, tên hàng, đơn giá…và rất rất nhiều thông tin khác
                        </div>
                        <div class="fl name-feature">
                            - Quản lý thông tin hàng hóa chi tiết: Mã, tên, lô hàng, giá nhập giá bán, màu sắc, kích cỡ, chủng loại…<br>
                            - Quản lý in và tạo mã vạch thông minh.<br>
                            - Quản lý, sắp xếp hàng hóa theo từng ngành hàng, nhóm hàng đặc thù.<br>

                        </div>
                    </div>
                    <div class="w50-left text-center mobile-tn">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-04.png" />
                    </div>
                </div>
                <div id="quanlydondathangbanhang" class="fl item-feature">
                    <div class="w50-left text-center des-tn">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>2</span>
                        </span>
                        <div class="title-fa1">Quản lý đơn đặt hàng và bán hàng</div>
                        <div class="fl bold">
                            Nói không với chậm. Bán hàng nhanh chóng tạo nhiều quầy thu ngân cùng lúc, đặt hàng chính xác cùng Open24
                        </div>
                        <div class="fl name-feature">
                            - Quản lý đơn đặt hàng theo nhiều trạng thái.<br>
                            - Xử lý chuyển đơn đặt hàng thành đơn bán đơn giản nhanh chóng, chính xác.<br>
                            - Quản lý bán hàng hóa, dịch vụ bằng mã vạch thông minh, đơn giản, in hóa đơn(bill) nhanh chóng.<br>
                            - Quản lý đổi trả hàng nhanh chóng, chính xác.<br>
                            - Tích hợp với nhiều thiết bị phần cứng liên quan.<br>

                        </div>

                    </div>
                    <div class="w50-right">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-14.png" />
                    </div>
                    <div class="w50-left text-center mobile-tn">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-14.png" />
                    </div>
                </div>
                <div id="quanlychamsockhachhang" class="fl item-feature">
                    <div class="w50-right">
                        <img src="~/Content/images/tinhnang/07-07.png" />
                    </div>
                    <div class="w50-left text-center">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>3</span>
                        </span>
                        <div class="title-fa1">Quản lý và chăm sóc Khách hàng </div>
                        <div class="fl bold">
                            Bạn bối rối khi muốn chăm sóc cho khách hàng thật nhiều nhưng lại không biết bắt đầu từ đâu. Với Open24 giúp bạn:
                        </div>
                        <div class="fl name-feature">
                            - Tên, ngày sinh nhật, địa chỉ, số điện thoại, nguồn khách, nhóm khách, và chi tiết nhiều thông tin khác.<br>
                            - Quản lý nhắc nhở sinh nhật khách hàng, tự động nâng hạng khách. <br>
                            - Quản lý gửi tin nhắn Brandname và lịch hẹn cho khách hàng.<br>
                        </div>

                    </div>

                </div>
                <div id="quanlychuongtrinhkhuyenmai" class="fl item-feature">
                    <div class="w50-left text-center des-tn">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>4</span>
                        </span>
                        <div class="title-fa1">Quản lý chương trình khuyến mãi, tích điểm</div>
                        <div class="fl bold">
                            Chủ động & linh hoạt tạo nhiều chương trình khuyến mãi, giảm giá, quà tặng tích điểm…với Open24
                        </div>
                        <div class="fl name-feature">
                            - Quản lý tạo các chương trình khuyến mãi, Marketing theo từng thời điểm, từng đối tượng khách hàng.<br>
                            - Tạo và quản lý các chương trình tích điểm, và phát hành thẻ khách hàng.<br>
                        </div>

                    </div>
                    <div class="w50-right">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-08.png" />
                    </div>
                    <div class="w50-left text-center mobile-tn">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-08.png" />
                    </div>
                </div>
                <div id="quanlymuahang" class="fl item-feature">
                    <div class="w50-right">
                        <img src="~/Content/images/tinhnang/26-04.png" />
                    </div>
                    <div class="w50-left text-center">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>5</span>
                        </span>
                        <div class="title-fa1">Quản lý mua hàng NCC </div>
                        <div class="fl bold">
                            Open24 gắn kết bạn với các nhà cung cấp nhiều hơn. Giúp bạn am hiểu NCC để có chính sách đúng đắn.
                        </div>
                        <div class="fl name-feature">
                            - Quản lý thông tin nhà cung cấp rõ ràng.<br>
                            - Quản lý đơn dự kiến, đơn đặt hàng từ nhà cung cấp. <br>
                            - Quản lý trả hàng nhà cung cấp. <br>
                        </div>

                    </div>

                </div>
                <div id="quanlytonkho" class="fl item-feature">
                    <div class="w50-left text-center des-tn">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>6</span>
                        </span>
                        <div class="title-fa1">Quản lý tồn kho, định lượng</div>
                        <div class="fl bold">
                            Kho hàng là tài sản lớn nhất hãy đảm bảo kho hàng luôn sẵn sàng và có kế hoạch để phát triển.
                        </div>
                        <div class="fl name-feature">
                            -  Quản lý Hàng Nhập kho, Xuất kho, điều chuyển kho.<br>
                            -  Quản lý định lượng chi tiết từng hàng hóa, dịch vụ.<br>
                            - Kiểm kho đơn giản, nhanh chóng, tích hợp cùng nhiều tiết bị.
                        </div>

                    </div>
                    <div class="w50-right">
                        <img src="/Content/images/tinhnang/26-03.png">
                    </div>
                    <div class="w50-left text-center mobile-tn">
                        <img src="/Content/images/tinhnang/26-03.png">
                    </div>
                </div>
                <div id="quanlytinhluong" class="fl item-feature">

                    <div class="w50-right">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-11.png" />
                    </div>
                    <div class="w50-left text-center ">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>7</span>
                        </span>
                        <div class="title-fa1">Quản lý tính lương bán hàng </div>
                        <div class="fl bold">
                            Tính lương bán hàng cho nhân viên giờ đã dễ dàng hơn bao giờ hết với Open24.
                        </div>
                        <div class="fl name-feature">
                            - Theo dõi sát sao, chặt chẽ hoạt động của từng nhân viên.<br>
                            -  Lưu chi tiết lịch sử giao dịch và lịch làm việc nhân viên bán hàng. <br>
                            -  Lưu chi tiết lịch sử giao dịch và lịch làm việc nhân viên bán hàng. <br>
                            - Tính lương & chi trả lương một cách chính xác chỉ với 1 lần cài đặt.
                        </div>

                    </div>

                </div>
                <div id="quanlyquy" class="fl item-feature">
                    <div class="w50-left text-center des-tn">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span>8</span>
                        </span>
                        <div class="title-fa1">Quản lý quỹ- công nợ</div>
                        <div class="fl bold">
                            Kiểm soát tốt về quỹ và công nợ là một thành công mà không phải cửa hàng nào cũng làm được. Hãy để Open24 giúp bạn.
                        </div>
                        <div class="fl name-feature">
                            -  Quản lý Nhật ký thu tiền, chi tiền, tự động tổng hợp sổ quỹ.<br>
                            -  Phân chia các khoản thu, chi theo thực tế nhu cầu hoạt động.<br>
                            - Quản lý công nợ phải thu, phải trả nhanh chóng, chính xác.
                        </div>

                    </div>
                    <div class="w50-right">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-06.png" />
                    </div>
                    <div class="w50-left text-center mobile-tn">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-06.png" />
                    </div>
                </div>
                <div id="baocaokinhdoanh" class="fl item-feature">
                    <div class="w50-right">
                        <img src="~/Content/images/tinhnang/IconnvsAnh-13.png" />
                    </div>
                    <div class="w50-left text-center">
                        <span class="img-feature">
                            <img src="~/Content/images/tinhnang/khungvuong-14.png" /> <span class="ten">10</span>
                        </span>
                        <div class="title-fa1">Báo cáo kinh doanh</div>
                        <div class="fl bold">
                            Báo cáo kinh doanh sẽ giúp bạn có các nhìn chính xác tình hình hoạt động của cửa hàng
                        </div>
                        <div class="fl name-feature">
                            -  Tổng hợp các báo cáo nhanh chóng, chính xác về: Báo cáo tổng hợp bán hàng, kho hàng, doanh thu, chi phí và các báo cáo lương nhân viên, khách hàng.<br>
                            -  Cho phép xem báo cáo trên nhiều dạng: List, biểu đồ… <br>
                            -  Hệ thống báo cáo tự động từ chi tiết đến tổng quát. <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


