@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Liên hệ & hỗ trợ khách hàng";
}
@section scripts {

<script>
    $(".title-supper    ").click(function () {
        $(this).find(".content-supper").toggle();
        $(this).find(".bnt-plus").toggle();
        $(this).find(".bnt-minus").toggle();
    });
</script>

    <script src="~/Scripts/Post/Contact.js"></script>
}

<div class="imgcontac fl">
    <div class="container posrela">
        <h3>Open24<br /><font>Sẵn sàng hỗ trợ bạn</font> </h3>
        <p class="hotrophone">
            <span class="phone-ht">
                <img src="~/Content/images/ht2.png" />
            </span>
            <span><a href=""><font>Hotline: 1900 6914</font></a></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="left-supper">
       <div class="seach-supper">
           <input type="text" class="form-control" placeholder="Tìm kiếm..." />
           <i class="fa fa-search"></i>
       </div>
        <div class="title-supper">
            <div class="title-name">
                Khởi tạo của hàng
                <div class="nbt-toggle">
                    <span class="bnt-plus">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span class="bnt-minus">
                        <i class="fa fa-minus"></i>
                    </span>
                </div>
            </div>
            <div class="content-supper">
                <ul>
                    <li>
                        <a href="">Thiết lập của hàng</a>
                    </li>
                    <li>
                        <a href="">Thiết lập của hàng</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="title-supper">
            <div class="title-name">
                Khởi tạo của hàng
                <div class="nbt-toggle">
                    <span class="bnt-plus">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span class="bnt-minus">
                        <i class="fa fa-minus"></i>
                    </span>
                </div>
            </div>
            <div class="content-supper">
                <ul>
                    <li>
                        <a href="">Thiết lập của hàng</a>
                    </li>
                    <li>
                        <a href="">Thiết lập của hàng</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="right-supper">
        <div class="title-right-supper">
            Khởi tạo của hàng
        </div>
        <div class="">
    
        </div>
    </div>
</div>
<div class="contacform fl">
    <div class="container">
        <div class="row">
            <div class="text-center title-contac">Liên hệ với chúng tôi</div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group ">
                        <label class="form-label">Họ và tên<span class="red">(*)</span></label>
                        <div class="form-wrap"><input type="text" class="form-control " placeholder="Nhập tên của bạn vào đây"></div>
                    </div>
                    <div class="form-group ">
                        <label class="form-label">Email<span class="red">(*)</span></label>
                        <div class="form-wrap"><input type="text" class="form-control " placeholder="Nhập tên của bạn vào đây"></div>
                    </div>
                    <div class="form-group ">
                        <label class="form-label">Số điện thoại<span class="red">(*)</span></label>
                        <div class="form-wrap"><input type="text" class="form-control " placeholder="Nhập tên của bạn vào đây"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Địa chỉ</label>
                        <div class="form-wrap"><input type="text" class="form-control " placeholder="Nhập tên của bạn vào đây"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group">
                        <label class="form-label">Nội dung</label>
                        <div class="form-wrap"><textarea class="form-control" rows="12"></textarea></div>
                    </div>
                    <div class="form-group ">
                        <a href="" class="guilienhe">Gửi liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="adress-map fl">
    <div class="container">
        <div class="left-adress">
            <div class="fl title-adress">VP Hà Nội</div>
            <div class="fl"><span>Địa chỉ:</span> Tầng 3 tòa nhà Nam Anh, số 68 ngõ 116 Nhân Hòa, Quận Thanh Xuân, TP Hà Nội.</div>
            <div class="fl"><span>Điện thoại:</span> 024 730 39333.</div>
            <div class="fl"><span>Email:</span> hotro@open24.vn</div>
            <div class="fl view-map">
                <a href="#showHN" class=""><img src="/Content/images/ht7.jpg"> Xem bản đồ Map</a>
            </div>
            <div class="fl title-adress" style="padding-top:20px;">VP Hồ Chí Minh</div>
            <div class="fl"><span>Địa chỉ:</span> Lầu 1, 87 Trần Thiện Tránh, Phường 12, TP Hồ Chí Minh.</div>
            <div class="fl"><span>Điện thoại:</span> 028 730 39333.</div>
            <div class="fl"><span>Email:</span> hotro@open24.vn</div>
            <div class="fl view-map">


                <a href="#showHCM" class=""><img src="/Content/images/ht7.jpg"> Xem bản đồ Map</a>
            </div>
        </div>
        <div class="right-adress">
            <img src="/Content/images/ht6.png">
        </div>
    </div>
</div>