
@{
    ViewBag.Title = "TestOptinformLh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
 (function (d, s, id,dataid,optinId) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        document.getElementById("open24-schedule-root").setAttribute('data-id', dataid + "_" + optinId);
        js.src = 'https://localhost:44382/Scripts/SDK/sdkchedule.js#version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'open24-schedule-root-id', '0973474985', 'F399A6EF-0C10-4C4E-8A54-2454F05A48D1'))
    </script>
}
<div id="open24-schedule-root" style=" margin-top: 65px;    margin-bottom: -5px;"></div>



