@model bool

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>zalologin</title>
    <script src="~/Content/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <style>
        .container {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
            flex-direction: column;
        }
    </style>
</head>
<body style="height:100vh">
    <div class="container text-center @(Model ? "alert-success" : "alert-danger" )"> 
        <img src="~/Content/images/logoOpen.png" style="height:50px;" title="Open24.vn"/>
        @if(Model == true)
            {
                <h2>Kêt nối thành công!</h2>
        }
        else
            {
                <h2>Kết nối thất bại!</h2>
            }
    </div>
</body>

</html>
<script>
    $(function () {
        console.log("ready");
        setTimeout(function () { window.close(); }, 500);
    })
</script>