.option-notify >.active{
    border-bottom: 3px ridge;
    border-color:#0097c4;
background-color:transparent;
}


small
{
  display:block;
}
h5{
    display:inline-block;
}
.nobreakline{
    display:inline-block;
}
#container {
  
    overflow: scroll;
    overflow-x: hidden;
    background-color: #ECECEC;
  
    scroll-behavior: smooth;
}
.pushbox {
    border-right: 2px ridge;
    cursor:default;
}

    .pushbox > span {
        font-size: 45px;
        margin-top: 0;
        color: coral
    }
    .floatright {
        float: right;
    }
padding5 {
    padding:5px;
}.nopadding {
    padding: 0 !important;
}

.nopaddingright {
    padding-right: 0px !important;
}

.nopaddingleft {
    padding-left: 0px !important;
}


.navbar {
    margin-bottom: 5px;
}

#res-nav {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #0097c4 !important;
}

    #res-nav a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        color: white;
    }

        #res-nav a:hover {
            background-color: lightblue;
            color: black;
        }

h2 {
    display: inline-block;
    width: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    color: coral;
}

#brand-sumary {
    min-height: 300px;
}

h3 {
    display: inline-block;
    width: auto;
    margin-top: 5px !important;
    margin-bottom: 5px;
    color: coral;
    font-weight: bold;
}
.value{
    cursor:default;
}
h4 {
    max-width: 100px;
    display: inline-block;
    width: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

#stickynav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom:0;
    width:100%;
}

hr {
    margin: 10px !important;
}

#event-date {
    background-color: transparent;
    border: none;
    color: black;
    padding-top: 5px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

body {
    background-color: #f0f3f6;
    overflow:hidden;
}

header {
    overflow: hidden;
}

.bg-gradient-1 {
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-2 {
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-3 {
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-4 {
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-option {
    background-color: #0097c4 !important;
}

#searchball {
    padding: 5px;
}
.modal-body> div>  div> input{
    float:right;
} #searchball > div {
    display: inline !important;
}

.dropdown {
    display: inline;
}

#search-holder {
    display: inline-block;
    width: 80% !important;
}

.navbar-nav > li:hover {
    background-color: lightblue;
}

.navbar-nav > .active {
    border-bottom: solid;
    border-width: 5px;
    border-color: #0097c4;
}

.navbar-nav > li > a > i {
    margin-right: 5px;
}

#menu > a {
    color: #0097c4 !important;
}

.menu-list {
    padding: 5px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    height: 100%;
    float: right
}

    .menu-list > li {
        float: left;
    }

        .menu-list > li a {
            display: block;
            color: #0097c4;
            text-align: center;
            padding: 7px;
            text-decoration: none;
        }

            .menu-list > li a:hover {
                background: lightblue;
                color: #0097c4;
            }

.navbar-brand > i > .glyphicon :hover {
    color: #0097c4;
}

#brand-name {
    border: none;
    border-radius: 0;
    height: 100%;
    color: white;
    font-weight: bold;
}

.event-popup > div > label {
    margin-right: 10px;
    padding: 5px
}

.bd-rad5 {
    background-color:white;
    margin-top: 15px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
#event-info >.active{
    background-color:white;
}
#event-info > div  > a > i {
    color: coral
}

#event-info > div  > a > span {
    font-weight: bold;
}

#event-info > div > a {
    color: #212F3D;
}
#event-info > div:hover {
    background-color: #f0f3f6;
}
#function-button >button >i{
  display:none;

}@media (max-width:1440px) {
    #function-button > button {
        padding: 3px 3px;
        font-size: 1rem;
    }
}

@media(max-width:1024px) {

    .navbar-nav > li > a > i {
        display: none !important;
    }

    .navbar-brand {
        display: none;
    }

    #datetimeholder {
        display: none;
    }
}

@media (min-width: 768px) {
    #res-nav {
        display: none;
    }

    #menu {
        float: right;
    }

    .navbar-nav > li > a {
        padding: 10px !important;
    }
}

@media (max-width:768px ) {
   

   #res-nav {
        display: block;
        position:sticky;
        bottom:0;
    }
}

@media(max-width:425px) {
    #fullscreenbutton {
        display: none;
    }
    #container {
        padding: 0;
    }
    #res-nav{
        width:100%;
    } #searchball {
        padding: 5px !important;
    }

    #open-nav {
        display: none;
    }

    #res-nav {
        display: block;
    }

    .dropdown {
        margin-top: 5px !important;
    }

    #search-button {
        display: none;
        background-color: coral !important;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding: 0 !important;
    }

    #logo {
        display: none !important
    }

    #open-nav {
        display: none;
    }
}

.list-group-flush > li > a > i, .list-group-flush > li > a > span {
    padding-right: 5px;
}

.container-fluid :nth-child() {
    margin-top: 15px !important
}

#search-button {
    color: white;
    background-color: #0097c4 !important;
    top: -5px;
}

#menu {
    float: right !important;
}

#brand-info {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    #brand-info > li {
        border:1px ridge;
        float: left;
        width: 50%;
    }

        #brand-info > li > a {
            display: block;
            color: black;
            text-align: center;
            padding: 5px;
            text-decoration: none;
        }

        #brand-info > li:hover {
            background-color: #f0f3f6;
        }