
<div class="footer fl">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 footer-head">
        <div class="">
            <a href="/Home/Index" class="icon-footer">
                <img src="~/Images/Theme/Ssoft/icon/thuong-hieu-ssoft-fotter.png" />
            </a>
            <div class="nav footer-menu ">
                <ul>
                    <li>
                        <a href="/lien-he">Liên hệ</a>
                    </li>
                    <li>
                        <a href="/tin-tuc">Tin tức</a>
                    </li>
                    <li>
                        <a href="/gioi-thieu-khach-hang">Tuyển dụng</a>
                    </li>
                    <li>
                        <a href="/tin-tuc">Khách hàng</a>
                    </li>
                    <li>
                        <a href="/lien-he">Dịch vụ</a>
                    </li>
                    <li>
                        <a href="/gioi-thieu-khach-hang">Sản phẩm</a>
                    </li>
                    <li>
                        <a href="/khach-hang">Hợp tác</a>
                    </li>
                    <li>
                        <a href="/bang-gia-phan-mem">Giới thiệu</a>
                    </li>


                </ul>
            </div>
        </div>
        </div>
        <div class="col-md-12 footer-content">
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding-left">
            <p> VP.Hà Nội</p>
            <p><span class="footer-span-title"> Địa chỉ:</span>  Tầng 3 tòa nhà Nam Anh, số 68/116 Nhân hòa nhân chính, Thanh Xuân, Hà Nội</p>
            <p>
                <span class="footer-span-title"> Điện thoại:</span> 0247 303 9333 
            </p>
            <p>
                <span class="footer-span-title">Email:</span> SSoft@ssoft.vn
            </p>
          

        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">

            <p > VP.Hồ Chí Minh</p>
            <p><span class="footer-span-title"> Địa chỉ:</span> 185 Lý Chính Thắng, Phường 7 Quận 3, Tp.Hồ Chí Minh</p>
            <p>
                <span class="footer-span-title"> Điện thoại:</span>
                0287 303 9333 (HCM)
            </p>
            <p>
                <span class="footer-span-title">Email:</span> SSoft_hcm@ssoft.vn
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 ">
            <label class="footer-span-title">
                Kết nối với Ssoft
            </label>
            <div class="connection fl">
                <a href="https://www.facebook.com/open24.vn/" class="no-padding-left">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCCpOLI7uz31aAV6QZbe3fSA">
                    <i class="fa fa-youtube-play"></i>
                </a>
                <a href="">
                    <i class="fa fa-wifi"></i>
                </a>
            </div>

        </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="fl">
                    <div class="fb-page"
                         data-href="https://www.facebook.com/open24.vn/"
                         data-small-header="false"
                         data-adapt-container-width="true" d
                         ata-hide-cover="false"
                         data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/open24.vn/"
                                    class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/open24.vn/">Phần mềm quản lý bán hàng Open24</a>
                        </blockquote>
                    </div>
                </div>
            </div>
      </div>
    </div>
    <div class="img-bottom">
    </div>
</div>
<script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=1992802757652987&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>