@Styles.Render("~/Content/Ssoft")

<div class="header-top">
    <div class="container-fluid">
        <a href="/" class="logotrch">
            <img src="~/Images/Theme/Ssoft/icon/thuong-hieu-ssoft-main.png" alt="Ssoft.vn" />
        </a>
        <div class="nav menu-main ">
            <ul>
                <li>
                    <a href="~/bang-gia-phan-mem">Giới thiệu</a>
                </li>
                <li>
                    <a href="~/khach-hang">Hợp tác</a>
                </li>

                <li>
                    <a href="/gioi-thieu-khach-hang">Sản phẩm</a>
                </li>
                <li>
                    <a href="~/lien-he">Dịch vụ</a>
                </li>
                <li>
                    <a href="~/tin-tuc">Khách hàng</a>
                </li>
                <li>
                    <a href="/gioi-thieu-khach-hang">Tuyển dụng</a>
                </li>

                <li>
                    <a href="~/tin-tuc">Tin tức</a>
                </li>
                <li>
                    <a href="~/lien-he">Liên hệ</a>
                </li>
            </ul>
        </div>

        @*<div class="login-inner">
                <a href="" class="login loginres" data-toggle="modal" data-target="#login">
                    Đăng nhập
                </a>

            </div>
            <a href="#" class="click-menu">
                <i class="fa fa-bars"></i>
            </a>*@
    </div>
    </div>